In [45]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [49]:
# Import usual modules
import pandas as pd
import csv
import math
import os
import numpy as np
import openpyxl
import datetime
import re
import string
from bs4 import BeautifulSoup
import requests
from datetime import datetime as dt


from date_extractor import extract_dates

In [65]:
'''
# Merge NSG files

os.chdir('/Users/veesheenyuen/Desktop/DataScience/SAA/NSG/NSG2025/Corrected_Results/')

df = pd.read_csv("sectrack_result_01a_corrected.csv")
df2 = pd.read_csv("sectrack_result_02a_corrected.csv")
df3 = pd.read_csv("sectrack_result_03a_corrected.csv")
df4 = pd.read_csv("sectrack_result_04a_corrected.csv")
df5 = pd.read_csv("sectrack_result_05a_corrected.csv")
df6 = pd.read_csv("sectrack_result_06a_corrected.csv")
df7 = pd.read_csv("sectrack_result_07a_corrected.csv")
df8 = pd.read_csv("sectrack_result_08b_corrected.csv")
df9 = pd.read_csv("sectrack_result_09b_corrected.csv")
df10 = pd.read_csv("sectrack_result_10a_corrected.csv")
df11 = pd.read_csv("sectrack_result_11_corrected.csv")
df12 = pd.read_csv("sectrack_result_12_corrected.csv")
df13 = pd.read_csv("sectrack_result_13a_corrected.csv")
df14 = pd.read_csv("sectrack_result_14a_corrected.csv")
df15 = pd.read_csv("sectrack_result_15_corrected.csv")
df16 = pd.read_csv("sectrack_result_16_corrected.csv")
df17 = pd.read_csv("sectrack_result_17_corrected.csv")
df18 = pd.read_csv("sectrack_result_18a_corrected.csv")
df19 = pd.read_csv("sectrack_result_19a_corrected.csv")
df20 = pd.read_csv("sectrack_result_20_corrected.csv")
df21 = pd.read_csv("sectrack_result_21_corrected.csv")
df22 = pd.read_csv("sectrack_result_22a_corrected.csv")




df_merged = pd.concat([df, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22], ignore_index=True, sort=False)
'''

'\n# Merge NSG files\n\nos.chdir(\'/Users/veesheenyuen/Desktop/DataScience/SAA/NSG/NSG2025/Corrected_Results/\')\n\ndf = pd.read_csv("sectrack_result_01a_corrected.csv")\ndf2 = pd.read_csv("sectrack_result_02a_corrected.csv")\ndf3 = pd.read_csv("sectrack_result_03a_corrected.csv")\ndf4 = pd.read_csv("sectrack_result_04a_corrected.csv")\ndf5 = pd.read_csv("sectrack_result_05a_corrected.csv")\ndf6 = pd.read_csv("sectrack_result_06a_corrected.csv")\ndf7 = pd.read_csv("sectrack_result_07a_corrected.csv")\ndf8 = pd.read_csv("sectrack_result_08b_corrected.csv")\ndf9 = pd.read_csv("sectrack_result_09b_corrected.csv")\ndf10 = pd.read_csv("sectrack_result_10a_corrected.csv")\ndf11 = pd.read_csv("sectrack_result_11_corrected.csv")\ndf12 = pd.read_csv("sectrack_result_12_corrected.csv")\ndf13 = pd.read_csv("sectrack_result_13a_corrected.csv")\ndf14 = pd.read_csv("sectrack_result_14a_corrected.csv")\ndf15 = pd.read_csv("sectrack_result_15_corrected.csv")\ndf16 = pd.read_csv("sectrack_result_16_corrected.csv")\ndf17 = pd.read_csv("sectrack_result_17_corrected.csv")\ndf18 = pd.read_csv("sectrack_result_18a_corrected.csv")\ndf19 = pd.read_csv("sectrack_result_19a_corrected.csv")\ndf20 = pd.read_csv("sectrack_result_20_corrected.csv")\ndf21 = pd.read_csv("sectrack_result_21_corrected.csv")\ndf22 = pd.read_csv("sectrack_result_22a_corrected.csv")\n\n\n\n\ndf_merged = pd.concat([df, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22], ignore_index=True, sort=False)\n'

In [66]:
#df_merged

In [12]:
#os.chdir('/Users/veesheenyuen/Desktop/DataScience/SAA/Tilastopaja/Singapore Athletes Events/2025/May/')

#df.to_csv("SGP_athletes_May_2025_Final_Additions.csv", index=False, encoding="utf-8")

In [92]:
os.chdir('/Users/veesheenyuen/Desktop/DataScience/SAA/Tilastopaja/Singapore Athletes Events/2025/Jun/Second/')

df = pd.read_csv("SGP_athletes_Jun_2025_second_reload.csv")

In [93]:
df

,FIRST_NAME,LAST_NAME,OTHER_NAME,NAME,RANK,TAG_ID,TEAM,SEED,RESULT,QUALIFICATION,...,SOURCE,REMARKS,TIMESTAMP,VENUE,SUB_EVENT,SESSION,EVENT_CLASS,DISTANCE,HOST_CITY,RX_TIME
0,NaN,NaN,NaN,Shanti Veronica Pereira,3,NaN,NaN,NaN,11.84,NaN,...,Tilastopaja - Meeting de Braga - Jun 25.html,NaN,NaN,Estádio 1o de Maio,NaN,NaN,NaN,NaN,Braga,NaN

In [94]:
import datetime


for i in range(len(df)):
        
    rowIndex = df.index[i]

    date = str(df.loc[rowIndex,'DATE'])
    year = str(df.loc[rowIndex,'YEAR'])
        
    if 'to' in date or ' - ' in date:
        
        if re.search('to|\s\-\s\d\s|\s\-\d\d', date):  # e.g. 03-04
              
            pos = re.search('to|\s\-\s\d', date)
            # Splice string to day and month

            split_pos_start=pos.start()+3
            


            final_date = date[split_pos_start:] # left string post splicing

            print(i, pos, date, final_date)
            final_year = year[2:]

            event_date = final_date + '/' + final_year

          #  print('old code', date, final_date, event_date)

            df.loc[rowIndex, 'event_date'] = event_date

        elif re.search('(\-\s\d\w)|(\-\s\d\d\w)', date):  # e.g. 18 - 19 January
                        
            pos = re.search('\-', date)  # from '-' onwards only
            # Splice string to day and month

            split_pos_start=pos.start()+2
            

            final_date = date[split_pos_start:] # left string post splicing

            
            final_year = year[2:]

            event_date = final_date + ' ' + final_year


            df.loc[rowIndex, 'event_date'] = event_date
            
        
    elif re.search('\w\-\w', date):
        
        if df.loc[rowIndex, 'COMPETITION'] == "National School Games":
            
            if df.loc[rowIndex, 'YEAR'] == '2024':
        
                event_date = '04'+'/'+date[1:3] + '/' + year[2:]  # reverse order from dd/mm to mm/dd. 04 because event was in April 24 only
            
       #         print('NSG 2024', event_date)
        
                df.loc[rowIndex, 'event_date'] = event_date
            
            elif df.loc[rowIndex, 'YEAR'] == '2025':
                
                event_date = date + '-' +year[2:]
                
        #        print('NSG2025', event_date)
                
                df.loc[rowIndex, 'event_date'] = event_date
                
        elif re.search('\d\-\d',  date):        #10-13 April
            
         #   print('HERE', i, date)

            rpos = re.search('\-', date)
            string = date[rpos.end():]
            
            print('extracted date', string)
            
            event_date = string + ' ' + year
            
          #  print('event date', event_date)
            
            df.loc[rowIndex, 'event_date'] = event_date

            
        
        else:
            
            event_date = date + '-' + year[2:]
            
            df.loc[rowIndex, 'event_date'] = event_date

        
        

        
df['event_date'] = df['event_date'].astype(str)
df['event_date'] = df['event_date'].str.replace('\xa0', ' ', regex=True)
df['event_date'] = df['event_date'].str.replace('[\x00-\x1f\x7f-\x9f]', '', regex=True)
df['event_date'] = df['event_date'].str.replace('\r', ' ', regex=True)
df['event_date'] = df['event_date'].str.replace('\n', ' ', regex=True)
df['event_date'] = df['event_date'].str.strip()

In [95]:
df

,FIRST_NAME,LAST_NAME,OTHER_NAME,NAME,RANK,TAG_ID,TEAM,SEED,RESULT,QUALIFICATION,...,REMARKS,TIMESTAMP,VENUE,SUB_EVENT,SESSION,EVENT_CLASS,DISTANCE,HOST_CITY,RX_TIME,event_date
0,NaN,NaN,NaN,Shanti Veronica Pereira,3,NaN,NaN,NaN,11.84,NaN,...,NaN,NaN,Estádio 1o de Maio,NaN,NaN,NaN,NaN,Braga,NaN,14-Jun-25

In [96]:
#today = datetime.datetime.now().strftime('%Y-%m-%d')

ct = dt.now()
gender_pattern = 'Male|Female|Mixed'
year_pattern = '20\d\d'
df['TIMESTAMP'] = pd.to_datetime(df['TIMESTAMP'])
df['YEAR'] = df['YEAR'].astype(str)
df['DATE'] = df['DATE'].astype(str)


for index, row in df.iterrows():
    
    print(row['event_date'])
    
    assert re.search(gender_pattern, row['GENDER']) is not None   # check format of gender input
    assert row['NAME'] != None
    assert row['DATE'] != None
    assert row['EVENT'] != None 
    assert row['COMPETITION'] != None 
    assert row['REGION'] != None
    assert row['DATE'] is not None
    assert len(row['DATE'])>3
    assert len(row['DOB'])>3
    assert re.search(year_pattern, row['YEAR']) is not None   # check format of year
    assert row['event_date']!='nan' # make sure the conversion to datetime format is valid

    # Check column locations before loading

    assert len(df.columns) == 41
    assert df.columns.get_loc('RESULT') == 8
    assert df.columns.get_loc('AGE') == 17
    assert df.columns.get_loc('WIND') == 12
    assert df.columns.get_loc('COMPETITION')==24
    
   

    # Set timestamp

    df.loc[:,'TIMESTAMP'] = ct


print('PASSED')

14-Jun-25
PASSED

In [97]:
df.drop('event_date', axis=1, inplace=True)

In [98]:
df

,FIRST_NAME,LAST_NAME,OTHER_NAME,NAME,RANK,TAG_ID,TEAM,SEED,RESULT,QUALIFICATION,...,SOURCE,REMARKS,TIMESTAMP,VENUE,SUB_EVENT,SESSION,EVENT_CLASS,DISTANCE,HOST_CITY,RX_TIME
0,NaN,NaN,NaN,Shanti Veronica Pereira,3,NaN,NaN,NaN,11.84,NaN,...,Tilastopaja - Meeting de Braga - Jun 25.html,NaN,2025-06-20 17:45:58.940914,Estádio 1o de Maio,NaN,NaN,NaN,NaN,Braga,NaN

In [99]:
os.chdir('/Users/veesheenyuen/Desktop/DataScience/SAA/Tilastopaja/Singapore Athletes Events/2025/Jun/Second/')

df.to_csv("SGP_athletes_Jun_2025_second_reload_checked.csv", header=False, index=False, encoding="utf-8")