In [1]:
# Identify athletes meeting OCTC selection rules

#1. At least 1 athlete per event per gender
#2. Except for 100m, 400m, cap at 3 athletes per event. 100m, 400m capped at 6
#3. Where top athlete is >30 yrs old (except marathon), to include next athlete as well (below 30)
#4. Where althlete qualified in 2 events, to choose the better performing one
#5. For athletes looking to do full time, to write in to SAA for special consideration
#6. Exclude SPEX carded athletes
#7. Except for marathon, age threshold cut off of 40 yrs old for top athlete
#8. No double tapping of prog - potential names in red


%load_ext autoreload
%autoreload 2

In [180]:
# Import usual modules
import pandas as pd
import csv
import math
import os
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import openpyxl
import datetime
from scipy.stats import lognorm
import re
import string
from bs4 import BeautifulSoup
import requests
import unicodedata # for removing accented characters
import datetime
import icecream as ic

from google.cloud import storage

In [983]:
# PRODUCTION ENVIRONMENT
# Extract timed event records

import pandas_gbq
from google.oauth2 import service_account

credentials = service_account.Credentials.from_service_account_file(
    '/Users/veesheenyuen/Desktop/DataScience/Keys/saa-analytics-7c8937b70609.json',
    
    
)

sql1="""
SELECT NAME, RESULT, TEAM, AGE, RANK AS COMPETITION_RANK, DIVISION, EVENT, DISTANCE, EVENT_CLASS, UNIQUE_ID, DOB, NATIONALITY, WIND, CATEGORY_EVENT, GENDER, COMPETITION, YEAR, REGION
FROM `saa-analytics.results.athlete_results_prod` 

"""

competitors = pandas_gbq.read_gbq(sql1, project_id="saa-analytics", credentials=credentials)

Downloading: 100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████|

In [984]:
competitors

,NAME,RESULT,TEAM,AGE,COMPETITION_RANK,DIVISION,EVENT,DISTANCE,EVENT_CLASS,UNIQUE_ID,DOB,NATIONALITY,WIND,CATEGORY_EVENT,GENDER,COMPETITION,YEAR,REGION
0,"Chong Bin Mohd Isham, Akid",32.40m,FAC,34,2,Open,Hammer Throw,0,(7.26kg),A512E90,24/11/90,nan,,Throw,Male,54th SA Inter Club Championships 2024,2024,Local
1,"Ibrahim, Ahmad Arif",DNS,MOE,31,0,M Elite,Run,2400,,nan,20/9/93,nan,,None,Male,Pocari Sweat Run 2.4km 2024,2024,Local
2,"Ho, Kenneth",DNS,NTU,26,0,Open,Steeplechase,3000,(0.914m),nan,14/4/98,nan,,Steeple,Male,SA Allcomers Meet 1,2024,Local
3,"Ryan, Praharsh",DNS,NTU,26,0,Open,Dash,100,,nan,18/10/98,nan,1.8,Sprint,Male,SA Allcomers Meet 1,2024,Local
4,"Koh, Wei Shien",4.41m,NUS,29,3,Open,Pole Vault,0,,L435B06,4/5/95,nan,,Jump,Male,54th SA Inter Club Championships 2024,2024,Local
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21960,"{'126': 'Wei Liang, Leow', '127': 'Weijie, Lim...",DNF,Singapore University of Social,nan,0,Open,Relay,400,,,nan,nan,,Relay,Male,54th SA Inter Club Championships 2024,2024,Local
21961,"{'126': 'Wei Liang, Leow', '127': 'Weijie, Lim...",DNF,Singapore University of Social,nan,0,Open,Relay,400,,,nan,nan,,Relay,Male,54th SA Inter Club Championships 2024,2024,Local
21962,"{'77': 'Abdul Hakim Bin Abdu, Hakim', '79': 'G...",46.33,Singapore University of Social,nan,8,Open,Relay,400,,,nan,nan,,Relay,Male,IVP Track & Field Championships 2024,2024,Local
21963,"{'169': 'Nakamura, Yuna', '171': 'Matsui, Yuri...",01:02.1,Waseda Shibuya Senior High Sch,nan,7,Open,Relay,400,,,nan,nan,,Relay,Female,11th Club ZOOM Kindred Spirit 2024 & PEERS,2024,Local
21964,"{'173': 'Soga, Akihiro', '172': 'Nielsen, Haru...",50.85,Waseda Shibuya Senior High Sch,nan,13,Open,Relay,400,,,nan,nan,,Relay,Male,11th Club ZOOM Kindred Spirit 2024 & PEERS,2024,Local

In [985]:
os.chdir('/Users/veesheenyuen/Desktop/DataScience/SAA/OCTC/')


competitors.to_csv('athletes_new_format_prod.csv', sep=',', encoding='utf-8-sig', index=False)

In [986]:
competitors

,NAME,RESULT,TEAM,AGE,COMPETITION_RANK,DIVISION,EVENT,DISTANCE,EVENT_CLASS,UNIQUE_ID,DOB,NATIONALITY,WIND,CATEGORY_EVENT,GENDER,COMPETITION,YEAR,REGION
0,"Chong Bin Mohd Isham, Akid",32.40m,FAC,34,2,Open,Hammer Throw,0,(7.26kg),A512E90,24/11/90,nan,,Throw,Male,54th SA Inter Club Championships 2024,2024,Local
1,"Ibrahim, Ahmad Arif",DNS,MOE,31,0,M Elite,Run,2400,,nan,20/9/93,nan,,None,Male,Pocari Sweat Run 2.4km 2024,2024,Local
2,"Ho, Kenneth",DNS,NTU,26,0,Open,Steeplechase,3000,(0.914m),nan,14/4/98,nan,,Steeple,Male,SA Allcomers Meet 1,2024,Local
3,"Ryan, Praharsh",DNS,NTU,26,0,Open,Dash,100,,nan,18/10/98,nan,1.8,Sprint,Male,SA Allcomers Meet 1,2024,Local
4,"Koh, Wei Shien",4.41m,NUS,29,3,Open,Pole Vault,0,,L435B06,4/5/95,nan,,Jump,Male,54th SA Inter Club Championships 2024,2024,Local
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21960,"{'126': 'Wei Liang, Leow', '127': 'Weijie, Lim...",DNF,Singapore University of Social,nan,0,Open,Relay,400,,,nan,nan,,Relay,Male,54th SA Inter Club Championships 2024,2024,Local
21961,"{'126': 'Wei Liang, Leow', '127': 'Weijie, Lim...",DNF,Singapore University of Social,nan,0,Open,Relay,400,,,nan,nan,,Relay,Male,54th SA Inter Club Championships 2024,2024,Local
21962,"{'77': 'Abdul Hakim Bin Abdu, Hakim', '79': 'G...",46.33,Singapore University of Social,nan,8,Open,Relay,400,,,nan,nan,,Relay,Male,IVP Track & Field Championships 2024,2024,Local
21963,"{'169': 'Nakamura, Yuna', '171': 'Matsui, Yuri...",01:02.1,Waseda Shibuya Senior High Sch,nan,7,Open,Relay,400,,,nan,nan,,Relay,Female,11th Club ZOOM Kindred Spirit 2024 & PEERS,2024,Local
21964,"{'173': 'Soga, Akihiro', '172': 'Nielsen, Haru...",50.85,Waseda Shibuya Senior High Sch,nan,13,Open,Relay,400,,,nan,nan,,Relay,Male,11th Club ZOOM Kindred Spirit 2024 & PEERS,2024,Local

In [987]:
competitors[competitors['NAME']=='SOH RUI YONG GUILLAUME']

,NAME,RESULT,TEAM,AGE,COMPETITION_RANK,DIVISION,EVENT,DISTANCE,EVENT_CLASS,UNIQUE_ID,DOB,NATIONALITY,WIND,CATEGORY_EVENT,GENDER,COMPETITION,YEAR,REGION
874,SOH RUI YONG GUILLAUME,04:59.3,INDIVIDUAL,33,12,None,1 mile,None,None,None,1991,SGP,-,Mid,Male,Vitaly West Mininster Mile 5K (UK),2024,International
876,SOH RUI YONG GUILLAUME,31:11.4,INDIVIDUAL,33,133,None,10000m,None,None,None,1991,SGP,-,Long,Male,"Tokai University Long Distance Challenge 10,0...",2024,International
877,SOH RUI YONG GUILLAUME,15:07.7,INDIVIDUAL,33,46,None,5000m,None,None,None,1991,SGP,-,Long,Male,Friday Night Under the Lights 5K (UK),2024,International
878,SOH RUI YONG GUILLAUME,08:35.8,INDIVIDUAL,33,None,None,3000m,None,None,None,1991,SGP,-,Long,Male,Hercules Wimbledon Athletics Club 3000m,2024,International

In [1137]:
athletes_2024 = competitors[competitors['YEAR']=='2024']

In [1138]:
athletes_2024

,NAME,RESULT,TEAM,AGE,COMPETITION_RANK,DIVISION,EVENT,DISTANCE,EVENT_CLASS,UNIQUE_ID,DOB,NATIONALITY,WIND,CATEGORY_EVENT,GENDER,COMPETITION,YEAR,REGION
0,"Chong Bin Mohd Isham, Akid",32.40m,FAC,34,2,Open,Hammer Throw,0,(7.26kg),A512E90,24/11/90,nan,,Throw,Male,54th SA Inter Club Championships 2024,2024,Local
1,"Ibrahim, Ahmad Arif",DNS,MOE,31,0,M Elite,Run,2400,,nan,20/9/93,nan,,None,Male,Pocari Sweat Run 2.4km 2024,2024,Local
2,"Ho, Kenneth",DNS,NTU,26,0,Open,Steeplechase,3000,(0.914m),nan,14/4/98,nan,,Steeple,Male,SA Allcomers Meet 1,2024,Local
3,"Ryan, Praharsh",DNS,NTU,26,0,Open,Dash,100,,nan,18/10/98,nan,1.8,Sprint,Male,SA Allcomers Meet 1,2024,Local
4,"Koh, Wei Shien",4.41m,NUS,29,3,Open,Pole Vault,0,,L435B06,4/5/95,nan,,Jump,Male,54th SA Inter Club Championships 2024,2024,Local
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21960,"{'126': 'Wei Liang, Leow', '127': 'Weijie, Lim...",DNF,Singapore University of Social,nan,0,Open,Relay,400,,,nan,nan,,Relay,Male,54th SA Inter Club Championships 2024,2024,Local
21961,"{'126': 'Wei Liang, Leow', '127': 'Weijie, Lim...",DNF,Singapore University of Social,nan,0,Open,Relay,400,,,nan,nan,,Relay,Male,54th SA Inter Club Championships 2024,2024,Local
21962,"{'77': 'Abdul Hakim Bin Abdu, Hakim', '79': 'G...",46.33,Singapore University of Social,nan,8,Open,Relay,400,,,nan,nan,,Relay,Male,IVP Track & Field Championships 2024,2024,Local
21963,"{'169': 'Nakamura, Yuna', '171': 'Matsui, Yuri...",01:02.1,Waseda Shibuya Senior High Sch,nan,7,Open,Relay,400,,,nan,nan,,Relay,Female,11th Club ZOOM Kindred Spirit 2024 & PEERS,2024,Local
21964,"{'173': 'Soga, Akihiro', '172': 'Nielsen, Haru...",50.85,Waseda Shibuya Senior High Sch,nan,13,Open,Relay,400,,,nan,nan,,Relay,Male,11th Club ZOOM Kindred Spirit 2024 & PEERS,2024,Local

In [1139]:
athletes_2024[athletes_2024['NAME']=='SOH RUI YONG GUILLAUME']

,NAME,RESULT,TEAM,AGE,COMPETITION_RANK,DIVISION,EVENT,DISTANCE,EVENT_CLASS,UNIQUE_ID,DOB,NATIONALITY,WIND,CATEGORY_EVENT,GENDER,COMPETITION,YEAR,REGION
874,SOH RUI YONG GUILLAUME,04:59.3,INDIVIDUAL,33,12,None,1 mile,None,None,None,1991,SGP,-,Mid,Male,Vitaly West Mininster Mile 5K (UK),2024,International
876,SOH RUI YONG GUILLAUME,31:11.4,INDIVIDUAL,33,133,None,10000m,None,None,None,1991,SGP,-,Long,Male,"Tokai University Long Distance Challenge 10,0...",2024,International
877,SOH RUI YONG GUILLAUME,15:07.7,INDIVIDUAL,33,46,None,5000m,None,None,None,1991,SGP,-,Long,Male,Friday Night Under the Lights 5K (UK),2024,International
878,SOH RUI YONG GUILLAUME,08:35.8,INDIVIDUAL,33,None,None,3000m,None,None,None,1991,SGP,-,Long,Male,Hercules Wimbledon Athletics Club 3000m,2024,International

In [1140]:
athletes_2024.to_csv('athletes_2024_prod.csv', encoding='utf-8')

In [1141]:
# Choose 2024 only

athletes = athletes_2024

In [1142]:
athletes

,NAME,RESULT,TEAM,AGE,COMPETITION_RANK,DIVISION,EVENT,DISTANCE,EVENT_CLASS,UNIQUE_ID,DOB,NATIONALITY,WIND,CATEGORY_EVENT,GENDER,COMPETITION,YEAR,REGION
0,"Chong Bin Mohd Isham, Akid",32.40m,FAC,34,2,Open,Hammer Throw,0,(7.26kg),A512E90,24/11/90,nan,,Throw,Male,54th SA Inter Club Championships 2024,2024,Local
1,"Ibrahim, Ahmad Arif",DNS,MOE,31,0,M Elite,Run,2400,,nan,20/9/93,nan,,None,Male,Pocari Sweat Run 2.4km 2024,2024,Local
2,"Ho, Kenneth",DNS,NTU,26,0,Open,Steeplechase,3000,(0.914m),nan,14/4/98,nan,,Steeple,Male,SA Allcomers Meet 1,2024,Local
3,"Ryan, Praharsh",DNS,NTU,26,0,Open,Dash,100,,nan,18/10/98,nan,1.8,Sprint,Male,SA Allcomers Meet 1,2024,Local
4,"Koh, Wei Shien",4.41m,NUS,29,3,Open,Pole Vault,0,,L435B06,4/5/95,nan,,Jump,Male,54th SA Inter Club Championships 2024,2024,Local
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21960,"{'126': 'Wei Liang, Leow', '127': 'Weijie, Lim...",DNF,Singapore University of Social,nan,0,Open,Relay,400,,,nan,nan,,Relay,Male,54th SA Inter Club Championships 2024,2024,Local
21961,"{'126': 'Wei Liang, Leow', '127': 'Weijie, Lim...",DNF,Singapore University of Social,nan,0,Open,Relay,400,,,nan,nan,,Relay,Male,54th SA Inter Club Championships 2024,2024,Local
21962,"{'77': 'Abdul Hakim Bin Abdu, Hakim', '79': 'G...",46.33,Singapore University of Social,nan,8,Open,Relay,400,,,nan,nan,,Relay,Male,IVP Track & Field Championships 2024,2024,Local
21963,"{'169': 'Nakamura, Yuna', '171': 'Matsui, Yuri...",01:02.1,Waseda Shibuya Senior High Sch,nan,7,Open,Relay,400,,,nan,nan,,Relay,Female,11th Club ZOOM Kindred Spirit 2024 & PEERS,2024,Local
21964,"{'173': 'Soga, Akihiro', '172': 'Nielsen, Haru...",50.85,Waseda Shibuya Senior High Sch,nan,13,Open,Relay,400,,,nan,nan,,Relay,Male,11th Club ZOOM Kindred Spirit 2024 & PEERS,2024,Local

In [1143]:
athletes[athletes['NAME']=='Jun Jie Calvin Quek']

,NAME,RESULT,TEAM,AGE,COMPETITION_RANK,DIVISION,EVENT,DISTANCE,EVENT_CLASS,UNIQUE_ID,DOB,NATIONALITY,WIND,CATEGORY_EVENT,GENDER,COMPETITION,YEAR,REGION
1939,Jun Jie Calvin Quek,53.19,None,None,4,None,400m Hurdles,None,None,None,26-Feb-96,SGP,None,Hurdles,Male,UAE Athletics Grand Prix,2024,International
1940,Jun Jie Calvin Quek,52.05,None,None,8,None,400m Hurdles,None,None,None,26-Feb-96,SGP,None,Hurdles,Male,11th Kinami Michitaka Memorial Athletics Meet,2024,International
2042,Jun Jie Calvin Quek,51.8,None,None,1,None,400m Hurdles,None,None,None,26-Feb-96,SGP,None,Hurdles,Male,Taiwan Athletics Open,2024,International
2070,Jun Jie Calvin Quek,51.79,None,None,2,None,400m Hurdles,None,None,None,26-Feb-96,SGP,None,Hurdles,Male,XXXIII Qosanov Memorial,2024,International
2071,Jun Jie Calvin Quek,56.95,None,None,3,None,400m Hurdles,None,None,None,26-Feb-96,SGP,None,Hurdles,Male,XXXIII Qosanov Memorial,2024,International
2217,Jun Jie Calvin Quek,52.18,None,None,3,None,400m Hurdles,None,None,None,26-Feb-96,SGP,None,Hurdles,Male,Second Belt and Road Invitational Athletics Me...,2024,International
2218,Jun Jie Calvin Quek,51.33,None,None,2,None,400m Hurdles,None,None,None,26-Feb-96,SGP,None,Hurdles,Male,Second Belt and Road Invitational Athletics Me...,2024,International

In [1144]:
# Run events

#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+200 Meter Dash.+', value='200m')
#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+100 Meter Dash.+', value='100m')
#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+400 Meter Dash.+', value='400m')
#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+800 Meter Run.+', value='800m')

#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+1500 Meter Run.+', value='1500m')
#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+3000 Meter Run.+', value='3000m')

# Hurdles events

#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+110 Meter Hurdles.+', value='110m hurdles')
#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+110m Hurdles.+', value='110m hurdles')
#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+100 Meter Hurdles.+', value='100m hurdles')
#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+200 Meter Hurdles.+', value='200m hurdles')
#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+400 Meter Hurdles.+', value='400m hurdles')
#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+400m Hurdles.+', value='400m hurdles')


#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+4x100 Meter Relay.+', value='4 x 100m relay')
#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+4x400 Meter Relay.+', value='4 x 400m relay')
#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+3000 meter.+', value='3000m')
#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+1500 Meter Race Walk.+', value='1500m race walk')
#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+3000m Race Walk.+', value='3000m race walk')
#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+5000 Meter Race Walk.+', value='5000m race walk')
#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+5000m Race Walk.+', value='5000m race walk')
#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+10000 Meter Race Walk.+', value='10000m race walk')
#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+5000 Meter Run.+', value='5000m run')
#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+10000 Meter Run.+', value='10000m run')


#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+Race Walk.+', value='race walk')
#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+Pole Vault.+', value='Pole vault')

#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+Shot Put.+', value='Shot put')

#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+Discus.+', value='Discus throw')

#mask = athletes['EVENT'].str.contains(r'Discus', na=True)
#athletes.loc[mask, 'EVENT'] = 'Discus throw'

#mask = athletes['EVENT'].str.contains(r'Shot', na=True)
#athletes.loc[mask, 'EVENT'] = 'Shot put'

#mask = athletes['EVENT'].str.contains(r'Javelin', na=True)
#athletes.loc[mask, 'EVENT'] = 'Javelin throw'



#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+Triple Jump.+', value='Triple jump')

#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+Javelin Throw.+', value='Javelin throw')

#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+Long Jump.+', value='Long jump')
#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'Long Jump', value='Long jump')


#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'High Jump', value='High jump')
#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+High Jump.+', value='High jump')

#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+S/C.+', value='steeplechase')
#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+3000 Meter Steeplechase.+', value='3000m steeplechase')
#athletes['EVENT'] = athletes['EVENT'].replace(regex=r'.+2000 Meter Steeplechase.+', value='2000m steeplechase')


#mask = athletes['EVENT'].str.contains(r'High', na=True)
#athletes.loc[mask, 'EVENT'] = 'High jump'

#mask = athletes['EVENT'].str.contains(r'110m hurdles', na=True)
#athletes.loc[mask, 'EVENT'] = '110m hurdles'

#mask = athletes['EVENT'].str.contains(r'400m hurdles', na=True)
#athletes.loc[mask, 'EVENT'] = '400m hurdles'

#mask = athletes['EVENT'].str.contains(r'200m Hurdles', na=True)
#athletes.loc[mask, 'EVENT'] = '200m hurdles'

#mask = athletes['EVENT'].str.contains(r'100m Hurdles', na=True)
#athletes.loc[mask, 'EVENT'] = '100m hurdles'

#mask = athletes['EVENT'].str.contains(r'4 X 100m relay', na=True)
#athletes.loc[mask, 'EVENT'] = '4 x 100m relay'

#mask = athletes['EVENT'].str.contains(r'4 X 400m relay', na=True)
#athletes.loc[mask, 'EVENT'] = '4 x 400m relay'

#mask = athletes['EVENT'].str.contains(r'2000 Meter Steeplechase', na=True)
#athletes.loc[mask, 'EVENT'] = '2000m steeplechase'

#mask = athletes['EVENT'].str.contains(r'Hammer Throw', na=True)
#athletes.loc[mask, 'EVENT'] = 'Hammer throw'

#mask = athletes['EVENT'].str.contains(r'3000m S/C', na=True)
#athletes.loc[mask, 'EVENT'] = '3000m steeplechase'

#mask = athletes['EVENT'].str.contains(r'2000m S/C', na=True)
#athletes.loc[mask, 'EVENT'] = '2000m steeplechase'


#mask = athletes['EVENT'].str.contains(r'4x100m Relay', na=True)
#athletes.loc[mask, 'EVENT'] = '4 x 100m relay'

#mask = athletes['EVENT'].str.contains(r'4x400m Relay', na=True)
#athletes.loc[mask, 'EVENT'] = '4 x 400m relay'


# correct javelin category
#mask = athletes['EVENT'].str.contains(r'Javelin', na=True)
#athletes.loc[mask, 'CATEGORY_EVENT'] = 'Throw'

In [1145]:
# Wind mapping

#mask = athletes['EVENT'].str.contains(r'\d{1}.\d{1}', na=True, regex=True)
#athletes.loc[mask, 'WIND_MAP'] = '400m'

In [1146]:
# Remove special characters before mapping

for col in athletes.columns:
    athletes[col] = athletes[col].astype(str)
    athletes[col] = athletes[col].str.replace('\xa0', ' ', regex=True)
    athletes[col] = athletes[col].str.replace('[\x00-\x1f\x7f-\x9f]', '', regex=True)
    athletes[col] = athletes[col].str.replace('\r', ' ', regex=True)
    athletes[col] = athletes[col].str.replace('\n', ' ', regex=True)
    athletes[col] = athletes[col].str.strip()

# Create temporary mapped event column

athletes['MAPPED_EVENT']=''

# Correct javelin category

mask = athletes['EVENT'].str.contains(r'Javelin', na=True)
athletes.loc[mask, 'CATEGORY_EVENT'] = 'Throw'


# Running

#mask = (athletes['EVENT'].str.contains(r'Dash', na=True) & athletes['DISTANCE'].str.contains(r'50', na=True))
#athletes.loc[mask, 'MAPPED_EVENT'] = '50m'
#mask = (athletes['EVENT'].str.contains(r'Dash', na=True) & athletes['DISTANCE'].str.contains(r'60', na=True))
#athletes.loc[mask, 'MAPPED_EVENT'] = '60m'
#mask = (athletes['EVENT'].str.contains(r'Dash', na=True) & athletes['DISTANCE'].str.contains(r'80', na=True))
#athletes.loc[mask, 'MAPPED_EVENT'] = '80m'
mask = (athletes['EVENT'].str.contains(r'Dash', na=True) & athletes['DISTANCE'].str.contains(r'100', na=True))
athletes.loc[mask, 'MAPPED_EVENT'] = '100m'
mask = athletes['EVENT'].str.contains(r'100 Meter Run', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = '100m'
mask = athletes['EVENT'].str.contains(r'^100m$', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = '100m'
mask = (athletes['EVENT'].str.contains(r'Dash', na=True) & athletes['DISTANCE'].str.contains(r'200', na=True))
athletes.loc[mask, 'MAPPED_EVENT'] = '200m'
mask = athletes['EVENT'].str.contains(r'^200m$', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = '200m'
mask = athletes['EVENT'].str.contains(r'200\sMeter', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = '200m'
mask = athletes['EVENT'].str.contains(r'300 Meter Run', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = '300m'
mask = (athletes['EVENT'].str.contains(r'Dash', na=True) & athletes['DISTANCE'].str.contains(r'400', na=True))
athletes.loc[mask, 'MAPPED_EVENT'] = '400m'
mask = athletes['EVENT'].str.contains(r'^400m$', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = '400m'

mask = athletes['EVENT'].str.contains(r'^400\sMeter$', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = '400m'


mask = (athletes['EVENT'].str.contains(r'Run', na=True) & athletes['DISTANCE'].str.contains(r'^600$', na=True, regex=True))
athletes.loc[mask, 'MAPPED_EVENT'] = '600m'
mask = (athletes['EVENT'].str.contains(r'Run', na=True) & athletes['DISTANCE'].str.contains(r'800', na=True))
athletes.loc[mask, 'MAPPED_EVENT'] = '800m'
mask = athletes['EVENT'].str.contains(r'800 Meter Run', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = '800m'
mask = athletes['EVENT'].str.contains(r'^800m$', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = '800m'
mask = (athletes['EVENT'].str.contains(r'Run', na=True) & athletes['DISTANCE'].str.contains(r'1000', na=True))
athletes.loc[mask, 'MAPPED_EVENT'] = '1000m'


mask = (athletes['EVENT'].str.contains(r'Run', na=True) & athletes['DISTANCE'].str.contains(r'1500', na=True))
athletes.loc[mask, 'MAPPED_EVENT'] = '1500m'
mask = athletes['EVENT'].str.contains(r'^1500m$', na=True, regex=True)
athletes.loc[mask, 'MAPPED_EVENT'] = '1500m'
mask = (athletes['EVENT'].str.contains(r'Run', na=True) & athletes['DISTANCE'].str.contains(r'3000', na=True))
athletes.loc[mask, 'MAPPED_EVENT'] = '3000m'
#mask = athletes['EVENT'].str.contains(r'3000m', na=True)
#athletes.loc[mask, 'MAPPED_EVENT'] = '3000m'
mask = (athletes['EVENT'].str.contains(r'Run', na=True) & athletes['DISTANCE'].str.contains(r'5000', na=True))
athletes.loc[mask, 'MAPPED_EVENT'] = '5000m'
mask = athletes['EVENT'].str.contains(r'5000m', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = '5000m'
mask = (athletes['EVENT'].str.contains(r'Run', na=True) & athletes['DISTANCE'].str.contains(r'10000', na=True))
athletes.loc[mask, 'MAPPED_EVENT'] = '10000m'
mask = athletes['EVENT'].str.contains(r'^10000m$', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = '10000m'
mask = (athletes['EVENT'].str.contains(r'Run', na=True) & athletes['DISTANCE'].str.contains(r'Mile', na=True))
athletes.loc[mask, 'MAPPED_EVENT'] = '1 Mile'

mask = athletes['EVENT'].str.contains(r'10\,000m', na=True, regex=True)
athletes.loc[mask, 'MAPPED_EVENT'] = '10000m'



# Hurdles

#mask = athletes['EVENT'].str.contains(r'^80m\sHurdles$', na=True)
#athletes.loc[mask, 'MAPPED_EVENT'] = '80m Hurdles'
#mask = athletes['EVENT'].str.contains(r'^80m\shurdles$', na=True)
#athletes.loc[mask, 'MAPPED_EVENT'] = '80m Hurdles'
#mask = athletes['EVENT'].str.contains(r'^80\sMeter\sHurdles$', na=True)
#athletes.loc[mask, 'MAPPED_EVENT'] = '80m Hurdles'
#mask = (athletes['EVENT'].str.contains(r'Hurdles', na=False) & athletes['DISTANCE'].str.contains(r'80', na=False))
#athletes.loc[mask, 'MAPPED_EVENT'] = '80m Hurdles'

#mask = athletes['EVENT'].str.contains(r'100\sMeter\sHurdles\s\(0\.838m\)', na=True)
#athletes.loc[mask, 'MAPPED_EVENT'] = '100m Hurdles'
#mask = athletes['EVENT'].str.contains(r'100m\sHurdles\s\(0\.838m\)', na=True)
#athletes.loc[mask, 'MAPPED_EVENT'] = '100m Hurdles'


##mask = athletes['EVENT'].str.contains(r'110m\sHurdles\s\(0\.914m\)', na=True)
##athletes.loc[mask, 'MAPPED_EVENT'] = '110m hurdles'
##mask = athletes['EVENT'].str.contains(r'110m\sHurdles\s\(1\.067m\)', na=True)
##athletes.loc[mask, 'MAPPED_EVENT'] = '110m Hurdles'


mask = (athletes['EVENT'].str.contains(r'100m Hurdles|100m hurdles', na=False) & athletes['EVENT_CLASS'].str.contains('0.84', na=False) & athletes['GENDER'].str.contains(r'Female', na=False))  # this is the correct syntax
athletes.loc[mask, 'MAPPED_EVENT'] = '100m Hurdles'
mask = (athletes['EVENT'].str.contains(r'100m Hurdles|100m hurdles', na=False) & athletes['DIVISION'].str.contains('None', na=False) & athletes['GENDER'].str.contains(r'Female', na=False) & athletes['REGION'].str.contains(r'International', na=False))  # this is the correct syntax
athletes.loc[mask, 'MAPPED_EVENT'] = '100m Hurdles'
mask = (athletes['EVENT'].str.contains(r'^Hurdles$', na=False) & athletes['DISTANCE'].str.contains(r'100', na=False) & athletes['DIVISION'].str.contains(r'OPEN|Open', na=False) & athletes['GENDER'].str.contains(r'Female', na=False))
athletes.loc[mask, 'MAPPED_EVENT'] = '100m Hurdles'

mask = (athletes['EVENT'].str.contains(r'^Hurdles$', na=False) & athletes['DISTANCE'].str.contains(r'110', na=False) & athletes['DIVISION'].str.contains(r'OPEN|Open', na=False) & athletes['GENDER'].str.contains(r'Male', na=False))
athletes.loc[mask, 'MAPPED_EVENT'] = '110m Hurdles'
mask = (athletes['EVENT'].str.contains(r'^Hurdles$', na=False) & athletes['DISTANCE'].str.contains(r'110', na=False) & athletes['EVENT_CLASS'].str.contains(r'0.838|0.84', na=False) & athletes['GENDER'].str.contains(r'Female', na=False))
athletes.loc[mask, 'MAPPED_EVENT'] = '110m Hurdles'
mask = ((athletes['EVENT'].str.contains(r'110m Hurdles|110m hurdles', na=False)) 
         & ((athletes['EVENT_CLASS'].str.contains('None', na=False))|(athletes['EVENT_CLASS']==np.nan)|(athletes['EVENT_CLASS']=='')) 
         & athletes['REGION'].str.contains(r'International', na=False) & (athletes['DIVISION'].str.contains(r'None', na=False)))  # this is the correct syntax
athletes.loc[mask, 'MAPPED_EVENT'] = '110m Hurdles'

# Using np.where instead

#athletes['MAPPED_EVENT'] = np.where(((athletes['EVENT']=='110m hurdles|110m Hurdles') & ((athletes['EVENT_CLASS']=='')|athletes['EVENT_CLASS']=='None') & (athletes['REGION']=='International')), '110m Hurdles', ' ')   
                                


mask = (athletes['EVENT'].str.contains(r'^Hurdles$', na=False) & athletes['DISTANCE'].str.contains(r'110', na=False) & athletes['EVENT_CLASS'].str.contains(r'1.067', na=False))
athletes.loc[mask, 'MAPPED_EVENT'] = '110m Hurdles'
mask = (athletes['EVENT'].str.contains(r'^Hurdles$', na=False) & athletes['DISTANCE'].str.contains(r'110', na=False) & athletes['EVENT_CLASS'].str.contains(r'0.914', na=False) & athletes['GENDER'].str.contains(r'Female', na=False))
athletes.loc[mask, 'MAPPED_EVENT'] = '110m Hurdles'
#mask = (athletes['EVENT'].str.contains(r'^Hurdles$', na=False) & athletes['DISTANCE'].str.contains(r'110', na=False) & athletes['EVENT_CLASS'].str.contains(' ', na=True))
#athletes.loc[mask, 'MAPPED_EVENT'] = '110m Hurdles'







#mask = (athletes['EVENT'].str.contains(r'^400m\sHurdles$', na=False) & athletes['EVENT_CLASS'].str.contains(r'', na=False))
#athletes.loc[mask, 'MAPPED_EVENT'] = '400m Hurdles'
#mask = athletes['EVENT'].str.contains(r'400m\sHurdles\s\(0.840m\)', na=True)
#athletes.loc[mask, 'MAPPED_EVENT'] = ' '
mask = (athletes['EVENT'].str.contains(r'^Hurdles$', na=False) & athletes['DISTANCE'].str.contains(r'400', na=False) & athletes['EVENT_CLASS'].str.contains(r'0.84|84cm', na=False) & athletes['GENDER'].str.contains(r'Female', na=False))
athletes.loc[mask, 'MAPPED_EVENT'] = '400m Hurdles'


#mask = athletes['EVENT'].str.contains(r'400\sMeter\sHurdles\s\(0\.914m\)', na=True)
#athletes.loc[mask, 'MAPPED_EVENT'] = '400m Hurdles'
#mask = athletes['EVENT'].str.contains(r'400m\sHurdles\s\(0\.914m\)', na=True)
#athletes.loc[mask, 'MAPPED_EVENT'] = '400m Hurdles'
mask = (athletes['EVENT'].str.contains(r'^Hurdles$', na=False) & athletes['DISTANCE'].str.contains(r'400', na=False) & athletes['EVENT_CLASS'].str.contains(r'0.914', na=False))
athletes.loc[mask, 'MAPPED_EVENT'] = '400m Hurdles'
mask = (athletes['EVENT'].str.contains(r'^Hurdles$', na=False) & athletes['DISTANCE'].str.contains(r'400', na=False) & athletes['DIVISION'].str.contains(r'Open|Invitational', na=False))
athletes.loc[mask, 'MAPPED_EVENT'] = '400m Hurdles'

mask = (athletes['EVENT'].str.contains(r'400m Hurdles', na=False) & athletes['EVENT_CLASS'].str.contains(r'0.914', na=False)  & athletes['GENDER'].str.contains(r'Male', na=False))
athletes.loc[mask, 'MAPPED_EVENT'] = '400m Hurdles'


#mask = athletes['EVENT'].str.contains(r'^400\sMeter\sHurdles\s\(0\.762m\)$', na=True)
#athletes.loc[mask, 'MAPPED_EVENT'] = '400m Hurdles'
##mask = athletes['EVENT'].str.contains(r'^400m\sHurdles\s\(0\.762m\)$', na=True)
#athletes.loc[mask, 'MAPPED_EVENT'] = '400m Hurdles'
mask = (athletes['EVENT'].str.contains(r'Hurdles', na=False) & athletes['DISTANCE'].str.contains(r'400', na=False) & athletes['EVENT_CLASS'].str.contains(r'0.762', na=False)& athletes['GENDER'].str.contains(r'Female', na=False))
athletes.loc[mask, 'MAPPED_EVENT'] = '400m Hurdles'
mask = (athletes['EVENT'].str.contains(r'400m Hurdles', na=False) & athletes['EVENT_CLASS'].str.contains(r'0.762m', na=False) & athletes['GENDER'].str.contains(r'Female', na=False))
athletes.loc[mask, 'MAPPED_EVENT'] = '400m Hurdles'
mask = (athletes['EVENT'].str.contains(r'400m Hurdles|400m hurdles', na=False) & athletes['EVENT_CLASS'].str.contains('None|0.762|0.914', na=False) & athletes['REGION'].str.contains(r'International', na=False))  # this is the correct syntax
athletes.loc[mask, 'MAPPED_EVENT'] = '400m Hurdles'


# Throws


#mask = ((athletes['EVENT'].str.contains(r'Javelin\sThrow\s\(600g\)', na=True, regex=True)) & (athletes['GENDER']=='Female'))
#athletes.loc[mask, 'MAPPED_EVENT'] = 'Javelin Throw'
#mask = ((athletes['EVENT'].str.contains(r'Javelin\sThrow\s600g', na=True, regex=True)) & (athletes['GENDER']=='Female'))
#athletes.loc[mask, 'MAPPED_EVENT'] = 'Javelin Throw'
#mask = ((athletes['EVENT'].str.contains(r'Javelin\sThrow\s600g\)', na=True, regex=True)) & (athletes['GENDER']=='Female'))
#athletes.loc[mask, 'MAPPED_EVENT'] = 'Javelin Throw'
#mask = athletes['EVENT'].str.contains(r'Javelin\sThrow\s\(800g\)', na=True, regex=True)
#athletes.loc[mask, 'MAPPED_EVENT'] = 'Javelin Throw'

mask = (athletes['EVENT'].str.contains(r'Javelin Throw|Javelin throw', na=False) & athletes['EVENT_CLASS'].str.contains(r'600g', na=False) & athletes['GENDER'].str.contains(r'Female', na=False))
athletes.loc[mask, 'MAPPED_EVENT'] = 'Javelin Throw'
mask = (athletes['EVENT'].str.contains(r'Javelin Throw|Javelin throw', na=False) & athletes['EVENT_CLASS'].str.contains(r'800g', na=False) & athletes['GENDER'].str.contains(r'Male', na=False))
athletes.loc[mask, 'MAPPED_EVENT'] = 'Javelin Throw'


mask = (athletes['EVENT'].str.contains(r'Shot Put|Shot put', na=False, regex=True) & (athletes['GENDER']=='Female') & (athletes['EVENT_CLASS']=='4kg'))# there are some additional characters after Put
athletes.loc[mask, 'MAPPED_EVENT'] = 'Shot Put'


#mask = athletes['EVENT'].str.contains(r'Women\sShot\sPut\s4kg\sOpen', na=True, regex=True)
#athletes.loc[mask, 'MAPPED_EVENT'] = 'Shot Put'
#mask = athletes['EVENT'].str.contains(r'Men\sShot\sPut\s4kg\sOPEN', na=True, regex=True)
#athletes.loc[mask, 'MAPPED_EVENT'] = 'Shot put'


#mask = athletes['EVENT'].str.contains(r'Women\sShot\sPut\s\(4kg\)', na=True, regex=True)
#athletes.loc[mask, 'MAPPED_EVENT'] = 'Shot Put'
#mask = athletes['EVENT'].str.contains(r'Shot\sPut\s\(7\.26kg\)', na=True, regex=True)
#athletes.loc[mask, 'MAPPED_EVENT'] = 'Shot Put'
#mask = athletes['EVENT'].str.contains(r'Shot\sPut\s7\.26kg\sOpen', na=True, regex=True)
#athletes.loc[mask, 'MAPPED_EVENT'] = 'Shot Put'
mask = (athletes['EVENT'].str.contains(r'Shot Put|Shot put', na=False) & (athletes['GENDER']=='Male') & (athletes['EVENT_CLASS'].str.contains(r'7.26', na=False)))# there are some additional characters after Put
athletes.loc[mask, 'MAPPED_EVENT'] = 'Shot Put'
mask = (athletes['EVENT'].str.contains(r'Shot Put|Shot put', na=False) & (athletes['GENDER']=='Female') & (athletes['EVENT_CLASS'].str.contains(r'4', na=False)))# there are some additional characters after Put
athletes.loc[mask, 'MAPPED_EVENT'] = 'Shot Put'

mask = (athletes['EVENT'].str.contains(r'Shot Put|Shot put', na=False) & (athletes['DIVISION'].str.contains(r'OPEN|Open', na=False)))# there are some additional characters after Put
athletes.loc[mask, 'MAPPED_EVENT'] = 'Shot Put'



#mask = (athletes['EVENT'].str.contains(r'Hammer\sThrow\s\(4kg\)', na=True) & (athletes['GENDER']=='Female'))
#athletes.loc[mask, 'MAPPED_EVENT'] = 'Hammer Throw'
#mask = athletes['EVENT'].str.contains(r'Hammer\sThrow\s\(7\.26kg\)', na=True)
#athletes.loc[mask, 'MAPPED_EVENT'] = 'Hammer Throw'
mask = (athletes['EVENT'].str.contains(r'Hammer Throw|Hammer throw', na=False) & athletes['EVENT_CLASS'].str.contains(r'7.26kg', na=False))
athletes.loc[mask, 'MAPPED_EVENT'] = 'Hammer Throw'
mask = (athletes['EVENT'].str.contains(r'Hammer Throw|Hammer throw', na=False) & athletes['EVENT_CLASS'].str.contains(r'4.00kg', na=False))
athletes.loc[mask, 'MAPPED_EVENT'] = 'Hammer Throw'



#mask = ((athletes['EVENT'].str.contains(r'Discus\sThrow\s\(1kg\)', na=False)) & (athletes['GENDER']=='Female'))
#athletes.loc[mask, 'MAPPED_EVENT'] = 'Discus Throw'

#mask = ((athletes['EVENT'].str.contains(r'Discus\s\(1\.00kg\)', na=False))  & (athletes['GENDER']=='Female'))
#athletes.loc[mask, 'MAPPED_EVENT'] = 'Discus Throw'


#mask = athletes['EVENT'].str.contains(r'Discus\sThrow\s\(2kg\)', na=False)
#athletes.loc[mask, 'MAPPED_EVENT'] = 'Discus Throw'
#mask = ((athletes['EVENT'].str.contains(r'Discus\sThrow\s\(1kg\)', na=False)) & (athletes['GENDER']=='Female'))
#athletes.loc[mask, 'MAPPED_EVENT'] = 'Discus Throw'
mask = (athletes['EVENT'].str.contains(r'Discus Throw|Discus|Discus throw', na=False) & athletes['EVENT_CLASS'].str.contains(r'2kg|2.00kg', na=False) & athletes['GENDER'].str.contains(r'Male', na=False))
athletes.loc[mask, 'MAPPED_EVENT'] = 'Discus Throw'
mask = (athletes['EVENT'].str.contains(r'Discus Throw|Discus|Discus throw', na=False) & athletes['EVENT_CLASS'].str.contains(r'1kg|1.00kg', na=False) & athletes['GENDER'].str.contains(r'Female', na=False))
athletes.loc[mask, 'MAPPED_EVENT'] = 'Discus Throw'

#mask = (athletes['EVENT'].str.contains(r'Discus Throw|Discus throw', na=False) & athletes['REGION'].str.contains(r'International', na=False))
#athletes.loc[mask, 'MAPPED_EVENT'] = 'Discus Throw'
mask = (athletes['EVENT'].str.contains(r'Discus Throw|Discus throw', na=False) & athletes['DIVISION'].str.contains(r'OPEN|Open', na=False))
athletes.loc[mask, 'MAPPED_EVENT'] = 'Discus Throw'
mask = (athletes['EVENT'].str.contains(r'Discus Throw|Discus throw', na=False) & athletes['DIVISION'].str.contains(r'None', na=False) & athletes['EVENT_CLASS'].str.contains(r'None', na=False))
athletes.loc[mask, 'MAPPED_EVENT'] = 'Discus Throw'



# Jumps

mask = athletes['EVENT'].str.contains(r'High Jump', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = 'High Jump'

mask = athletes['EVENT'].str.contains(r'^Long\sJump$', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = 'Long Jump'
mask = athletes['EVENT'].str.contains(r'Long Jump Open', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = 'Long Jump'
mask = athletes['EVENT'].str.contains(r'Long Jump Trial', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = 'Long Jump'


mask = athletes['EVENT'].str.contains(r'Triple Jump', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = 'Triple Jump'
mask = athletes['EVENT'].str.contains(r'Pole Vault', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = 'Pole Vault'
mask = athletes['EVENT'].str.contains(r'High jump', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = 'High Jump'
mask = athletes['EVENT'].str.contains(r'Long jump', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = 'Long Jump'
mask = athletes['EVENT'].str.contains(r'Triple jump', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = 'Triple Jump'
mask = athletes['EVENT'].str.contains(r'^Pole\svault$', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = 'Pole Vault'

# Steeplechase

mask = athletes['EVENT'].str.contains(r'2000m S/C', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = '2000m Steeplechase'
mask = athletes['EVENT'].str.contains(r'2000m steeplechase', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = '2000m Steeplechase'
mask = athletes['EVENT'].str.contains(r'2000 Meter Steeplechase', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = '2000m Steeplechase'
mask = (athletes['EVENT'].str.contains(r'Steeplechase', na=False) & athletes['DISTANCE'].str.contains(r'3000', na=False)  & athletes['EVENT_CLASS'].str.contains(r'0.914', na=False))
athletes.loc[mask, 'MAPPED_EVENT'] = '3000m Steeplechase'
mask = (athletes['EVENT'].str.contains(r'Steeplechase', na=False) & athletes['DISTANCE'].str.contains(r'3000', na=False)  & athletes['DIVISION'].str.contains(r'OPEN|Open', na=False))
athletes.loc[mask, 'MAPPED_EVENT'] = '3000m Steeplechase'


# Marathon

mask = athletes['EVENT'].str.contains(r'^Marathon$', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = 'Marathon'
mask = athletes['EVENT'].str.contains(r'^Half\sMarathon$', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = 'Half Marathon'
mask = athletes['EVENT'].str.contains(r'^Half\smarathon$', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = 'Half Marathon'


# Walk

#mask = athletes['EVENT'].str.contains(r'1500m Race Walk', na=True)
#athletes.loc[mask, 'MAPPED_EVENT'] = '1500m Race Walk'
#mask = athletes['EVENT'].str.contains(r'1500 Meter Race Walk', na=True)
#athletes.loc[mask, 'MAPPED_EVENT'] = '1500m Race Walk'
#mask = (athletes['EVENT'].str.contains(r'Race Walk', na=False) & athletes['DISTANCE'].str.contains(r'1500', na=False))
#athletes.loc[mask, 'MAPPED_EVENT'] = '1500m Race Walk'


#mask = athletes['EVENT'].str.contains(r'3000m Race Walk', na=True)
#athletes.loc[mask, 'MAPPED_EVENT'] = '3000m Race Walk'
#mask = athletes['EVENT'].str.contains(r'3000 Meter Race Walk', na=True)
#athletes.loc[mask, 'MAPPED_EVENT'] = '3000m Race Walk'
#mask = (athletes['EVENT'].str.contains(r'Race Walk', na=False) & athletes['DISTANCE'].str.contains(r'3000', na=False))
#athletes.loc[mask, 'MAPPED_EVENT'] = '3000m Race Walk'


#mask = athletes['EVENT'].str.contains(r'5000 Meter Race Walk', na=True)
#athletes.loc[mask, 'MAPPED_EVENT'] = '5000m Race Walk'
#mask = athletes['EVENT'].str.contains(r'5000m Race Walk', na=True)
#athletes.loc[mask, 'MAPPED_EVENT'] = '5000m Race Walk'
#mask = (athletes['EVENT'].str.contains(r'Race Walk', na=False) & athletes['DISTANCE'].str.contains(r'5000', na=False))
#athletes.loc[mask, 'MAPPED_EVENT'] = '3000m Race Walk'


#mask = athletes['EVENT'].str.contains(r'10000 Meter Race Walk', na=True)
#athletes.loc[mask, 'MAPPED_EVENT'] = '10000m Race Walk'

# Relay

mask = athletes['EVENT'].str.contains(r'4x80m Relay', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = '4 x 80m'
mask = athletes['EVENT'].str.contains(r'^4\sx\s100m$', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = '4 x 100m'
mask = athletes['EVENT'].str.contains(r'4x100m Relay', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = '4 x 100m'
mask = athletes['EVENT'].str.contains(r'4 X 100m Relay', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = '4 x 100m'
mask = (athletes['EVENT'].str.contains(r'Relay', na=False) & athletes['DISTANCE'].str.contains(r'400', na=False))
athletes.loc[mask, 'MAPPED_EVENT'] = '4 x 100m'

mask = athletes['EVENT'].str.contains(r'4x400m Relay', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = '4 x 400m'
mask = athletes['EVENT'].str.contains(r'4 X 400m Relay', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = '4 x 400m'
mask = athletes['EVENT'].str.contains(r'4x100 Meter Relay', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = '4 x 100m'
mask = (athletes['EVENT'].str.contains(r'Relay', na=False) & athletes['DISTANCE'].str.contains(r'1600', na=False))
athletes.loc[mask, 'MAPPED_EVENT'] = '4 x 400m'
mask = athletes['EVENT'].str.contains(r'^4\sx\s400m$', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = '4 x 400m'

# Decathlon/Heptathlon

mask = athletes['EVENT'].str.contains(r'^Heptathlon$', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = 'Heptathlon'
mask = athletes['EVENT'].str.contains(r'^Decathlon$', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = 'Decathlon'
mask = athletes['EVENT'].str.contains(r'Heptathlon', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = 'Heptathlon'
mask = athletes['EVENT'].str.contains(r'Decathlon', na=True)
athletes.loc[mask, 'MAPPED_EVENT'] = 'Decathlon'

/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].astype(str)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\xa0', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('[\x00-\x1f\x7f-\x9f]', '', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\r', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\n', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.strip()
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].astype(str)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\xa0', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('[\x00-\x1f\x7f-\x9f]', '', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\r', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\n', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.strip()
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].astype(str)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\xa0', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('[\x00-\x1f\x7f-\x9f]', '', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\r', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\n', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.strip()
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].astype(str)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\xa0', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('[\x00-\x1f\x7f-\x9f]', '', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\r', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\n', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.strip()
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].astype(str)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\xa0', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('[\x00-\x1f\x7f-\x9f]', '', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\r', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\n', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.strip()
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].astype(str)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\xa0', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('[\x00-\x1f\x7f-\x9f]', '', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\r', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\n', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.strip()
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].astype(str)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\xa0', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('[\x00-\x1f\x7f-\x9f]', '', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\r', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\n', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.strip()
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].astype(str)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\xa0', ' ', regex=True)

/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('[\x00-\x1f\x7f-\x9f]', '', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\r', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\n', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.strip()
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].astype(str)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\xa0', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('[\x00-\x1f\x7f-\x9f]', '', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\r', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\n', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.strip()
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].astype(str)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\xa0', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('[\x00-\x1f\x7f-\x9f]', '', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\r', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\n', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.strip()
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].astype(str)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\xa0', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('[\x00-\x1f\x7f-\x9f]', '', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\r', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\n', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.strip()
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].astype(str)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\xa0', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('[\x00-\x1f\x7f-\x9f]', '', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\r', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\n', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.strip()
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].astype(str)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\xa0', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('[\x00-\x1f\x7f-\x9f]', '', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\r', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\n', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.strip()
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].astype(str)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\xa0', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('[\x00-\x1f\x7f-\x9f]', '', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\r', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\n', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.strip()
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].astype(str)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\xa0', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('[\x00-\x1f\x7f-\x9f]', '', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\r', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\n', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.strip()
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:4: SettingWithCopyWarning:

/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('[\x00-\x1f\x7f-\x9f]', '', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\r', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\n', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.strip()
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].astype(str)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\xa0', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('[\x00-\x1f\x7f-\x9f]', '', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\r', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\n', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.strip()
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].astype(str)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\xa0', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('[\x00-\x1f\x7f-\x9f]', '', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\r', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.replace('\n', ' ', regex=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes[col] = athletes[col].str.strip()
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_32475/2824772889.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  athletes['MAPPED_EVENT']=''

In [1147]:
athletes[(athletes['EVENT']=='110m Hurdles') & (athletes['EVENT_CLASS']=='None')]

#athletes[(athletes['EVENT']=='110m Hurdles')].tail(50)

,NAME,RESULT,TEAM,AGE,COMPETITION_RANK,DIVISION,EVENT,DISTANCE,EVENT_CLASS,UNIQUE_ID,DOB,NATIONALITY,WIND,CATEGORY_EVENT,GENDER,COMPETITION,YEAR,REGION,MAPPED_EVENT
1932,Chen Xiang Ang,14.32,None,None,5,None,110m Hurdles,None,None,None,3-Jul-94,SGP,2,Hurdles,Male,International Track Meet,2024,International,110m Hurdles
1933,Chen Xiang Ang,14.14,None,None,6,None,110m Hurdles,None,None,None,3-Jul-94,SGP,0.2,Hurdles,Male,Liese Prokop Memorial,2024,International,110m Hurdles
1934,Chen Xiang Ang,14.09w,None,None,1,None,110m Hurdles,None,None,None,3-Jul-94,SGP,5.1,Hurdles,Male,Lundakvällen,2024,International,110m Hurdles
1935,Chen Xiang Ang,14.37,None,None,8,None,110m Hurdles,None,None,None,3-Jul-94,SGP,0.8,Hurdles,Male,Pärnu Beach Stadium Meeting,2024,International,110m Hurdles
1936,Chen Xiang Ang,14.25w,None,None,6,None,110m Hurdles,None,None,None,3-Jul-94,SGP,2.1,Hurdles,Male,Raiffeisen AUSTRIAN OPEN Eisenstadt,2024,International,110m Hurdles
1937,Chen Xiang Ang,14.26,None,None,2,None,110m Hurdles,None,None,None,3-Jul-94,SGP,1,Hurdles,Male,Venizelia - Chania International Meeting,2024,International,110m Hurdles
1991,Chen Xiang Ang,14.2,None,None,3,None,110m Hurdles,None,None,None,3-Jul-94,SGP,-2.1,Hurdles,Male,AtleticaGeneve,2024,International,110m Hurdles
2009,Chen Xiang Ang,14.3,None,None,3,None,110m Hurdles,None,None,None,3-Jul-94,SGP,-0.9,Hurdles,Male,Ter Specke Bokaal,2024,International,110m Hurdles
2010,Chen Xiang Ang,14.64,None,None,3,None,110m Hurdles,None,None,None,3-Jul-94,SGP,-0.9,Hurdles,Male,Ter Specke Bokaal,2024,International,110m Hurdles
2031,Chen Xiang Ang,14.3,None,None,4,None,110m Hurdles,None,None,None,3-Jul-94,SGP,0.5,Hurdles,Male,Harry Schulting Games,2024,International,110m Hurdles
2032,Chen Xiang Ang,14.26,None,None,5,None,110m Hurdles,None,None,None,3-Jul-94,SGP,0.2,Hurdles,Male,Harry Schulting Games,2024,International,110m Hurdles
2085,Lucas Le Cong Fun,14.32,None,None,1,None,110m Hurdles,None,None,None,11-Jan-06,SGP,None,Hurdles,Male,National U23 Championships,2024,International,110m Hurdles

In [1148]:
athletes[athletes['MAPPED_EVENT']=='400m Hurdles']

,NAME,RESULT,TEAM,AGE,COMPETITION_RANK,DIVISION,EVENT,DISTANCE,EVENT_CLASS,UNIQUE_ID,DOB,NATIONALITY,WIND,CATEGORY_EVENT,GENDER,COMPETITION,YEAR,REGION,MAPPED_EVENT
109,"Kumaraswamy, K.Balu",DNS,INDIA,50,0,Masters,Hurdles,400,(0.914m),,nan,,,Hurdles,Male,SMTFA Track & Field Championship 2024,2024,Local,400m Hurdles
153,"Vaghela, Rohit Kumar Mangal S",DNS,INDIA,40,0,Masters,Hurdles,400,(0.914m),nan,9/7/83,nan,,Hurdles,Male,SMTFA Track & Field Championship 2024,2024,Local,400m Hurdles
317,"Ng, Lucas Wei Sheng",DNS,SAFSA,34,0,Masters,Hurdles,400,(0.914m),nan,18/7/89,nan,,Hurdles,Male,SMTFA Track & Field Championship 2024,2024,Local,400m Hurdles
379,"., Augustino",01:07.7,SMTFA,45,1,Masters,Hurdles,400,(0.914m),nan,5/8/78,nan,,Hurdles,Male,SMTFA Track & Field Championship 2024,2024,Local,400m Hurdles
398,"Liu, Ada",DNS,SMTFA,50,0,Masters,Hurdles,400,(0.762m),nan,16/4/74,nan,,Hurdles,Female,SMTFA Track & Field Championship 2024,2024,Local,400m Hurdles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21231,"Ng, Silas",01:06.6,Singapore Institute of Managem,24,2,Invitational,Hurdles,400,,nan,4/9/00,nan,,Hurdles,Male,SA Allcomers Meet 3,2024,Local,400m Hurdles
21232,"Ng, Silas",01:07.0,Singapore Institute of Managem,24,3,Open,Hurdles,400,(0.914m),nan,4/9/00,nan,,Hurdles,Male,SA Allcomers Meet 2,2024,Local,400m Hurdles
21376,"BIN MD, MOHAMMAD IRFAN QABEE",DNS,Cougars Athletic Association,25,0,Open,Hurdles,400,,nan,7/2/99,nan,,Hurdles,Male,Pesta Sukan Athletics 2024,2024,Local,400m Hurdles
21390,"Clayton, Caleb",59.43,National University Singapore,25,1,Open,Hurdles,400,(0.914m),nan,1/10/99,nan,,Hurdles,Male,SA Allcomers Meet 2,2024,Local,400m Hurdles
21403,"Lee, Kay Heng, Kelvin",DNS,Singapore Institute of Managem,25,0,Open,Hurdles,400,(0.914m),K785B99,21/5/99,nan,,Hurdles,Male,54th SA Inter Club Championships 2024,2024,Local,400m Hurdles

In [1149]:
os.chdir('/Users/veesheenyuen/Desktop/DataScience/SAA/OCTC/')


athletes.to_csv('athletes_post_map_prod.csv', sep=',', encoding='utf-8-sig', index=False)

In [200]:
#credentials = service_account.Credentials.from_service_account_file(
#    '/Users/veesheenyuen/Desktop/DataScience/Keys/saa-analytics-7c8937b70609.json',
#)

#sql="""
#SELECT NAME, RESULT, RANK, EVENT, CATEGORY_EVENT, GENDER, COMPETITION, STAGE
#FROM `saa-analytics.results.saa_full`
#WHERE STAGE='Final' AND COMPETITION='SEA Game AND RANK='3'
#"""

#benchmarks = pandas_gbq.read_gbq(sql, project_id="saa-analytics", credentials=credentials)

In [202]:
import pandas_gbq
from google.oauth2 import service_account


credentials = service_account.Credentials.from_service_account_file(
    '/Users/veesheenyuen/Desktop/DataScience/Keys/saa-analytics-7c8937b70609.json',
)

sql="""
SELECT NAME, RESULT, RANK, EVENT, CATEGORY_EVENT, GENDER, COMPETITION, STAGE
FROM `saa-analytics.benchmarks.saa_benchmarks_prod`
WHERE YEAR='2023' AND COMPETITION='Southeast Asian Games' AND RANK='3'
"""

SEAG = pandas_gbq.read_gbq(sql, project_id="saa-analytics", credentials=credentials)

Downloading: 100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████|

In [203]:
SEAG

,NAME,RESULT,RANK,EVENT,CATEGORY_EVENT,GENDER,COMPETITION,STAGE
0,"{0: '\xa0', 1: ' Jonathan Nyepa, Khairul Hafiz...",39.36,3,4 x 100m,Relay,Male,Southeast Asian Games,None
1,"{0: '\xa0', 1: ' Muhammad Firdaus Bin Mohamad ...",03:08.8,3,4 x 400m,Relay,Male,Southeast Asian Games,None
2,"{0: '\xa0', 1: ' Azreen Nabila Alias, Nur Afri...",44.58,3,4 x 100m,Relay,Female,Southeast Asian Games,None
3,"{0: '\xa0', 1: ' Sukanya Janchaona, Benny Nont...",03:39.3,3,4 x 400m,Relay,Female,Southeast Asian Games,None
4,Mark Lee,21.44,3,200m,Sprint,Male,Southeast Asian Games,Heats
...,...,...,...,...,...,...,...,...
71,Janry Ubas,32.35,3,Discus Throw,Throw,Male,Southeast Asian Games,None
72,Janry Ubas,48.56,3,Javelin Throw,Throw,Male,Southeast Asian Games,None
73,Sarah Dequinan,26.15,3,200m,Sprint,Female,Southeast Asian Games,None
74,Sarah Dequinan,02:29.9,3,800m,Mid,Female,Southeast Asian Games,None
75,Sarah Dequinan,5.74,3,Long Jump,Jump,Female,Southeast Asian Games,None

In [204]:
benchmarks=SEAG

In [205]:
benchmarks.rename(columns = {'RESULT':'BENCHMARK'}, inplace = True)

In [206]:
benchmarks.drop(['NAME', 'RANK', 'CATEGORY_EVENT', 'COMPETITION', 'STAGE'], axis=1, inplace=True)

In [207]:
benchmarks

   BENCHMARK          EVENT  GENDER
0      39.36       4 x 100m    Male
1    03:08.8       4 x 400m    Male
2      44.58       4 x 100m  Female
3    03:39.3       4 x 400m  Female
4      21.44           200m    Male
..       ...            ...     ...
71     32.35   Discus Throw    Male
72     48.56  Javelin Throw    Male
73     26.15           200m  Female
74   02:29.9           800m  Female
75      5.74      Long Jump  Female

[76 rows x 3 columns]

In [208]:
# Converts any time format into seconds

def convert_time(i, string, metric):

    global output
    
    l=['discus', 'throw', 'jump', 'vault', 'shot']
        
    string=string.lower()
    
    print('metric', metric)
    
    try:
        
        if 'w' in metric:  # skip marks with illegal wind speeds
            
            print('W', metric)
            
            output=''
            
        else:
            
    
            if any(s in string for s in l)==True:
            
                if 'm' in metric:
            
                    metric=metric.replace('m', '')
                    output=float(str(metric))
            
                elif 'GR' in metric:
            
                    metric=metric.replace('GR', '')
                    output=float(str(metric))
                
          #  elif 'w' in metric:
                
               
           #     metric1=metric.replace('w', '')
                
           #     output=float(str(metric1))
                
                else:
    
                    output=float(str(metric))
        
        #elif 'w' in metric:
            
                
         #       metric1=metric.replace('w', '')
                             
         #       output=float(str(metric1))
                
                
        
            else:
        
                searchstring = ":"
                searchstring2 = "."
                substring=str(metric)
                count = substring.count(searchstring)
                count2 = substring.count(searchstring2)
            
                if count==0:
                
                    output=float(substring)
            
            
      #      elif 'marathon' in string and count==2:
                
      #          print('HERE', metric)
                
      #          metric = metric.replace(":", ".", 2)
                
      #          print('METRIC', metric)
                
       #         h,m,s = metric.split(':')            

       #         output = float(datetime.timedelta(hours=int(h),minutes=int(m),seconds=float(s)).total_seconds())

               
             
                elif (type(metric)==datetime.time or type(metric)==datetime.datetime):
                
                                                
                    time=str(metric)
                    h, m ,s = time.split(':')
                    output = float(datetime.timedelta(hours=int(h),minutes=int(m),seconds=float(s)).total_seconds())
            
                                
                elif (count==1 and count2==1):
            
                    m,s = metric.split(':')
                    output = float(datetime.timedelta(minutes=int(m),seconds=float(s)).total_seconds())
                     
                elif (count==1 and count2==2):
                
            
                    metric = metric.replace(".", ":", 1)
            
                    h,m,s = metric.split(':')            
                    output = float(datetime.timedelta(hours=int(h),minutes=int(m),seconds=float(s)).total_seconds())
                
        
                elif (count==2 and count2==0):
                
            
                    h,m,s = metric.split(':')
                    output = float(datetime.timedelta(hours=int(h),minutes=int(m),seconds=float(s)).total_seconds())
  
            

    except:
        
        pass
                
    return output

In [209]:
for i in range(len(benchmarks)):
        
    rowIndex = benchmarks.index[i]

    input_string=benchmarks.iloc[rowIndex,1]
    
    metric=benchmarks.iloc[rowIndex,0]
    
    if metric==None:
        continue
        
    out = convert_time(i, input_string, metric)
     
    benchmarks.loc[rowIndex, 'Metric'] = out

metric 39.36
metric 03:08.8
metric 44.58
metric 03:39.3
metric 21.44
metric 46.63
metric 31:25.5
metric 08:55.0
metric 13.85
metric 50.75
metric 2.15
metric 17.3
metric 24.2
metric 24.13
metric 53.84
metric 04:26.3
metric 35:31.0
metric 59.09
metric 13.46
metric 15.46
metric 21.02
metric 21.26
metric 47.76
metric 01:53.9
metric 01:54.9
metric 01:53.3
metric 14:43.4
metric 50.02
metric 66.2
metric 6891
metric 11.69
metric 02:09.2
metric 17:13.6
metric 11:00.9
metric 13.92
metric 1.73
metric 45.08
metric 5253
metric 11.16
metric 1.84
metric 4.2
metric 7.13
metric 14.76
metric 1.69
metric 10.59
metric 40.59
metric 10.45
metric 10.45
metric 10.66
metric 10.52
metric 47.17
metric 03:59.4
metric 54.76
metric 53.71
metric 5.2
metric 7.62
metric 15.7
metric 59.76
metric 11.75
metric 12.04
metric 23.6
metric 13.59
metric 14.23
metric 4
metric 6.02
metric 14.44
metric 49.61
metric 48.31
metric 54.08
metric 05:51.8
metric 10.95
metric 32.35
metric 48.56
metric 26.15
metric 02:29.9
metric 5.74

In [210]:
benchmarks

   BENCHMARK          EVENT  GENDER  Metric
0      39.36       4 x 100m    Male   39.36
1    03:08.8       4 x 400m    Male  188.80
2      44.58       4 x 100m  Female   44.58
3    03:39.3       4 x 400m  Female  219.30
4      21.44           200m    Male   21.44
..       ...            ...     ...     ...
71     32.35   Discus Throw    Male   32.35
72     48.56  Javelin Throw    Male   48.56
73     26.15           200m  Female   26.15
74   02:29.9           800m  Female  149.90
75      5.74      Long Jump  Female    5.74

[76 rows x 4 columns]

In [211]:
mask = benchmarks['EVENT'].str.contains(r'jump|throw|Pole|put|Jump|Throw|pole|Put', na=True)

benchmarks.loc[mask, '2%']=benchmarks['Metric']*0.98
benchmarks.loc[mask, '3.5%']=benchmarks['Metric']*0.965
benchmarks.loc[mask, '5%']=benchmarks['Metric']*0.95

benchmarks.loc[~mask, '2%']=benchmarks['Metric']*1.02
benchmarks.loc[~mask, '3.5%']=benchmarks['Metric']*1.035
benchmarks.loc[~mask, '5%']=benchmarks['Metric']*1.05


#benchmarks.iloc[5, [1]]='10000m run'
#benchmarks.iloc[28, [1]]='10000m run'
#benchmarks.iloc[26, [1]]='1500m'

In [212]:
benchmarks['MAPPED_EVENT']=benchmarks['EVENT'].str.strip()

In [213]:
benchmarks

,BENCHMARK,EVENT,GENDER,Metric,2%,3.5%,5%,MAPPED_EVENT
0,39.36,4 x 100m,Male,39.36,40.1472,40.73760,41.3280,4 x 100m
1,03:08.8,4 x 400m,Male,188.80,192.5760,195.40800,198.2400,4 x 400m
2,44.58,4 x 100m,Female,44.58,45.4716,46.14030,46.8090,4 x 100m
3,03:39.3,4 x 400m,Female,219.30,223.6860,226.97550,230.2650,4 x 400m
4,21.44,200m,Male,21.44,21.8688,22.19040,22.5120,200m
...,...,...,...,...,...,...,...,...
71,32.35,Discus Throw,Male,32.35,31.7030,31.21775,30.7325,Discus Throw
72,48.56,Javelin Throw,Male,48.56,47.5888,46.86040,46.1320,Javelin Throw
73,26.15,200m,Female,26.15,26.6730,27.06525,27.4575,200m
74,02:29.9,800m,Female,149.90,152.8980,155.14650,157.3950,800m
75,5.74,Long Jump,Female,5.74,5.6252,5.53910,5.4530,Long Jump

In [214]:
athletes

,NAME,RESULT,TEAM,AGE,COMPETITION_RANK,EVENT,UNIQUE_ID,DOB,NATIONALITY,WIND,CATEGORY_EVENT,GENDER,COMPETITION,YEAR,REGION,MAPPED_EVENT
0,"FUN, LE CONG LUCAS",15.35,Singapore,18,1,Hurdles,,1/11/06,,-0.4,Hurdles,Male,SA Trial 19 Jun 2024,2024,Local,
1,"TAN, DARYL HONG AN",7.16,Singapore,23,1,Dash,,18/12/01,,-0.5,Sprint,Male,SA Trial 19 Jun 2024,2024,Local,
2,"HENG, FU HONG BRANDON",NH,Singapore,26,0,High Jump,,13/12/98,,,Jump,Male,SA Trial 19 Jun 2024,2024,Local,High jump
3,"Toh, Tedd",6.55m,Singapore,0,1,Long Jump,,nan,,-0.3,Jump,Male,SA Trial 19 Jun 2024,2024,Local,Long jump
4,"CHEW, YIU TSE JADE",5.02m,Singapore,20,1,Long Jump,,14/1/04,,-0.3,Jump,Female,SA Trial 19 Jun 2024,2024,Local,Long jump
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21960,"Yeo, Xin Ying Natalie Gra",05:47.1,National Junior College,13,1,Run,nan,18/8/11,nan,,Mid,Female,SA Allcomers Meet 1,2024,Local,
21961,"., Zachery Caleb Wong K",59.15,Unity Secondary,15,38,Dash,nan,1/1/09,nan,,Sprint,Male,11th Club ZOOM Kindred Spirit 2024 & PEERS,2024,Local,
21962,"tang, zheng jia ning eliza",01:06.7,Team Fabian,17,4,Dash,nan,9/3/07,nan,,Sprint,Female,Pesta Sukan Athletics 2024,2024,Local,
21963,"tang, zheng jia ning eliza",32.42,Team Fabian,17,10,Dash,nan,9/3/07,nan,0.1,Sprint,Female,Pesta Sukan Athletics 2024,2024,Local,
21964,"tang, zheng jia ning eliza",01:08.4,Team Fabian,17,6,Dash,nan,9/3/07,nan,,Sprint,Female,Pesta Sukan Athletics 2024,2024,Local,

In [215]:
athletes[athletes['NAME']=='Jun Jie Calvin Quek']

,NAME,RESULT,TEAM,AGE,COMPETITION_RANK,EVENT,UNIQUE_ID,DOB,NATIONALITY,WIND,CATEGORY_EVENT,GENDER,COMPETITION,YEAR,REGION,MAPPED_EVENT
4206,Jun Jie Calvin Quek,53.19,None,None,4,400m Hurdles,None,26-Feb-96,SGP,None,Hurdles,Male,UAE Athletics Grand Prix,2024,International,400m hurdles
4207,Jun Jie Calvin Quek,52.05,None,None,8,400m Hurdles,None,26-Feb-96,SGP,None,Hurdles,Male,11th Kinami Michitaka Memorial Athletics Meet,2024,International,400m hurdles
4542,Jun Jie Calvin Quek,51.8,None,None,1,400m Hurdles,None,26-Feb-96,SGP,None,Hurdles,Male,Taiwan Athletics Open,2024,International,400m hurdles
4570,Jun Jie Calvin Quek,51.79,None,None,2,400m Hurdles,None,26-Feb-96,SGP,None,Hurdles,Male,XXXIII Qosanov Memorial,2024,International,400m hurdles
4571,Jun Jie Calvin Quek,56.95,None,None,3,400m Hurdles,None,26-Feb-96,SGP,None,Hurdles,Male,XXXIII Qosanov Memorial,2024,International,400m hurdles
4713,Jun Jie Calvin Quek,52.18,None,None,3,400m Hurdles,None,26-Feb-96,SGP,None,Hurdles,Male,Second Belt and Road Invitational Athletics Me...,2024,International,400m hurdles
4714,Jun Jie Calvin Quek,51.33,None,None,2,400m Hurdles,None,26-Feb-96,SGP,None,Hurdles,Male,Second Belt and Road Invitational Athletics Me...,2024,International,400m hurdles

In [216]:
# There is a problem with RESULTS column being changed after this statement

#df = athletes.reset_index().merge(benchmarks.reset_index(), on=['MAPPED_EVENT','GENDER'], how='left')
#df = athletes.merge(benchmarks, on=['EVENT','GENDER'], how='left')

In [217]:
# Merge benchmarks onto athletes on MAPPED_EVENT and GENDER

df = pd.merge(
    left=athletes, 
    right=benchmarks,
    how='left',
    left_on=['MAPPED_EVENT', 'GENDER'],
    right_on=['MAPPED_EVENT', 'GENDER'],
)

In [218]:
df

,NAME,RESULT,TEAM,AGE,COMPETITION_RANK,EVENT_x,UNIQUE_ID,DOB,NATIONALITY,WIND,...,COMPETITION,YEAR,REGION,MAPPED_EVENT,BENCHMARK,EVENT_y,Metric,2%,3.5%,5%
0,"FUN, LE CONG LUCAS",15.35,Singapore,18,1,Hurdles,,1/11/06,,-0.4,...,SA Trial 19 Jun 2024,2024,Local,,NaN,NaN,NaN,NaN,NaN,NaN
1,"TAN, DARYL HONG AN",7.16,Singapore,23,1,Dash,,18/12/01,,-0.5,...,SA Trial 19 Jun 2024,2024,Local,,NaN,NaN,NaN,NaN,NaN,NaN
2,"HENG, FU HONG BRANDON",NH,Singapore,26,0,High Jump,,13/12/98,,,...,SA Trial 19 Jun 2024,2024,Local,High jump,NaN,NaN,NaN,NaN,NaN,NaN
3,"Toh, Tedd",6.55m,Singapore,0,1,Long Jump,,nan,,-0.3,...,SA Trial 19 Jun 2024,2024,Local,Long jump,NaN,NaN,NaN,NaN,NaN,NaN
4,"CHEW, YIU TSE JADE",5.02m,Singapore,20,1,Long Jump,,14/1/04,,-0.3,...,SA Trial 19 Jun 2024,2024,Local,Long jump,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28047,"Yeo, Xin Ying Natalie Gra",05:47.1,National Junior College,13,1,Run,nan,18/8/11,nan,,...,SA Allcomers Meet 1,2024,Local,,NaN,NaN,NaN,NaN,NaN,NaN
28048,"., Zachery Caleb Wong K",59.15,Unity Secondary,15,38,Dash,nan,1/1/09,nan,,...,11th Club ZOOM Kindred Spirit 2024 & PEERS,2024,Local,,NaN,NaN,NaN,NaN,NaN,NaN
28049,"tang, zheng jia ning eliza",01:06.7,Team Fabian,17,4,Dash,nan,9/3/07,nan,,...,Pesta Sukan Athletics 2024,2024,Local,,NaN,NaN,NaN,NaN,NaN,NaN
28050,"tang, zheng jia ning eliza",32.42,Team Fabian,17,10,Dash,nan,9/3/07,nan,0.1,...,Pesta Sukan Athletics 2024,2024,Local,,NaN,NaN,NaN,NaN,NaN,NaN
28051,"tang, zheng jia ning eliza",01:08.4,Team Fabian,17,6,Dash,nan,9/3/07,nan,,...,Pesta Sukan Athletics 2024,2024,Local,,NaN,NaN,NaN,NaN,NaN,NaN

In [219]:
df[df['NAME']=='Jun Jie Calvin Quek']

,NAME,RESULT,TEAM,AGE,COMPETITION_RANK,EVENT_x,UNIQUE_ID,DOB,NATIONALITY,WIND,...,COMPETITION,YEAR,REGION,MAPPED_EVENT,BENCHMARK,EVENT_y,Metric,2%,3.5%,5%
4225,Jun Jie Calvin Quek,53.19,None,None,4,400m Hurdles,None,26-Feb-96,SGP,None,...,UAE Athletics Grand Prix,2024,International,400m hurdles,NaN,NaN,NaN,NaN,NaN,NaN
4226,Jun Jie Calvin Quek,52.05,None,None,8,400m Hurdles,None,26-Feb-96,SGP,None,...,11th Kinami Michitaka Memorial Athletics Meet,2024,International,400m hurdles,NaN,NaN,NaN,NaN,NaN,NaN
4918,Jun Jie Calvin Quek,51.8,None,None,1,400m Hurdles,None,26-Feb-96,SGP,None,...,Taiwan Athletics Open,2024,International,400m hurdles,NaN,NaN,NaN,NaN,NaN,NaN
4967,Jun Jie Calvin Quek,51.79,None,None,2,400m Hurdles,None,26-Feb-96,SGP,None,...,XXXIII Qosanov Memorial,2024,International,400m hurdles,NaN,NaN,NaN,NaN,NaN,NaN
4968,Jun Jie Calvin Quek,56.95,None,None,3,400m Hurdles,None,26-Feb-96,SGP,None,...,XXXIII Qosanov Memorial,2024,International,400m hurdles,NaN,NaN,NaN,NaN,NaN,NaN
5278,Jun Jie Calvin Quek,52.18,None,None,3,400m Hurdles,None,26-Feb-96,SGP,None,...,Second Belt and Road Invitational Athletics Me...,2024,International,400m hurdles,NaN,NaN,NaN,NaN,NaN,NaN
5279,Jun Jie Calvin Quek,51.33,None,None,2,400m Hurdles,None,26-Feb-96,SGP,None,...,Second Belt and Road Invitational Athletics Me...,2024,International,400m hurdles,NaN,NaN,NaN,NaN,NaN,NaN

In [220]:
df[df['MAPPED_EVENT']=='Discus throw']

,NAME,RESULT,TEAM,AGE,COMPETITION_RANK,EVENT_x,UNIQUE_ID,DOB,NATIONALITY,WIND,...,COMPETITION,YEAR,REGION,MAPPED_EVENT,BENCHMARK,EVENT_y,Metric,2%,3.5%,5%
52,"Lam Chen Hee, Aidan",11.48m,Pathlight School,12,52,Discus Throw,,2/3/12,,,...,nan,2024,Local,Discus throw,NaN,NaN,NaN,NaN,NaN,NaN
64,"Shrivastava, Aditya",10.06m,Tanjong Katong Primary School,12,61,Discus Throw,,20/3/12,,,...,nan,2024,Local,Discus throw,NaN,NaN,NaN,NaN,NaN,NaN
68,"Kwa, Edwin",19.10m,Kheng Cheng School,12,5,Discus Throw,,10/4/12,,,...,nan,2024,Local,Discus throw,NaN,NaN,NaN,NaN,NaN,NaN
72,"Ng Keng Yap, Isaac",12.86m,Club ZOOM,12,40,Discus Throw,,7/12/12,,,...,nan,2024,Local,Discus throw,NaN,NaN,NaN,NaN,NaN,NaN
89,"Jayasekara, Ruwan",DNS,Sri Lanka,50,0,Discus Throw,,12/5/74,,,...,SMTFA Track & Field Championship 2024,2024,Local,Discus throw,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27920,"ABDILLAH, MOHAMED AN'NIQUE ABD",FOUL,Victoria School,15,0,Discus Throw,nan,8/1/09,nan,,...,SA Allcomers Meet 2,2024,Local,Discus throw,NaN,NaN,NaN,NaN,NaN,NaN
27929,"ALLAPITCHAY, MUHAMMAD ALI ALLAPIT",24.45m,Victoria School,14,10,Discus Throw,nan,29/5/10,nan,,...,SA Allcomers Meet 2,2024,Local,Discus throw,NaN,NaN,NaN,NaN,NaN,NaN
27932,"MOHAMAD SHAIFUL AZHA, MUHAMMAD IZDIHAR BIN",25.19m,Victoria School,15,15,Discus Throw,nan,19/2/09,nan,,...,SA Allcomers Meet 2,2024,Local,Discus throw,NaN,NaN,NaN,NaN,NaN,NaN
27937,"PARAMESWARI, MURUGANANTHAM KALIGA",15.60m,Unattached,30,8,Discus Throw,nan,8/8/94,nan,,...,Pesta Sukan Athletics 2024,2024,Local,Discus throw,NaN,NaN,NaN,NaN,NaN,NaN
27942,"Soh, Mirally Albon Li Jin",29.26m,Singapore Institute of Managem,25,2,Discus Throw,M008C99,5/2/99,nan,,...,54th SA Inter Club Championships 2024,2024,Local,Discus throw,NaN,NaN,NaN,NaN,NaN,NaN

In [137]:
# replace '-' with NaN

df['RESULT'] = df['RESULT'].replace(regex=r'–', value=np.NaN)
#df['SEED'] = df['SEED'].replace(regex=r'–', value=np.NaN)

In [138]:
df

,NAME,RESULT,TEAM,AGE,COMPETITION_RANK,EVENT_x,UNIQUE_ID,DOB,NATIONALITY,WIND,...,REGION,MAPPED_EVENT,BENCHMARK,EVENT_y,Metric,2%,3.5%,5%,RESULT_CONV,SEED_CONV
0,"FUN, LE CONG LUCAS",15.35,Singapore,18,1,Hurdles,,1/11/06,,-0.4,...,Local,,NaN,NaN,NaN,NaN,NaN,NaN,5.74,15.35
1,"TAN, DARYL HONG AN",7.16,Singapore,23,1,Dash,,18/12/01,,-0.5,...,Local,,NaN,NaN,NaN,NaN,NaN,NaN,15.35,7.16
2,"HENG, FU HONG BRANDON",NH,Singapore,26,0,High Jump,,13/12/98,,,...,Local,High jump,NaN,NaN,NaN,NaN,NaN,NaN,7.16,7.16
3,"Toh, Tedd",6.55m,Singapore,0,1,Long Jump,,nan,,-0.3,...,Local,Long jump,NaN,NaN,NaN,NaN,NaN,NaN,7.16,7.16
4,"CHEW, YIU TSE JADE",5.02m,Singapore,20,1,Long Jump,,14/1/04,,-0.3,...,Local,Long jump,NaN,NaN,NaN,NaN,NaN,NaN,7.16,7.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28047,"Yeo, Xin Ying Natalie Gra",05:47.1,National Junior College,13,1,Run,nan,18/8/11,nan,,...,Local,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28048,"., Zachery Caleb Wong K",59.15,Unity Secondary,15,38,Dash,nan,1/1/09,nan,,...,Local,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28049,"tang, zheng jia ning eliza",01:06.7,Team Fabian,17,4,Dash,nan,9/3/07,nan,,...,Local,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28050,"tang, zheng jia ning eliza",32.42,Team Fabian,17,10,Dash,nan,9/3/07,nan,0.1,...,Local,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28051,"tang, zheng jia ning eliza",01:08.4,Team Fabian,17,6,Dash,nan,9/3/07,nan,,...,Local,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [139]:
df[df['NAME']=='Jun Jie Calvin Quek']

,NAME,RESULT,TEAM,AGE,COMPETITION_RANK,EVENT_x,UNIQUE_ID,DOB,NATIONALITY,WIND,...,REGION,MAPPED_EVENT,BENCHMARK,EVENT_y,Metric,2%,3.5%,5%,RESULT_CONV,SEED_CONV
4225,Jun Jie Calvin Quek,53.19,None,None,4,400m Hurdles,None,26-Feb-96,SGP,None,...,International,400m hurdles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4226,Jun Jie Calvin Quek,52.05,None,None,8,400m Hurdles,None,26-Feb-96,SGP,None,...,International,400m hurdles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4918,Jun Jie Calvin Quek,51.8,None,None,1,400m Hurdles,None,26-Feb-96,SGP,None,...,International,400m hurdles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4967,Jun Jie Calvin Quek,51.79,None,None,2,400m Hurdles,None,26-Feb-96,SGP,None,...,International,400m hurdles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4968,Jun Jie Calvin Quek,56.95,None,None,3,400m Hurdles,None,26-Feb-96,SGP,None,...,International,400m hurdles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5278,Jun Jie Calvin Quek,52.18,None,None,3,400m Hurdles,None,26-Feb-96,SGP,None,...,International,400m hurdles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5279,Jun Jie Calvin Quek,51.33,None,None,2,400m Hurdles,None,26-Feb-96,SGP,None,...,International,400m hurdles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
df.to_csv('df_prod.csv', sep=',', encoding='utf-8-sig', index=False)

In [141]:
# Convert results and seed into seconds format

for i in range(len(df)):
    
    result_out=''
    
        
    rowIndex = df.index[i]

    input_string=df.iloc[rowIndex,6]    # event description
    
    metric=df.iloc[rowIndex,2] # result
    metric_seed=df.iloc[rowIndex, 1]  #seed
    
    if metric=='—' or metric=='DQ' or metric=='SCR' or metric=='FS' or metric=='DNQ' or metric==' DNS' or metric=='NH':
        continue
    
    result_out = convert_time(i, input_string, metric)
    print('line', i, input_string, metric, result_out)

    
#    seed_out = convert_time(i, input_string, metric_seed)
         
    df.loc[rowIndex, 'RESULT_CONV'] = result_out
#    df.loc[rowIndex, 'SEED_CONV'] = seed_out

metric Singapore
line 0   Singapore 319.3
metric 15.35
metric Singapore
line 1   Singapore 15.35
metric 7.16
metric Singapore
line 2   Singapore 7.16
metric NH
metric Singapore
line 3   Singapore 7.16
metric 6.55m
metric Singapore
line 4   Singapore 7.16
metric 5.02m
metric Yangzheng Primary School
line 5   Yangzheng Primary School 7.16
metric 03:33.1
metric ST STEPHEN'S SCHOOL
line 6   ST STEPHEN'S SCHOOL 213.1
metric 7.97m
metric ST STEPHEN'S SCHOOL
line 7   ST STEPHEN'S SCHOOL 213.1
metric 7.43m
metric Nanyang Primary School
line 8   Nanyang Primary School 213.1
metric 1.00m
metric Club ZOOM
line 9   Club ZOOM 213.1
metric 11.49m
metric ActiveSG Club
line 10   ActiveSG Club 213.1
metric 12.99
metric TEAM SAGA
line 11   TEAM SAGA 12.99
metric DNS
metric Club ZOOM
line 12   Club ZOOM 12.99
metric 13.15
metric ActiveSG Club
line 13   ActiveSG Club 13.15
metric 3.30m
metric ActiveSG Club
line 14   ActiveSG Club 13.15
metric 26.09
metric Nanyang Primary School
line 15   Nanyang Primary School 26.09
metric 24.99
metric Club ZOOM
line 16   Club ZOOM 24.99
metric 25.84
metric ST STEPHEN'S SCHOOL
line 17   ST STEPHEN'S SCHOOL 25.84
metric 03:52.2
metric Club ZOOM
line 18   Club ZOOM 232.2
metric 03:21.9
metric TeamFabian
line 19   TeamFabian 201.9
metric 03:47.8
metric Team Cicada Trackers
line 20   Team Cicada Trackers 227.8
metric 13.12m
metric Club ZOOM
line 21   Club ZOOM 227.8
metric 11.82m
metric ST STEPHEN'S SCHOOL
line 22   ST STEPHEN'S SCHOOL 227.8
metric 14.84m
metric Team Cicada Trackers
line 23   Team Cicada Trackers 227.8
metric 11.79m
metric Team Cicada Trackers
line 24   Team Cicada Trackers 227.8
metric 11.42
metric TeamFabian
line 25   TeamFabian 11.42
metric 12.32
metric ST STEPHEN'S SCHOOL
line 26   ST STEPHEN'S SCHOOL 12.32
metric 12.73
metric Team Cicada Trackers
line 27   Team Cicada Trackers 12.73
metric 13.58
metric Club ZOOM
line 28   Club ZOOM 13.58
metric DNS
metric Team Cicada Trackers
line 29   Team Cicada Trackers 13.58
metric 3.34m
metric Team Cicada Trackers
line 30   Team Cicada Trackers 13.58
metric 4.54m
metric Team Cicada Trackers
line 31   Team Cicada Trackers 13.58
metric 3.61m
metric Club ZOOM
line 32   Club ZOOM 13.58
metric 31.37
metric ST STEPHEN'S SCHOOL
line 33   ST STEPHEN'S SCHOOL 31.37
metric 33.11
metric Team Cicada Trackers
line 34   Team Cicada Trackers 33.11
metric 31.25
metric Lacticbuds
line 35   Lacticbuds 31.25
metric 34.7
metric Club ZOOM
line 36   Club ZOOM 34.7
metric 06:17.8
metric Yangzheng Primary School
line 37   Yangzheng Primary School 377.8
metric 05:35.6
metric Tanjong Katong Primary School
line 38   Tanjong Katong Primary School 335.6
metric DNS
metric ST STEPHEN'S SCHOOL
line 39   ST STEPHEN'S SCHOOL 335.6
metric DNS
metric Team Cicada Trackers
line 40   Team Cicada Trackers 335.6
metric 29.52
metric Club ZOOM
line 41   Club ZOOM 29.52
metric 10.48
metric Club ZOOM
line 42   Club ZOOM 10.48
metric 05:01.6
metric Club ZOOM
line 43   Club ZOOM 301.6
metric FOUL
metric Club ZOOM
line 44   Club ZOOM 301.6
metric 11.16m
metric Team Cicada Trackers
line 45   Team Cicada Trackers 301.6
metric 11.85
metric Team Cicada Trackers
line 46   Team Cicada Trackers 11.85
metric 04:32.7
metric Team Cicada Trackers
line 47   Team Cicada Trackers 272.7
metric 3.39m
metric Team Cicada Trackers
line 48   Team Cicada Trackers 272.7
metric 13.67m
metric Pathlight School
line 49   Pathlight School 272.7
metric 10.16
metric Pathlight School
line 50   Pathlight School 10.16
metric 06:14.7
metric Pathlight School
line 51   Pathlight School 374.7
metric 2.30m
metric Pathlight School
line 52   Pathlight School 374.7
metric 11.48m
metric Club ZOOM
line 53   Club ZOOM 374.7
metric 6.54m
metric Club ZOOM
line 54   Club ZOOM 374.7
metric 9.31
metric Club ZOOM
line 55   Club ZOOM 9.31
metric 04:09.0
metric Club ZOOM
line 56   Club ZOOM 249.0
metric 3.79m
metric Club ZOOM
line 57   Club ZOOM 249.0
metric 9.49
metric Club ZOOM
line 58   Club ZOOM 9.49
metric 03:42.3
metric Club ZOOM
line 59   Club ZOOM 222.3
metric 3.42m
metric Club ZOOM
line 60   Club ZOOM 222.3
metric 7.02m
metric Tanjong Katong Primary School
line 61   Tanjong Katong Primary School 222.3
metric 9.08
metric Tanjong Katong Primary School
line 62   Tanjong Katong Primary School 9.08
metric 04:45.6
metric Tanjong Katong Primary School
line 63   Tanjong Katong Primary School 285.6
metric 3.46m
metric Tanjong Katong Primary School
line 64   Tanjong Katong Primary School 285.6
metric 10.06m
metric Kheng Cheng School
line 65   Kheng Cheng School 285.6
metric 9.31
metric Kheng Cheng School
line 66   Kheng Cheng School 9.31
metric 04:46.7
metric Kheng Cheng School
line 67   Kheng Cheng School 286.7
metric 1.25m
metric Kheng Cheng School
line 68   Kheng Cheng School 286.7
metric 19.10m
metric Club ZOOM
line 69   Club ZOOM 286.7
metric 2.98m
metric Club ZOOM
line 70   Club ZOOM 286.7
metric 9.94
metric Club ZOOM
line 71   Club ZOOM 9.94
metric 03:56.5
metric Club ZOOM
line 72   Club ZOOM 236.5
metric 12.86m
metric PSA
line 73   PSA 236.5
metric 01:00.0
metric PSA
line 74   PSA 60.0
metric FOUL
metric UNA
line 75   UNA 60.0
metric 14.56
metric UNA
line 76   UNA 14.56
metric 17.74
metric UNA
line 77   UNA 17.74
metric 17.74
metric UNA
line 78   UNA 17.74
metric 15.1
metric HCAA
line 79   HCAA 15.1
metric 5.18m
metric INDIA
line 80   INDIA 15.1
metric 7.86m
metric INDIA
line 81   INDIA 15.1
metric 01:28.5
metric INDIA
line 82   INDIA 88.5
metric DNS
metric INDIA
line 83   INDIA 88.5
metric DNS
metric SAFSA
line 84   SAFSA 88.5
metric 10.77m
metric SAFSA
line 85   SAFSA 88.5
metric 5.29m
metric SMTFA
line 86   SMTFA 88.5
metric DNS
metric SMTFA
line 87   SMTFA 88.5
metric 23.02m
metric SMTFA
line 88   SMTFA 88.5
metric 3.51m
metric Sri Lanka
line 89   Sri Lanka 88.5
metric DNS
metric Sri Lanka
line 90   Sri Lanka 88.5
metric DNS
metric Sri Lanka
line 91   Sri Lanka 88.5
metric DNS
metric Sri Lanka
line 92   Sri Lanka 88.5
metric 33.34m
metric Sri Lanka
line 93   Sri Lanka 88.5
metric 25.92m
metric Sri Lanka
line 94   Sri Lanka 88.5
metric 10.08m
metric Sri Lanka
line 95   Sri Lanka 88.5
metric 22.17m
metric TEAM SAGA
line 96   TEAM SAGA 88.5
metric 11.35
metric TEAM SAGA
line 97   TEAM SAGA 11.35
metric 2.96m
metric TEAM SAGA
line 98   TEAM SAGA 11.35
metric 37.13
metric TEAM SAGA
line 99   TEAM SAGA 37.13
metric 01:28.5
metric TEAM SAGA
line 100   TEAM SAGA 88.5
metric 11.83
metric TEAM SAGA
line 101   TEAM SAGA 11.83
metric 13.23
metric TEAM SAGA
line 102   TEAM SAGA 13.23
metric 3.50m
metric TEAM SAGA
line 103   TEAM SAGA 13.23
metric 13.17
metric TEAM SAGA
line 104   TEAM SAGA 13.17
metric 32.96
metric TEAM SAGA
line 105   TEAM SAGA 32.96
metric 01:29.8
metric TEAM SAGA
line 106   TEAM SAGA 89.8
metric 14.15
metric TEAM SAGA
line 107   TEAM SAGA 14.15
metric 12.61
metric TEAM SAGA
line 108   TEAM SAGA 12.61
metric DNS
metric Erovra Club
line 109   Erovra Club 12.61
metric DNS
metric Erovra Club
line 110   Erovra Club 12.61
metric 4.27m
metric Team Cicada
line 111   Team Cicada 12.61
metric 14.3
metric Team Cicada
line 112   Team Cicada 14.3
metric 38.13
metric Team Cicada
line 113   Team Cicada 38.13
metric 4.98m
metric Team Cicada
line 114   Team Cicada 38.13
metric 28.49
metric Team Cicada
line 115   Team Cicada 28.49
metric 13.6
metric Team Cicada
line 116   Team Cicada 13.6
metric DNS
metric NUS Staff Runners
line 117   NUS Staff Runners 13.6
metric 19:37.5
metric FUNCLES
line 118   FUNCLES 1177.5
metric 46.66
metric HUNKLES
line 119   HUNKLES 46.66
metric 45.94
metric One of a kind Octogenarian
line 120   One of a kind Octogenarian 45.94
metric 01:13.9
metric Wormz
line 121   Wormz 73.9
metric 04:03.8
metric HENRY PARK PRIMARY SCHOOL
line 122   HENRY PARK PRIMARY SCHOOL 243.8
metric 01:10.3
metric Nanyang
line 123   Nanyang 70.3
metric 55.61
metric St Stephen's School
line 124   St Stephen's School 55.61
metric DNS
metric HENRY PARK PRIMARY SCHOOL
line 125   HENRY PARK PRIMARY SCHOOL 55.61
metric 01:04.6
metric NUS High School
line 126   NUS High School 64.6
metric 50.53
metric UNA
line 127   UNA 50.53
metric 53
metric HCAA
line 128   HCAA 53.0
metric 57.46
metric INDIA
line 129   INDIA 57.46
metric 52.68
metric INDIA
line 130   INDIA 52.68
metric 01:02.1
metric INDIA
line 131   INDIA 62.1
metric 01:19.9
metric INDIA
line 132   INDIA 79.9
metric 01:00.9
metric INDIA
line 133   INDIA 60.9
metric 05:47.5
metric INDIA
line 134   INDIA 347.5
metric DNS
metric INDIA
line 135   INDIA 347.5
metric 05:25.4
metric SMTFA
line 136   SMTFA 325.4
metric 46.82
metric SMTFA
line 137   SMTFA 46.82
metric 51.09
metric SMTFA
line 138   SMTFA 51.09
metric 59.14
metric SMTFA
line 139   SMTFA 59.14
metric 01:04.5
metric SMTFA
line 140   SMTFA 64.5
metric 01:05.0
metric SMTFA
line 141   SMTFA 65.0
metric 01:04.6
metric SMTFA
line 142   SMTFA 64.6
metric 01:05.1
metric SMTFA
line 143   SMTFA 65.1
metric 03:57.4
metric SMTFA
line 144   SMTFA 237.4
metric 04:08.4
metric SMTFA
line 145   SMTFA 248.4
metric 04:55.4
metric SMTFA
line 146   SMTFA 295.4
metric 07:34.0
metric SMTFA
line 147   SMTFA 454.0
metric 05:36.4
metric SMTFA
line 148   SMTFA 336.4
metric 07:00.9
metric Sri Lanka
line 149   Sri Lanka 420.9
metric 48.57
metric Sri Lanka
line 150   Sri Lanka 48.57
metric 50.86
metric Sri Lanka
line 151   Sri Lanka 50.86
metric 54.32
metric Sri Lanka
line 152   Sri Lanka 54.32
metric 01:03.5
metric Sri Lanka
line 153   Sri Lanka 63.5
metric 01:06.6
metric Sri Lanka
line 154   Sri Lanka 66.6
metric DQ
metric Sri Lanka
line 155   Sri Lanka 66.6
metric 04:02.3
metric Sri Lanka
line 156   Sri Lanka 242.3
metric 04:30.6
metric Sri Lanka
line 157   Sri Lanka 270.6
metric 05:46.2
metric Sri Lanka
line 158   Sri Lanka 346.2
metric 06:59.1
metric TEAM SAGA
line 159   TEAM SAGA 419.1
metric 01:01.0
metric TEAM SAGA
line 160   TEAM SAGA 61.0
metric 01:08.3
metric TEAM SAGA
line 161   TEAM SAGA 68.3
metric 01:11.0
metric TEAM SAGA
line 162   TEAM SAGA 71.0
metric 01:13.7
metric TEAM SAGA
line 163   TEAM SAGA 73.7
metric 49.49
metric Erovra Club
line 164   Erovra Club 49.49
metric 01:10.3
metric Erovra Club
line 165   Erovra Club 70.3
metric 01:05.2
metric Erovra Club
line 166   Erovra Club 65.2
metric 57.76
metric Erovra Club
line 167   Erovra Club 57.76
metric 01:03.5
metric Erovra Club
line 168   Erovra Club 63.5
metric 59.38
metric Erovra Club
line 169   Erovra Club 59.38
metric 01:01.8
metric Erovra Club
line 170   Erovra Club 61.8
metric 57.73
metric Team Cicada
line 171   Team Cicada 57.73
metric 04:36.9
metric Team Cicada
line 172   Team Cicada 276.9
metric 01:04.8
metric Team Cicada
line 173   Team Cicada 64.8
metric 01:12.9
metric Team Cicada
line 174   Team Cicada 72.9
metric 01:04.8
metric Team Cicada
line 175   Team Cicada 64.8
metric 01:11.9
metric Team Cicada
line 176   Team Cicada 71.9
metric 54.25
metric Team Cicada
line 177   Team Cicada 54.25
metric 56.84
metric Team Cicada
line 178   Team Cicada 56.84
metric 58.78
metric Team Cicada
line 179   Team Cicada 58.78
metric 01:02.5
metric Team Cicada
line 180   Team Cicada 62.5
metric 58.96
metric Team Cicada
line 181   Team Cicada 58.96
metric 01:06.3
metric Team Cicada
line 182   Team Cicada 66.3
metric 48.88
metric Team Cicada
line 183   Team Cicada 48.88
metric 55.1
metric Team Cicada
line 184   Team Cicada 55.1
metric 54.77
metric Team Cicada
line 185   Team Cicada 54.77
metric 43.7
metric Team Cicada
line 186   Team Cicada 43.7
metric 44.73
metric Team Cicada
line 187   Team Cicada 44.73
metric 55.46
metric Team Cicada
line 188   Team Cicada 55.46
metric 53.52
metric Team Cicada
line 189   Team Cicada 53.52
metric 54.1
metric SG Sports Sch
line 190   SG Sports Sch 54.1
metric 49.33
metric SG Sports Sch
line 191   SG Sports Sch 49.33
metric 55.91
metric SG Sports Sch
line 192   SG Sports Sch 55.91
metric DQ
metric NUS Staff Runners
line 193   NUS Staff Runners 55.91
metric 54.41
metric NUS Staff Runners
line 194   NUS Staff Runners 54.41
metric 04:45.5
metric Team Start Singapore
line 195   Team Start Singapore 285.5
metric 01:07.2
metric Team Start Singapore
line 196   Team Start Singapore 67.2
metric 58.54
metric Team Start Singapore
line 197   Team Start Singapore 58.54
metric 46.53
metric Wings Athletics Club
line 198   Wings Athletics Club 46.53
metric 01:21.4
metric ActiveSG Athletics Club
line 199   ActiveSG Athletics Club 81.4
metric 57.91
metric ActiveSG Athletics Club
line 200   ActiveSG Athletics Club 57.91
metric 59.32
metric ActiveSG Athletics Club
line 201   ActiveSG Athletics Club 59.32
metric 01:01.3
metric ActiveSG Athletics Club
line 202   ActiveSG Athletics Club 61.3
metric DNS
metric ActiveSG Athletics Club
line 203   ActiveSG Athletics Club 61.3
metric 01:00.3
metric ActiveSG Athletics Club
line 204   ActiveSG Athletics Club 60.3
metric 57.78
metric ActiveSG Athletics Club
line 205   ActiveSG Athletics Club 57.78
metric 01:02.2
metric ActiveSG Athletics Club
line 206   ActiveSG Athletics Club 62.2
metric 51.44
metric ActiveSG Athletics Club
line 207   ActiveSG Athletics Club 51.44
metric 57.26
metric Club ZOOM
line 208 nan Club ZOOM 57.26
metric 05:23.4
metric Club ZOOM
line 209 nan Club ZOOM 323.4
metric 04:18.7
metric Club ZOOM
line 210 nan Club ZOOM 258.7
metric DNS
metric JS Athletics
line 211 nan JS Athletics 258.7
metric 04:30.7
metric JS Athletics
line 212 nan JS Athletics 270.7
metric 04:31.3
metric Team Cicada Trackers
line 213 nan Team Cicada Trackers 271.3
metric 04:07.8
metric Team Start Singapore
line 214 nan Team Start Singapore 247.8
metric 04:56.4
metric Club ZOOM
line 215 nan Club ZOOM 296.4
metric 04:52.0
metric Club ZOOM
line 216 nan Club ZOOM 292.0
metric 04:41.3
metric TEAM SAGA
line 217 nan TEAM SAGA 281.3
metric 04:56.4
metric JS Athletics
line 218 nan JS Athletics 296.4
metric 04:19.1
metric TEAM SAGA
line 219 nan TEAM SAGA 259.1
metric 04:36.7
metric Team Cicada Trackers
line 220 nan Team Cicada Trackers 276.7
metric 04:12.1
metric Nanyang Primary School
line 221 nan Nanyang Primary School 252.1
metric 5.19m
metric TEAM SAGA
line 222 nan TEAM SAGA 252.1
metric FOUL
metric Nanyang Primary School
line 223 nan Nanyang Primary School 252.1
metric NH
metric Nanyang Primary School
line 224 nan Nanyang Primary School 252.1
metric NH
metric TEAM SAGA
line 225 nan TEAM SAGA 252.1
metric NH
metric Team Cicada Trackers
line 226 nan Team Cicada Trackers 252.1
metric 8.27m
metric Team Start Singapore
line 227 nan Team Start Singapore 252.1
metric 10.10m
metric Fast Track Sports
line 228 nan Fast Track Sports 252.1
metric 10.68m
metric JS Athletics
line 229 nan JS Athletics 252.1
metric 7.57m
metric TEAM SAGA
line 230 nan TEAM SAGA 252.1
metric DNS
metric TEAM SAGA
line 231 nan TEAM SAGA 252.1
metric 13.52
metric Nanyang Primary School
line 232 nan Nanyang Primary School 13.52
metric 15.44
metric Nanyang Primary School
line 233 nan Nanyang Primary School 15.44
metric 15.37
metric Erovra Club
line 234 nan Erovra Club 15.37
metric 14.31
metric HENRY PARK PRIMARY SCHOOL
line 235 nan HENRY PARK PRIMARY SCHOOL 14.31
metric 15.95
metric Verve Fitness
line 236 nan Verve Fitness 15.95
metric 15.74
metric Verve Fitness
line 237 nan Verve Fitness 15.74
metric 16.93
metric Club ZOOM
line 238 nan Club ZOOM 16.93
metric 16.09
metric Club ZOOM
line 239 nan Club ZOOM 16.09
metric 14.45
metric TEAM SAGA
line 240 nan TEAM SAGA 14.45
metric 15.38
metric Nanyang Primary School
line 241 nan Nanyang Primary School 15.38
metric 13.92
metric TEAM SAGA
line 242 nan TEAM SAGA 13.92
metric 14.68
metric TEAM SAGA
line 243 nan TEAM SAGA 14.68
metric 13.86
metric HENRY PARK PRIMARY SCHOOL
line 244 nan HENRY PARK PRIMARY SCHOOL 13.86
metric 14.88
metric JS Athletics
line 245 nan JS Athletics 14.88
metric 13.4
metric Olham Athletics
line 246 nan Olham Athletics 13.4
metric 14.98
metric Team Cicada Trackers
line 247 nan Team Cicada Trackers 14.98
metric 14.66
metric ActiveSG Club
line 248 nan ActiveSG Club 14.66
metric 14
metric Nanyang Primary School
line 249 nan Nanyang Primary School 14.0
metric 15.56
metric Fast Track Sports
line 250 nan Fast Track Sports 15.56
metric 13.05
metric TEAM SAGA
line 251 nan TEAM SAGA 13.05
metric 12.65
metric TEAM SAGA
line 252 nan TEAM SAGA 12.65
metric DNS
metric HENRY PARK PRIMARY SCHOOL
line 253 nan HENRY PARK PRIMARY SCHOOL 12.65
metric 14.87
metric TEAM SAGA
line 254 nan TEAM SAGA 14.87
metric 15.29
metric Olham Athletics
line 255 nan Olham Athletics 15.29
metric 13.24
metric Team Cicada Trackers
line 256 nan Team Cicada Trackers 13.24
metric 15.21
metric Club ZOOM
line 257 nan Club ZOOM 15.21
metric 13.65
metric TEAM SAGA
line 258 nan TEAM SAGA 13.65
metric 17.62
metric Nanyang Primary School
line 259 nan Nanyang Primary School 17.62
metric 15.07
metric Nanyang Primary School
line 260 nan Nanyang Primary School 15.07
metric 14.81
metric Club ZOOM
line 261 nan Club ZOOM 14.81
metric 16.3
metric Team Start Singapore
line 262 nan Team Start Singapore 16.3
metric 13.03
metric Nanyang Primary School
line 263 nan Nanyang Primary School 13.03
metric 30.22
metric Nanyang Primary School
line 264 nan Nanyang Primary School 30.22
metric 32.16
metric Nanyang Primary School
line 265 nan Nanyang Primary School 32.16
metric 33.92
metric Club ZOOM
line 266 nan Club ZOOM 33.92
metric 27.55
metric Nanyang Primary School
line 267 nan Nanyang Primary School 27.55
metric 2.20m
metric Nanyang Primary School
line 268 nan Nanyang Primary School 27.55
metric 2.16m
metric Nanyang Primary School
line 269 nan Nanyang Primary School 27.55
metric 2.10m
metric Nanyang Primary School
line 270 nan Nanyang Primary School 27.55
metric 1.89m
metric Nanyang Primary School
line 271 nan Nanyang Primary School 27.55
metric 2.09m
metric Nanyang Primary School
line 272 nan Nanyang Primary School 27.55
metric 1.96m
metric Club ZOOM
line 273 nan Club ZOOM 27.55
metric 2.72m
metric Club ZOOM
line 274 nan Club ZOOM 27.55
metric 1.62m
metric JS Athletics
line 275 nan JS Athletics 27.55
metric 3.09m
metric Team Cicada Trackers
line 276 nan Team Cicada Trackers 27.55
metric 2.33m
metric Team Cicada Trackers
line 277 nan Team Cicada Trackers 27.55
metric 2.54m
metric Nanyang Primary School
line 278 nan Nanyang Primary School 27.55
metric 2.08m
metric Nanyang Primary School
line 279 nan Nanyang Primary School 27.55
metric 2.04m
metric Team Start Singapore
line 280 nan Team Start Singapore 27.55
metric 2.94m
metric Team Start Singapore
line 281 nan Team Start Singapore 27.55
metric 3.30m
metric Fast Track Sports
line 282 nan Fast Track Sports 27.55
metric 3.20m
metric TEAM SAGA
line 283 nan TEAM SAGA 27.55
metric 3.06m
metric JS Athletics
line 284 nan JS Athletics 27.55
metric 2.88m
metric TEAM SAGA
line 285 nan TEAM SAGA 27.55
metric 3.64m
metric Team Cicada Trackers
line 286 nan Team Cicada Trackers 27.55
metric 2.68m
metric Nanyang Primary School
line 287 nan Nanyang Primary School 27.55
metric 31.53
metric Erovra Club
line 288 nan Erovra Club 31.53
metric 27.35
metric Verve Fitness
line 289 nan Verve Fitness 27.35
metric 32.37
metric Club ZOOM
line 290 nan Club ZOOM 32.37
metric 31.37
metric Club ZOOM
line 291 nan Club ZOOM 31.37
metric 28.36
metric JS Athletics
line 292 nan JS Athletics 28.36
metric 26.37
metric JS Athletics
line 293 nan JS Athletics 26.37
metric 27.91
metric TEAM SAGA
line 294 nan TEAM SAGA 27.91
metric 28.17
metric TEAM SAGA
line 295 nan TEAM SAGA 28.17
metric 36.72
metric TEAM SAGA
line 296 nan TEAM SAGA 36.72
metric 31.08
metric Olham Athletics
line 297 nan Olham Athletics 31.08
metric 30.59
metric Team Start Singapore
line 298 nan Team Start Singapore 30.59
metric 32.35
metric Nanyang Primary School
line 299 nan Nanyang Primary School 32.35
metric 28.83
metric Club ZOOM
line 300 nan Club ZOOM 28.83
metric 27.77
metric TEAM SAGA
line 301 nan TEAM SAGA 27.77
metric 28.86
metric TEAM SAGA
line 302 nan TEAM SAGA 28.86
metric DNS
metric Club ZOOM
line 303 nan Club ZOOM 28.86
metric 34.84
metric Team Cicada Trackers
line 304 nan Team Cicada Trackers 34.84
metric 32.55
metric Club ZOOM
line 305 nan Club ZOOM 32.55
metric 29.25
metric JS Athletics
line 306 nan JS Athletics 29.25

metric SJKC
line 996 nan SJKC
metric 1.27m
metric Sembawang Primary School
W Sembawang Primary School
line 997 nan Sembawang Primary School
metric 1.15m
metric Sembawang Primary School
W Sembawang Primary School
line 998 nan Sembawang Primary School
metric 1.20m
metric Sembawang Primary School
W Sembawang Primary School
line 999 nan Sembawang Primary School
metric 1.40m
metric Team Cicada Trackers
line 1000 nan Team Cicada Trackers
metric 1.20m
metric ActiveSG Club
line 1001 nan ActiveSG Club
metric 1.30m
metric Sembawang Primary School
W Sembawang Primary School
line 1002 nan Sembawang Primary School
metric 13.64m
metric Sembawang Primary School
W Sembawang Primary School
line 1003 nan Sembawang Primary School
metric 11.63m
metric Sembawang Primary School
W Sembawang Primary School
line 1004 nan Sembawang Primary School
metric 11.41m
metric Sembawang Primary School
W Sembawang Primary School
line 1005 nan Sembawang Primary School
metric 11.42m
metric Seng Kang Primary School
line 1006 nan Seng Kang Primary School
metric 8.83m
metric Seng Kang Primary School
line 1007 nan Seng Kang Primary School
metric 9.99m
metric Seng Kang Primary School
line 1008 nan Seng Kang Primary School
metric 15.14m
metric Seng Kang Primary School
line 1009 nan Seng Kang Primary School
metric 11.76m
metric ActiveSG Club
line 1010 nan ActiveSG Club
metric 5.06m
metric Nanyang Primary School
line 1011 nan Nanyang Primary School
metric 10.41m
metric Nanyang Primary School
line 1012 nan Nanyang Primary School
metric 8.13m
metric Nanyang Primary School
line 1013 nan Nanyang Primary School
metric 8.12m
metric Fast Track Sports
line 1014 nan Fast Track Sports
metric 8.79m
metric Fast Track Sports
line 1015 nan Fast Track Sports
metric 7.49m
metric Verve Fitness
line 1016 nan Verve Fitness
metric 13.36m
metric Verve Fitness
line 1017 nan Verve Fitness
metric 10.65m
metric Erovra Club
line 1018 nan Erovra Club
metric 9.37m
metric Erovra Club
line 1019 nan Erovra Club
metric 13.08m
metric Paya Lebar Methodist Girls' Sc
line 1020 nan Paya Lebar Methodist Girls' Sc
metric 12.28m
metric HENRY PARK PRIMARY SCHOOL
line 1021 nan HENRY PARK PRIMARY SCHOOL
metric 12.11m
metric Wings Athletics Club
line 1022 nan Wings Athletics Club
metric 14.55m
metric Club ZOOM
line 1023 nan Club ZOOM
metric 11.68m
metric Club ZOOM
line 1024 nan Club ZOOM
metric 9.42m
metric Club ZOOM
line 1025 nan Club ZOOM
metric 11.05m
metric Sembawang Primary School
W Sembawang Primary School
line 1026 nan Sembawang Primary School
metric 19.98m
metric Sembawang Primary School
W Sembawang Primary School
line 1027 nan Sembawang Primary School
metric 19.20m
metric Sembawang Primary School
W Sembawang Primary School
line 1028 nan Sembawang Primary School
metric 21.17m
metric Team Cicada Trackers
line 1029 nan Team Cicada Trackers
metric 14.61m
metric Team Cicada Trackers
line 1030 nan Team Cicada Trackers
metric 18.09m
metric ActiveSG Club
line 1031 nan ActiveSG Club
metric 17.08m
metric ActiveSG Club
line 1032 nan ActiveSG Club
metric 14.46m
metric ActiveSG Club
line 1033 nan ActiveSG Club
metric 9.72m
metric Nanyang Primary School
line 1034 nan Nanyang Primary School
metric 18.31m
metric Nanyang Primary School
line 1035 nan Nanyang Primary School
metric 11.95m
metric Team Start Singapore
line 1036 nan Team Start Singapore
metric 8.29m
metric Team Start Singapore
line 1037 nan Team Start Singapore
metric 6.01m
metric Team Start Singapore
line 1038 nan Team Start Singapore
metric 11.80m
metric Team Start Singapore
line 1039 nan Team Start Singapore
metric 19.46m
metric Fast Track Sports
line 1040 nan Fast Track Sports
metric 13.76m
metric ST STEPHEN'S SCHOOL
line 1041 nan ST STEPHEN'S SCHOOL
metric 11.93m
metric ST STEPHEN'S SCHOOL
line 1042 nan ST STEPHEN'S SCHOOL
metric 19.03m
metric Reactiv
line 1043 nan Reactiv
metric 13.49m
metric Nanyang Primary School
line 1044 nan Nanyang Primary School
metric 22.88m
metric Nanyang Primary School
line 1045 nan Nanyang Primary School
metric 12.16m
metric Nanyang Primary School
line 1046 nan Nanyang Primary School
metric 11.58m
metric Erovra Club
line 1047 nan Erovra Club
metric 12.03m
metric HENRY PARK PRIMARY SCHOOL
line 1048 nan HENRY PARK PRIMARY SCHOOL
metric 20.87m
metric HENRY PARK PRIMARY SCHOOL
line 1049 nan HENRY PARK PRIMARY SCHOOL
metric 17.26m
metric HENRY PARK PRIMARY SCHOOL
line 1050 nan HENRY PARK PRIMARY SCHOOL
metric 22.30m
metric TEAM SAGA
line 1051 nan TEAM SAGA
metric 11.72m
metric Verve Fitness
line 1052 nan Verve Fitness
metric 23.54m
metric Verve Fitness
line 1053 nan Verve Fitness
metric 8.79m
metric Team Cicada Trackers
line 1054 nan Team Cicada Trackers
metric DNS
metric Team Cicada Trackers
line 1055 nan Team Cicada Trackers
metric 23.13m
metric Team Cicada Trackers
line 1056 nan Team Cicada Trackers
metric 17.29m
metric Team Cicada Trackers
line 1057 nan Team Cicada Trackers
metric 11.89m
metric TeamFabian
line 1058 nan TeamFabian
metric DNS
metric Nanyang Primary School
line 1059 nan Nanyang Primary School
metric 14.35
metric ST STEPHEN'S SCHOOL
line 1060 nan ST STEPHEN'S SCHOOL 14.35
metric DNS
metric Nanyang Primary School
line 1061 nan Nanyang Primary School 14.35
metric 13.61
metric Team Cicada Trackers
line 1062 nan Team Cicada Trackers 13.61
metric 11.79
metric Team Cicada Trackers
line 1063 nan Team Cicada Trackers 11.79
metric 11.54
metric CHIJ Primary (Toa Payoh)
line 1064 nan CHIJ Primary (Toa Payoh) 11.54
metric 14.17
metric Nanyang Primary School
line 1065 nan Nanyang Primary School 14.17
metric 12.48
metric Paya Lebar Methodist Girls' Sc
line 1066 nan Paya Lebar Methodist Girls' Sc 12.48
metric 13.26
metric Verve Fitness
line 1067 nan Verve Fitness 13.26
metric 12.42
metric Erovra Club
line 1068 nan Erovra Club 12.42
metric 12.64
metric Cougars Athletic Association
line 1069 nan Cougars Athletic Association 12.64
metric 11.72
metric St Anthony's Canossian Primary
line 1070 nan St Anthony's Canossian Primary 11.72
metric 14.23
metric St Anthony's Canossian Primary
line 1071 nan St Anthony's Canossian Primary 14.23
metric 14.08
metric St Anthony's Canossian Primary
line 1072 nan St Anthony's Canossian Primary 14.08
metric 12.25
metric Club ZOOM
line 1073 nan Club ZOOM 12.25
metric DNS
metric Club ZOOM
line 1074 nan Club ZOOM 12.25
metric 12.24
metric Seng Kang Primary School
line 1075 nan Seng Kang Primary School 12.24
metric 13.48
metric Seng Kang Primary School
line 1076 nan Seng Kang Primary School 13.48
metric 13.02
metric Fast Track Sports
line 1077 nan Fast Track Sports 13.02
metric 11.28
metric ST STEPHEN'S SCHOOL
line 1078 nan ST STEPHEN'S SCHOOL 11.28
metric 13.17
metric HENRY PARK PRIMARY SCHOOL
line 1079 nan HENRY PARK PRIMARY SCHOOL 13.17
metric 12.05
metric Club ZOOM
line 1080 nan Club ZOOM 12.05
metric 11.52
metric Gongshang Primary School
line 1081 nan Gongshang Primary School 11.52
metric 13.28
metric Gongshang Primary School
line 1082 nan Gongshang Primary School 13.28
metric 13.7
metric Team Cicada Trackers
line 1083 nan Team Cicada Trackers 13.7
metric 14.72
metric ActiveSG Club
line 1084 nan ActiveSG Club 14.72
metric 18.76
metric Nanyang Primary School
line 1085 nan Nanyang Primary School 18.76
metric DNS
metric Fast Track Sports
line 1086 nan Fast Track Sports 18.76
metric 15.52
metric Paya Lebar Methodist Girls' Sc
line 1087 nan Paya Lebar Methodist Girls' Sc 15.52
metric 17.17
metric Paya Lebar Methodist Girls' Sc
line 1088 nan Paya Lebar Methodist Girls' Sc 17.17
metric DNS
metric HENRY PARK PRIMARY SCHOOL
line 1089 nan HENRY PARK PRIMARY SCHOOL 17.17
metric 15.93
metric HENRY PARK PRIMARY SCHOOL
line 1090 nan HENRY PARK PRIMARY SCHOOL 15.93
metric DNS
metric St Anthony's Canossian Primary
line 1091 nan St Anthony's Canossian Primary 15.93
metric 17.43
metric Club ZOOM
line 1092 nan Club ZOOM 17.43
metric 14.64
metric Sembawang Primary School
W Sembawang Primary School
line 1093 nan Sembawang Primary School
metric 15.56
metric Team Cicada Trackers
line 1094 nan Team Cicada Trackers 15.56
metric 13.42
metric Fast Track Sports
line 1095 nan Fast Track Sports 13.42
metric 15.99
metric ST STEPHEN'S SCHOOL
line 1096 nan ST STEPHEN'S SCHOOL 15.99
metric 14.29
metric ST STEPHEN'S SCHOOL
line 1097 nan ST STEPHEN'S SCHOOL 14.29
metric 13.61
metric HENRY PARK PRIMARY SCHOOL
line 1098 nan HENRY PARK PRIMARY SCHOOL 13.61
metric 13.98
metric Team Cicada Trackers
line 1099 nan Team Cicada Trackers 13.98
metric 12.67
metric Nanyang Primary School
line 1100 nan Nanyang Primary School 12.67
metric 13.78
metric HENRY PARK PRIMARY SCHOOL
line 1101 nan HENRY PARK PRIMARY SCHOOL 13.78
metric DNS
metric HENRY PARK PRIMARY SCHOOL
line 1102 nan HENRY PARK PRIMARY SCHOOL 13.78
metric 13.52
metric Gongshang Primary School
line 1103 nan Gongshang Primary School 13.52
metric 12.72
metric Gongshang Primary School
line 1104 nan Gongshang Primary School 12.72
metric 14.14
metric SJKC
line 1105 nan SJKC  14.14
metric 11.79
metric SJKC
line 1106 nan SJKC  11.79
metric 11.71
metric Team Start Singapore
line 1107 nan Team Start Singapore 11.71
metric 12.44
metric ST STEPHEN'S SCHOOL
line 1108 nan ST STEPHEN'S SCHOOL 12.44
metric DNS
metric TEAM SAGA
line 1109 nan TEAM SAGA 12.44
metric 12.47
metric Sembawang Primary School
W Sembawang Primary School
line 1110 nan Sembawang Primary School
metric 17.31
metric Team Cicada Trackers
line 1111 nan Team Cicada Trackers 17.31
metric 14.55
metric ST STEPHEN'S SCHOOL
line 1112 nan ST STEPHEN'S SCHOOL 14.55
metric 15.87
metric ST STEPHEN'S SCHOOL
line 1113 nan ST STEPHEN'S SCHOOL 15.87
metric 14.39
metric Nanyang Primary School
line 1114 nan Nanyang Primary School 14.39
metric DQ
metric TEAM SAGA
line 1115 nan TEAM SAGA 14.39
metric 13.87
metric Club ZOOM
line 1116 nan Club ZOOM 13.87
metric 14.06
metric Team Cicada Trackers
line 1117 nan Team Cicada Trackers 14.06
metric DNS
metric Sembawang Primary School
W Sembawang Primary School
line 1118 nan Sembawang Primary School
metric 11.63
metric ActiveSG Club
line 1119 nan ActiveSG Club 11.63
metric 12.36
metric Nanyang Primary School
line 1120 nan Nanyang Primary School 12.36
metric 11.17
metric ST STEPHEN'S SCHOOL
line 1121 nan ST STEPHEN'S SCHOOL 11.17
metric 12.57
metric ST STEPHEN'S SCHOOL
line 1122 nan ST STEPHEN'S SCHOOL 12.57
metric 14.94
metric Club ZOOM
line 1123 nan Club ZOOM 14.94
metric DNS
metric Team Cicada Trackers
line 1124 nan Team Cicada Trackers 14.94
metric 13.04
metric Team Cicada Trackers
line 1125 nan Team Cicada Trackers 13.04
metric 11.71
metric Team Cicada Trackers
line 1126 nan Team Cicada Trackers 11.71
metric 11.54
metric TeamFabian
line 1127 nan TeamFabian 11.54
metric 12.24
metric ActiveSG Club
line 1128 nan ActiveSG Club 12.24
metric 13.33
metric Team Start Singapore
line 1129 nan Team Start Singapore 13.33
metric 12.32
metric ST STEPHEN'S SCHOOL
line 1130 nan ST STEPHEN'S SCHOOL 12.32
metric 11.98
metric ST STEPHEN'S SCHOOL
line 1131 nan ST STEPHEN'S SCHOOL 11.98
metric DNS
metric Nanyang Primary School
line 1132 nan Nanyang Primary School 11.98
metric 11.44
metric Team Cicada Trackers
line 1133 nan Team Cicada Trackers 11.44
metric 11.69
metric Team Cicada Trackers
line 1134 nan Team Cicada Trackers 11.69
metric 10.87
metric Seng Kang Primary School
line 1135 nan Seng Kang Primary School 10.87
metric 12.85
metric ActiveSG Club
line 1136 nan ActiveSG Club 12.85
metric DNS
metric Nanyang Primary School
line 1137 nan Nanyang Primary School 12.85
metric 12.38
metric ST STEPHEN'S SCHOOL
line 1138 nan ST STEPHEN'S SCHOOL 12.38
metric 12.55
metric ST STEPHEN'S SCHOOL
line 1139 nan ST STEPHEN'S SCHOOL 12.55
metric 12.32
metric ST STEPHEN'S SCHOOL
line 1140 nan ST STEPHEN'S SCHOOL 12.32
metric 13.87
metric ActiveSG Club
line 1141 nan ActiveSG Club 13.87
metric 13.42
metric ActiveSG Club
line 1142 nan ActiveSG Club 13.42
metric 12.41
metric ActiveSG Club
line 1143 nan ActiveSG Club 12.41
metric 11.87
metric ActiveSG Club
line 1144 nan ActiveSG Club 11.87
metric 12.64
metric ActiveSG Club
line 1145 nan ActiveSG Club 12.64
metric 13.01
metric Nanyang Primary School
line 1146 nan Nanyang Primary School 13.01
metric 13.11
metric Nanyang Primary School
line 1147 nan Nanyang Primary School 13.11
metric 12.37
metric Erovra Club
line 1148 nan Erovra Club 12.37
metric 12.97
metric St Anthony's Canossian Primary
line 1149 nan St Anthony's Canossian Primary 12.97
metric 15.14
metric St Anthony's Canossian Primary
line 1150 nan St Anthony's Canossian Primary 15.14
metric 12.77
metric St Anthony's Canossian Primary
line 1151 nan St Anthony's Canossian Primary 12.77
metric 12.54
metric St Anthony's Canossian Primary
line 1152 nan St Anthony's Canossian Primary 12.54
metric 13.9
metric St Anthony's Canossian Primary
line 1153 nan St Anthony's Canossian Primary 13.9
metric 13.45
metric Club ZOOM
line 1154 nan Club ZOOM 13.45
metric 12.73
metric Club ZOOM
line 1155 nan Club ZOOM 12.73
metric 12.14
metric ActiveSG Club
line 1156 nan ActiveSG Club 12.14
metric 12.99
metric ST STEPHEN'S SCHOOL
line 1157 nan ST STEPHEN'S SCHOOL 12.99
metric 11.97
metric ST STEPHEN'S SCHOOL
line 1158 nan ST STEPHEN'S SCHOOL 11.97
metric 12.3
metric Erovra Club
line 1159 nan Erovra Club 12.3
metric 12.43
metric Erovra Club
line 1160 nan Erovra Club 12.43
metric 10.95
metric Gongshang Primary School
line 1161 nan Gongshang Primary School 10.95
metric 13.59
metric Club ZOOM
line 1162 nan Club ZOOM 13.59
metric 12.64
metric Team Cicada Trackers
line 1163 nan Team Cicada Trackers 12.64
metric DNS
metric Team Cicada Trackers
line 1164 nan Team Cicada Trackers 12.64
metric 31.29
metric Nanyang Primary School
line 1165 nan Nanyang Primary School 31.29
metric 33.46
metric Paya Lebar Methodist Girls' Sc
line 1166 nan Paya Lebar Methodist Girls' Sc 33.46
metric 32.19
metric Erovra Club
line 1167 nan Erovra Club 32.19
metric 32.93
metric St Anthony's Canossian Primary
line 1168 nan St Anthony's Canossian Primary 32.93
metric 31.39
metric Gongshang Primary School
line 1169 nan Gongshang Primary School 31.39
metric 33.34
metric Gongshang Primary School
line 1170 nan Gongshang Primary School 33.34
metric 34.58
metric CHIJ Primary (Toa Payoh)
line 1171 nan CHIJ Primary (Toa Payoh) 34.58
metric 13.42
metric Seng Kang Primary School
line 1172 nan Seng Kang Primary School 13.42
metric 13.43
metric ActiveSG Club
line 1173 nan ActiveSG Club 13.43
metric 12.57
metric ActiveSG Club
line 1174 nan ActiveSG Club 12.57
metric 13.08
metric Verve Fitness
line 1175 nan Verve Fitness 13.08
metric 12.23
metric St Anthony's Canossian Primary
line 1176 nan St Anthony's Canossian Primary 12.23
metric 12.29
metric Club ZOOM
line 1177 nan Club ZOOM 12.29
metric 11.68
metric TEAM SAGA
line 1178 nan TEAM SAGA 11.68
metric 12.66
metric Team Cicada Trackers
line 1179 nan Team Cicada Trackers 12.66
metric DNS
metric Team Cicada Trackers
line 1180 nan Team Cicada Trackers 12.66
metric 3.15m
metric Team Cicada Trackers
line 1181 nan Team Cicada Trackers 12.66
metric 3.71m
metric CHIJ Primary (Toa Payoh)
line 1182 nan CHIJ Primary (Toa Payoh) 12.66
metric 2.41m
metric ActiveSG Club
line 1183 nan ActiveSG Club 12.66
metric 3.53m
metric ActiveSG Club
line 1184 nan ActiveSG Club 12.66
metric 3.26m
metric ActiveSG Club
line 1185 nan ActiveSG Club 12.66
metric 3.19m
metric ActiveSG Club
line 1186 nan ActiveSG Club 12.66
metric 4.02m
metric ActiveSG Club
line 1187 nan ActiveSG Club 12.66
metric 3.40m
metric ActiveSG Club
line 1188 nan ActiveSG Club 12.66
metric 3.71m
metric Nanyang Primary School
line 1189 nan Nanyang Primary School 12.66
metric 3.13m
metric Nanyang Primary School
line 1190 nan Nanyang Primary School 12.66
metric DNS
metric Nanyang Primary School
line 1191 nan Nanyang Primary School 12.66
metric 3.90m
metric Nanyang Primary School
line 1192 nan Nanyang Primary School 12.66
metric 3.80m
metric Fast Track Sports
line 1193 nan Fast Track Sports 12.66
metric 3.61m
metric Paya Lebar Methodist Girls' Sc
line 1194 nan Paya Lebar Methodist Girls' Sc 12.66
metric 3.37m
metric Verve Fitness
line 1195 nan Verve Fitness 12.66
metric 4.37m
metric Verve Fitness
line 1196 nan Verve Fitness 12.66
metric 4.07m
metric Verve Fitness
line 1197 nan Verve Fitness 12.66
metric 3.90m
metric Erovra Club
line 1198 nan Erovra Club 12.66
metric 3.28m
metric Erovra Club
line 1199 nan Erovra Club 12.66
metric 3.53m
metric Erovra Club
line 1200 nan Erovra Club 12.66
metric 3.20m
metric Erovra Club
line 1201 nan Erovra Club 12.66
metric 3.77m
metric Erovra Club
line 1202 nan Erovra Club 12.66
metric 4.06m
metric Erovra Club
line 1203 nan Erovra Club 12.66
metric 3.94m
metric Paya Lebar Methodist Girls' Sc
line 1204 nan Paya Lebar Methodist Girls' Sc 12.66
metric 3.37m
metric SJKC
line 1205 nan SJKC  12.66
metric 4.26m
metric SJKC
line 1206 nan SJKC  12.66
metric 4.14m
metric Team Cicada Trackers
line 1207 nan Team Cicada Trackers 12.66
metric 4.32m
metric Team Cicada Trackers
line 1208 nan Team Cicada Trackers 12.66
metric 4.19m
metric Team Cicada Trackers
line 1209 nan Team Cicada Trackers 12.66
metric 4.50m
metric Team Cicada Trackers
line 1210 nan Team Cicada Trackers 12.66
metric 4.57m
metric Team Cicada Trackers
line 1211 nan Team Cicada Trackers 12.66
metric 3.73m
metric TeamFabian
line 1212 nan TeamFabian 12.66
metric DNS
metric Seng Kang Primary School
line 1213 nan Seng Kang Primary School 12.66
metric 3.34m
metric Seng Kang Primary School
line 1214 nan Seng Kang Primary School 12.66
metric 3.28m
metric Seng Kang Primary School
line 1215 nan Seng Kang Primary School 12.66
metric 3.30m
metric ActiveSG Club
line 1216 nan ActiveSG Club 12.66
metric DNS
metric ActiveSG Club
line 1217 nan ActiveSG Club 12.66
metric 3.37m
metric ActiveSG Club
line 1218 nan ActiveSG Club 12.66
metric 3.87m
metric ActiveSG Club
line 1219 nan ActiveSG Club 12.66
metric 3.44m
metric ActiveSG Club
line 1220 nan ActiveSG Club 12.66
metric 3.52m
metric ActiveSG Club
line 1221 nan ActiveSG Club 12.66
metric 3.08m
metric ActiveSG Club
line 1222 nan ActiveSG Club 12.66
metric 3.69m
metric ActiveSG Club
line 1223 nan ActiveSG Club 12.66
metric 2.47m
metric Nanyang Primary School
line 1224 nan Nanyang Primary School 12.66
metric 3.73m
metric Team Start Singapore
line 1225 nan Team Start Singapore 12.66
metric 3.41m
metric Team Start Singapore
line 1226 nan Team Start Singapore 12.66
metric 3.58m
metric Team Start Singapore
line 1227 nan Team Start Singapore 12.66
metric 4.06m
metric Team Start Singapore
line 1228 nan Team Start Singapore 12.66
metric 3.59m
metric Fast Track Sports
line 1229 nan Fast Track Sports 12.66
metric 3.32m
metric ST STEPHEN'S SCHOOL
line 1230 nan ST STEPHEN'S SCHOOL 12.66
metric 4.36m
metric ST STEPHEN'S SCHOOL
line 1231 nan ST STEPHEN'S SCHOOL 12.66
metric 3.49m
metric ST STEPHEN'S SCHOOL
line 1232 nan ST STEPHEN'S SCHOOL 12.66
metric 3.43m
metric ST STEPHEN'S SCHOOL
line 1233 nan ST STEPHEN'S SCHOOL 12.66
metric 3.36m
metric ST STEPHEN'S SCHOOL
line 1234 nan ST STEPHEN'S SCHOOL 12.66
metric DNS
metric ST STEPHEN'S SCHOOL
line 1235 nan ST STEPHEN'S SCHOOL 12.66
metric 3.64m
metric Nanyang Primary School
line 1236 nan Nanyang Primary School 12.66
metric 4.57m
metric Nanyang Primary School
line 1237 nan Nanyang Primary School 12.66
metric 3.87m
metric Nanyang Primary School
line 1238 nan Nanyang Primary School 12.66
metric 3.96m
metric Nanyang Primary School
line 1239 nan Nanyang Primary School 12.66
metric 2.35m
metric Erovra Club
line 1240 nan Erovra Club 12.66
metric 3.38m
metric HENRY PARK PRIMARY SCHOOL
line 1241 nan HENRY PARK PRIMARY SCHOOL 12.66
metric 4.35m
metric HENRY PARK PRIMARY SCHOOL
line 1242 nan HENRY PARK PRIMARY SCHOOL 12.66
metric 4.00m
metric HENRY PARK PRIMARY SCHOOL
line 1243 nan HENRY PARK PRIMARY SCHOOL 12.66
metric 4.13m
metric Verve Fitness
line 1244 nan Verve Fitness 12.66
metric 4.35m
metric Club ZOOM
line 1245 nan Club ZOOM 12.66
metric DNS
metric Team Cicada Trackers
line 1246 nan Team Cicada Trackers 12.66
metric 31.8
metric TeamFabian
line 1247 nan TeamFabian 31.8
metric DNS
metric Nanyang Primary School
line 1248 nan Nanyang Primary School 31.8
metric 35.04

metric Compassvale Primary School
line 1979 nan Compassvale Primary School 243.1
metric 5.09m
metric Compassvale Primary School
line 1980 nan Compassvale Primary School 243.1
metric 11.67
metric Compassvale Primary School
line 1981 nan Compassvale Primary School 11.67
metric 05:11.9
metric Compassvale Primary School
line 1982 nan Compassvale Primary School 311.9
metric 1.69m
metric Compassvale Primary School
line 1983 nan Compassvale Primary School 311.9
metric 4.40m
metric Compassvale Primary School
line 1984 nan Compassvale Primary School 311.9
metric 11.29
metric Compassvale Primary School
line 1985 nan Compassvale Primary School 11.29
metric 04:14.5
metric Compassvale Primary School
line 1986 nan Compassvale Primary School 254.5
metric 2.54m
metric Compassvale Primary School
line 1987 nan Compassvale Primary School 254.5
metric 2.96m
metric Compassvale Primary School
line 1988 nan Compassvale Primary School 254.5
metric 9.9
metric Compassvale Primary School
line 1989 nan Compassvale Primary School 9.9
metric 04:19.2
metric Compassvale Primary School
line 1990 nan Compassvale Primary School 259.2
metric 2.53m
metric Compassvale Primary School
line 1991 nan Compassvale Primary School 259.2
metric 4.17m
metric Compassvale Primary School
line 1992 nan Compassvale Primary School 259.2
metric 10.91
metric Compassvale Primary School
line 1993 nan Compassvale Primary School 10.91
metric 04:55.5
metric Compassvale Primary School
line 1994 nan Compassvale Primary School 295.5
metric 2.30m
metric Compassvale Primary School
line 1995 nan Compassvale Primary School 295.5
metric 4.21m
metric Compassvale Primary School
line 1996 nan Compassvale Primary School 295.5
metric 10.44
metric Compassvale Primary School
line 1997 nan Compassvale Primary School 10.44
metric 04:11.6
metric Compassvale Primary School
line 1998 nan Compassvale Primary School 251.6
metric 3.42m
metric Compassvale Primary School
line 1999 nan Compassvale Primary School 251.6
metric 3.89m
metric St. Stephen's School
line 2000 nan St. Stephen's School 251.6
metric 10.02
metric St. Stephen's School
line 2001 nan St. Stephen's School 10.02
metric 03:25.1
metric St. Stephen's School
line 2002 nan St. Stephen's School 205.1
metric 3.93m
metric St. Stephen's School
line 2003 nan St. Stephen's School 205.1
metric 11.06m
metric St. Stephen's School
line 2004 nan St. Stephen's School 205.1
metric 9.14
metric St. Stephen's School
line 2005 nan St. Stephen's School 9.14
metric 03:41.4
metric St. Stephen's School
line 2006 nan St. Stephen's School 221.4
metric 4.14m
metric St. Stephen's School
line 2007 nan St. Stephen's School 221.4
metric 15.78m
metric St. Stephen's School
line 2008 nan St. Stephen's School 221.4
metric 9.98
metric St. Stephen's School
line 2009 nan St. Stephen's School 9.98
metric 04:51.8
metric St. Stephen's School
line 2010 nan St. Stephen's School 291.8
metric 3.30m
metric St. Stephen's School
line 2011 nan St. Stephen's School 291.8
metric 12.32m
metric St. Stephen's School
line 2012 nan St. Stephen's School 291.8
metric 10.79
metric St. Stephen's School
line 2013 nan St. Stephen's School 10.79
metric 04:11.6
metric St. Stephen's School
line 2014 nan St. Stephen's School 251.6
metric 1.30m
metric St. Stephen's School
line 2015 nan St. Stephen's School 251.6
metric 12.43m
metric St. Stephen's School
line 2016 nan St. Stephen's School 251.6
metric 9.44
metric St. Stephen's School
line 2017 nan St. Stephen's School 9.44
metric 04:57.9
metric St. Stephen's School
line 2018 nan St. Stephen's School 297.9
metric 3.51m
metric St. Stephen's School
line 2019 nan St. Stephen's School 297.9
metric 16.05m
metric St. Stephen's School
line 2020 nan St. Stephen's School 297.9
metric 10.4
metric St. Stephen's School
line 2021 nan St. Stephen's School 10.4
metric 03:44.4
metric St. Stephen's School
line 2022 nan St. Stephen's School 224.4
metric 3.52m
metric St. Stephen's School
line 2023 nan St. Stephen's School 224.4
metric 15.21m
metric St. Stephen's School
line 2024 nan St. Stephen's School 224.4
metric 10.41
metric St. Stephen's School
line 2025 nan St. Stephen's School 10.41
metric 05:36.0
metric St. Stephen's School
line 2026 nan St. Stephen's School 336.0
metric 1.25m
metric St. Stephen's School
line 2027 nan St. Stephen's School 336.0
metric 16.46m
metric St. Stephen's School
line 2028 nan St. Stephen's School 336.0
metric DNS
metric St. Stephen's School
line 2029 nan St. Stephen's School 336.0
metric DNS
metric St. Stephen's School
line 2030 nan St. Stephen's School 336.0
metric DNS
metric St. Stephen's School
line 2031 nan St. Stephen's School 336.0
metric DNS
metric St. Stephen's School
line 2032 nan St. Stephen's School 336.0
metric 10.79
metric St. Stephen's School
line 2033 nan St. Stephen's School 10.79
metric 04:33.0
metric St. Stephen's School
line 2034 nan St. Stephen's School 273.0
metric 3.86m
metric St. Stephen's School
line 2035 nan St. Stephen's School 273.0
metric 11.18m
metric St. Stephen's School
line 2036 nan St. Stephen's School 273.0
metric 9.16
metric St. Stephen's School
line 2037 nan St. Stephen's School 9.16
metric 04:23.8
metric St. Stephen's School
line 2038 nan St. Stephen's School 263.8
metric 4.27m
metric St. Stephen's School
line 2039 nan St. Stephen's School 263.8
metric 10.00m
metric St. Stephen's School
line 2040 nan St. Stephen's School 263.8
metric 10.86
metric St. Stephen's School
line 2041 nan St. Stephen's School 10.86
metric 04:44.1
metric St. Stephen's School
line 2042 nan St. Stephen's School 284.1
metric 2.85m
metric St. Stephen's School
line 2043 nan St. Stephen's School 284.1
metric 13.52m
metric Reactiv
line 2044 nan Reactiv 284.1
metric 13.19
metric Reactiv
line 2045 nan Reactiv 13.19
metric DNS
metric Reactiv
line 2046 nan Reactiv 13.19
metric DNS
metric Reactiv
line 2047 nan Reactiv 13.19
metric 17.63m
metric Temasek Primary School
line 2048 nan Temasek Primary School 13.19
metric DNS
metric Temasek Primary School
line 2049 nan Temasek Primary School 13.19
metric 07:44.9
metric Temasek Primary School
line 2050 nan Temasek Primary School 464.9
metric 3.11m
metric Temasek Primary School
line 2051 nan Temasek Primary School 464.9
metric 26.22m
metric Temasek Primary School
line 2052 nan Temasek Primary School 464.9
metric 11.1
metric Temasek Primary School
line 2053 nan Temasek Primary School 11.1
metric 05:41.1
metric Temasek Primary School
line 2054 nan Temasek Primary School 341.1
metric 3.11m
metric Temasek Primary School
line 2055 nan Temasek Primary School 341.1
metric 16.42m
metric Temasek Primary School
line 2056 nan Temasek Primary School 341.1
metric 10.39
metric Temasek Primary School
line 2057 nan Temasek Primary School 10.39
metric 04:49.4
metric Temasek Primary School
line 2058 nan Temasek Primary School 289.4
metric 1.25m
metric Temasek Primary School
line 2059 nan Temasek Primary School 289.4
metric 12.62m
metric Temasek Primary School
line 2060 nan Temasek Primary School 289.4
metric DNS
metric Temasek Primary School
line 2061 nan Temasek Primary School 289.4
metric DNS
metric Temasek Primary School
line 2062 nan Temasek Primary School 289.4
metric DNS
metric Temasek Primary School
line 2063 nan Temasek Primary School 289.4
metric DNS
metric Temasek Primary School
line 2064 nan Temasek Primary School 289.4
metric 9.97
metric Temasek Primary School
line 2065 nan Temasek Primary School 9.97
metric DQ
metric Temasek Primary School
line 2066 nan Temasek Primary School 9.97
metric 1.15m
metric Temasek Primary School
line 2067 nan Temasek Primary School 9.97
metric 5.61m
metric Temasek Primary School
line 2068 nan Temasek Primary School 9.97
metric 11.84
metric Temasek Primary School
line 2069 nan Temasek Primary School 11.84
metric DQ
metric Temasek Primary School
line 2070 nan Temasek Primary School 11.84
metric 3.24m
metric Temasek Primary School
line 2071 nan Temasek Primary School 11.84
metric 15.73m
metric Pathlight School
line 2072 nan Pathlight School 11.84
metric 11.23
metric Pathlight School
line 2073 nan Pathlight School 11.23
metric 05:04.4
metric Pathlight School
line 2074 nan Pathlight School 304.4
metric 2.05m
metric Pathlight School
line 2075 nan Pathlight School 304.4
metric 10.52m
metric Pathlight School
line 2076 nan Pathlight School 304.4
metric 10
metric Pathlight School
line 2077 nan Pathlight School 10.0
metric 06:04.1
metric Pathlight School
line 2078 nan Pathlight School 364.1
metric 3.22m
metric Pathlight School
line 2079 nan Pathlight School 364.1
metric 12.97m
metric Pioneer Primary School
line 2080 nan Pioneer Primary School 364.1
metric 10.51
metric Pioneer Primary School
line 2081 nan Pioneer Primary School 10.51
metric 05:12.2
metric Pioneer Primary School
line 2082 nan Pioneer Primary School 312.2
metric 2.96m
metric Pioneer Primary School
line 2083 nan Pioneer Primary School 312.2
metric 11.11m
metric Pioneer Primary School
line 2084 nan Pioneer Primary School 312.2
metric 10.6
metric Pioneer Primary School
line 2085 nan Pioneer Primary School 10.6
metric 05:03.2
metric Pioneer Primary School
line 2086 nan Pioneer Primary School 303.2
metric 2.78m
metric Pioneer Primary School
line 2087 nan Pioneer Primary School 303.2
metric 16.80m
metric Pioneer Primary School
line 2088 nan Pioneer Primary School 303.2
metric 9.51
metric Pioneer Primary School
line 2089 nan Pioneer Primary School 9.51
metric 04:06.2
metric Pioneer Primary School
line 2090 nan Pioneer Primary School 246.2
metric 3.29m
metric Pioneer Primary School
line 2091 nan Pioneer Primary School 246.2
metric 14.14m
metric Team Cicada Trackers
line 2092 nan Team Cicada Trackers 246.2
metric 10.32
metric Team Cicada Trackers
line 2093 nan Team Cicada Trackers 10.32
metric 04:00.0
metric Team Cicada Trackers
line 2094 nan Team Cicada Trackers 240.0
metric 3.87m
metric Team Cicada Trackers
line 2095 nan Team Cicada Trackers 240.0
metric 21.27m
metric Team Cicada Trackers
line 2096 nan Team Cicada Trackers 240.0
metric 11.05
metric Team Cicada Trackers
line 2097 nan Team Cicada Trackers 11.05
metric 04:29.3
metric Team Cicada Trackers
line 2098 nan Team Cicada Trackers 269.3
metric 3.87m
metric Team Cicada Trackers
line 2099 nan Team Cicada Trackers 269.3
metric 16.65m
metric Team Cicada Trackers
line 2100 nan Team Cicada Trackers 269.3
metric 9.73
metric Team Cicada Trackers
line 2101 nan Team Cicada Trackers 9.73
metric 03:31.6
metric Team Cicada Trackers
line 2102 nan Team Cicada Trackers 211.6
metric 3.89m
metric Team Cicada Trackers
line 2103 nan Team Cicada Trackers 211.6
metric 4.64m
metric Team Cicada Trackers
line 2104 nan Team Cicada Trackers 211.6
metric 9.58
metric Team Cicada Trackers
line 2105 nan Team Cicada Trackers 9.58
metric 03:51.0
metric Team Cicada Trackers
line 2106 nan Team Cicada Trackers 231.0
metric 4.00m
metric Team Cicada Trackers
line 2107 nan Team Cicada Trackers 231.0
metric 17.28m
metric Team Cicada Trackers
line 2108 nan Team Cicada Trackers 231.0
metric 9.69
metric Team Cicada Trackers
line 2109 nan Team Cicada Trackers 9.69
metric 04:42.5
metric Team Cicada Trackers
line 2110 nan Team Cicada Trackers 282.5
metric 3.42m
metric Team Cicada Trackers
line 2111 nan Team Cicada Trackers 282.5
metric 26.18m
metric Team Cicada Trackers
line 2112 nan Team Cicada Trackers 282.5
metric 9.91
metric Team Cicada Trackers
line 2113 nan Team Cicada Trackers 9.91
metric 03:45.2
metric Team Cicada Trackers
line 2114 nan Team Cicada Trackers 225.2
metric 4.70m
metric Team Cicada Trackers
line 2115 nan Team Cicada Trackers 225.2
metric 16.60m
metric Team Cicada Trackers
line 2116 nan Team Cicada Trackers 225.2
metric 8.81
metric Team Cicada Trackers
line 2117 nan Team Cicada Trackers 8.81
metric 04:22.2
metric Team Cicada Trackers
line 2118 nan Team Cicada Trackers 262.2
metric 4.29m
metric Team Cicada Trackers
line 2119 nan Team Cicada Trackers 262.2
metric 15.64m
metric Team Cicada Trackers
line 2120 nan Team Cicada Trackers 262.2
metric 9.26
metric Team Cicada Trackers
line 2121 nan Team Cicada Trackers 9.26
metric 04:29.6
metric Team Cicada Trackers
line 2122 nan Team Cicada Trackers 269.6
metric 3.98m
metric Team Cicada Trackers
line 2123 nan Team Cicada Trackers 269.6
metric 16.08m
metric Team Cicada Trackers
line 2124 nan Team Cicada Trackers 269.6
metric 04:03.4
metric Team Cicada Trackers
line 2125 nan Team Cicada Trackers 243.4
metric 3.55m
metric Team Cicada Trackers
line 2126 nan Team Cicada Trackers 243.4
metric 10.05
metric Team Cicada Trackers
line 2127 nan Team Cicada Trackers 10.05
metric 23.37m
metric Team Cicada Trackers
line 2128 nan Team Cicada Trackers 10.05
metric 03:52.8
metric Team Cicada Trackers
line 2129 nan Team Cicada Trackers 232.8
metric 3.89m
metric Team Cicada Trackers
line 2130 nan Team Cicada Trackers 232.8
metric 9
metric Team Cicada Trackers
line 2131 nan Team Cicada Trackers 9.0
metric 13.90m
metric Gongshang Primary School
line 2132 nan Gongshang Primary School 9.0
metric 10.05
metric Gongshang Primary School
line 2133 nan Gongshang Primary School 10.05
metric 04:05.0
metric Gongshang Primary School
line 2134 nan Gongshang Primary School 245.0
metric 2.97m
metric Gongshang Primary School
line 2135 nan Gongshang Primary School 245.0
metric 10.69m
metric Gongshang Primary School
line 2136 nan Gongshang Primary School 245.0
metric 10.29
metric Gongshang Primary School
line 2137 nan Gongshang Primary School 10.29
metric 04:26.2
metric Gongshang Primary School
line 2138 nan Gongshang Primary School 266.2
metric 1.00m
metric Gongshang Primary School
line 2139 nan Gongshang Primary School 266.2
metric 15.65m
metric Gongshang Primary School
line 2140 nan Gongshang Primary School 266.2
metric 9.53
metric Gongshang Primary School
line 2141 nan Gongshang Primary School 9.53
metric 04:19.0
metric Gongshang Primary School
line 2142 nan Gongshang Primary School 259.0
metric 3.10m
metric Gongshang Primary School
line 2143 nan Gongshang Primary School 259.0
metric 16.12m
metric Gongshang Primary School
line 2144 nan Gongshang Primary School 259.0
metric 05:11.4
metric Gongshang Primary School
line 2145 nan Gongshang Primary School 311.4
metric 3.44m
metric Gongshang Primary School
line 2146 nan Gongshang Primary School 311.4
metric 9.82
metric Gongshang Primary School
line 2147 nan Gongshang Primary School 9.82
metric 11.53m
metric JS Athletics
line 2148 nan JS Athletics 9.82
metric 03:57.9
metric JS Athletics
line 2149 nan JS Athletics 237.9
metric DNS
metric JS Athletics
line 2150 nan JS Athletics 237.9
metric DNS
metric JS Athletics
line 2151 nan JS Athletics 237.9
metric DNS
metric JS Athletics
line 2152 nan JS Athletics 237.9
metric 04:06.8
metric JS Athletics
line 2153 nan JS Athletics 246.8
metric 2.77m
metric JS Athletics
line 2154 nan JS Athletics 246.8
metric 10.65
metric JS Athletics
line 2155 nan JS Athletics 10.65
metric 5.16m
metric Geylang Methodist School (Prim
line 2156 nan Geylang Methodist School (Prim 10.65
metric 10.76
metric Geylang Methodist School (Prim
line 2157 nan Geylang Methodist School (Prim 10.76
metric 06:36.3
metric Geylang Methodist School (Prim
line 2158 nan Geylang Methodist School (Prim 396.3
metric 2.56m
metric Geylang Methodist School (Prim
line 2159 nan Geylang Methodist School (Prim 396.3
metric 14.08m
metric Geylang Methodist School (Prim
line 2160 nan Geylang Methodist School (Prim 396.3
metric 9.83
metric Geylang Methodist School (Prim
line 2161 nan Geylang Methodist School (Prim 9.83
metric 04:15.6
metric Geylang Methodist School (Prim
line 2162 nan Geylang Methodist School (Prim 255.6
metric 4.15m
metric Geylang Methodist School (Prim
line 2163 nan Geylang Methodist School (Prim 255.6
metric 11.64m
metric Red Swastika School
W Red Swastika School
line 2164 nan Red Swastika School
metric 10.02
metric Red Swastika School
W Red Swastika School
line 2165 nan Red Swastika School
metric 04:21.1
metric Red Swastika School
W Red Swastika School
line 2166 nan Red Swastika School
metric 2.63m
metric Red Swastika School
W Red Swastika School
line 2167 nan Red Swastika School
metric 4.75m
metric Ai Tong School
line 2168 nan Ai Tong School
metric 9.11
metric Ai Tong School
line 2169 nan Ai Tong School 9.11
metric 04:33.4
metric Ai Tong School
line 2170 nan Ai Tong School 273.4
metric 3.53m
metric Ai Tong School
line 2171 nan Ai Tong School 273.4
metric 19.04m
metric Ai Tong School
line 2172 nan Ai Tong School 273.4
metric 11.9
metric Ai Tong School
line 2173 nan Ai Tong School 11.9
metric 04:25.8
metric Ai Tong School
line 2174 nan Ai Tong School 265.8
metric 3.76m
metric Ai Tong School
line 2175 nan Ai Tong School 265.8
metric 6.38m
metric Ai Tong School
line 2176 nan Ai Tong School 265.8
metric 11.13
metric Ai Tong School
line 2177 nan Ai Tong School 11.13
metric 6.76m
metric Ai Tong School
line 2178 nan Ai Tong School 11.13
metric 04:38.0
metric Ai Tong School
line 2179 nan Ai Tong School 278.0
metric 3.92m
metric Ai Tong School
line 2180 nan Ai Tong School 278.0
metric 4.88m
metric Ai Tong School
line 2181 nan Ai Tong School 278.0
metric 10.2
metric Ai Tong School
line 2182 nan Ai Tong School 10.2
metric 04:27.5
metric Ai Tong School
line 2183 nan Ai Tong School 267.5
metric 3.15m
metric Ai Tong School
line 2184 nan Ai Tong School 267.5
metric 5.33m
metric Ai Tong School
line 2185 nan Ai Tong School 267.5
metric 9.11
metric Ai Tong School
line 2186 nan Ai Tong School 9.11
metric 04:57.1
metric Ai Tong School
line 2187 nan Ai Tong School 297.1
metric 3.44m
metric Ai Tong School
line 2188 nan Ai Tong School 297.1
metric 10.37
metric Ai Tong School
line 2189 nan Ai Tong School 10.37
metric 05:07.6
metric Ai Tong School
line 2190 nan Ai Tong School 307.6
metric 3.23m
metric Ai Tong School
line 2191 nan Ai Tong School 307.6
metric 12.54m
metric Ai Tong School
line 2192 nan Ai Tong School 307.6
metric 5.64m
metric Ai Tong School
line 2193 nan Ai Tong School 307.6
metric 12.3
metric Ai Tong School
line 2194 nan Ai Tong School 12.3
metric 06:14.8
metric Ai Tong School
line 2195 nan Ai Tong School 374.8
metric 1.58m
metric Ai Tong School
line 2196 nan Ai Tong School 374.8
metric 9.93
metric Ai Tong School
line 2197 nan Ai Tong School 9.93
metric 04:29.6
metric Ai Tong School
line 2198 nan Ai Tong School 269.6
metric 3.14m
metric Ai Tong School
line 2199 nan Ai Tong School 269.6
metric 8.91m
metric Ai Tong School
line 2200 nan Ai Tong School 269.6
metric 12.45
metric Ai Tong School
line 2201 nan Ai Tong School 12.45
metric 05:28.0
metric Ai Tong School
line 2202 nan Ai Tong School 328.0
metric 2.27m
metric Ai Tong School
line 2203 nan Ai Tong School 328.0
metric 5.15m
metric Ai Tong School
line 2204 nan Ai Tong School 328.0
metric 10.77
metric Ai Tong School
line 2205 nan Ai Tong School 10.77
metric 04:58.9
metric Ai Tong School
line 2206 nan Ai Tong School 298.9
metric 1.00m
metric Ai Tong School
line 2207 nan Ai Tong School 298.9
metric 14.14m
metric Ai Tong School
line 2208 nan Ai Tong School 298.9
metric 4.19m
metric Ai Tong School
line 2209 nan Ai Tong School 298.9
metric 10.69
metric Ai Tong School
line 2210 nan Ai Tong School 10.69
metric 05:03.3
metric Ai Tong School
line 2211 nan Ai Tong School 303.3
metric 2.16m
metric Ai Tong School
line 2212 nan Ai Tong School 303.3
metric 10.79
metric Ai Tong School
line 2213 nan Ai Tong School 10.79
metric 6.59m
metric Ai Tong School
line 2214 nan Ai Tong School 10.79
metric 05:29.4
metric Ai Tong School
line 2215 nan Ai Tong School 329.4
metric 3.67m
metric Club ZOOM
line 2216 nan Club ZOOM 329.4
metric 9.83
metric Club ZOOM
line 2217 nan Club ZOOM 9.83
metric 04:38.2
metric Club ZOOM
line 2218 nan Club ZOOM 278.2
metric 2.70m
metric Club ZOOM
line 2219 nan Club ZOOM 278.2
metric 5.10m
metric Club ZOOM
line 2220 nan Club ZOOM 278.2
metric 9.42
metric Club ZOOM
line 2221 nan Club ZOOM 9.42
metric DNS
metric Club ZOOM
line 2222 nan Club ZOOM 9.42
metric 3.09m
metric Club ZOOM
line 2223 nan Club ZOOM 9.42
metric DNS
metric Kheng Cheng School
line 2224 nan Kheng Cheng School 9.42
metric 9.96
metric Kheng Cheng School
line 2225 nan Kheng Cheng School 9.96
metric 04:11.9
metric Kheng Cheng School

line 2860 nan INDIA 2251.4
metric DNS
metric INDIA
line 2861 nan INDIA 2251.4
metric DNS
metric INDIA
line 2862 nan INDIA 2251.4
metric 18.88m
metric INDIA
line 2863 nan INDIA 2251.4
metric DNS
metric INDIA
line 2864 nan INDIA 2251.4
metric DNS
metric INDIA
line 2865 nan INDIA 2251.4
metric DNS
metric INDIA
line 2866 nan INDIA 2251.4
metric DNS
metric INDIA
line 2867 nan INDIA 2251.4
metric 24.27m
metric INDIA
line 2868 nan INDIA 2251.4
metric 8.09m
metric INDIA
line 2869 nan INDIA 2251.4
metric 22.96m
metric INDIA
line 2870 nan INDIA 2251.4
metric DNS
metric INDIA
line 2871 nan INDIA 2251.4
metric 6.30m
metric INDIA
line 2872 nan INDIA 2251.4
metric DNS
metric INDIA
line 2873 nan INDIA 2251.4
metric 29.72m
metric INDIA
line 2874 nan INDIA 2251.4
metric 26.64m
metric INDIA
line 2875 nan INDIA 2251.4
metric DNS
metric INDIA
line 2876 nan INDIA 2251.4
metric 37.36m
metric INDIA
line 2877 nan INDIA 2251.4
metric 35.40m
metric INDIA
line 2878 nan INDIA 2251.4
metric 4.45m
metric INDIA
line 2879 nan INDIA 2251.4
metric 10.58m
metric INDIA
line 2880 nan INDIA 2251.4
metric 11.71m
metric INDIA
line 2881 nan INDIA 2251.4
metric 5.08m
metric INDIA
line 2882 nan INDIA 2251.4
metric 28:56.0
metric INDIA
line 2883 nan INDIA 1736.0
metric 03:25.6
metric INDIA
line 2884 nan INDIA 205.6
metric 07:00.5
metric INDIA
line 2885 nan INDIA 420.5
metric 25:29.2
metric INDIA
line 2886 nan INDIA 1529.2
metric DNS
metric INDIA
line 2887 nan INDIA 1529.2
metric DNS
metric INDIA
line 2888 nan INDIA 1529.2
metric 35.2
metric INDIA
line 2889 nan INDIA 35.2
metric 15.5
metric INDIA
line 2890 nan INDIA 15.5
metric 3.28m
metric INDIA
line 2891 nan INDIA 15.5
metric 39.31
metric INDIA
line 2892 nan INDIA 39.31
metric 01:35.9
metric INDIA
line 2893 nan INDIA 95.9
metric 31:18.5
metric INDIA
line 2894 nan INDIA 1878.5
metric DNS
metric INDIA
line 2895 nan INDIA 1878.5
metric DNS
metric INDIA
line 2896 nan INDIA 1878.5
metric DNS
metric INDIA
line 2897 nan INDIA 1878.5
metric 34.72m
metric INDIA
line 2898 nan INDIA 1878.5
metric 29.07m
metric INDIA
line 2899 nan INDIA 1878.5
metric 8.88m
metric INDIA
line 2900 nan INDIA 1878.5
metric 38.65m
metric INDIA
line 2901 nan INDIA 1878.5
metric DNS
metric INDIA
line 2902 nan INDIA 1878.5
metric DNS
metric INDIA
line 2903 nan INDIA 1878.5
metric 4.98m
metric INDIA
line 2904 nan INDIA 1878.5
metric 54.52
metric INDIA
line 2905 nan INDIA 54.52
metric 9.57m
metric INDIA
line 2906 nan INDIA 54.52
metric 16.79m
metric INDIA
line 2907 nan INDIA 54.52
metric 8.04m
metric INDIA
line 2908 nan INDIA 54.52
metric 14.19m
metric INDIA
line 2909 nan INDIA 54.52
metric 24.13m
metric INDIA
line 2910 nan INDIA 54.52
metric 24.60m
metric INDIA
line 2911 nan INDIA 54.52
metric 6.68m
metric INDIA
line 2912 nan INDIA 54.52
metric 20.71m
metric INDIA
line 2913 nan INDIA 54.52
metric 27.25
metric INDIA
line 2914 nan INDIA 27.25
metric 1.05m
metric INDIA
line 2915 nan INDIA 27.25
metric DNS
metric INDIA
line 2916 nan INDIA 27.25
metric 38.43
metric INDIA
line 2917 nan INDIA 38.43
metric 17.27
metric INDIA
line 2918 nan INDIA 17.27
metric 6.09m
metric INDIA
line 2919 nan INDIA 17.27
metric 5.80m
metric INDIA
line 2920 nan INDIA 17.27
metric 21.57m
metric INDIA
line 2921 nan INDIA 17.27
metric 22.12m
metric INDIA
line 2922 nan INDIA 17.27
metric 7.66m
metric INDIA
line 2923 nan INDIA 17.27
metric 22.82m
metric INDIA
line 2924 nan INDIA 17.27
metric 6.49m
metric INDIA
line 2925 nan INDIA 17.27
metric 14.52m
metric INDIA
line 2926 nan INDIA 17.27
metric 7.55m
metric INDIA
line 2927 nan INDIA 17.27
metric 3.94m
metric INDIA
line 2928 nan INDIA 17.27
metric 6.88m
metric INDIA
line 2929 nan INDIA 17.27
metric 5.08m
metric INDIA
line 2930 nan INDIA 17.27
metric FOUL
metric INDIA
line 2931 nan INDIA 17.27
metric 33.89
metric INDIA
line 2932 nan INDIA 33.89
metric 16.25
metric INDIA
line 2933 nan INDIA 16.25
metric 17.77m
metric INDIA
line 2934 nan INDIA 16.25
metric DNS
metric INDIA
line 2935 nan INDIA 16.25
metric 25:38.5
metric INDIA
line 2936 nan INDIA 1538.5
metric 22.25m
metric INDIA
line 2937 nan INDIA 1538.5
metric 6.84m
metric INDIA
line 2938 nan INDIA 1538.5
metric 18.61m
metric INDIA
line 2939 nan INDIA 1538.5
metric 18.22m
metric INDIA
line 2940 nan INDIA 1538.5
metric 6.63m
metric INDIA
line 2941 nan INDIA 1538.5
metric 2.81m
metric INDIA
line 2942 nan INDIA 1538.5
metric 6.05m
metric INDIA
line 2943 nan INDIA 1538.5
metric 55.21
metric INDIA
line 2944 nan INDIA 55.21
metric 20.76m
metric INDIA
line 2945 nan INDIA 55.21
metric 19.06m
metric INDIA
line 2946 nan INDIA 55.21
metric 8.31m
metric INDIA
line 2947 nan INDIA 55.21
metric 3.11m
metric INDIA
line 2948 nan INDIA 55.21
metric 8.44m
metric INDIA
line 2949 nan INDIA 55.21
metric 38.43
metric SAFSA
line 2950 nan SAFSA 38.43
metric DNS
metric SAFSA
line 2951 nan SAFSA 38.43
metric DNS
metric SAFSA
line 2952 nan SAFSA 38.43
metric 4.51m
metric SAFSA
line 2953 nan SAFSA 38.43
metric 13.37
metric SAFSA
line 2954 nan SAFSA 13.37
metric DNS
metric SAFSA
line 2955 nan SAFSA 13.37
metric DNS
metric SAFSA
line 2956 nan SAFSA 13.37
metric DNS
metric SAFSA
line 2957 nan SAFSA 13.37
metric 6.73m
metric SAFSA
line 2958 nan SAFSA 13.37
metric 23.50m
metric SAFSA
line 2959 nan SAFSA 13.37
metric 3.54m
metric SAFSA
line 2960 nan SAFSA 13.37
metric 25.23m
metric SAFSA
line 2961 nan SAFSA 13.37
metric 8.61m
metric SAFSA
line 2962 nan SAFSA 13.37
metric 29.16m
metric SAFSA
line 2963 nan SAFSA 13.37
metric 30.09
metric SAFSA
line 2964 nan SAFSA 30.09
metric 01:10.1
metric SAFSA
line 2965 nan SAFSA 70.1
metric DNS
metric SAFSA
line 2966 nan SAFSA 70.1
metric DNS
metric SAFSA
line 2967 nan SAFSA 70.1
metric 14.52
metric SAFSA
line 2968 nan SAFSA 14.52
metric 28.39m
metric SAFSA
line 2969 nan SAFSA 14.52
metric 7.07m
metric SAFSA
line 2970 nan SAFSA 14.52
metric 28.11
metric SAFSA
line 2971 nan SAFSA 28.11
metric 13.72
metric SMTFA
line 2972 nan SMTFA 13.72
metric 15.17
metric SMTFA
line 2973 nan SMTFA 15.17
metric 53.31
metric SMTFA
line 2974 nan SMTFA 53.31
metric 14.43
metric SMTFA
line 2975 nan SMTFA 14.43
metric 01:01.6
metric SMTFA
line 2976 nan SMTFA 61.6
metric 14.32
metric SMTFA
line 2977 nan SMTFA 14.32
metric 10.93
metric SMTFA
line 2978 nan SMTFA 10.93
metric 38.47
metric SMTFA
line 2979 nan SMTFA 38.47
metric 01:27.3
metric SMTFA
line 2980 nan SMTFA 87.3
metric 13.25
metric SMTFA
line 2981 nan SMTFA 13.25
metric 49.1
metric SMTFA
line 2982 nan SMTFA 49.1
metric 13.11
metric SMTFA
line 2983 nan SMTFA 13.11
metric 42.47
metric SMTFA
line 2984 nan SMTFA 42.47
metric 13.42
metric SMTFA
line 2985 nan SMTFA 13.42
metric 13.98
metric SMTFA
line 2986 nan SMTFA 13.98
metric DNS
metric SMTFA
line 2987 nan SMTFA 13.98
metric 12.99
metric SMTFA
line 2988 nan SMTFA 12.99
metric 16.07
metric SMTFA
line 2989 nan SMTFA 16.07
metric 30.59
metric SMTFA
line 2990 nan SMTFA 30.59
metric 14.66
metric SMTFA
line 2991 nan SMTFA 14.66
metric 36.88
metric SMTFA
line 2992 nan SMTFA 36.88
metric 17.51
metric SMTFA
line 2993 nan SMTFA 17.51
metric DNS
metric SMTFA
line 2994 nan SMTFA 17.51
metric DNS
metric SMTFA
line 2995 nan SMTFA 17.51
metric DNS
metric SMTFA
line 2996 nan SMTFA 17.51
metric DNS
metric SMTFA
line 2997 nan SMTFA 17.51
metric 12.56
metric SMTFA
line 2998 nan SMTFA 12.56
metric 05:31.8
metric SMTFA
line 2999 nan SMTFA 331.8
metric 37.62m
metric SMTFA
line 3000 nan SMTFA 331.8
metric DNS
metric SMTFA
line 3001 nan SMTFA 331.8
metric FOUL
metric SMTFA
line 3002 nan SMTFA 331.8
metric 01:09.2
metric SMTFA
line 3003 nan SMTFA 69.2
metric DNS
metric SMTFA
line 3004 nan SMTFA 69.2
metric 11.91
metric SMTFA
line 3005 nan SMTFA 11.91
metric DNS
metric SMTFA
line 3006 nan SMTFA 11.91
metric 14.67
metric SMTFA
line 3007 nan SMTFA 14.67
metric 18:20.4
metric SMTFA
line 3008 nan SMTFA 1100.4
metric 13.92
metric SMTFA
line 3009 nan SMTFA 13.92
metric 17.66m
metric SMTFA
line 3010 nan SMTFA 13.92
metric 6.68m
metric SMTFA
line 3011 nan SMTFA 13.92
metric 15.48m
metric SMTFA
line 3012 nan SMTFA 13.92
metric 20.51m
metric SMTFA
line 3013 nan SMTFA 13.92
metric 12.2
metric SMTFA
line 3014 nan SMTFA 12.2
metric 13.46
metric SMTFA
line 3015 nan SMTFA 13.46
metric 21:02.5
metric SMTFA
line 3016 nan SMTFA 1262.5
metric FOUL
metric SMTFA
line 3017 nan SMTFA 1262.5
metric 34.81m
metric SMTFA
line 3018 nan SMTFA 1262.5
metric 25.12
metric SMTFA
line 3019 nan SMTFA 25.12
metric 11.96
metric SMTFA
line 3020 nan SMTFA 11.96
metric 5.72m
metric SMTFA
line 3021 nan SMTFA 11.96
metric 06:21.0
metric SMTFA
line 3022 nan SMTFA 381.0
metric 03:00.5
metric SMTFA
line 3023 nan SMTFA 180.5
metric 1.45m
metric SMTFA
line 3024 nan SMTFA 180.5
metric 26.42
metric SMTFA
line 3025 nan SMTFA 26.42
metric 01:07.7
metric SMTFA
line 3026 nan SMTFA 67.7
metric 58.77
metric SMTFA
line 3027 nan SMTFA 58.77
metric DNS
metric SMTFA
line 3028 nan SMTFA 58.77
metric DNS
metric SMTFA
line 3029 nan SMTFA 58.77
metric 19.70m
metric SMTFA
line 3030 nan SMTFA 58.77
metric 7.36m
metric SMTFA
line 3031 nan SMTFA 58.77
metric 31.40m
metric SMTFA
line 3032 nan SMTFA 58.77
metric 14.98m
metric SMTFA
line 3033 nan SMTFA 58.77
metric DNS
metric SMTFA
line 3034 nan SMTFA 58.77
metric 11.21m
metric SMTFA
line 3035 nan SMTFA 58.77
metric DNS
metric SMTFA
line 3036 nan SMTFA 58.77
metric DNS
metric SMTFA
line 3037 nan SMTFA 58.77
metric 01:00.9
metric SMTFA
line 3038 nan SMTFA 60.9
metric DNS
metric SMTFA
line 3039 nan SMTFA 60.9
metric 3.45m
metric SMTFA
line 3040 nan SMTFA 60.9
metric DNS
metric SMTFA
line 3041 nan SMTFA 60.9
metric DNS
metric SMTFA
line 3042 nan SMTFA 60.9
metric 42:47.3
metric SMTFA
line 3043 nan SMTFA 2567.3
metric DNS
metric SMTFA
line 3044 nan SMTFA 2567.3
metric DNS
metric SMTFA
line 3045 nan SMTFA 2567.3
metric DNS
metric SMTFA
line 3046 nan SMTFA 2567.3
metric 31.85
metric SMTFA
line 3047 nan SMTFA 31.85
metric DNS
metric SMTFA
line 3048 nan SMTFA 31.85
metric 03:47.9
metric SMTFA
line 3049 nan SMTFA 227.9
metric DNS
metric SMTFA
line 3050 nan SMTFA 227.9
metric DNS
metric SMTFA
line 3051 nan SMTFA 227.9
metric 15.12
metric SMTFA
line 3052 nan SMTFA 15.12
metric 29.07
metric SMTFA
line 3053 nan SMTFA 29.07
metric 14.08
metric SMTFA
line 3054 nan SMTFA 14.08
metric 01:06.9
metric SMTFA
line 3055 nan SMTFA 66.9
metric 02:15.6
metric SMTFA
line 3056 nan SMTFA 135.6
metric 05:00.6
metric SMTFA
line 3057 nan SMTFA 300.6
metric DNS
metric SMTFA
line 3058 nan SMTFA 300.6
metric DNS
metric SMTFA
line 3059 nan SMTFA 300.6
metric DNS
metric SMTFA
line 3060 nan SMTFA 300.6
metric FOUL
metric SMTFA
line 3061 nan SMTFA 300.6
metric 30.02m
metric SMTFA
line 3062 nan SMTFA 300.6
metric 8.88m
metric SMTFA
line 3063 nan SMTFA 300.6
metric FOUL
metric SMTFA
line 3064 nan SMTFA 300.6
metric 1.40m
metric SMTFA
line 3065 nan SMTFA 300.6
metric 9.43m
metric SMTFA
line 3066 nan SMTFA 300.6
metric 28.63
metric SMTFA
line 3067 nan SMTFA 28.63
metric 20.24
metric SMTFA
line 3068 nan SMTFA 20.24
metric 13.78
metric SMTFA
line 3069 nan SMTFA 13.78
metric 01:11.7
metric SMTFA
line 3070 nan SMTFA 71.7
metric 17.94
metric SMTFA
line 3071 nan SMTFA 17.94
metric 12.85
metric SMTFA
line 3072 nan SMTFA 12.85
metric 21.51m
metric SMTFA
line 3073 nan SMTFA 12.85
metric 7.80m
metric SMTFA
line 3074 nan SMTFA 12.85
metric 4.72m
metric SMTFA
line 3075 nan SMTFA 12.85
metric 58.53
metric SMTFA
line 3076 nan SMTFA 58.53
metric DNS
metric SMTFA
line 3077 nan SMTFA 58.53
metric 14.36
metric SMTFA
line 3078 nan SMTFA 14.36
metric DNS
metric SMTFA
line 3079 nan SMTFA 14.36
metric DNS
metric SMTFA
line 3080 nan SMTFA 14.36
metric DNS
metric SMTFA
line 3081 nan SMTFA 14.36
metric DNS
metric SMTFA
line 3082 nan SMTFA 14.36
metric 01:01.1
metric SMTFA
line 3083 nan SMTFA 61.1
metric DNS
metric SMTFA
line 3084 nan SMTFA 61.1
metric DNS
metric SMTFA
line 3085 nan SMTFA 61.1
metric 14.75
metric SMTFA
line 3086 nan SMTFA 14.75
metric 30.82
metric SMTFA
line 3087 nan SMTFA 30.82
metric 06:03.4
metric SMTFA
line 3088 nan SMTFA 363.4
metric DNF
metric SMTFA
line 3089 nan SMTFA 363.4
metric DNS
metric SMTFA
line 3090 nan SMTFA 363.4
metric 02:54.1
metric SMTFA
line 3091 nan SMTFA 174.1
metric 06:19.2
metric SMTFA
line 3092 nan SMTFA 379.2
metric 24:47.0
metric SMTFA
line 3093 nan SMTFA 1487.0
metric DNS
metric SMTFA
line 3094 nan SMTFA 1487.0
metric 1.15m
metric SMTFA
line 3095 nan SMTFA 1487.0
metric 8.81m
metric SMTFA
line 3096 nan SMTFA 1487.0
metric 4.09m
metric SMTFA
line 3097 nan SMTFA 1487.0
metric 34.87
metric SMTFA
line 3098 nan SMTFA 34.87
metric 16.57
metric SMTFA
line 3099 nan SMTFA 16.57
metric 19.61m
metric SMTFA
line 3100 nan SMTFA 16.57
metric 6.25m
metric SMTFA
line 3101 nan SMTFA 16.57
metric 01:33.6
metric SMTFA
line 3102 nan SMTFA 93.6
metric 02:35.4
metric SMTFA
line 3103 nan SMTFA 155.4
metric 05:32.0
metric SMTFA
line 3104 nan SMTFA 332.0
metric 01:02.5
metric SMTFA
line 3105 nan SMTFA 62.5
metric 17.44
metric SMTFA
line 3106 nan SMTFA 17.44
metric DNS
metric SMTFA
line 3107 nan SMTFA 17.44
metric DNS
metric SMTFA
line 3108 nan SMTFA 17.44
metric DNS
metric SMTFA
line 3109 nan SMTFA 17.44
metric 28.34m
metric SMTFA
line 3110 nan SMTFA 17.44
metric 29.63m
metric SMTFA
line 3111 nan SMTFA 17.44
metric 6.94m
metric SMTFA
line 3112 nan SMTFA 17.44
metric 14.60m
metric SMTFA
line 3113 nan SMTFA 17.44
metric DNS
metric SMTFA
line 3114 nan SMTFA 17.44
metric 15.98
metric SMTFA
line 3115 nan SMTFA 15.98
metric 8.51m
metric SMTFA
line 3116 nan SMTFA 15.98
metric DNS
metric SMTFA
line 3117 nan SMTFA 15.98
metric 05:38.8
metric SMTFA
line 3118 nan SMTFA 338.8
metric 13.89
metric SMTFA
line 3119 nan SMTFA 13.89
metric 4.46m
metric SMTFA
line 3120 nan SMTFA 13.89
metric 14.93m
metric SMTFA
line 3121 nan SMTFA 13.89
metric DNS
metric SMTFA
line 3122 nan SMTFA 13.89
metric 37.48
metric SMTFA
line 3123 nan SMTFA 37.48
metric 17.17
metric SMTFA
line 3124 nan SMTFA 17.17
metric 34.85
metric SMTFA
line 3125 nan SMTFA 34.85
metric 16.22
metric SMTFA
line 3126 nan SMTFA 16.22
metric 14.56
metric SMTFA
line 3127 nan SMTFA 14.56
metric 14.92
metric SMTFA
line 3128 nan SMTFA 14.92
metric 01:36.1
metric SMTFA
line 3129 nan SMTFA 96.1
metric 4.94m
metric SMTFA
line 3130 nan SMTFA 96.1
metric 15.23m
metric SMTFA
line 3131 nan SMTFA 96.1
metric 12.05m
metric SMTFA
line 3132 nan SMTFA 96.1
metric DNS
metric SMTFA
line 3133 nan SMTFA 96.1
metric DNS
metric SMTFA
line 3134 nan SMTFA 96.1
metric DNS
metric SMTFA
line 3135 nan SMTFA 96.1
metric DNS
metric SMTFA
line 3136 nan SMTFA 96.1
metric 8.60m
metric SMTFA
line 3137 nan SMTFA 96.1
metric 22.12m
metric SMTFA
line 3138 nan SMTFA 96.1
metric 28.37m
metric SMTFA
line 3139 nan SMTFA 96.1
metric 9.13m
metric SMTFA
line 3140 nan SMTFA 96.1
metric 8.24m
metric SMTFA
line 3141 nan SMTFA 96.1
metric 4.09m
metric SMTFA
line 3142 nan SMTFA 96.1
metric 13.99
metric SMTFA
line 3143 nan SMTFA 13.99
metric 7.72m
metric SMTFA
line 3144 nan SMTFA 13.99
metric 01:11.6
metric SMTFA
line 3145 nan SMTFA 71.6
metric 02:52.1
metric SMTFA
line 3146 nan SMTFA 172.1
metric 06:17.6
metric SMTFA
line 3147 nan SMTFA 377.6
metric 25:37.5
metric SMTFA
line 3148 nan SMTFA 1537.5
metric 28.22
metric SMTFA
line 3149 nan SMTFA 28.22
metric 13.35
metric SMTFA
line 3150 nan SMTFA 13.35
metric 01:16.0
metric SMTFA
line 3151 nan SMTFA 76.0
metric 24.46
metric SMTFA
line 3152 nan SMTFA 24.46
metric 16.95
metric SMTFA
line 3153 nan SMTFA 16.95
metric 7.81m
metric SMTFA
line 3154 nan SMTFA 16.95
metric 16.52m
metric SMTFA
line 3155 nan SMTFA 16.95
metric 24.82m
metric SMTFA
line 3156 nan SMTFA 16.95
metric 1.30m
metric SMTFA
line 3157 nan SMTFA 16.95
metric 3.69m
metric SMTFA
line 3158 nan SMTFA 16.95
metric 28.00m
metric SMTFA
line 3159 nan SMTFA 16.95
metric DNS
metric SMTFA
line 3160 nan SMTFA 16.95
metric DNS
metric SMTFA
line 3161 nan SMTFA 16.95
metric 04:19.6
metric SMTFA
line 3162 nan SMTFA 259.6
metric 01:51.4
metric SMTFA
line 3163 nan SMTFA 111.4
metric 22:48.0
metric SMTFA
line 3164 nan SMTFA 1368.0
metric 19.09m
metric SMTFA
line 3165 nan SMTFA 1368.0
metric DNS
metric SMTFA
line 3166 nan SMTFA 1368.0
metric 16.27
metric SMTFA
line 3167 nan SMTFA 16.27
metric DNS
metric SMTFA
line 3168 nan SMTFA 16.27
metric 7.76m
metric SMTFA
line 3169 nan SMTFA 16.27
metric 01:21.1
metric SMTFA
line 3170 nan SMTFA 81.1
metric 6.00m
metric SMTFA
line 3171 nan SMTFA 81.1
metric 38.56
metric SMTFA
line 3172 nan SMTFA 38.56
metric 11.43m
metric SMTFA
line 3173 nan SMTFA 38.56
metric 17.31
metric SMTFA
line 3174 nan SMTFA 17.31
metric 25:40.4
metric SMTFA
line 3175 nan SMTFA 1540.4
metric FOUL
metric SMTFA
line 3176 nan SMTFA 1540.4
metric 14.90m
metric SMTFA
line 3177 nan SMTFA 1540.4
metric 6.21m
metric SMTFA
line 3178 nan SMTFA 1540.4
metric DNS
metric SMTFA
line 3179 nan SMTFA 1540.4
metric DNS
metric SMTFA
line 3180 nan SMTFA 1540.4
metric DNS
metric SMTFA
line 3181 nan SMTFA 1540.4
metric DNS
metric SMTFA
line 3182 nan SMTFA 1540.4
metric DNS
metric SMTFA
line 3183 nan SMTFA 1540.4
metric DNS
metric SMTFA
line 3184 nan SMTFA 1540.4
metric DNS
metric SMTFA
line 3185 nan SMTFA 1540.4
metric 16.39
metric SMTFA
line 3186 nan SMTFA 16.39
metric 28.78m
metric SMTFA
line 3187 nan SMTFA 16.39
metric 21:42.7
metric SMTFA
line 3188 nan SMTFA 1302.7
metric 43.36
metric SMTFA
line 3189 nan SMTFA 43.36
metric DNS
metric SMTFA
line 3190 nan SMTFA 43.36
metric 23.46m
metric SMTFA
line 3191 nan SMTFA 43.36
metric 21.09m
metric SMTFA
line 3192 nan SMTFA 43.36
metric 8.06m
metric SMTFA
line 3193 nan SMTFA 43.36
metric DNS
metric SMTFA
line 3194 nan SMTFA 43.36
metric DNS
metric SMTFA
line 3195 nan SMTFA 43.36
metric 15.18
metric SMTFA
line 3196 nan SMTFA 15.18
metric 14.47
metric SMTFA
line 3197 nan SMTFA 14.47
metric DNS
metric SMTFA
line 3198 nan SMTFA 14.47
metric 26:20.8
metric SMTFA
line 3199 nan SMTFA 1580.8
metric 34.6
metric SMTFA
line 3200 nan SMTFA 34.6
metric 16.76
metric SMTFA
line 3201 nan SMTFA 16.76
metric DNS
metric SMTFA
line 3202 nan SMTFA 16.76
metric 19.59
metric SMTFA
line 3203 nan SMTFA 19.59
metric 01:46.0
metric SMTFA
line 3204 nan SMTFA 106.0
metric 21.04
metric SMTFA
line 3205 nan SMTFA 21.04
metric 17.64
metric SMTFA
line 3206 nan SMTFA 17.64
metric 51.91
metric SMTFA
line 3207 nan SMTFA 51.91
metric DNS
metric SMTFA
line 3208 nan SMTFA 51.91
metric 18.46
metric MAXFORM
line 3209 nan MAXFORM 18.46
metric 17.82
metric MAXFORM
line 3210 nan MAXFORM 17.82
metric 17.82
metric MAXFORM
line 3211 nan MAXFORM 17.82
metric DNS
metric MAXFORM
line 3212 nan MAXFORM 17.82
metric DNS
metric MAXFORM
line 3213 nan MAXFORM 17.82
metric 11.21
metric MAXFORM
line 3214 nan MAXFORM 11.21
metric 11.87
metric MAXFORM
line 3215 nan MAXFORM 11.87
metric 11.34
metric MAXFORM
line 3216 nan MAXFORM 11.34
metric 23.91
metric MAXFORM
line 3217 nan MAXFORM 23.91
metric 11.59
metric MAXFORM
line 3218 nan MAXFORM 11.59
metric 11.56
metric MAXFORM
line 3219 nan MAXFORM 11.56
metric 11.81
metric MAXFORM
line 3220 nan MAXFORM 11.81
metric 11.7
metric Malaysia
line 3221 nan Malaysia 11.7
metric 9.03m
metric Malaysia
line 3222 nan Malaysia 11.7
metric 28.13m
metric Malaysia
line 3223 nan Malaysia 11.7
metric 29.26m
metric Malaysia
line 3224 nan Malaysia 11.7
metric 1.15m
metric Malaysia
line 3225 nan Malaysia 11.7
metric 20.94
metric Malaysia
line 3226 nan Malaysia 20.94
metric 5.06m
metric Malaysia
line 3227 nan Malaysia 20.94
metric 9.72m
metric Malaysia
line 3228 nan Malaysia 20.94
metric 19.78
metric Malaysia
line 3229 nan Malaysia 19.78
metric 26.46m
metric Malaysia
line 3230 nan Malaysia 19.78
metric 35.64
metric Malaysia
line 3231 nan Malaysia 35.64
metric 29.14
metric Malaysia
line 3232 nan Malaysia 29.14
metric DNS
metric Malaysia
line 3233 nan Malaysia 29.14
metric 16.9
metric Malaysia
line 3234 nan Malaysia 16.9
metric 01:24.9
metric Malaysia
line 3235 nan Malaysia 84.9
metric 5.86m
metric Malaysia
line 3236 nan Malaysia 84.9
metric 22.01m
metric Malaysia
line 3237 nan Malaysia 84.9
metric 15.77m
metric Malaysia
line 3238 nan Malaysia 84.9
metric 08:01.9
metric Malaysia
line 3239 nan Malaysia 481.9
metric 03:51.8
metric Malaysia
line 3240 nan Malaysia 231.8
metric 01:35.4
metric Malaysia

metric JS Athletics
line 3840 nan JS Athletics 14.12
metric DNS
metric JS Athletics
line 3841 nan JS Athletics 14.12
metric DNS
metric JS Athletics
line 3842 nan JS Athletics 14.12
metric DNS
metric JS Athletics
line 3843 nan JS Athletics 14.12
metric 11.05
metric JS Athletics
line 3844 nan JS Athletics 11.05
metric 36.59
metric JS Athletics
line 3845 nan JS Athletics 36.59
metric 12.1
metric JS Athletics
line 3846 nan JS Athletics 12.1
metric DNS
metric JS Athletics
line 3847 nan JS Athletics 12.1
metric 11.79
metric JS Athletics
line 3848 nan JS Athletics 11.79
metric 2.00m
metric JS Athletics
line 3849 nan JS Athletics 11.79
metric 41.45
metric JS Athletics
line 3850 nan JS Athletics 41.45
metric DNS
metric JS Athletics
line 3851 nan JS Athletics 41.45
metric DNS
metric JS Athletics
line 3852 nan JS Athletics 41.45
metric 01:27.5
metric JS Athletics
line 3853 nan JS Athletics 87.5
metric 01:39.3
metric JS Athletics
line 3854 nan JS Athletics 99.3
metric 13.73
metric JS Athletics
line 3855 nan JS Athletics 13.73
metric 15.93
metric JS Athletics
line 3856 nan JS Athletics 15.93
metric 3.04m
metric JS Athletics
line 3857 nan JS Athletics 15.93
metric 13.6
metric JS Athletics
line 3858 nan JS Athletics 13.6
metric 01:26.1
metric JS Athletics
line 3859 nan JS Athletics 86.1
metric 12.99
metric JS Athletics
line 3860 nan JS Athletics 12.99
metric 32.52
metric JS Athletics
line 3861 nan JS Athletics 32.52
metric 15.23
metric JS Athletics
line 3862 nan JS Athletics 15.23
metric 15.23
metric JS Athletics
line 3863 nan JS Athletics 15.23
metric 15.58
metric JS Athletics
line 3864 nan JS Athletics 15.58
metric 15.58
metric JS Athletics
line 3865 nan JS Athletics 15.58
metric 02:13.1
metric JS Athletics
line 3866 nan JS Athletics 133.1
metric 3.72m
metric JS Athletics
line 3867 nan JS Athletics 133.1
metric 15.86
metric JS Athletics
line 3868 nan JS Athletics 15.86
metric 32.55
metric JS Athletics
line 3869 nan JS Athletics 32.55
metric 02:00.8
metric JS Athletics
line 3870 nan JS Athletics 120.8
metric 15.88
metric JS Athletics
line 3871 nan JS Athletics 15.88
metric 34.39
metric JS Athletics
line 3872 nan JS Athletics 34.39
metric 02:00.2
metric JS Athletics
line 3873 nan JS Athletics 120.2
metric 15.61
metric JS Athletics
line 3874 nan JS Athletics 15.61
metric 34.15
metric JS Athletics
line 3875 nan JS Athletics 34.15
metric 02:12.0
metric JS Athletics
line 3876 nan JS Athletics 132.0
metric 33
metric JS Athletics
line 3877 nan JS Athletics 33.0
metric 15.93
metric JS Athletics
line 3878 nan JS Athletics 15.93
metric 3.55m
metric JS Athletics
line 3879 nan JS Athletics 15.93
metric 16.3
metric JS Athletics
line 3880 nan JS Athletics 16.3
metric 34.59
metric JS Athletics
line 3881 nan JS Athletics 34.59
metric 16.56
metric JS Athletics
line 3882 nan JS Athletics 16.56
metric 31.61
metric JS Athletics
line 3883 nan JS Athletics 31.61
metric 15.35
metric JS Athletics
line 3884 nan JS Athletics 15.35
metric 01:46.9
metric JS Athletics
line 3885 nan JS Athletics 106.9
metric 27.21
metric JS Athletics
line 3886 nan JS Athletics 27.21
metric 13.62
metric JS Athletics
line 3887 nan JS Athletics 13.62
metric 01:50.2
metric JS Athletics
line 3888 nan JS Athletics 110.2
metric 33.41
metric JS Athletics
line 3889 nan JS Athletics 33.41
metric 5.01m
metric JS Athletics
line 3890 nan JS Athletics 33.41
metric 25.97
metric JS Athletics
line 3891 nan JS Athletics 25.97
metric 29.27
metric JS Athletics
line 3892 nan JS Athletics 29.27
metric 33.61
metric JS Athletics
line 3893 nan JS Athletics 33.61
metric 03:00.3
metric JS Athletics
line 3894 nan JS Athletics 180.3
metric DNS
metric SG Sports Sch
line 3895 nan SG Sports Sch 180.3
metric 13.85
metric SG Sports Sch
line 3896 nan SG Sports Sch 13.85
metric DNS
metric SG Sports Sch
line 3897 nan SG Sports Sch 13.85
metric 4.76m
metric SG Sports Sch
line 3898 nan SG Sports Sch 13.85
metric 12.78
metric SG Sports Sch
line 3899 nan SG Sports Sch 12.78
metric 13.11
metric SG Sports Sch
line 3900 nan SG Sports Sch 13.11
metric 26.2
metric SG Sports Sch
line 3901 nan SG Sports Sch 26.2
metric 5.27m
metric SG Sports Sch
line 3902 nan SG Sports Sch 26.2
metric 13.25
metric SG Sports Sch
line 3903 nan SG Sports Sch 13.25
metric 14.79
metric SG Sports Sch
line 3904 nan SG Sports Sch 14.79
metric 30.02
metric SG Sports Sch
line 3905 nan SG Sports Sch 30.02
metric NH
metric SG Sports Sch
line 3906 nan SG Sports Sch 30.02
metric 14.12
metric SG Sports Sch
line 3907 nan SG Sports Sch 14.12
metric 29.51
metric SG Sports Sch
line 3908 nan SG Sports Sch 29.51
metric 1.30m
metric SG Sports Sch
line 3909 nan SG Sports Sch 29.51
metric 14.24
metric SG Sports Sch
line 3910 nan SG Sports Sch 14.24
metric 29.25
metric SG Sports Sch
line 3911 nan SG Sports Sch 29.25
metric 1.25m
metric SG Sports Sch
line 3912 nan SG Sports Sch 29.25
metric 4.00m
metric SG Sports Sch
line 3913 nan SG Sports Sch 29.25
metric 14.85
metric SG Sports Sch
line 3914 nan SG Sports Sch 14.85
metric 1.30m
metric SG Sports Sch
line 3915 nan SG Sports Sch 14.85
metric 15.36
metric SG Sports Sch
line 3916 nan SG Sports Sch 15.36
metric 31.99
metric SG Sports Sch
line 3917 nan SG Sports Sch 31.99
metric 15.16
metric SG Sports Sch
line 3918 nan SG Sports Sch 15.16
metric 01:22.2
metric SG Sports Sch
line 3919 nan SG Sports Sch 82.2
metric 15.61
metric SG Sports Sch
line 3920 nan SG Sports Sch 15.61
metric 32.88
metric Team Athelite
line 3921 nan Team Athelite 32.88
metric 01:28.6
metric Team Athelite
line 3922 nan Team Athelite 88.6
metric 13.56
metric Team Athelite
line 3923 nan Team Athelite 13.56
metric 13.56
metric Team Athelite
line 3924 nan Team Athelite 13.56
metric 13.29
metric Team Athelite
line 3925 nan Team Athelite 13.29
metric 13.29
metric Team Athelite
line 3926 nan Team Athelite 13.29
metric 35.35
metric Team Athelite
line 3927 nan Team Athelite 35.35
metric 35.35
metric Team Athelite
line 3928 nan Team Athelite 35.35
metric 34.43
metric Team Athelite
line 3929 nan Team Athelite 34.43
metric 34.43
metric Team Athelite
line 3930 nan Team Athelite 34.43
metric 4.50m
metric Team Athelite
line 3931 nan Team Athelite 34.43
metric 14.72
metric Team Athelite
line 3932 nan Team Athelite 14.72
metric 30.4
metric Hong Kong, China
line 3933 nan Hong Kong, China 30.4
metric DNS
metric Hong Kong, China
line 3934 nan Hong Kong, China 30.4
metric 5.90m
metric Hong Kong, China
line 3935 nan Hong Kong, China 30.4
metric 5.90m
metric Hong Kong, China
line 3936 nan Hong Kong, China 30.4
metric 11.59m
metric Hong Kong, China
line 3937 nan Hong Kong, China 30.4
metric 11.59m
metric Hong Kong, China
line 3938 nan Hong Kong, China 30.4
metric 18:56.4
metric Hong Kong, China
line 3939 nan Hong Kong, China 1136.4
metric 54.62
metric Hong Kong, China
line 3940 nan Hong Kong, China 54.62
metric 13.96
metric Hong Kong, China
line 3941 nan Hong Kong, China 13.96
metric 01:08.7
metric Hong Kong, China
line 3942 nan Hong Kong, China 68.7
metric 8.10m
metric Hong Kong, China
line 3943 nan Hong Kong, China 68.7
metric 35.02
metric Hong Kong, China
line 3944 nan Hong Kong, China 35.02
metric 1.00m
metric Hong Kong, China
line 3945 nan Hong Kong, China 35.02
metric 15.63
metric Hong Kong, China
line 3946 nan Hong Kong, China 15.63
metric 3.40m
metric Hong Kong, China
line 3947 nan Hong Kong, China 15.63
metric 6.34m
metric Hong Kong, China
line 3948 nan Hong Kong, China 15.63
metric DNS
metric Hong Kong, China
line 3949 nan Hong Kong, China 15.63
metric 12.49m
metric Hong Kong, China
line 3950 nan Hong Kong, China 15.63
metric 12.67m
metric Hong Kong, China
line 3951 nan Hong Kong, China 15.63
metric 20.16
metric Hong Kong, China
line 3952 nan Hong Kong, China 20.16
metric 5.96m
metric Hong Kong, China
line 3953 nan Hong Kong, China 20.16
metric 1.00m
metric Hong Kong, China
line 3954 nan Hong Kong, China 20.16
metric 15.47m
metric Hong Kong, China
line 3955 nan Hong Kong, China 20.16
metric 12.08m
metric Hong Kong, China
line 3956 nan Hong Kong, China 20.16
metric 19.36
metric Oldham Athletics
line 3957 nan Oldham Athletics 19.36
metric 01:28.1
metric Oldham Athletics
line 3958 nan Oldham Athletics 88.1
metric 10.44
metric Oldham Athletics
line 3959 nan Oldham Athletics 10.44
metric 34.8
metric Oldham Athletics
line 3960 nan Oldham Athletics 34.8
metric 01:21.0
metric Oldham Athletics
line 3961 nan Oldham Athletics 81.0
metric 9.53m
metric Oldham Athletics
line 3962 nan Oldham Athletics 81.0
metric 15.72
metric Oldham Athletics
line 3963 nan Oldham Athletics 15.72
metric 28.58
metric Oldham Athletics
line 3964 nan Oldham Athletics 28.58
metric 01:14.8
metric Oldham Athletics
line 3965 nan Oldham Athletics 74.8
metric 13.42
metric Oldham Athletics
line 3966 nan Oldham Athletics 13.42
metric 4.34m
metric Oldham Athletics
line 3967 nan Oldham Athletics 13.42
metric 01:06.0
metric NUS Staff Runners
line 3968 nan NUS Staff Runners 66.0
metric 19:28.5
metric NUS Staff Runners
line 3969 nan NUS Staff Runners 1168.5
metric DNS
metric NUS Staff Runners
line 3970 nan NUS Staff Runners 1168.5
metric 29.94
metric NUS Staff Runners
line 3971 nan NUS Staff Runners 29.94
metric 01:10.5
metric NUS Staff Runners
line 3972 nan NUS Staff Runners 70.5
metric 01:08.7
metric NUS Staff Runners
line 3973 nan NUS Staff Runners 68.7
metric 24.24m
metric NUS Staff Runners
line 3974 nan NUS Staff Runners 68.7
metric DNS
metric NUS Staff Runners
line 3975 nan NUS Staff Runners 68.7
metric 21.67m
metric NUS Staff Runners
line 3976 nan NUS Staff Runners 68.7
metric 24.01m
metric Singapore Falcons RD
line 3977 nan Singapore Falcons RD 68.7
metric 47.46
metric Singapore Falcons RD
line 3978 nan Singapore Falcons RD 47.46
metric DNS
metric Singapore Falcons RD
line 3979 nan Singapore Falcons RD 47.46
metric 37.33
metric Singapore Falcons RD
line 3980 nan Singapore Falcons RD 37.33
metric DNS
metric Singapore Falcons RD
line 3981 nan Singapore Falcons RD 37.33
metric 40.11
metric Singapore Falcons RD
line 3982 nan Singapore Falcons RD 40.11
metric DNS
metric Singapore Falcons RD
line 3983 nan Singapore Falcons RD 40.11
metric 02:27.0
metric Singapore Falcons RD
line 3984 nan Singapore Falcons RD 147.0
metric 28.58
metric Singapore Falcons RD
line 3985 nan Singapore Falcons RD 28.58
metric 28.47
metric Singapore Falcons RD
line 3986 nan Singapore Falcons RD 28.47
metric 13.86
metric Singapore Falcons RD
line 3987 nan Singapore Falcons RD 13.86
metric DNS
metric Singapore Falcons RD
line 3988 nan Singapore Falcons RD 13.86
metric DNS
metric Singapore Falcons RD
line 3989 nan Singapore Falcons RD 13.86
metric DNS
metric Singapore Falcons RD
line 3990 nan Singapore Falcons RD 13.86
metric 28.45
metric Singapore Falcons RD
line 3991 nan Singapore Falcons RD 28.45
metric 05:05.0
metric Singapore Falcons RD
line 3992 nan Singapore Falcons RD 305.0
metric DNS
metric Team Start Singapore
line 3993 nan Team Start Singapore 305.0
metric 01:18.3
metric Team Start Singapore
line 3994 nan Team Start Singapore 78.3
metric 14.9
metric Team Start Singapore
line 3995 nan Team Start Singapore 14.9
metric 47.81
metric Team Start Singapore
line 3996 nan Team Start Singapore 47.81
metric 2.09m
metric Team Start Singapore
line 3997 nan Team Start Singapore 47.81
metric 3.60m
metric Team Start Singapore
line 3998 nan Team Start Singapore 47.81
metric 3.25m
metric Team Start Singapore
line 3999 nan Team Start Singapore 47.81
metric 37.26
metric Team Start Singapore
line 4000 nan Team Start Singapore 37.26
metric 01:24.2
metric Team Start Singapore
line 4001 nan Team Start Singapore 84.2
metric 3.49m
metric Team Start Singapore
line 4002 nan Team Start Singapore 84.2
metric 13.17
metric Team Start Singapore
line 4003 nan Team Start Singapore 13.17
metric 35.72
metric Team Start Singapore
line 4004 nan Team Start Singapore 35.72
metric 3.04m
metric Team Start Singapore
line 4005 nan Team Start Singapore 35.72
metric 3.65m
metric Team Start Singapore
line 4006 nan Team Start Singapore 35.72
metric 15.44
metric Team Start Singapore
line 4007 nan Team Start Singapore 15.44
metric 02:14.7
metric Team Start Singapore
line 4008 nan Team Start Singapore 134.7
metric 15.44
metric Team Start Singapore
line 4009 nan Team Start Singapore 15.44
metric 4.36m
metric Team Start Singapore
line 4010 nan Team Start Singapore 15.44
metric 14.55
metric Team Start Singapore
line 4011 nan Team Start Singapore 14.55
metric 30.8
metric Team Start Singapore
line 4012 nan Team Start Singapore 30.8
metric 3.75m
metric Team Start Singapore
line 4013 nan Team Start Singapore 30.8
metric 15.19
metric Team Start Singapore
line 4014 nan Team Start Singapore 15.19
metric 31.17
metric Team Start Singapore
line 4015 nan Team Start Singapore 31.17
metric 14.96
metric Team Start Singapore
line 4016 nan Team Start Singapore 14.96
metric 12.84
metric Team Start Singapore
line 4017 nan Team Start Singapore 12.84
metric 25.53
metric Team Start Singapore
line 4018 nan Team Start Singapore 25.53
metric 4.72m
metric Team Start Singapore
line 4019 nan Team Start Singapore 25.53
metric 29.67
metric Team Start Singapore
line 4020 nan Team Start Singapore 29.67
metric DNS
metric Team Start Singapore
line 4021 nan Team Start Singapore 29.67
metric 02:02.2
metric Team Start Singapore
line 4022 nan Team Start Singapore 122.2
metric 12.82
metric Team Start Singapore
line 4023 nan Team Start Singapore 12.82
metric 26.65
metric Team Start Singapore
line 4024 nan Team Start Singapore 26.65
metric 1.55m
metric Team Start Singapore
line 4025 nan Team Start Singapore 26.65
metric 19:27.9
metric Wings Athletics Club
line 4026 nan Wings Athletics Club 1167.9
metric 20.38
metric Wings Athletics Club
line 4027 nan Wings Athletics Club 20.38
metric DNS
metric Wings Athletics Club
line 4028 nan Wings Athletics Club 20.38
metric 20.49
metric Wings Athletics Club
line 4029 nan Wings Athletics Club 20.49
metric DNS
metric Wings Athletics Club
line 4030 nan Wings Athletics Club 20.49
metric 1.93m
metric Wings Athletics Club
line 4031 nan Wings Athletics Club 20.49
metric 01:43.0
metric Wings Athletics Club
line 4032 nan Wings Athletics Club 103.0
metric 12.15
metric Wings Athletics Club
line 4033 nan Wings Athletics Club 12.15
metric 54.10m
metric Wings Athletics Club
line 4034 nan Wings Athletics Club 12.15
metric 02:29.7
metric Wings Athletics Club
line 4035 nan Wings Athletics Club 149.7
metric 17:54.3
metric Wings Athletics Club
line 4036 nan Wings Athletics Club 1074.3
metric 05:01.5
metric Wings Athletics Club
line 4037 nan Wings Athletics Club 301.5
metric DNS
metric Wings Athletics Club
line 4038 nan Wings Athletics Club 301.5
metric DNS
metric Wings Athletics Club
line 4039 nan Wings Athletics Club 301.5
metric DNS
metric Wings Athletics Club
line 4040 nan Wings Athletics Club 301.5
metric 12.54
metric Wings Athletics Club
line 4041 nan Wings Athletics Club 12.54
metric 35.50m
metric Wings Athletics Club
line 4042 nan Wings Athletics Club 12.54
metric 9.84m
metric Wings Athletics Club
line 4043 nan Wings Athletics Club 12.54
metric 15.33m
metric Wings Athletics Club
line 4044 nan Wings Athletics Club 12.54
metric 17:06.4
metric Wings Athletics Club
line 4045 nan Wings Athletics Club 1026.4
metric 1.30m
metric Wings Athletics Club
line 4046 nan Wings Athletics Club 1026.4
metric 1.35m
metric Wings Athletics Club
line 4047 nan Wings Athletics Club 1026.4
metric DNS
metric Wings Athletics Club
line 4048 nan Wings Athletics Club 1026.4
metric 21.48m
metric Wings Athletics Club
line 4049 nan Wings Athletics Club 1026.4
metric 7.57m
metric Wings Athletics Club
line 4050 nan Wings Athletics Club 1026.4
metric 01:20.5
metric Wings Athletics Club
line 4051 nan Wings Athletics Club 80.5
metric 18.94m
metric Wings Athletics Club
line 4052 nan Wings Athletics Club 80.5
metric 06:07.2
metric Wings Athletics Club
line 4053 nan Wings Athletics Club 367.2
metric 26.25
metric Wings Athletics Club
line 4054 nan Wings Athletics Club 26.25
metric 12.8
metric Wings Athletics Club
line 4055 nan Wings Athletics Club 12.8
metric 57.63
metric Wings Athletics Club
line 4056 nan Wings Athletics Club 57.63
metric 1.60m
metric ActiveSG Athletics Club
line 4057 nan ActiveSG Athletics Club 57.63
metric 2.95m
metric ActiveSG Athletics Club
line 4058 nan ActiveSG Athletics Club 57.63
metric 2.95m
metric ActiveSG Athletics Club
line 4059 nan ActiveSG Athletics Club 57.63
metric 14.61
metric ActiveSG Athletics Club
line 4060 nan ActiveSG Athletics Club 14.61
metric 14.61
metric ActiveSG Athletics Club
line 4061 nan ActiveSG Athletics Club 14.61
metric 13.81
metric ActiveSG Athletics Club
line 4062 nan ActiveSG Athletics Club 13.81
metric 13.81
metric ActiveSG Athletics Club
line 4063 nan ActiveSG Athletics Club 13.81
metric 01:16.4
metric ActiveSG Athletics Club
line 4064 nan ActiveSG Athletics Club 76.4
metric 01:16.4
metric ActiveSG Athletics Club
line 4065 nan ActiveSG Athletics Club 76.4
metric 4.33m
metric ActiveSG Athletics Club
line 4066 nan ActiveSG Athletics Club 76.4
metric 01:14.1
metric ActiveSG Athletics Club
line 4067 nan ActiveSG Athletics Club 74.1
metric 3.40m
metric ActiveSG Athletics Club
line 4068 nan ActiveSG Athletics Club 74.1
metric 34.42
metric ActiveSG Athletics Club
line 4069 nan ActiveSG Athletics Club 34.42
metric 36.32
metric ActiveSG Athletics Club
line 4070 nan ActiveSG Athletics Club 36.32
metric 3.26m
metric ActiveSG Athletics Club
line 4071 nan ActiveSG Athletics Club 36.32
metric 13.97
metric ActiveSG Athletics Club
line 4072 nan ActiveSG Athletics Club 13.97
metric 14.53
metric ActiveSG Athletics Club
line 4073 nan ActiveSG Athletics Club 14.53
metric 29.23
metric ActiveSG Athletics Club
line 4074 nan ActiveSG Athletics Club 29.23
metric 3.92m
metric ActiveSG Athletics Club
line 4075 nan ActiveSG Athletics Club 29.23
metric 17.02
metric ActiveSG Athletics Club
line 4076 nan ActiveSG Athletics Club 17.02
metric 4.03m
metric ActiveSG Athletics Club
line 4077 nan ActiveSG Athletics Club 17.02
metric 15.04
metric ActiveSG Athletics Club
line 4078 nan ActiveSG Athletics Club 15.04
metric 4.03m
metric ActiveSG Athletics Club
line 4079 nan ActiveSG Athletics Club 15.04
metric 15.2
metric ActiveSG Athletics Club
line 4080 nan ActiveSG Athletics Club 15.2
metric 02:05.3
metric ActiveSG Athletics Club
line 4081 nan ActiveSG Athletics Club 125.3
metric 15.17
metric ActiveSG Athletics Club
line 4082 nan ActiveSG Athletics Club 15.17
metric 31.71
metric ActiveSG Athletics Club
line 4083 nan ActiveSG Athletics Club 31.71
metric 3.65m
metric ActiveSG Athletics Club
line 4084 nan ActiveSG Athletics Club 31.71
metric 02:10.6
metric ActiveSG Athletics Club
line 4085 nan ActiveSG Athletics Club 130.6
metric 02:01.1
metric ActiveSG Athletics Club
line 4086 nan ActiveSG Athletics Club 121.1
metric 4.27m
metric ActiveSG Athletics Club
line 4087 nan ActiveSG Athletics Club 121.1
metric 4.74m
metric ActiveSG Athletics Club
line 4088 nan ActiveSG Athletics Club 121.1
metric 29.56
metric ActiveSG Athletics Club
line 4089 nan ActiveSG Athletics Club 29.56
metric 33.14
metric ActiveSG Athletics Club
line 4090 nan ActiveSG Athletics Club 33.14
metric 31.07
metric ActiveSG Athletics Club
line 4091 nan ActiveSG Athletics Club 31.07
metric 3.47m
metric ActiveSG Athletics Club
line 4092 nan ActiveSG Athletics Club 31.07
metric 15.99
metric ActiveSG Athletics Club
line 4093 nan ActiveSG Athletics Club 15.99
metric 4.50m
metric ActiveSG Athletics Club
line 4094 nan ActiveSG Athletics Club 15.99
metric 4.50m
metric ActiveSG Athletics Club
line 4095 nan ActiveSG Athletics Club 15.99
metric 30.8
metric ActiveSG Athletics Club
line 4096 nan ActiveSG Athletics Club 30.8
metric 30.8
metric ActiveSG Athletics Club
line 4097 nan ActiveSG Athletics Club 30.8
metric 02:02.7
metric ActiveSG Athletics Club
line 4098 nan ActiveSG Athletics Club 122.7
metric 02:02.8
metric ActiveSG Athletics Club
line 4099 nan ActiveSG Athletics Club 122.8
metric 3.58m
metric ActiveSG Athletics Club
line 4100 nan ActiveSG Athletics Club 122.8
metric 16.31
metric ActiveSG Athletics Club
line 4101 nan ActiveSG Athletics Club 16.31
metric 16.16

AttributeError: 'NoneType' object has no attribute 'lower'

In [ ]:
#df["AGE"].fillna(0, inplace=True)
#df['AGE'] = df['AGE'].astype('float')

In [142]:
df

,NAME,RESULT,TEAM,AGE,COMPETITION_RANK,EVENT_x,UNIQUE_ID,DOB,NATIONALITY,WIND,...,REGION,MAPPED_EVENT,BENCHMARK,EVENT_y,Metric,2%,3.5%,5%,RESULT_CONV,SEED_CONV
0,"FUN, LE CONG LUCAS",15.35,Singapore,18,1,Hurdles,,1/11/06,,-0.4,...,Local,,NaN,NaN,NaN,NaN,NaN,NaN,319.3,15.35
1,"TAN, DARYL HONG AN",7.16,Singapore,23,1,Dash,,18/12/01,,-0.5,...,Local,,NaN,NaN,NaN,NaN,NaN,NaN,15.35,7.16
2,"HENG, FU HONG BRANDON",NH,Singapore,26,0,High Jump,,13/12/98,,,...,Local,High jump,NaN,NaN,NaN,NaN,NaN,NaN,7.16,7.16
3,"Toh, Tedd",6.55m,Singapore,0,1,Long Jump,,nan,,-0.3,...,Local,Long jump,NaN,NaN,NaN,NaN,NaN,NaN,7.16,7.16
4,"CHEW, YIU TSE JADE",5.02m,Singapore,20,1,Long Jump,,14/1/04,,-0.3,...,Local,Long jump,NaN,NaN,NaN,NaN,NaN,NaN,7.16,7.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28047,"Yeo, Xin Ying Natalie Gra",05:47.1,National Junior College,13,1,Run,nan,18/8/11,nan,,...,Local,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28048,"., Zachery Caleb Wong K",59.15,Unity Secondary,15,38,Dash,nan,1/1/09,nan,,...,Local,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28049,"tang, zheng jia ning eliza",01:06.7,Team Fabian,17,4,Dash,nan,9/3/07,nan,,...,Local,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28050,"tang, zheng jia ning eliza",32.42,Team Fabian,17,10,Dash,nan,9/3/07,nan,0.1,...,Local,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28051,"tang, zheng jia ning eliza",01:08.4,Team Fabian,17,6,Dash,nan,9/3/07,nan,,...,Local,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [143]:
# Choose SEED if better than RESULT

#condition1=df['SEED_CONV']>df['RESULT_CONV']
#condition2=((df['CATEGORY_EVENT']=='Jump')|(df['CATEGORY_EVENT']=='Throw'))
#condition3=df['SEED_CONV']<df['RESULT_CONV']
#condition4=~((df['CATEGORY_EVENT']=='Jump')|(df['CATEGORY_EVENT']=='Throw'))


#df['RESULT_BEST']=df['SEED_CONV'].where((condition1 & condition2)|(condition3 & condition4), df['RESULT_CONV'].values)

df['RESULT_BEST'] = df['RESULT_CONV']

In [144]:
df

,NAME,RESULT,TEAM,AGE,COMPETITION_RANK,EVENT_x,UNIQUE_ID,DOB,NATIONALITY,WIND,...,MAPPED_EVENT,BENCHMARK,EVENT_y,Metric,2%,3.5%,5%,RESULT_CONV,SEED_CONV,RESULT_BEST
0,"FUN, LE CONG LUCAS",15.35,Singapore,18,1,Hurdles,,1/11/06,,-0.4,...,,NaN,NaN,NaN,NaN,NaN,NaN,319.3,15.35,319.3
1,"TAN, DARYL HONG AN",7.16,Singapore,23,1,Dash,,18/12/01,,-0.5,...,,NaN,NaN,NaN,NaN,NaN,NaN,15.35,7.16,15.35
2,"HENG, FU HONG BRANDON",NH,Singapore,26,0,High Jump,,13/12/98,,,...,High jump,NaN,NaN,NaN,NaN,NaN,NaN,7.16,7.16,7.16
3,"Toh, Tedd",6.55m,Singapore,0,1,Long Jump,,nan,,-0.3,...,Long jump,NaN,NaN,NaN,NaN,NaN,NaN,7.16,7.16,7.16
4,"CHEW, YIU TSE JADE",5.02m,Singapore,20,1,Long Jump,,14/1/04,,-0.3,...,Long jump,NaN,NaN,NaN,NaN,NaN,NaN,7.16,7.16,7.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28047,"Yeo, Xin Ying Natalie Gra",05:47.1,National Junior College,13,1,Run,nan,18/8/11,nan,,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28048,"., Zachery Caleb Wong K",59.15,Unity Secondary,15,38,Dash,nan,1/1/09,nan,,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28049,"tang, zheng jia ning eliza",01:06.7,Team Fabian,17,4,Dash,nan,9/3/07,nan,,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28050,"tang, zheng jia ning eliza",32.42,Team Fabian,17,10,Dash,nan,9/3/07,nan,0.1,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28051,"tang, zheng jia ning eliza",01:08.4,Team Fabian,17,6,Dash,nan,9/3/07,nan,,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [145]:
df[df['NAME']=='Jun Jie Calvin Quek']

,NAME,RESULT,TEAM,AGE,COMPETITION_RANK,EVENT_x,UNIQUE_ID,DOB,NATIONALITY,WIND,...,MAPPED_EVENT,BENCHMARK,EVENT_y,Metric,2%,3.5%,5%,RESULT_CONV,SEED_CONV,RESULT_BEST
4225,Jun Jie Calvin Quek,53.19,None,None,4,400m Hurdles,None,26-Feb-96,SGP,None,...,400m hurdles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4226,Jun Jie Calvin Quek,52.05,None,None,8,400m Hurdles,None,26-Feb-96,SGP,None,...,400m hurdles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4918,Jun Jie Calvin Quek,51.8,None,None,1,400m Hurdles,None,26-Feb-96,SGP,None,...,400m hurdles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4967,Jun Jie Calvin Quek,51.79,None,None,2,400m Hurdles,None,26-Feb-96,SGP,None,...,400m hurdles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4968,Jun Jie Calvin Quek,56.95,None,None,3,400m Hurdles,None,26-Feb-96,SGP,None,...,400m hurdles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5278,Jun Jie Calvin Quek,52.18,None,None,3,400m Hurdles,None,26-Feb-96,SGP,None,...,400m hurdles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5279,Jun Jie Calvin Quek,51.33,None,None,2,400m Hurdles,None,26-Feb-96,SGP,None,...,400m hurdles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
# Change to numeric

df[['2%', '3.5%', '5%', 'RESULT_BEST']] = df[['2%', '3.5%', '5%', 'RESULT_BEST']].apply(pd.to_numeric)

In [52]:
mask = df['CATEGORY_EVENT'].str.contains(r'Jump|Throw', na=True)

df.loc[mask, 'Delta2'] = df['RESULT_BEST']-df['2%']
df.loc[mask, 'Delta3.5'] = df['RESULT_BEST']-df['3.5%']
df.loc[mask, 'Delta5'] = df['RESULT_BEST']-df['5%']
df.loc[mask, 'Delta_Benchmark'] = df['RESULT_BEST']-df['Metric']

df.loc[~mask, 'Delta2'] =  df['2%'] - df['RESULT_BEST']
df.loc[~mask, 'Delta3.5'] = df['3.5%'] - df['RESULT_BEST']
df.loc[~mask, 'Delta5'] = df['5%'] - df['RESULT_BEST']
df.loc[~mask, 'Delta_Benchmark'] = df['Metric'] - df['RESULT_BEST']

#rslt_df['Delta2']=rslt_df['2pc']-rslt_df['RESULT_CONV']
#rslt_df['Delta35']=rslt_df['35pc']-rslt_df['RESULT_CONV']
#rslt_df['Delta5']=rslt_df['5pc']-rslt_df['RESULT_CONV']
df=df.loc[df['COMPETITION']!='SEA Games']

In [53]:
# Performance metric to filter out athletes

df['PERF_SCALAR']=df['Delta5']/df['Metric']*100

In [54]:
df.to_csv('df_test_prod.csv', sep=',', encoding='utf-8-sig', index=False)

In [55]:
df[df['NAME']=='LEE, VANESSA']

,NAME,SEED,RESULT,TEAM,AGE,COMPETITION_RANK,EVENT_x,UNIQUE_ID,DOB,NATIONALITY,...,3.5%,5%,RESULT_CONV,SEED_CONV,RESULT_BEST,Delta2,Delta3.5,Delta5,Delta_Benchmark,PERF_SCALAR
14533,"LEE, VANESSA",05:18.6,04:51.7,SINGAPORE,26,3,Run,nan,23/2/98,nan,...,NaN,NaN,291.7,318.6,291.7,NaN,NaN,NaN,NaN,NaN
14727,"LEE, VANESSA",12:03.4,11:09.2,SINGAPORE,26,1,Steeplechase,nan,23/2/98,nan,...,NaN,NaN,669.2,723.4,669.2,NaN,NaN,NaN,NaN,NaN

In [56]:
'''

# Correct some of the known name variations
# Need to fix 2024 NSG names extracts (extracting Q/q with name)

df['NAME'] = df['NAME'].str.replace('\xa0', '', regex=True)
df['NAME'] = df['NAME'].str.replace('[\x00-\x1f\x7f-\x9f]', '', regex=True)
df['NAME'] = df['NAME'].str.replace('\r', '', regex=True)
df['NAME'] = df['NAME'].str.replace('\n', '', regex=True)
df['NAME'] = df['NAME'].str.strip()



df['NAME'] = df['NAME'].replace(regex=r'Norhisham, Jamie El Redha Ang El Redha Ang', value='Norhisham, Jamie El Redha Ang')



df['NAME'] = df['NAME'].replace(regex=r'TAN, ELIZABETH ANN SHEE R', value='TAN, ELIZABETH-ANN')
df['NAME'] = df['NAME'].replace(regex=r'Tan, Elizabeth Ann', value='TAN, ELIZABETH-ANN')
df['NAME'] = df['NAME'].replace(regex=r'TAN, SHEE RU, ELIZABETH-A', value='TAN, ELIZABETH-ANN')
df['NAME'] = df['NAME'].replace(regex=r'Elizabeth-Ann Tan', value='TAN, ELIZABETH-ANN')
df['NAME'] = df['NAME'].replace(regex=r'Tan, Elizabeth-Ann', value='TAN, ELIZABETH-ANN')
df['NAME'] = df['NAME'].replace(regex=r'Tan Shee Ru, Elizabeth-Ann', value='TAN, ELIZABETH-ANN')

df['NAME'] = df['NAME'].replace(regex=r'Louis, Marc', value='Louis, Marc Brian')
df['NAME'] = df['NAME'].replace(regex=r'LOUIS, MARC BRIAN', value='Louis, Marc Brian')
df['NAME'] = df['NAME'].replace(regex=r'LOUIS, MARC BRIAN BRIAN', value='Louis, Marc Brian')
df['NAME'] = df['NAME'].replace(regex=r'Louis, Marc Brian Brian', value='Louis, Marc Brian')
df['NAME'] = df['NAME'].replace(regex=r'Marc Brian Louis', value='Louis, Marc Brian')
df['NAME'] = df['NAME'].replace(regex=r'Brian louis, Marc', value='Louis, Marc Brian')




df['NAME'] = df['NAME'].replace(regex=r'TAN JUN JIE', value='Tan, Jun Jie')
df['NAME'] = df['NAME'].replace(regex=r'Tan Jun Jie', value='Tan, Jun Jie')

df['NAME'] = df['NAME'].replace(regex=r'Shanti Veronica Pereira', value='PEREIRA, VERONICA SHANTI')
df['NAME'] = df['NAME'].replace(regex=r'LIEW, YEE LING, BERNICE', value='Liew, Bernice')
df['NAME'] = df['NAME'].replace(regex=r'LIEW, BERNICE YEE LING', value='Liew, Bernice')

df['NAME'] = df['NAME'].replace(regex=r'Mark Lee', value='LEE, MARK REN')
df['NAME'] = df['NAME'].replace(regex=r'Lee, Mark', value='LEE, MARK REN')






df['NAME'] = df['NAME'].replace(regex=r'ANG, CHEN XIANG', value='Ang, Chen Xiang')




df['NAME'] = df['NAME'].replace(regex=r'LEE YU FOONG (LI YUFENG)', value='Lee, Yu Foong')
df['NAME'] = df['NAME'].replace(regex=r'YAP, SEAN YEE', value='Yap, Sean Yee')
df['NAME'] = df['NAME'].replace(regex=r'Norhisham, Jamie', value='Norhisham, Jamie El Redha Ang')

df['NAME'] = df['NAME'].replace(regex=r'ALEXIS TEO PEI QI', value='Teo, Alexis')



df['NAME'] = df['NAME'].replace(regex=r'Enriquez, Roxanne Rose Zulueta', value='ROSE ZULUETA ENRIQUE, ROXANNE')
df['NAME'] = df['NAME'].replace(regex=r'ENRIQUEZ, ROXANNE ROSE ZULUETA', value='ROSE ZULUETA ENRIQUE, ROXANNE')
df['NAME'] = df['NAME'].replace(regex=r'ENRIQUEZ, ROSE ZULUETA, ROXANN', value='ROSE ZULUETA ENRIQUE, ROXANNE')

df['NAME'] = df['NAME'].replace(regex=r'Goh, Clara', value='GOH, CLARA')

df['NAME'] = df['NAME'].replace(regex=r'WONG JIN ROU', value='Wong, Jin Rou')



df['NAME'] = df['NAME'].replace(regex=r'THANA RAJAN, S/O, THIRUBEN', value='THANA RAJAN, THIRUBEN  S/O')
df['NAME'] = df['NAME'].replace(regex=r'Rajan Thiruben Thana', value='THANA RAJAN, THIRUBEN  S/O')


df['NAME'] = df['NAME'].replace(regex=r'Raam Kumar Muthukumaran', value='Muthukumaran, Raam Kumar')

df['NAME'] = df['NAME'].replace(regex=r'Chia Wei En, Shawn', value='Chia, Shawn')



df['NAME'] = df['NAME'].replace(regex=r'QUEK XIN YONG JEREMIAH', value='QUEK, JEREMIAH')
df['NAME'] = df['NAME'].replace(regex=r'quek xin yong jeremi', value='QUEK, JEREMIAH')


df['NAME'] = df['NAME'].replace(regex=r'Chiu, Jingwen', value='Chiu, Jing Wen')



df['NAME'] = df['NAME'].replace(regex=r'LEE YU FOONG (LI YUFENG)', value='Lee, Yu Foong')


df['NAME'] = df['NAME'].replace(regex=r'LOW CHUAN YI', value='Low, Chuan Yi')



df['NAME'] = df['NAME'].replace(regex=r'Rachel Yang Bing Jie', value='YANG, RACHEL')

df['NAME'] = df['NAME'].replace(regex=r'Jun Yu Low', value='Low, Jun Yu')
df['NAME'] = df['NAME'].replace(regex=r'Low Jun Yu', value='Low, Jun Yu')

df['NAME'] = df['NAME'].replace(regex=r'Dewey Ng', value='Ng, Dewey')
df['NAME'] = df['NAME'].replace(regex=r'NG, DEWEY', value='Ng, Dewey')

df['NAME'] = df['NAME'].replace(regex=r'., Brendon Ting Li King', value='Ting Li King, Brandon')
df['NAME'] = df['NAME'].replace(regex=r'TAN KIAN SWEE ISAAC', value='Tan, Isaac')
df['NAME'] = df['NAME'].replace(regex=r'TAN, KIAN SWEE ISAAC', value='Tan, Isaac')

df['NAME'] = df['NAME'].replace(regex=r'GAO SHENGWEI', value='Gao, Shengwei')
df['NAME'] = df['NAME'].replace(regex=r'NEO SHYH KAI', value='Neo, Shyh Kai')
df['NAME'] = df['NAME'].replace(regex=r'ANGEL LIM YU XIN', value='Lim, Yuxin Angel')
df['NAME'] = df['NAME'].replace(regex=r'LAUREL, LIM JIA EN', value='LAUREL LIM JIA EN')

df['NAME'] = df['NAME'].replace(regex=r'LOH DING RONG, ANSON', value='Loh, Anson')

df['NAME'] = df['NAME'].replace(regex=r'SEAN, TEE YU XIANG', value='SEAN TEE YU XIANG')
df['NAME'] = df['NAME'].replace(regex=r'NG JUN HENG, RYAN', value='Ng, Ryan')
df['NAME'] = df['NAME'].replace(regex=r'LIM WEE ENG', value='Lim, Wee Eng')


df['NAME'] = df['NAME'].replace(regex=r'Chen Xiang Ang', value='Ang, Chen Xiang')

df['NAME'] = df['NAME'].replace(regex=r'CHUA JE-AN, GARRETT', value='Chua, Garrett')
df['NAME'] = df['NAME'].replace(regex=r'Garrett Chua', value='Chua, Garrett')


df['NAME'] = df['NAME'].replace(regex=r'Looi, Yan Ning Samantha', value='LOOI YAN NING, SAMANTHA')
df['NAME'] = df['NAME'].replace(regex=r'Lim, Sheila Qi Le', value='Lim Qi Le, Sheila')
df['NAME'] = df['NAME'].replace(regex=r'NG, CHIN HUI', value='Ng, Chin Hui')
df['NAME'] = df['NAME'].replace(regex=r'SEAN, TEE YU XIANG', value='SEAN TEE YU XIANG')


df['NAME'] = df['NAME'].replace(regex=r'Edsel Poh', value='Poh, Edsel')
df['NAME'] = df['NAME'].replace(regex=r'Gautam, Kulandaiveludayar Se', value='Kulandaiveludayar Se, Gautam')



df['NAME'] = df['NAME'].replace(regex=r'Hanim, Asmah', value='Asmah, Hanim')
df['NAME'] = df['NAME'].replace(regex=r'YOON SAE YOUNG', value='Yoon, Sae Young')
df['NAME'] = df['NAME'].replace(regex=r'Wong, Alexis Li Xuan', value='Wong, Alexis')

df['NAME'] = df['NAME'].replace(regex=r'TAN JUN ERN KEAN', value='Tan Jun Ern Kean')

df['NAME'] = df['NAME'].replace(regex=r'JOEY LIM ZI YI', value='Lim, Joey')
df['NAME'] = df['NAME'].replace(regex=r'Bernie Chong Yi Shan', value='Chong, Bernie')

df['NAME'] = df['NAME'].replace(regex=r'Tan Ting Jun', value='Tan, Ting Jun')
df['NAME'] = df['NAME'].replace(regex=r'Xiao, Hongyang', value='Xiao, Hong Yang')
df['NAME'] = df['NAME'].replace(regex=r'Reiner Leong Rong Xi', value='Leong, Reiner')


df['NAME'] = df['NAME'].replace(regex=r'CHEN JING YING JANELLE', value='Chen, Janelle')
df['NAME'] = df['NAME'].replace(regex=r'Toh Wei De', value='Toh, Wei De')
#df['NAME'] = df['NAME'].replace(regex=r'SheikAluu\'udin\,\sSkeik\sFayz', value='Sheik\sAluu\'udin\,\sSkeik\sFayz')

df['NAME'] = df['NAME'].replace(regex=r'kapil, Arnav', value='Kapil, Arnav')
df['NAME'] = df['NAME'].replace(regex=r'KIRAN, SEBASTIAN JEHUNATHAN', value='Sebastian Jehunathan, Kiran')
df['NAME'] = df['NAME'].replace(regex=r'LAU, REINA', value='Lau, Reina')
df['NAME'] = df['NAME'].replace(regex=r'Lau Reina', value='Lau, Reina')


df['NAME'] = df['NAME'].replace(regex=r'Si Hui, Amanda, Loo', value='Amanda, Loo Si Hui')
df['NAME'] = df['NAME'].replace(regex=r'Zou Aolin q', value='Zou Aolin')
df['NAME'] = df['NAME'].replace(regex=r'Thang Ying Yue', value='Thang, Ying Yue')

df['NAME'] = df['NAME'].replace(regex=r'NEO EE , NIN', value='Neo, Ee Nin')
df['NAME'] = df['NAME'].replace(regex=r'Neo Ee Nin', value='Neo, Ee Nin')
df['NAME'] = df['NAME'].replace(regex=r'Emma Tan Yi Min', value='TAN, EMMA YI MIN')
df['NAME'] = df['NAME'].replace(regex=r'Tan, Emma Yi Min', value='TAN, EMMA YI MIN')

df['NAME'] = df['NAME'].replace(regex=r'WONG, JIN ROU', value='Wong, Jin Rou')
df['NAME'] = df['NAME'].replace(regex=r'Seah, Michelle Xin Yi', value='Seah, Michelle')
df['NAME'] = df['NAME'].replace(regex=r'Jing Wen, Chiu', value='Chiu, Jing Wen')
df['NAME'] = df['NAME'].replace(regex=r'NG, ROY', value='Ng Kai Leong, Roy')
df['NAME'] = df['NAME'].replace(regex=r'Ng, Kai Leong Roy', value='Ng Kai Leong, Roy')
df['NAME'] = df['NAME'].replace(regex=r'., Ashlee Ong Yuxi', value='Ong, Ashlee Yuxi')
df['NAME'] = df['NAME'].replace(regex=r'Ashlee Ong Yuxi', value='Ong, Ashlee Yuxi')
df['NAME'] = df['NAME'].replace(regex=r'Ong, Ashlee', value='Ong, Ashlee Yuxi')
df['NAME'] = df['NAME'].replace(regex=r'Wee, Elliott', value='Wee, Elliot')
df['NAME'] = df['NAME'].replace(regex=r'., Cheong Yin Yern Jose', value='Joseph Cheong Yin Yern')
df['NAME'] = df['NAME'].replace(regex=r'Thang Ying Yue', value='Thang, Ying Yue')
df['NAME'] = df['NAME'].replace(regex=r'Hongyang, Xiao', value='XIAO, HONGYANG')
df['NAME'] = df['NAME'].replace(regex=r'Tan Shou Yi Rei (Chen Shouyi)', value='Tan Shou Yi Rei')
df['NAME'] = df['NAME'].replace(regex=r'Ong, Ashlee Yuxi Yuxi', value='Ong, Ashlee Yuxi')
df['NAME'] = df['NAME'].replace(regex=r'Low, Jonathan', value='Low Jun Jie, Jonathan')
df['NAME'] = df['NAME'].replace(regex=r'Murali, Sham', value='Kumar Shanjie, Murali Sham')
df['NAME'] = df['NAME'].replace(regex=r'SHANJIE, MURALI SHAM KUMAR', value='Kumar Shanjie, Murali Sham')
df['NAME'] = df['NAME'].replace(regex=r'Koh, Aaron Xu Qing', value='Koh, Aaron')

df['NAME'] = df['NAME'].replace(regex=r'Tan Shou Yi Rei (Chen Shouyi)', value='Tan Shou Yi Rei')


df['NAME'] = df['NAME'].replace(regex=r'Mook, He Jun', value='HE, MOOK JUN')
df['NAME'] = df['NAME'].replace(regex=r'Leong, Lorraine', value='Leong Jia En, Lorraine')
df['NAME'] = df['NAME'].replace(regex=r'Joseph Cheong Yin Yern', value='Cheong, Joseph')
df['NAME'] = df['NAME'].replace(regex=r'Wee, Junn Elliott', value='Wee, Elliot')
df['NAME'] = df['NAME'].replace(regex=r'Sheik, Fayz', value='Sheik Alau\'ddin, Sheik Fayz')
df['NAME'] = df['NAME'].replace(regex=r'Keondre Liew Zhen Kai', value='Liew, Keondre Zhen Kai')




df['NAME'] = df['NAME'].replace(regex=r'TOH, TEDD', value='Toh Jun Xi, Tedd')



df['NAME'] = df['NAME'].replace(regex=r'Chuhan Zhong', value='ZHONG, CHUHAN')
df['NAME'] = df['NAME'].replace(regex=r'Lee, Daniel', value='Lee Zheng Xian, Daniel Christopher')
df['NAME'] = df['NAME'].replace(regex=r'GOH, YEN YOUNG, AMELIA', value='Goh Yen Young Amelia')
df['NAME'] = df['NAME'].replace(regex=r'Liew, Keondre Zhen Kai', value='LIEW, KEONDRE')
df['NAME'] = df['NAME'].replace(regex=r'Janelle, Lum', value='Lum Wai Yan, Janelle')


df['NAME'] = df['NAME'].replace(regex=r'Teh Ying Shan', value='Teh, Ying Shan')

df['NAME'] = df['NAME'].replace(regex=r'Mayah Elizabeth Kaufmann Q', value='Mayah Elizabeth Kaufmann')


df['NAME'] = df['NAME'].replace(regex=r'TNG, KAI XIN', value='Tng Kai Xin')
# Correct some of the known name variations
# Need to fix 2024 NSG names extracts (extracting Q/q with name)

df['NAME'] = df['NAME'].replace(regex=r'PRAHARSH, RYAN', value='S/O SUBASH SOMAN, PRAHARSH RYAN')
df['NAME'] = df['NAME'].replace(regex=r'Ryan, Praharsh', value='S/O SUBASH SOMAN, PRAHARSH RYAN')
df['NAME'] = df['NAME'].replace(regex=r'Ryan Praharsh', value='S/O SUBASH SOMAN, PRAHARSH RYAN')

df['NAME'] = df['NAME'].replace(regex=r'Ryan Praharsh', value='S/O SUBASH SOMAN, PRAHARSH RYAN')


df['NAME'] = df['NAME'].replace(regex=r'TAN, ELIZABETH ANN SHEE R', value='TAN, ELIZABETH-ANN')
df['NAME'] = df['NAME'].replace(regex=r'Tan, Elizabeth Ann', value='TAN, ELIZABETH-ANN')
df['NAME'] = df['NAME'].replace(regex=r'TAN, SHEE RU, ELIZABETH-A', value='TAN, ELIZABETH-ANN')
df['NAME'] = df['NAME'].replace(regex=r'Elizabeth-Ann Tan', value='TAN, ELIZABETH-ANN')
df['NAME'] = df['NAME'].replace(regex=r'Tan, Elizabeth-Ann', value='TAN, ELIZABETH-ANN')
df['NAME'] = df['NAME'].replace(regex=r'Tan Shee Ru, Elizabeth-Ann', value='TAN, ELIZABETH-ANN')

df['NAME'] = df['NAME'].replace(regex=r'Louis, Marc', value='Louis, Marc Brian')
df['NAME'] = df['NAME'].replace(regex=r'LOUIS, MARC BRIAN', value='Louis, Marc Brian')
df['NAME'] = df['NAME'].replace(regex=r'LOUIS, MARC BRIAN BRIAN', value='Louis, Marc Brian')
df['NAME'] = df['NAME'].replace(regex=r'Louis, Marc Brian Brian', value='Louis, Marc Brian')
df['NAME'] = df['NAME'].replace(regex=r'Marc Brian Louis', value='Louis, Marc Brian')
df['NAME'] = df['NAME'].replace(regex=r'Brian louis, Marc', value='Louis, Marc Brian')




df['NAME'] = df['NAME'].replace(regex=r'TAN JUN JIE', value='Tan, Jun Jie')
df['NAME'] = df['NAME'].replace(regex=r'Tan Jun Jie', value='Tan, Jun Jie')

df['NAME'] = df['NAME'].replace(regex=r'Shanti Veronica Pereira', value='PEREIRA, VERONICA SHANTI')
df['NAME'] = df['NAME'].replace(regex=r'LIEW, YEE LING, BERNICE', value='Liew, Bernice')
df['NAME'] = df['NAME'].replace(regex=r'LIEW, BERNICE YEE LING', value='Liew, Bernice')

df['NAME'] = df['NAME'].replace(regex=r'Mark Lee', value='LEE, MARK REN')
df['NAME'] = df['NAME'].replace(regex=r'Lee, Mark', value='LEE, MARK REN')





df['NAME'] = df['NAME'].replace(regex=r'ANG, CHEN XIANG', value='Ang, Chen Xiang')



df['NAME'] = df['NAME'].replace(regex=r'LEE YU FOONG (LI YUFENG)', value='Lee, Yu Foong')
df['NAME'] = df['NAME'].replace(regex=r'YAP, SEAN YEE', value='Yap, Sean Yee')

df['NAME'] = df['NAME'].replace(regex=r'ALEXIS TEO PEI QI', value='Teo Pei Qi, Alexis')
df['NAME'] = df['NAME'].replace(regex=r'Alexis Teo Pei Qi', value='Teo Pei Qi, Alexis')
df['NAME'] = df['NAME'].replace(regex=r'Teo Pei Qi, Alexis Q', value='Teo Pei Qi, Alexis')




df['NAME'] = df['NAME'].replace(regex=r'Enriquez, Roxanne Rose Zulueta', value='ROSE ZULUETA ENRIQUE, ROXANNE')
df['NAME'] = df['NAME'].replace(regex=r'ENRIQUEZ, ROXANNE ROSE ZULUETA', value='ROSE ZULUETA ENRIQUE, ROXANNE')
df['NAME'] = df['NAME'].replace(regex=r'ENRIQUEZ, ROSE ZULUETA, ROXANN', value='ROSE ZULUETA ENRIQUE, ROXANNE')

df['NAME'] = df['NAME'].replace(regex=r'Goh, Clara', value='GOH, CLARA')

df['NAME'] = df['NAME'].replace(regex=r'WONG JIN ROU', value='Wong, Jin Rou')



df['NAME'] = df['NAME'].replace(regex=r'THANA RAJAN, S/O, THIRUBEN', value='THANA RAJAN, THIRUBEN  S/O')
df['NAME'] = df['NAME'].replace(regex=r'Rajan Thiruben Thana', value='THANA RAJAN, THIRUBEN  S/O')
df['NAME'] = df['NAME'].replace(regex=r'Thana Rajan, Thiruben', value='THANA RAJAN, THIRUBEN  S/O')



df['NAME'] = df['NAME'].replace(regex=r'Raam Kumar Muthukumaran', value='Muthukumaran, Raam Kumar')

df['NAME'] = df['NAME'].replace(regex=r'CHIA, WEI EN, SHAWN', value='Chia, Shawn')


df['NAME'] = df['NAME'].replace(regex=r'QUEK XIN YONG JEREMIAH', value='QUEK, JEREMIAH')
df['NAME'] = df['NAME'].replace(regex=r'quek xin yong jeremi', value='QUEK, JEREMIAH')


df['NAME'] = df['NAME'].replace(regex=r'Chiu, Jingwen', value='Chiu, Jing Wen')



df['NAME'] = df['NAME'].replace(regex=r'LEE YU FOONG (LI YUFENG)', value='Lee, Yu Foong')


df['NAME'] = df['NAME'].replace(regex=r'LOW CHUAN YI', value='Low, Chuan Yi')

df['NAME'] = df['NAME'].replace(regex=r'Rachel Yang Bing Jie', value='YANG, RACHEL')


df['NAME'] = df['NAME'].replace(regex=r'Dewey Ng', value='Ng, Dewey')
df['NAME'] = df['NAME'].replace(regex=r'NG, DEWEY', value='Ng, Dewey')

df['NAME'] = df['NAME'].replace(regex=r'., Brendon Ting Li King', value='Ting Li King, Brandon')
df['NAME'] = df['NAME'].replace(regex=r'TAN KIAN SWEE ISAAC', value='Tan, Isaac')
df['NAME'] = df['NAME'].replace(regex=r'TAN, KIAN SWEE ISAAC', value='Tan, Isaac')

df['NAME'] = df['NAME'].replace(regex=r'GAO SHENGWEI', value='Gao, Shengwei')
df['NAME'] = df['NAME'].replace(regex=r'NEO SHYH KAI', value='Neo, Shyh Kai')
df['NAME'] = df['NAME'].replace(regex=r'ANGEL LIM YU XIN', value='Lim, Yuxin Angel')
df['NAME'] = df['NAME'].replace(regex=r'LAUREL, LIM JIA EN', value='LAUREL LIM JIA EN')

df['NAME'] = df['NAME'].replace(regex=r'LOH DING RONG, ANSON', value='Loh, Anson')

df['NAME'] = df['NAME'].replace(regex=r'SEAN, TEE YU XIANG', value='SEAN TEE YU XIANG')
df['NAME'] = df['NAME'].replace(regex=r'NG JUN HENG, RYAN', value='Ng, Ryan')
df['NAME'] = df['NAME'].replace(regex=r'LIM WEE ENG', value='Lim, Wee Eng')


df['NAME'] = df['NAME'].replace(regex=r'Chen Xiang Ang', value='Ang, Chen Xiang')

df['NAME'] = df['NAME'].replace(regex=r'CHUA JE-AN, GARRETT', value='Chua, Garrett')
df['NAME'] = df['NAME'].replace(regex=r'Garrett Chua', value='Chua, Garrett')


df['NAME'] = df['NAME'].replace(regex=r'Looi, Yan Ning Samantha', value='LOOI YAN NING, SAMANTHA')
df['NAME'] = df['NAME'].replace(regex=r'Lim, Sheila Qi Le', value='Lim Qi Le, Sheila')
df['NAME'] = df['NAME'].replace(regex=r'NG, CHIN HUI', value='Ng, Chin Hui')
df['NAME'] = df['NAME'].replace(regex=r'SEAN, TEE YU XIANG', value='SEAN TEE YU XIANG')

df['NAME'] = df['NAME'].replace(regex=r'CHUA HSIN-WEN CLARA', value='Chua Hsin-Wen, Clara')
df['NAME'] = df['NAME'].replace(regex=r'Chua Hsin-Wen Clara', value='Chua Hsin-Wen, Clara')
df['NAME'] = df['NAME'].replace(regex=r'Chua Hsin-Wen Clara Q', value='Chua Hsin-Wen, Clara')
df['NAME'] = df['NAME'].replace(regex=r'HSIN-WEN CLARA, Chua', value='Chua Hsin-Wen, Clara')
df['NAME'] = df['NAME'].replace(regex=r'CHUA HSIN-WEN CLARA', value='Chua Hsin-Wen, Clara')
df['NAME'] = df['NAME'].replace(regex=r'Chua, Clara Q', value='Chua Hsin-Wen, Clara')


df['NAME'] = df['NAME'].replace(regex=r'Edsel Poh', value='Poh, Edsel')
df['NAME'] = df['NAME'].replace(regex=r'Gautam, Kulandaiveludayar Se', value='Kulandaiveludayar Se, Gautam')


df['NAME'] = df['NAME'].replace(regex=r'Hanim, Asmah', value='Asmah, Hanim')
df['NAME'] = df['NAME'].replace(regex=r'YOON SAE YOUNG', value='Yoon, Sae Young')
df['NAME'] = df['NAME'].replace(regex=r'Wong, Alexis Li Xuan', value='Wong, Alexis')

df['NAME'] = df['NAME'].replace(regex=r'TAN JUN ERN KEAN', value='Tan Jun Ern Kean')

df['NAME'] = df['NAME'].replace(regex=r'JOEY LIM ZI YI', value='Lim, Joey')
df['NAME'] = df['NAME'].replace(regex=r'Bernie Chong Yi Shan', value='Chong, Bernie')

df['NAME'] = df['NAME'].replace(regex=r'Tan Ting Jun', value='Tan, Ting Jun')
df['NAME'] = df['NAME'].replace(regex=r'Xiao, Hongyang', value='Xiao, Hong Yang')
df['NAME'] = df['NAME'].replace(regex=r'Reiner Leong Rong Xi', value='Leong, Reiner')


df['NAME'] = df['NAME'].replace(regex=r'CHEN JING YING JANELLE', value='Chen, Janelle')
df['NAME'] = df['NAME'].replace(regex=r'Toh Wei De', value='Toh, Wei De')
#df['NAME'] = df['NAME'].replace(regex=r'SheikAluu\'udin\,\sSkeik\sFayz', value='Sheik\sAluu\'udin\,\sSkeik\sFayz')

df['NAME'] = df['NAME'].replace(regex=r'kapil, Arnav', value='Kapil, Arnav')
df['NAME'] = df['NAME'].replace(regex=r'KIRAN, SEBASTIAN JEHUNATHAN', value='Sebastian Jehunathan, Kiran')
df['NAME'] = df['NAME'].replace(regex=r'LAU, REINA', value='Lau, Reina')
df['NAME'] = df['NAME'].replace(regex=r'Lau Reina', value='Lau, Reina')


df['NAME'] = df['NAME'].replace(regex=r'Zou Aolin q', value='Zou Aolin')
df['NAME'] = df['NAME'].replace(regex=r'Thang Ying Yue', value='Thang, Ying Yue')

df['NAME'] = df['NAME'].replace(regex=r'NEO EE , NIN', value='Neo, Ee Nin')
df['NAME'] = df['NAME'].replace(regex=r'Neo Ee Nin', value='Neo, Ee Nin')
df['NAME'] = df['NAME'].replace(regex=r'Emma Tan Yi Min', value='TAN, EMMA YI MIN')
df['NAME'] = df['NAME'].replace(regex=r'Tan, Emma Yi Min', value='TAN, EMMA YI MIN')


df['NAME'] = df['NAME'].replace(regex=r'Si Hui, Amanda, Loo', value='Amanda, Loo Si Hui')
df['NAME'] = df['NAME'].replace(regex=r'Si Hui Amanda, Loo', value='Amanda, Loo Si Hui')



df['NAME'] = df['NAME'].replace(regex=r'WONG, JIN ROU', value='Wong, Jin Rou')
df['NAME'] = df['NAME'].replace(regex=r'Seah, Michelle Xin Yi', value='Seah, Michelle')
df['NAME'] = df['NAME'].replace(regex=r'Jing Wen, Chiu', value='Chiu, Jing Wen')
df['NAME'] = df['NAME'].replace(regex=r'NG, ROY', value='Ng Kai Leong, Roy')
df['NAME'] = df['NAME'].replace(regex=r'Ng, Kai Leong Roy', value='Ng Kai Leong, Roy')
df['NAME'] = df['NAME'].replace(regex=r'., Ashlee Ong Yuxi', value='Ong, Ashlee Yuxi')
df['NAME'] = df['NAME'].replace(regex=r'Ashlee Ong Yuxi', value='Ong, Ashlee Yuxi')
df['NAME'] = df['NAME'].replace(regex=r'Ong, Ashlee', value='Ong, Ashlee Yuxi')
df['NAME'] = df['NAME'].replace(regex=r'Wee, Elliott', value='Wee, Elliot')
df['NAME'] = df['NAME'].replace(regex=r'., Cheong Yin Yern Jose', value='Joseph Cheong Yin Yern')
df['NAME'] = df['NAME'].replace(regex=r'Thang Ying Yue', value='Thang, Ying Yue')
df['NAME'] = df['NAME'].replace(regex=r'Hongyang, Xiao', value='XIAO, HONGYANG')
df['NAME'] = df['NAME'].replace(regex=r'Tan Shou Yi Rei (Chen Shouyi)', value='Tan Shou Yi Rei')
df['NAME'] = df['NAME'].replace(regex=r'Ong, Ashlee Yuxi Yuxi', value='Ong, Ashlee Yuxi')
df['NAME'] = df['NAME'].replace(regex=r'Low, Jonathan', value='Low Jun Jie, Jonathan')
df['NAME'] = df['NAME'].replace(regex=r'Murali, Sham', value='Kumar Shanjie, Murali Sham')
df['NAME'] = df['NAME'].replace(regex=r'SHANJIE, MURALI SHAM KUMAR', value='Kumar Shanjie, Murali Sham')
df['NAME'] = df['NAME'].replace(regex=r'Koh, Aaron Xu Qing', value='Koh, Aaron')

df['NAME'] = df['NAME'].replace(regex=r'^Tan\sShou\sYi\sRei$', value='Tan Shou Yi Rei (Chen Shouyi)')



df['NAME'] = df['NAME'].replace(regex=r'KUMAR, VIRESH', value='Kumar, Viresh')
df['NAME'] = df['NAME'].replace(regex=r'KUMAR, S VIRESH', value='Kumar, Viresh')
df['NAME'] = df['NAME'].replace(regex=r's Viresh Kumar', value='Kumar, Viresh')
df['NAME'] = df['NAME'].replace(regex=r'Kumar, S Viresh', value='Kumar, Viresh')


df['NAME'] = df['NAME'].replace(regex=r'Mook, He Jun', value='HE, MOOK JUN')
df['NAME'] = df['NAME'].replace(regex=r'Leong, Lorraine', value='Leong Jia En, Lorraine')
df['NAME'] = df['NAME'].replace(regex=r'Joseph Cheong Yin Yern', value='Cheong, Joseph')
df['NAME'] = df['NAME'].replace(regex=r'Wee, Junn Elliott', value='Wee, Elliot')
df['NAME'] = df['NAME'].replace(regex=r'Sheik, Fayz', value='Sheik Alau\'ddin, Sheik Fayz')
df['NAME'] = df['NAME'].replace(regex=r'Keondre Liew Zhen Kai', value='Liew, Keondre Zhen Kai')




df['NAME'] = df['NAME'].replace(regex=r'TOH, TEDD', value='Toh Jun Xi, Tedd')
df['NAME'] = df['NAME'].replace(regex=r'Toh, Tedd', value='Toh Jun Xi, Tedd')





df['NAME'] = df['NAME'].replace(regex=r'Chuhan Zhong', value='ZHONG, CHUHAN')
df['NAME'] = df['NAME'].replace(regex=r'Lee, Daniel', value='Lee Zheng Xian, Daniel Christopher')



df['NAME'] = df['NAME'].replace(regex=r'GOH, YEN YOUNG, AMELIA', value='Goh Yen Young Amelia')
df['NAME'] = df['NAME'].replace(regex=r'lim, eiffer', value='LIM YING QI, EIFFER')
df['NAME'] = df['NAME'].replace(regex=r'Eiffer, Lim Ying Qi', value='LIM YING QI, EIFFER')
df['NAME'] = df['NAME'].replace(regex=r'Liew, Keondre Zhen Kai', value='LIEW, KEONDRE')
df['NAME'] = df['NAME'].replace(regex=r'Janelle, Lum', value='Lum Wai Yan, Janelle')
df['NAME'] = df['NAME'].replace(regex=r'Teh Ying Shan', value='Teh, Ying Shan')
df['NAME'] = df['NAME'].replace(regex=r'Ying Shan, Teh', value='Teh, Ying Shan')


df['NAME'] = df['NAME'].replace(regex=r'Mayah Elizabeth Kaufmann Q', value='Mayah Elizabeth Kaufmann')
df['NAME'] = df['NAME'].replace(regex=r'TNG, KAI XIN', value='Tng Kai Xin')
df['NAME'] = df['NAME'].replace(regex=r'YANG, BOBBI', value='Bobbi Victoria Yang Yen (Weng Xuan)')

df['NAME'] = df['NAME'].replace(regex=r'Ng, Si En Tabitha', value='Ng Si En, Tabitha')
df['NAME'] = df['NAME'].replace(regex=r'Hoh Ying Min', value='Hoh, Ying Min')
df['NAME'] = df['NAME'].replace(regex=r'Tedd Toh', value='Toh Jun Xi, Tedd')
df['NAME'] = df['NAME'].replace(regex=r'Irfan Qabeel Mohamman', value='Mohammad Irfan, Qabeel')
df['NAME'] = df['NAME'].replace(regex=r'Sebastian, Kiran', value='Sebastian Jehunathan, Kiran')
df['NAME'] = df['NAME'].replace(regex=r'TANG, CAYMAN', value='Tang Kai Sheng, Cayman')
df['NAME'] = df['NAME'].replace(regex=r'ZHONG, CHUHAN', value='Zhong, Chuhan')

df['NAME'] = df['NAME'].replace(regex=r'Reuben Lee Siong En', value='LEE SIONG EN, REUBEN RAINER')
df['NAME'] = df['NAME'].replace(regex=r'Tam, Joash', value='Tam Jong-Hng, Joash')
df['NAME'] = df['NAME'].replace(regex=r'Pooran Sankaresh Dharmaraj', value='Pooran, Dharmaraj')

df['NAME'] = df['NAME'].replace(regex=r'Meena, Girish Chandramohan', value='Chandramohan Meena, Girish')
df['NAME'] = df['NAME'].replace(regex=r'Wong Jin Rou', value='Wong, Jin Rou')
df['NAME'] = df['NAME'].replace(regex=r'MOHHAMMAD IRFAN, QABEEL', value='Mohammad Irfan, Qabeel')
df['NAME'] = df['NAME'].replace(regex=r'BIN MD, MOHAMMAD IRFAN QABEE', value='Mohammad Irfan, Qabeel')



df['NAME'] = df['NAME'].replace(regex=r'TAM, JOASH', value='Tam Jong-Hng, Joash')
df['NAME'] = df['NAME'].replace(regex=r'Verboon Lara', value='Verboon, Lara')
df['NAME'] = df['NAME'].replace(regex=r'Verboon , Lara', value='Verboon, Lara')

df['NAME'] = df['NAME'].replace(regex=r'Megan Anne Ying Ka Mun Q', value='Megan Anne Ying Ka Mun')
df['NAME'] = df['NAME'].replace(regex=r'Woong, Hui Min Rachel', value='Woong, Rachel Hui Min')

df['NAME'] = df['NAME'].replace(regex=r'FENG, HAN LIN', value='Feng, Han Lin')
df['NAME'] = df['NAME'].replace(regex=r'Angela Tan Shi Jin', value='TAN, ANGELA')
df['NAME'] = df['NAME'].replace(regex=r'Zhang, Ruiheng, Zayden', value='Zhang, Zayden')



df['NAME'] = df['NAME'].replace(regex=r'Norhisham, Jamie El Redha Ang El Redha Ang', value='Jamie El-Red Ang')
df['NAME'] = df['NAME'].replace(regex=r'Jamie Norhisham', value='Jamie El-Red Ang')
df['NAME'] = df['NAME'].replace(regex=r'Norhisham, Jamie', value='Jamie El-Red Ang')

### 2024###

df['NAME'] = df['NAME'].replace(regex=r'D/O JAIGANTH, LAAVINIA', value='JAIGANTH, LAAVINIA')
df['NAME'] = df['NAME'].replace(regex=r'Jaiganth, Laavinia', value='JAIGANTH, LAAVINIA')
df['NAME'] = df['NAME'].replace(regex=r'Laavina Jaganith', value='JAIGANTH, LAAVINIA')


df['NAME'] = df['NAME'].replace(regex=r'Faith Zhen Ford', value='FAITH ZHEN FORD')
df['NAME'] = df['NAME'].replace(regex=r'Ford, Faith', value='FAITH ZHEN FORD')
df['NAME'] = df['NAME'].replace(regex=r'FORD, FAITH', value='FAITH ZHEN FORD')
df['NAME'] = df['NAME'].replace(regex=r'Ford Faith', value='FAITH ZHEN FORD')

df['NAME'] = df['NAME'].replace(regex=r'Koh Shun Yi Audrey', value='Koh, Shun Yi Audrey')
df['NAME'] = df['NAME'].replace(regex=r'Koh Shun Yi Audrey Q', value='Koh, Shun Yi Audrey')
df['NAME'] = df['NAME'].replace(regex=r'Shun Yi Audrey Koh', value='Koh, Shun Yi Audrey')
df['NAME'] = df['NAME'].replace(regex=r'KOH SHUN YI AUDREY', value='Koh, Shun Yi Audrey')



df['NAME'] = df['NAME'].replace(regex=r'Romaine Soh', value='ROMAINE SOH RUI MIN')
df['NAME'] = df['NAME'].replace(regex=r'Soh, Romaine', value='ROMAINE SOH RUI MIN')
df['NAME'] = df['NAME'].replace(regex=r'Soh, Rui Min Romaine', value='ROMAINE SOH RUI MIN')

df['NAME'] = df['NAME'].replace(regex=r'khoo, Tyeisha rene misson', value='Khoo, Tyeisha')

df['NAME'] = df['NAME'].replace(regex=r'Faith Jia Yin Koh Q', value='Koh, Faith Jia Yin')
df['NAME'] = df['NAME'].replace(regex=r'FAITH JIA YIN KOH', value='Koh, Faith Jia Yin')
df['NAME'] = df['NAME'].replace(regex=r'Faith Jia Yin Koh', value='Koh, Faith Jia Yin')
df['NAME'] = df['NAME'].replace(regex=r'Koh, Faith', value='Koh, Faith Jia Yin')

df['NAME'] = df['NAME'].replace(regex=r'LIM, EIFFER YING QI', value='LIM YING QI, EIFFER')
df['NAME'] = df['NAME'].replace(regex=r'lim, eiffer', value='LIM YING QI, EIFFER')
df['NAME'] = df['NAME'].replace(regex=r'Eiffer, Lim Ying Qi', value='LIM YING QI, EIFFER')

df['NAME'] = df['NAME'].replace(regex=r'Chui Ling Goh', value='GOH, CHUI LING')

df['NAME'] = df['NAME'].replace(regex=r'Chong Le Xuan, Chloe', value='CHONG LE XUAN, CHLOE')
df['NAME'] = df['NAME'].replace(regex=r'CHONG, LE XUAN, CHLOE', value='CHONG LE XUAN, CHLOE')
df['NAME'] = df['NAME'].replace(regex=r'CHONG, CHLOE LE XUAN', value='CHONG LE XUAN, CHLOE')



df['NAME'] = df['NAME'].replace(regex=r'SIDHOM, MANUELA', value='Sidhom, Manuela')
df['NAME'] = df['NAME'].replace(regex=r'Manuela Sidhom Q', value='Sidhom, Manuela')
df['NAME'] = df['NAME'].replace(regex=r'Manuela Sidhom q', value='Sidhom, Manuela')
df['NAME'] = df['NAME'].replace(regex=r'Manuela Sidhom', value='Sidhom, Manuela')

df['NAME'] = df['NAME'].replace(regex=r'^Gan,\sSteffi$', value='Gan, Steffi Kai Lin')
df['NAME'] = df['NAME'].replace(regex=r'Gan Kai-lin, Steffi', value='Gan, Steffi Kai Lin')




df['NAME'] = df['NAME'].replace(regex=r'Yu En Bernice, Tan', value='Tan Yu En, Bernice')
df['NAME'] = df['NAME'].replace(regex=r'Tan, Yu En Bernice', value='Tan Yu En, Bernice')
#df['NAME'] = df['NAME'].replace(regex=r'Tan, Bernice', value='Tan Yu En, Bernice')
df['NAME'] = df['NAME'].replace(regex=r'Tan Yu En Bernice q', value='Tan Yu En, Bernice')
df['NAME'] = df['NAME'].replace(regex=r'Tan Yu En Bernice Q', value='Tan Yu En, Bernice')
#df['NAME'] = np.where(((df['NAME']=='Tan, Bernice')&(df['DOB']=='2010-10-05')), 'Tan Yu En, Bernice', 'Tan, Bernice')
df['NAME'] = df['NAME'].replace(regex=r'TAN, YUN RU BERNICE', value='Tan Yun Ru, Bernice')

#df['NAME'] = np.where(((df['NAME']=='Tan, Bernice')&(df['DOB']=='2000-11-16')), 'Tan Yun Ru, Bernice', 'Tan, Bernice')

df['NAME'] = df['NAME'].replace(regex=r'Ng, Yew Cheo', value='NG, YEW CHEO')

df['NAME'] = df['NAME'].replace(regex=r'Caelyn Chew Kai Ling Q', value='Chew Kai Ling, Caelyn')
df['NAME'] = df['NAME'].replace(regex=r'Caelyn Chew Kai Ling', value='Chew Kai Ling, Caelyn')

df['NAME'] = df['NAME'].replace(regex=r'FOO, NATALIE ZHI NING', value='Foo Zhi Ning, Natalie')
df['NAME'] = df['NAME'].replace(regex=r'Foo, Natalie', value='Foo Zhi Ning, Natalie')


df['NAME'] = df['NAME'].replace(regex=r'Xiu Yi, Leong', value='Leong, Xiu Yi')


df['NAME'] = df['NAME'].replace(regex=r'Shing Ling Goh', value='GOH SHING LING')
df['NAME'] = df['NAME'].replace(regex=r'Goh, Shing Ling', value='GOH SHING LING')



df['NAME'] = df['NAME'].replace(regex=r'Tia Louise Rozario', value='ROZARIO, TIA LOUISE')
df['NAME'] = df['NAME'].replace(regex=r'Rozario, Tia Louise', value='ROZARIO, TIA LOUISE')


df['NAME'] = df['NAME'].replace(regex=r'Chloe Chee En-Ya', value='CHLOE CHEE EN-YA')
df['NAME'] = df['NAME'].replace(regex=r'En-ya, Chloe', value='CHLOE CHEE EN-YA')
df['NAME'] = df['NAME'].replace(regex=r'Chee Chee En-ya, Chloe', value='CHLOE CHEE EN-YA')
df['NAME'] = df['NAME'].replace(regex=r'Chloe Chee En-Ya Q', value='CHLOE CHEE EN-YA')
df['NAME'] = df['NAME'].replace(regex=r'En-ya, Chloe', value='CHLOE CHEE EN-YA')
df['NAME'] = df['NAME'].replace(regex=r'Chee En-ya, Chloe', value='CHLOE CHEE EN-YA')


df['NAME'] = df['NAME'].replace(regex=r'Chuhan Zhong', value='Zhong, Chuhan')
df['NAME'] = df['NAME'].replace(regex=r'Megan Anne Ying Ka Mun Q', value='Zhong,')


df['NAME'] = df['NAME'].replace(regex=r'Lim Yee Chern Clara Q', value='LIM YEE CHERN CLARA')
df['NAME'] = df['NAME'].replace(regex=r'LIM, YEE CHERN CLARA', value='LIM YEE CHERN CLARA')
df['NAME'] = df['NAME'].replace(regex=r'Clara Lim Yee Chern', value='LIM YEE CHERN CLARA')
df['NAME'] = df['NAME'].replace(regex=r'Lim, Clara', value='LIM YEE CHERN CLARA')
df['NAME'] = df['NAME'].replace(regex=r'Lim Yee Chern Clara', value='LIM YEE CHERN CLARA')
df['NAME'] = df['NAME'].replace(regex=r'YEE CHERN CLARA LIM', value='LIM YEE CHERN CLARA')


df['NAME'] = df['NAME'].replace(regex=r'CHEW, JADE', value='CHEW YIU TSE JADE')
df['NAME'] = df['NAME'].replace(regex=r'Jade, Chew Yiu Tse', value='CHEW YIU TSE JADE')
df['NAME'] = df['NAME'].replace(regex=r'Chew, Jade', value='CHEW YIU TSE JADE')
df['NAME'] = df['NAME'].replace(regex=r'CHEW, YIU TSE JADE', value='CHEW YIU TSE JADE')
df['NAME'] = df['NAME'].replace(regex=r'Chew, Yiu Tse Jade', value='CHEW YIU TSE JADE')

df['NAME'] = df['NAME'].replace(regex=r'Tay, Esther SHEE WEI', value='TAY, ESTHER')
df['NAME'] = df['NAME'].replace(regex=r'Esther Tay', value='TAY, ESTHER')
df['NAME'] = df['NAME'].replace(regex=r'TAY, ESTHER SHEE WEI', value='TAY, ESTHER')
df['NAME'] = df['NAME'].replace(regex=r'TAY, ESTHER', value='TAY, ESTHER')
df['NAME'] = df['NAME'].replace(regex=r'Tay, Esther', value='TAY, ESTHER')
df['NAME'] = df['NAME'].replace(regex=r'ESTHER TAY SHEE WEI', value='TAY, ESTHER')



df['NAME'] = df['NAME'].replace(regex=r'Han Qi Feng', value='FENG, HAN QI')
df['NAME'] = df['NAME'].replace(regex=r'FENG HAN QI', value='FENG, HAN QI')
df['NAME'] = df['NAME'].replace(regex=r'Han Qi Feng', value='FENG, HAN QI')
df['NAME'] = df['NAME'].replace(regex=r'Feng Han Qi', value='FENG, HAN QI')
df['NAME'] = df['NAME'].replace(regex=r'Feng, Han Qi', value='FENG, HAN QI')

df['NAME'] = df['NAME'].replace(regex=r'Syed Ahmed Riadh, Sharifah Falisha', value='SYED AHMED RIADH, SHARIFAH FALISHA')
df['NAME'] = df['NAME'].replace(regex=r'Sharifah Falisha Binte Syed Ahmed', value='SYED AHMED RIADH, SHARIFAH FALISHA')

df['NAME'] = df['NAME'].replace(regex=r'Sam, Vanessa', value='SAM, VANESSA')

df['NAME'] = df['NAME'].replace(regex=r'Vanessa Lee Ying Zhuang', value='LEE, VANESSA')
df['NAME'] = df['NAME'].replace(regex=r'Lee Ying Zhuang, Vanessa', value='LEE, VANESSA')
df['NAME'] = df['NAME'].replace(regex=r'Lee, Vanessa', value='LEE, VANESSA')


df['NAME'] = df['NAME'].replace(regex=r'SNG, MICHELLE', value='MICHELLE SNG')
df['NAME'] = df['NAME'].replace(regex=r'SNG, SUAT LI, MICHELLE', value='MICHELLE SNG')
df['NAME'] = df['NAME'].replace(regex=r'Michelle Sng Suat Li', value='MICHELLE SNG')
df['NAME'] = df['NAME'].replace(regex=r'Sng, Michelle', value='MICHELLE SNG')
df['NAME'] = df['NAME'].replace(regex=r'Michelle Sng Suat Li', value='MICHELLE SNG')

df['NAME'] = df['NAME'].replace(regex=r'Rachel See Boon Lay', value='Rachel See')

df['NAME'] = df['NAME'].replace(regex=r'Yee, Wai Teng Melissa', value='YEE, MELISSA')
df['NAME'] = df['NAME'].replace(regex=r'YEE WAI TENG, MELISSA', value='YEE, MELISSA')

df['NAME'] = df['NAME'].replace(regex=r'Kerstin Ong Jing Rong', value='ONG, KERSTIN')
df['NAME'] = df['NAME'].replace(regex=r'Ong, Kerstin', value='ONG, KERSTIN')


df['NAME'] = df['NAME'].replace(regex=r'Chua, Joshua', value='CHUA, JOSHUA')

df['NAME'] = df['NAME'].replace(regex=r'Raphael, Ryan', value='RAPHAEL, RYAN')
df['NAME'] = df['NAME'].replace(regex=r'NG, RYAN RAPHAEL', value='RAPHAEL, RYAN')

df['NAME'] = df['NAME'].replace(regex=r'Xander Ho Ann Heng', value='HO ANN HENG, XANDER')
df['NAME'] = df['NAME'].replace(regex=r'Ho, Xander Ann Heng', value='HO ANN HENG, XANDER')
df['NAME'] = df['NAME'].replace(regex=r'HO, XANDER, ANN HENG', value='HO ANN HENG, XANDER')
df['NAME'] = df['NAME'].replace(regex=r'XANDER, HO ANN HENG', value='HO ANN HENG, XANDER')
df['NAME'] = df['NAME'].replace(regex=r'Ho Ann Heng, Xander', value='HO ANN HENG, XANDER')

df['NAME'] = df['NAME'].replace(regex=r'Tan, Tate', value='TATE TAN FUNG')

df['NAME'] = df['NAME'].replace(regex=r'Tan Hong An, Daryl', value='TAN, DARYL')
df['NAME'] = df['NAME'].replace(regex=r'Tan Daryl', value='TAN, DARYL')
df['NAME'] = df['NAME'].replace(regex=r'Tan, Daryl', value='TAN, DARYL')

df['NAME'] = df['NAME'].replace(regex=r'Ong Ying Tat', value='ONG, YING TAT')
df['NAME'] = df['NAME'].replace(regex=r'Ong Ying Tat Q', value='ONG, YING TAT')

df['NAME'] = df['NAME'].replace(regex=r'S/O SUBASH SOMAN, PRAHARSH RYAN', value='RYAN, PRAHARSH')
df['NAME'] = df['NAME'].replace(regex=r'Ryan, Praharsh', value='RYAN, PRAHARSH')
df['NAME'] = df['NAME'].replace(regex=r'Ryan Praharsh', value='RYAN, PRAHARSH')
df['NAME'] = df['NAME'].replace(regex=r'PRAHARSH, RYAN', value='RYAN, PRAHARSH')

df['NAME'] = df['NAME'].replace(regex=r'LIM, CHUN KHAI, JON', value='LIM, JON')
df['NAME'] = df['NAME'].replace(regex=r'Lim, Jon', value='LIM, JON')

df['NAME'] = df['NAME'].replace(regex=r'Wei Guan, Chong', value='CHONG, WEI GUAN')
df['NAME'] = df['NAME'].replace(regex=r'Chong, Wei Guan', value='CHONG, WEI GUAN')


df['NAME'] = df['NAME'].replace(regex=r'Mohamed, Haja Fayiz', value='FAYIZ, MOHAMED HAJA')
df['NAME'] = df['NAME'].replace(regex=r'Osman, Amir Rusyaidi', value='OSMAN, AMIR RUSYAIDI')

df['NAME'] = df['NAME'].replace(regex=r'Jing Heng Ng', value='NG, JING HENG')
df['NAME'] = df['NAME'].replace(regex=r'Ng, Jing Heng', value='NG, JING HENG')


df['NAME'] = df['NAME'].replace(regex=r'Tan, Jonathan', value='TAN, JONATHAN')
df['NAME'] = df['NAME'].replace(regex=r'Tan, Jonathan Tan', value='TAN, JONATHAN')
df['NAME'] = df['NAME'].replace(regex=r'JONATHAN TAN', value='TAN, JONATHAN')



df['NAME'] = df['NAME'].replace(regex=r'Lucas Le Cong Fun', value='FUN LE CONG LUCAS')
df['NAME'] = df['NAME'].replace(regex=r'Fun Le Cong, Lucas', value='FUN LE CONG LUCAS')
df['NAME'] = df['NAME'].replace(regex=r'Fun Le Cong, Lucas Q', value='FUN LE CONG LUCAS')
df['NAME'] = df['NAME'].replace(regex=r'Fun, Le Cong Lucas', value='FUN LE CONG LUCAS')
df['NAME'] = df['NAME'].replace(regex=r'FUN, LE CONG LUCAS', value='FUN LE CONG LUCAS')


df['NAME'] = df['NAME'].replace(regex=r'PERCY MUNCHERJI, ZUBIN', value='ZUBIN PERCY MUNCHERJI')
df['NAME'] = df['NAME'].replace(regex=r'Muncherji, Zubin', value='ZUBIN PERCY MUNCHERJI')
df['NAME'] = df['NAME'].replace(regex=r'MUNCHERJI, ZUBIN PERCY', value='ZUBIN PERCY MUNCHERJI')
df['NAME'] = df['NAME'].replace(regex=r'Zubin Percy Muncherji', value='ZUBIN PERCY MUNCHERJI')

df['NAME'] = df['NAME'].replace(regex=r'Quek, Jun Jie Calvin', value='QUEK, JUN JIE CALVIN')
df['NAME'] = df['NAME'].replace(regex=r'Jun Jie Calvin Quek', value='QUEK, JUN JIE CALVIN')

df['NAME'] = df['NAME'].replace(regex=r'Chia, Shawn', value='SHAWN CHIA WEI EN')
df['NAME'] = df['NAME'].replace(regex=r'CHIA, WEI EN, SHAWN', value='SHAWN CHIA WEI EN')
df['NAME'] = df['NAME'].replace(regex=r'Chia Wei En, Shawn', value='SHAWN CHIA WEI EN')
df['NAME'] = df['NAME'].replace(regex=r'Wei En Shawn, Chia', value='SHAWN CHIA WEI EN')
df['NAME'] = df['NAME'].replace(regex=r'Shawn Chia Wei En', value='SHAWN CHIA WEI EN')
df['NAME'] = df['NAME'].replace(regex=r'CHIA, SHAWN WEI EN', value='SHAWN CHIA WEI EN')


df['NAME'] = df['NAME'].replace(regex=r'Jie Cong Jayden, Tan', value='JIE CONG JAYDEN, TAN')
df['NAME'] = df['NAME'].replace(regex=r'TAN , JIE CONG, JAYDEN', value='JIE CONG JAYDEN, TAN')
df['NAME'] = df['NAME'].replace(regex=r'Tan, Jayden', value='JIE CONG JAYDEN, TAN')

df['NAME'] = df['NAME'].replace(regex=r'Lim, Oliver', value='LIM, OLIVER')

df['NAME'] = df['NAME'].replace(regex=r'YEE, ERIC CHUN WAI', value='YEE, CHUN WAI, ERIC')
df['NAME'] = df['NAME'].replace(regex=r'Yee, Eric', value='YEE, CHUN WAI, ERIC')
df['NAME'] = df['NAME'].replace(regex=r'YEE CHUN WAI, ERIC', value='YEE, CHUN WAI, ERIC')
df['NAME'] = df['NAME'].replace(regex=r'Eric Yee Chun Wai', value='YEE, CHUN WAI, ERIC')
df['NAME'] = df['NAME'].replace(regex=r'Yee Chun Wai, Eric', value='YEE, CHUN WAI, ERIC')
df['NAME'] = df['NAME'].replace(regex=r'Yee, Chun Wai, Eric', value='YEE, CHUN WAI, ERIC')
df['NAME'] = df['NAME'].replace(regex=r'Yee Chun Wai, Eric', value='YEE, CHUN WAI, ERIC')
df['NAME'] = df['NAME'].replace(regex=r'YEE, ERIC CHUN WAI', value='YEE, CHUN WAI, ERIC')


df['NAME'] = df['NAME'].replace(regex=r'Rui Yong Soh', value='SOH RUI YONG GUILLAUME')

df['NAME'] = df['NAME'].replace(regex=r'TAN, AARON JUSTIN', value='TAN, AARON JUSTIN WEN JIE')
df['NAME'] = df['NAME'].replace(regex=r'Tan, Aaron Justin', value='TAN, AARON JUSTIN WEN JIE')


df['NAME'] = df['NAME'].replace(regex=r'Shaun, Goh', value='GOH, SHAUN')
df['NAME'] = df['NAME'].replace(regex=r'Goh, Shaun', value='GOH, SHAUN')
df['NAME'] = df['NAME'].replace(regex=r'Shaun Goh', value='GOH, SHAUN')

df['NAME'] = df['NAME'].replace(regex=r'Ethan Yan', value='YAN, ETHAN')

df['NAME'] = df['NAME'].replace(regex=r'Brandon Heng Fu Hong', value='HENG, BRANDON')
df['NAME'] = df['NAME'].replace(regex=r'Heng, Brandon', value='HENG, BRANDON')
df['NAME'] = df['NAME'].replace(regex=r'Brandon Heng Fu Hong', value='HENG, BRANDON')
df['NAME'] = df['NAME'].replace(regex=r'HENG, BRANDON', value='HENG, BRANDON')
df['NAME'] = df['NAME'].replace(regex=r'HENG, FU HONG, BRANDON', value='HENG, BRANDON')
df['NAME'] = df['NAME'].replace(regex=r'HENG, FU HONG BRANDON', value='HENG, BRANDON')

df['NAME'] = df['NAME'].replace(regex=r'Tung Hon Andrew Pak', value='PAK, ANDREW')
df['NAME'] = df['NAME'].replace(regex=r'Pak, Andrew', value='PAK, ANDREW')

df['NAME'] = df['NAME'].replace(regex=r'Wong Yijie Lucas', value='WONG YIJIE LUCAS')
df['NAME'] = df['NAME'].replace(regex=r'Wong, Yijie Lucas', value='WONG YIJIE LUCAS')

df['NAME'] = df['NAME'].replace(regex=r'Mun Jern Wei', value='MUN, IVAN')
df['NAME'] = df['NAME'].replace(regex=r'Mun, Jern Wei Ivan', value='MUN, IVAN')
df['NAME'] = df['NAME'].replace(regex=r'Mun, Ivan', value='MUN, IVAN')


df['NAME'] = df['NAME'].replace(regex=r'Conrad Kangli Emery', value='EMERY, CONRAD')
df['NAME'] = df['NAME'].replace(regex=r'Conrad, Kangli Emery', value='EMERY, CONRAD')
df['NAME'] = df['NAME'].replace(regex=r'Kangli Emery Conrad', value='EMERY, CONRAD')
df['NAME'] = df['NAME'].replace(regex=r'Conrad Kangli Emery Q', value='EMERY, CONRAD')

df['NAME'] = df['NAME'].replace(regex=r'Melvin, Wong', value='WONG, MELVIN')
df['NAME'] = df['NAME'].replace(regex=r'MELVIN, WONG', value='WONG, MELVIN')

df['NAME'] = df['NAME'].replace(regex=r'Caleb Hia', value='HIA, CALEB')

df['NAME'] = df['NAME'].replace(regex=r'Jun Yu Low', value='LOW, JUN YU')
df['NAME'] = df['NAME'].replace(regex=r'Low Jun Yu', value='LOW, JUN YU')
df['NAME'] = df['NAME'].replace(regex=r'Low, Jun Yu', value='LOW, JUN YU')

df['NAME'] = df['NAME'].replace(regex=r'Gabriel Lee', value='LEE GABRIEL JIN YI')
df['NAME'] = df['NAME'].replace(regex=r'Lee, Gabriel', value='LEE GABRIEL JIN YI')

df['NAME'] = df['NAME'].replace(regex=r'Andrew George Medina', value='MEDINA, ANDREW GEORGE')
df['NAME'] = df['NAME'].replace(regex=r'Medina, Andrew', value='MEDINA, ANDREW GEORGE')
df['NAME'] = df['NAME'].replace(regex=r'Medina, Andrew George', value='MEDINA, ANDREW GEORGE')
df['NAME'] = df['NAME'].replace(regex=r'George Medina, Andrew', value='MEDINA, ANDREW GEORGE')
df['NAME'] = df['NAME'].replace(regex=r'George George Medina, Andrew', value='MEDINA, ANDREW GEORGE')



df['NAME'] = df['NAME'].replace(regex=r'^Harry\sIrfan\sCurra$', value='HARRY IRFAN CURRAN')
df['NAME'] = df['NAME'].replace(regex=r'Curran, Harry Irfann', value='HARRY IRFAN CURRAN')
df['NAME'] = df['NAME'].replace(regex=r'^Curran,\sHarry$', value='HARRY IRFAN CURRAN')
df['NAME'] = df['NAME'].replace(regex=r'Harry Irfan Curran Q', value='HARRY IRFAN CURRAN')
df['NAME'] = df['NAME'].replace(regex=r'Harry Irfan Curran', value='HARRY IRFAN CURRAN')
df['NAME'] = df['NAME'].replace(regex=r'Curran, Harry Irfan', value='HARRY IRFAN CURRAN')
df['NAME'] = df['NAME'].replace(regex=r'CURRAN, HARRY IRFAN', value='HARRY IRFAN CURRAN')


df['NAME'] = df['NAME'].replace(regex=r'Wei Jun Huang', value='HUANG WEI JUN')
df['NAME'] = df['NAME'].replace(regex=r'HUANG, WEI JUN', value='HUANG WEI JUN')

df['NAME'] = df['NAME'].replace(regex=r'., Hariharan', value=', HARIHARAN')
df['NAME'] = df['NAME'].replace(regex=r'S/O KrishnS/O Krishna, Hariharan', value=', HARIHARAN')
df['NAME'] = df['NAME'].replace(regex=r'KRISHNAN, HARIHARAN S/O', value=', HARIHARAN')

'''

"\n\n# Correct some of the known name variations\n# Need to fix 2024 NSG names extracts (extracting Q/q with name)\n\ndf['NAME'] = df['NAME'].str.replace('\xa0', '', regex=True)\ndf['NAME'] = df['NAME'].str.replace('[\x00-\x1f\x7f-\x9f]', '', regex=True)\ndf['NAME'] = df['NAME'].str.replace('\r', '', regex=True)\ndf['NAME'] = df['NAME'].str.replace('\n', '', regex=True)\ndf['NAME'] = df['NAME'].str.strip()\n\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'Norhisham, Jamie El Redha Ang El Redha Ang', value='Norhisham, Jamie El Redha Ang')\n\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'TAN, ELIZABETH ANN SHEE R', value='TAN, ELIZABETH-ANN')\ndf['NAME'] = df['NAME'].replace(regex=r'Tan, Elizabeth Ann', value='TAN, ELIZABETH-ANN')\ndf['NAME'] = df['NAME'].replace(regex=r'TAN, SHEE RU, ELIZABETH-A', value='TAN, ELIZABETH-ANN')\ndf['NAME'] = df['NAME'].replace(regex=r'Elizabeth-Ann Tan', value='TAN, ELIZABETH-ANN')\ndf['NAME'] = df['NAME'].replace(regex=r'Tan, Elizabeth-Ann', value='TAN, ELIZABETH-ANN')\ndf['NAME'] = df['NAME'].replace(regex=r'Tan Shee Ru, Elizabeth-Ann', value='TAN, ELIZABETH-ANN')\n\ndf['NAME'] = df['NAME'].replace(regex=r'Louis, Marc', value='Louis, Marc Brian')\ndf['NAME'] = df['NAME'].replace(regex=r'LOUIS, MARC BRIAN', value='Louis, Marc Brian')\ndf['NAME'] = df['NAME'].replace(regex=r'LOUIS, MARC BRIAN BRIAN', value='Louis, Marc Brian')\ndf['NAME'] = df['NAME'].replace(regex=r'Louis, Marc Brian Brian', value='Louis, Marc Brian')\ndf['NAME'] = df['NAME'].replace(regex=r'Marc Brian Louis', value='Louis, Marc Brian')\ndf['NAME'] = df['NAME'].replace(regex=r'Brian louis, Marc', value='Louis, Marc Brian')\n\n\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'TAN JUN JIE', value='Tan, Jun Jie')\ndf['NAME'] = df['NAME'].replace(regex=r'Tan Jun Jie', value='Tan, Jun Jie')\n\ndf['NAME'] = df['NAME'].replace(regex=r'Shanti Veronica Pereira', value='PEREIRA, VERONICA SHANTI')\ndf['NAME'] = df['NAME'].replace(regex=r'LIEW, YEE LING, BERNICE', value='Liew, Bernice')\ndf['NAME'] = df['NAME'].replace(regex=r'LIEW, BERNICE YEE LING', value='Liew, Bernice')\n\ndf['NAME'] = df['NAME'].replace(regex=r'Mark Lee', value='LEE, MARK REN')\ndf['NAME'] = df['NAME'].replace(regex=r'Lee, Mark', value='LEE, MARK REN')\n\n\n\n\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'ANG, CHEN XIANG', value='Ang, Chen Xiang')\n\n\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'LEE YU FOONG (LI YUFENG)', value='Lee, Yu Foong')\ndf['NAME'] = df['NAME'].replace(regex=r'YAP, SEAN YEE', value='Yap, Sean Yee')\ndf['NAME'] = df['NAME'].replace(regex=r'Norhisham, Jamie', value='Norhisham, Jamie El Redha Ang')\n\ndf['NAME'] = df['NAME'].replace(regex=r'ALEXIS TEO PEI QI', value='Teo, Alexis')\n\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'Enriquez, Roxanne Rose Zulueta', value='ROSE ZULUETA ENRIQUE, ROXANNE')\ndf['NAME'] = df['NAME'].replace(regex=r'ENRIQUEZ, ROXANNE ROSE ZULUETA', value='ROSE ZULUETA ENRIQUE, ROXANNE')\ndf['NAME'] = df['NAME'].replace(regex=r'ENRIQUEZ, ROSE ZULUETA, ROXANN', value='ROSE ZULUETA ENRIQUE, ROXANNE')\n\ndf['NAME'] = df['NAME'].replace(regex=r'Goh, Clara', value='GOH, CLARA')\n\ndf['NAME'] = df['NAME'].replace(regex=r'WONG JIN ROU', value='Wong, Jin Rou')\n\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'THANA RAJAN, S/O, THIRUBEN', value='THANA RAJAN, THIRUBEN  S/O')\ndf['NAME'] = df['NAME'].replace(regex=r'Rajan Thiruben Thana', value='THANA RAJAN, THIRUBEN  S/O')\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'Raam Kumar Muthukumaran', value='Muthukumaran, Raam Kumar')\n\ndf['NAME'] = df['NAME'].replace(regex=r'Chia Wei En, Shawn', value='Chia, Shawn')\n\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'QUEK XIN YONG JEREMIAH', value='QUEK, JEREMIAH')\ndf['NAME'] = df['NAME'].replace(regex=r'quek xin yong jeremi', value='QUEK, JEREMIAH')\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'Chiu, Jingwen', value='Chiu, Jing Wen')\n\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'LEE YU FOONG (LI YUFENG)', value='Lee, Yu Foong')\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'LOW CHUAN YI', value='Low, Chuan Yi')\n\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'Rachel Yang Bing Jie', value='YANG, RACHEL')\n\ndf['NAME'] = df['NAME'].replace(regex=r'Jun Yu Low', value='Low, Jun Yu')\ndf['NAME'] = df['NAME'].replace(regex=r'Low Jun Yu', value='Low, Jun Yu')\n\ndf['NAME'] = df['NAME'].replace(regex=r'Dewey Ng', value='Ng, Dewey')\ndf['NAME'] = df['NAME'].replace(regex=r'NG, DEWEY', value='Ng, Dewey')\n\ndf['NAME'] = df['NAME'].replace(regex=r'., Brendon Ting Li King', value='Ting Li King, Brandon')\ndf['NAME'] = df['NAME'].replace(regex=r'TAN KIAN SWEE ISAAC', value='Tan, Isaac')\ndf['NAME'] = df['NAME'].replace(regex=r'TAN, KIAN SWEE ISAAC', value='Tan, Isaac')\n\ndf['NAME'] = df['NAME'].replace(regex=r'GAO SHENGWEI', value='Gao, Shengwei')\ndf['NAME'] = df['NAME'].replace(regex=r'NEO SHYH KAI', value='Neo, Shyh Kai')\ndf['NAME'] = df['NAME'].replace(regex=r'ANGEL LIM YU XIN', value='Lim, Yuxin Angel')\ndf['NAME'] = df['NAME'].replace(regex=r'LAUREL, LIM JIA EN', value='LAUREL LIM JIA EN')\n\ndf['NAME'] = df['NAME'].replace(regex=r'LOH DING RONG, ANSON', value='Loh, Anson')\n\ndf['NAME'] = df['NAME'].replace(regex=r'SEAN, TEE YU XIANG', value='SEAN TEE YU XIANG')\ndf['NAME'] = df['NAME'].replace(regex=r'NG JUN HENG, RYAN', value='Ng, Ryan')\ndf['NAME'] = df['NAME'].replace(regex=r'LIM WEE ENG', value='Lim, Wee Eng')\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'Chen Xiang Ang', value='Ang, Chen Xiang')\n\ndf['NAME'] = df['NAME'].replace(regex=r'CHUA JE-AN, GARRETT', value='Chua, Garrett')\ndf['NAME'] = df['NAME'].replace(regex=r'Garrett Chua', value='Chua, Garrett')\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'Looi, Yan Ning Samantha', value='LOOI YAN NING, SAMANTHA')\ndf['NAME'] = df['NAME'].replace(regex=r'Lim, Sheila Qi Le', value='Lim Qi Le, Sheila')\ndf['NAME'] = df['NAME'].replace(regex=r'NG, CHIN HUI', value='Ng, Chin Hui')\ndf['NAME'] = df['NAME'].replace(regex=r'SEAN, TEE YU XIANG', value='SEAN TEE YU XIANG')\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'Edsel Poh', value='Poh, Edsel')\ndf['NAME'] = df['NAME'].replace(regex=r'Gautam, Kulandaiveludayar Se', value='Kulandaiveludayar Se, Gautam')\n\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'Hanim, Asmah', value='Asmah, Hanim')\ndf['NAME'] = df['NAME'].replace(regex=r'YOON SAE YOUNG', value='Yoon, Sae Young')\ndf['NAME'] = df['NAME'].replace(regex=r'Wong, Alexis Li Xuan', value='Wong, Alexis')\n\ndf['NAME'] = df['NAME'].replace(regex=r'TAN JUN ERN KEAN', value='Tan Jun Ern Kean')\n\ndf['NAME'] = df['NAME'].replace(regex=r'JOEY LIM ZI YI', value='Lim, Joey')\ndf['NAME'] = df['NAME'].replace(regex=r'Bernie Chong Yi Shan', value='Chong, Bernie')\n\ndf['NAME'] = df['NAME'].replace(regex=r'Tan Ting Jun', value='Tan, Ting Jun')\ndf['NAME'] = df['NAME'].replace(regex=r'Xiao, Hongyang', value='Xiao, Hong Yang')\ndf['NAME'] = df['NAME'].replace(regex=r'Reiner Leong Rong Xi', value='Leong, Reiner')\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'CHEN JING YING JANELLE', value='Chen, Janelle')\ndf['NAME'] = df['NAME'].replace(regex=r'Toh Wei De', value='Toh, Wei De')\n#df['NAME'] = df['NAME'].replace(regex=r'SheikAluu'udin\\,\\sSkeik\\sFayz', value='Sheik\\sAluu'udin\\,\\sSkeik\\sFayz')\n\ndf['NAME'] = df['NAME'].replace(regex=r'kapil, Arnav', value='Kapil, Arnav')\ndf['NAME'] = df['NAME'].replace(regex=r'KIRAN, SEBASTIAN JEHUNATHAN', value='Sebastian Jehunathan, Kiran')\ndf['NAME'] = df['NAME'].replace(regex=r'LAU, REINA', value='Lau, Reina')\ndf['NAME'] = df['NAME'].replace(regex=r'Lau Reina', value='Lau, Reina')\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'Si Hui, Amanda, Loo', value='Amanda, Loo Si Hui')\ndf['NAME'] = df['NAME'].replace(regex=r'Zou Aolin q', value='Zou Aolin')\ndf['NAME'] = df['NAME'].replace(regex=r'Thang Ying Yue', value='Thang, Ying Yue')\n\ndf['NAME'] = df['NAME'].replace(regex=r'NEO EE , NIN', value='Neo, Ee Nin')\ndf['NAME'] = df['NAME'].replace(regex=r'Neo Ee Nin', value='Neo, Ee Nin')\ndf['NAME'] = df['NAME'].replace(regex=r'Emma Tan Yi Min', value='TAN, EMMA YI MIN')\ndf['NAME'] = df['NAME'].replace(regex=r'Tan, Emma Yi Min', value='TAN, EMMA YI MIN')\n\ndf['NAME'] = df['NAME'].replace(regex=r'WONG, JIN ROU', value='Wong, Jin Rou')\ndf['NAME'] = df['NAME'].replace(regex=r'Seah, Michelle Xin Yi', value='Seah, Michelle')\ndf['NAME'] = df['NAME'].replace(regex=r'Jing Wen, Chiu', value='Chiu, Jing Wen')\ndf['NAME'] = df['NAME'].replace(regex=r'NG, ROY', value='Ng Kai Leong, Roy')\ndf['NAME'] = df['NAME'].replace(regex=r'Ng, Kai Leong Roy', value='Ng Kai Leong, Roy')\ndf['NAME'] = df['NAME'].replace(regex=r'., Ashlee Ong Yuxi', value='Ong, Ashlee Yuxi')\ndf['NAME'] = df['NAME'].replace(regex=r'Ashlee Ong Yuxi', value='Ong, Ashlee Yuxi')\ndf['NAME'] = df['NAME'].replace(regex=r'Ong, Ashlee', value='Ong, Ashlee Yuxi')\ndf['NAME'] = df['NAME'].replace(regex=r'Wee, Elliott', value='Wee, Elliot')\ndf['NAME'] = df['NAME'].replace(regex=r'., Cheong Yin Yern Jose', value='Joseph Cheong Yin Yern')\ndf['NAME'] = df['NAME'].replace(regex=r'Thang Ying Yue', value='Thang, Ying Yue')\ndf['NAME'] = df['NAME'].replace(regex=r'Hongyang, Xiao', value='XIAO, HONGYANG')\ndf['NAME'] = df['NAME'].replace(regex=r'Tan Shou Yi Rei (Chen Shouyi)', value='Tan Shou Yi Rei')\ndf['NAME'] = df['NAME'].replace(regex=r'Ong, Ashlee Yuxi Yuxi', value='Ong, Ashlee Yuxi')\ndf['NAME'] = df['NAME'].replace(regex=r'Low, Jonathan', value='Low Jun Jie, Jonathan')\ndf['NAME'] = df['NAME'].replace(regex=r'Murali, Sham', value='Kumar Shanjie, Murali Sham')\ndf['NAME'] = df['NAME'].replace(regex=r'SHANJIE, MURALI SHAM KUMAR', value='Kumar Shanjie, Murali Sham')\ndf['NAME'] = df['NAME'].replace(regex=r'Koh, Aaron Xu Qing', value='Koh, Aaron')\n\ndf['NAME'] = df['NAME'].replace(regex=r'Tan Shou Yi Rei (Chen Shouyi)', value='Tan Shou Yi Rei')\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'Mook, He Jun', value='HE, MOOK JUN')\ndf['NAME'] = df['NAME'].replace(regex=r'Leong, Lorraine', value='Leong Jia En, Lorraine')\ndf['NAME'] = df['NAME'].replace(regex=r'Joseph Cheong Yin Yern', value='Cheong, Joseph')\ndf['NAME'] = df['NAME'].replace(regex=r'Wee, Junn Elliott', value='Wee, Elliot')\ndf['NAME'] = df['NAME'].replace(regex=r'Sheik, Fayz', value='Sheik Alau'ddin, Sheik Fayz')\ndf['NAME'] = df['NAME'].replace(regex=r'Keondre Liew Zhen Kai', value='Liew, Keondre Zhen Kai')\n\n\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'TOH, TEDD', value='Toh Jun Xi, Tedd')\n\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'Chuhan Zhong', value='ZHONG, CHUHAN')\ndf['NAME'] = df['NAME'].replace(regex=r'Lee, Daniel', value='Lee Zheng Xian, Daniel Christopher')\ndf['NAME'] = df['NAME'].replace(regex=r'GOH, YEN YOUNG, AMELIA', value='Goh Yen Young Amelia')\ndf['NAME'] = df['NAME'].replace(regex=r'Liew, Keondre Zhen Kai', value='LIEW, KEONDRE')\ndf['NAME'] = df['NAME'].replace(regex=r'Janelle, Lum', value='Lum Wai Yan, Janelle')\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'Teh Ying Shan', value='Teh, Ying Shan')\n\ndf['NAME'] = df['NAME'].replace(regex=r'Mayah Elizabeth Kaufmann Q', value='Mayah Elizabeth Kaufmann')\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'TNG, KAI XIN', value='Tng Kai Xin')\n# Correct some of the known name variations\n# Need to fix 2024 NSG names extracts (extracting Q/q with name)\n\ndf['NAME'] = df['NAME'].replace(regex=r'PRAHARSH, RYAN', value='S/O SUBASH SOMAN, PRAHARSH RYAN')\ndf['NAME'] = df['NAME'].replace(regex=r'Ryan, Praharsh', value='S/O SUBASH SOMAN, PRAHARSH RYAN')\ndf['NAME'] = df['NAME'].replace(regex=r'Ryan Praharsh', value='S/O SUBASH SOMAN, PRAHARSH RYAN')\n\ndf['NAME'] = df['NAME'].replace(regex=r'Ryan Praharsh', value='S/O SUBASH SOMAN, PRAHARSH RYAN')\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'TAN, ELIZABETH ANN SHEE R', value='TAN, ELIZABETH-ANN')\ndf['NAME'] = df['NAME'].replace(regex=r'Tan, Elizabeth Ann', value='TAN, ELIZABETH-ANN')\ndf['NAME'] = df['NAME'].replace(regex=r'TAN, SHEE RU, ELIZABETH-A', value='TAN, ELIZABETH-ANN')\ndf['NAME'] = df['NAME'].replace(regex=r'Elizabeth-Ann Tan', value='TAN, ELIZABETH-ANN')\ndf['NAME'] = df['NAME'].replace(regex=r'Tan, Elizabeth-Ann', value='TAN, ELIZABETH-ANN')\ndf['NAME'] = df['NAME'].replace(regex=r'Tan Shee Ru, Elizabeth-Ann', value='TAN, ELIZABETH-ANN')\n\ndf['NAME'] = df['NAME'].replace(regex=r'Louis, Marc', value='Louis, Marc Brian')\ndf['NAME'] = df['NAME'].replace(regex=r'LOUIS, MARC BRIAN', value='Louis, Marc Brian')\ndf['NAME'] = df['NAME'].replace(regex=r'LOUIS, MARC BRIAN BRIAN', value='Louis, Marc Brian')\ndf['NAME'] = df['NAME'].replace(regex=r'Louis, Marc Brian Brian', value='Louis, Marc Brian')\ndf['NAME'] = df['NAME'].replace(regex=r'Marc Brian Louis', value='Louis, Marc Brian')\ndf['NAME'] = df['NAME'].replace(regex=r'Brian louis, Marc', value='Louis, Marc Brian')\n\n\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'TAN JUN JIE', value='Tan, Jun Jie')\ndf['NAME'] = df['NAME'].replace(regex=r'Tan Jun Jie', value='Tan, Jun Jie')\n\ndf['NAME'] = df['NAME'].replace(regex=r'Shanti Veronica Pereira', value='PEREIRA, VERONICA SHANTI')\ndf['NAME'] = df['NAME'].replace(regex=r'LIEW, YEE LING, BERNICE', value='Liew, Bernice')\ndf['NAME'] = df['NAME'].replace(regex=r'LIEW, BERNICE YEE LING', value='Liew, Bernice')\n\ndf['NAME'] = df['NAME'].replace(regex=r'Mark Lee', value='LEE, MARK REN')\ndf['NAME'] = df['NAME'].replace(regex=r'Lee, Mark', value='LEE, MARK REN')\n\n\n\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'ANG, CHEN XIANG', value='Ang, Chen Xiang')\n\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'LEE YU FOONG (LI YUFENG)', value='Lee, Yu Foong')\ndf['NAME'] = df['NAME'].replace(regex=r'YAP, SEAN YEE', value='Yap, Sean Yee')\n\ndf['NAME'] = df['NAME'].replace(regex=r'ALEXIS TEO PEI QI', value='Teo Pei Qi, Alexis')\ndf['NAME'] = df['NAME'].replace(regex=r'Alexis Teo Pei Qi', value='Teo Pei Qi, Alexis')\ndf['NAME'] = df['NAME'].replace(regex=r'Teo Pei Qi, Alexis Q', value='Teo Pei Qi, Alexis')\n\n\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'Enriquez, Roxanne Rose Zulueta', value='ROSE ZULUETA ENRIQUE, ROXANNE')\ndf['NAME'] = df['NAME'].replace(regex=r'ENRIQUEZ, ROXANNE ROSE ZULUETA', value='ROSE ZULUETA ENRIQUE, ROXANNE')\ndf['NAME'] = df['NAME'].replace(regex=r'ENRIQUEZ, ROSE ZULUETA, ROXANN', value='ROSE ZULUETA ENRIQUE, ROXANNE')\n\ndf['NAME'] = df['NAME'].replace(regex=r'Goh, Clara', value='GOH, CLARA')\n\ndf['NAME'] = df['NAME'].replace(regex=r'WONG JIN ROU', value='Wong, Jin Rou')\n\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'THANA RAJAN, S/O, THIRUBEN', value='THANA RAJAN, THIRUBEN  S/O')\ndf['NAME'] = df['NAME'].replace(regex=r'Rajan Thiruben Thana', value='THANA RAJAN, THIRUBEN  S/O')\ndf['NAME'] = df['NAME'].replace(regex=r'Thana Rajan, Thiruben', value='THANA RAJAN, THIRUBEN  S/O')\n\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'Raam Kumar Muthukumaran', value='Muthukumaran, Raam Kumar')\n\ndf['NAME'] = df['NAME'].replace(regex=r'CHIA, WEI EN, SHAWN', value='Chia, Shawn')\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'QUEK XIN YONG JEREMIAH', value='QUEK, JEREMIAH')\ndf['NAME'] = df['NAME'].replace(regex=r'quek xin yong jeremi', value='QUEK, JEREMIAH')\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'Chiu, Jingwen', value='Chiu, Jing Wen')\n\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'LEE YU FOONG (LI YUFENG)', value='Lee, Yu Foong')\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'LOW CHUAN YI', value='Low, Chuan Yi')\n\ndf['NAME'] = df['NAME'].replace(regex=r'Rachel Yang Bing Jie', value='YANG, RACHEL')\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'Dewey Ng', value='Ng, Dewey')\ndf['NAME'] = df['NAME'].replace(regex=r'NG, DEWEY', value='Ng, Dewey')\n\ndf['NAME'] = df['NAME'].replace(regex=r'., Brendon Ting Li King', value='Ting Li King, Brandon')\ndf['NAME'] = df['NAME'].replace(regex=r'TAN KIAN SWEE ISAAC', value='Tan, Isaac')\ndf['NAME'] = df['NAME'].replace(regex=r'TAN, KIAN SWEE ISAAC', value='Tan, Isaac')\n\ndf['NAME'] = df['NAME'].replace(regex=r'GAO SHENGWEI', value='Gao, Shengwei')\ndf['NAME'] = df['NAME'].replace(regex=r'NEO SHYH KAI', value='Neo, Shyh Kai')\ndf['NAME'] = df['NAME'].replace(regex=r'ANGEL LIM YU XIN', value='Lim, Yuxin Angel')\ndf['NAME'] = df['NAME'].replace(regex=r'LAUREL, LIM JIA EN', value='LAUREL LIM JIA EN')\n\ndf['NAME'] = df['NAME'].replace(regex=r'LOH DING RONG, ANSON', value='Loh, Anson')\n\ndf['NAME'] = df['NAME'].replace(regex=r'SEAN, TEE YU XIANG', value='SEAN TEE YU XIANG')\ndf['NAME'] = df['NAME'].replace(regex=r'NG JUN HENG, RYAN', value='Ng, Ryan')\ndf['NAME'] = df['NAME'].replace(regex=r'LIM WEE ENG', value='Lim, Wee Eng')\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'Chen Xiang Ang', value='Ang, Chen Xiang')\n\ndf['NAME'] = df['NAME'].replace(regex=r'CHUA JE-AN, GARRETT', value='Chua, Garrett')\ndf['NAME'] = df['NAME'].replace(regex=r'Garrett Chua', value='Chua, Garrett')\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'Looi, Yan Ning Samantha', value='LOOI YAN NING, SAMANTHA')\ndf['NAME'] = df['NAME'].replace(regex=r'Lim, Sheila Qi Le', value='Lim Qi Le, Sheila')\ndf['NAME'] = df['NAME'].replace(regex=r'NG, CHIN HUI', value='Ng, Chin Hui')\ndf['NAME'] = df['NAME'].replace(regex=r'SEAN, TEE YU XIANG', value='SEAN TEE YU XIANG')\n\ndf['NAME'] = df['NAME'].replace(regex=r'CHUA HSIN-WEN CLARA', value='Chua Hsin-Wen, Clara')\ndf['NAME'] = df['NAME'].replace(regex=r'Chua Hsin-Wen Clara', value='Chua Hsin-Wen, Clara')\ndf['NAME'] = df['NAME'].replace(regex=r'Chua Hsin-Wen Clara Q', value='Chua Hsin-Wen, Clara')\ndf['NAME'] = df['NAME'].replace(regex=r'HSIN-WEN CLARA, Chua', value='Chua Hsin-Wen, Clara')\ndf['NAME'] = df['NAME'].replace(regex=r'CHUA HSIN-WEN CLARA', value='Chua Hsin-Wen, Clara')\ndf['NAME'] = df['NAME'].replace(regex=r'Chua, Clara Q', value='Chua Hsin-Wen, Clara')\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'Edsel Poh', value='Poh, Edsel')\ndf['NAME'] = df['NAME'].replace(regex=r'Gautam, Kulandaiveludayar Se', value='Kulandaiveludayar Se, Gautam')\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'Hanim, Asmah', value='Asmah, Hanim')\ndf['NAME'] = df['NAME'].replace(regex=r'YOON SAE YOUNG', value='Yoon, Sae Young')\ndf['NAME'] = df['NAME'].replace(regex=r'Wong, Alexis Li Xuan', value='Wong, Alexis')\n\ndf['NAME'] = df['NAME'].replace(regex=r'TAN JUN ERN KEAN', value='Tan Jun Ern Kean')\n\ndf['NAME'] = df['NAME'].replace(regex=r'JOEY LIM ZI YI', value='Lim, Joey')\ndf['NAME'] = df['NAME'].replace(regex=r'Bernie Chong Yi Shan', value='Chong, Bernie')\n\ndf['NAME'] = df['NAME'].replace(regex=r'Tan Ting Jun', value='Tan, Ting Jun')\ndf['NAME'] = df['NAME'].replace(regex=r'Xiao, Hongyang', value='Xiao, Hong Yang')\ndf['NAME'] = df['NAME'].replace(regex=r'Reiner Leong Rong Xi', value='Leong, Reiner')\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'CHEN JING YING JANELLE', value='Chen, Janelle')\ndf['NAME'] = df['NAME'].replace(regex=r'Toh Wei De', value='Toh, Wei De')\n#df['NAME'] = df['NAME'].replace(regex=r'SheikAluu'udin\\,\\sSkeik\\sFayz', value='Sheik\\sAluu'udin\\,\\sSkeik\\sFayz')\n\ndf['NAME'] = df['NAME'].replace(regex=r'kapil, Arnav', value='Kapil, Arnav')\ndf['NAME'] = df['NAME'].replace(regex=r'KIRAN, SEBASTIAN JEHUNATHAN', value='Sebastian Jehunathan, Kiran')\ndf['NAME'] = df['NAME'].replace(regex=r'LAU, REINA', value='Lau, Reina')\ndf['NAME'] = df['NAME'].replace(regex=r'Lau Reina', value='Lau, Reina')\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'Zou Aolin q', value='Zou Aolin')\ndf['NAME'] = df['NAME'].replace(regex=r'Thang Ying Yue', value='Thang, Ying Yue')\n\ndf['NAME'] = df['NAME'].replace(regex=r'NEO EE , NIN', value='Neo, Ee Nin')\ndf['NAME'] = df['NAME'].replace(regex=r'Neo Ee Nin', value='Neo, Ee Nin')\ndf['NAME'] = df['NAME'].replace(regex=r'Emma Tan Yi Min', value='TAN, EMMA YI MIN')\ndf['NAME'] = df['NAME'].replace(regex=r'Tan, Emma Yi Min', value='TAN, EMMA YI MIN')\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'Si Hui, Amanda, Loo', value='Amanda, Loo Si Hui')\ndf['NAME'] = df['NAME'].replace(regex=r'Si Hui Amanda, Loo', value='Amanda, Loo Si Hui')\n\n\n\ndf['NAME'] = df['NAME'].replace(regex=r'WONG, JIN ROU'

In [57]:
'''
# Read a variation name list and corrections from CSVs

os.chdir('/Users/veesheenyuen/Desktop/DataScience/SAA/OCTC/')

names = pd.read_csv("name_variations.csv")

for index, row in names.iterrows():
        
    print(names.VARIATION, names.NAME)
    df['NAME'] = df['NAME'].replace(regex=rf"{row['VARIATION']}", value=f"{row['NAME']}")

'''

'\n# Read a variation name list and corrections from CSVs\n\nos.chdir(\'/Users/veesheenyuen/Desktop/DataScience/SAA/OCTC/\')\n\nnames = pd.read_csv("name_variations.csv")\n\nfor index, row in names.iterrows():\n        \n    print(names.VARIATION, names.NAME)\n    df[\'NAME\'] = df[\'NAME\'].replace(regex=rf"{row[\'VARIATION\']}", value=f"{row[\'NAME\']}")\n\n'

In [58]:
# Read name variations from GCS name lists bucket (Still in beta)

df['NAME'] = df['NAME'].str.replace('\xa0', '', regex=True)
df['NAME'] = df['NAME'].str.replace('[\x00-\x1f\x7f-\x9f]', '', regex=True)
df['NAME'] = df['NAME'].str.replace('\r', '', regex=True)
df['NAME'] = df['NAME'].str.replace('\n', '', regex=True)
df['NAME'] = df['NAME'].str.strip()


# Read csv from GCS bucket

file_path = "gs://name_lists/name_variations.csv"
names = pd.read_csv(file_path,
                 sep=",",
                 storage_options={"token": '/Users/veesheenyuen/Desktop/DataScience/Keys/saa-analytics-7c8937b70609.json'})

# Iterate over dataframe and replace names

for index, row in names.iterrows():
        
    df['NAME'] = df['NAME'].replace(regex=rf"{row['VARIATION']}", value=f"{row['NAME']}")

In [59]:
df[df['NAME']=='SOH RUI YONG GUILLAUME']

,NAME,SEED,RESULT,TEAM,AGE,COMPETITION_RANK,EVENT_x,UNIQUE_ID,DOB,NATIONALITY,...,3.5%,5%,RESULT_CONV,SEED_CONV,RESULT_BEST,Delta2,Delta3.5,Delta5,Delta_Benchmark,PERF_SCALAR
25992,SOH RUI YONG GUILLAUME,None,1:09:28,None,None,38,Half Marathon,None,6-Aug-91,SGP,...,NaN,NaN,4168.0,4168.0,4168.0,NaN,NaN,NaN,NaN,NaN
25993,SOH RUI YONG GUILLAUME,None,15:08,None,None,46,"5km, Road",None,6-Aug-91,SGP,...,NaN,NaN,4168.0,4168.0,4168.0,NaN,NaN,NaN,NaN,NaN
25994,SOH RUI YONG GUILLAUME,None,08:35.8,None,None,12,3000m,None,6-Aug-91,SGP,...,NaN,NaN,515.8,515.8,515.8,NaN,NaN,NaN,NaN,NaN
25995,SOH RUI YONG GUILLAUME,None,32:03:00,None,None,2,"10km, Road",None,6-Aug-91,SGP,...,NaN,NaN,115380.0,115380.0,115380.0,NaN,NaN,NaN,NaN,NaN
25996,SOH RUI YONG GUILLAUME,None,15:06.1,None,None,12,5000m,None,6-Aug-91,SGP,...,914.319,927.57,906.1,906.1,906.1,-5.032,8.219,21.47,-22.7,2.430383
26054,SOH RUI YONG GUILLAUME,None,2:24:07,None,None,41,Marathon,None,6-Aug-91,SGP,...,NaN,NaN,8647.0,8647.0,8647.0,NaN,NaN,NaN,NaN,NaN
26126,SOH RUI YONG GUILLAUME,None,2:27:31,None,None,37,Marathon,None,6-Aug-91,SGP,...,NaN,NaN,8851.0,8851.0,8851.0,NaN,NaN,NaN,NaN,NaN
26206,SOH RUI YONG GUILLAUME,None,1:08:57,None,None,178,Half Marathon,None,6-Aug-91,SGP,...,NaN,NaN,4137.0,4137.0,4137.0,NaN,NaN,NaN,NaN,NaN
26721,SOH RUI YONG GUILLAUME,None,31:11.4,INDIVIDUAL,33,133,10000m,None,1991,SGP,...,NaN,NaN,1871.4,1871.4,1871.4,NaN,NaN,NaN,NaN,NaN
26722,SOH RUI YONG GUILLAUME,None,04:59.3,INDIVIDUAL,33,12,1 mile,None,1991,SGP,...,NaN,NaN,299.3,299.3,299.3,NaN,NaN,NaN,NaN,NaN
26723,SOH RUI YONG GUILLAUME,None,15:07.7,INDIVIDUAL,33,46,5000m,None,1991,SGP,...,914.319,927.57,907.7,907.7,907.7,6.632,-6.619,-19.87,24.3,-2.249264
26724,SOH RUI YONG GUILLAUME,None,08:35.8,INDIVIDUAL,33,None,3000m,None,1991,SGP,...,NaN,NaN,515.8,515.8,515.8,NaN,NaN,NaN,NaN,NaN

In [60]:
# Exclude foreigners from MALAYSIA, THAILAND etc.

df_select = df[(df['TEAM']!='Malaysia') & (df['TEAM']!='THAILAND') & (df['TEAM']!='China') & (df['TEAM']!='South Korea') & (df['TEAM']!='Laos') & (df['TEAM']!='Philippines') & (df['TEAM']!='Piboonbumpen Thailand') & (df['TEAM']!='Chinese Taipei') & (df['TEAM']!='Gurkha Contingent') & (df['TEAM']!='Australia') & (df['TEAM']!='Piboonbumpen Thailand') & (df['TEAM']!='Hong Kong') & (df['TEAM']!='PERAK')]

In [61]:
df_select

,NAME,SEED,RESULT,TEAM,AGE,COMPETITION_RANK,EVENT_x,UNIQUE_ID,DOB,NATIONALITY,...,3.5%,5%,RESULT_CONV,SEED_CONV,RESULT_BEST,Delta2,Delta3.5,Delta5,Delta_Benchmark,PERF_SCALAR
0,"Phuak, Shiyun Hazel",,05:23.4,Club ZOOM,9,10,Run,nan,18/7/15,nan,...,NaN,NaN,323.4,323.4,323.40,NaN,NaN,NaN,NaN,NaN
1,"Sumandran, Esther",,04:18.7,Club ZOOM,9,4,Run,nan,30/8/15,nan,...,NaN,NaN,258.7,258.7,258.70,NaN,NaN,NaN,NaN,NaN
2,"Tei, Avery",,DNS,Club ZOOM,9,0,Run,nan,25/8/15,nan,...,NaN,NaN,258.7,258.7,258.70,NaN,NaN,NaN,NaN,NaN
3,"Tee, Ena",,04:30.7,JS Athletics,9,6,Run,nan,30/3/15,nan,...,NaN,NaN,270.7,270.7,270.70,NaN,NaN,NaN,NaN,NaN
4,"Pistore, Viola",,04:31.3,JS Athletics,9,7,Run,nan,26/8/15,nan,...,NaN,NaN,271.3,271.3,271.30,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28047,FUN LE CONG LUCAS,,15.35,Singapore,18,1,Hurdles,,1/11/06,,...,NaN,NaN,15.35,15.35,15.35,NaN,NaN,NaN,NaN,NaN
28048,"TAN, DARYL HONG AN",,7.16,Singapore,23,1,Dash,,18/12/01,,...,NaN,NaN,7.16,7.16,7.16,NaN,NaN,NaN,NaN,NaN
28049,"HENG, BRANDON",,NH,Singapore,26,0,High Jump,,13/12/98,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28050,"Toh Jun Xi, Tedd",,6.55m,Singapore,0,1,Long Jump,,nan,,...,NaN,NaN,6.55,6.55,6.55,NaN,NaN,NaN,NaN,NaN
28051,CHEW YIU TSE JADE,,5.02m,Singapore,20,1,Long Jump,,14/1/04,,...,NaN,NaN,5.02,5.02,5.02,NaN,NaN,NaN,NaN,NaN

In [62]:
df[df['NAME']=='SOH RUI YONG GUILLAUME']

,NAME,SEED,RESULT,TEAM,AGE,COMPETITION_RANK,EVENT_x,UNIQUE_ID,DOB,NATIONALITY,...,3.5%,5%,RESULT_CONV,SEED_CONV,RESULT_BEST,Delta2,Delta3.5,Delta5,Delta_Benchmark,PERF_SCALAR
25992,SOH RUI YONG GUILLAUME,None,1:09:28,None,None,38,Half Marathon,None,6-Aug-91,SGP,...,NaN,NaN,4168.0,4168.0,4168.0,NaN,NaN,NaN,NaN,NaN
25993,SOH RUI YONG GUILLAUME,None,15:08,None,None,46,"5km, Road",None,6-Aug-91,SGP,...,NaN,NaN,4168.0,4168.0,4168.0,NaN,NaN,NaN,NaN,NaN
25994,SOH RUI YONG GUILLAUME,None,08:35.8,None,None,12,3000m,None,6-Aug-91,SGP,...,NaN,NaN,515.8,515.8,515.8,NaN,NaN,NaN,NaN,NaN
25995,SOH RUI YONG GUILLAUME,None,32:03:00,None,None,2,"10km, Road",None,6-Aug-91,SGP,...,NaN,NaN,115380.0,115380.0,115380.0,NaN,NaN,NaN,NaN,NaN
25996,SOH RUI YONG GUILLAUME,None,15:06.1,None,None,12,5000m,None,6-Aug-91,SGP,...,914.319,927.57,906.1,906.1,906.1,-5.032,8.219,21.47,-22.7,2.430383
26054,SOH RUI YONG GUILLAUME,None,2:24:07,None,None,41,Marathon,None,6-Aug-91,SGP,...,NaN,NaN,8647.0,8647.0,8647.0,NaN,NaN,NaN,NaN,NaN
26126,SOH RUI YONG GUILLAUME,None,2:27:31,None,None,37,Marathon,None,6-Aug-91,SGP,...,NaN,NaN,8851.0,8851.0,8851.0,NaN,NaN,NaN,NaN,NaN
26206,SOH RUI YONG GUILLAUME,None,1:08:57,None,None,178,Half Marathon,None,6-Aug-91,SGP,...,NaN,NaN,4137.0,4137.0,4137.0,NaN,NaN,NaN,NaN,NaN
26721,SOH RUI YONG GUILLAUME,None,31:11.4,INDIVIDUAL,33,133,10000m,None,1991,SGP,...,NaN,NaN,1871.4,1871.4,1871.4,NaN,NaN,NaN,NaN,NaN
26722,SOH RUI YONG GUILLAUME,None,04:59.3,INDIVIDUAL,33,12,1 mile,None,1991,SGP,...,NaN,NaN,299.3,299.3,299.3,NaN,NaN,NaN,NaN,NaN
26723,SOH RUI YONG GUILLAUME,None,15:07.7,INDIVIDUAL,33,46,5000m,None,1991,SGP,...,914.319,927.57,907.7,907.7,907.7,6.632,-6.619,-19.87,24.3,-2.249264
26724,SOH RUI YONG GUILLAUME,None,08:35.8,INDIVIDUAL,33,None,3000m,None,1991,SGP,...,NaN,NaN,515.8,515.8,515.8,NaN,NaN,NaN,NaN,NaN

In [63]:
df_select[(df_select['NAME']=='Tan, Kian Ye') & (df_select['MAPPED_EVENT']=='200m')]

Empty DataFrame
Columns: [NAME, SEED, RESULT, TEAM, AGE, COMPETITION_RANK, EVENT_x, UNIQUE_ID, DOB, NATIONALITY, WIND, CATEGORY_EVENT, GENDER, COMPETITION, YEAR, REGION, MAPPED_EVENT, BENCHMARK, EVENT_y, Metric, 2%, 3.5%, 5%, RESULT_CONV, SEED_CONV, RESULT_BEST, Delta2, Delta3.5, Delta5, Delta_Benchmark, PERF_SCALAR]
Index: []

[0 rows x 31 columns]

In [64]:
# Remove spurious SEED results 

#df_select=df_select[~((df_select['NAME']=='Tan, Kian Ye') & (df_select['MAPPED_EVENT']=='200m'))]
#df_select=df_select[~((df_select['NAME']=='LOH, BEAVERLY') & (df_select['MAPPED_EVENT']=='400m'))]
#df_select=df_select[~((df_select['NAME']=='Vaz, Luisa Marie') & (df_select['MAPPED_EVENT']=='High jump'))]

In [65]:
df_select

,NAME,SEED,RESULT,TEAM,AGE,COMPETITION_RANK,EVENT_x,UNIQUE_ID,DOB,NATIONALITY,...,3.5%,5%,RESULT_CONV,SEED_CONV,RESULT_BEST,Delta2,Delta3.5,Delta5,Delta_Benchmark,PERF_SCALAR
0,"Phuak, Shiyun Hazel",,05:23.4,Club ZOOM,9,10,Run,nan,18/7/15,nan,...,NaN,NaN,323.4,323.4,323.40,NaN,NaN,NaN,NaN,NaN
1,"Sumandran, Esther",,04:18.7,Club ZOOM,9,4,Run,nan,30/8/15,nan,...,NaN,NaN,258.7,258.7,258.70,NaN,NaN,NaN,NaN,NaN
2,"Tei, Avery",,DNS,Club ZOOM,9,0,Run,nan,25/8/15,nan,...,NaN,NaN,258.7,258.7,258.70,NaN,NaN,NaN,NaN,NaN
3,"Tee, Ena",,04:30.7,JS Athletics,9,6,Run,nan,30/3/15,nan,...,NaN,NaN,270.7,270.7,270.70,NaN,NaN,NaN,NaN,NaN
4,"Pistore, Viola",,04:31.3,JS Athletics,9,7,Run,nan,26/8/15,nan,...,NaN,NaN,271.3,271.3,271.30,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28047,FUN LE CONG LUCAS,,15.35,Singapore,18,1,Hurdles,,1/11/06,,...,NaN,NaN,15.35,15.35,15.35,NaN,NaN,NaN,NaN,NaN
28048,"TAN, DARYL HONG AN",,7.16,Singapore,23,1,Dash,,18/12/01,,...,NaN,NaN,7.16,7.16,7.16,NaN,NaN,NaN,NaN,NaN
28049,"HENG, BRANDON",,NH,Singapore,26,0,High Jump,,13/12/98,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28050,"Toh Jun Xi, Tedd",,6.55m,Singapore,0,1,Long Jump,,nan,,...,NaN,NaN,6.55,6.55,6.55,NaN,NaN,NaN,NaN,NaN
28051,CHEW YIU TSE JADE,,5.02m,Singapore,20,1,Long Jump,,14/1/04,,...,NaN,NaN,5.02,5.02,5.02,NaN,NaN,NaN,NaN,NaN

In [66]:
'''
# Read list of foreigners

foreigners = pd.read_csv('/Users/veesheenyuen/Desktop/DataScience/SAA/MM/List of Foreigners.csv', encoding='latin-1')
'''

"\n# Read list of foreigners\n\nforeigners = pd.read_csv('/Users/veesheenyuen/Desktop/DataScience/SAA/MM/List of Foreigners.csv', encoding='latin-1')\n"

In [67]:
# Read list of foreigners from GCS bucket

file_path = "gs://name_lists/List of Foreigners.csv"
foreigners = pd.read_csv(file_path,
                 sep=",",
                 encoding="unicode escape",
                 storage_options={"token": '/Users/veesheenyuen/Desktop/DataScience/Keys/saa-analytics-7c8937b70609.json'})

In [68]:
foreigners

       LAST_NAME         FIRST_NAME
0         Aaryan  Greuter Christoph
1      Akahodani           Takayuki
2        Apondar             Audric
3        Brooks                Ruby
4        Brouwer               Cees
..           ...                ...
236       ISMAIL  MUHAMMAD ZULFIQAR
237  Jayaganeson           Kirtisha
238          LIN            Yu Sian
239         King            Leonard
240          Koe                Ian

[241 rows x 2 columns]

In [69]:
foreigners['V1'] = foreigners['LAST_NAME']+' '+foreigners['FIRST_NAME']
foreigners['V2'] = foreigners['FIRST_NAME']+' '+foreigners['LAST_NAME']
foreigners['V3'] = foreigners['LAST_NAME']+', '+foreigners['FIRST_NAME']
foreigners['V4'] = foreigners['FIRST_NAME']+' '+foreigners['LAST_NAME']

for1 = foreigners['V1'].dropna().tolist()
for2 = foreigners['V2'].dropna().tolist()
for3 = foreigners['V3'].dropna().tolist()
for4 = foreigners['V4'].dropna().tolist()

foreign_list = for1+for2+for3+for4 

foreign_list_casefold=[s.casefold() for s in foreign_list]

exclusions = foreign_list_casefold

no_foreigners_list = df_select.loc[~df['NAME'].str.casefold().isin(exclusions)]  # ~ means NOT IN. DROP spex carded athletes

In [70]:
#rslt_df = df.loc[(df['RESULT_CONV'] < df['2pc']) & (df['AGE']<40) & (df['EVENT']!='Marathon')]

In [71]:
#rslt_df = df.loc[(((df['CATEGORY_EVENT']=='Jump')|(df['CATEGORY_EVENT']=='Throw'))&(df['RESULT_CONV'] >= df['5pc']) & (df['AGE']<40) & ((df['EVENT']!='Marathon')|(df['AGE']<60) & (df['EVENT']=='Marathon')))]

In [72]:
no_foreigners_list

,NAME,SEED,RESULT,TEAM,AGE,COMPETITION_RANK,EVENT_x,UNIQUE_ID,DOB,NATIONALITY,...,3.5%,5%,RESULT_CONV,SEED_CONV,RESULT_BEST,Delta2,Delta3.5,Delta5,Delta_Benchmark,PERF_SCALAR
0,"Phuak, Shiyun Hazel",,05:23.4,Club ZOOM,9,10,Run,nan,18/7/15,nan,...,NaN,NaN,323.4,323.4,323.40,NaN,NaN,NaN,NaN,NaN
1,"Sumandran, Esther",,04:18.7,Club ZOOM,9,4,Run,nan,30/8/15,nan,...,NaN,NaN,258.7,258.7,258.70,NaN,NaN,NaN,NaN,NaN
2,"Tei, Avery",,DNS,Club ZOOM,9,0,Run,nan,25/8/15,nan,...,NaN,NaN,258.7,258.7,258.70,NaN,NaN,NaN,NaN,NaN
3,"Tee, Ena",,04:30.7,JS Athletics,9,6,Run,nan,30/3/15,nan,...,NaN,NaN,270.7,270.7,270.70,NaN,NaN,NaN,NaN,NaN
4,"Pistore, Viola",,04:31.3,JS Athletics,9,7,Run,nan,26/8/15,nan,...,NaN,NaN,271.3,271.3,271.30,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28047,FUN LE CONG LUCAS,,15.35,Singapore,18,1,Hurdles,,1/11/06,,...,NaN,NaN,15.35,15.35,15.35,NaN,NaN,NaN,NaN,NaN
28048,"TAN, DARYL HONG AN",,7.16,Singapore,23,1,Dash,,18/12/01,,...,NaN,NaN,7.16,7.16,7.16,NaN,NaN,NaN,NaN,NaN
28049,"HENG, BRANDON",,NH,Singapore,26,0,High Jump,,13/12/98,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28050,"Toh Jun Xi, Tedd",,6.55m,Singapore,0,1,Long Jump,,nan,,...,NaN,NaN,6.55,6.55,6.55,NaN,NaN,NaN,NaN,NaN
28051,CHEW YIU TSE JADE,,5.02m,Singapore,20,1,Long Jump,,14/1/04,,...,NaN,NaN,5.02,5.02,5.02,NaN,NaN,NaN,NaN,NaN

In [73]:
# Choose the best performing event for each athlete

#top_performers_clean = excluded_list.sort_values(['NAME','PERF_SCALAR'],ascending=False).groupby('NAME').head(1) # Choose top performing event per NAME

In [74]:
# Choose the best result for each event participated by every athlete

top_performers_clean = no_foreigners_list.sort_values(['MAPPED_EVENT', 'NAME','PERF_SCALAR'],ascending=False).groupby(['MAPPED_EVENT', 'NAME']).head(1)

In [75]:
top_performers_clean.reset_index(inplace=True)

In [76]:
top_performers_clean.to_csv('top_performers_clean_prod.csv', encoding='utf-8')

In [77]:
top_performers_clean

,index,NAME,SEED,RESULT,TEAM,AGE,COMPETITION_RANK,EVENT_x,UNIQUE_ID,DOB,...,3.5%,5%,RESULT_CONV,SEED_CONV,RESULT_BEST,Delta2,Delta3.5,Delta5,Delta_Benchmark,PERF_SCALAR
0,4672,"yeo, husni",,10.09m,Singapore Polytechnic,19,17,Triple Jump,H132F05,1/2/05,...,NaN,NaN,10.09,10.09,10.09,NaN,NaN,NaN,NaN,NaN
1,13786,"ooi, chen si",,9.22m,Ngee Ann Polytechnic,18,9,Triple Jump,nan,30/10/06,...,NaN,NaN,9.22,9.22,9.22,NaN,NaN,NaN,NaN,NaN
2,14163,"kwan, Matthias",,DNS,Unattached,22,0,Triple Jump,nan,26/4/02,...,NaN,NaN,5.94,5.94,5.94,NaN,NaN,NaN,NaN,NaN
3,14106,"kapil, Arnav",,15.03m,WINGS ATHLETICS CLUB,21,1,Triple Jump,nan,25/8/03,...,NaN,NaN,15.03,15.03,15.03,NaN,NaN,NaN,NaN,NaN
4,7340,"chua, keira",,10.16m,Cedar Girls Secondary School,16,5,Triple Jump,nan,18/9/08,...,NaN,NaN,10.16,10.16,10.16,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12814,6576,"., Amri Muqtadar",,DNS,NJAC (MAS),20,0,Dash,nan,6/9/04,...,NaN,NaN,12.4,12.4,12.40,NaN,NaN,NaN,NaN,NaN
12815,5694,"., Aliya",,DNS,NJAC (MAS),10,0,Run,nan,30/3/14,...,NaN,NaN,121.8,121.8,121.80,NaN,NaN,NaN,NaN,NaN
12816,6349,"., Abby Ho",,15.56,North Vista,14,10,Dash,nan,1/1/10,...,NaN,NaN,15.56,15.56,15.56,NaN,NaN,NaN,NaN,NaN
12817,3529,"., AaLiyah",,02:50.4,Erovra Club,15,2,Run,nan,10/12/08,...,NaN,NaN,170.4,170.4,170.40,NaN,NaN,NaN,NaN,NaN
12818,27589,",",,02:31.8,EROVRA CLUB,nan,1,Sprint Medley,,nan,...,NaN,NaN,151.8,151.8,151.80,NaN,NaN,NaN,NaN,NaN

In [78]:
# Join 2024 best results for each event for each athlete

os.chdir('/Users/veesheenyuen/Desktop/DataScience/SAA/OCTC/2023/')


df_yoy = pd.read_csv("Best_results_2023.csv")

df_yoy['NAME'] = df_yoy['NAME'].str.replace('\xa0', '', regex=True)
df_yoy['NAME'] = df_yoy['NAME'].str.replace('[\x00-\x1f\x7f-\x9f]', '', regex=True)
df_yoy['NAME'] = df_yoy['NAME'].str.replace('\r', '', regex=True)
df_yoy['NAME'] = df_yoy['NAME'].str.replace('\n', '', regex=True)
df_yoy['NAME'] = df_yoy['NAME'].str.strip()

In [79]:
df_yoy

,EVENT,NAME,GENDER,TEAM,BEST_RESULT(2023)
0,100m,"CHUA, JOSHUA",Male,SINGAPORE,10.59
1,100m,"RAPHAEL, RYAN",Male,SINGAPORE,10.72
2,100m,"HO ANN HENG, XANDER",Male,NANYANG TECHNOLOGICAL UNI,10.73
3,100m,TATE TAN FUNG,Male,RI,10.74
4,100m,"TAN, DARYL",Male,SINGAPORE INSTITUTE OF TECHNOL,10.91
5,100m,"ONG, YING TAT",Male,VICTORIA JUNIOR COLLEGE,11.1
6,100m,"RYAN, PRAHARSH",Male,NANYANG TECHNOLOGICAL UNI,10.99
7,10000m,"LIM, JON",Male,NATIONAL UNIVERSITY SINGAPORE,NaN
8,110m hurdles,"CHONG, WEI GUAN",Male,NATIONAL UNIVERSITY OF SINGAPO,14.29
9,1500m,"SOUNDARARAJAH, JEEVANEESH",Male,INDIVIDUAL,04:06.5
10,1500m,"FAYIZ, MOHAMED HAJA",Male,Swift,04:10.5
11,1500m,"OSMAN, AMIR RUSYAIDI",Male,INDIVIDUAL,04:10.9
12,1500m,"NG, JING HENG",Male,SINGAPORE INSTITUTE OF MANAGEM,04:09.8
13,3000m steeplechase,"TAN, JONATHAN",Male,TEAMFABIAN,10:52.8
14,800m,ZUBIN PERCY MUNCHERJI,Male,Singapore,NaN
15,400m,"Lim, Joshua",Male,Brown University,48.94
16,400m hurdles,"QUEK, JUN JIE CALVIN",Male,Singapore,50.43
17,800m,SHAWN CHIA WEI EN,Male,Singapore,01:57.2
18,800m,", HARIHARAN",Male,TRACKSTAR ATHLETICS,01:57.6
19,800m,"JIE CONG JAYDEN, TAN",Male,TRACKSTAR ATHLETICS,01:59.6
20,800m,"LIM, OLIVER",Male,SINGAPORE,02:03.4
21,Decathlon,FUN LE CONG LUCAS,Male,Singapore,6277
22,Discus throw,"YEE, CHUN WAI, ERIC",Male,SINGAPORE,49.4
23,Half marathon,SOH RUI YONG GUILLAUME,Male,Singapore,1:06:45
24,Half marathon,"GOH, SHAUN",Male,Singapore,`
25,Half marathon,"YAN, ETHAN",Male,INDIVIDUAL,1:12:23
26,High jump,"HENG, BRANDON",Male,WINGS ATHLETICS CLUB,2.09
27,High jump,"PAK, ANDREW",Male,WINGS ATHLETICS CLUB,2.05
28,Javelin throw,WONG YIJIE LUCAS,Male,Singapore,60.82
29,Long jump,"MUN, IVAN",Male,TEAM CICADA TRACKERS,7.27
30,Long jump,"EMERY, CONRAD",Male,SINGAPORE,7.12
31,Marathon,NaN,Male,Individual,2:36:22
32,Marathon,"WONG, MELVIN",Male,Individual,2:36:27
33,Marathon,DANIEL LEOW SOON YE,Male,INDIVIDUAL,2:36:57
34,Marathon,"HIA, CALEB",Male,INDIVIDUAL,NaN
35,Pole vault,"LOW, JUN YU",Male,SINGAPORE,5.06
36,Triple jump,LEE GABRIEL JIN YI,Male,SINGAPORE,14.88m
37,Triple jump,"MEDINA, ANDREW GEORGE",Male,SINGAPORE,14.79
38,200m,HARRY IRFAN CURRAN,Male,SINGAPORE,22.62
39,200m,HUANG WEI JUN,Male,COUGAR ATHLETICS,22.36
40,100m hurdles,"ONG, KERSTIN",Female,Singapore,14.71
41,1500m,FAITH ZHEN FORD,Female,VJC,04:52.4
42,3000m steeplechase,"SAM, VANESSA",Female,Nanyang Technological Uni,12:23.0
43,3000m steeplechase,"LEE, VANESSA",Female,SINGAPORE,12:03.4
44,400m,"JAIGANTH, LAAVINIA",Female,Singapore Sports School,57.58
45,800m,"GOH, CHUI LING",Female,Singapore,02:07.8
46,Discus throw,"PHUA, JASMIN",Female,Individual,44.8
47,Heptathlon,"SYED AHMED RIADH, SHARIFAH FALISHA",Female,SINGAPORE SPORTS SCHOOL,2955
48,High jump,MICHELLE SNG,Female,Singapore,1.74
49,High jump,"CHONG LE XUAN, CHLOE",Female,DHS,1.56
50,Javelin throw,"FENG, HAN QI",Female,Hwa Chong Alumni Association,35.78
51,Long jump,"ROZARIO, TIA LOUISE",Female,PRINCETON,5.91
52,Long jump,CHLOE CHEE EN-YA,Female,SSSC,5.84
53,Marathon,Rachel See,Female,Individual,2:50:54
54,Pole vault,"TAY, ESTHER",Female,Hwa Chong Alumni Association,3.41
55,Shot put,"YEE, MELISSA",Female,WINGS ATHLETICS CLUB,12.01
56,100m,LIM YEE CHERN CLARA,Female,RI,12.49
57,Marathon,GOH SHING LING,Female,TEAMFABIAN,3:19:09
58,High jump,CHEW YIU TSE JADE,Female,SINGAPORE,1.5m
59,800m,ROMAINE SOH RUI MIN,Female,SINGAPORE,02:19.5

In [80]:
# Merge benchmarks onto athletes on MAPPED_EVENT and GENDER

yoy_performance = pd.merge(
    left=df_yoy, 
    right=top_performers_clean,
    how='left',
    left_on=['EVENT', 'GENDER', 'NAME'],
    right_on=['MAPPED_EVENT', 'GENDER', 'NAME'],
)

In [81]:
yoy_performance

,EVENT,NAME,GENDER,TEAM_x,BEST_RESULT(2023),index,SEED,RESULT,TEAM_y,AGE,...,3.5%,5%,RESULT_CONV,SEED_CONV,RESULT_BEST,Delta2,Delta3.5,Delta5,Delta_Benchmark,PERF_SCALAR
0,100m,"CHUA, JOSHUA",Male,SINGAPORE,10.59,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100m,"RAPHAEL, RYAN",Male,SINGAPORE,10.72,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100m,"HO ANN HENG, XANDER",Male,NANYANG TECHNOLOGICAL UNI,10.73,26467.0,None,10.91,None,None,...,11.55060,11.7180,10.91,10.91,10.91,0.4732,0.64060,0.8080,0.25,7.240143
3,100m,TATE TAN FUNG,Male,RI,10.74,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100m,"TAN, DARYL",Male,SINGAPORE INSTITUTE OF TECHNOL,10.91,26086.0,None,10.68,None,None,...,11.55060,11.7180,10.68,10.68,10.68,0.7032,0.87060,1.0380,0.48,9.301075
5,100m,"ONG, YING TAT",Male,VICTORIA JUNIOR COLLEGE,11.1,26605.0,None,10.68,None,None,...,11.55060,11.7180,10.68,10.68,10.68,0.7032,0.87060,1.0380,0.48,9.301075
6,100m,"RYAN, PRAHARSH",Male,NANYANG TECHNOLOGICAL UNI,10.99,26451.0,None,11.19,None,None,...,11.55060,11.7180,11.19,11.19,11.19,0.1932,0.36060,0.5280,-0.03,4.731183
7,10000m,"LIM, JON",Male,NATIONAL UNIVERSITY SINGAPORE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,110m hurdles,"CHONG, WEI GUAN",Male,NATIONAL UNIVERSITY OF SINGAPO,14.29,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1500m,"SOUNDARARAJAH, JEEVANEESH",Male,INDIVIDUAL,04:06.5,26731.0,None,4:13:02,INDIVIDUAL,31,...,247.77900,251.3700,15182.0,15182.0,15182.00,14937.8120,14934.22100,14930.6300,14942.60,6236.687552
10,1500m,"FAYIZ, MOHAMED HAJA",Male,Swift,04:10.5,26931.0,None,04:25.4,SINGAPORE,35,...,247.77900,251.3700,265.4,265.4,265.40,21.2120,17.62100,14.0300,26.00,5.860485
11,1500m,"OSMAN, AMIR RUSYAIDI",Male,INDIVIDUAL,04:10.9,26767.0,None,04:11.9,INDIVIDUAL,22,...,247.77900,251.3700,251.9,251.9,251.90,7.7120,4.12100,0.5300,12.50,0.221387
12,1500m,"NG, JING HENG",Male,SINGAPORE INSTITUTE OF MANAGEM,04:09.8,26491.0,None,04:06.2,None,None,...,364.11300,369.3900,246.2,246.2,246.20,112.6360,117.91300,123.1900,105.60,35.017055
13,3000m steeplechase,"TAN, JONATHAN",Male,TEAMFABIAN,10:52.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,800m,ZUBIN PERCY MUNCHERJI,Male,Singapore,NaN,26494.0,None,01:53.7,None,None,...,118.92150,120.6450,113.7,113.7,113.70,3.4980,5.22150,6.9450,1.20,6.044386
15,400m,"Lim, Joshua",Male,Brown University,48.94,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,400m hurdles,"QUEK, JUN JIE CALVIN",Male,Singapore,50.43,26018.0,None,53.19,None,None,...,NaN,NaN,53.19,53.19,53.19,NaN,NaN,NaN,NaN,NaN
17,800m,SHAWN CHIA WEI EN,Male,Singapore,01:57.2,26510.0,None,01:59.0,None,None,...,118.92150,120.6450,119.0,119.0,119.00,-1.8020,-0.07850,1.6450,-4.10,1.431680
18,800m,", HARIHARAN",Male,TRACKSTAR ATHLETICS,01:57.6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,800m,"JIE CONG JAYDEN, TAN",Male,TRACKSTAR ATHLETICS,01:59.6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,800m,"LIM, OLIVER",Male,SINGAPORE,02:03.4,27104.0,None,01:57.5,SINGAPORE,24,...,117.26550,118.9650,117.5,117.5,117.50,1.9340,0.23450,-1.4650,4.20,-1.293027
21,Decathlon,FUN LE CONG LUCAS,Male,Singapore,6277,25999.0,None,6431,None,None,...,7132.18500,7235.5500,6431.0,6431.0,6431.00,597.8200,701.18500,804.5500,460.00,11.675374
22,Discus throw,"YEE, CHUN WAI, ERIC",Male,SINGAPORE,49.4,4973.0,49.51m,48.20m,Hwa Chong Alumni Association,25,...,NaN,NaN,48.2,49.51,48.20,NaN,NaN,NaN,NaN,NaN
23,Half marathon,SOH RUI YONG GUILLAUME,Male,Singapore,1:06:45,25992.0,None,1:09:28,None,None,...,NaN,NaN,4168.0,4168.0,4168.00,NaN,NaN,NaN,NaN,NaN
24,Half marathon,"GOH, SHAUN",Male,Singapore,`,26207.0,None,1:07:30,None,None,...,NaN,NaN,4050.0,4050.0,4050.00,NaN,NaN,NaN,NaN,NaN
25,Half marathon,"YAN, ETHAN",Male,INDIVIDUAL,1:12:23,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,High jump,"HENG, BRANDON",Male,WINGS ATHLETICS CLUB,2.09,4683.0,2.05m,1.95m,Wings Athletics Club,26,...,NaN,NaN,1.95,2.05,1.95,NaN,NaN,NaN,NaN,NaN
27,High jump,"PAK, ANDREW",Male,WINGS ATHLETICS CLUB,2.05,10651.0,2.00m,DNS,Wings Athletics Club,22,...,NaN,NaN,9.08,2.0,9.08,NaN,NaN,NaN,NaN,NaN
28,Javelin throw,WONG YIJIE LUCAS,Male,Singapore,60.82,14059.0,,58.63m,Flash Athletics Club,20,...,NaN,NaN,58.63,58.63,58.63,NaN,NaN,NaN,NaN,NaN
29,Long jump,"MUN, IVAN",Male,TEAM CICADA TRACKERS,7.27,6862.0,,DNS,UNA,26,...,NaN,NaN,0.05,0.05,0.05,NaN,NaN,NaN,NaN,NaN
30,Long jump,"EMERY, CONRAD",Male,SINGAPORE,7.12,7615.0,,6.75m,Victoria Junior College,18,...,NaN,NaN,6.75,6.75,6.75,NaN,NaN,NaN,NaN,NaN
31,Marathon,NaN,Male,Individual,2:36:22,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Marathon,"WONG, MELVIN",Male,Individual,2:36:27,26702.0,None,2:46:31,INDIVIDUAL,41,...,NaN,NaN,9991.0,9991.0,9991.00,NaN,NaN,NaN,NaN,NaN
33,Marathon,DANIEL LEOW SOON YE,Male,INDIVIDUAL,2:36:57,26745.0,None,2:41:06,INDIVIDUAL,27,...,NaN,NaN,9666.0,9666.0,9666.00,NaN,NaN,NaN,NaN,NaN
34,Marathon,"HIA, CALEB",Male,INDIVIDUAL,NaN,26053.0,None,2:30:15,None,None,...,NaN,NaN,9015.0,9015.0,9015.00,NaN,NaN,NaN,NaN,NaN
35,Pole vault,"LOW, JUN YU",Male,SINGAPORE,5.06,4741.0,5.34m,5.20m,NUS,23,...,NaN,NaN,5.2,5.34,5.20,NaN,NaN,NaN,NaN,NaN
36,Triple jump,LEE GABRIEL JIN YI,Male,SINGAPORE,14.88m,4739.0,15.66m,15.67m,NUS,21,...,NaN,NaN,15.67,15.66,15.67,NaN,NaN,NaN,NaN,NaN
37,Triple jump,"MEDINA, ANDREW GEORGE",Male,SINGAPORE,14.79,11025.0,14.09m,DNS,NATIONAL UNIVERSITY SINGAPORE,22,...,NaN,NaN,14.63,14.09,14.63,NaN,NaN,NaN,NaN,NaN
38,200m,HARRY IRFAN CURRAN,Male,SINGAPORE,22.62,26668.0,None,21.59,None,None,...,22.19040,22.5120,21.59,21.59,21.59,0.2788,0.60040,0.9220,-0.15,4.300373
39,200m,HUANG WEI JUN,Male,COUGAR ATHLETICS,22.36,26656.0,None,21.64,None,None,...,22.19040,22.5120,21.64,21.64,21.64,0.2288,0.55040,0.8720,-0.20,4.067164
40,100m hurdles,"ONG, KERSTIN",Female,Singapore,14.71,25998.0,None,14.66,None,None,...,NaN,NaN,14.66,14.66,14.66,NaN,NaN,NaN,NaN,NaN
41,1500m,FAITH ZHEN FORD,Female,VJC,04:52.4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,3000m steeplechase,"SAM, VANESSA",Female,Nanyang Technological Uni,12:23.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,3000m steeplechase,"LEE, VANESSA",Female,SINGAPORE,12:03.4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,400m,"JAIGANTH, LAAVINIA",Female,Singapore Sports School,57.58,26957.0,None,01:03.7,SINGAPORE,18,...,55.72440,56.5320,63.7,63.7,63.70,8.7832,7.97560,7.1680,9.86,13.313522
45,800m,"GOH, CHUI LING",Female,Singapore,02:07.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Discus throw,"PHUA, JASMIN",Female,Individual,44.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Heptathlon,"SYED AHMED RIADH, SHARIFAH FALISHA",Female,SINGAPORE SPORTS SCHOOL,2955,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,High jump,MICHELLE SNG,Female,Singapore,1.74,4725.0,1.73m,1.66m,Hwa Chong Alumni Association,37,...,NaN,NaN,1.66,1.73,1.66,NaN,NaN,NaN,NaN,NaN
49,High jump,"CHONG LE XUAN, CHLOE",Female,DHS,1.56,10732.0,,1.50m,Dunman High School,18,...,NaN,NaN,1.5,1.5,1.50,NaN,NaN,NaN,NaN,NaN
50,Javelin throw,"FENG, HAN QI",Female,Hwa Chong Alumni Association,35.78,7189.0,34.55m,34.16m,SINGAPORE,18,...,NaN,NaN,34.16,34.55,34.16,NaN,NaN,NaN,NaN,NaN
51,Long jump,"ROZARIO, TIA LOUISE",Female,PRINCETON,5.91,4761.0,5.91m,5.71m,FAC,24,...,NaN,NaN,5.71,5.91,5.71,NaN,NaN,NaN,NaN,NaN
52,Long jump,CHLOE CHEE EN-YA,Female,SSSC,5.84,6844.0,,5.29m,Team Cicada,16,...,NaN,NaN,5.29,5.29,5.29,NaN,NaN,NaN,NaN,NaN
53,Marathon,Rachel See,Female,Individual,2:50:54,25978.0,None,3:00:45,None,None,...,NaN,NaN,10845.0,10845.0,10845.00,NaN,NaN,NaN,NaN,NaN
54,Pole vault,"TAY, ESTHER",Female,Hwa Chong Alumni Association,3.41,4728.0,,DNS,Hwa Chong Alumni Association,19,...,NaN,NaN,5.21,5.21,5.21,NaN,NaN,NaN,NaN,NaN
55,Shot put,"YEE, MELISSA",Female,WINGS ATHLETICS CLUB,12.01,11934.0,,11.28m,WINGS ATHLETICS CLUB,26,...,NaN,NaN,11.28,11.28,11.28,NaN,NaN,NaN,NaN,NaN
56,100m,LIM YEE CHERN CLARA,Female,RI,12.49,26848.0,None,12.95,SINGAPORE,17,...,12.09915,12.2745,12.95,12.95,12.95,1.0262,0.85085,0.6755,1.26,5.778443
57,Marathon,GOH SHING LING,Female,TEAMFABIAN,3:19:09,26127.0,None,2:55:35,None,None,...,NaN,NaN,10535.0,10535.0,10535.00,NaN,NaN,NaN,NaN,NaN
58,High jump,CHEW YIU TSE JADE,Female,SINGAPORE,1.5m,4743.0,1.65m,1.59m,NUS,20,...,NaN,NaN,1.59,1.65,1.59,NaN,NaN,NaN,NaN,NaN
59,800m,ROMAINE SOH RUI MIN,Female,SINGAPORE,02:19.5,26500.0,None,02:15.0,None,None,...,155.14650,157.3950,135.0,135.0,135.00,17.8980,20.14650,22.3950,14.90,14.939960

In [82]:
yoy_performance.to_csv('yoy_performance_prod.csv', index=False, encoding='utf-8')

In [83]:
tiered_performers = top_performers_clean.sort_values(['GENDER', 'MAPPED_EVENT', 'PERF_SCALAR'],ascending=False).groupby(['MAPPED_EVENT', 'NAME']).head(1)

In [84]:
tiered_performers

,index,NAME,SEED,RESULT,TEAM,AGE,COMPETITION_RANK,EVENT_x,UNIQUE_ID,DOB,...,3.5%,5%,RESULT_CONV,SEED_CONV,RESULT_BEST,Delta2,Delta3.5,Delta5,Delta_Benchmark,PERF_SCALAR
7073,27974,"{'884.0': 'Ahamed, Sahnazbegum Basheer', '749....",,52.82,Team Fabian,nan,1,Relay,,nan,...,NaN,NaN,52.82,52.82,52.82,NaN,NaN,NaN,NaN,NaN
7077,27968,"{'880.0': 'HEBER RUIZ , ARRATIA', '1716.0': '....",,01:11.4,Energetix Pte Ltd,nan,7,Relay,,nan,...,NaN,NaN,71.4,71.4,71.40,NaN,NaN,NaN,NaN,NaN
7082,27976,"{'871.0': 'Heng, Yu Xuan Sarah'}",,DNS,Erovra Club,nan,0,Relay,,nan,...,NaN,NaN,23.41,23.41,23.41,NaN,NaN,NaN,NaN,NaN
7100,27959,"{'845.0': 'Koh, Kok Siong', '1455.0': 'KOH, Dy...",,15.47,Unattached,nan,4,Relay,,nan,...,NaN,NaN,15.47,15.47,15.47,NaN,NaN,NaN,NaN,NaN
7101,28023,"{'845.0': 'Koh, Kok Siong', '1444.0': 'KOH, De...",,15.97,Unattached,nan,7,Relay,,nan,...,NaN,NaN,15.97,15.97,15.97,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12805,9152,"., Dharkshitha",,12:46.5,Cedar Girls Secondary School,14,5,Race Walk,nan,6/4/10,...,NaN,NaN,766.5,766.5,766.50,NaN,NaN,NaN,NaN,NaN
12815,5694,"., Aliya",,DNS,NJAC (MAS),10,0,Run,nan,30/3/14,...,NaN,NaN,121.8,121.8,121.80,NaN,NaN,NaN,NaN,NaN
12816,6349,"., Abby Ho",,15.56,North Vista,14,10,Dash,nan,1/1/10,...,NaN,NaN,15.56,15.56,15.56,NaN,NaN,NaN,NaN,NaN
12817,3529,"., AaLiyah",,02:50.4,Erovra Club,15,2,Run,nan,10/12/08,...,NaN,NaN,170.4,170.4,170.40,NaN,NaN,NaN,NaN,NaN
12818,27589,",",,02:31.8,EROVRA CLUB,nan,1,Sprint Medley,,nan,...,NaN,NaN,151.8,151.8,151.80,NaN,NaN,NaN,NaN,NaN

In [85]:
# Filter top 8 performances for each event and gender

#top_performers = top_performers_clean.sort_values(by=['MAPPED_EVENT', 'GENDER', 'PERF_SCALAR'],ascending=[False, False, False]).groupby(['GENDER', 'MAPPED_EVENT']).head(8).reset_index(drop=True)

In [86]:
# Convert time format for marathon and 5000m into mm:ss.00
import datetime

#s=247.779

#datetime.datetime.fromtimestamp(s).strftime('%M:%S.%f')

for i in range(len(top_performers_clean)):
        
    rowIndex = top_performers_clean.index[i]

    event=top_performers_clean.iloc[rowIndex,17]
        
    
    time_base2=top_performers_clean.iloc[rowIndex,21]
    time_base3=top_performers_clean.iloc[rowIndex,22]
    time_base5=top_performers_clean.iloc[rowIndex,23]
    
        
    if metric==None:
        continue
        
    if event=='800m' or event=='10000m' or event=='5000m' or event=='3000m steeplechase' or event=='1500m':
        
        print(time_base2, time_base3, time_base5)

        
        
        try:
            
        
            date_preconvert2 = datetime.datetime.utcfromtimestamp(time_base2)
            date_preconvert3 = datetime.datetime.utcfromtimestamp(time_base3)
            date_preconvert5 = datetime.datetime.utcfromtimestamp(time_base5)

            output2 = datetime.datetime.strftime(date_preconvert2, "%M:%S.%f")
            output3 = datetime.datetime.strftime(date_preconvert3, "%M:%S.%f")
            output5 = datetime.datetime.strftime(date_preconvert5, "%M:%S.%f")
            
            print(output2, output3, output5)

                    
            top_performers_clean.loc[rowIndex, '2%_timing'] = output2
            top_performers_clean.loc[rowIndex, '3.5%_timing'] = output3
            top_performers_clean.loc[rowIndex, '5%_timing'] = output5
            

            
        except:
            
            pass
        

        
    elif event=='Marathon':
        
        print(time_base2, time_base3, time_base5)

        
        try:
            

        
            date_preconvert2 = datetime.datetime.utcfromtimestamp(time_base2)
            date_preconvert3 = datetime.datetime.utcfromtimestamp(time_base3)
            date_preconvert5 = datetime.datetime.utcfromtimestamp(time_base5)

            
            
            output2 = datetime.datetime.strftime(date_preconvert2, "%H:%M:%S")
            output3 = datetime.datetime.strftime(date_preconvert3, "%H:%M:%S")
            output5 = datetime.datetime.strftime(date_preconvert5, "%H:%M:%S")

            
        
            top_performers_clean.loc[rowIndex, '2%_timing'] = output2
            top_performers_clean.loc[rowIndex, '3.5%_timing'] = output3
            top_performers_clean.loc[rowIndex, '5%_timing'] = output5
            
            print('output', output2, output3, output5)


        
        except:
            
            pass

nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
115.566 117.26549999999999 118.965
01:55.566000 01:57.265500 01:58.965000
131.784 133.72199999999998 135.66
02:11.784000 02:13.722000 02:15.660000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
115.566 117.26549999999999 118.965
01:55.566000 01:57.265500 01:58.965000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
115.566 117.26549999999999 118.965
01:55.566000 01:57.265500 01:58.965000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
115.566 117.26549999999999 118.965
01:55.566000 01:57.265500 01:58.965000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000

117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
115.566 117.26549999999999 118.965
01:55.566000 01:57.265500 01:58.965000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
115.566 117.26549999999999 118.965
01:55.566000 01:57.265500 01:58.965000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
131.784 133.72199999999998 135.66
02:11.784000 02:13.722000 02:15.660000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
115.566 117.26549999999999 118.965
01:55.566000 01:57.265500 01:58.965000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
131.784 133.72199999999998 135.66
02:11.784000 02:13.722000 02:15.660000
131.784 133.72199999999998 135.66
02:11.784000 02:13.722000 02:15.660000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
131.784 133.72199999999998 135.66
02:11.784000 02:13.722000 02:15.660000
131.784 133.72199999999998 135.66
02:11.784000 02:13.722000 02:15.660000
131.784 133.72199999999998 135.66
02:11.784000 02:13.722000 02:15.660000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
152.898 155.1465 157.395
02:32.898000 02:35.146500 02:37.395000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
117.19800000000001 118.9215 120.64500000000001
01:57.198000 01:58.921500 02:00.645000
115.566 117.26549999999999 118.965
01:55.566000 01:57.265500 01:58.965000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
1054.272 1069.7759999999998 1085.28
17:34.272000 17:49.776000 18:05.280000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
1054.272 1069.7759999999998 1085.28
17:34.272000 17:49.776000 18:05.280000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
1054.272 1069.7759999999998 1085.28
17:34.272000 17:49.776000 18:05.280000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
1054.272 1069.7759999999998 1085.28
17:34.272000 17:49.776000 18:05.280000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
901.068 914.319 927.57
15:01.068000 15:14.319000 15:27.570000
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
nan nan nan
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000

358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
244.18800000000002 247.779 251.37
04:04.188000 04:07.779000 04:11.370000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
244.18800000000002 247.779 251.37
04:04.188000 04:07.779000 04:11.370000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
244.18800000000002 247.779 251.37
04:04.188000 04:07.779000 04:11.370000
244.18800000000002 247.779 251.37
04:04.188000 04:07.779000 04:11.370000
244.18800000000002 247.779 251.37
04:04.188000 04:07.779000 04:11.370000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
244.18800000000002 247.779 251.37
04:04.188000 04:07.779000 04:11.370000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
244.18800000000002 247.779 251.37
04:04.188000 04:07.779000 04:11.370000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
271.62600000000003 275.6205 279.615
04:31.626000 04:35.620500 04:39.615000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000
358.836 364.113 369.39000000000004
05:58.836000 06:04.113000 06:09.390000

In [87]:
top_performers_clean

,index,NAME,SEED,RESULT,TEAM,AGE,COMPETITION_RANK,EVENT_x,UNIQUE_ID,DOB,...,SEED_CONV,RESULT_BEST,Delta2,Delta3.5,Delta5,Delta_Benchmark,PERF_SCALAR,2%_timing,3.5%_timing,5%_timing
0,4672,"yeo, husni",,10.09m,Singapore Polytechnic,19,17,Triple Jump,H132F05,1/2/05,...,10.09,10.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13786,"ooi, chen si",,9.22m,Ngee Ann Polytechnic,18,9,Triple Jump,nan,30/10/06,...,9.22,9.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14163,"kwan, Matthias",,DNS,Unattached,22,0,Triple Jump,nan,26/4/02,...,5.94,5.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,14106,"kapil, Arnav",,15.03m,WINGS ATHLETICS CLUB,21,1,Triple Jump,nan,25/8/03,...,15.03,15.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7340,"chua, keira",,10.16m,Cedar Girls Secondary School,16,5,Triple Jump,nan,18/9/08,...,10.16,10.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12814,6576,"., Amri Muqtadar",,DNS,NJAC (MAS),20,0,Dash,nan,6/9/04,...,12.4,12.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12815,5694,"., Aliya",,DNS,NJAC (MAS),10,0,Run,nan,30/3/14,...,121.8,121.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12816,6349,"., Abby Ho",,15.56,North Vista,14,10,Dash,nan,1/1/10,...,15.56,15.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12817,3529,"., AaLiyah",,02:50.4,Erovra Club,15,2,Run,nan,10/12/08,...,170.4,170.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12818,27589,",",,02:31.8,EROVRA CLUB,nan,1,Sprint Medley,,nan,...,151.8,151.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
# Identify Tier 1/2/3 performers

top_performers_clean['TIER'] = np.where((top_performers_clean['Delta_Benchmark']>=0), 'Tier 1',    
                                np.where(((top_performers_clean['Delta_Benchmark']<0) & (top_performers_clean['Delta2']>=0)), 'Tier2',
                                np.where(((top_performers_clean['Delta2']<0) & (top_performers_clean['Delta3.5']>=0)), 'Tier3', ' ')))

In [89]:
top_performers_clean

,index,NAME,SEED,RESULT,TEAM,AGE,COMPETITION_RANK,EVENT_x,UNIQUE_ID,DOB,...,RESULT_BEST,Delta2,Delta3.5,Delta5,Delta_Benchmark,PERF_SCALAR,2%_timing,3.5%_timing,5%_timing,TIER
0,4672,"yeo, husni",,10.09m,Singapore Polytechnic,19,17,Triple Jump,H132F05,1/2/05,...,10.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,13786,"ooi, chen si",,9.22m,Ngee Ann Polytechnic,18,9,Triple Jump,nan,30/10/06,...,9.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,14163,"kwan, Matthias",,DNS,Unattached,22,0,Triple Jump,nan,26/4/02,...,5.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,14106,"kapil, Arnav",,15.03m,WINGS ATHLETICS CLUB,21,1,Triple Jump,nan,25/8/03,...,15.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,7340,"chua, keira",,10.16m,Cedar Girls Secondary School,16,5,Triple Jump,nan,18/9/08,...,10.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12814,6576,"., Amri Muqtadar",,DNS,NJAC (MAS),20,0,Dash,nan,6/9/04,...,12.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
12815,5694,"., Aliya",,DNS,NJAC (MAS),10,0,Run,nan,30/3/14,...,121.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
12816,6349,"., Abby Ho",,15.56,North Vista,14,10,Dash,nan,1/1/10,...,15.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
12817,3529,"., AaLiyah",,02:50.4,Erovra Club,15,2,Run,nan,10/12/08,...,170.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
12818,27589,",",,02:31.8,EROVRA CLUB,nan,1,Sprint Medley,,nan,...,151.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [90]:
# Drop rows without a SEAG benchmark

final_df = top_performers_clean[top_performers_clean['BENCHMARK'].notna()]

In [91]:
final_df.to_csv('top_performers_tiered_prod.csv', encoding='utf-8')

In [2130]:
# Apply Rule 4 above...if an athlete is in more than one event, choose the best performing one


#top_performers_final = top_performers_sorted.sort_values(by=['MAPPED_EVENT', 'GENDER', 'PERF_SCALAR'], ascending=[False, False, False], na_position='last')

In [3934]:
# Apply Rule 3 & is within 5% performance band

octc_df = df_top.loc[(((df_top['CATEGORY_EVENT']=='Mid')|(df_top['CATEGORY_EVENT']=='Sprint')|(df_top['CATEGORY_EVENT']=='Long')|(df['CATEGORY_EVENT']=='Hurdles')|(df['CATEGORY_EVENT']=='Walk')|(df['CATEGORY_EVENT']=='Relay')|(df['CATEGORY_EVENT']=='Marathon')|(df_top['CATEGORY_EVENT']=='Steeple')|(df_top['CATEGORY_EVENT']=='Pentathlon')|(df_top['CATEGORY_EVENT']=='Heptathlon')|(df_top['CATEGORY_EVENT']=='Triathlon'))&(df_top['RESULT_CONV'] <= df_top['5%']) & (df_top['AGE']<40) & ((df_top['MAPPED_EVENT']!='Marathon')|(df_top['AGE']<60) & (df_top['MAPPED_EVENT']=='Marathon')))|(((df_top['CATEGORY_EVENT']=='Jump')|(df_top['CATEGORY_EVENT']=='Throw'))&(df_top['RESULT_CONV'] >= df_top['5%']) & (df_top['AGE']<40) & ((df_top['MAPPED_EVENT']!='Marathon')|(df_top['AGE']<60) & (df_top['MAPPED_EVENT']=='Marathon')))]

In [3935]:
octc_df

,NAME,RESULT,AGE,COMPETITION_RANK,EVENT_x,DOB,COUNTRY,CATEGORY_EVENT,GENDER,COMPETITION,...,EVENT_y,Metric,2%,3.5%,5%,RESULT_CONV,Delta2,Delta3.5,Delta5,PERF_SCALAR
0,"Ting Li King, Brandon",15.03m,21.0,1,Men Triple Jump Open,2002-01-09 00:00:00.000,None,Jump,Male,83rd Singapore Open Track & Field,...,Triple jump,15.70,15.386,15.15050,14.9150,15.03,-0.356,-0.12050,0.1150,0.732484
1,"ANURA, ANDRE",14.93m,24.0,2,Men Triple Jump Open,1999-06-12 00:00:00.000,None,Jump,Male,83rd Singapore Open Track & Field,...,Triple jump,15.70,15.386,15.15050,14.9150,14.93,-0.456,-0.22050,0.0150,0.095541
16,"CHEN, Yi Chu",16.87m,21.0,1,Men Shot Put Open,2002-10-31 00:00:00.000,None,Throw,Male,83rd Singapore Open Track & Field,...,Shot put,17.30,16.954,16.69450,16.4350,16.87,-0.084,0.17550,0.4350,2.514451
17,"RIGAN, JONAH CHANG",16.50m,20.0,2,Men Shot Put Open,2003-03-25 00:00:00.000,None,Throw,Male,83rd Singapore Open Track & Field,...,Shot put,17.30,16.954,16.69450,16.4350,16.50,-0.454,-0.19450,0.0650,0.375723
20,"Loh, Anson",15.71m,15.0,1,Men Shot Put U18,2008-04-28,None,Throw,Male,52nd SA Inter Club Championships 2023,...,Shot put,17.30,16.954,16.69450,16.4350,15.71,-1.244,-0.98450,-0.7250,-4.190751
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536,"PEREIRA, VERONICA SHANTI",11.43,27.0,1,Women 100 Meter Dash Open,1996-09-20 00:00:00.000,None,Sprint,Female,83rd Singapore Open Track & Field,...,100m,11.75,11.985,12.16125,12.3375,11.43,0.555,0.73125,0.9075,7.723404
537,"HU, Chia-Chen",11.57,26.0,2,Women 100 Meter Dash Open,1997-03-28 00:00:00.000,None,Sprint,Female,83rd Singapore Open Track & Field,...,100m,11.75,11.985,12.16125,12.3375,11.57,0.415,0.59125,0.7675,6.531915
540,"TAN, ELIZABETH-ANN",11.91,20.0,3,Women 100 Meter Dash Open,2003-09-23 00:00:00.000,None,Sprint,Female,83rd Singapore Open Track & Field,...,100m,11.75,11.985,12.16125,12.3375,11.91,0.075,0.25125,0.4275,3.638298
555,"Gurung, Subas",31:44.38,26.0,1,Men 10000 Meter Run Open,1997-10-22 00:00:00.000,None,Long,Male,SA Allcomers Meet 2,...,10000m,1885.55,1923.261,1951.54425,1979.8275,1904.38,18.881,47.16425,75.4475,4.001352
556,"Limbu, Bigyan",32:56.95,23.0,2,Men 10000 Meter Run Open,2000-01-10 00:00:00.000,None,Long,Male,SA Allcomers Meet 2,...,10000m,1885.55,1923.261,1951.54425,1979.8275,1976.95,-53.689,-25.40575,2.8775,0.152608

In [3936]:
octc_df

,NAME,RESULT,AGE,COMPETITION_RANK,EVENT_x,DOB,COUNTRY,CATEGORY_EVENT,GENDER,COMPETITION,...,EVENT_y,Metric,2%,3.5%,5%,RESULT_CONV,Delta2,Delta3.5,Delta5,PERF_SCALAR
0,"Ting Li King, Brandon",15.03m,21.0,1,Men Triple Jump Open,2002-01-09 00:00:00.000,None,Jump,Male,83rd Singapore Open Track & Field,...,Triple jump,15.70,15.386,15.15050,14.9150,15.03,-0.356,-0.12050,0.1150,0.732484
1,"ANURA, ANDRE",14.93m,24.0,2,Men Triple Jump Open,1999-06-12 00:00:00.000,None,Jump,Male,83rd Singapore Open Track & Field,...,Triple jump,15.70,15.386,15.15050,14.9150,14.93,-0.456,-0.22050,0.0150,0.095541
16,"CHEN, Yi Chu",16.87m,21.0,1,Men Shot Put Open,2002-10-31 00:00:00.000,None,Throw,Male,83rd Singapore Open Track & Field,...,Shot put,17.30,16.954,16.69450,16.4350,16.87,-0.084,0.17550,0.4350,2.514451
17,"RIGAN, JONAH CHANG",16.50m,20.0,2,Men Shot Put Open,2003-03-25 00:00:00.000,None,Throw,Male,83rd Singapore Open Track & Field,...,Shot put,17.30,16.954,16.69450,16.4350,16.50,-0.454,-0.19450,0.0650,0.375723
20,"Loh, Anson",15.71m,15.0,1,Men Shot Put U18,2008-04-28,None,Throw,Male,52nd SA Inter Club Championships 2023,...,Shot put,17.30,16.954,16.69450,16.4350,15.71,-1.244,-0.98450,-0.7250,-4.190751
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536,"PEREIRA, VERONICA SHANTI",11.43,27.0,1,Women 100 Meter Dash Open,1996-09-20 00:00:00.000,None,Sprint,Female,83rd Singapore Open Track & Field,...,100m,11.75,11.985,12.16125,12.3375,11.43,0.555,0.73125,0.9075,7.723404
537,"HU, Chia-Chen",11.57,26.0,2,Women 100 Meter Dash Open,1997-03-28 00:00:00.000,None,Sprint,Female,83rd Singapore Open Track & Field,...,100m,11.75,11.985,12.16125,12.3375,11.57,0.415,0.59125,0.7675,6.531915
540,"TAN, ELIZABETH-ANN",11.91,20.0,3,Women 100 Meter Dash Open,2003-09-23 00:00:00.000,None,Sprint,Female,83rd Singapore Open Track & Field,...,100m,11.75,11.985,12.16125,12.3375,11.91,0.075,0.25125,0.4275,3.638298
555,"Gurung, Subas",31:44.38,26.0,1,Men 10000 Meter Run Open,1997-10-22 00:00:00.000,None,Long,Male,SA Allcomers Meet 2,...,10000m,1885.55,1923.261,1951.54425,1979.8275,1904.38,18.881,47.16425,75.4475,4.001352
556,"Limbu, Bigyan",32:56.95,23.0,2,Men 10000 Meter Run Open,2000-01-10 00:00:00.000,None,Long,Male,SA Allcomers Meet 2,...,10000m,1885.55,1923.261,1951.54425,1979.8275,1976.95,-53.689,-25.40575,2.8775,0.152608

In [1022]:
octc_df.to_csv('octc_df.csv', sep=',', encoding='utf-8-sig', index=False)

In [364]:
#rslt_df['Rank'] = (rslt_df.sort_values(by=['EVENT', 'GENDER', 'Delta35'], ascending=[False, False, True])['Delta35']
#                .rank(method='first', ascending=False)
#             )

# Download list of foreigners and spex carded athletes

In [365]:
#spex_list=pd.read_csv('/Users/veesheenyuen/Desktop/DataScience/SAA/SPEX_CARDED_LIST.csv', encoding='latin-1')

In [431]:
foreigners = pd.read_csv('/Users/veesheenyuen/Desktop/DataScience/SAA/MM/List of Foreigners.csv', encoding='latin-1')

In [367]:
#spex_list

,V1,V2,V3,V4,V5,Level
0,Goh Chui Ling,"Goh, Chui Ling",NaN,NaN,NaN,E3
1,Michelle Sng,"Sng, Michelle",NaN,NaN,NaN,E3
2,Quek Jun Jie Calvin,"Quek, Jun Jie Calvin","QUEK, CALVIN JUN JIE",NaN,NaN,E3
3,"SOH RUI YONG, GUILLAUME","Soh Rui Yong, Guillaume",NaN,NaN,NaN,E3
4,Aaron Justin tan wen jie,"Tan Wen Jie, Aaron Justin",NaN,NaN,NaN,E3P
5,DANIEL LEOW SOON YEE,"Yee, Daniel Leow Soon",NaN,NaN,NaN,E3P
6,Joshua Chua,"Chua, Joshua",NaN,NaN,NaN,E3P
7,NG ZHI RONG RYAN RAPHAEL,"Ng Zhi Rong, Ryan Raphael","Raphael, Ryan",NaN,NaN,E3P
8,Wenli Rachel,"Wenli, Rachel",NaN,NaN,NaN,E3P
9,Wong YaoHan Melvin,"Wong YaoHan, Melvin",NaN,NaN,NaN,E3P
10,XANDER HO ANN HENG,"Ho Ann Heng, Xander","HO, XANDER, ANN HENG",NaN,NaN,E3P
11,Veronica Shanti Pereira,"Pereira, Veronica Shanti",NaN,NaN,NaN,S1P
12,Ang Chen Xiang,"Ang, Chen Xiang",NaN,NaN,NaN,S2P
13,KAMPTON KAM,"Kam, Kampton",NaN,NaN,NaN,S3
14,MARC BRIAN LOUIS,MARC BRIAN LOUIS,"Louis, Marc Brian","Louis, Marc","Louis, Marc Brian Brian",S3
15,Mark Lee Ren,Mark Lee Ren,"Lee, Mark Ren",NaN,NaN,S3
16,Reuben Rainer Lee Siong En,"Lee Siong En, Reuben Rainer","LEE, REUBEN RAINER",NaN,NaN,S3
17,ELIZABETH-ANN TAN SHEE RU,"Tan Shee Ru, Elizabeth-Ann","TAN, ELIZABETH-ANN","TAN, ELIZABETH ANN SHEE R","TAN, SHEE RU, ELIZABETH-A",SP3P
18,Thiruben Thana Rajan,Thiruben Thana Rajan,NaN,NaN,NaN,SP3P
19,Bhavna Gopikrishna,Bhavna Gopikrishna,NaN,NaN,NaN,Y
20,Chloe Chee En-Ya,"Chee En-Ya, Chloe",NaN,NaN,NaN,Y
21,Conrad Kangli Emery,Conrad Kangli Emery,NaN,NaN,NaN,Y
22,Harry Irfan Curran,Harry Irfan Curran,"Irfan Curran, Harry",NaN,NaN,Y
23,Huang weijun,"Huang, WeiJun","Huang, Wei Jun",Huang Wei Jun,NaN,Y
24,Jayden tan,"Tan, Jayden","Jie Cong Jayden, Tan",NaN,NaN,Y
25,Koh Shun Yi Audrey,"Koh Shun Yi, Audrey",NaN,NaN,NaN,Y
26,LAAVINIA D/O JAIGANTH,LAAVINIA D/O JAIGANTH,NaN,NaN,NaN,Y
27,Lim Yee Chern Clara,"Lim Yee Chern, Clara",Clara Lim Yee Chern,NaN,NaN,Y
28,LOH DING RONG ANSON,"Loh Ding Rong, Anson",NaN,NaN,NaN,Y
29,ONG YING TAT,"Ong, Ying Tat",NaN,NaN,NaN,Y
30,SONG EN XU REAGAN,"Song En Xu, Reagan","Song, Reagan En Xu",NaN,NaN,Y
31,Subaraghav hari,Subaraghav hari,NaN,NaN,NaN,Y
32,Teh Ying Shan,"Teh, Ying Shan",NaN,NaN,NaN,Y
33,YAN TEO,"Teo, Yan",NaN,NaN,NaN,Y
34,ZHONG CHUHAN,"Zhong, ChuHan",Zhong Chu Han,"Zhong, Chu Han",NaN,Y
35,ESTHER TAY SHEE WEI,"Tay Shee Wei, Esther",NaN,NaN,NaN,Y+
36,Faith Ford,"Ford, Faith",NaN,NaN,NaN,Y+
37,Garrett Chua Je-An,"Chua Je-An, Garrett",NaN,NaN,NaN,Y+
38,Lucas Fun,"Fun, Lucas",NaN,NaN,NaN,Y+

In [432]:
foreigners

     LAST_NAME         FIRST_NAME  Unnamed: 2  Unnamed: 3  Unnamed: 4
0       Aaryan  Greuter Christoph         NaN         NaN         NaN
1    Akahodani           Takayuki         NaN         NaN         NaN
2      Apondar             Audric         NaN         NaN         NaN
3      Brooks                Ruby         NaN         NaN         NaN
4      Brouwer               Cees         NaN         NaN         NaN
..         ...                ...         ...         ...         ...
219        CHO         CHIA-HSUAN         NaN         NaN         NaN
220    NGUYEN            HOAI VAN         NaN         NaN         NaN
221    NGUYEN          QUOC THINH         NaN         NaN         NaN
222      PHAM         QUYNH GIANG         NaN         NaN         NaN
223     HOANG        THI ANH THUC         NaN         NaN         NaN

[224 rows x 5 columns]

In [433]:
foreigners['V1'] = foreigners['LAST_NAME']+' '+foreigners['FIRST_NAME']
foreigners['V2'] = foreigners['FIRST_NAME']+' '+foreigners['LAST_NAME']
foreigners['V3'] = foreigners['LAST_NAME']+', '+foreigners['FIRST_NAME']
foreigners['V4'] = foreigners['FIRST_NAME']+' '+foreigners['LAST_NAME']

In [434]:
foreigners

,LAST_NAME,FIRST_NAME,Unnamed: 2,Unnamed: 3,Unnamed: 4,V1,V2,V3,V4
0,Aaryan,Greuter Christoph,NaN,NaN,NaN,Aaryan Greuter Christoph,Greuter Christoph Aaryan,"Aaryan, Greuter Christoph",Greuter Christoph Aaryan
1,Akahodani,Takayuki,NaN,NaN,NaN,Akahodani Takayuki,Takayuki Akahodani,"Akahodani, Takayuki",Takayuki Akahodani
2,Apondar,Audric,NaN,NaN,NaN,Apondar Audric,Audric Apondar,"Apondar, Audric",Audric Apondar
3,Brooks,Ruby,NaN,NaN,NaN,Brooks Ruby,Ruby Brooks,"Brooks , Ruby",Ruby Brooks
4,Brouwer,Cees,NaN,NaN,NaN,Brouwer Cees,Cees Brouwer,"Brouwer, Cees",Cees Brouwer
...,...,...,...,...,...,...,...,...,...
219,CHO,CHIA-HSUAN,NaN,NaN,NaN,CHO CHIA-HSUAN,CHIA-HSUAN CHO,"CHO, CHIA-HSUAN",CHIA-HSUAN CHO
220,NGUYEN,HOAI VAN,NaN,NaN,NaN,NGUYEN HOAI VAN,HOAI VAN NGUYEN,"NGUYEN , HOAI VAN",HOAI VAN NGUYEN
221,NGUYEN,QUOC THINH,NaN,NaN,NaN,NGUYEN QUOC THINH,QUOC THINH NGUYEN,"NGUYEN , QUOC THINH",QUOC THINH NGUYEN
222,PHAM,QUYNH GIANG,NaN,NaN,NaN,PHAM QUYNH GIANG,QUYNH GIANG PHAM,"PHAM , QUYNH GIANG",QUYNH GIANG PHAM
223,HOANG,THI ANH THUC,NaN,NaN,NaN,HOANG THI ANH THUC,THI ANH THUC HOANG,"HOANG , THI ANH THUC",THI ANH THUC HOANG

In [371]:
#spex1 = spex_list['V1'].dropna().tolist()
#spex2 = spex_list['V2'].dropna().tolist()
#spex3 = spex_list['V3'].dropna().tolist()
#spex4 = spex_list['V4'].dropna().tolist()
#spex5 = spex_list['V5'].dropna().tolist()

In [435]:
for1 = foreigners['V1'].dropna().tolist()
for2 = foreigners['V2'].dropna().tolist()
for3 = foreigners['V3'].dropna().tolist()
for4 = foreigners['V4'].dropna().tolist()

In [373]:
#spex_athletes=spex1+spex2+spex3+spex4+spex5

In [436]:
foreign_list = for1+for2+for3+for4

In [437]:
#spex_athletes

In [438]:
foreign_list

['Aaryan Greuter Christoph',
 'Akahodani Takayuki',
 'Apondar Audric',
 'Brooks  Ruby',
 'Brouwer Cees',
 'CARLESATER ARMAAN',
 'Chary Mathangi ',
 'Cinthikael Angel',
 'Comia Tsang Hannah',
 'Comia Tsang Mhandy',
 'Donnelly Jordan ',
 'Dorai Trinity Sharilyn',
 'Freeman Alexander',
 'Gaume Constance',
 'Gregorio John Alexander',
 'HAGIWARA RYOTA ',
 'Indarto Gerard',
 'Joy Matthew',
 'JULURI ADITYA',
 'Kiet Tran',
 'Koduru Kalyani',
 'Kuchenbuch Natalya',
 'KUIJPERS KUIJPERS AYKO ELLIN',
 'Kumar Joseph Suraj',
 'KUPPUSAMY PRAKSHEETA',
 'Kusumo Naia',
 'Kuwalekar  Spruha ',
 'Lahey Kezia Stephanie ',
 'Liz Jerry',
 'Marican Raees Marican Bin Ayoob Marican',
 'MARIE BRUNO DE FERRIERES DE SAUVEBOEUF LOUIS ',
 'Maslov Timofei',
 'Masrezwan Maeva',
 'MENDOZA NICCOLO',
 'Mennella Leonardo',
 'Meyers Nikita Mae Jiny-Yu',
 'Mishra Sunay',
 'Mo Thant Cin',
 'Moon Daniel Youngjo',
 'OCAMPO ANIAG DWAYNE MICHAEL OCAMPO ANIAG',
 'Ortega Rafael Pedro',
 'Owen Elia',
 'owl emma',
 'Ozbudak Deniz',
 'Percival  Jonathan ',
 'PHILIP HOARE  JONATHAN',
 'PIERRAH YORI SATISH      ',
 'Premanandham Varshana ',
 'Reddy Manuj',
 'Roman Ethan',
 'ROUGELOT ROUGELOT CHRISTIAN',
 'SAVIOUR GILBERT DOMINIC',
 'SCOTT FIONA SCOTT HARRISON',
 'Shacklock Michael',
 'SIRAPHOP CHAIRATTIVECH',
 'Solaimuthu  Kausik',
 'Solana Leann',
 'Sriganeshakantha Shivesh',
 'Suma Dominique',
 'Sung Yejun',
 'Suyamprakasam Aswin',
 'TAYLOR  CONNOR',
 'TELUKULA SOURENDRA',
 'TJIPTO ISAAC',
 'TUHIN SANE  VIVAAN ',
 'Unni Avyukt',
 'Yanamandra  Ananya ',
 'Yogarajah Nikhilash',
 'Yovan Navitha',
 ' KIRAN SEBASTIAN JEHUNATHAN',
 'Aclag William Gonzales Gerard ',
 'Allender Daniel',
 'Almeda Ashley Ava',
 'Anesrif Yahn Alexander',
 'Back Peter James',
 'Broomfield James',
 'Broomfield Sofia',
 'Caitlin Pulmano',
 'Caleon Anna',
 'Camara Abel',
 'Caoile Pauline ',
 'Carlesater  Armaan',
 'Chairattivech Siraphop',
 'Charlotte Grosvenor Isabella',
 'GowreesonÂ\xa0  Nolan ',
 'GowreesonÂ\xa0  Lukesh ',
 'Gregorio Alexander Joseph',
 'Isaac Prabhu Joel Solomon',
 'Janus Jedd',
 'Konapur Ravindra Alekhya ',
 'Maala Branden',
 'Maier Stephanie',
 'Oyachi Yukiya',
 'PALKANNAN KAVIN',
 'PALKANNAN VIVEKA ',
 'PEACE LILY MAY ',
 'Perera Deshaka',
 'REINIERS BIANCA WILHELMINA',
 'Reyes Ariel',
 'Rocafort Sophia Alessandra Francisco',
 'Roman Ethan',
 'Ruelo Mart David',
 'SAVIOUR GILBERT DOMINIC',
 'Sawant  Mahika ',
 'Sawant  Rudra ',
 'Smith Bakari',
 'Smith Thomas',
 'Sofyan Emily Claire',
 'Toft Mitchell',
 'Umaymah Chikani',
 'van Schalkwyk  Anja ChuhengÂ\xa0 ',
 'Vanderput Conor',
 'Wijaya Mikail Emre',
 'Zool Ihsan Muhammad Reza',
 'FARAH SYAKIRA    AZIFSAFARIN ',
 ' NUR IZZATI ILIANA  SUHAIDI',
 'TAM SU YAN TAM',
 'KAAVIYA     MORGAN',
 'ONG JUN HAO ONG',
 'MUHAMMAD DANISH AKMAL  ABDUL KADIR',
 'KANISHKANN NATHAN',
 'AHMAD AMIR AIMAN  MD KAMARUDIN',
 'SHAWN ROSHAN SINGH SINGH',
 'SHREE RAM  RAMESH',
 'KUAN JYH YUNN KUAN',
 'MUHAMAD AZRIN  AZRIZAN',
 'KOGILAN RAMESH',
 'Inoue Naoki',
 'Nishi Yudai',
 'Kimura Ryo',
 'Inage Aoi',
 'Shimada Kaishin',
 'Nishi Tetsuro',
 'Mamada Kodai',
 'Tanaka Tenjiro',
 'Kanemoto Masaki',
 'Tsutsui Kosuke',
 'Sagi Mayako',
 'Yamakoshi Riko',
 'Okawa Sumika',
 'Naito Kano',
 ' Aclag William Gonzales Gerard ',
 'ARRIOLA CHRISTINE',
 'ARUNDHATI JOSEPH ANNETTE',
 'ASHOK REDDY KISHAANTH',
 'Brouwer Cees',
 'Caitlin Dragon',
 'CAMPBELL THANYA',
 'CARLESATER ARMAAN',
 'CHEVREZ CHEYENNE',
 'DORAI TRINITY SHARILYN',
 'Enuka Wanigaratna Upeck',
 'Eswaran Lavitran',
 'Gaume Constance',
 'GIPSON SARAH',
 'GOMES LEON',
 'Harris Mulyadi Emre Rizq Mika',
 'KHODYAT DECLAN ',
 'Kroll Max Yujin',
 'Kuchenbuch Natalya',
 'KUIJPERS KUIJPERS AYKO ELLIN',
 'KUSUMO NAIA',
 'Mackenzie Diveena',
 'Manega Rodney Philip',
 'MUKILAN ANAMITRA',
 'Ortega Samantha',
 'Owen Elia',
 'Ozbudak Deniz',
 'padhye  itisha',
 'PHILIP HOARE  JONATHAN',
 'PUJEDA ATHENA',
 'SCHMIDTKE AUDREY',
 'Shacklock Michael',
 'TEPLERTBOON NARUEDEE',
 'Torrubia Baeza  Adriana',
 'TWANG KATIE',
 'Yanamandra  Ananya ',
 'Znidaric Lucia',
 'SILINA PHA APHAY',
 'XAIDAVANH VONGSAVANH',
 'Nova Emilia',
 'Nova Emilia',
 'Nurhalizah Siti',
 'Nur Nirwani Novia',
 'Ndiken Silfanus',
 'Gebze Eventinus',
 'Gebze Eventinus',
 'Basik Basik Paustinus Obed',
 'Rumaikewi Mandala Putra',
 'Asyerem Mergina',
 'Asyerem Mergina',
 'Amjaram Vinsensia Awutet',
 'LEE HYUNJAE',
 'LEE MINJE',
 'LEE GAHUI',
 'KIM HANGYUL',
 'KIM SOEUN',
 'SHIN YUJIN',
 'GOOBINNAAN SURESH KUMAR',
 'Goh Kim Hong Maggie',
 'UBAS JANRY',
 'GROSPE LEONARD',
 'YUYAMADU Lakki',
 'POOLKERD Supanich',
 'POOLKERD Supanich',
 'NONTANAM Benny',
 'INTADIS Areerat',
 'INSAENG Subenrat',
 'WICHAIDIT Jiraya',
 'WEI TAI-SHENG',
 'LIN CHUNG-WEI',
 'CHEN JIAN-RONG',
 'WEN HUA-YU',
 'FU CHAO-HSUAN',
 'TSAI WEI-CHIH',
 'CHENG CHAO-TSUN',
 'HUANG SHIH-FENG',
 'CHO CHIA-HSUAN',
 'CHO CHIA-HSUAN',
 'NGUYEN  HOAI VAN',
 'NGUYEN  QUOC THINH',
 'PHAM  QUYNH GIANG',
 'HOANG  THI ANH THUC',
 'Greuter Christoph Aaryan',
 'Takayuki Akahodani',
 'Audric Apondar',
 'Ruby Brooks ',
 'Cees Brouwer',
 'ARMAAN CARLESATER',
 'Mathangi  Chary',
 'Angel Cinthikael',
 'Tsang Hannah Comia',
 'Tsang Mhandy Comia',
 'Jordan  Donnelly',
 'Trinity Sharilyn Dorai',
 'Alexander Freeman',
 'Constance Gaume',
 'John Alexander Gregorio',
 'RYOTA  HAGIWARA',
 'Gerard Indarto',
 'Matthew Joy',
 'ADITYA JULURI',
 'Tran Kiet',
 'Kalyani Koduru',
 'Natalya Kuchenbuch',
 'KUIJPERS AYKO ELLIN KUIJPERS',
 'Joseph Suraj Kumar',
 'PRAKSHEETA KUPPUSAMY',
 'Naia Kusumo',
 'Spruha  Kuwalekar ',
 'Kezia Stephanie  Lahey',
 'Jerry Liz',
 'Raees Marican Bin Ayoob Marican Marican',
 'LOUIS  MARIE BRUNO DE FERRIERES DE SAUVEBOEUF',
 'Timofei Maslov',
 'Maeva Masrezwan',
 'NICCOLO MENDOZA',
 'Leonardo Mennella',
 'Nikita Mae Jiny-Yu Meyers',
 'Sunay Mishra',
 'Thant Cin Mo',
 'Daniel Youngjo Moon',
 'DWAYNE MICHAEL OCAMPO ANIAG OCAMPO ANIAG',
 'Rafael Pedro Ortega',
 'Elia Owen',
 'emma owl',
 'Deniz Ozbudak',
 'Jonathan  Percival ',
 'JONATHAN PHILIP HOARE ',
 'YORI SATISH       PIERRAH',
 'Varshana  Premanandham',
 'Manuj Reddy',
 'Ethan Roman',
 'ROUGELOT CHRISTIAN ROUGELOT',
 'GILBERT DOMINIC SAVIOUR',
 'FIONA SCOTT HARRISON SCOTT',
 'Michael Shacklock',
 'CHAIRATTIVECH SIRAPHOP',
 'Kausik Solaimuthu ',
 'Leann Solana',
 'Shivesh Sriganeshakantha',
 'Dominique Suma',
 'Yejun Sung',
 'Aswin Suyamprakasam',
 'CONNOR TAYLOR ',
 'SOURENDRA TELUKULA',
 'ISAAC TJIPTO',
 ' VIVAAN  TUHIN SANE',
 'Avyukt Unni',
 'Ananya  Yanamandra ',
 'Nikhilash Yogarajah',
 'Navitha Yovan',
 'SEBASTIAN JEHUNATHAN  KIRAN',
 'Gerard  Aclag William Gonzales',
 'Daniel Allender',
 'Ashley Ava Almeda',
 'Yahn Alexander Anesrif',
 'Peter James Back',
 'James Broomfield',
 'Sofia Broomfield',
 'Pulmano Caitlin',
 'Anna Caleon',
 'Abel Camara',
 'Pauline  Caoile',
 'Armaan Carlesater ',
 'Siraphop Chairattivech',
 'Isabella Charlotte Grosvenor',
 'Nolan  GowreesonÂ\xa0 ',
 'Lukesh  GowreesonÂ\xa0 ',
 'Alexander Joseph Gregorio',
 'Joel Solomon Isaac Prabhu',
 'Jedd Janus',
 'Alekhya  Konapur Ravindra',
 'Branden Maala',
 'Stephanie Maier',
 'Yukiya Oyachi',
 'KAVIN PALKANNAN',
 'VIVEKA  PALKANNAN',
 'LILY MAY  PEACE',
 'Deshaka Perera',
 'BIANCA WILHELMINA REINIERS',
 'Ariel Reyes',
 'Sophia Alessandra Francisco Rocafort',
 'Ethan Roman',
 'Mart David Ruelo',
 'GILBERT DOMINIC SAVIOUR',
 'Mahika  Sawant ',
 'Rudra  Sawant ',
 'Bakari Smith',
 'Thomas Smith',
 'Emily Claire Sofyan',
 'Mitchell Toft',
 'Chikani Umaymah',
 'Anja ChuhengÂ\xa0  van Schalkwyk ',
 'Conor Vanderput',
 'Mikail Emre Wijaya',
 'Muhammad Reza Zool Ihsan',
 'AZIFSAFARIN  FARAH SYAKIRA   ',
 'SUHAIDI  NUR IZZATI ILIANA ',
 'TAM TAM SU YAN',
 ' MORGAN KAAVIYA   ',
 'ONG ONG JUN HAO',
 'ABDUL KADIR MUHAMMAD DANISH AKMAL ',
 'NATHAN KANISHKANN',
 'MD KAMARUDIN AHMAD AMIR AIMAN ',
 'SINGH SHAWN ROSHAN SINGH',
 'RAMESH SHREE RAM ',
 'KUAN KUAN JYH YUNN',
 'AZRIZAN MUHAMAD AZRIN ',
 'RAMESH KOGILAN',
 'Naoki Inoue',
 'Yudai Nishi',
 'Ryo Kimura',
 'Aoi Inage',
 'Kaishin Shimada',
 'Tetsuro Nishi',
 'Kodai Mamada',
 'Tenjiro Tanaka',
 'Masaki Kanemoto',
 'Kosuke Tsutsui',
 'Mayako Sagi',
 'Riko Yamakoshi',
 'Sumika Okawa',
 'Kano Naito',
 'Gerard   Aclag William Gonzales',
 'CHRISTINE ARRIOLA',
 'ANNETTE ARUNDHATI JOSEPH',
 'REDDY KISHAANTH ASHOK',
 'Cees Brouwer',
 'Dragon Caitlin',
 'THANYA CAMPBELL',
 'ARMAAN CARLESATER',
 'CHEYENNE CHEVREZ',
 'TRINITY SHARILYN DORAI',
 'Upeck Enuka Wanigaratna',
 'Lavitran Eswaran',
 'Constance Gaume',
 'SARAH GIPSON',
 'LEON GOMES',
 'Emre Rizq Mika Harris Mulyadi',
 'DECLAN  KHODYAT',
 'Max Yujin Kroll',
 'Natalya Kuchenbuch',
 'KUIJPERS AYKO ELLIN KUIJPERS',
 'NAIA KUSUMO',
 'Diveena Mackenzie',
 'Rodney Philip Manega',
 'ANAMITRA MUKILAN',
 'Samantha Ortega',
 'Elia Owen',
 'Deniz Ozbudak',
 'itisha padhye ',
 'JONATHAN PHILIP HOARE ',
 'ATHENA PUJEDA',
 'AUDREY SCHMIDTKE',
 'Michael Shacklock',
 'NARUEDEE TEPLERTBOON',
 'Adriana Torrubia Baeza ',
 'KATIE TWANG',
 'Ananya  Yanamandra ',
 'Lucia Znidaric',
 'PHA APHAY SILINA',
 'VONGSAVANH XAIDAVANH',
 'Emilia Nova',
 'Emilia Nova',
 'Siti Nurhalizah',
 'Novia Nur Nirwani',
 'Silfanus Ndiken',
 'Eventinus Gebze',
 'Eventinus Gebze',
 'Paustinus Obed Basik Basik',
 'Mandala Putra Rumaikewi',
 'Mergina Asyerem',
 'Mergina Asyerem',
 'Vinsensia Awutet Amjaram',
 'HYUNJAE LEE',
 'MINJE LEE',
 'GAHUI LEE',
 'HANGYUL KIM',
 'SOEUN KIM',
 'YUJIN SHIN',
 'SURESH KUMAR GOOBINNAAN',
 'Kim Hong Maggie Goh',
 'JANRY UBAS',
 'LEONARD GROSPE',
 'Lakki YUYAMADU',
 'Supanich POOLKERD',
 'Supanich POOLKERD',
 'Benny NONTANAM',
 'Areerat INTADIS',
 'Subenrat INSAENG',
 'Jiraya WICHAIDIT',
 'TAI-SHENG WEI',
 'CHUNG-WEI LIN',
 'JIAN-RONG CHEN',
 'HUA-YU WEN',
 'CHAO-HSUAN FU',
 'WEI-CHIH TSAI',
 'CHAO-TSUN CHENG',
 'SHIH-FENG HUANG',
 'CHIA-HSUAN CHO',
 'CHIA-HSUAN CHO',
 'HOAI VAN NGUYEN ',
 'QUOC THINH NGUYEN ',
 'QUYNH GIANG PHAM ',
 'THI ANH THUC HOANG ',
 'Aaryan, Greuter Christoph',
 'Akahodani, Takayuki',
 'Apondar, Audric',
 'Brooks , Ruby',
 'Brouwer, Cees',
 'CARLESATER, ARMAAN',
 'Chary, Mathangi ',
 'Cinthikael, Angel',
 'Comia, Tsang Hannah',
 'Comia, Tsang Mhandy',
 'Donnelly, Jordan ',
 'Dorai, Trinity Sharilyn',
 'Freeman, Alexander',
 'Gaume, Constance',
 'Gregorio, John Alexander',
 'HAGIWARA, RYOTA ',
 'Indarto, Gerard',
 'Joy, Matthew',
 'JULURI, ADITYA',
 'Kiet, Tran',
 'Koduru, Kalyani',
 'Kuchenbuch, Natalya',
 'KUIJPERS, KUIJPERS AYKO ELLIN',
 'Kumar, Joseph Suraj',
 'KUPPUSAMY, PRAKSHEETA',
 'Kusumo, Naia',
 'Kuwalekar , Spruha ',
 'Lahey, Kezia Stephanie ',
 'Liz, Jerry',
 'Marican, Raees Marican Bin Ayoob Marican',
 'MARIE BRUNO DE FERRIERES DE SAUVEBOEUF, LOUIS ',
 'Maslov, Timofei',
 'Masrezwan, Maeva',
 'MENDOZA, NICCOLO',
 'Mennella, Leonardo',
 'Meyers, Nikita Mae Jiny-Yu',
 'Mishra, Sunay',
 'Mo, Thant Cin',
 'Moon, Daniel Youngjo',
 'OCAMPO ANIAG, DWAYNE MICHAEL OCAMPO ANIAG',
 'Ortega, Rafael Pedro',
 'Owen, Elia',
 'owl, emma',
 'Ozbudak, Deniz',
 'Percival , Jonathan ',
 'PHILIP HOARE , JONATHAN',
 'PIERRAH, YORI SATISH      ',
 'Premanandham, Varshana ',
 'Reddy, Manuj',
 'Roman, Ethan',
 'ROUGELOT, ROUGELOT CHRISTIAN',
 'SAVIOUR, GILBERT DOMINIC',
 'SCOTT, FIONA SCOTT HARRISON',
 'Shacklock, Michael',
 'SIRAPHOP, CHAIRATTIVECH',
 'Solaimuthu , Kausik',
 'Solana, Leann',
 'Sriganeshakantha, Shivesh',
 'Suma, Dominique',
 'Sung, Yejun',
 'Suyamprakasam, Aswin',
 'TAYLOR , CONNOR',
 'TELUKULA, SOURENDRA',
 'TJIPTO, ISAAC',
 'TUHIN SANE,  VIVAAN ',
 'Unni, Avyukt',
 'Yanamandra , Ananya ',
 'Yogarajah, Nikhilash',
 'Yovan, Navitha',
 ' KIRAN, SEBASTIAN JEHUNATHAN',
 'Aclag William Gonzales, Gerard ',
 'Allender, Daniel',
 'Almeda, Ashley Ava',
 'Anesrif, Yahn Alexander',
 'Back, Peter James',
 'Broomfield, James',
 'Broomfield, Sofia',
 'Caitlin, Pulmano',
 'Caleon, Anna',
 'Camara, Abel',
 'Caoile, Pauline ',
 'Carlesater , Armaan',
 'Chairattivech, Siraphop',
 'Charlotte Grosvenor, Isabella',
 'GowreesonÂ\xa0 , Nolan ',
 'GowreesonÂ\xa0 , Lukesh ',
 'Gregorio, Alexander Joseph',
 'Isaac Prabhu, Joel Solomon',
 'Janus, Jedd',
 'Konapur Ravindra, Alekhya ',
 'Maala, Branden',
 'Maier, Stephanie',
 'Oyachi, Yukiya',
 'PALKANNAN, KAVIN',
 'PALKANNAN, VIVEKA ',
 'PEACE, LILY MAY ',
 'Perera, Deshaka',
 'REINIERS, BIANCA WILHELMINA',
 'Reyes, Ariel',
 'Rocafort, Sophia Alessandra Francisco',
 'Roman, Ethan',
 'Ruelo, Mart David',
 'SAVIOUR, GILBERT DOMINIC',
 'Sawant , Mahika ',
 'Sawant , Rudra ',
 'Smith, Bakari',
 'Smith, Thomas',
 'Sofyan, Emily Claire',
 'Toft, Mitchell',
 'Umaymah, Chikani',
 'van Schalkwyk , Anja ChuhengÂ\xa0 ',
 'Vanderput, Conor',
 'Wijaya, Mikail Emre',
 'Zool Ihsan, Muhammad Reza',
 'FARAH SYAKIRA   , AZIFSAFARIN ',
 ' NUR IZZATI ILIANA , SUHAIDI',
 'TAM SU YAN, TAM',
 'KAAVIYA   ,  MORGAN',
 'ONG JUN HAO, ONG',
 'MUHAMMAD DANISH AKMAL , ABDUL KADIR',
 'KANISHKANN, NATHAN',
 'AHMAD AMIR AIMAN , MD KAMARUDIN',
 'SHAWN ROSHAN SINGH, SINGH',
 'SHREE RAM , RAMESH',
 'KUAN JYH YUNN, KUAN',
 'MUHAMAD AZRIN , AZRIZAN',
 'KOGILAN, RAMESH',
 'Inoue, Naoki',
 'Nishi, Yudai',
 'Kimura, Ryo',
 'Inage, Aoi',
 'Shimada, Kaishin',
 'Nishi, Tetsuro',
 'Mamada, Kodai',
 'Tanaka, Tenjiro',
 'Kanemoto, Masaki',
 'Tsutsui, Kosuke',
 'Sagi, Mayako',
 'Yamakoshi, Riko',
 'Okawa, Sumika',
 'Naito, Kano',
 ' Aclag William Gonzales, Gerard ',
 'ARRIOLA, CHRISTINE',
 'ARUNDHATI JOSEPH, ANNETTE',
 'ASHOK, REDDY KISHAANTH',
 'Brouwer, Cees',
 'Caitlin, Dragon',
 'CAMPBELL, THANYA',
 'CARLESATER, ARMAAN',
 'CHEVREZ, CHEYENNE',
 'DORAI, TRINITY SHARILYN',
 'Enuka Wanigaratna, Upeck',
 'Eswaran, Lavitran',
 'Gaume, Constance',
 'GIPSON, SARAH',
 'GOMES, LEON',
 'Harris Mulyadi, Emre Rizq Mika',
 'KHODYAT, DECLAN ',
 'Kroll, Max Yujin',
 'Kuchenbuch, Natalya',
 'KUIJPERS, KUIJPERS AYKO ELLIN',
 'KUSUMO, NAIA',
 'Mackenzie, Diveena',
 'Manega, Rodney Philip',
 'MUKILAN, ANAMITRA',
 'Ortega, Samantha',
 'Owen, Elia',
 'Ozbudak, Deniz',
 'padhye , itisha',
 'PHILIP HOARE , JONATHAN',
 'PUJEDA, ATHENA',
 'SCHMIDTKE, AUDREY',
 'Shacklock, Michael',
 'TEPLERTBOON, NARUEDEE',
 'Torrubia Baeza , Adriana',
 'TWANG, KATIE',
 'Yanamandra , Ananya ',
 'Znidaric, Lucia',
 'SILINA, PHA APHAY',
 'XAIDAVANH, VONGSAVANH',
 'Nova, Emilia',
 'Nova, Emilia',
 'Nurhalizah, Siti',
 'Nur Nirwani, Novia',
 'Ndiken, Silfanus',
 'Gebze, Eventinus',
 'Gebze, Eventinus',
 'Basik Basik, Paustinus Obed',
 'Rumaikewi, Mandala Putra',
 'Asyerem, Mergina',
 'Asyerem, Mergina',
 'Amjaram, Vinsensia Awutet',
 'LEE, HYUNJAE',
 'LEE, MINJE',
 'LEE, GAHUI',
 'KIM, HANGYUL',
 'KIM, SOEUN',
 'SHIN, YUJIN',
 'GOOBINNAAN, SURESH KUMAR',
 'Goh, Kim Hong Maggie',
 'UBAS, JANRY',
 'GROSPE, LEONARD',
 'YUYAMADU, Lakki',
 'POOLKERD, Supanich',
 'POOLKERD, Supanich',
 'NONTANAM, Benny',
 'INTADIS, Areerat',
 'INSAENG, Subenrat',
 'WICHAIDIT, Jiraya',
 'WEI, TAI-SHENG',
 'LIN, CHUNG-WEI',
 'CHEN, JIAN-RONG',
 'WEN, HUA-YU',
 'FU, CHAO-HSUAN',
 'TSAI, WEI-CHIH',
 'CHENG, CHAO-TSUN',
 'HUANG, SHIH-FENG',
 'CHO, CHIA-HSUAN',
 'CHO, CHIA-HSUAN',
 'NGUYEN , HOAI VAN',
 'NGUYEN , QUOC THINH',
 'PHAM , QUYNH GIANG',
 'HOANG , THI ANH THUC',
 'Greuter Christoph Aaryan',
 'Takayuki Akahodani',
 'Audric Apondar',
 'Ruby Brooks ',
 'Cees Brouwer',
 'ARMAAN CARLESATER',
 'Mathangi  Chary',
 'Angel Cinthikael',
 'Tsang Hannah Comia',
 'Tsang Mhandy Comia',
 'Jordan  Donnelly',
 'Trinity Sharilyn Dorai',
 'Alexander Freeman',
 'Constance Gaume',
 'John Alexander Gregorio',
 'RYOTA  HAGIWARA',
 'Gerard Indarto',
 'Matthew Joy',
 'ADITYA JULURI',
 'Tran Kiet',
 'Kalyani Koduru',
 'Natalya Kuchenbuch',
 'KUIJPERS AYKO ELLIN KUIJPERS',
 'Joseph Suraj Kumar',
 'PRAKSHEETA KUPPUSAMY',
 'Naia Kusumo',
 'Spruha  Kuwalekar ',
 'Kezia Stephanie  Lahey',
 'Jerry Liz',
 'Raees Marican Bin Ayoob Marican Marican',
 'LOUIS  MARIE BRUNO DE FERRIERES DE SAUVEBOEUF',
 'Timofei Maslov',
 'Maeva Masrezwan',
 'NICCOLO MENDOZA',
 'Leonardo Mennella',
 'Nikita Mae Jiny-Yu Meyers',
 'Sunay Mishra',
 'Thant Cin Mo',
 'Daniel Youngjo Moon',
 'DWAYNE MICHAEL OCAMPO ANIAG OCAMPO ANIAG',
 'Rafael Pedro Ortega',
 'Elia Owen',
 'emma owl',
 'Deniz Ozbudak',
 'Jonathan  Percival ',
 'JONATHAN PHILIP HOARE ',
 'YORI SATISH       PIERRAH',
 'Varshana  Premanandham',
 'Manuj Reddy',
 'Ethan Roman',
 'ROUGELOT CHRISTIAN ROUGELOT',
 'GILBERT DOMINIC SAVIOUR',
 'FIONA SCOTT HARRISON SCOTT',
 'Michael Shacklock',
 'CHAIRATTIVECH SIRAPHOP',
 'Kausik Solaimuthu ',
 'Leann Solana',
 'Shivesh Sriganeshakantha',
 'Dominique Suma',
 'Yejun Sung',
 'Aswin Suyamprakasam',
 'CONNOR TAYLOR ',
 'SOURENDRA TELUKULA',
 'ISAAC TJIPTO',
 ' VIVAAN  TUHIN SANE',
 'Avyukt Unni',
 'Ananya  Yanamandra ',
 'Nikhilash Yogarajah',
 'Navitha Yovan',
 'SEBASTIAN JEHUNATHAN  KIRAN',
 'Gerard  Aclag William Gonzales',
 'Daniel Allender',
 'Ashley Ava Almeda',
 'Yahn Alexander Anesrif',
 'Peter James Back',
 'James Broomfield',
 'Sofia Broomfield',
 'Pulmano Caitlin',
 'Anna Caleon',
 'Abel Camara',
 'Pauline  Caoile',
 'Armaan Carlesater ',
 'Siraphop Chairattivech',
 'Isabella Charlotte Grosvenor',
 'Nolan  GowreesonÂ\xa0 ',
 'Lukesh  GowreesonÂ\xa0 ',
 'Alexander Joseph Gregorio',
 'Joel Solomon Isaac Prabhu',
 'Jedd Janus',
 'Alekhya  Konapur Ravindra',
 'Branden Maala',
 'Stephanie Maier',
 'Yukiya Oyachi',
 'KAVIN PALKANNAN',
 'VIVEKA  PALKANNAN',
 'LILY MAY  PEACE',
 'Deshaka Perera',
 'BIANCA WILHELMINA REINIERS',
 'Ariel Reyes',
 'Sophia Alessandra Francisco Rocafort',
 'Ethan Roman',
 'Mart David Ruelo',
 'GILBERT DOMINIC SAVIOUR',
 'Mahika  Sawant ',
 'Rudra  Sawant ',
 'Bakari Smith',
 'Thomas Smith',
 'Emily Claire Sofyan',
 'Mitchell Toft',
 'Chikani Umaymah',
 'Anja ChuhengÂ\xa0  van Schalkwyk ',
 'Conor Vanderput',
 'Mikail Emre Wijaya',
 'Muhammad Reza Zool Ihsan',
 'AZIFSAFARIN  FARAH SYAKIRA   ',
 'SUHAIDI  NUR IZZATI ILIANA ',
 'TAM TAM SU YAN',
 ' MORGAN KAAVIYA   ',
 'ONG ONG JUN HAO',
 'ABDUL KADIR MUHAMMAD DANISH AKMAL ',
 'NATHAN KANISHKANN',
 'MD KAMARUDIN AHMAD AMIR AIMAN ',
 'SINGH SHAWN ROSHAN SINGH',
 'RAMESH SHREE RAM ',
 'KUAN KUAN JYH YUNN',
 'AZRIZAN MUHAMAD AZRIN ',
 'RAMESH KOGILAN',
 'Naoki Inoue',
 'Yudai Nishi',
 'Ryo Kimura',
 'Aoi Inage',
 'Kaishin Shimada',
 'Tetsuro Nishi',
 'Kodai Mamada',
 'Tenjiro Tanaka',
 'Masaki Kanemoto',
 'Kosuke Tsutsui',
 'Mayako Sagi',
 'Riko Yamakoshi',
 'Sumika Okawa',
 'Kano Naito',
 'Gerard   Aclag William Gonzales',
 'CHRISTINE ARRIOLA',
 'ANNETTE ARUNDHATI JOSEPH',
 'REDDY KISHAANTH ASHOK',
 'Cees Brouwer',
 'Dragon Caitlin',
 'THANYA CAMPBELL',
 'ARMAAN CARLESATER',
 'CHEYENNE CHEVREZ',
 'TRINITY SHARILYN DORAI',
 'Upeck Enuka Wanigaratna',
 'Lavitran Eswaran',
 'Constance Gaume',
 'SARAH GIPSON',
 'LEON GOMES',
 'Emre Rizq Mika Harris Mulyadi',
 'DECLAN  KHODYAT',
 'Max Yujin Kroll',
 'Natalya Kuchenbuch',
 'KUIJPERS AYKO ELLIN KUIJPERS',
 'NAIA KUSUMO',
 'Diveena Mackenzie',
 'Rodney Philip Manega',
 'ANAMITRA MUKILAN',
 'Samantha Ortega',
 'Elia Owen',
 'Deniz Ozbudak',
 'itisha padhye ',
 'JONATHAN PHILIP HOARE ',
 'ATHENA PUJEDA',
 'AUDREY SCHMIDTKE',
 'Michael Shacklock',
 'NARUEDEE TEPLERTBOON',
 'Adriana Torrubia Baeza ',
 'KATIE TWANG',
 'Ananya  Yanamandra ',
 'Lucia Znidaric',
 'PHA APHAY SILINA',
 'VONGSAVANH XAIDAVANH',
 'Emilia Nova',
 'Emilia Nova',
 'Siti Nurhalizah',
 'Novia Nur Nirwani',
 'Silfanus Ndiken',
 'Eventinus Gebze',
 'Eventinus Gebze',
 'Paustinus Obed Basik Basik',
 'Mandala Putra Rumaikewi',
 'Mergina Asyerem',
 'Mergina Asyerem',
 'Vinsensia Awutet Amjaram',
 'HYUNJAE LEE',
 'MINJE LEE',
 'GAHUI LEE',
 'HANGYUL KIM',
 'SOEUN KIM',
 'YUJIN SHIN',
 'SURESH KUMAR GOOBINNAAN',
 'Kim Hong Maggie Goh',
 'JANRY UBAS',
 'LEONARD GROSPE',
 'Lakki YUYAMADU',
 'Supanich POOLKERD',
 'Supanich POOLKERD',
 'Benny NONTANAM',
 'Areerat INTADIS',
 'Subenrat INSAENG',
 'Jiraya WICHAIDIT',
 'TAI-SHENG WEI',
 'CHUNG-WEI LIN',
 'JIAN-RONG CHEN',
 'HUA-YU WEN',
 'CHAO-HSUAN FU',
 'WEI-CHIH TSAI',
 'CHAO-TSUN CHENG',
 'SHIH-FENG HUANG',
 'CHIA-HSUAN CHO',
 'CHIA-HSUAN CHO',
 'HOAI VAN NGUYEN ',
 'QUOC THINH NGUYEN ',
 'QUYNH GIANG PHAM ',
 'THI ANH THUC HOANG ']

In [439]:
#spex_athletes_casefold=[s.casefold() for s in spex_athletes]

In [440]:
foreign_list_casefold=[s.casefold() for s in foreign_list]

In [442]:
#spex_athletes_casefold

In [443]:
foreign_list_casefold

['aaryan greuter christoph',
 'akahodani takayuki',
 'apondar audric',
 'brooks  ruby',
 'brouwer cees',
 'carlesater armaan',
 'chary mathangi ',
 'cinthikael angel',
 'comia tsang hannah',
 'comia tsang mhandy',
 'donnelly jordan ',
 'dorai trinity sharilyn',
 'freeman alexander',
 'gaume constance',
 'gregorio john alexander',
 'hagiwara ryota ',
 'indarto gerard',
 'joy matthew',
 'juluri aditya',
 'kiet tran',
 'koduru kalyani',
 'kuchenbuch natalya',
 'kuijpers kuijpers ayko ellin',
 'kumar joseph suraj',
 'kuppusamy praksheeta',
 'kusumo naia',
 'kuwalekar  spruha ',
 'lahey kezia stephanie ',
 'liz jerry',
 'marican raees marican bin ayoob marican',
 'marie bruno de ferrieres de sauveboeuf louis ',
 'maslov timofei',
 'masrezwan maeva',
 'mendoza niccolo',
 'mennella leonardo',
 'meyers nikita mae jiny-yu',
 'mishra sunay',
 'mo thant cin',
 'moon daniel youngjo',
 'ocampo aniag dwayne michael ocampo aniag',
 'ortega rafael pedro',
 'owen elia',
 'owl emma',
 'ozbudak deniz',
 'percival  jonathan ',
 'philip hoare  jonathan',
 'pierrah yori satish      ',
 'premanandham varshana ',
 'reddy manuj',
 'roman ethan',
 'rougelot rougelot christian',
 'saviour gilbert dominic',
 'scott fiona scott harrison',
 'shacklock michael',
 'siraphop chairattivech',
 'solaimuthu  kausik',
 'solana leann',
 'sriganeshakantha shivesh',
 'suma dominique',
 'sung yejun',
 'suyamprakasam aswin',
 'taylor  connor',
 'telukula sourendra',
 'tjipto isaac',
 'tuhin sane  vivaan ',
 'unni avyukt',
 'yanamandra  ananya ',
 'yogarajah nikhilash',
 'yovan navitha',
 ' kiran sebastian jehunathan',
 'aclag william gonzales gerard ',
 'allender daniel',
 'almeda ashley ava',
 'anesrif yahn alexander',
 'back peter james',
 'broomfield james',
 'broomfield sofia',
 'caitlin pulmano',
 'caleon anna',
 'camara abel',
 'caoile pauline ',
 'carlesater  armaan',
 'chairattivech siraphop',
 'charlotte grosvenor isabella',
 'gowreesonâ\xa0  nolan ',
 'gowreesonâ\xa0  lukesh ',
 'gregorio alexander joseph',
 'isaac prabhu joel solomon',
 'janus jedd',
 'konapur ravindra alekhya ',
 'maala branden',
 'maier stephanie',
 'oyachi yukiya',
 'palkannan kavin',
 'palkannan viveka ',
 'peace lily may ',
 'perera deshaka',
 'reiniers bianca wilhelmina',
 'reyes ariel',
 'rocafort sophia alessandra francisco',
 'roman ethan',
 'ruelo mart david',
 'saviour gilbert dominic',
 'sawant  mahika ',
 'sawant  rudra ',
 'smith bakari',
 'smith thomas',
 'sofyan emily claire',
 'toft mitchell',
 'umaymah chikani',
 'van schalkwyk  anja chuhengâ\xa0 ',
 'vanderput conor',
 'wijaya mikail emre',
 'zool ihsan muhammad reza',
 'farah syakira    azifsafarin ',
 ' nur izzati iliana  suhaidi',
 'tam su yan tam',
 'kaaviya     morgan',
 'ong jun hao ong',
 'muhammad danish akmal  abdul kadir',
 'kanishkann nathan',
 'ahmad amir aiman  md kamarudin',
 'shawn roshan singh singh',
 'shree ram  ramesh',
 'kuan jyh yunn kuan',
 'muhamad azrin  azrizan',
 'kogilan ramesh',
 'inoue naoki',
 'nishi yudai',
 'kimura ryo',
 'inage aoi',
 'shimada kaishin',
 'nishi tetsuro',
 'mamada kodai',
 'tanaka tenjiro',
 'kanemoto masaki',
 'tsutsui kosuke',
 'sagi mayako',
 'yamakoshi riko',
 'okawa sumika',
 'naito kano',
 ' aclag william gonzales gerard ',
 'arriola christine',
 'arundhati joseph annette',
 'ashok reddy kishaanth',
 'brouwer cees',
 'caitlin dragon',
 'campbell thanya',
 'carlesater armaan',
 'chevrez cheyenne',
 'dorai trinity sharilyn',
 'enuka wanigaratna upeck',
 'eswaran lavitran',
 'gaume constance',
 'gipson sarah',
 'gomes leon',
 'harris mulyadi emre rizq mika',
 'khodyat declan ',
 'kroll max yujin',
 'kuchenbuch natalya',
 'kuijpers kuijpers ayko ellin',
 'kusumo naia',
 'mackenzie diveena',
 'manega rodney philip',
 'mukilan anamitra',
 'ortega samantha',
 'owen elia',
 'ozbudak deniz',
 'padhye  itisha',
 'philip hoare  jonathan',
 'pujeda athena',
 'schmidtke audrey',
 'shacklock michael',
 'teplertboon naruedee',
 'torrubia baeza  adriana',
 'twang katie',
 'yanamandra  ananya ',
 'znidaric lucia',
 'silina pha aphay',
 'xaidavanh vongsavanh',
 'nova emilia',
 'nova emilia',
 'nurhalizah siti',
 'nur nirwani novia',
 'ndiken silfanus',
 'gebze eventinus',
 'gebze eventinus',
 'basik basik paustinus obed',
 'rumaikewi mandala putra',
 'asyerem mergina',
 'asyerem mergina',
 'amjaram vinsensia awutet',
 'lee hyunjae',
 'lee minje',
 'lee gahui',
 'kim hangyul',
 'kim soeun',
 'shin yujin',
 'goobinnaan suresh kumar',
 'goh kim hong maggie',
 'ubas janry',
 'grospe leonard',
 'yuyamadu lakki',
 'poolkerd supanich',
 'poolkerd supanich',
 'nontanam benny',
 'intadis areerat',
 'insaeng subenrat',
 'wichaidit jiraya',
 'wei tai-sheng',
 'lin chung-wei',
 'chen jian-rong',
 'wen hua-yu',
 'fu chao-hsuan',
 'tsai wei-chih',
 'cheng chao-tsun',
 'huang shih-feng',
 'cho chia-hsuan',
 'cho chia-hsuan',
 'nguyen  hoai van',
 'nguyen  quoc thinh',
 'pham  quynh giang',
 'hoang  thi anh thuc',
 'greuter christoph aaryan',
 'takayuki akahodani',
 'audric apondar',
 'ruby brooks ',
 'cees brouwer',
 'armaan carlesater',
 'mathangi  chary',
 'angel cinthikael',
 'tsang hannah comia',
 'tsang mhandy comia',
 'jordan  donnelly',
 'trinity sharilyn dorai',
 'alexander freeman',
 'constance gaume',
 'john alexander gregorio',
 'ryota  hagiwara',
 'gerard indarto',
 'matthew joy',
 'aditya juluri',
 'tran kiet',
 'kalyani koduru',
 'natalya kuchenbuch',
 'kuijpers ayko ellin kuijpers',
 'joseph suraj kumar',
 'praksheeta kuppusamy',
 'naia kusumo',
 'spruha  kuwalekar ',
 'kezia stephanie  lahey',
 'jerry liz',
 'raees marican bin ayoob marican marican',
 'louis  marie bruno de ferrieres de sauveboeuf',
 'timofei maslov',
 'maeva masrezwan',
 'niccolo mendoza',
 'leonardo mennella',
 'nikita mae jiny-yu meyers',
 'sunay mishra',
 'thant cin mo',
 'daniel youngjo moon',
 'dwayne michael ocampo aniag ocampo aniag',
 'rafael pedro ortega',
 'elia owen',
 'emma owl',
 'deniz ozbudak',
 'jonathan  percival ',
 'jonathan philip hoare ',
 'yori satish       pierrah',
 'varshana  premanandham',
 'manuj reddy',
 'ethan roman',
 'rougelot christian rougelot',
 'gilbert dominic saviour',
 'fiona scott harrison scott',
 'michael shacklock',
 'chairattivech siraphop',
 'kausik solaimuthu ',
 'leann solana',
 'shivesh sriganeshakantha',
 'dominique suma',
 'yejun sung',
 'aswin suyamprakasam',
 'connor taylor ',
 'sourendra telukula',
 'isaac tjipto',
 ' vivaan  tuhin sane',
 'avyukt unni',
 'ananya  yanamandra ',
 'nikhilash yogarajah',
 'navitha yovan',
 'sebastian jehunathan  kiran',
 'gerard  aclag william gonzales',
 'daniel allender',
 'ashley ava almeda',
 'yahn alexander anesrif',
 'peter james back',
 'james broomfield',
 'sofia broomfield',
 'pulmano caitlin',
 'anna caleon',
 'abel camara',
 'pauline  caoile',
 'armaan carlesater ',
 'siraphop chairattivech',
 'isabella charlotte grosvenor',
 'nolan  gowreesonâ\xa0 ',
 'lukesh  gowreesonâ\xa0 ',
 'alexander joseph gregorio',
 'joel solomon isaac prabhu',
 'jedd janus',
 'alekhya  konapur ravindra',
 'branden maala',
 'stephanie maier',
 'yukiya oyachi',
 'kavin palkannan',
 'viveka  palkannan',
 'lily may  peace',
 'deshaka perera',
 'bianca wilhelmina reiniers',
 'ariel reyes',
 'sophia alessandra francisco rocafort',
 'ethan roman',
 'mart david ruelo',
 'gilbert dominic saviour',
 'mahika  sawant ',
 'rudra  sawant ',
 'bakari smith',
 'thomas smith',
 'emily claire sofyan',
 'mitchell toft',
 'chikani umaymah',
 'anja chuhengâ\xa0  van schalkwyk ',
 'conor vanderput',
 'mikail emre wijaya',
 'muhammad reza zool ihsan',
 'azifsafarin  farah syakira   ',
 'suhaidi  nur izzati iliana ',
 'tam tam su yan',
 ' morgan kaaviya   ',
 'ong ong jun hao',
 'abdul kadir muhammad danish akmal ',
 'nathan kanishkann',
 'md kamarudin ahmad amir aiman ',
 'singh shawn roshan singh',
 'ramesh shree ram ',
 'kuan kuan jyh yunn',
 'azrizan muhamad azrin ',
 'ramesh kogilan',
 'naoki inoue',
 'yudai nishi',
 'ryo kimura',
 'aoi inage',
 'kaishin shimada',
 'tetsuro nishi',
 'kodai mamada',
 'tenjiro tanaka',
 'masaki kanemoto',
 'kosuke tsutsui',
 'mayako sagi',
 'riko yamakoshi',
 'sumika okawa',
 'kano naito',
 'gerard   aclag william gonzales',
 'christine arriola',
 'annette arundhati joseph',
 'reddy kishaanth ashok',
 'cees brouwer',
 'dragon caitlin',
 'thanya campbell',
 'armaan carlesater',
 'cheyenne chevrez',
 'trinity sharilyn dorai',
 'upeck enuka wanigaratna',
 'lavitran eswaran',
 'constance gaume',
 'sarah gipson',
 'leon gomes',
 'emre rizq mika harris mulyadi',
 'declan  khodyat',
 'max yujin kroll',
 'natalya kuchenbuch',
 'kuijpers ayko ellin kuijpers',
 'naia kusumo',
 'diveena mackenzie',
 'rodney philip manega',
 'anamitra mukilan',
 'samantha ortega',
 'elia owen',
 'deniz ozbudak',
 'itisha padhye ',
 'jonathan philip hoare ',
 'athena pujeda',
 'audrey schmidtke',
 'michael shacklock',
 'naruedee teplertboon',
 'adriana torrubia baeza ',
 'katie twang',
 'ananya  yanamandra ',
 'lucia znidaric',
 'pha aphay silina',
 'vongsavanh xaidavanh',
 'emilia nova',
 'emilia nova',
 'siti nurhalizah',
 'novia nur nirwani',
 'silfanus ndiken',
 'eventinus gebze',
 'eventinus gebze',
 'paustinus obed basik basik',
 'mandala putra rumaikewi',
 'mergina asyerem',
 'mergina asyerem',
 'vinsensia awutet amjaram',
 'hyunjae lee',
 'minje lee',
 'gahui lee',
 'hangyul kim',
 'soeun kim',
 'yujin shin',
 'suresh kumar goobinnaan',
 'kim hong maggie goh',
 'janry ubas',
 'leonard grospe',
 'lakki yuyamadu',
 'supanich poolkerd',
 'supanich poolkerd',
 'benny nontanam',
 'areerat intadis',
 'subenrat insaeng',
 'jiraya wichaidit',
 'tai-sheng wei',
 'chung-wei lin',
 'jian-rong chen',
 'hua-yu wen',
 'chao-hsuan fu',
 'wei-chih tsai',
 'chao-tsun cheng',
 'shih-feng huang',
 'chia-hsuan cho',
 'chia-hsuan cho',
 'hoai van nguyen ',
 'quoc thinh nguyen ',
 'quynh giang pham ',
 'thi anh thuc hoang ',
 'aaryan, greuter christoph',
 'akahodani, takayuki',
 'apondar, audric',
 'brooks , ruby',
 'brouwer, cees',
 'carlesater, armaan',
 'chary, mathangi ',
 'cinthikael, angel',
 'comia, tsang hannah',
 'comia, tsang mhandy',
 'donnelly, jordan ',
 'dorai, trinity sharilyn',
 'freeman, alexander',
 'gaume, constance',
 'gregorio, john alexander',
 'hagiwara, ryota ',
 'indarto, gerard',
 'joy, matthew',
 'juluri, aditya',
 'kiet, tran',
 'koduru, kalyani',
 'kuchenbuch, natalya',
 'kuijpers, kuijpers ayko ellin',
 'kumar, joseph suraj',
 'kuppusamy, praksheeta',
 'kusumo, naia',
 'kuwalekar , spruha ',
 'lahey, kezia stephanie ',
 'liz, jerry',
 'marican, raees marican bin ayoob marican',
 'marie bruno de ferrieres de sauveboeuf, louis ',
 'maslov, timofei',
 'masrezwan, maeva',
 'mendoza, niccolo',
 'mennella, leonardo',
 'meyers, nikita mae jiny-yu',
 'mishra, sunay',
 'mo, thant cin',
 'moon, daniel youngjo',
 'ocampo aniag, dwayne michael ocampo aniag',
 'ortega, rafael pedro',
 'owen, elia',
 'owl, emma',
 'ozbudak, deniz',
 'percival , jonathan ',
 'philip hoare , jonathan',
 'pierrah, yori satish      ',
 'premanandham, varshana ',
 'reddy, manuj',
 'roman, ethan',
 'rougelot, rougelot christian',
 'saviour, gilbert dominic',
 'scott, fiona scott harrison',
 'shacklock, michael',
 'siraphop, chairattivech',
 'solaimuthu , kausik',
 'solana, leann',
 'sriganeshakantha, shivesh',
 'suma, dominique',
 'sung, yejun',
 'suyamprakasam, aswin',
 'taylor , connor',
 'telukula, sourendra',
 'tjipto, isaac',
 'tuhin sane,  vivaan ',
 'unni, avyukt',
 'yanamandra , ananya ',
 'yogarajah, nikhilash',
 'yovan, navitha',
 ' kiran, sebastian jehunathan',
 'aclag william gonzales, gerard ',
 'allender, daniel',
 'almeda, ashley ava',
 'anesrif, yahn alexander',
 'back, peter james',
 'broomfield, james',
 'broomfield, sofia',
 'caitlin, pulmano',
 'caleon, anna',
 'camara, abel',
 'caoile, pauline ',
 'carlesater , armaan',
 'chairattivech, siraphop',
 'charlotte grosvenor, isabella',
 'gowreesonâ\xa0 , nolan ',
 'gowreesonâ\xa0 , lukesh ',
 'gregorio, alexander joseph',
 'isaac prabhu, joel solomon',
 'janus, jedd',
 'konapur ravindra, alekhya ',
 'maala, branden',
 'maier, stephanie',
 'oyachi, yukiya',
 'palkannan, kavin',
 'palkannan, viveka ',
 'peace, lily may ',
 'perera, deshaka',
 'reiniers, bianca wilhelmina',
 'reyes, ariel',
 'rocafort, sophia alessandra francisco',
 'roman, ethan',
 'ruelo, mart david',
 'saviour, gilbert dominic',
 'sawant , mahika ',
 'sawant , rudra ',
 'smith, bakari',
 'smith, thomas',
 'sofyan, emily claire',
 'toft, mitchell',
 'umaymah, chikani',
 'van schalkwyk , anja chuhengâ\xa0 ',
 'vanderput, conor',
 'wijaya, mikail emre',
 'zool ihsan, muhammad reza',
 'farah syakira   , azifsafarin ',
 ' nur izzati iliana , suhaidi',
 'tam su yan, tam',
 'kaaviya   ,  morgan',
 'ong jun hao, ong',
 'muhammad danish akmal , abdul kadir',
 'kanishkann, nathan',
 'ahmad amir aiman , md kamarudin',
 'shawn roshan singh, singh',
 'shree ram , ramesh',
 'kuan jyh yunn, kuan',
 'muhamad azrin , azrizan',
 'kogilan, ramesh',
 'inoue, naoki',
 'nishi, yudai',
 'kimura, ryo',
 'inage, aoi',
 'shimada, kaishin',
 'nishi, tetsuro',
 'mamada, kodai',
 'tanaka, tenjiro',
 'kanemoto, masaki',
 'tsutsui, kosuke',
 'sagi, mayako',
 'yamakoshi, riko',
 'okawa, sumika',
 'naito, kano',
 ' aclag william gonzales, gerard ',
 'arriola, christine',
 'arundhati joseph, annette',
 'ashok, reddy kishaanth',
 'brouwer, cees',
 'caitlin, dragon',
 'campbell, thanya',
 'carlesater, armaan',
 'chevrez, cheyenne',
 'dorai, trinity sharilyn',
 'enuka wanigaratna, upeck',
 'eswaran, lavitran',
 'gaume, constance',
 'gipson, sarah',
 'gomes, leon',
 'harris mulyadi, emre rizq mika',
 'khodyat, declan ',
 'kroll, max yujin',
 'kuchenbuch, natalya',
 'kuijpers, kuijpers ayko ellin',
 'kusumo, naia',
 'mackenzie, diveena',
 'manega, rodney philip',
 'mukilan, anamitra',
 'ortega, samantha',
 'owen, elia',
 'ozbudak, deniz',
 'padhye , itisha',
 'philip hoare , jonathan',
 'pujeda, athena',
 'schmidtke, audrey',
 'shacklock, michael',
 'teplertboon, naruedee',
 'torrubia baeza , adriana',
 'twang, katie',
 'yanamandra , ananya ',
 'znidaric, lucia',
 'silina, pha aphay',
 'xaidavanh, vongsavanh',
 'nova, emilia',
 'nova, emilia',
 'nurhalizah, siti',
 'nur nirwani, novia',
 'ndiken, silfanus',
 'gebze, eventinus',
 'gebze, eventinus',
 'basik basik, paustinus obed',
 'rumaikewi, mandala putra',
 'asyerem, mergina',
 'asyerem, mergina',
 'amjaram, vinsensia awutet',
 'lee, hyunjae',
 'lee, minje',
 'lee, gahui',
 'kim, hangyul',
 'kim, soeun',
 'shin, yujin',
 'goobinnaan, suresh kumar',
 'goh, kim hong maggie',
 'ubas, janry',
 'grospe, leonard',
 'yuyamadu, lakki',
 'poolkerd, supanich',
 'poolkerd, supanich',
 'nontanam, benny',
 'intadis, areerat',
 'insaeng, subenrat',
 'wichaidit, jiraya',
 'wei, tai-sheng',
 'lin, chung-wei',
 'chen, jian-rong',
 'wen, hua-yu',
 'fu, chao-hsuan',
 'tsai, wei-chih',
 'cheng, chao-tsun',
 'huang, shih-feng',
 'cho, chia-hsuan',
 'cho, chia-hsuan',
 'nguyen , hoai van',
 'nguyen , quoc thinh',
 'pham , quynh giang',
 'hoang , thi anh thuc',
 'greuter christoph aaryan',
 'takayuki akahodani',
 'audric apondar',
 'ruby brooks ',
 'cees brouwer',
 'armaan carlesater',
 'mathangi  chary',
 'angel cinthikael',
 'tsang hannah comia',
 'tsang mhandy comia',
 'jordan  donnelly',
 'trinity sharilyn dorai',
 'alexander freeman',
 'constance gaume',
 'john alexander gregorio',
 'ryota  hagiwara',
 'gerard indarto',
 'matthew joy',
 'aditya juluri',
 'tran kiet',
 'kalyani koduru',
 'natalya kuchenbuch',
 'kuijpers ayko ellin kuijpers',
 'joseph suraj kumar',
 'praksheeta kuppusamy',
 'naia kusumo',
 'spruha  kuwalekar ',
 'kezia stephanie  lahey',
 'jerry liz',
 'raees marican bin ayoob marican marican',
 'louis  marie bruno de ferrieres de sauveboeuf',
 'timofei maslov',
 'maeva masrezwan',
 'niccolo mendoza',
 'leonardo mennella',
 'nikita mae jiny-yu meyers',
 'sunay mishra',
 'thant cin mo',
 'daniel youngjo moon',
 'dwayne michael ocampo aniag ocampo aniag',
 'rafael pedro ortega',
 'elia owen',
 'emma owl',
 'deniz ozbudak',
 'jonathan  percival ',
 'jonathan philip hoare ',
 'yori satish       pierrah',
 'varshana  premanandham',
 'manuj reddy',
 'ethan roman',
 'rougelot christian rougelot',
 'gilbert dominic saviour',
 'fiona scott harrison scott',
 'michael shacklock',
 'chairattivech siraphop',
 'kausik solaimuthu ',
 'leann solana',
 'shivesh sriganeshakantha',
 'dominique suma',
 'yejun sung',
 'aswin suyamprakasam',
 'connor taylor ',
 'sourendra telukula',
 'isaac tjipto',
 ' vivaan  tuhin sane',
 'avyukt unni',
 'ananya  yanamandra ',
 'nikhilash yogarajah',
 'navitha yovan',
 'sebastian jehunathan  kiran',
 'gerard  aclag william gonzales',
 'daniel allender',
 'ashley ava almeda',
 'yahn alexander anesrif',
 'peter james back',
 'james broomfield',
 'sofia broomfield',
 'pulmano caitlin',
 'anna caleon',
 'abel camara',
 'pauline  caoile',
 'armaan carlesater ',
 'siraphop chairattivech',
 'isabella charlotte grosvenor',
 'nolan  gowreesonâ\xa0 ',
 'lukesh  gowreesonâ\xa0 ',
 'alexander joseph gregorio',
 'joel solomon isaac prabhu',
 'jedd janus',
 'alekhya  konapur ravindra',
 'branden maala',
 'stephanie maier',
 'yukiya oyachi',
 'kavin palkannan',
 'viveka  palkannan',
 'lily may  peace',
 'deshaka perera',
 'bianca wilhelmina reiniers',
 'ariel reyes',
 'sophia alessandra francisco rocafort',
 'ethan roman',
 'mart david ruelo',
 'gilbert dominic saviour',
 'mahika  sawant ',
 'rudra  sawant ',
 'bakari smith',
 'thomas smith',
 'emily claire sofyan',
 'mitchell toft',
 'chikani umaymah',
 'anja chuhengâ\xa0  van schalkwyk ',
 'conor vanderput',
 'mikail emre wijaya',
 'muhammad reza zool ihsan',
 'azifsafarin  farah syakira   ',
 'suhaidi  nur izzati iliana ',
 'tam tam su yan',
 ' morgan kaaviya   ',
 'ong ong jun hao',
 'abdul kadir muhammad danish akmal ',
 'nathan kanishkann',
 'md kamarudin ahmad amir aiman ',
 'singh shawn roshan singh',
 'ramesh shree ram ',
 'kuan kuan jyh yunn',
 'azrizan muhamad azrin ',
 'ramesh kogilan',
 'naoki inoue',
 'yudai nishi',
 'ryo kimura',
 'aoi inage',
 'kaishin shimada',
 'tetsuro nishi',
 'kodai mamada',
 'tenjiro tanaka',
 'masaki kanemoto',
 'kosuke tsutsui',
 'mayako sagi',
 'riko yamakoshi',
 'sumika okawa',
 'kano naito',
 'gerard   aclag william gonzales',
 'christine arriola',
 'annette arundhati joseph',
 'reddy kishaanth ashok',
 'cees brouwer',
 'dragon caitlin',
 'thanya campbell',
 'armaan carlesater',
 'cheyenne chevrez',
 'trinity sharilyn dorai',
 'upeck enuka wanigaratna',
 'lavitran eswaran',
 'constance gaume',
 'sarah gipson',
 'leon gomes',
 'emre rizq mika harris mulyadi',
 'declan  khodyat',
 'max yujin kroll',
 'natalya kuchenbuch',
 'kuijpers ayko ellin kuijpers',
 'naia kusumo',
 'diveena mackenzie',
 'rodney philip manega',
 'anamitra mukilan',
 'samantha ortega',
 'elia owen',
 'deniz ozbudak',
 'itisha padhye ',
 'jonathan philip hoare ',
 'athena pujeda',
 'audrey schmidtke',
 'michael shacklock',
 'naruedee teplertboon',
 'adriana torrubia baeza ',
 'katie twang',
 'ananya  yanamandra ',
 'lucia znidaric',
 'pha aphay silina',
 'vongsavanh xaidavanh',
 'emilia nova',
 'emilia nova',
 'siti nurhalizah',
 'novia nur nirwani',
 'silfanus ndiken',
 'eventinus gebze',
 'eventinus gebze',
 'paustinus obed basik basik',
 'mandala putra rumaikewi',
 'mergina asyerem',
 'mergina asyerem',
 'vinsensia awutet amjaram',
 'hyunjae lee',
 'minje lee',
 'gahui lee',
 'hangyul kim',
 'soeun kim',
 'yujin shin',
 'suresh kumar goobinnaan',
 'kim hong maggie goh',
 'janry ubas',
 'leonard grospe',
 'lakki yuyamadu',
 'supanich poolkerd',
 'supanich poolkerd',
 'benny nontanam',
 'areerat intadis',
 'subenrat insaeng',
 'jiraya wichaidit',
 'tai-sheng wei',
 'chung-wei lin',
 'jian-rong chen',
 'hua-yu wen',
 'chao-hsuan fu',
 'wei-chih tsai',
 'chao-tsun cheng',
 'shih-feng huang',
 'chia-hsuan cho',
 'chia-hsuan cho',
 'hoai van nguyen ',
 'quoc thinh nguyen ',
 'quynh giang pham ',
 'thi anh thuc hoang ']

In [444]:
# Exclusion list is foreigners + spex carded 

#exclusions = foreign_list_casefold + spex_athletes_casefold

exclusions = foreign_list_casefold

In [445]:
# Apply Rule 4 above...if an athlete is in more than one event, choose the best performing one

top_performers=rslt_df.sort_values(['NAME','PERF_SCALAR'],ascending=False).groupby('NAME').head(1) # Choose top performing event per NAME

In [446]:
top_performers

,index_x,NAME,RESULT,AGE,COMPETITION_RANK,EVENT_x,DOB,COUNTRY,CATEGORY_EVENT,GENDER,...,EVENT_y,Metric,2pc,35pc,5pc,RESULT_CONV,Delta2,Delta35,Delta5,PERF_SCALAR
8353,11670,{},12.99,8.0,2,Boys 4x100 Meter Relay 15-16,2015-01-01 00:00:00.000,None,Relay,Male,...,4 x 100m relay,39.36,40.1472,40.73760,41.3280,12.99,27.1572,27.74760,28.3380,71.996951
12480,17949,"{9: 'Ng, Caitlin Shan Wen', 438: 'Seow, Kyra',...",22.17,0.0,1,Girls 13-14 4x100 Meter Relay U15,None,None,Relay,Female,...,4 x 100m relay,44.58,45.4716,46.14030,46.8090,22.17,23.3016,23.97030,24.6390,55.269179
9267,13141,"{995: 'Lee, Asher', 991: 'Yeo, Chee Hean Phili...",29.89,0.0,2,Boys 9-12 4x400 Meter Relay U13,None,None,Relay,Male,...,4 x 400m relay,188.82,192.5964,195.42870,198.2610,29.89,162.7064,165.53870,168.3710,89.170109
9588,13486,"{994: 'De Ming, Gilbert Lee', 988: 'Lee, Jerem...",38.89,0.0,14,Boys 10-12 4x100 Meter Relay U13,None,None,Relay,Male,...,4 x 100m relay,39.36,40.1472,40.73760,41.3280,38.89,1.2572,1.84760,2.4380,6.194106
12424,17876,"{991: 'Yeo, Chee Hean Philip', 992: 'Yeo, Chee...",12.92,0.0,16,Boys 10-12 4x100 Meter Relay U13,None,None,Relay,Male,...,4 x 100m relay,39.36,40.1472,40.73760,41.3280,12.92,27.2272,27.81760,28.4080,72.174797
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10975,15886,"., Khairulnazim",14.72,17.0,4,Men 400 Meter Dash Open,2006-01-27,None,Sprint,Male,...,400m,46.63,47.5626,48.26205,48.9615,14.72,32.8426,33.54205,34.2415,73.432340
9918,13873,"., Kaarthika",12.53,27.0,9,Women 400 Meter Dash Women Junior,1996-06-13,None,Sprint,Female,...,400m,53.84,54.9168,55.72440,56.5320,12.53,42.3868,43.19440,44.0020,81.727340
10701,15018,"., Jayashree",1:14.05,15.0,36,Girls Long Jump B Div,2008-01-29 00:00:00.000,None,Jump,Female,...,Long jump,6.02,5.8996,5.80930,5.7190,10.97,5.0704,5.16070,5.2510,87.225914
12077,17484,"., Cheung Zheng",47.61,14.0,20,Boys 11-14 400 Meter Dash U15,2009-02-19,None,Sprint,Male,...,400m,46.63,47.5626,48.26205,48.9615,47.61,-0.0474,0.65205,1.3515,2.898349
7889,11000,"., Brendon Ting Li King",NaN,21.0,1,Men 16-99 Triple Jump Open,2002-01-09,None,Jump,Male,...,Triple jump,15.70,15.3860,15.15050,14.9150,1004.10,988.7140,988.94950,989.1850,6300.541401

In [447]:
top_performers.to_csv('top_checkpoint.csv', sep=',', encoding='utf-8-sig', index=False)

In [448]:
excluded_list = top_performers.loc[~rslt_df['NAME'].str.casefold().isin(exclusions)]  # ~ means NOT IN. DROP spex carded athletes

In [449]:
#spexed_list=top_performers

In [450]:
excluded_list.sort_values(['MAPPED_EVENT', 'GENDER', 'PERF_SCALAR'], ascending=[True, True, False], inplace=True)
excluded_list['overall_rank'] = 1
excluded_list['overall_rank'] = excluded_list.groupby(['MAPPED_EVENT', 'GENDER'])['overall_rank'].cumsum()

/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_82118/1842046915.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  excluded_list.sort_values(['MAPPED_EVENT', 'GENDER', 'PERF_SCALAR'], ascending=[True, True, False], inplace=True)
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_82118/1842046915.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  excluded_list['overall_rank'] = 1
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_82118/1842046915.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  excluded_list['overall_rank'] = excluded_list.groupby(['MAPPED_EVENT', 'GENDER'])['overall_rank'].cumsum()

In [451]:
#spexed_list=spexed_list[(((spexed_list['EVENT']=='400m')&(spexed_list['overall_rank']<7)))|(((spexed_list['EVENT']=='100m')&(spexed_list['overall_rank']<7)))]

In [452]:
#Apply OCTC selection rule: max 6 for 100m/400m and max 3 for all other events

excluded_list = excluded_list[(((excluded_list['MAPPED_EVENT']=='400m')|(excluded_list['MAPPED_EVENT']=='100m'))&(excluded_list['overall_rank']<7))|(~((excluded_list['MAPPED_EVENT']=='400m')|(excluded_list['MAPPED_EVENT']=='100m'))&(excluded_list['overall_rank']<4))]

In [453]:
excluded_list

,index_x,NAME,RESULT,AGE,COMPETITION_RANK,EVENT_x,DOB,COUNTRY,CATEGORY_EVENT,GENDER,...,Metric,2pc,35pc,5pc,RESULT_CONV,Delta2,Delta35,Delta5,PERF_SCALAR,overall_rank
8135,11374,"Tan, Bernice",2:16.97,23.0,3,Women 10000 Meter Run Open,2000-11-16,None,Long,Female,...,2131.03,2173.6506,2205.61605,2237.5815,136.97,2036.6806,2068.64605,2100.6115,98.572592,1
8137,11380,"NicAmhlaoibh, Maire",2:16.97,35.0,2,Women 10000 Meter Run Open,1988-02-14,None,Long,Female,...,2131.03,2173.6506,2205.61605,2237.5815,136.97,2036.6806,2068.64605,2100.6115,98.572592,2
8134,11372,"Ng, Yew Cheo",2:16.97,37.0,4,Women 10000 Meter Run Open,1986-11-30,None,Long,Female,...,2131.03,2173.6506,2205.61605,2237.5815,136.97,2036.6806,2068.64605,2100.6115,98.572592,3
9739,13637,"PHAGAMI, KHUM BAHADUR",20.34m,39.0,2,Men 10000 Meter Run Men Senior A,1984-08-09,None,Long,Male,...,1885.55,1923.2610,1951.54425,1979.8275,144.29,1778.9710,1807.25425,1835.5375,97.347591,1
9734,13632,"Mohd, Jamian",35.31m,38.0,6,Men 10000 Meter Run Men Senior A,1985-04-29,None,Long,Male,...,1885.55,1923.2610,1951.54425,1979.8275,144.29,1778.9710,1807.25425,1835.5375,97.347591,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3249,3544,SOLANA LEANN REINKIRSTEN CANDA,00:22.7,0.0,9.0,Triple Jump,None,None,Jump,Female,...,13.46,13.1908,12.98890,12.7870,1150.60,1137.4092,1137.61110,1137.8130,8453.291233,2
3260,3555,SHERYL TOH PEIXUAN,00:23.4,0.0,6.0,Triple Jump,None,None,Jump,Female,...,13.46,13.1908,12.98890,12.7870,1150.60,1137.4092,1137.61110,1137.8130,8453.291233,3
3257,3552,RAO TIANYU,00:28.7,0.0,12.0,Triple Jump,None,None,Jump,Male,...,15.70,15.3860,15.15050,14.9150,1150.60,1135.2140,1135.44950,1135.6850,7233.662420,1
3246,3541,NG JUN JIE,00:15.7,0.0,11.0,Triple Jump,None,None,Jump,Male,...,15.70,15.3860,15.15050,14.9150,1150.60,1135.2140,1135.44950,1135.6850,7233.662420,2
7888,10999,"Yong Hui, Lai",NaN,34.0,4,Men 16-99 Triple Jump Open,1989-02-12,None,Jump,Male,...,15.70,15.3860,15.15050,14.9150,1004.10,988.7140,988.94950,989.1850,6300.541401,3

In [454]:
excluded_list.to_csv('octc_all_events.csv', sep=',', encoding='utf-8-sig', index=False)

In [ ]:
# 1. If top athlete>30 (and the only one >30), there are already 6 in list, and next one is already <30 then it means do nothing? 
# 2. If top athlete>30 and is the sole pick.  Next athlete is far beyond 5% band.  Do we add?
# 3. If top athlete>30 and there are less than 6 within 5% band of SEAG benchmark. Do we add that one more who is beyond 5%?
# 4. At least one per gender.  The only pick is far beyond 5%.  Do we add?

# Marinda's request for 6 and 8 place finish analysis

In [4062]:
import pandas_gbq
from google.oauth2 import service_account


credentials = service_account.Credentials.from_service_account_file(
    '/Users/veesheenyuen/Desktop/DataScience/Keys/saa-analytics-7c8937b70609.json',
)

sql="""
SELECT NAME, RESULT, RANK, EVENT, CATEGORY_EVENT, GENDER, COMPETITION, STAGE
FROM `saa-analytics.results.saa_full`
WHERE STAGE='Final' AND COMPETITION='SEA Games' AND (RANK='3' OR RANK='6' OR RANK='8')
"""

SEAG = pandas_gbq.read_gbq(sql, project_id="saa-analytics", credentials=credentials)

Downloading: 100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████|

In [4064]:
SEAG.tail(60)

,NAME,RESULT,RANK,EVENT,CATEGORY_EVENT,GENDER,COMPETITION,STAGE
53,Farell Glen Felix Jerus,2.15 m,3,High jump,Jump,Male,SEA Games,Final
54,Sun Soklim,NM,6,High jump,Jump,Female,SEA Games,Final
55,Kobsit Sittichai,2.07 m,6,High jump,Jump,Male,SEA Games,Final
56,Suwandi Wijaya,7.47,6,Long jump,Jump,Male,SEA Games,Final
57,Pok Pisey,4.76,8,Long jump,Jump,Female,SEA Games,Final
58,Sapwaturrahman Sapwaturrahman,7.62,3,Long jump,Jump,Male,SEA Games,Final
59,Bùi Thị Loan,6.02,3,Long jump,Jump,Female,SEA Games,Final
60,Nurul Ashikin Abas,5.67,6,Long jump,Jump,Female,SEA Games,Final
61,John Marvin Aragon Rafols,7.19,8,Long jump,Jump,Male,SEA Games,Final
62,Sunisa Khotseemueang,None,3,Heptathlon,Heptathlon,Female,SEA Games,Final
63,Winnie Eng May Xin,None,6,Heptathlon,Heptathlon,Female,SEA Games,Final
64,Low Jun Yu,NH,8,Pole vault,Jump,Male,SEA Games,Final
65,Asrul Badroldin,4.40 m,6,Pole vault,Jump,Male,SEA Games,Final
66,Patsapong Amsam-ang,5.20 m,3,Pole vault,Jump,Male,SEA Games,Final
67,Natalie Uy,4.00,3,Pole vault,Jump,Female,SEA Games,Final
68,Rachel Isabel Bingjie Yang,NH,8,Pole vault,Jump,Female,SEA Games,Final
69,Maria Andriani Melabessy,3.45,6,Pole vault,Jump,Female,SEA Games,Final
70,Phumiphat Khunmangkon,15.31,8,Triple jump,Jump,Male,SEA Games,Final
71,Mark Harry Diones,15.7,3,Triple jump,Jump,Male,SEA Games,Final
72,Nguyễn Thị Hương,13.46,3,Triple jump,Jump,Female,SEA Games,Final
73,Pratchaya Tepparak,15.58,6,Triple jump,Jump,Male,SEA Games,Final
74,Natchaya Chaopakpang,14.23,6,100m hurdles,Hurdles,Female,SEA Games,Final
75,Dina Aulia,13.59,3,100m hurdles,Hurdles,Female,SEA Games,Final
76,Farah Syakira Azif Safarin,14.79,8,100m hurdles,Hurdles,Female,SEA Games,Final
77,John Cabang,13.855,3,110m hurdles,Hurdles,Male,SEA Games,Final
78,Kongkham Kheuabmavong,16.934,6,110m hurdles,Hurdles,Male,SEA Games,Final
79,Quách Công Lịch,53.06,6,400m hurdles,Hurdles,Male,SEA Games,Final
80,Calvin Quek,50.75,3,400m hurdles,Hurdles,Male,SEA Games,Final
81,Deuanpheng Xayyaphea,55.4,8,400m hurdles,Hurdles,Male,SEA Games,Final
82,Nguyễn Thị Ngọc,59.09,3,400m hurdles,Hurdles,Female,SEA Games,Final
83,Natchaya Chaopakpang,1:08.44,6,400m hurdles,Hurdles,Female,SEA Games,Final
84,Bandit Singhatongkul,50.02,3,Discus throw,Throw,Male,SEA Games,Final
85,Areerat Intadis,24.18,6,Discus throw,Throw,Female,SEA Games,Final
86,Sim Samedy,37.58,8,Discus throw,Throw,Male,SEA Games,Final
87,John Albert Casol Mantua,45.63,6,Discus throw,Throw,Male,SEA Games,Final
88,Lê Thị Cẩm Dung,45.08,3,Discus throw,Throw,Female,SEA Games,Final
89,Pang Chamroeun Vithiear,51.82,6,Hammer throw,Throw,Male,SEA Games,Final
90,Sadat Marzuqi Ajisan,59.76,3,Hammer throw,Throw,Male,SEA Games,Final
91,Nurul Hidayah Lukman,49.61,3,Hammer throw,Throw,Female,SEA Games,Final
92,Evalyn Palabrica,48.31,3,Javelin throw,Throw,Female,SEA Games,Final
93,Pavithraa Devi Jayaindran,43.16,6,Javelin throw,Throw,Female,SEA Games,Final
94,Melvin Nolasci Calano,63.96,6,Javelin throw,Throw,Male,SEA Games,Final
95,Agustinus Abadi Ndiken,66.2,3,Javelin throw,Throw,Male,SEA Games,Final
96,Touch Phoeurn,47.8,8,Javelin throw,Throw,Male,SEA Games,Final
97,Pyae Phyo Htun,1:49:39,3,20km race walk,Walk,Male,SEA Games,Final
98,Kotchaphon Tangsrivong,1:57:11,3,20km race walk,Walk,Female,SEA Games,Final
99,Sat Nanvirakyuth,2:29:17,8,20km race walk,Walk,Male,SEA Games,Final
100,Thi Van Nguyen,2:15:22,6,20km race walk,Walk,Female,SEA Games,Final
101,Xuan Vinh Vo,1:56:15,6,20km race walk,Walk,Male,SEA Games,Final
102,"Azreen Nabila Alias, Nur Afrina Batrisyia, N...",44.58,3,4 x 100m relay,Relay,Female,SEA Games,Final
103,"Jonathan Nyepa, Khairul Hafiz Jantan, Mohama...",39.36,3,4 x 100m relay,Relay,Male,SEA Games,Final
104,"Deuanpheng Xayyapheat, Kongkham Kheuabmavong...",41.44,6,4 x 100m relay,Relay,Male,SEA Games,Final
105,"Ben Seyha, Duong Sreypheap, Kan Sreyroth, Po...",49.5,6,4 x 100m relay,Relay,Female,SEA Games,Final
106,"Muhammad Firdaus Zemi, Ruslem Zikry Putra Ro...",3:08.82,3,4 x 400m relay,Relay,Male,SEA Games,Final
107,"Sukanya Janchaona, Benny Nontanam, Sasipim S...",3:39.29,3,4 x 400m relay,Relay,Female,SEA Games,Final
108,Nguyễn Thị Huong,11:00.85,3,3000m steeplechase,Steeple,Female,SEA Games,Final
109,Eduard Josh Fullon Buenavista,9:17.62,6,3000m steeplechase,Steeple,Male,SEA Games,Final
110,Pandu Sukarya,8:55.05,3,3000m steeplechase,Steeple,Male,SEA Games,Final
111,Ri Udom,10:36.06,8,3000m steeplechase,Steeple,Male,SEA Games,Final
112,Sunisa Khotseemueang,5253,3,Heptathlon,Heptathlon,Female,SEA Games,Final

In [247]:
for i in range(len(SEAG)):
        
    rowIndex = SEAG.index[i]

    input_string=SEAG.iloc[rowIndex,3]  # event is column index 3
    
    metric=SEAG.iloc[rowIndex,1] # result is column index 1
    
    if (metric==None or metric=='NH' or metric=='NM'):  # skip those non-numeric values
        continue
        
   # elif metric=='NH':
    #    continue
        
    print(i, input_string, metric)
        
    out = convert_time(i, input_string, metric)
     
    SEAG.loc[rowIndex, 'Metric'] = out

0 1500m     03:59.40
1 1500m     04:04.3
2 1500m     04:05.4
3 Decathlon 6891
4 100m 10.78
5 100m 11.75
6 100m 11.96
7 100m 10.443
8 200m 24.09
9 200m 23.6
11 200m 21.02
12 200m 21.58
13 400m 46.63
14 400m 48.26
15 400m 57.54
16 400m 1:01.20
17 400m 53.84
18 800m 1:57.98
19 800m 1:53.86
20 800m 2:15.77
21 800m 2:18.25
22 800m 2:09.15
23 800m 1:55.39
24 1500m 4:26.33
25 1500m 4:38.64
26 1500m 5:00.090
27 5000m 17:13.63
28 5000m 18:41.76
29 5000m 14:43.45
30 5000m 15:01.79
31 5000m 18:02.52
32 5000m 15:09.65
33 10000m 33:00.23
34 10000m 32:36.32
35 10000m 38:11.04
36 10000m 37:29.58
37 10000m 35:31.03
38 10000m 31:25.55
39 Marathon 2:35:49
40 Marathon 3:17:36
41 Marathon 3:46:44
42 Marathon 2:52:41
43 Marathon 2:50:27
44 Marathon 2:41:36
45 Shot put 11.69
46 Shot put 12.12
47 Shot put 14.44
48 Shot put 14.65
49 Shot put 17.3
50 Shot put 16.06
52 High jump 2.07 m
53 High jump 2.15 m
54 High jump 1.73
55 High jump 1.95 m
56 Long jump 7.47
57 Long jump 5.67
58 Long jump 6.02
59 Long jump 4.76
60 Long jump 7.62
61 Long jump 7.19
64 Pole vault 5.20 m
65 Pole vault 4.00
66 Pole vault 4.40 m
69 Pole vault 3.45
70 Triple jump 15.31
71 Triple jump 15.7
72 Triple jump 13.46
73 Triple jump 15.58
74 100m hurdles 13.59
75 100m hurdles 14.23
76 100m hurdles 14.79
77 110m hurdles 13.855
78 110m hurdles 16.934
79 400m hurdles 50.75
80 400m hurdles 55.4
81 400m hurdles 59.09
82 400m hurdles 1:08.44
83 400m hurdles 53.06
84 Discus throw 37.58
85 Discus throw 45.08
86 Discus throw 50.02
87 Discus throw 45.63
88 Discus throw 24.18
89 Hammer throw 59.76
90 Hammer throw 51.82
91 Hammer throw 49.61
92 Javelin throw 47.8
93 Javelin throw 48.31
94 Javelin throw 63.96
95 Javelin throw 66.2
96 Javelin throw 43.16
97 20km race walk 1:56:15
98 20km race walk 1:57:11
99 20km race walk 2:15:22
100 20km race walk 1:49:39
101 20km race walk 2:29:17
102 4 x 100m relay 41.44
103 4 x 100m relay 39.36
104 4 x 100m relay 44.58
105 4 x 100m relay 49.5
106 4 x 400m relay 3:08.82
107 4 x 400m relay 3:39.29
108 3000m steeplechase 11:00.85
109 3000m steeplechase 8:55.05
110 3000m steeplechase 10:36.06
111 3000m steeplechase 9:17.62

In [248]:
SEAG

,NAME,RESULT,RANK,EVENT,CATEGORY_EVENT,GENDER,COMPETITION,STAGE,Metric
0,Wahyudi Putra,03:59.40,3,1500m,Mid,Male,SEA Games,Final,239.40
1,Edwin GIRON,04:04.3,6,1500m,Mid,Male,SEA Games,Final,244.30
2,Van Dung GIANG,04:05.4,8,1500m,Mid,Male,SEA Games,Final,245.40
3,Aries TOLEDO,6891,3,Decathlon,Decathlon,Male,SEA Games,Final,6891.00
4,Joshua Hanwei Chua,10.78,6,100m,Sprint,Male,SEA Games,Final,10.78
...,...,...,...,...,...,...,...,...,...
107,"Sukanya Janchaona, Benny Nontanam, Sasipim S...",3:39.29,3,4 x 400m relay,Relay,Female,SEA Games,Final,219.29
108,Nguyễn Thị Huong,11:00.85,3,3000m steeplechase,Steeple,Female,SEA Games,Final,660.85
109,Pandu Sukarya,8:55.05,3,3000m steeplechase,Steeple,Male,SEA Games,Final,535.05
110,Ri Udom,10:36.06,8,3000m steeplechase,Steeple,Male,SEA Games,Final,636.06
111,Eduard Josh Fullon Buenavista,9:17.62,6,3000m steeplechase,Steeple,Male,SEA Games,Final,557.62

In [249]:
SEAG.to_csv('check_variation.csv', encoding='utf-8')

In [250]:
comps = SEAG[SEAG['RANK']=='3']

In [251]:
comps

,NAME,RESULT,RANK,EVENT,CATEGORY_EVENT,GENDER,COMPETITION,STAGE,Metric
0,Wahyudi Putra,03:59.40,3,1500m,Mid,Male,SEA Games,Final,239.400
3,Aries TOLEDO,6891,3,Decathlon,Decathlon,Male,SEA Games,Final,6891.000
5,Trần Thị Nhi Yến,11.75,3,100m,Sprint,Female,SEA Games,Final,11.750
7,Muhammad Haiqal Hanafi,10.443,3,100m,Sprint,Male,SEA Games,Final,10.443
9,Zaidatul Husniah Zulkifli,23.6,3,200m,Sprint,Female,SEA Games,Final,23.600
11,Lalu Muhammad Zohri,21.02,3,200m,Sprint,Male,SEA Games,Final,21.020
13,Frederick Ramirez,46.63,3,400m,Sprint,Male,SEA Games,Final,46.630
17,Nguyễn Thị Hằng,53.84,3,400m,Sprint,Female,SEA Games,Final,53.840
19,Wan Muhammad Fazri Wan Zahari,1:53.86,3,800m,Mid,Male,SEA Games,Final,113.860
22,Goh Chui Ling,2:09.15,3,800m,Mid,Female,SEA Games,Final,129.150
24,Goh Chui Ling,4:26.33,3,1500m,Mid,Female,SEA Games,Final,266.330
27,Odekta Elvina Naibaho,17:13.63,3,5000m,Long,Female,SEA Games,Final,1033.630
29,Robi Syianturi,14:43.45,3,5000m,Long,Male,SEA Games,Final,883.450
37,Odekta Elvina Naibaho,35:31.03,3,10000m,Sprint,Female,SEA Games,Final,2131.030
38,Tan Htike Soe,31:25.55,3,10000m,Sprint,Male,SEA Games,Final,1885.550
39,Nguyen Thanh Hoang,2:35:49,3,Marathon,Marathon,Male,SEA Games,Final,9349.000
43,Christine Organiza Hallasgo,2:50:27,3,Marathon,Marathon,Female,SEA Games,Final,10227.000
47,Nani Sahirah Maryata,14.44,3,Shot put,Throw,Female,SEA Games,Final,14.440
49,Muhammad Ziyad Zolkefli,17.3,3,Shot put,Throw,Male,SEA Games,Final,17.300
53,Farell Glen Felix Jerus,2.15 m,3,High jump,Jump,Male,SEA Games,Final,2.150
54,Michelle Sng Suat Li,1.73,3,High jump,Jump,Female,SEA Games,Final,1.730
58,Bùi Thị Loan,6.02,3,Long jump,Jump,Female,SEA Games,Final,6.020
60,Sapwaturrahman Sapwaturrahman,7.62,3,Long jump,Jump,Male,SEA Games,Final,7.620
62,Sunisa Khotseemueang,None,3,Heptathlon,Heptathlon,Female,SEA Games,Final,NaN
64,Patsapong Amsam-ang,5.20 m,3,Pole vault,Jump,Male,SEA Games,Final,5.200
65,Natalie Uy,4.00,3,Pole vault,Jump,Female,SEA Games,Final,4.000
71,Mark Harry Diones,15.7,3,Triple jump,Jump,Male,SEA Games,Final,15.700
72,Nguyễn Thị Hương,13.46,3,Triple jump,Jump,Female,SEA Games,Final,13.460
74,Dina Aulia,13.59,3,100m hurdles,Hurdles,Female,SEA Games,Final,13.590
77,John Cabang,13.855,3,110m hurdles,Hurdles,Male,SEA Games,Final,13.855
79,Calvin Quek,50.75,3,400m hurdles,Hurdles,Male,SEA Games,Final,50.750
81,Nguyễn Thị Ngọc,59.09,3,400m hurdles,Hurdles,Female,SEA Games,Final,59.090
85,Lê Thị Cẩm Dung,45.08,3,Discus throw,Throw,Female,SEA Games,Final,45.080
86,Bandit Singhatongkul,50.02,3,Discus throw,Throw,Male,SEA Games,Final,50.020
89,Sadat Marzuqi Ajisan,59.76,3,Hammer throw,Throw,Male,SEA Games,Final,59.760
91,Nurul Hidayah Lukman,49.61,3,Hammer throw,Throw,Female,SEA Games,Final,49.610
93,Evalyn Palabrica,48.31,3,Javelin throw,Throw,Female,SEA Games,Final,48.310
95,Agustinus Abadi Ndiken,66.2,3,Javelin throw,Throw,Male,SEA Games,Final,66.200
98,Kotchaphon Tangsrivong,1:57:11,3,20km race walk,Walk,Female,SEA Games,Final,7031.000
100,Pyae Phyo Htun,1:49:39,3,20km race walk,Walk,Male,SEA Games,Final,6579.000
103,"Jonathan Nyepa, Khairul Hafiz Jantan, Mohama...",39.36,3,4 x 100m relay,Relay,Male,SEA Games,Final,39.360
104,"Azreen Nabila Alias, Nur Afrina Batrisyia, N...",44.58,3,4 x 100m relay,Relay,Female,SEA Games,Final,44.580
106,"Muhammad Firdaus Zemi, Ruslem Zikry Putra Ro...",3:08.82,3,4 x 400m relay,Relay,Male,SEA Games,Final,188.820
107,"Sukanya Janchaona, Benny Nontanam, Sasipim S...",3:39.29,3,4 x 400m relay,Relay,Female,SEA Games,Final,219.290
108,Nguyễn Thị Huong,11:00.85,3,3000m steeplechase,Steeple,Female,SEA Games,Final,660.850
109,Pandu Sukarya,8:55.05,3,3000m steeplechase,Steeple,Male,SEA Games,Final,535.050

In [252]:
new_comps = comps[['EVENT', 'GENDER', 'Metric']]

In [253]:
#comps=SEAG.groupby(['EVENT', 'GENDER'])['Metric'].min()

In [254]:
df2 = SEAG.merge(new_comps, on=['EVENT', 'GENDER'], how='left')

In [255]:
df2

,NAME,RESULT,RANK,EVENT,CATEGORY_EVENT,GENDER,COMPETITION,STAGE,Metric_x,Metric_y
0,Wahyudi Putra,03:59.40,3,1500m,Mid,Male,SEA Games,Final,239.40,239.400
1,Edwin GIRON,04:04.3,6,1500m,Mid,Male,SEA Games,Final,244.30,239.400
2,Van Dung GIANG,04:05.4,8,1500m,Mid,Male,SEA Games,Final,245.40,239.400
3,Aries TOLEDO,6891,3,Decathlon,Decathlon,Male,SEA Games,Final,6891.00,6891.000
4,Joshua Hanwei Chua,10.78,6,100m,Sprint,Male,SEA Games,Final,10.78,10.443
...,...,...,...,...,...,...,...,...,...,...
107,"Sukanya Janchaona, Benny Nontanam, Sasipim S...",3:39.29,3,4 x 400m relay,Relay,Female,SEA Games,Final,219.29,219.290
108,Nguyễn Thị Huong,11:00.85,3,3000m steeplechase,Steeple,Female,SEA Games,Final,660.85,660.850
109,Pandu Sukarya,8:55.05,3,3000m steeplechase,Steeple,Male,SEA Games,Final,535.05,535.050
110,Ri Udom,10:36.06,8,3000m steeplechase,Steeple,Male,SEA Games,Final,636.06,535.050
111,Eduard Josh Fullon Buenavista,9:17.62,6,3000m steeplechase,Steeple,Male,SEA Games,Final,557.62,535.050

In [256]:
df2.to_csv('check_metric.csv', encoding='utf-8')

In [257]:
df2['% VARIATION']=(df2['Metric_x']/df2['Metric_y']*100-100)

In [258]:
df2

,NAME,RESULT,RANK,EVENT,CATEGORY_EVENT,GENDER,COMPETITION,STAGE,Metric_x,Metric_y,% VARIATION
0,Wahyudi Putra,03:59.40,3,1500m,Mid,Male,SEA Games,Final,239.40,239.400,0.000000
1,Edwin GIRON,04:04.3,6,1500m,Mid,Male,SEA Games,Final,244.30,239.400,2.046784
2,Van Dung GIANG,04:05.4,8,1500m,Mid,Male,SEA Games,Final,245.40,239.400,2.506266
3,Aries TOLEDO,6891,3,Decathlon,Decathlon,Male,SEA Games,Final,6891.00,6891.000,0.000000
4,Joshua Hanwei Chua,10.78,6,100m,Sprint,Male,SEA Games,Final,10.78,10.443,3.227042
...,...,...,...,...,...,...,...,...,...,...,...
107,"Sukanya Janchaona, Benny Nontanam, Sasipim S...",3:39.29,3,4 x 400m relay,Relay,Female,SEA Games,Final,219.29,219.290,0.000000
108,Nguyễn Thị Huong,11:00.85,3,3000m steeplechase,Steeple,Female,SEA Games,Final,660.85,660.850,0.000000
109,Pandu Sukarya,8:55.05,3,3000m steeplechase,Steeple,Male,SEA Games,Final,535.05,535.050,0.000000
110,Ri Udom,10:36.06,8,3000m steeplechase,Steeple,Male,SEA Games,Final,636.06,535.050,18.878609
111,Eduard Josh Fullon Buenavista,9:17.62,6,3000m steeplechase,Steeple,Male,SEA Games,Final,557.62,535.050,4.218297

In [259]:
df2.to_csv('SEAG_variation.csv', sep=',', encoding='utf-8-sig', index=False)

# Convert timing format from seconds to HMSf

In [4803]:
datetime.datetime.fromtimestamp(120).strftime('%M:%S.%f')

'32:00.000000'

In [4808]:
def convert(seconds):
    seconds = seconds % (24 * 3600)
    hour = seconds // 3600
    seconds %= 3600
    minutes = seconds // 60
    seconds %= 60
     
    return "%d:%02d:%02d" % (hour, minutes, seconds)

In [5295]:
import datetime
def format_result(result):
    date = datetime.datetime.utcfromtimestamp(result)
    output = datetime.datetime.strftime(date, "%H:%M:%S.%f")
    return output
print(format_result(113.86))

00:01:53.860000

# Clean manual load data

In [1521]:
os.chdir('/Users/veesheenyuen/Desktop/DataScience/SAA/Tilastopaja/Singapore Athletes Events/Additions/')


df_SHA = pd.read_csv("SHA_data2.csv", encoding='latin-1')

In [1522]:
df_SHA

,RANK,TAG_ID,NAME,TEAM,SEED,RESULT,QUALIFICATION,HEAT,LANE,WIND,...,DOB,GROUP,CATEGORY_EVENT,ATHLETE_ID,SOURCE,REMARKS,TIMESTAMP,FREE_FIELD,FREE_FIELD2,FREE_FIELD3
0,NaN,NaN,"YEE, MELISSA",Singapore,NaN,11.44m,NaN,NaN,NaN,NaN,...,NaN,NaN,Throw,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,CHEW YIU TSE JADE,Singapore,NaN,1.65m,NaN,NaN,NaN,NaN,...,NaN,NaN,Jump,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1523]:
df_SHA['NAME'] = df_SHA['NAME'].str.replace('\xa0', '', regex=True)
df_SHA['NAME'] = df_SHA['NAME'].str.replace('[\x00-\x1f\x7f-\x9f]', '', regex=True)
df_SHA['NAME'] = df_SHA['NAME'].str.replace('\r', '', regex=True)
df_SHA['NAME'] = df_SHA['NAME'].str.replace('\n', '', regex=True)
df_SHA['NAME'] = df_SHA['NAME'].str.strip()

In [1524]:
df_SHA.to_csv('SHA_data2.csv', index=False, encoding='utf-8')

# Read a csv of name list variations

In [2566]:
os.chdir('/Users/veesheenyuen/Desktop/DataScience/SAA/OCTC/')

names = pd.read_csv("name_variations.csv")

In [2567]:
names

                 VARIATION                  NAME
0    ^Harry\sIrfan\sCurra$    HARRY IRFAN CURRAN
1     Curran, Harry Irfann    HARRY IRFAN CURRAN
2         ^Curran,\sHarry$    HARRY IRFAN CURRAN
3     Harry Irfan Curran Q    HARRY IRFAN CURRAN
4            Wei Jun Huang         HUANG WEI JUN
..                     ...                   ...
182    Chua Hsin-Wen Clara  Chua Hsin-Wen, Clara
183  Chua Hsin-Wen Clara Q  Chua Hsin-Wen, Clara
184   HSIN-WEN CLARA, Chua  Chua Hsin-Wen, Clara
185    CHUA HSIN-WEN CLARA  Chua Hsin-Wen, Clara
186          Chua, Clara Q  Chua Hsin-Wen, Clara

[187 rows x 2 columns]

In [ ]:
lines = [line.strip() for line in open('file.csv')]
for x in lines:
    match=re.search(r'^_.*_$',x)
    if match: print x

In [ ]:
df['NAME'] = df['NAME'].replace(regex=r'^Harry\sIrfan\sCurra$', value='HARRY IRFAN CURRAN')

In [2568]:
for index, row in names.iterrows():
    print(row['VARIATION'])

^Harry\sIrfan\sCurra$
Curran, Harry Irfann
^Curran,\sHarry$
Harry Irfan Curran Q
Wei Jun Huang
HUANG, WEI JUN
., Hariharan
S/O KrishnS/O Krishna, Hariharan
KRISHNAN, HARIHARAN S/O
Andrew George Medina
Medina, Andrew
Medina, Andrew George
George Medina, Andrew
George George Medina, Andrew
Gabriel Lee
Lee, Gabriel
Jun Yu Low
Low Jun Yu
Low, Jun Yu
Caleb Hia
Melvin, Wong
MELVIN, WONG
Conrad Kangli Emery
Conrad, Kangli Emery
Kangli Emery Conrad
Conrad Kangli Emery Q
Mun Jern Wei
Mun, Jern Wei Ivan
Mun, Ivan
Wong Yijie Lucas
Wong, Yijie Lucas
Tung Hon Andrew Pak
Pak, Andrew
Brandon Heng Fu Hong
Heng, Brandon
Brandon Heng Fu Hong
HENG, BRANDON
HENG, FU HONG, BRANDON
HENG, FU HONG BRANDON
Mohamed, Haja Fayiz
Osman, Amir Rusyaidi
nan
Goh, Shaun
Shaun Goh
Ethan Yan
TAN, AARON JUSTIN
Tan, Aaron Justin
Rui Yong Soh
YEE, ERIC CHUN WAI
Yee, Eric
YEE CHUN WAI, ERIC
Eric Yee Chun Wai
Yee Chun Wai, Eric
Yee, Chun Wai, Eric
Yee Chun Wai, Eric
YEE, ERIC CHUN WAI
Lim, Oliver
Jie Cong Jayden, Tan
TAN , JIE CONG, JAYDEN
Tan, Jayden
Chia, Shawn
CHIA, WEI EN, SHAWN
Chia Wei En, Shawn
Wei En Shawn, Chia
Shawn Chia Wei En
CHIA, SHAWN WEI EN
Ong Ying Tat
Ong Ying Tat Q
nan
Jun Jie Calvin Quek
PERCY MUNCHERJI, ZUBIN
Muncherji, Zubin
MUNCHERJI, ZUBIN PERCY
Zubin Percy Muncherji
Lucas Le Cong Fun
Fun Le Cong, Lucas
Fun Le Cong, Lucas Q
Fun, Le Cong Lucas
FUN, LE CONG LUCAS
Jing Heng Ng
Ng, Jing Heng
Mohamed, Haja Fayiz
Osman, Amir Rusyaidi
Wei Guan, Chong
Chong, Wei Guan
LIM, CHUN KHAI, JON
Lim, Jon
S/O SUBASH SOMAN, PRAHARSH RYAN
Ryan, Praharsh
Ryan Praharsh
PRAHARSH, RYAN
Ong Ying Tat
Ong Ying Tat Q
Tan Hong An, Daryl
Tan Daryl
Tan, Daryl
Tan, Tate
Xander Ho Ann Heng
Ho, Xander Ann Heng
HO, XANDER, ANN HENG
XANDER, HO ANN HENG
Ho Ann Heng, Xander
Raphael, Ryan
NG, RYAN RAPHAEL
Chua, Joshua
Kerstin Ong Jing Rong
Ong, Kerstin
Yee, Wai Teng Melissa
YEE WAI TENG, MELISSA
Rachel See Boon Lay
SNG, MICHELLE
SNG, SUAT LI, MICHELLE
Michelle Sng Suat Li
Sng, Michelle
Michelle Sng Suat Li
Vanessa Lee Ying Zhuang
Lee Ying Zhuang, Vanessa
Lee, Vanessa
Sam, Vanessa
Syed Ahmed Riadh, Sharifah Falisha
Sharifah Falisha Binte Syed Ahmed
Han Qi Feng
FENG HAN QI
Han Qi Feng
Feng Han Qi
Feng, Han Qi
Tay, Esther SHEE WEI
Esther Tay
TAY, ESTHER SHEE WEI
TAY, ESTHER
Tay, Esther
ESTHER TAY SHEE WEI
CHEW, JADE
Jade, Chew Yiu Tse
Chew, Jade
CHEW, YIU TSE JADE
Chew, Yiu Tse Jade
Lim Yee Chern Clara Q
LIM, YEE CHERN CLARA
Clara Lim Yee Chern
Lim, Clara
Lim Yee Chern Clara
YEE CHERN CLARA LIM
Chuhan Zhong
Megan Anne Ying Ka Mun Q
Chloe Chee En-Ya
En-ya, Chloe
Chee Chee En-ya, Chloe
Chloe Chee En-Ya Q
En-ya, Chloe
Chee En-ya, Chloe
Tia Louise Rozario
Rozario, Tia Louise
Shing Ling Goh
Goh, Shing Ling
Xiu Yi, Leong
FOO, NATALIE ZHI NING
Foo, Natalie
Yu En Bernice, Tan
Tan, Yu En Bernice
Tan, Bernice
Tan Yu En Bernice q
Tan Yu En Bernice Q
TAN, YUN RU BERNICE
Romaine Soh
Soh, Romaine
Soh, Rui Min Romaine
Koh Shun Yi Audrey
Koh Shun Yi Audrey Q
Shun Yi Audrey Koh
KOH SHUN YI AUDREY
Ford Faith
Faith Zhen Ford
Ford, Faith
FORD, FAITH
D/O JAIGANTH, LAAVINIA
Jaiganth, Laavinia
Laavina Jaganith
Chong Le Xuan, Chloe
CHONG, LE XUAN, CHLOE
CHONG, CHLOE LE XUAN
CHUA HSIN-WEN CLARA
Chua Hsin-Wen Clara
Chua Hsin-Wen Clara Q
HSIN-WEN CLARA, Chua
CHUA HSIN-WEN CLARA
Chua, Clara Q