In [36]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
# Import usual modules
import pandas as pd
import csv
import math
import os
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import openpyxl
import datetime
from scipy.stats import lognorm
import re
import string
from bs4 import BeautifulSoup
import requests
import unicodedata # for removing accented characters

import pdfplumber

In [255]:
os.getcwd()
#os.chdir("/Users/veesheen/Desktop")

'/Users/veesheenyuen/code/veeyuen/SAA'

# Extract results from NSG

In [271]:
if 'Disqualified' in fragment:
    fragment.insert(7, ' ')
    
else:
    fragment.insert(len(fragment), ' ')

In [573]:
import re

pattern='[A-Z]{2,5}'

for i in range(len(fragment)):

    if re.search(pattern, fragment[i]):
        print(i, re.search(pattern, fragment[i]))
        index=i  # set index to second value if there are two uppercase values encountered
        print(index)

1 <re.Match object; span=(0, 4), match='CHIJ'>
1
6 <re.Match object; span=(0, 3), match='SNG'>
6

In [384]:
# Regex pattern testing

#pattern='([A-Z][a-z]+\s){2,4}'

#pattern='\d{1,3}{(?<=\s)[A-Z]{3,5}'

#pattern='[A-Z]{2,4}'

pattern='\d\s\[A-Z]{3,}(?=Q|q|[0-9]{2,3})'


#string='8 CHIJ Sec (Toa Payoh) HIJ 2 7 00:54.31'
#string='999 Chestnut Drive Sec CDS 2 3 Withdrawal'
#string='7 CHIJ Katong Convent KC 5 7 00:54.10'
#string = '1 XIN BOWEN 587 HCI Finals 6 40.15 9'


#matches=re.finditer(pattern, string)

matches=re.findall(pattern, string)

print(matches)

#print(type(matches))

#for match in matches:
#    print(match)

[]

In [126]:
# Test splicing and extracting name

#s = "4 PHOEBE ANG KE WEI Q 800 CGS h4 2 01:05.62"
#s="2 Sarah Chong Xin RI 1 12 4.78 7"
#s='7 CHIJ Katong Convent KC 5 7 00:54.10'
#s='4 WANG HANCHEN 584 HCI Finals 1 36.79 5'
#s='1 XIN BOWEN 587 HCI Finals 6 40.15 9'
#s='3 SINGAPORE SPORTS SCHOOL Q 598 SSP h1 3 04:32.84'
s='16 TEMASEK SECONDARY SCHOOL 873 TMS h4 3 05:08.64'

lpos = re.search('\s', s)
#rpos = re.search('\b[A-Z]{2-4}\b\d', s)

#rpos = re.search('\sQ\s', s)
#rpos = re.search('\s[A-Z]{2,4}?', s)
#rpos = re.search('\s[0-9]{1,3}?|\sQ\s[0-9]{1,3}?|\s[A-Z]{2,4}\s\d?', s)
rpos = re.search('\d\s.{5,40}?\s(Q|q|\d)', s)



split_pos_end=rpos.end()-1
split_pos_start=lpos.start()+1



l = s[:lpos.start()]
r = s[rpos.start():]

#name=s[lpos.start():rpos.start()]

name=s[split_pos_start:split_pos_end]

print(name)

TEMASEK SECONDARY SCHOOL

In [87]:
# test regex for event name extraction

s='Event: S13-09 Discus - B DIVISION BOYS Finals'
event_pattern=':\s.{5,20}\s\-'


re.search(event_pattern, s)

In [38]:
# Test pdfplumber

#os.chdir('/Users/veesheenyuen/Desktop/DataScience/SAA/NSG/sectrack_audit_2010_1-1')
#os.chdir('/Users/veesheenyuen/Desktop/DataScience/SAA/NSG/Session 13_1-4/')
#os.chdir('/Users/veesheenyuen/Desktop/DataScience/SAA/NSG/Session 13_1-4/Session 13_5-6_1-1/') 
os.chdir('/Users/veesheenyuen/Desktop/DataScience/SAA/MM/') 


import pdfplumber

#file="sectrack_audit_2010_211-211.pdf"
#file="Session 13_13-end.pdf"
#file="Session 13_1-4.pdf"
#file="sectrack_audit_2010_28-28.pdf"
#file="Session 13_5-6.pdf"
#file='Session 13_5-6_2-end.pdf'   # stranded pdf
file='SGO24.pdf'


#table_settings = {
#    "vertical_strategy": "text",
#    "horizontal_strategy": "text",
#    }


with pdfplumber.open(file) as pdf:
    
    page = pdf.pages[0]
    table=page.extract_table()
    text=page.extract_text()


splitted=text.splitlines()

splitted

["Singapore Athletics Assoc.-Open Champ - Organization License Hy-Tek's MEET MANAGER 9:03 PM 19 Apr 2024 Page 1",
 '84th Singapore Open Track & Field - 18 Apr 2024 to 19 Apr 2024',
 'Championships 2024',
 'Singapore Sportshub',
 'Results',
 'Event 101 Women Shot Put Open',
 '=========================================================================',
 'Name Age Team Seed Finals',
 '=========================================================================',
 'Flight 1',
 '1 # 154 Intadis, Areerat 28 Thailand 16.71m 14.66m',
 '13.78m 14.41m X 14.29m 14.34m 14.66m',
 '2 # 84 Yee Wai Teng, Mel 26 Singapore 12.01m 10.60m',
 'X 10.33m X 10.16m 10.60m 10.44m',
 '3 # 172 Neo, Ee Nin 18 Wings Athlet 9.21m 9.32m',
 '8.31m 9.30m 9.17m 8.56m 9.32m 8.59m',
 'Event 102 Women 1500 Meter Run Open',
 '=========================================================================',
 'Name Age Team Seed Finals',
 '=========================================================================',
 'Section 1',
 '1 # 41 Nur Nirwani, Novi 25 Indonesia 4:35.82 4:28.03',
 '2 # 176 Soh, Romaine 30 Wings Athlet 5:00.17 4:44.13',
 '3 # 77 Lee, Vanessa 26 Singapore 5:18.63 4:51.73',
 '4 # 76 Ford, Faith 19 Singapore 5:00.45 4:53.11',
 '5 # 48 Kuchenbuch, Natal 17 JS Athletics 5:03.97 4:57.92',
 '6 # 137 Lum Wai Yan, Jane 19 T360 5:21.00 5:13.81',
 '7 # 49 Gan, Steffi 25 Lacticbuds 5:13.67 5:15.14',
 'Event 103 Men 1500 Meter Run Open',
 '=========================================================================',
 'Name Age Team Seed Finals',
 '=========================================================================',
 '1 # 138 Kumar Bohara, Pra 23 T360 4:14.50 4:17.61',
 '2 # 51 Ong, Jacky 27 Lacticbuds 4:16.30 4:18.98',
 '3 # 89 Fayiz, Mohamed Ha 35 Singapore 4:10.49 4:22.73',
 '-- # 116 Goh, Aldrich 23 Singapore In 4:18.00 DNS TR4.4.1',
 'Event 104 Women Javelin Throw Open',
 '=========================================================================',
 'Name Age Team Seed Finals',
 '=========================================================================',
 'Flight 1',
 '1 # 156 Wichaidit, Jiraya 28 Thailand 52.60m 53.65m',
 '53.65m 48.44m X 51.48m 52.34m X',
 '2 # 132 Lee, Gahui 26 South Korea 54.68m 51.11m',
 '45.61m 41.12m 45.58m 51.11m 48.85m X',
 '3 # 75 Feng, Han QI 18 Singapore 34.55m 34.16m',
 '32.53m 30.16m 31.97m 31.72m 34.16m 28.60m',
 '4 # 27 Seah, Michelle 25 Flash Athletic Club 30.35m 29.62m',
 '29.62m 25.75m 27.99m 26.49m 29.47m 29.35m',
 'Event 105 Men 400 Meter Dash Open',
 '=========================================================================',
 'Name Age Team Seed Prelims',
 '=========================================================================',
 'Heat 1 Preliminaries',
 '1 # 157 Yuyamadu, Lakki 20 Thailand 47.97 49.10Q',
 '2 # 126 Muthukumaran, Raa 20 Singapore Sp 50.24 49.59Q',
 '3 # 149 Ibrahim Molokwu, 18 TeamFabian 50.99 50.04Q']

In [42]:
print(table)

None

In [210]:
pd.DataFrame(splitted)

                                               0
0  23 BUKIT VIEW SECONDARY 999 BTV h3 4 05:51.77
1                                         SCHOOL
2                                              /

In [35]:
def old_assign(table):

    global index
    
    exclusions=[]
    
    df=pd.DataFrame(table)
    columns=df.iloc[6,0]
    names=columns.split(' ')

    df2 = pd.DataFrame(columns=names)
    
    new_df = df2.iloc[:, :-2]    # remove last 2 extraneous columns
     
    
    for i in range(7,(len(df)-1)):
            
            
        if not re.search('^\d', table[i]): # skip row if disqualified or withdrawn (does not begin with a digit)

            
            continue

            
        s=table[i]
        
        lpos = re.search('\s', s)
        #rpos = re.search('\sQ\s', s)
        #rpos = re.search('\s[A-Z]{2,4}', s)
        
        matches=re.findall('\s[A-Z]{2,4}', s)  # find how many uppercase shortforms for school
        
        if len(matches)==2:
            rpos=re.search(matches[1], s)
        else:
            rpos = re.search('\s[A-Z]{2,4}', s)

            
        # Splice string to extract name of competitor

            
        l = s[:lpos.start()] # left string post splicing
        r = s[rpos.start():] # right string post slicing
         
        name=s[lpos.start():rpos.start()] # extract competitor name
                
        list=r.split(' ')        

        combined=l+ ',' + name + ', '.join(list)

        row=combined.split(",")
                        
        if len(row)!=6:
            
            n=len(row)-6
            row = row[: len(row) - n]  # delete last n elements from list to makt it 6 columns                 
                    
        new_df.loc[len(new_df)] = row

    return new_df

In [36]:
old_assign(splitted)

/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/484862590.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row

   Pos                      Competitor      Team    Ht  Ln     Result
0    1              Shawn Poh Zhi Kang       SKS    13   7   00:24.20
1    2                   Liaw Jian Hui       AMK     3   7   00:24.68
2    3           Zubin Percy Muncherji   ACS(BR)     8   7   00:24.77
3    4             Terence Loh Junheng    ACS(I)     2   4   00:24.84
4    5                Md Nur Syahirran       SSP    10   3   00:24.90
5    6                     Ong Sin Yao       CCH     2   7   00:24.97
6    7             Wu Chee Keen Daniel       DSS     9   1   00:25.05
7    8           Jonathan Lew Lian Xin        RI    11   5   00:25.06
8    9                    Ang Li Sheng       AND     2   6   00:25.16
9   10                     Teo Yu Ming        RI     6   6   00:25.62
10  11             Clyde Tan Jin Shuen    ACS(I)     8   6   00:25.68
11  12                 Chua Cheng Ying       SJI    13   6   00:25.69
12  13                      Puah Li An       NTS     4   5   00:25.70
13  14   Raymond Scott Lee Chian Hoong       SJI     2   5   00:25.84
14  15                Ridwan Bin Yahya       TMS     1   8   00:25.85
15  16                Tan Hui Ming Zac       NSS     5   8   00:25.89
16  17                 Daryl Shane Lee       TMS     5   5   00:25.93
17  18          Chin Yew Chung Kennard       SJI     4   7   00:26.08
18  19                        Amos Tan       SAS     9   2   00:26.09
19  20              Ryan Leong Jun Yan       SKS     3   4   00:26.10
20  21         Muhammad Firman B Jumat       AMK     7   6   00:26.17
21  22              Tiew Zi Hao Andrew       SPS     5   7   00:26.21
22  23                     Abdul Halim       SKS     7   7   00:26.23
23  24            Aryobimo Wibowoputro       AMK     8   4   00:26.24
24  25                    Ong Kai Ming       CCK     1   3   00:26.26
25  26            Gabriel Lau Yu Sheng        HY     3   8   00:26.30
26  27                  Nian Ding Chao       AIS     2   3   00:26.37
27  28               Zuhairi Bin Anuar       SSP     8   1   00:26.46
28  29                         Shafeeq       NAS     5   2   00:26.50
29  30                   Ong Shao Ming       BTV    12   3   00:26.53
30  31                     Ng Zin Tiao     Brent   SPS   4          2
31  32       Richmond Sugita Tadayoshi       SSP     9   7   00:26.58
32  33                  Wang Xian Yang    Jerrel    CH   9          3
33  34            Aloysius Yeo Rui Sen       TMS     4   4   00:26.84
34  35                   Tan Qin Xiang       HCI     1   2   00:26.90
35  36                 Tobias Tan Ning       DHS    10   4   00:26.92
36  37                    Benjamin Ong        BV    11   3   00:26.99
37  37                 Phang Yong Kang       CCH     9   4   00:26.99
38  39                      Jerald Saw       SAS     3   3   00:27.02
39  40           Daniel Boey Kai Sheng        RI     1   4   00:27.04

In [73]:
# Old version- does not capture REMARKS and NR columns

def new_format_parser(row_index, names, table, master_df):
            
    # Define regex patterns
    
    new_pattern='\d\s.{5,40}?\s(Q|q|\d)'
    
    old_pattern='\s[A-Z]{2,4}|\s[0-9]{1,3}?|\sQ\s[0-9]{1,3}?' 
    
    event_pattern='\:\s.{5,30}\s(\-|\()'

    school_pattern='\s[A-Z]{2,4}'  # find how many uppercase shortforms for school
    
    year_pattern='\d\d\d\d'
    
    stranded = "no"  # flag for stranded pdf pages

        
    # Put table that has been processed into a dataframe
    
    df=pd.DataFrame(table)
            
    columns=[]
    
    
    # Initialize new df and remove unnecessary columns
    
    if row_index!=0 and names is not None: #check that its coming from not a stranded pdf with no header
            
        df2 = pd.DataFrame(columns=names)        
    
        new_df = df2.iloc[:, :-2]    # remove 'Remarks' and 'NR' columns
    
    else:
        
        print('reached this first point for a stranded pdf')
        
        stranded="yes"
        
        new_df = master_df.iloc[:0] # new_df columns to come from the master df
        
        row_index=-1  # move back row_index for a stranded pdf
        
    
#    for i in range(row_index+1,(len(df)-1)):  # iterate over df - only stranded pdf should start from zero. Previous code - revert to original  


#  check for stranded pdfs with stranded names

    for i in range(row_index+1,(len(df))):  # iterate over df - only stranded pdf should start from zero        

        
        if 'DNM' in table[i]:
                    
            continue # skip row if DNM, DQ, DNF etc.
                                    
        if not re.search('^\d', table[i]): # look for stranded parts of names (does not begin with a digit). But need to test for standed names in stranded pdf
        
        
            try:  # remove try block to revert back to previous working state
                
                row[1]=row[1]+table[i] # retrieve previous row and add back stranded string to name. Stranded pdf will throw and error here
                
                new_df.drop(new_df.tail(1).index,inplace=True) # drop last row with incomplete name
                                        
                new_df.loc[len(new_df)] = row  # add back amended row
                
                print(row)
                                    
                continue  # then skip to next row
            
            except:
                
                print('reached this second point for a stranded pdf')
                
                pass                 # move on if it is actually a stranded pdf
                              
                
        string=table[i] 
        
        print(string)
                                
        lpos = re.search('\s', string)
        rpos = re.search(new_pattern, string)
                                            
            
        # Splice string to extract name of competitor

        split_pos_end=rpos.end()-1      # adjust the splicing position to only capture the name
        split_pos_start=lpos.start()+1

            
        left_string = string[:lpos.start()] # left string post splicing
        right_string = string[split_pos_end:] # right string post slicing
                         
        name=string[split_pos_start:split_pos_end]  # extract competitor name
                                        
        list=right_string.split(' ')        # put everything coming after the name into a list   
                
                
        if len(list)==6:    # check length of list. If less than 7, append blank fields for Pos and W/G 
                    
            list.extend([' ', ' '])
                    
        elif len(list)==5:
                    
            list.extend([' ', ' '])
                                                            
                
        combined=left_string+ ';' + name +'; '+ '; '.join(list)  # use ';' in case names have a ','

        row=combined.split(';')        
                                                                             

        # check if Q or q between tag and name. If not, fill in with empty space.
        # don't overwrite master df if there is a stranded pdf
                
        if row[2].strip()=='Q' or row[2].strip()=='q' or row[2] is None :
                    
            new_df.loc[len(new_df)] = row
                        
#            master_df=new_df      # previous

        else:
                    
            row.insert(2, ' ')  # insert a blank field if no Q or q    
            
            print(row)
                
            new_df.loc[len(new_df)] = row
            
            
# QAed to this point for a stranded pdf. Need to figure out how to attach stranded row to master df
            
            
#            master_df=new_df      # previous   

    
    return new_df

In [97]:
def extraction_old(table, master_df):  # old version without calling new_format_parser function

    global index
        
        
    # Regex patterns to extract competitor names, event name etc.
    
    #new_pattern='\d\s.{5,20}\s\d' # look for text between two numbers or Q/q
    
    #new_pattern='\d\s[A-Z\s\,]{5,30}\s\d' # look for text between two numbers or Q/q
    
    #new_pattern='^[A-Z\s]*$'
    
    new_pattern='\d\s.{5,40}?\s(Q|q|\d)'
    
    old_pattern='\s[A-Z]{2,4}|\s[0-9]{1,3}?|\sQ\s[0-9]{1,3}?' 
    
    event_pattern='\:\s.{5,30}\s(\-|\()'

    school_pattern='\s[A-Z]{2,4}'  # find how many uppercase shortforms for school
    
    year_pattern='\d\d\d\d'

    
    # Initialize new df and extract event information
    
    df=pd.DataFrame(table)
    
    columns=[]
    
    
    for index, row in df.iterrows(): # find row containing event details and column names
        
        
        if 'Event' in row[0]: # data is in column '0' 
            
            event=row[0]   # set string for extraction of event info
            
                        
            epos = re.search(event_pattern, event)
                        
            split_end=epos.end()-1      # adjust the splicing position to only capture the event name
            split_start=epos.start()+1

            event=event[split_start:split_end]
                                    
            
            if 'BOYS' in event or 'Boys' in event:
                gender='Male'
                
            if 'GIRLS' in event or 'Girls' in event:
                gender='Female'    
                
            
            if 'Finals' in event:
                round='Finals'
            
            region='Local'  
            
       
            
        if 'Competitor' in row[0]: # extract column names
            
            row_index=index
            columns=df.iloc[row_index,0]
            names=columns.split(' ')
            
    
    
    
    # Check pdf format and begin extraction of results
    
    if 'W/G' not in columns:  # if older pdf format without a 'W/G column'
            
        df2 = pd.DataFrame(columns=names)        
    
        new_df = df2.iloc[:, :-2]    # remove Remarks and N/R columns
         
        for i in range(row_index+1,(len(df)-1)):                    
            
            if not re.search('^\d', table[i]): # skip row if disqualified or withdrawn (does not begin with a digit)
            
                continue
       
            string=table[i]
                                
            lpos = re.search('\s', string)
                #rpos = re.search('\sQ\s', s)
                #rpos = re.search('\s[A-Z]{2,4}', s)
            
            matches=re.findall(school_pattern, string)  # find how many uppercase shortforms for school
                                
            if len(matches)==2:
                
                rpos=re.search(matches[1], string) # choose second match if there are two 
                    
            else:
                    
                rpos = re.search(old_pattern, string)
                
            
        # Splice string to extract name of competitor

            
            l = string[:lpos.start()] # left string post splicing
            r = string[rpos.start():] # right string post slicing
         
            name=string[lpos.start():rpos.start()] # extract competitor name
                                
            list=r.split(' ')   # split the parts after the name    
            
            combined=l+ ',' + name + ', '.join(list)

            row=combined.split(",")
                        
                        
            if ('W/G' not in names) and len(row)!=6:  # if W/G not in list of columns
            
                n=len(row)-6
                row = row[: len(row) - n]  # delete last n elements from list to makt it 6 columns  
            
            elif ('W/G' in names) and len(row)>8:
            
                n=len(row)-8
                row = row[: len(row) - n]  # delete last n elements from list to makt it 6 columns  
                                        
            new_df.loc[len(new_df)] = row
            
        return new_df
            
    elif 'W/G' in columns: # new format 
            
            df2 = pd.DataFrame(columns=names)        
    
            new_df = df2.iloc[:, :-2]    # remove 'Remarks' and 'NR' columns        

         
            for i in range(row_index+1,(len(df)-1)):
                                
                if 'DNM' in table[i]:
                    
                    continue # skip row if DNM, DQ, DNF etc.
                            
                if not re.search('^\d', table[i]): # look for stranded parts of names (does not begin with a digit)
            
                    row[1]=row[1]+table[i] # retrieve previous row and add back stranded string to name
                
                    new_df.drop(new_df.tail(1).index,inplace=True) # drop last row with incomplete name
                                        
                    new_df.loc[len(new_df)] = row  # add back amended row
                    
                    continue  # then skip to next row
                              

                string=table[i]
                                
                lpos = re.search('\s', string)
                rpos = re.search(new_pattern, string)
                                            
            
        # Splice string to extract name of competitor

                split_pos_end=rpos.end()-1      # adjust the splicing position to only capture the name
                split_pos_start=lpos.start()+1

            
                left_string = string[:lpos.start()] # left string post splicing
                right_string = string[split_pos_end:] # right string post slicing
                         
                name=string[split_pos_start:split_pos_end]  # extract competitor name            
                                
                list=right_string.split(' ')        # put everything coming after the name into a list   
                
                
                if len(list)==6:    # check length of list. If less than 7, append blank fields for Pos and W/G 
                    
                    list.extend([' ', ' '])
                    
                elif len(list)==5:
                    
                    list.extend([' ', ' '])
                                                            
                
                combined=left_string+ ';' + name +'; '+ '; '.join(list)  # use ';' in case names have a ','

                row=combined.split(';')
                                                                                
                
        # check if Q or q between tag and name. If not, fill in with empty space.
        
                
                if row[2].strip()=='Q' or row[2] is None:
                    
                    pass
                    
                else:
                    
                    row.insert(2, ' ')  # insert a blank field if no Q or q
                    
                                            
                new_df.loc[len(new_df)] = row
                
                print(row)
                    
                    
            return new_df

In [40]:
master_df=None

master_df=extraction_old(splitted, master_df)  # using old extraction function

0 Singapore Schools Sports Council 14-04-2010
1 51st National Inter-School Track and Field Championships 2010 10:02 PM
2 Audit List Page 28
3 Event : 200 Metres (C-Boys) Type : All Heats
4 02-03
5 Record : Mohd Yusof Bin Azhari SJI 2003 ET 00:22.99s
6 Pos Competitor Team Ht Ln Result Pts Remark
7 1 Shawn Poh Zhi Kang SKS 13 7 00:24.20
8 2 Liaw Jian Hui AMK 3 7 00:24.68
9 3 Zubin Percy Muncherji ACS(BR) 8 7 00:24.77
10 4 Terence Loh Junheng ACS(I) 2 4 00:24.84
11 5 Md Nur Syahirran SSP 10 3 00:24.90
12 6 Ong Sin Yao CCH 2 7 00:24.97
13 7 Wu Chee Keen Daniel DSS 9 1 00:25.05
14 8 Jonathan Lew Lian Xin RI 11 5 00:25.06
15 9 Ang Li Sheng AND 2 6 00:25.16
16 10 Teo Yu Ming RI 6 6 00:25.62
17 11 Clyde Tan Jin Shuen ACS(I) 8 6 00:25.68
18 12 Chua Cheng Ying SJI 13 6 00:25.69
19 13 Puah Li An NTS 4 5 00:25.70
20 14 Raymond Scott Lee Chian Hoong SJI 2 5 00:25.84
21 15 Ridwan Bin Yahya TMS 1 8 00:25.85
22 16 Tan Hui Ming Zac NSS 5 8 00:25.89
23 17 Daryl Shane Lee TMS 5 5 00:25.93
24 18 Chin Yew Chung Kennard SJI 4 7 00:26.08
25 19 Amos Tan SAS 9 2 00:26.09
26 20 Ryan Leong Jun Yan SKS 3 4 00:26.10
27 21 Muhammad Firman B Jumat AMK 7 6 00:26.17
28 22 Tiew Zi Hao Andrew SPS 5 7 00:26.21
29 23 Abdul Halim SKS 7 7 00:26.23
30 24 Aryobimo Wibowoputro AMK 8 4 00:26.24
31 25 Ong Kai Ming CCK 1 3 00:26.26
32 26 Gabriel Lau Yu Sheng HY 3 8 00:26.30
33 27 Nian Ding Chao AIS 2 3 00:26.37
34 28 Zuhairi Bin Anuar SSP 8 1 00:26.46
35 29 Shafeeq NAS 5 2 00:26.50
36 30 Ong Shao Ming BTV 12 3 00:26.53
37 31 Ng Zin Tiao, Brent SPS 4 2 00:26.55
38 32 Richmond Sugita Tadayoshi SSP 9 7 00:26.58
39 33 Wang Xian Yang, Jerrel CH 9 3 00:26.73
40 34 Aloysius Yeo Rui Sen TMS 4 4 00:26.84
41 35 Tan Qin Xiang HCI 1 2 00:26.90
42 36 Tobias Tan Ning DHS 10 4 00:26.92
43 37 Benjamin Ong BV 11 3 00:26.99
44 37 Phang Yong Kang CCH 9 4 00:26.99
45 39 Jerald Saw SAS 3 3 00:27.02
46 40 Daniel Boey Kai Sheng RI 1 4 00:27.04
47 AppName : Flash2000 Master 2010.04.14a RptName : fmRptA4ListAuditSession

/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row
/var/folders/q5/yf8g5p896_b94gkbhqcjx3t40000gn/T/ipykernel_67368/2665074277.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[len(new_df)] = row

In [30]:
master_df

  Pos                       Competitor   Team  Ht  Ln     Result
0   1          Singapore Sports School    SSP   1   4   00:49.67
1   2   CHIJ St Nicholas Girls' School    SNG   1   5   00:51.41
2   3       Nanyang Girls' High School   NYGH   1   6   00:52.25
3   4          Cedar Girls' Sec School     CG   1   3   00:52.90
4   5             CHIJ Sec (Toa Payoh)    HIJ   1   7   00:53.88
5   6              CHIJ Katong Convent     KC   1   2   00:55.58
6   7           North Vista Sec School     NV   1   8   00:55.69
7   8      Raffles Girls' School (Sec)    RGS   1   1   00:57.27

In [341]:
# Extract list of primary and secondary schools
# Using BS4

URL ='https://en.wikipedia.org/wiki/List_of_secondary_schools_in_Singapore'
page=requests.get(URL)

soup=BeautifulSoup(page.content, 'html.parser')

In [342]:
# Creating list with all tables
tables = soup.find_all('table')

#  Looking for the table with the classes 'wikitable' and 'sortable'
table = soup.find('table', class_='wikitable')

In [343]:
for a in soup.find_all('table'):
    print(a.text)

Name
Type
SchoolCode
Area[4]
Notes / Affiliations (Admissions / Academic Programmes)
Website


Admiralty Secondary School
Government
3072
Woodlands

[1]


Ahmad Ibrahim Secondary School
Government
3201
Yishun

[2]


Anderson Secondary School
GovernmentAutonomous
3001
Ang Mo Kio

[3]


Anglican High School
Government-aidedAutonomousSAP

7101
Bedok

[4]


Anglo-Chinese School (Barker Road)
Government-aided
7032
Newton
Affiliated to:
Methodist Girls' School (Secondary)

[5]


Anglo-Chinese School (Independent)
IndependentIP
IP:9161Express:7001

Queenstown

Offers the International Baccalaureate certificate
Affiliated to:
Methodist Girls' School (Secondary) (IP)

[6]


Ang Mo Kio Secondary School
Government
3026
Ang Mo Kio

[7]


Assumption English School
Government-aided
7002
Bukit Panjang

Affiliated to:
Catholic Junior College (Non-IP)[5]

[8]


Bartley Secondary School
Government
3002
Toa Payoh

[9]


Beatty Secondary School
Government
3003
Toa Payoh

[10]


Bedok Green Secondary School
Government
3069
Bedok

[11]


Bedok South Secondary School
Government
3027
Bedok

[12]


Bedok View Secondary School
Government
3225
Bedok

[13]


Bendemeer Secondary School
Government
3021
Kallang

[14]


Boon Lay Secondary School
Government
3224
Jurong West

[15]


Bowen Secondary School
Government
3043
Hougang

[16]


Broadrick Secondary School
Government
3202
Geylang

[17]


Bukit Batok Secondary School
Government
3044
Bukit Batok

[18]


Bukit Merah Secondary School
Government
3203
Bukit Merah

[19]


Bukit Panjang Government High School
GovernmentAutonomous
3204
Choa Chu Kang

[20]


Bukit View Secondary School
Government
3040
Bukit Batok

[21]


Catholic High School
Government-aidedAutonomousSAPIP

IP:9131Special:7102

Bishan

Affiliated to:
Eunoia Junior College (IP)
Singapore Chinese Girls' School (IP), CHIJ Saint Nicholas Girls' School (IP)
Catholic Junior College (Non-IP)

[22]


Canberra Secondary School
Government
3621
Sembawang

[23]


Cedar Girls' Secondary School
GovernmentAutonomousIP

IP:9152Express:3004

Toa Payoh

Affiliated to:
Victoria Junior College (IP)
Victoria School (IP)

[24]


Changkat Changi Secondary School
Government
3402
Simei

[25]


CHIJ Katong Convent (Secondary)
Government-aidedAutonomous
7008
Marine Parade

Affiliated to:
Catholic Junior College (Non-IP)
CHIJ Katong (Primary)

[26]


CHIJ Secondary (Toa Payoh)
Government-aidedAutonomous
7004
Toa Payoh

Affiliated to:
Catholic Junior College (Non-IP)
CHIJ Primary (Toa Payoh)

[27]


CHIJ St. Joseph's Convent
Government-aided
7019
Sengkang

Affiliated to:
Catholic Junior College (Non-IP)
CHIJ Our Lady of the Nativity & CHIJ Our Lady of Good Counsel

[28]


CHIJ St. Nicholas Girls' School
Government-aidedAutonomousSAPIP

IP:9134Special:7118

Ang Mo Kio

Affiliated to:
Eunoia Junior College (IP), Singapore Chinese Girls' School (IP) & Catholic High School (IP)
Catholic Junior College (Non-IP)
CHIJ St. Nicholas Girls' School (Primary)

[29]


CHIJ St. Theresa's Convent
Government-aided
7023
Bukit Merah

Affiliated to:
Catholic Junior College (Non-IP)
CHIJ (Kellock), CHIJ Our Lady Queen of Peace

[30]


Chua Chu Kang Secondary School
Government
3055
Choa Chu Kang

[31]


Christ Church Secondary School
Government-aided
7025
Woodlands

Affiliated to:
St. Andrews Junior College (Non-IP)

[32]


Chung Cheng High School (Main)
Government-aidedAutonomousSAP

7104
Marine Parade

Affiliated to:
Nanyang Junior College (Non-IP)
Chung Cheng High School (Yishun) (Non-IP)

[33]


Chung Cheng High School (Yishun)
Government-aided
7105
Yishun

Affiliated to:
Nanyang Junior College (Non-IP)
Chung Cheng High School (Main) (Non-IP)

[34]


Clementi Town Secondary School
Government
3029
Clementi

[35]


Commonwealth Secondary School
GovernmentAutonomous

3012
Jurong East

[36]


Compassvale Secondary School
Government
3622
Sengkang

[37]


Crescent Girls' School
GovernmentAutonomous
3005
Bukit Merah

[38]


Damai Secondary School
Government
3056
Bedok

[39]


Deyi Secondary School
Government
3228
Ang Mo Kio

[40]


Dunearn Secondary School
Government
3503
Bukit Batok

[41]


Dunman High School
GovernmentAutonomousSAPIP

3101
Kallang

[42]


Dunman Secondary School
GovernmentAutonomous
3207
Tampines

[43]


East Spring Secondary School
Government
3609
Tampines

[44]


Edgefield Secondary School
Government
3075
Punggol

[45]


Evergreen Secondary School
Government
3623
Woodlands

[46]


Fairfield Methodist Secondary School
Government-aidedAutonomous
7309
Queenstown

Affiliated to:
Anglo-Chinese Junior College (Non-IP)
Fairfield Methodist School (Primary)

[47]


Fuchun Secondary School
Government
3024
Woodlands

[48]


Fuhua Secondary School
Government
3614
Jurong West

[49]


Gan Eng Seng School
Government
3006
Bukit Merah

[50]


Geylang Methodist School (Secondary)
Government-aided
7005
Geylang

Affiliated to:
Anglo-Chinese Junior College (Non-IP)
Geylang Methodist School (Primary)

[51]


Greendale Secondary School
Government
3074
Punggol

[52]


Greenridge Secondary School
Government
3051
Bukit Panjang

[53]


Guangyang Secondary School
Government
3238
Bishan

[54]


Hai Sing Catholic School
Government-aided
7031
Pasir Ris

Affiliated to:
Catholic Junior College (Non-IP)

[55]


Hillgrove Secondary School
Government
3048
Bukit Batok

[56]


Holy Innocents' High School
Government-aided
7108
Hougang

Affiliated to:
Catholic Junior College (Non-IP)
Holy Innocents' Primary School

[57]


Hougang Secondary School
Government
3046
Hougang

[58]


Hua Yi Secondary School
Government
3226
Jurong West

[59]


Hwa Chong Institution
IndependentSAPIP

0806

Bukit Timah

Offers the Hwa Chong Diploma
Affiliated to:
Nanyang Girls' High School (IP)

[60]


Junyuan Secondary School
Government
3608
Tampines

[61]


Jurong Secondary School
Government
3211
Jurong West

[62]


Jurong West Secondary School
Government
3068
Jurong West

[63]


Jurongville Secondary School
Government
3063
Jurong East

[64]


Juying Secondary School
Government
3066
Jurong West

[65]


Kent Ridge Secondary School
Government
3619
Clementi

[66]


Kranji Secondary School
Government
3065
Choa Chu Kang

[67]


Kuo Chuan Presbyterian Secondary School
Government-aided
7028
Bishan

Affiliated to:
St. Andrews Junior College (Non-IP)
Kuo Chuan Presbyterian Primary School

[68]


Loyang View Secondary School
Government
3049
Pasir Ris

[69]


Manjusri Secondary School
Government-aided
7307
Geylang

Affiliated to:
Mee Toh School, Maha Bodhi School

[70]


Maris Stella High School
Government-aidedAutonomousSAP

7111
Toa Payoh

Affiliated to:
Catholic Junior College (Non-IP)
Maris Stella High School (Primary)

[71]


Marsiling Secondary School
Government
3615
Woodlands

[72]


Mayflower Secondary School
Government
3031
Ang Mo Kio

[73]


Meridian Secondary School

Government

3076

Pasir Ris



[74]


Methodist Girls' School (Secondary)
IndependentIP

IP:9162Express:7030

Bukit Timah

Affiliated to:
Anglo-Chinese School (Independent) (IP)
Methodist Girls' School (Primary)

[75]


Montfort Secondary School
Government-aided
7011
Hougang

Affiliated to:
Catholic Junior College (Non-IP)
Montfort Junior School

[76]


Nan Chiau High School
Government-aidedSAP

7112
Sengkang

Affiliated to:
Singapore Hokkien Huay Kuan

[77]


Nan Hua High School
GovernmentAutonomousSAP

3047
Clementi

[78]


Nanyang Girls' High School
IndependentSAPIP

7114
Bukit Timah

Offers the Hwa Chong Diploma
Affiliated to:
Hwa Chong Institution (IP)
Nanyang Primary School

[79]


National Junior College
Government
IP


0701
Bukit Timah

[80]


Naval Base Secondary School
Government
3214
Yishun

[81]


New Town Secondary School
Government
3507
Queenstown

[82]


Ngee Ann Secondary School
Government-aidedAutonomous

7310
Tampines

Affiliated to:
Ngee Ann Primary School

[83]


North Vista Secondary School
Government
3071
Sengkang

[84]


Northbrooks Secondary School
Government
3612
Yishun

[85]


Northland Secondary School
Government
3058
Yishun

[86]


NUS High School of Mathematics and Science
IndependentSpecialisedIP

7801

Clementi

Offers the NUS High School Diploma
Admit students through DSA and/or Independent Intake

[87]


Orchid Park Secondary School
Government
3605
Yishun

[88]


Outram Secondary School
Government
3215
Central

[89]


Pasir Ris Crest Secondary School
Government
3613
Pasir Ris

[90]


Pasir Ris Secondary School
Government
3235
Tampines

[91]


Paya Lebar Methodist Girls' School (Secondary)
Government-aidedAutonomous
7026
Hougang

Affiliated to:
Anglo-Chinese Junior College (Non-IP)
Paya Lebar Methodist Girls' School (Primary)

[92]


Pei Hwa Secondary School
Government-aided
3073
Sengkang

[93]


Peicai Secondary School
Government
3232
Serangoon

[94]


Peirce Secondary School
Government
3061
Bishan

[95]


Presbyterian High School
Government-aided
7308
Ang Mo Kio

Affiliated to:
St. Andrews Junior College (Non-IP)

[96]


Punggol Secondary School
Government
3070
Punggol

[97]


Queenstown Secondary School
Government
3508
Queenstown

[98]


Queensway Secondary School
Government
3007
Queenstown

[99]


Raffles Girls' School (Secondary)
IndependentIP

3008
Bishan

Offers the Raffles Diploma
Affiliated to:
Raffles Institution (IP)

[100]


Raffles Institution
IndependentIP

3009
Bishan

Offers the Raffles Diploma
Affiliated to:
Raffles Girls' School (IP)

[101]


Regent Secondary School
Government
3618
Choa Chu Kang

[102]


Riverside Secondary School
Government
3239
Woodlands

[103]


River Valley High School
GovernmentAutonomousSAPIP

3103
Boon Lay

[104]


St. Andrew's Secondary School
Government-aided
7015
Potong Pasir

[105]


St. Patrick's School
Government-aided
7022
Bedok

[106]


School of Science and Technology, Singapore
IndependentSpecialised
7805

Commonwealth West

Admit students through DSA and/or Independent Intake
Offers GCE O' Level certificate via the Special/Express course
Affiliated to:
Ngee Ann Polytechnic (IDP)

[107]


School of the Arts
IndependentSpecialised
7802

Dhoby Ghaut


Admit students through DSA and/or Independent Intake
Offers the International Baccalaureate certificate

[108]


Sembawang Secondary School
Government
3606
Sembawang

[109]


Sengkang Secondary School
Government
3607
Sengkang

[110]


Serangoon Garden Secondary School
Government
3509
Serangoon

[111]


Serangoon Secondary School
Government
3010
Hougang

[112]


Singapore Chinese Girls' School
IndependentIP

IP:9132Express:7014

Novena

Affiliated to:
Eunoia Junior College (IP), CHIJ St Nicholas Girls' School (IP) & Catholic High School (IP)
Singapore Chinese Girls' School (Primary)

[113]


Singapore Sports School
IndependentSpecialised

7800

Woodlands


Admit students through DSA and/or Independent Intake

[114]


Springfield Secondary School
Government
3053
Tampines

[115]


St. Anthony's Canossian Secondary School
Government-aidedAutonomous
7016
Bedok

Affiliated to:
Catholic Junior College (Non-IP)
Canossa Convent Primary School, St Anthony's Canossian Primary School

[116]


St. Gabriel's Secondary School
Government-aided
7017
Serangoon

Affiliated to:
Catholic Junior College (Non-IP)
St. Gabriel's Primary School

[117]


St. Hilda's Secondary School
Government-aided
7029
Tampines

Affiliated to:
St. Andrews Junior College (Non-IP)
St. Hilda's Primary School

[118]


St. Margaret's Secondary School
Government-aidedAutonomous
7021
Bukit Timah

[119]


St. Joseph's Institution
IndependentIP

IP:9141Express:7020

Novena

Affiliated to:
Catholic Junior College (Non-IP)
De la Salle School, St. Joseph's Institution Junior, St. Stephen's School, St. Anthony's Primary School

[120]


Swiss Cottage Secondary School
Government
3304
Bukit Batok

[121]


Tanglin Secondary School
Government
3511
Clementi

[122]


Tampines Secondary School
Government
3037
Tampines

[123]


Tanjong Katong Girls' School
GovernmentAutonomous
3013
Marine Parade

[124]


Tanjong Katong Secondary School
GovernmentAutonomous
3512
Marine Parade

[125]


Temasek Junior College
Government
IP


0702
Bedok

[126]


Temasek Secondary School
GovernmentAutonomous
3030
Bedok

[127]


Unity Secondary School
Government
3611
Choa Chu Kang

[128]


Victoria School
GovernmentAutonomousIP

IP:9151Express:3014

Marine Parade
Affiliated to:
Victoria Junior College (IP)
Cedar Girls' Secondary School (IP)

[129]


West Spring Secondary School
Government
3067
Bukit Panjang

[130]


Westwood Secondary School
Government
3620
Jurong West

[131]


Whitley Secondary School
Government
3015
Bishan

[132]


Woodgrove Secondary School
Government
3616
Woodlands

[133]


Woodlands Ring Secondary School
Government
3604
Woodlands

[134]


Woodlands Secondary School
Government
3041
Woodlands

[135]


Xinmin Secondary School
GovernmentAutonomous
3050
Hougang

[136]


Yio Chu Kang Secondary School
Government
3222
Ang Mo Kio

[137]


Yishun Secondary School
Government
3020
Yishun

[138]


Yishun Town Secondary School
GovernmentAutonomous
3045
Yishun

[139]


Yuan Ching Secondary School
Government
3223
Jurong West

[140]


Yuhua Secondary School
Government
3019
Jurong West

[141]


Yusof Ishak Secondary School
Government
3307
Punggol

[142]


Yuying Secondary School
Government-aided
7027
Hougang

[143]


Zhenghua Secondary School
Government
3617
Bukit Panjang

[144]


Zhonghua Secondary School
GovernmentAutonomous
3240
Serangoon

[145]




Name

Type

Area

Affiliated Denomination

Notes

Website


San Yu Adventist School

Private

Novena

Seventh-day Adventist Church



[146]



Name
Type
Area
Notes
Website


Madrasah Aljunied Al-Islamiah
Independent
Rochor


[147]


Madrasah Irsyad Zuhri Al-Islamiah
Independent
Braddell

[148]


Madrasah Al-Arabiah Al-Islamiah
Independent
Toa Payoh

[149]


Madrasah Al-Maarif Al-Islamiah
Independent
Geylang

[150]


Madrasah Alsagoff Al-Arabiah
Independent
Rochor

[151]


Madrasah Wak Tanjong Al-Islamiah
Independent
Paya Lebar


[152]




Name
Type
Area
Notes
Website


Crest Secondary School
Government
Jurong East

[153]


Spectra Secondary School
Government
Woodlands

[154]


vteEducation in SingaporeSchools
Primary schools
Secondary schools
list
Pre-University Centres
Junior Colleges
Centralised Institutes
Institute of Technical Education
Polytechnics
Autonomous universities
International schools
Madrasahs
Programmes
Direct School Admission
Edusave
Gifted Education Programme
Integrated Programme
President's Scholar
Programme for Rebuilding and Improving Existing schools
Provisional Admission Exercise
Special Assistance Plan
Third Language
Trim and Fit
Examinations
Singapore Examinations and Assessment Board
Primary School Leaving Examination
Singapore-Cambridge GCE N-Level
Singapore-Cambridge GCE O-Level
 Singapore-Cambridge GCE A-Level
International Baccalaureate
Co-curriculars
Co-curricular activity
Singapore Youth Festival
List of youth organisations
Outward Bound Singapore
Uniformed Groups
Boys' Brigade
Girl Guides Singapore
Infocomm Club
National Cadet Corps
National Civil Defence Cadet Corps
National Police Cadet Corps
Red Cross Youth
Singapore Scout Association
St. John Ambulance Brigade

Libraries
National Library Board
Others
National Physical Fitness Award
Ten year series

Early Childhood Development Agency
Ministry of Education

Uniformed Groups
Boys' Brigade
Girl Guides Singapore
Infocomm Club
National Cadet Corps
National Civil Defence Cadet Corps
National Police Cadet Corps
Red Cross Youth
Singapore Scout Association
St. John Ambulance Brigade

In [364]:
# Extract list of schools using Pandas read_html

sschool_html = pd.read_html("List of secondary schools in Singapore - Wikipedia.html")
pschool_html = pd.read_html("List of primary schools in Singapore - Wikipedia.html")

In [357]:
sschool_html[0]['Name']

0              Admiralty Secondary School
1          Ahmad Ibrahim Secondary School
2               Anderson Secondary School
3                    Anglican High School
4      Anglo-Chinese School (Barker Road)
                      ...
140                Yuhua Secondary School
141          Yusof Ishak Secondary School
142               Yuying Secondary School
143             Zhenghua Secondary School
144             Zhonghua Secondary School
Name: Name, Length: 145, dtype: object

In [376]:
sec_schools=sschool_html[0]['Name'].tolist()

In [377]:
sec_schools

['Admiralty Secondary School',
 'Ahmad Ibrahim Secondary School',
 'Anderson Secondary School',
 'Anglican High School',
 'Anglo-Chinese School (Barker Road)',
 'Anglo-Chinese School (Independent)',
 'Ang Mo Kio Secondary School',
 'Assumption English School',
 'Bartley Secondary School',
 'Beatty Secondary School',
 'Bedok Green Secondary School',
 'Bedok South Secondary School',
 'Bedok View Secondary School',
 'Bendemeer Secondary School',
 'Boon Lay Secondary School',
 'Bowen Secondary School',
 'Broadrick Secondary School',
 'Bukit Batok Secondary School',
 'Bukit Merah Secondary School',
 'Bukit Panjang Government High School',
 'Bukit View Secondary School',
 'Catholic High School',
 'Canberra Secondary School',
 "Cedar Girls' Secondary School",
 'Changkat Changi Secondary School',
 'CHIJ Katong Convent (Secondary)',
 'CHIJ Secondary (Toa Payoh)',
 "CHIJ St. Joseph's Convent",
 "CHIJ St. Nicholas Girls' School",
 "CHIJ St. Theresa's Convent",
 'Chua Chu Kang Secondary School',
 'Christ Church Secondary School',
 'Chung Cheng High School (Main)',
 'Chung Cheng High School (Yishun)',
 'Clementi Town Secondary School',
 'Commonwealth Secondary School',
 'Compassvale Secondary School',
 "Crescent Girls' School",
 'Damai Secondary School',
 'Deyi Secondary School',
 'Dunearn Secondary School',
 'Dunman High School',
 'Dunman Secondary School',
 'East Spring Secondary School',
 'Edgefield Secondary School',
 'Evergreen Secondary School',
 'Fairfield Methodist Secondary School',
 'Fuchun Secondary School',
 'Fuhua Secondary School',
 'Gan Eng Seng School',
 'Geylang Methodist School (Secondary)',
 'Greendale Secondary School',
 'Greenridge Secondary School',
 'Guangyang Secondary School',
 'Hai Sing Catholic School',
 'Hillgrove Secondary School',
 "Holy Innocents' High School",
 'Hougang Secondary School',
 'Hua Yi Secondary School',
 'Hwa Chong Institution',
 'Junyuan Secondary School',
 'Jurong Secondary School',
 'Jurong West Secondary School',
 'Jurongville Secondary School',
 'Juying Secondary School',
 'Kent Ridge Secondary School',
 'Kranji Secondary School',
 'Kuo Chuan Presbyterian Secondary School',
 'Loyang View Secondary School',
 'Manjusri Secondary School',
 'Maris Stella High School',
 'Marsiling Secondary School',
 'Mayflower Secondary School',
 'Meridian Secondary School',
 "Methodist Girls' School (Secondary)",
 'Montfort Secondary School',
 'Nan Chiau High School',
 'Nan Hua High School',
 "Nanyang Girls' High School",
 'National Junior College',
 'Naval Base Secondary School',
 'New Town Secondary School',
 'Ngee Ann Secondary School',
 'North Vista Secondary School',
 'Northbrooks Secondary School',
 'Northland Secondary School',
 'NUS High School of Mathematics and Science',
 'Orchid Park Secondary School',
 'Outram Secondary School',
 'Pasir Ris Crest Secondary School',
 'Pasir Ris Secondary School',
 "Paya Lebar Methodist Girls' School (Secondary)",
 'Pei Hwa Secondary School',
 'Peicai Secondary School',
 'Peirce Secondary School',
 'Presbyterian High School',
 'Punggol Secondary School',
 'Queenstown Secondary School',
 'Queensway Secondary School',
 "Raffles Girls' School (Secondary)",
 'Raffles Institution',
 'Regent Secondary School',
 'Riverside Secondary School',
 'River Valley High School',
 "St. Andrew's Secondary School",
 "St. Patrick's School",
 'School of Science and Technology, Singapore',
 'School of the Arts',
 'Sembawang Secondary School',
 'Sengkang Secondary School',
 'Serangoon Garden Secondary School',
 'Serangoon Secondary School',
 "Singapore Chinese Girls' School",
 'Singapore Sports School',
 'Springfield Secondary School',
 "St. Anthony's Canossian Secondary School",
 "St. Gabriel's Secondary School",
 "St. Hilda's Secondary School",
 "St. Margaret's Secondary School",
 "St. Joseph's Institution",
 'Swiss Cottage Secondary School',
 'Tanglin Secondary School',
 'Tampines Secondary School',
 "Tanjong Katong Girls' School",
 'Tanjong Katong Secondary School',
 'Temasek Junior College',
 'Temasek Secondary School',
 'Unity Secondary School',
 'Victoria School',
 'West Spring Secondary School',
 'Westwood Secondary School',
 'Whitley Secondary School',
 'Woodgrove Secondary School',
 'Woodlands Ring Secondary School',
 'Woodlands Secondary School',
 'Xinmin Secondary School',
 'Yio Chu Kang Secondary School',
 'Yishun Secondary School',
 'Yishun Town Secondary School',
 'Yuan Ching Secondary School',
 'Yuhua Secondary School',
 'Yusof Ishak Secondary School',
 'Yuying Secondary School',
 'Zhenghua Secondary School',
 'Zhonghua Secondary School']

In [367]:
pschool_html[1]

,Name,Funding,Type,Area[3],Notes,Website,School Code
0,Admiralty Primary School,Government,Mixed,Woodlands,NaN,[1],1744
1,Ahmad Ibrahim Primary School,Government,Mixed,Yishun,NaN,[2],1738
2,Ai Tong School,"Government-aided, SAP",Mixed,Bishan,Affiliated to Singapore Hokkien Huay Kuan[4],[3],5625
3,Alexandra Primary School,Government,Mixed,Bukit Merah,NaN,[4],1266
4,Anchor Green Primary School,Government,Mixed,Sengkang,NaN,[5],1254
...,...,...,...,...,...,...,...
180,Yuhua Primary School,Government,Mixed,Jurong East,NaN,[180],1656
181,Yumin Primary School,Government,Mixed,Tampines,NaN,[181],1219
182,Zhangde Primary School,Government,Mixed,Bukit Merah,NaN,[182],1199
183,Zhenghua Primary School,Government,Mixed,Bukit Panjang,NaN,[183],1240
184,Zhonghua Primary School,Government,Mixed,Serangoon,Used to be South Serangoon Gardens Primary School,[184],1235

In [374]:
prim_schools=pschool_html[1]['Name'].tolist()

In [375]:
prim_schools

['Admiralty Primary School',
 'Ahmad Ibrahim Primary School',
 'Ai Tong School',
 'Alexandra Primary School',
 'Anchor Green Primary School',
 'Anderson Primary School',
 'Anglo-Chinese School (Junior)',
 'Anglo-Chinese School (Primary)',
 'Angsana Primary School',
 'Ang Mo Kio Primary School',
 'Beacon Primary School',
 'Bedok Green Primary School',
 'Bendemeer Primary School',
 'Blangah Rise Primary School',
 'Boon Lay Garden Primary School',
 'Bukit Panjang Primary School',
 'Bukit Timah Primary School',
 'Bukit View Primary School',
 'Canberra Primary School',
 'Canossa Catholic Primary School',
 'Cantonment Primary School',
 'Casuarina Primary School',
 'Catholic High School (Primary)',
 'Cedar Primary School',
 'Changkat Primary School',
 'CHIJ (Katong) Primary',
 'CHIJ (Kellock)',
 'CHIJ Our Lady of Good Counsel',
 'CHIJ Our Lady of the Nativity',
 'CHIJ Our Lady Queen of Peace',
 'CHIJ Primary (Toa Payoh)',
 "CHIJ St. Nicholas Girls' School (Primary Section)",
 'Chongfu School',
 'Chongzheng Primary School',
 'Chua Chu Kang Primary School',
 'Clementi Primary School',
 'Compassvale Primary School',
 'Concord Primary School',
 'Coral Primary School',
 'Corporation Primary School',
 'Da Qiao Primary School',
 'Damai Primary School',
 'Dazhong Primary School',
 'De La Salle School',
 'East Coast Primary School',
 'East Spring Primary School',
 'East View Primary School',
 'Edgefield Primary School',
 'Elias Park Primary School',
 'Endeavour Primary School',
 'Evergreen Primary School',
 'Fairfield Methodist School (Primary)',
 'Farrer Park Primary School',
 'Fengshan Primary School',
 'Fernvale Primary School',
 'First Toa Payoh Primary School',
 'Frontier Primary School',
 'Fuchun Primary School',
 'Fuhua Primary School',
 'Gan Eng Seng Primary School',
 'Geylang Methodist School (Primary)',
 'Gongshang Primary School',
 'Greendale Primary School',
 'Greenridge Primary School',
 'Greenwood Primary School',
 "Haig Girls' School",
 "Holy Innocents' Primary School",
 'Henry Park Primary School',
 'Hong Wen School',
 'Horizon Primary School',
 'Hougang Primary School',
 'Huamin Primary School',
 'Innova Primary School',
 'Jiemin Primary School',
 'Jing Shan Primary School\xa0[zh]',
 'Junyuan Primary School',
 'Jurong Primary School',
 'Jurong West Primary School',
 'Juying Primary School',
 'Keming Primary School',
 'Kheng Cheng School',
 'Kong Hwa School',
 'Kranji Primary School',
 'Kuo Chuan Presbyterian Primary School',
 'Lakeside Primary School',
 'Lianhua Primary School',
 'Maha Bodhi School',
 'Maris Stella High School (Primary Section)',
 'Marsiling Primary School',
 'Marymount Convent School',
 'Mayflower Primary School',
 'Mee Toh School',
 'Meridian Primary School',
 "Methodist Girls' School (Primary)",
 'Montfort Junior School',
 'Nan Chiau Primary School',
 'Nan Hua Primary School',
 'Nanyang Primary School',
 'Ngee Ann Primary School',
 'Naval Base Primary School',
 'New Town Primary School',
 'Northland Primary School',
 'Northoaks Primary School',
 'North Spring Primary School',
 'North View Primary School',
 'North Vista Primary School',
 'Oasis Primary School',
 'Opera Estate Primary School',
 'Palm View Primary School',
 'Park View Primary School',
 'Pasir Ris Primary School',
 "Paya Lebar Methodist Girls' School (Primary)",
 'Pei Chun Public School',
 'Pei Hwa Presbyterian Primary School',
 'Pei Tong Primary School',
 'Peiying Primary School',
 'Pioneer Primary School',
 'Poi Ching School',
 'Princess Elizabeth Primary School',
 'Punggol Cove Primary School',
 'Punggol Green Primary School',
 'Punggol Primary School',
 'Punggol View Primary School',
 'Qifa Primary School',
 'Qihua Primary School',
 'Queenstown Primary School',
 'Radin Mas Primary School',
 "Raffles Girls' Primary School",
 'Red Swastika School',
 'Riverside Primary School',
 'River Valley Primary School',
 'Rivervale Primary School',
 'Rosyth School',
 'Rulang Primary School',
 'Sengkang Green Primary School',
 'Sembawang Primary School',
 'Si Ling Primary School',
 'Seng Kang Primary School',
 'Shuqun Primary School',
 'Singapore Chinese Girls School (Primary)',
 'South View Primary School',
 'Springdale Primary School',
 "St. Andrew's Junior School",
 "St. Anthony's Canossian Primary School",
 "St. Anthony's Primary School",
 "St. Gabriel's Primary School",
 "St. Hilda's Primary School",
 "St. Joseph's Institution Junior",
 "St. Margaret's Primary School",
 "St. Stephen's School",
 'Tampines North Primary School',
 'Tampines Primary School',
 'Tanjong Katong Primary School',
 'Tao Nan School',
 'Teck Ghee Primary School',
 'Teck Whye Primary School',
 'Telok Kurau Primary School',
 'Temasek Primary School',
 'Townsville Primary School',
 'Unity Primary School',
 'Valour Primary School',
 'Waterway Primary School',
 'Wellington Primary School',
 'West Grove Primary School',
 'West Spring Primary School',
 'Westwood Primary School',
 'West View Primary School',
 'White Sands Primary School',
 'Woodgrove Primary School',
 'Woodlands Primary School',
 'Woodlands Ring Primary School',
 'Xinghua Primary School',
 'Xingnan Primary School',
 'Xinmin Primary School',
 'Xishan Primary School',
 'Yangzheng Primary School',
 'Yew Tee Primary School',
 'Yio Chu Kang Primary School',
 'Yishun Primary School',
 'Yu Neng Primary School',
 'Yuhua Primary School',
 'Yumin Primary School',
 'Zhangde Primary School',
 'Zhenghua Primary School',
 'Zhonghua Primary School']

In [378]:
all_schools = prim_schools+sec_schools

In [379]:
all_schools

['Admiralty Primary School',
 'Ahmad Ibrahim Primary School',
 'Ai Tong School',
 'Alexandra Primary School',
 'Anchor Green Primary School',
 'Anderson Primary School',
 'Anglo-Chinese School (Junior)',
 'Anglo-Chinese School (Primary)',
 'Angsana Primary School',
 'Ang Mo Kio Primary School',
 'Beacon Primary School',
 'Bedok Green Primary School',
 'Bendemeer Primary School',
 'Blangah Rise Primary School',
 'Boon Lay Garden Primary School',
 'Bukit Panjang Primary School',
 'Bukit Timah Primary School',
 'Bukit View Primary School',
 'Canberra Primary School',
 'Canossa Catholic Primary School',
 'Cantonment Primary School',
 'Casuarina Primary School',
 'Catholic High School (Primary)',
 'Cedar Primary School',
 'Changkat Primary School',
 'CHIJ (Katong) Primary',
 'CHIJ (Kellock)',
 'CHIJ Our Lady of Good Counsel',
 'CHIJ Our Lady of the Nativity',
 'CHIJ Our Lady Queen of Peace',
 'CHIJ Primary (Toa Payoh)',
 "CHIJ St. Nicholas Girls' School (Primary Section)",
 'Chongfu School',
 'Chongzheng Primary School',
 'Chua Chu Kang Primary School',
 'Clementi Primary School',
 'Compassvale Primary School',
 'Concord Primary School',
 'Coral Primary School',
 'Corporation Primary School',
 'Da Qiao Primary School',
 'Damai Primary School',
 'Dazhong Primary School',
 'De La Salle School',
 'East Coast Primary School',
 'East Spring Primary School',
 'East View Primary School',
 'Edgefield Primary School',
 'Elias Park Primary School',
 'Endeavour Primary School',
 'Evergreen Primary School',
 'Fairfield Methodist School (Primary)',
 'Farrer Park Primary School',
 'Fengshan Primary School',
 'Fernvale Primary School',
 'First Toa Payoh Primary School',
 'Frontier Primary School',
 'Fuchun Primary School',
 'Fuhua Primary School',
 'Gan Eng Seng Primary School',
 'Geylang Methodist School (Primary)',
 'Gongshang Primary School',
 'Greendale Primary School',
 'Greenridge Primary School',
 'Greenwood Primary School',
 "Haig Girls' School",
 "Holy Innocents' Primary School",
 'Henry Park Primary School',
 'Hong Wen School',
 'Horizon Primary School',
 'Hougang Primary School',
 'Huamin Primary School',
 'Innova Primary School',
 'Jiemin Primary School',
 'Jing Shan Primary School\xa0[zh]',
 'Junyuan Primary School',
 'Jurong Primary School',
 'Jurong West Primary School',
 'Juying Primary School',
 'Keming Primary School',
 'Kheng Cheng School',
 'Kong Hwa School',
 'Kranji Primary School',
 'Kuo Chuan Presbyterian Primary School',
 'Lakeside Primary School',
 'Lianhua Primary School',
 'Maha Bodhi School',
 'Maris Stella High School (Primary Section)',
 'Marsiling Primary School',
 'Marymount Convent School',
 'Mayflower Primary School',
 'Mee Toh School',
 'Meridian Primary School',
 "Methodist Girls' School (Primary)",
 'Montfort Junior School',
 'Nan Chiau Primary School',
 'Nan Hua Primary School',
 'Nanyang Primary School',
 'Ngee Ann Primary School',
 'Naval Base Primary School',
 'New Town Primary School',
 'Northland Primary School',
 'Northoaks Primary School',
 'North Spring Primary School',
 'North View Primary School',
 'North Vista Primary School',
 'Oasis Primary School',
 'Opera Estate Primary School',
 'Palm View Primary School',
 'Park View Primary School',
 'Pasir Ris Primary School',
 "Paya Lebar Methodist Girls' School (Primary)",
 'Pei Chun Public School',
 'Pei Hwa Presbyterian Primary School',
 'Pei Tong Primary School',
 'Peiying Primary School',
 'Pioneer Primary School',
 'Poi Ching School',
 'Princess Elizabeth Primary School',
 'Punggol Cove Primary School',
 'Punggol Green Primary School',
 'Punggol Primary School',
 'Punggol View Primary School',
 'Qifa Primary School',
 'Qihua Primary School',
 'Queenstown Primary School',
 'Radin Mas Primary School',
 "Raffles Girls' Primary School",
 'Red Swastika School',
 'Riverside Primary School',
 'River Valley Primary School',
 'Rivervale Primary School',
 'Rosyth School',
 'Rulang Primary School',
 'Sengkang Green Primary School',
 'Sembawang Primary School',
 'Si Ling Primary School',
 'Seng Kang Primary School',
 'Shuqun Primary School',
 'Singapore Chinese Girls School (Primary)',
 'South View Primary School',
 'Springdale Primary School',
 "St. Andrew's Junior School",
 "St. Anthony's Canossian Primary School",
 "St. Anthony's Primary School",
 "St. Gabriel's Primary School",
 "St. Hilda's Primary School",
 "St. Joseph's Institution Junior",
 "St. Margaret's Primary School",
 "St. Stephen's School",
 'Tampines North Primary School',
 'Tampines Primary School',
 'Tanjong Katong Primary School',
 'Tao Nan School',
 'Teck Ghee Primary School',
 'Teck Whye Primary School',
 'Telok Kurau Primary School',
 'Temasek Primary School',
 'Townsville Primary School',
 'Unity Primary School',
 'Valour Primary School',
 'Waterway Primary School',
 'Wellington Primary School',
 'West Grove Primary School',
 'West Spring Primary School',
 'Westwood Primary School',
 'West View Primary School',
 'White Sands Primary School',
 'Woodgrove Primary School',
 'Woodlands Primary School',
 'Woodlands Ring Primary School',
 'Xinghua Primary School',
 'Xingnan Primary School',
 'Xinmin Primary School',
 'Xishan Primary School',
 'Yangzheng Primary School',
 'Yew Tee Primary School',
 'Yio Chu Kang Primary School',
 'Yishun Primary School',
 'Yu Neng Primary School',
 'Yuhua Primary School',
 'Yumin Primary School',
 'Zhangde Primary School',
 'Zhenghua Primary School',
 'Zhonghua Primary School',
 'Admiralty Secondary School',
 'Ahmad Ibrahim Secondary School',
 'Anderson Secondary School',
 'Anglican High School',
 'Anglo-Chinese School (Barker Road)',
 'Anglo-Chinese School (Independent)',
 'Ang Mo Kio Secondary School',
 'Assumption English School',
 'Bartley Secondary School',
 'Beatty Secondary School',
 'Bedok Green Secondary School',
 'Bedok South Secondary School',
 'Bedok View Secondary School',
 'Bendemeer Secondary School',
 'Boon Lay Secondary School',
 'Bowen Secondary School',
 'Broadrick Secondary School',
 'Bukit Batok Secondary School',
 'Bukit Merah Secondary School',
 'Bukit Panjang Government High School',
 'Bukit View Secondary School',
 'Catholic High School',
 'Canberra Secondary School',
 "Cedar Girls' Secondary School",
 'Changkat Changi Secondary School',
 'CHIJ Katong Convent (Secondary)',
 'CHIJ Secondary (Toa Payoh)',
 "CHIJ St. Joseph's Convent",
 "CHIJ St. Nicholas Girls' School",
 "CHIJ St. Theresa's Convent",
 'Chua Chu Kang Secondary School',
 'Christ Church Secondary School',
 'Chung Cheng High School (Main)',
 'Chung Cheng High School (Yishun)',
 'Clementi Town Secondary School',
 'Commonwealth Secondary School',
 'Compassvale Secondary School',
 "Crescent Girls' School",
 'Damai Secondary School',
 'Deyi Secondary School',
 'Dunearn Secondary School',
 'Dunman High School',
 'Dunman Secondary School',
 'East Spring Secondary School',
 'Edgefield Secondary School',
 'Evergreen Secondary School',
 'Fairfield Methodist Secondary School',
 'Fuchun Secondary School',
 'Fuhua Secondary School',
 'Gan Eng Seng School',
 'Geylang Methodist School (Secondary)',
 'Greendale Secondary School',
 'Greenridge Secondary School',
 'Guangyang Secondary School',
 'Hai Sing Catholic School',
 'Hillgrove Secondary School',
 "Holy Innocents' High School",
 'Hougang Secondary School',
 'Hua Yi Secondary School',
 'Hwa Chong Institution',
 'Junyuan Secondary School',
 'Jurong Secondary School',
 'Jurong West Secondary School',
 'Jurongville Secondary School',
 'Juying Secondary School',
 'Kent Ridge Secondary School',
 'Kranji Secondary School',
 'Kuo Chuan Presbyterian Secondary School',
 'Loyang View Secondary School',
 'Manjusri Secondary School',
 'Maris Stella High School',
 'Marsiling Secondary School',
 'Mayflower Secondary School',
 'Meridian Secondary School',
 "Methodist Girls' School (Secondary)",
 'Montfort Secondary School',
 'Nan Chiau High School',
 'Nan Hua High School',
 "Nanyang Girls' High School",
 'National Junior College',
 'Naval Base Secondary School',
 'New Town Secondary School',
 'Ngee Ann Secondary School',
 'North Vista Secondary School',
 'Northbrooks Secondary School',
 'Northland Secondary School',
 'NUS High School of Mathematics and Science',
 'Orchid Park Secondary School',
 'Outram Secondary School',
 'Pasir Ris Crest Secondary School',
 'Pasir Ris Secondary School',
 "Paya Lebar Methodist Girls' School (Secondary)",
 'Pei Hwa Secondary School',
 'Peicai Secondary School',
 'Peirce Secondary School',
 'Presbyterian High School',
 'Punggol Secondary School',
 'Queenstown Secondary School',
 'Queensway Secondary School',
 "Raffles Girls' School (Secondary)",
 'Raffles Institution',
 'Regent Secondary School',
 'Riverside Secondary School',
 'River Valley High School',
 "St. Andrew's Secondary School",
 "St. Patrick's School",
 'School of Science and Technology, Singapore',
 'School of the Arts',
 'Sembawang Secondary School',
 'Sengkang Secondary School',
 'Serangoon Garden Secondary School',
 'Serangoon Secondary School',
 "Singapore Chinese Girls' School",
 'Singapore Sports School',
 'Springfield Secondary School',
 "St. Anthony's Canossian Secondary School",
 "St. Gabriel's Secondary School",
 "St. Hilda's Secondary School",
 "St. Margaret's Secondary School",
 "St. Joseph's Institution",
 'Swiss Cottage Secondary School',
 'Tanglin Secondary School',
 'Tampines Secondary School',
 "Tanjong Katong Girls' School",
 'Tanjong Katong Secondary School',
 'Temasek Junior College',
 'Temasek Secondary School',
 'Unity Secondary School',
 'Victoria School',
 'West Spring Secondary School',
 'Westwood Secondary School',
 'Whitley Secondary School',
 'Woodgrove Secondary School',
 'Woodlands Ring Secondary School',
 'Woodlands Secondary School',
 'Xinmin Secondary School',
 'Yio Chu Kang Secondary School',
 'Yishun Secondary School',
 'Yishun Town Secondary School',
 'Yuan Ching Secondary School',
 'Yuhua Secondary School',
 'Yusof Ishak Secondary School',
 'Yuying Secondary School',
 'Zhenghua Secondary School',
 'Zhonghua Secondary School']

In [192]:
# Test scan of directory files and opening

directory = r"/Users/veesheenyuen/Desktop/DataScience/SAA/NSG/Session 13_1-4/Session 13_5-6_1-1/"
 
# Iterate over files in directory
for filename in os.scandir(directory):
    # Open file
    with open(os.path.join(directory, filename)) as f:
        print(f"Content of '{filename}'")    
    
    with pdfplumber.open(file) as pdf:
    
        page = pdf.pages[0]
        table=page.extract_table()
        text=page.extract_text()


    splitted=text.splitlines()

    splitted

Content of '<DirEntry 'Session 13_5-6_2-end.pdf'>'
Content of '<DirEntry 'Session 13_5-6_1-1.pdf'>'

In [243]:
splitted

['Audited List',
 'Event: S13-03 4 X 400m Relay - B DIVISION GIRLS Heats',
 'Schools National Record Singapore Sports School SSP (ET)04:01.98s 2011',
 'Championships Record Singapore Sports School SSP (ET)04:01.98s 2011',
 'POS Competitor Q Tag Team Heat Ln Result Pts W/G Remarks NR',
 '1 SINGAPORE SPORTS SCHOOL Q 720 SSP h3 3 04:23.41',
 "2 NANYANG GIRLS' HIGH Q 1022 NYGH h3 6 04:24.02",
 'SCHOOL',
 "3 CRESCENT GIRLS' SCHOOL Q 791 CGS h3 2 04:24.09",
 "4 CEDAR GIRLS' SECONDARY Q 871 CG h2 4 04:25.16",
 'SCHOOL',
 "5 CHIJ ST. NICHOLAS GIRLS' Q 656 SNG h2 5 04:30.99",
 'SCHOOL (SECONDARY)',
 '6 NATIONAL JUNIOR COLLEGE Q 810 NJC h2 8 04:32.69',
 '7 DUNMAN HIGH SCHOOL Q 930 DHS h2 2 04:37.82',
 '8 CHIJ SECONDARY (TOA PAYOH) Q 747 HIJ h3 5 04:39.52',
 "9 RAFFLES GIRLS' SCHOOL Q 845 RGS h2 1 04:40.60",
 '(SECONDARY)',
 '10 AHMAD IBRAHIM SECONDARY 648 AIS h1 6 04:43.48',
 'SCHOOL',
 '11 PAYA LEBAR METHODIST 953 PLMGS h3 1 04:48.28',
 "GIRLS' SCHOOL (SECONDARY)",
 '12 NORTH VISTA SECONDARY 707 NV h1 2 04:49.01',
 'SCHOOL',
 '13 SCHOOL OF SCIENCE AND 1062 SST h1 5 04:49.82',
 'TECHNOLOGY, SINGAPORE',
 '14 TANJONG KATONG SECONDARY 981 TK h1 3 04:49.85',
 'SCHOOL',
 "15 CHIJ ST. THERESA'S CONVENT 764 STC h1 4 04:52.53",
 "16 ST. ANTHONY'S CANOSSIAN 966 SAC h2 6 04:55.13",
 'SECONDARY SCHOOL',
 '17 TEMASEK SECONDARY SCHOOL 989 TMS h3 7 05:03.64',
 '18 NAN CHIAU HIGH SCHOOL 697 NCH h1 7 05:11.33',
 '19 UNITY SECONDARY SCHOOL 1069 US h2 3 05:12.55',
 '20 ADMIRALTY SECONDARY 641 ADSS h2 7 05:13.20',
 'SCHOOL',
 '21 CHIJ KATONG CONVENT 910 KC h1 1 05:23.53',
 '22 WOODLANDS SECONDARY 737 WDL h1 8 05:43.18',
 'SCHOOL /']

In [477]:
def sort_directory(directory):
    items = os.listdir(directory)
    sorted_items = sorted(items)
    return sorted_items

In [246]:
sort_directory(directory)

['Session 13_5-6_1-1.pdf', 'Session 13_5-6_2-end.pdf']

In [78]:
# This is the starting point. Need 'extraction' and 'new_format_parser' functons.
# Test scan of directory with multiple files and opening 


#os.chdir('/Users/veesheenyuen/Desktop/DataScience/SAA/NSG/Session 13_1-4/Session 13_5-6_1-1/')

directory = r"/Users/veesheenyuen/Desktop/DataScience/SAA/NSG/NSG2023/Deconstructed/"
 
# Iterate over files in directory

sorted_items=sort_directory(directory)

master_df=pd.DataFrame()  # initialize empty master df

for file in sorted_items:
    
    print(file)

    with pdfplumber.open(file) as pdf:
    
        page = pdf.pages[0]  # can iterate over different pages
        table=page.extract_table()
        text=page.extract_text()


    splitted=text.splitlines() # if more than one page should append the two 'splitted' files before extraction
            
    master_df=extraction(splitted, master_df)

S01-01_TO_11_deconstructed.pdf

FileNotFoundError: [Errno 2] No such file or directory: 'S01-01_TO_11_deconstructed.pdf'

In [126]:
splitted

['23 BUKIT VIEW SECONDARY 999 BTV h3 4 05:51.77', 'SCHOOL', '/']

In [271]:
master_df

,POS,Competitor,Q,Tag,Team,Heat,Ln,Result,Pts,W/G
0,1,SINGAPORE SPORTS SCHOOL,Q,720,SSP,h3,3,04:23.41,,
1,2,NANYANG GIRLS' HIGH SCHOOL,Q,1022,NYGH,h3,6,04:24.02,,
2,3,CRESCENT GIRLS' SCHOOL,Q,791,CGS,h3,2,04:24.09,,
3,4,CEDAR GIRLS' SECONDARY SCHOOL,Q,871,CG,h2,4,04:25.16,,
4,5,CHIJ ST. NICHOLAS GIRLS' SCHOOL (SECONDARY),Q,656,SNG,h2,5,04:30.99,,
5,6,NATIONAL JUNIOR COLLEGE,Q,810,NJC,h2,8,04:32.69,,
6,7,DUNMAN HIGH SCHOOL,Q,930,DHS,h2,2,04:37.82,,
7,8,CHIJ SECONDARY (TOA PAYOH),Q,747,HIJ,h3,5,04:39.52,,
8,9,RAFFLES GIRLS' SCHOOL (SECONDARY),Q,845,RGS,h2,1,04:40.60,,
9,10,AHMAD IBRAHIM SECONDARY SCHOOL,,648,AIS,h1,6,04:43.48,,
10,11,PAYA LEBAR METHODIST GIRLS' SCHOOL (SECONDARY),,953,PLMGS,h3,1,04:48.28,,
11,12,NORTH VISTA SECONDARY SCHOOL,,707,NV,h1,2,04:49.01,,
12,13,"SCHOOL OF SCIENCE AND TECHNOLOGY, SINGAPORE",,1062,SST,h1,5,04:49.82,,
13,14,TANJONG KATONG SECONDARY SCHOOL,,981,TK,h1,3,04:49.85,,
14,15,CHIJ ST. THERESA'S CONVENT,,764,STC,h1,4,04:52.53,,
15,16,ST. ANTHONY'S CANOSSIAN SECONDARY SCHOOL,,966,SAC,h2,6,04:55.13,,
16,17,TEMASEK SECONDARY SCHOOL,,989,TMS,h3,7,05:03.64,,
17,18,NAN CHIAU HIGH SCHOOL,,697,NCH,h1,7,05:11.33,,
18,19,UNITY SECONDARY SCHOOL,,1069,US,h2,3,05:12.55,,
19,20,ADMIRALTY SECONDARY SCHOOL,,641,ADSS,h2,7,05:13.20,,
20,21,CHIJ KATONG CONVENT,,910,KC,h1,1,05:23.53,,
21,22,WOODLANDS SECONDARY SCHOOL /,,737,WDL,h1,8,05:43.18,,
0,23,BUKIT VIEW SECONDARY SCHOOL/,,999,BTV,h3,4,05:51.77,,

In [269]:
def extraction(table, master_df):  # second latest version

    global index, row_index
        
        
    # Regex patterns to extract competitor names, event name etc.
    
    #new_pattern='\d\s.{5,20}\s\d' # look for text between two numbers or Q/q
    
    #new_pattern='\d\s[A-Z\s\,]{5,30}\s\d' # look for text between two numbers or Q/q
    
    #new_pattern='^[A-Z\s]*$'
    
    new_pattern='\d\s.{5,40}?\s(Q|q|\d)'
    
    old_pattern='\s[A-Z]{2,4}|\s[0-9]{1,3}?|\sQ\s[0-9]{1,3}?' 
    
    event_pattern='\:\s.{5,30}\s(\-|\()'

    school_pattern='\s[A-Z]{2,4}'  # find how many uppercase shortforms for school
    
    year_pattern='\d\d\d\d'
    
    event = None
    
    names = None
    
    temp_df = pd.DataFrame()

    
    # Put extracted info from pdf into a df and extract event information
    
    df=pd.DataFrame(table)
    
    columns=[]
    
        
    for index, row in df.iterrows(): # find row containing event details and column names
                
        
        if 'Event' in row[0]:
            
            event=row[0]
                                    
            epos = re.search(event_pattern, event)
                        
            split_end=epos.end()-1      # adjust the splicing position to only capture the event name
            split_start=epos.start()+1

            event=event[split_start:split_end]
                                    
            
            if 'BOYS' in event or 'Boys' in event:
                gender='Male'
                
            if 'GIRLS' in event or 'Girls' in event:
                gender='Female'    
                
            
            if 'Finals' in event:
                round='Finals'
            
            region='Local'          
                  
            
        if 'Competitor' in row[0]: # extract column names
            
            row_index=index
            columns=df.iloc[row_index,0]
            names=columns.split(' ')
            
    
    if (event and names) is None:  # if it is a stranded page (no header) that is cutoff from the main pdf
                                # Change this code to add iteration over pages. Just append splitted 2nd page.
                                
            temp_df = master_df.iloc[:0]  # initiate empty df and copy column names
                                    
            row_index=0   # if no header 
            
            names = None  # retrieve master df and append instead
            
            print('here')
            
            print(table)
                                            
            temp_df=new_format_parser(row_index, names, table, master_df) # need to concat master_df and temp df
            
            print('reached this 3rd point for a stranded pdf')
            
            master_df= pd.concat([master_df, temp_df])  # this concat is not working as temp_df is empty
                    
            return master_df # exit function

            
    
    # Check pdf format and begin extraction of results
    
    if 'W/G' not in columns:  # if older pdf format without a 'W/G column'
            
        df2 = pd.DataFrame(columns=names)        
    
        new_df = df2.iloc[:, :-2]    # remove Remarks and N/R columns
         
        for i in range(row_index+1,(len(df)-1)):                    
            
            if not re.search('^\d', table[i]): # skip row if disqualified or withdrawn (does not begin with a digit)
            
                continue
       
            string=table[i]
                                
            lpos = re.search('\s', string)
                #rpos = re.search('\sQ\s', s)
                #rpos = re.search('\s[A-Z]{2,4}', s)
            
            matches=re.findall(school_pattern, string)  # find how many uppercase shortforms for school
                                
            if len(matches)==2:
                
                rpos=re.search(matches[1], string) # choose second match if there are two 
                    
            else:
                    
                rpos = re.search(old_pattern, string)
                
            
        # Splice string to extract name of competitor

            
            l = string[:lpos.start()] # left string post splicing
            r = string[rpos.start():] # right string post slicing
         
            name=string[lpos.start():rpos.start()] # extract competitor name
                                
            list=r.split(' ')   # split the parts after the name    
            
            combined=l+ ',' + name + ', '.join(list)

            row=combined.split(",")
                        
                        
            if ('W/G' not in names) and len(row)!=6:  # if W/G not in list of columns
            
                n=len(row)-6
                row = row[: len(row) - n]  # delete last n elements from list to makt it 6 columns  
            
            elif ('W/G' in names) and len(row)>8:
            
                n=len(row)-8
                row = row[: len(row) - n]  # delete last n elements from list to makt it 6 columns  
                                        
            new_df.loc[len(new_df)] = row
            
            
        return new_df
            
    elif 'W/G' in columns: # new format 
    
            
        master_df=new_format_parser(row_index, names, table, master_df) 
     
    ##        master_df= pd.concat([temp_df, master_df])
        
#        print(master_df)
    
    return master_df

In [154]:
# To do:
# 1. code old_format_parser function for old format pdfs
# 2. Test iteration over several pages using pdf.pages[0]
# 3. Modify code to iterate over second stranded page and add data

Empty DataFrame
Columns: []
Index: []

In [153]:
# Test iteration over more than one page

#os.chdir('/Users/veesheenyuen/Desktop/DataScience/SAA/NSG/Session 13_1-4/')

#file = "/Users/veesheenyuen/Desktop/DataScience/SAA/NSG/Session 13_1-4/Session 13_5-6.pdf"

#file = "/Users/veesheenyuen/Desktop/DataScience/SAA/NSG/NSG2024/sectrack_result_01p_1-1/sectrack_result_01p_1-1.pdf"

file = "/Users/veesheenyuen/Desktop/DataScience/SAA/NSG/NSG2023/Deconstructed/S01-01_TO_11_deconstructed.pdf"

 
# Iterate over files in directory

#sorted_items=sort_directory(directory)

master_df=pd.DataFrame()  # initialize empty master df

splitted=None

with pdfplumber.open(file) as pdf:
    
    for i in range(len(pdf.pages)):
        
        temp=splitted
        
        page = pdf.pages[i]  # can iterate over different pages
        table=page.extract_table()
        text=page.extract_text()
        
        if i==0:
        
            splitted=text.splitlines()            
            
        else: # stitch list from second page
            
            temp=text.splitlines()
            
            splitted.extend(temp)
            
    master_df=extraction(splitted, master_df)

None
[[None, 'DNQ\nDNQ\nDNQ', ''], [None, None, ''], [None, None, ''], [None, None, ''], [None, None, ''], [None, None, ''], ['', None, '']]
None
None
None
None
[[''], [''], [''], [''], [''], [''], [''], [''], [''], [''], [''], [''], ['']]
None
None
None
[['', '+0 .4', None, ''], ['', '-0. 1', '', ''], ['', '+o .3', '', ''], ['', '-0. 1', '', ''], ['', '+0 .1', '', ''], ['', '+0 .1', '', ''], ['', '+o .1', '', ''], ['', '+o .3', '', ''], ['', '-0. 6', '', ''], ['', '+0 .2', '', ''], ['', '+o .1', '', ''], ['', '+0 .1', '', ''], ['', '-0. 1', '', ''], ['', '+0 .1', '', ''], ['', '+o .1', '', ''], ['', '-0. 1', '', ''], ['', '+0 .2', '', ''], ['', '+0 .3', '', ''], ['', '+o .1', '', ''], ['', '+o .4', '', ''], ['', '+0 .1', '', ''], ['', '+0 .1', '', ''], ['', '+o .3', '', ''], ['', '0. 0', '', ''], ['', '+o .4', '', ''], ['', '-0. 1', '', ''], ['', '+o .1', '', ''], ['', '+0 .1', '', ''], ['', '0. 0', '', ''], ['', '-0. 1', '', ''], ['', '+o .1', '', '']]
[['', '+0 .1', None, ''], ['', '0. 0', '', ''], ['', '-0. 2', '', ''], ['', '+0 .3', '', ''], ['', '+0 .2', '', ''], ['', '+o .1', '', ''], ['', '+o .2', '', ''], ['', '-0. 2', '', ''], ['', '-0. 2', '', ''], ['', '+o .1', '', ''], ['', '-0. 1', '', ''], ['', '+0 .2', '', ''], ['', '-0. 2', '', ''], ['', '+0 .1', '', ''], ['', '+o .2', '', ''], ['', '-0. 1', '', ''], ['', '-0. 2', '', ''], ['', '-0. 1', '', ''], ['', '+o .4', '', ''], ['', '+o .2', '', ''], ['', '-0. 6', '', ''], ['', '+0 .1', '', ''], ['', '+o .4', '', ''], ['', '+o .2', '', ''], ['', '0. 0', '', ''], ['', '-0. 6', '', ''], ['', '+o .4', '', ''], ['', '-0. 2', '', ''], ['', '+0 .1', '', ''], ['', '+0 .2', '', ''], ['', '-0. 1', '', ''], ['', None, '', '']]
None
None
[['Q', '322'], ['', '37'], ['', '107'], ['', '468'], ['', '492'], ['', '385'], ['', '479'], ['', '466'], ['', '279'], ['', '230'], ['', '110'], ['', '124'], ['', '470'], ['', '186'], ['', '246'], ['', '454'], ['', '293'], ['', '313'], ['', '221'], ['', '509'], ['', '501'], ['', '229'], ['', '287'], ['', '223'], ['', '325'], ['', '102'], ['', '129'], ['', '33'], ['', '11'], ['', '294']]
[['', '+0 .7', '', ''], ['', '+o .2', '', ''], ['', '-0. 4', '', ''], ['', '+0 .7', '', ''], ['', '-1. 0', '', ''], ['', '-0. 6', '', ''], ['', '0. 0', '', ''], ['', '-0. 5', '', ''], ['', '0. 0', '', ''], ['', '+o .4', '', ''], ['', '-0. 9', '', ''], ['', '+0 .4', '', ''], ['', '-0. 6', '', ''], ['', '+o .2', '', ''], ['', '+o .2', '', ''], ['', '-0. 3', '', ''], ['', '-0. 9', '', ''], ['', '-0. 9', '', ''], ['', '0. 0', '', ''], ['', '-0. 9', '', ''], ['', '-0. 3', '', ''], ['', '-0. 3', '', ''], ['', '-0. 4', '', ''], ['', '+o .2', '', ''], ['', '-0. 5', '', ''], ['', '-1. 0', '', ''], ['', '+o .4', '', '']]
[[''], ['']]
None
[['', '-0 2', None, ''], ['', '+ 0 .3', '', ''], ['', '+ 0 .2', '', ''], ['', '-0 3', '', ''], ['', '+ 0 .6', '', ''], ['', '+ 0 .3', '', ''], ['', '-0 6', '', ''], ['', '+ 0 .3', '', ''], ['', '-0 3', '', ''], ['', '-0 6', '', ''], ['', '+ 0 .2', '', ''], ['', '+ 0 .1', '', ''], ['', '-0 6', '', ''], ['', '+ 0 .6', '', ''], ['', '+ 0 .3', '', ''], ['', '-0 1', '', ''], ['', '-0 2', '', ''], ['', '+ 0 .6', '', ''], ['', '+ 0 .2', '', ''], ['', '+ 0 .2', '', ''], ['', '+ 0 .3', '', ''], ['', '+ 0 .5', '', ''], ['', '+ 0 .3', '', ''], ['', '+ 0 .2', '', ''], ['', '+ 0 .7', '', ''], ['', '-0 6', '', ''], ['', '-0 6', '', ''], ['', '+ 0 .3', '', ''], ['', '+ 0 .1', '', ''], ['', '-0 6', '', '']]
[['', '+ 0 .3', None, ''], ['', '-0 6', '', ''], ['', '+ 0 .3', '', ''], ['', '-0 6', '', ''], ['', '-0 3', '', ''], ['', '+ 0 .6', '', ''], ['', '-0 6', '', ''], ['', '-0 1', '', ''], ['', '-0 3', '', ''], ['', '-0 2', '', ''], ['', '+ 0 .5', '', ''], ['', '-0 3', '', ''], ['', '+ 0 .3', '', ''], ['', '-0 3', '', ''], ['', '+ 0 .3', '', ''], ['', '+ 0 .7', '', ''], ['', '+ 0 .3', '', ''], ['', '-0 3', '', ''], ['', '+ 0 .3', '', ''], ['', '+ 0 .5', '', ''], ['', '-0 3', '', ''], ['', '-0 1', '', ''], ['', '-0 1', '', ''], ['', '+ 0 .5', '', ''], ['', '+ 0 .1', '', ''], ['', '-0 6', '', ''], ['', '+ 0 .1', '', ''], ['', '+ 0 .1', '', ''], ['', '-0 3', '', ''], ['', '+ 0 .3', '', '']]
None
None
[['', '+ 0 .9', '', ''], ['', '+ 0 .3', '', ''], ['', '+1 .5', '', ''], ['', '+1 .4', '', ''], ['', '+1 .0', '', ''], ['', '+ 0 .3', '', ''], ['', '+ 0 .9', '', ''], ['', '+1 .4', '', ''], ['', '+1 .2', '', ''], ['', '+1 .3', '', ''], ['', '+1 .3', '', ''], ['', '+ 0 .1', '', ''], ['', '+1 .3', '', ''], ['', '+1 .3', '', ''], ['', '+ 0 .3', '', ''], ['', '+ 0 .9', '', ''], ['', '+1 .0', '', ''], ['', '+1 .0', '', ''], ['', '+1 .5', '', ''], ['', '+ 0 .1', '', ''], ['', '+1 .2', '', ''], ['', '+ 0 .9', '', ''], ['', '+1 .5', '', ''], ['', '-0. 2', '', ''], ['', '+ 0 .1', '', ''], ['', '+1 .3', '', ''], ['', '+ 0 .3', '', ''], ['', '-0. 2', '', ''], ['', 'o.\n0', '', ''], ['', '+1 .0', '', ''], ['', '+ 0 .9', '', '']]
[['', '0. 0', '', ''], ['', '+1 .3', '', ''], ['', '+1 .3', '', ''], ['', '+1 .3', '', ''], ['', '+ 0 .1', '', ''], ['', '+ 0 .9', '', ''], ['', '+1 .2', '', ''], ['', '-0. 2', '', ''], ['', '+1 .4', '', ''], ['', '+1 .3', '', ''], ['', '+1 .3', '', ''], ['', '+1 .4', '', ''], ['', '+ 0 .9', '', ''], ['', '+ 0 .3', '', ''], ['', '+ 0 .9', '', ''], ['', '+ 0 .1', '', ''], ['', '+ 0 .3', '', ''], ['', '0. 0', '', ''], ['', '+ 0 .9', '', ''], ['', '+1 .2', '', ''], ['', '.o\n+1', '', ''], ['', '+1 .5', '', ''], ['', '+ 0 .9', '', ''], ['', '+ 0 .9', '', ''], ['', '+ 0 .9', '', ''], ['', '+1 .4', '', ''], ['', '0. 0', '', ''], ['', '+1 .3', '', ''], ['', '-0. 2', '', '']]
None
None
 S0l-01 High Jump
 SOl-02 Shot Put
 SOl-03 Triple Jump
 S01-03A Triple Jump
 SOl-04 Javelin
 S0l-05 100m
 S0l-06 100m
 S0l-07 100m
 S0l-08 100m
 SOl-09 100m
 S0l-10 100m
 S0l-11 1500m
                                                     0
0                  Updated On: 10-04-2023 Audited List
1                                              3:42 PM
2                                                  l l
3    Event: S0l-01 High Jump - B DIVISION GIRLS Fin...
4    Schools National Record Sng Suat Li Michelle R...
..                                                 ...
770               21 NG HONG YI 282 TJC h3 10 04:55.28
771      22 ISAAC SIM CHENG JUN 172 NJC h3 11 04:55.74
772                 23 FANG CHEN 170 NJC hl 2 04:55.82
773     24 NICODEMUS LAI KYE JUUN 72 CJC h2 4 04:57.87
774         25 DANIAL HARRIS WONG 203 RI h2 2 04:58.30

[775 rows x 1 columns]
OUMALEE THEEJUTHA
JONATHAN TAN
JACOB TAN
BRYAN CHEUNG JIA JIE
PRANAV SHREEDHAR
JAMES LACHLAN CHIN
MERVYN ONG SHAO XUAN
ASHER JIREH TAY LER EN
FERRELL LEE
LEE WEN JIE
ARSHAD BIN FAIZAL
REUBEN SEET HUIJIE
KUMAR KARTHIK
GOH SAM KAI
DANIEL TANG JIE ERNE
LIM RUI YI, LUCAS
CHUA RUI HENG
KHO YAO-EN SETH
BERNARD LIM PIN LIANG
EVAN BRENDAN WONG
NG HONG YI
ISAAC SIM CHENG JUN
FANG CHEN
NICODEMUS LAI KYE JUUN
DANIAL HARRIS WONG

In [152]:
print(table)

None

In [150]:
master_df

,POS,Competitor,Q,Tag,Team,Heat,Ln,Result,Pts,W/G,Remarks,NR
0,1,OUMALEE THEEJUTHA,Q,135,HCI,hl,10,04:27.93,,,,
1,2,JONATHAN TAN,Q,214,RI,hl,8,04:30.66,,,,
2,3,JACOB TAN,Q,121,HCI,h2,3,04:30.38,,,,
3,4,BRYAN CHEUNG JIA JIE,Q,29,ACS(I),h2,6,04:31.70,,,,
4,5,PRANAV SHREEDHAR,Q,230,RI,h3,13,04:28.98,,,,
5,6,JAMES LACHLAN CHIN,Q,38,ACS(!),h3,6,04:30.81,,,,
6,7,MERVYN ONG SHAO XUAN,q,14,ACJC,h3,1,04:31.27,,,,
7,8,ASHER JIREH TAY LER EN,q,264,SJI,h2,14,04:34.00,,,,
8,9,FERRELL LEE,q,34,ACS(!),hl,3,04:35.04,,,,
9,10,LEE WEN JIE,q,152,JPJC,h3,3,04:35.96,,,,
10,11,ARSHAD BIN FAIZAL,q,263,SJI,h3,12,04:36.61,,,,
11,12,REUBEN SEET HUIJIE,q,309,VJC,h3,7,04:39.51,,,,
12,13,KUMAR KARTHIK,q,300,VJC,hl,11,04:43.83,,,,
13,14,GOH SAM KAI,q,9,ACJC,hl,6,04:44.89,,,,
14,15,DANIEL TANG JIE ERNE,q,65,CJC,h3,5,04:45.82,,,,
15,16,"LIM RUI YI, LUCAS",q,96,EJC,hl,13,04:49.51,,,,
16,17,CHUA RUI HENG,,113,HCI,h3,9,04:49.75,,,,
17,18,KHO YAO-EN SETH,,160,MI,hl,9,04:49.97,,,,
18,19,BERNARD LIM PIN LIANG,,167,NYJC,h3,14,04:50.16,,,,
19,20,EVAN BRENDAN WONG,,292,VJC,h2,8,04:53.08,,,,
20,21,NG HONG YI,,282,TJC,h3,10,04:55.28,,,,
21,22,ISAAC SIM CHENG JUN,,172,NJC,h3,11,04:55.74,,,,
22,23,FANG CHEN,,170,NJC,hl,2,04:55.82,,,,
23,24,NICODEMUS LAI KYE JUUN,,72,CJC,h2,4,04:57.87,,,,
24,25,DANIAL HARRIS WONG,,203,RI,h2,2,04:58.30,,,,

In [56]:
# ONLY For 2024 NSG pdfs--latest version

os.chdir('/Users/veesheenyuen/Desktop/DataScience/SAA/NSG/NSG2024/')

#file = "/Users/veesheenyuen/Desktop/DataScience/SAA/NSG/Session 13_1-4/Session 13_5-6.pdf"

file = "/Users/veesheenyuen/Desktop/DataScience/SAA/NSG/NSG2024PDF/sectrack_result_01p.pdf"

 
# Iterate over files in directory

#sorted_items=sort_directory(directory)

new_pattern='\d\s.{5,40}?\s(Q|q|\d)'
    
old_pattern='\s[A-Z]{2,4}|\s[0-9]{1,3}?|\sQ\s[0-9]{1,3}?' 
    
#event_pattern='\:\s.{5,30}\s(\-|\()'

event_pattern='(\:\s.{5,32})\sT'

final_pattern = '.{4,30}\('


school_pattern='\s[A-Z]{2,4}'  # find how many uppercase shortforms for school
    
year_pattern='\d\d\d\d'

div_pattern='([A-Z]\-Boys)|([A-Z]\-Girls)'

wind_pattern='(H[0-9])\s\:\s(\+\d\.\d|\-\d\.\d)'

event_mapping={'100m': 'Sprint', '100m': 'Sprint'}    


df_table=pd.DataFrame()  # initialize empty master df

df=None



with pdfplumber.open(file) as pdf:
        
        
    for i in range(len(pdf.pages)):    
        
        page = pdf.pages[i]  # can iterate over different pages
        table=page.extract_table()
        text=page.extract_text()        
        
        df=pd.DataFrame(text.splitlines())
        
                        
        for index, row in df.iterrows(): # find row containing event details and column names
                
        
            if 'Event' in row[0]:
            
                details=row[0]
                                                
                if 'BOYS' in details or 'Boys' in details:
                    gender='Male'
                
                if 'GIRLS' in details or 'Girls' in details:
                    gender='Female'    
                
                # Slice event name. Must be done in 2 stages.   
                
                
                epos = re.search(event_pattern, details)  
                                
                        
                split_end=epos.end()-1      # adjust the splicing position to capture the event + division
                split_start=epos.start()+1
    
                event=details[split_start:split_end]
                
                pos=re.search(final_pattern, event)  # new
            
                final_end=pos.end()-1      # new
                final_start=pos.start()+1  # new
                
                final_match=event[final_start:final_end] # finally extract event name
                
                
                
            # Assign high level event type
                
                if 'Throw' in final_match:
                    category_event='Throw'
                elif 'Jump' in final_match:
                    category_event='Jump'
                elif 'Vault' in final_match:
                    category_event='Jump'
                elif '100' in final_match:
                    category_event='Sprint'
                elif '1500' in final_match:
                    category_event='Mid'
                elif 'Javelin' in final_match:
                    category_event='Throw'
                elif 'Shot' in final_match:
                    category_event='Throw'
                elif '400' in final_match:
                    category_event='Sprint'
                elif '800' in final_match:
                    category_event='Mid'
                elif '400' in final_match:
                    category_event='Sprint'
                elif 'Hurdles' in final_match:
                    category_event='Hurdles'
                elif '200' in final_match:
                    category_event='Sprint'
                elif 'Walk' in final_match:
                    category_event='Walk'
                elif '3000' in final_match:
                    category_event='Long'
                elif '5000' in final_match:
                    category_event='Long'
                elif '2000' in final_match:
                    category_event='Mid'
                elif 'Discus' in final_match:
                    category_event='Throw'
                
                if 'Relay' in final_match: # Change from Sprint to Relay for relays only
                    category_event='Relay'

               
                # Slice division
        
                divpos = re.search(div_pattern, details)
                            
                s_pos=divpos.start()
                e_pos=divpos.start()+1
    
                div=details[s_pos:e_pos] # extract division        
                                      
            
            if 'Competitor' in row[0]: # extract column names
            
                row_index=index  # where the header row is
                columns=df.iloc[row_index,0]
                names=columns.split(' ')
                
            if 'Final' in row[0]:
                
                stage="Final"
                
            if 'Heat' in row[0]:
                
                stage='Heats'
                
            if 'SF' in row[0]:
                
                stage = 'SF'    
                
                               
            if 'W/Gauge' in row[0]:
                
                details=row[0]            
                
                try:
            
                    wind=re.findall(wind_pattern, details)
                                    
                    wind_dict = {}
                    
                    for key, val in wind: # create dictionary of extracted wind data
                        wind_dict.setdefault(key, val)
                
                except:
                    
                    pass
            
                    
        temp=pd.DataFrame(table)
        
                            
                
        temp.iloc[2:,:]  # drop first 2 rows

        temp['EVENT'] = final_match
        temp['GENDER'] = gender
        temp['DIVISION'] = div
        temp['STAGE'] = stage
        temp['COMPETITION'] = 'NSG'
        temp['REGION'] = 'Local'
        temp['CATEGORY_EVENT'] = category_event
        temp['test'] = 'H'+temp[5].map(str) # create a new temp field to map across wind
        temp['SOURCE'] = 'PDF'       
        temp['DATE'] = '2024'
        temp['QUALIFICATION']=''
        temp['POINTS']=''
        temp['UNIQUE_ID']=''
        temp['COUNTRY']=''
        temp['DICT_RESULTS']=''
        temp['DOB']=''
        temp['GROUP']=''
        temp['ATHLETE_ID']=''
        temp['TIMESTAMP']=''
        temp['FREE_FIELD']=''
        temp['FREE_FIELD2']=''
        temp['FREE_FIELD3']=''
        
        
        
        
        temp['WIND']=temp['test'].map(wind_dict) # map temp field across to wind data     
        
        
        temp = temp[temp[0].str.contains("~~~ End of Listing ~~~") == False]  # drop useless rows
        temp = temp[temp[0].str.contains("W/Gauge :") == False]
        temp = temp[temp[0].str.contains("Pos") == False]
     #   temp = temp[temp[7].str.contains("DNS|NM|DQ|DNF") == False] # drop rows without results
        
            
        df_table=pd.concat([df_table, temp], axis=0)
         
        


df_table.rename(
    columns={0: "RANK", 1: "TAG_ID", 2: "NAME", 3: "TEAM", 4: "RESULT", 5: "HEAT", 6: "LANE", 7: "REMARKS"},
    inplace=True,
)
        
df_table.drop('test', axis=1, inplace=True)    # drop temp columns used to map wind data   

df_table = df_table.reindex(columns= ['RANK', 'TAG_ID', 'NAME', 'TEAM', 'SEED', 'RESULT', 'QUALIFICATION', 'HEAT', 'LANE', 'WIND', 'EVENT', 'DIVISION', 'STAGE', 
                                      'POINTS', 'AGE', 'GENDER', 'UNIQUE_ID', 'COUNTRY', 'DICT_RESULTS', 'DATE', 'COMPETITION', 'REGION', 'DOB','GROUP', 'CATEGORY_EVENT', 
                                      'ATHLETE_ID', 'SOURCE', 'REMARKS', 'TIMESTAMP', 'FREE_FIELD', 'FREE_FIELD2', 'FREE_FIELD3'])

# Add NM/DNS to results column                            
                            
mask = df_table['REMARKS'].str.contains(r'NM', na=True)
df_table.loc[mask, 'RESULT'] = 'NM'

mask = df_table['REMARKS'].str.contains(r'DNS', na=True)
df_table.loc[mask, 'RESULT'] = 'DNS'
                            
                            
                            

df_table.to_csv('sectrack_result_01p.csv', sep=',', index=False, encoding='utf-8')

In [45]:
df_table.head(50)

,RANK,TAG_ID,NAME,TEAM,RESULT,HEAT,LANE,REMARKS,EVENT,GENDER,...,DICT_RESULTS,DOB,GROUP,ATHLETE_ID,TIMESTAMP,FREE_FIELD,FREE_FIELD2,FREE_FIELD3,RESULT,WIND
2,1,466,Zheng Menglin,NYGH,30.19,1,10,Nanyang Girls' High School,Javelin (500g),Female,...,,,,,,,,,NM,NaN
3,2,455,"Liang Zhi Xuan, Jodie",NYGH,29.32,1,8,Nanyang Girls' High School,Javelin (500g),Female,...,,,,,,,,,NM,NaN
4,3,567,Megan Koh Jeng Peck (Xu Yingbi),SNG,28.51,1,12,CHIJ St. Nicholas Girls',Javelin (500g),Female,...,,,,,,,,,NM,NaN
5,4,549,Charissa Ong Huey Ern,SNG,25.79,1,4,CHIJ St. Nicholas Girls',Javelin (500g),Female,...,,,,,,,,,NM,NaN
6,5,242,Liam Raejia,CG,23.59,1,2,Cedar Girls' Sec School,Javelin (500g),Female,...,,,,,,,,,NM,NaN
7,6,425,He Leyu,NJC,23.06,1,3,National Junior College,Javelin (500g),Female,...,,,,,,,,,NM,NaN
8,7,452,Jordan Chang Tong,NYGH,22.57,1,16,Nanyang Girls' High School,Javelin (500g),Female,...,,,,,,,,,NM,NaN
9,8,252,Quek Xin En Isabelle,CG,22.16,1,18,Cedar Girls' Sec School,Javelin (500g),Female,...,,,,,,,,,NM,NaN
10,9,436,Thirumalai Nivedita,NJC,21.47,1,5,National Junior College,Javelin (500g),Female,...,,,,,,,,,NM,NaN
11,10,257,Shannon Tan Ying Jia,CG,21.38,1,7,Cedar Girls' Sec School,Javelin (500g),Female,...,,,,,,,,,NM,NaN
12,11,554,Elizabeth Chong Rui En,SNG,20.18,1,17,CHIJ St. Nicholas Girls',Javelin (500g),Female,...,,,,,,,,,NM,NaN
13,12,525,"Liam Hao Qin, Jasynda",SAC,19.39,1,11,St. Anthony's Canossian,Javelin (500g),Female,...,,,,,,,,,NM,NaN
14,,631,Lim Mei Ling Josephine,TMS,,1,13,NM Temasek Sec School,Javelin (500g),Female,...,,,,,,,,,NM,NaN
15,,636,Valyn Goh Xin Ye,TMS,,1,6,NM Temasek Sec School,Javelin (500g),Female,...,,,,,,,,,NM,NaN
16,,175,Chong Dye Wen,ADSS,,1,14,NM Admiralty Sec School,Javelin (500g),Female,...,,,,,,,,,NM,NaN
17,,604,Giselle Divya Gomez,STC,,1,1,NM CHIJ St. Theresa's Convent,Javelin (500g),Female,...,,,,,,,,,NM,NaN
18,,599,Audrey Schmidtke,STC,,1,15,NM CHIJ St. Theresa's Convent,Javelin (500g),Female,...,,,,,,,,,NM,NaN
19,,608,Jayna Ong Jing Xuan,STC,,1,9,DNS CHIJ St. Theresa's Convent,Javelin (500g),Female,...,,,,,,,,,NM,NaN
2,1,249,Jadon Jusdi,HCI,54.80,1,14,Hwa Chong Institution,Javelin (700g),Male,...,,,,,,,,,NM,NaN
3,2,323,"Cheng Bing Quan, Arthur",RI,50.98,1,10,Raffles Institution,Javelin (700g),Male,...,,,,,,,,,NM,NaN
4,3,386,Wong Zhang Yu Jayden,SJI,47.48,1,12,St. Joseph's Institution,Javelin (700g),Male,...,,,,,,,,,NM,NaN
5,4,245,Evan Lye Wen Kai,HCI,46.34,1,9,Hwa Chong Institution,Javelin (700g),Male,...,,,,,,,,,NM,NaN
6,5,242,Dexton Phua Jun Xiang,HCI,39.06,1,13,Hwa Chong Institution,Javelin (700g),Male,...,,,,,,,,,NM,NaN
7,6,392,Deshann Cayden Ooi,SSP,37.53,1,3,Singapore Sports School,Javelin (700g),Male,...,,,,,,,,,NM,NaN
8,7,417,Ng Jun Yi,VJC,36.72,1,2,Victoria Junior College,Javelin (700g),Male,...,,,,,,,,,NM,NaN
9,,432,Yong Jiale,VJC,,1,4,NM Victoria Junior College,Javelin (700g),Male,...,,,,,,,,,NM,NaN
10,,409,Iden Lim Sheng Jie,VJC,,1,8,NM Victoria Junior College,Javelin (700g),Male,...,,,,,,,,,NM,NaN
11,,169,John Ng Yong Shern,ACS(I),,1,1,NM Anglo-Chinese School,Javelin (700g),Male,...,,,,,,,,,NM,NaN
12,,357,Yang Zi Heng Max,RI,,1,6,NM Raffles Institution,Javelin (700g),Male,...,,,,,,,,,NM,NaN
13,,343,Quah Xiao Wei,RI,,1,11,NM Raffles Institution,Javelin (700g),Male,...,,,,,,,,,NM,NaN
14,,173,Lam Run Zhi Joshua,ACS(I),,1,5,NM Anglo-Chinese School,Javelin (700g),Male,...,,,,,,,,,NM,NaN
15,,171,Joshua Chong Yong Jun,ACS(I),,1,7,NM Anglo-Chinese School,Javelin (700g),Male,...,,,,,,,,,NM,NaN

In [54]:
df_table

,RANK,TAG_ID,NAME,TEAM,SEED,RESULT,QUALIFICATION,HEAT,LANE,WIND,...,DOB,GROUP,CATEGORY_EVENT,ATHLETE_ID,SOURCE,REMARKS,TIMESTAMP,FREE_FIELD,FREE_FIELD2,FREE_FIELD3
2,1,466,Zheng Menglin,NYGH,NaN,30.19,,1,10,NaN,...,,,Throw,,PDF,Nanyang Girls' High School,,,,
3,2,455,"Liang Zhi Xuan, Jodie",NYGH,NaN,29.32,,1,8,NaN,...,,,Throw,,PDF,Nanyang Girls' High School,,,,
4,3,567,Megan Koh Jeng Peck (Xu Yingbi),SNG,NaN,28.51,,1,12,NaN,...,,,Throw,,PDF,CHIJ St. Nicholas Girls',,,,
5,4,549,Charissa Ong Huey Ern,SNG,NaN,25.79,,1,4,NaN,...,,,Throw,,PDF,CHIJ St. Nicholas Girls',,,,
6,5,242,Liam Raejia,CG,NaN,23.59,,1,2,NaN,...,,,Throw,,PDF,Cedar Girls' Sec School,,,,
7,6,425,He Leyu,NJC,NaN,23.06,,1,3,NaN,...,,,Throw,,PDF,National Junior College,,,,
8,7,452,Jordan Chang Tong,NYGH,NaN,22.57,,1,16,NaN,...,,,Throw,,PDF,Nanyang Girls' High School,,,,
9,8,252,Quek Xin En Isabelle,CG,NaN,22.16,,1,18,NaN,...,,,Throw,,PDF,Cedar Girls' Sec School,,,,
10,9,436,Thirumalai Nivedita,NJC,NaN,21.47,,1,5,NaN,...,,,Throw,,PDF,National Junior College,,,,
11,10,257,Shannon Tan Ying Jia,CG,NaN,21.38,,1,7,NaN,...,,,Throw,,PDF,Cedar Girls' Sec School,,,,
12,11,554,Elizabeth Chong Rui En,SNG,NaN,20.18,,1,17,NaN,...,,,Throw,,PDF,CHIJ St. Nicholas Girls',,,,
13,12,525,"Liam Hao Qin, Jasynda",SAC,NaN,19.39,,1,11,NaN,...,,,Throw,,PDF,St. Anthony's Canossian,,,,
14,,631,Lim Mei Ling Josephine,TMS,NaN,NM,,1,13,NaN,...,,,Throw,,PDF,NM Temasek Sec School,,,,
15,,636,Valyn Goh Xin Ye,TMS,NaN,NM,,1,6,NaN,...,,,Throw,,PDF,NM Temasek Sec School,,,,
16,,175,Chong Dye Wen,ADSS,NaN,NM,,1,14,NaN,...,,,Throw,,PDF,NM Admiralty Sec School,,,,
17,,604,Giselle Divya Gomez,STC,NaN,NM,,1,1,NaN,...,,,Throw,,PDF,NM CHIJ St. Theresa's Convent,,,,
18,,599,Audrey Schmidtke,STC,NaN,NM,,1,15,NaN,...,,,Throw,,PDF,NM CHIJ St. Theresa's Convent,,,,
19,,608,Jayna Ong Jing Xuan,STC,NaN,,,1,9,NaN,...,,,Throw,,PDF,DNS CHIJ St. Theresa's Convent,,,,
2,1,249,Jadon Jusdi,HCI,NaN,54.80,,1,14,NaN,...,,,Throw,,PDF,Hwa Chong Institution,,,,
3,2,323,"Cheng Bing Quan, Arthur",RI,NaN,50.98,,1,10,NaN,...,,,Throw,,PDF,Raffles Institution,,,,
4,3,386,Wong Zhang Yu Jayden,SJI,NaN,47.48,,1,12,NaN,...,,,Throw,,PDF,St. Joseph's Institution,,,,
5,4,245,Evan Lye Wen Kai,HCI,NaN,46.34,,1,9,NaN,...,,,Throw,,PDF,Hwa Chong Institution,,,,
6,5,242,Dexton Phua Jun Xiang,HCI,NaN,39.06,,1,13,NaN,...,,,Throw,,PDF,Hwa Chong Institution,,,,
7,6,392,Deshann Cayden Ooi,SSP,NaN,37.53,,1,3,NaN,...,,,Throw,,PDF,Singapore Sports School,,,,
8,7,417,Ng Jun Yi,VJC,NaN,36.72,,1,2,NaN,...,,,Throw,,PDF,Victoria Junior College,,,,
9,,432,Yong Jiale,VJC,NaN,NM,,1,4,NaN,...,,,Throw,,PDF,NM Victoria Junior College,,,,
10,,409,Iden Lim Sheng Jie,VJC,NaN,NM,,1,8,NaN,...,,,Throw,,PDF,NM Victoria Junior College,,,,
11,,169,John Ng Yong Shern,ACS(I),NaN,NM,,1,1,NaN,...,,,Throw,,PDF,NM Anglo-Chinese School,,,,
12,,357,Yang Zi Heng Max,RI,NaN,NM,,1,6,NaN,...,,,Throw,,PDF,NM Raffles Institution,,,,
13,,343,Quah Xiao Wei,RI,NaN,NM,,1,11,NaN,...,,,Throw,,PDF,NM Raffles Institution,,,,
14,,173,Lam Run Zhi Joshua,ACS(I),NaN,NM,,1,5,NaN,...,,,Throw,,PDF,NM Anglo-Chinese School,,,,
15,,171,Joshua Chong Yong Jun,ACS(I),NaN,NM,,1,7,NaN,...,,,Throw,,PDF,NM Anglo-Chinese School,,,,

In [33]:
# Open all files in directory

def sort_directory(directory):
    items = os.listdir(directory)
    sorted_items = sorted(items)
    return sorted_items


directory = r"/Users/veesheenyuen/Desktop/DataScience/SAA/NSG/NSG2024/"
 
# Iterate over files in directory

sorted_items=sort_directory(directory)

sorted_items.pop(0)

master_df=pd.DataFrame()  # initialize empty master df

for file in sorted_items:
    
    print(file)
    
    temp = pd.read_csv(file)
    
    master_df=pd.concat([master_df, temp], axis=0)

sectrack_result_01p.csv
sectrack_result_02p.csv
sectrack_result_03r.csv
sectrack_result_04p.csv
sectrack_result_05q.csv
sectrack_result_06p.csv
sectrack_result_07p.csv
sectrack_result_08p.csv
sectrack_result_09r.csv
sectrack_result_10p.csv
sectrack_result_11.csv
sectrack_result_12.csv
sectrack_result_13.csv
sectrack_result_14.csv
sectrack_result_15.csv
sectrack_result_16a.csv
sectrack_result_17a.csv
sectrack_result_18.csv
sectrack_result_19.csv
sectrack_result_20.csv
sectrack_result_21b.csv
sectrack_result_22a.csv

In [34]:
master_df

,RANK,TAG_ID,NAME,TEAM,SEED,RESULT,QUALIFICATION,HEAT,LANE,WIND,...,DOB,GROUP,CATEGORY_EVENT,ATHLETE_ID,SOURCE,REMARKS,TIMESTAMP,FREE_FIELD,FREE_FIELD2,FREE_FIELD3
0,1.0,466.0,Zheng Menglin,NYGH,NaN,30.19,NaN,1.0,10.0,NaN,...,NaN,NaN,Throw,NaN,PDF,Nanyang Girls' High School,NaN,NaN,NaN,NaN
1,2.0,455.0,"Liang Zhi Xuan, Jodie",NYGH,NaN,29.32,NaN,1.0,8.0,NaN,...,NaN,NaN,Throw,NaN,PDF,Nanyang Girls' High School,NaN,NaN,NaN,NaN
2,3.0,567.0,Megan Koh Jeng Peck (Xu Yingbi),SNG,NaN,28.51,NaN,1.0,12.0,NaN,...,NaN,NaN,Throw,NaN,PDF,CHIJ St. Nicholas Girls',NaN,NaN,NaN,NaN
3,4.0,549.0,Charissa Ong Huey Ern,SNG,NaN,25.79,NaN,1.0,4.0,NaN,...,NaN,NaN,Throw,NaN,PDF,CHIJ St. Nicholas Girls',NaN,NaN,NaN,NaN
4,5.0,242.0,Liam Raejia,CG,NaN,23.59,NaN,1.0,2.0,NaN,...,NaN,NaN,Throw,NaN,PDF,Cedar Girls' Sec School,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,5.0,NaN,St. Andrew's Junior College,SAJC,NaN,03:34.65,NaN,1.0,3.0,NaN,...,NaN,NaN,Relay,NaN,PDF,St. Andrew's Junior College,NaN,NaN,NaN,NaN
214,6.0,NaN,Yishun Innova Junior College,YIJC,NaN,03:38.01,NaN,1.0,7.0,NaN,...,NaN,NaN,Relay,NaN,PDF,Yishun Innova Junior,NaN,NaN,NaN,NaN
215,7.0,NaN,St. Joseph's Institution,SJI,NaN,03:38.06,NaN,1.0,8.0,NaN,...,NaN,NaN,Relay,NaN,PDF,St. Joseph's Institution,NaN,NaN,NaN,NaN
216,8.0,NaN,National Junior College,NJC,NaN,03:40.57,NaN,1.0,9.0,NaN,...,NaN,NaN,Relay,NaN,PDF,National Junior College,NaN,NaN,NaN,NaN
217,9.0,NaN,Dunman High School,DHS,NaN,03:42.20,NaN,1.0,1.0,NaN,...,NaN,NaN,Relay,NaN,PDF,Dunman High School,NaN,NaN,NaN,NaN

In [35]:
master_df.to_csv('2024_ALL.csv', sep=',', index=False, encoding='utf-8')

In [26]:
splitted.extend(temp)

In [27]:
print(splitted)

['Audited List', 'Event: S13-03 4 X 400m Relay - B DIVISION GIRLS Heats', 'Schools National Record Singapore Sports School SSP (ET)04:01.98s 2011', 'Championships Record Singapore Sports School SSP (ET)04:01.98s 2011', 'POS Competitor Q Tag Team Heat Ln Result Pts W/G Remarks NR', '1 SINGAPORE SPORTS SCHOOL Q 720 SSP h3 3 04:23.41', "2 NANYANG GIRLS' HIGH Q 1022 NYGH h3 6 04:24.02", 'SCHOOL', "3 CRESCENT GIRLS' SCHOOL Q 791 CGS h3 2 04:24.09", "4 CEDAR GIRLS' SECONDARY Q 871 CG h2 4 04:25.16", 'SCHOOL', "5 CHIJ ST. NICHOLAS GIRLS' Q 656 SNG h2 5 04:30.99", 'SCHOOL (SECONDARY)', '6 NATIONAL JUNIOR COLLEGE Q 810 NJC h2 8 04:32.69', '7 DUNMAN HIGH SCHOOL Q 930 DHS h2 2 04:37.82', '8 CHIJ SECONDARY (TOA PAYOH) Q 747 HIJ h3 5 04:39.52', "9 RAFFLES GIRLS' SCHOOL Q 845 RGS h2 1 04:40.60", '(SECONDARY)', '10 AHMAD IBRAHIM SECONDARY 648 AIS h1 6 04:43.48', 'SCHOOL', '11 PAYA LEBAR METHODIST 953 PLMGS h3 1 04:48.28', "GIRLS' SCHOOL (SECONDARY)", '12 NORTH VISTA SECONDARY 707 NV h1 2 04:49.01', 'SCHOOL', '13 SCHOOL OF SCIENCE AND 1062 SST h1 5 04:49.82', 'TECHNOLOGY, SINGAPORE', '14 TANJONG KATONG SECONDARY 981 TK h1 3 04:49.85', 'SCHOOL', "15 CHIJ ST. THERESA'S CONVENT 764 STC h1 4 04:52.53", "16 ST. ANTHONY'S CANOSSIAN 966 SAC h2 6 04:55.13", 'SECONDARY SCHOOL', '17 TEMASEK SECONDARY SCHOOL 989 TMS h3 7 05:03.64', '18 NAN CHIAU HIGH SCHOOL 697 NCH h1 7 05:11.33', '19 UNITY SECONDARY SCHOOL 1069 US h2 3 05:12.55', '20 ADMIRALTY SECONDARY 641 ADSS h2 7 05:13.20', 'SCHOOL', '21 CHIJ KATONG CONVENT 910 KC h1 1 05:23.53', '22 WOODLANDS SECONDARY 737 WDL h1 8 05:43.18', 'SCHOOL /', '23 BUKIT VIEW SECONDARY 999 BTV h3 4 05:51.77', 'SCHOOL', '/']

### Do not modify below code

In [83]:
def extraction(table, master_df):  # latest version to process 2023. takes stitchesd list from multiple paged pdfs

    global index, row_index
        
        
    # Regex patterns to extract competitor names, event name etc.
    
    #new_pattern='\d\s.{5,20}\s\d' # look for text between two numbers or Q/q
    
    #new_pattern='\d\s[A-Z\s\,]{5,30}\s\d' # look for text between two numbers or Q/q
    
    #new_pattern='^[A-Z\s]*$'
    
    new_pattern='\d\s.{5,40}?\s(Q|q|\d)'
    
    old_pattern='\s[A-Z]{2,4}|\s[0-9]{1,3}?|\sQ\s[0-9]{1,3}?' 
    
    event_pattern='\:\s.{5,30}\s(\-|\()'

    school_pattern='\s[A-Z]{2,4}'  # find how many uppercase shortforms for school
    
    year_pattern='\d\d\d\d'
    
    event = None
    
    names = None
    
    temp_df = pd.DataFrame()

    
    # Put extracted info from pdf into a df and extract event information
    
    df=pd.DataFrame(table)
    
    columns=[]
    
        
    for index, row in df.iterrows(): # find row containing event details and column names
                
        
        if 'Event' in row[0]:
            
            event=row[0]
                                    
            epos = re.search(event_pattern, event)
                        
            split_end=epos.end()-1      # adjust the splicing position to only capture the event name
            split_start=epos.start()+1

            event=event[split_start:split_end]
            
            print(event)
                                    
            
            if 'BOYS' in event or 'Boys' in event:
                gender='Male'
                
            if 'GIRLS' in event or 'Girls' in event:
                gender='Female'    
                
            
            if 'Finals' in event:
                round='Finals'
            
            region='Local'          
                  
            
        if 'Competitor' in row[0]: # extract column names
            
            row_index=index
            columns=df.iloc[row_index,0]
            names=columns.split(' ')
                        
    
#    if (event and names) is None:  # if it is a stranded page (no header) that is cutoff from the main pdf
                                # Change this code to add iteration over pages. Just append splitted 2nd page.
                                
#            temp_df = master_df.iloc[:0]  # initiate empty df and copy column names
                                    
#            row_index=0   # if no header 
            
#            names = None  # retrieve master df and append instead
            
#            print('here')
            
#            print(table)
                                            
#            temp_df=new_format_parser(row_index, names, table, master_df) # need to concat master_df and temp df
            
#            print('reached this 3rd point for a stranded pdf')
            
#            master_df= pd.concat([master_df, temp_df])  # this concat is not working as temp_df is empty
                    
#            return master_df # exit function

            
    
    # Check pdf format and begin extraction of results
    
    if 'W/G' not in columns:  # if older pdf format without a 'W/G column'
            
        df2 = pd.DataFrame(columns=names)        
    
        new_df = df2.iloc[:, :-2]    # remove Remarks and N/R columns
         
        for i in range(row_index+1,(len(df)-1)):                    
            
            if not re.search('^\d', table[i]): # skip row if disqualified or withdrawn (does not begin with a digit)
            
                continue
       
            string=table[i]
                                
            lpos = re.search('\s', string)
                #rpos = re.search('\sQ\s', s)
                #rpos = re.search('\s[A-Z]{2,4}', s)
            
            matches=re.findall(school_pattern, string)  # find how many uppercase shortforms for school
                                
            if len(matches)==2:
                
                rpos=re.search(matches[1], string) # choose second match if there are two 
                    
            else:
                    
                rpos = re.search(old_pattern, string)
                
            
        # Splice string to extract name of competitor

            
            l = string[:lpos.start()] # left string post splicing
            r = string[rpos.start():] # right string post slicing
         
            name=string[lpos.start():rpos.start()] # extract competitor name
                                
            list=r.split(' ')   # split the parts after the name    
            
            combined=l+ ',' + name + ', '.join(list)

            row=combined.split(",")
                        
                        
            if ('W/G' not in names) and len(row)!=6:  # if W/G not in list of columns
            
                n=len(row)-6
                row = row[: len(row) - n]  # delete last n elements from list to makt it 6 columns  
            
            elif ('W/G' in names) and len(row)>8:
            
                n=len(row)-8
                row = row[: len(row) - n]  # delete last n elements from list to makt it 6 columns  
                                        
            new_df.loc[len(new_df)] = row
            
            
        return new_df
            
    elif 'W/G' in columns: # new format     
            
        master_df=new_format_parser(row_index, names, table, master_df) 
        
    ##        master_df= pd.concat([temp_df, master_df])
        
#        print(master_df)
    
    return master_df

In [441]:
# Newest version to ingest 2023 PDFs
# Almost complete except for some formatting effects

def new_format_parser(row_index, names, table, master_df):
    
                
    # Define regex patterns
    
    new_pattern='\d\s.{5,40}?\s(Qfy|Q\s|q\s|\d)'
    
    old_pattern='\s[A-Z]{2,4}|\s[0-9]{1,3}?|\sQ\s[0-9]{1,3}?' 
    
    event_pattern='\:\s.{5,30}\s(\-|\()'

    school_pattern='\s[A-Z]{2,4}'  # find how many uppercase shortforms for school
    
    year_pattern='\d\d\d\d'
    
    stranded = "no"  # flag for stranded pdf pages
    
    ex_pattern = 'NM|DNS'
    
    tag_pattern = '\d\d|\d\d\d'
    
    gap_pattern = ':\s\d'
        
    # Put table that has been processed into a dataframe
    
    df=pd.DataFrame(table)
                
    columns=[]
    
    list=[]
                
    
    # Initialize new df and remove unnecessary columns
    
    if row_index!=0 and names is not None: #check that its coming from not a stranded pdf with no header
            
        df2 = pd.DataFrame(columns=names) 
        
    
        #new_df = df2.iloc[:, :-2]    # remove 'Remarks' and 'NR' columns
        
        new_df = df2    # retain 'REMARKS' and 'NR' columns
    
    else:
        
        print('reached this first point for a stranded pdf')
        
        stranded="yes"
        
        new_df = master_df.iloc[:0] # new_df columns to come from the master df
        
        row_index=-1  # move back row_index for a stranded pdf
        
    
#    for i in range(row_index+1,(len(df)-1)):  # iterate over df - only stranded pdf should start from zero. Previous code - revert to original  


#  check for stranded pdfs with stranded names

    for i in range(row_index+1,(len(df))):  # iterate over df - only stranded pdf should start from index zero    
        
                                            
        if not re.search('^\d', table[i]) and not re.search(ex_pattern, table[i]): # look for stranded parts of names (does not begin with a digit). But need to test for standed names in stranded pdf
                
            try:  # remove try block to revert back to previous working state
                                                
                row[1]=row[1]+table[i] # retrieve previous row and add back stranded string to name. Stranded pdf will throw and error here. [1] refers to index position 1 corresponding to name
                                                                                
                new_df.drop(new_df.tail(1).index,inplace=True) # drop last row with incomplete name
                                
                pad_value = ' '
                pad_size = 12 - len(row)

                padded = [*row, *[pad_value] * pad_size]  # add extra columns to make it 12
            
                                                                        
                new_df.loc[len(new_df)] = padded  # add back amended row
                
                list.append(padded)
                                            
                                                                    
                continue  # then skip to next row
            
            except:
                
                print('reached this second point for a stranded pdf')
                
                pass                 # move on if it is actually a stranded pdf
                              
        if not re.search('^\d', table[i]) and re.search(ex_pattern, table[i]): # look for legitimate names that don't contain a rank e.g. NM
        
            print('past', table[i])
                            
            string=table[i] 
            
            tag_pos=re.search(tag_pattern, string)
            
            name = string[:tag_pos.start()]
            
            everything_else = string[tag_pos.start():]
            
            list=everything_else.split(' ')
                        
            list.insert(0, name)
            
            list.insert(0, ' ') # insert space for rank
            
            list.insert(2, ' ') # insert space for Q/q         
            
            list.insert(7, ' ')
            
            list.insert(7, ' ')
            
            list.insert(7, ' ')
            
            list.extend([' '])
                                                    
            new_df.loc[len(new_df)] = list
            
        if re.search('^\d', table[i]) and re.search(ex_pattern, table[i]):  # DNS pattern that begins with a digit
            
            string=table[i] 
            
            matches=re.findall(tag_pattern, string)  # find second set of digits corresponding to  tag ID
                                
            if len(matches)==2:
                
                rpos=re.search(matches[1], string) # choose second match if there are two 
            
            
            element = string[:rpos.start()]  # contains rank and name together
            
            rank = element[0:3]  # extract rank only
                        
            name =element[3:]  # extract name only
                 
            everything_else = string[rpos.start():]
            
            list=everything_else.split(' ')
            
            print(list)
            
            list.insert(0, name)
                                    
            list.insert(0, rank)
            
            list.insert(2, ' ') # insert space for Q/q         
            
            list.insert(7, ' ')
                        
            list.insert(7, ' ')
            
            list.extend([' '])
            
            print('DNS', list)
            
            
            new_df.loc[len(new_df)] = list

            
        if table[i].isdigit():  # exit function if it's not a proper line (e.g. number fragments with no content)  
            
            return new_df
        
        
        if i==len(df):     # exit if end of df is reached
            
            return new_df
       
        
        
        # Else split lines per normal format
    
        if not re.search(ex_pattern, table[i]):  # skip those lines with NM/DNS   
        
            string=table[i] 
                    
            try:
            
                string=string.replace(": ", ":")       #delete gap in timing result
                        
            except:
            
                pass
                    
        
            lpos = re.search('\s', string)
            rpos = re.search(new_pattern, string)
            
                                                        
        
        # Splice string to extract name of competitor

            if 'Qfy' not in string:
        
                split_pos_end=rpos.end()-1      # adjust the splicing position to only capture the name
                split_pos_start=lpos.start()+1

            
                left_string = string[:lpos.start()] # left string post splicing
                right_string = string[split_pos_end:] # right string post slicing
                         
                name=string[split_pos_start:split_pos_end]  # extract competitor name
                
            elif 'Qfy' in string:
                
                split_pos_end=rpos.end()-3      # adjust the splicing position to only capture the name
                split_pos_start=lpos.start()+1

            
                left_string = string[:lpos.start()] # left string post splicing
                right_string = string[split_pos_end:] # right string post slicing
                         
                name=string[split_pos_start:split_pos_end]  # extract competitor name
                
                    
                               
            list=right_string.split(' ')        # put everything coming after the name into a list  
                                                        
                
 #       if len(list)==6:    # check length of list. If less than 7, append blank fields for Pos and W/G 
                    
#            list.extend([' ', ' ', ' ', ' '])
                    
#        elif len(list)==5:
                    
#            list.extend([' ', ' ', ' ', ' '])
                                                            
                
            combined=left_string+ ';' + name +'; '+ '; '.join(list)  # use ';' in case names have a ','

            row=combined.split(';')   
                                                                                                 

        # check if Q or q between tag and name. If not, fill in with empty space.
        # don't overwrite master df if there is a stranded pdf
                
            if row[2].strip()=='Q' or row[2].strip()=='q' or row[2].strip()=='Qfy' or row[2] is None :
            
                pad_value = ' '
                pad_size = 12 - len(row)

                final_list = [*row, *[pad_value] * pad_size]  # add extra columns to make it 12
            
                print('HERE1', final_list)
                                
                new_df.loc[len(new_df)] = final_list


            else:
                
                row.insert(2, ' ')
            
                pad_value = ' '
                pad_size = 12 - len(row)

                final_list = [*row, *[pad_value] * pad_size]  # add extra columns to make it 12
            
                print('HERE2', final_list)
            
                list.append(final_list)
            
                            
                new_df.loc[len(new_df)] = final_list
                                
            
            
            
            
# QAed to this point for a stranded pdf. Need to figure out how to attach stranded row to master df
            
            
#            master_df=new_df      # previous   
    
    return new_df

In [446]:
# Test iteration over more than one page

#os.chdir('/Users/veesheenyuen/Desktop/DataScience/SAA/NSG/Session 13_1-4/')

#file = "/Users/veesheenyuen/Desktop/DataScience/SAA/NSG/Session 13_1-4/Session 13_5-6.pdf"

#file = "/Users/veesheenyuen/Desktop/DataScience/SAA/NSG/NSG2024/sectrack_result_01p_1-1/sectrack_result_01p_1-1.pdf"

file = "/Users/veesheenyuen/Desktop/DataScience/SAA/NSG/NSG2023/S01-01_TO_11_deconstructed_1-1/S01-01_TO_11_deconstructed_22-25.pdf"

 
# Iterate over files in directory

#sorted_items=sort_directory(directory)

temp_df=pd.DataFrame()  # initialize empty temp df

master_df=pd.DataFrame()

splitted=None

with pdfplumber.open(file) as pdf:
    
    for i in range(len(pdf.pages)):
        
        temp=splitted
        
        page = pdf.pages[i]  # can iterate over different pages
        table=page.extract_table()
        text=page.extract_text()
                
        if i==0:
        
            splitted=text.splitlines()
            
            temp_df=extraction(splitted, temp_df)
            
        else: # stitch list from second page
            
            temp=text.splitlines()
            
            splitted.extend(temp)
            
            temp_df=extraction(splitted, temp_df)
                        
        master_df=pd.concat([master_df, temp_df], axis=0)


            
    #master_df=extraction(splitted, master_df)

 S0l-10 100m
HERE2 ['1', 'TAN YING TONG, SHANNON Q', ' ', ' ', ' 81', ' CG', ' hl', ' 8', ' 00:13.75', ' +0.1', ' ', ' ']
HERE2 ['2', 'ALEXA TAN LIYI Q', ' ', ' ', ' 259', ' MGS', ' h3', ' 2', ' 00:13.87', ' 0.0', ' ', ' ']
HERE2 ['3', "HEATHER TAN RAE'QI Q", ' ', ' ', ' 53', ' CG', ' h3', ' 5', ' 00:13.88', ' 0.0', ' f', ' ']
HERE2 ['4', 'TEH XIN NI CHARLOTTE (ZHENG Q', ' ', ' ', ' 159', ' SNG', ' h8', ' 7', ' 00:13.90', ' +1.4', ' ', ' ']
HERE2 ['5', 'KRISHA SHASHINI D/O JAI RAJ Q', ' ', ' ', ' 376', ' SSP', ' h12', ' 6', ' 00:13.91', ' +1.3', ' ', ' ']
HERE2 ['6', 'KAYLEY SEAH XIN EN Q', ' ', ' ', ' 59', ' CG', ' h4', ' 5', ' 00:13.98', ' +0.3', ' ', ' ']
HERE2 ['7', 'CHONG KATE LYNN, LEA Q', ' ', ' ', ' 276', ' NYGH', ' hll', ' 7', ' 00:14.09', ' +1.5', ' ', ' ']
HERE2 ['8', 'NG REI ANN Q', ' ', ' ', ' 217', ' DHS', ' hl', ' 2', ' 00:14.16', ' +0.1', ' ', ' ']
HERE2 ['9', 'HUANG TIANA! Q', ' ', ' ', ' 283', ' NYGH', ' h7', ' 6', ' 00:14.45', ' +1.3', ' ', ' ']
HERE2 ['10', 'HANNAH LIM YI QING Q', ' ', ' ', ' 144', ' SNG', ' hl', ' 7', ' 00:14.47', ' +0.1', ' ', ' ']
HERE2 ['11', 'HONG YUEHUI GABRIELLE Q', ' ', ' ', ' 214', ' DHS', ' h4', ' 2', ' 00:14.47', ' +0.3', ' ', ' ']
HERE2 ['12', 'NICHOLE LIM YI HAN Q', ' ', ' ', ' 378', ' SSP', ' h3', ' 6', ' 00:14.58', ' 0.0', ' ', ' ']
HERE2 ['13', 'TNG KAI XIN Q', ' ', ' ', ' 219', ' DHS', ' h8', ' 6', ' 00:14.60', ' +1.4', ' ', ' ']
HERE2 ['14', 'LIU YIXIN Q', ' ', ' ', ' 290', ' NYGH', ' h2', ' 2', ' 00:14.62', ' -0.2', ' ', ' ']
HERE2 ['15', 'MEGAN OLIVIA TJENDRAPUTRA Q', ' ', ' ', ' 22', ' BV', ' hll', ' 3', ' 00:14.65', ' +1.5', ' ', ' ']
HERE2 ['16', 'PUJEDA ATHENA RAIZA LINAO Q', ' ', ' ', ' 393', ' SAC', ' h8', ' 8', ' 00:14.66', ' +1.4', ' ', ' ']
HERE2 ['17', 'ALEXIS JOHN Q', ' ', ' ', ' 398', ' TK', ' h9', ' 1', ' 00:14.68', ' +1.0', ' ', ' ']
HERE2 ['18', 'TSANG HANNAH COMIA Q', ' ', ' ', ' 111', ' KC', ' h2', ' 7', ' 00:14.69', ' -0.2', ' ', ' ']
HERE2 ['19', 'CHONG LYNN XI Q', ' ', ' ', ' 182', ' CGS', ' hll', ' 1', ' 00:14.76', ' +1.5', ' ', ' ']
HERE2 ['20', "SEAH YU EN KAYLA (XIE YU'EN) Q", ' ', ' ', ' 208', ' DY', ' h12', ' 5', ' 00:14.82', ' +1.3', ' ', ' ']
HERE2 ['21', 'VENNILA SIVAPRAKASAM Q', ' ', ' ', ' 199', ' CGS', ' h2', ' 1', ' 00:14.83', ' -0.2', ' ', ' ']
HERE2 ['22', 'JESSIE TAN QIAN CHI Q', ' ', ' ', ' 375', ' SSP', ' hl0', ' 5', ' 00:14.87', ' +0.9', ' ', ' ']
HERE2 ['23', 'SUBRAMANIAN AVYUKTHA Q', ' ', ' ', ' 364', ' RGS', ' h7', ' 2', ' 00:14.91', ' +1.3', ' ', ' ']
 S0l-10 100m
HERE2 ['1', 'TAN YING TONG, SHANNON Q', ' ', ' ', ' 81', ' CG', ' hl', ' 8', ' 00:13.75', ' +0.1', ' ', ' ']
HERE2 ['2', 'ALEXA TAN LIYI Q', ' ', ' ', ' 259', ' MGS', ' h3', ' 2', ' 00:13.87', ' 0.0', ' ', ' ']
HERE2 ['3', "HEATHER TAN RAE'QI Q", ' ', ' ', ' 53', ' CG', ' h3', ' 5', ' 00:13.88', ' 0.0', ' f', ' ']
HERE2 ['4', 'TEH XIN NI CHARLOTTE (ZHENG Q', ' ', ' ', ' 159', ' SNG', ' h8', ' 7', ' 00:13.90', ' +1.4', ' ', ' ']
HERE2 ['5', 'KRISHA SHASHINI D/O JAI RAJ Q', ' ', ' ', ' 376', ' SSP', ' h12', ' 6', ' 00:13.91', ' +1.3', ' ', ' ']
HERE2 ['6', 'KAYLEY SEAH XIN EN Q', ' ', ' ', ' 59', ' CG', ' h4', ' 5', ' 00:13.98', ' +0.3', ' ', ' ']
HERE2 ['7', 'CHONG KATE LYNN, LEA Q', ' ', ' ', ' 276', ' NYGH', ' hll', ' 7', ' 00:14.09', ' +1.5', ' ', ' ']
HERE2 ['8', 'NG REI ANN Q', ' ', ' ', ' 217', ' DHS', ' hl', ' 2', ' 00:14.16', ' +0.1', ' ', ' ']
HERE2 ['9', 'HUANG TIANA! Q', ' ', ' ', ' 283', ' NYGH', ' h7', ' 6', ' 00:14.45', ' +1.3', ' ', ' ']
HERE2 ['10', 'HANNAH LIM YI QING Q', ' ', ' ', ' 144', ' SNG', ' hl', ' 7', ' 00:14.47', ' +0.1', ' ', ' ']
HERE2 ['11', 'HONG YUEHUI GABRIELLE Q', ' ', ' ', ' 214', ' DHS', ' h4', ' 2', ' 00:14.47', ' +0.3', ' ', ' ']
HERE2 ['12', 'NICHOLE LIM YI HAN Q', ' ', ' ', ' 378', ' SSP', ' h3', ' 6', ' 00:14.58', ' 0.0', ' ', ' ']
HERE2 ['13', 'TNG KAI XIN Q', ' ', ' ', ' 219', ' DHS', ' h8', ' 6', ' 00:14.60', ' +1.4', ' ', ' ']
HERE2 ['14', 'LIU YIXIN Q', ' ', ' ', ' 290', ' NYGH', ' h2', ' 2', ' 00:14.62', ' -0.2', ' ', ' ']
HERE2 ['15', 'MEGAN OLIVIA TJENDRAPUTRA Q', ' ', ' ', ' 22', ' BV', ' hll', ' 3', ' 00:14.65', ' +1.5', ' ', ' ']
HERE2 ['16', 'PUJEDA ATHENA RAIZA LINAO Q', ' ', ' ', ' 393', ' SAC', ' h8', ' 8', ' 00:14.66', ' +1.4', ' ', ' ']
HERE2 ['17', 'ALEXIS JOHN Q', ' ', ' ', ' 398', ' TK', ' h9', ' 1', ' 00:14.68', ' +1.0', ' ', ' ']
HERE2 ['18', 'TSANG HANNAH COMIA Q', ' ', ' ', ' 111', ' KC', ' h2', ' 7', ' 00:14.69', ' -0.2', ' ', ' ']
HERE2 ['19', 'CHONG LYNN XI Q', ' ', ' ', ' 182', ' CGS', ' hll', ' 1', ' 00:14.76', ' +1.5', ' ', ' ']
HERE2 ['20', "SEAH YU EN KAYLA (XIE YU'EN) Q", ' ', ' ', ' 208', ' DY', ' h12', ' 5', ' 00:14.82', ' +1.3', ' ', ' ']
HERE2 ['21', 'VENNILA SIVAPRAKASAM Q', ' ', ' ', ' 199', ' CGS', ' h2', ' 1', ' 00:14.83', ' -0.2', ' ', ' ']
HERE2 ['22', 'JESSIE TAN QIAN CHI Q', ' ', ' ', ' 375', ' SSP', ' hl0', ' 5', ' 00:14.87', ' +0.9', ' ', ' ']
HERE2 ['23', 'SUBRAMANIAN AVYUKTHA Q', ' ', ' ', ' 364', ' RGS', ' h7', ' 2', ' 00:14.91', ' +1.3', ' ', ' ']
HERE2 ['24', 'GW ENDOLYN CHAN YU HUI Q', ' ', ' ', ' 303', ' NJC', ' h6', ' 8', ' 00', ' :14.96', ' +', ' 0', ' .9']

ValueError: cannot set a row with mismatched columns

In [445]:
master_df

,POS,Competitor,Q,Tag,Team,Heat,Ln,Result,Pts,W/G,Remarks,NR
0,1,TEH YING SHAN Q,,,528,CCHY,h8,8,00:12.94,+0.7,,
1,2,CHLOE CHEE EN-YA Q,,,309,MGS,h6,1,00:13.17,-0.5,,
2,3,JAYME NG SOK CHEE Q,,,156,SNG,h9,2,00:13.25,+0.4,,
3,4,MEGAN ANNE YING KA MUN Q,,,76,CG,h9,1,00:13.27,+0.4,,
4,5,"SOH HWEI EN, RACHEL (SU QHUI'EN RACHEL)",,,358,NYGH,h3,1,00:13.30,-0.3,,
...,...,...,...,...,...,...,...,...,...,...,...,...
48,49,ARYANNA ZAHARA BINTE MOHAMED RAFI,,102,KC,hl0,7,00:15.44,-1.0,,,
49,50,NG JING XUAN ( HUANG JINGXUAN),,129,HIJ,hl,8,00:15.48,-0.3,,,
50,51,TEO YI JIE,,33,BV,h3,4,00:15.49,-0.3,,,
51,52,BELLELYN ONG,,11,AIS,h6,4,00:15.49,-0.5,,,
52,53,NURUL ALIYA BI NTE JAMALUDDIN,,294,JY,hl,3,00:15.54,-0.3,,,

In [400]:
pattern='\d\s.{5,40}?\s(Q\s|q\s|\d)'

string='2 GUOK XUE QIAN 143 SNG Finals 6 8.91 7'

In [401]:
re.search(pattern, string)