In [1]:
%load_ext autoreload
%autoreload 2

In [61]:
# Import usual modules
import pandas as pd
import csv
import math
import os
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import openpyxl
import datetime
from scipy.stats import lognorm
import re
import string
from bs4 import BeautifulSoup
import requests
import unicodedata # for removing accented characters
import icecream as ic

import pdfplumber

In [3]:
os.getcwd()
#os.chdir("/Users/veesheen/Desktop")

'/Users/veesheenyuen/code/veeyuen/SAA'

# Development Code

In [271]:
if 'Disqualified' in fragment:
    fragment.insert(7, ' ')
    
else:
    fragment.insert(len(fragment), ' ')

In [573]:
import re

pattern='[A-Z]{2,5}'

for i in range(len(fragment)):

    if re.search(pattern, fragment[i]):
        print(i, re.search(pattern, fragment[i]))
        index=i  # set index to second value if there are two uppercase values encountered
        print(index)

1 <re.Match object; span=(0, 4), match='CHIJ'>
1
6 <re.Match object; span=(0, 3), match='SNG'>
6

In [384]:
# Regex pattern testing

#pattern='([A-Z][a-z]+\s){2,4}'

#pattern='\d{1,3}{(?<=\s)[A-Z]{3,5}'

#pattern='[A-Z]{2,4}'
#pattern='\d\s.{5,40}?\s(Q\s|q\s|\d)'


pattern='\d\s\[A-Z]{3,}(?=Q|q|[0-9]{2,3})'


#string='8 CHIJ Sec (Toa Payoh) HIJ 2 7 00:54.31'
#string='999 Chestnut Drive Sec CDS 2 3 Withdrawal'
#string='7 CHIJ Katong Convent KC 5 7 00:54.10'
#string = '1 XIN BOWEN 587 HCI Finals 6 40.15 9'



#string='2 GUOK XUE QIAN 143 SNG Finals 6 8.91 7'


#matches=re.finditer(pattern, string)

matches=re.findall(pattern, string)

print(matches)

#print(type(matches))

#for match in matches:
#    print(match)

[]

In [126]:
# Test splicing and extracting name

#s = "4 PHOEBE ANG KE WEI Q 800 CGS h4 2 01:05.62"
#s="2 Sarah Chong Xin RI 1 12 4.78 7"
#s='7 CHIJ Katong Convent KC 5 7 00:54.10'
#s='4 WANG HANCHEN 584 HCI Finals 1 36.79 5'
#s='1 XIN BOWEN 587 HCI Finals 6 40.15 9'
#s='3 SINGAPORE SPORTS SCHOOL Q 598 SSP h1 3 04:32.84'
s='16 TEMASEK SECONDARY SCHOOL 873 TMS h4 3 05:08.64'

lpos = re.search('\s', s)
#rpos = re.search('\b[A-Z]{2-4}\b\d', s)

#rpos = re.search('\sQ\s', s)
#rpos = re.search('\s[A-Z]{2,4}?', s)
#rpos = re.search('\s[0-9]{1,3}?|\sQ\s[0-9]{1,3}?|\s[A-Z]{2,4}\s\d?', s)
rpos = re.search('\d\s.{5,40}?\s(Q|q|\d)', s)



split_pos_end=rpos.end()-1
split_pos_start=lpos.start()+1



l = s[:lpos.start()]
r = s[rpos.start():]

#name=s[lpos.start():rpos.start()]

name=s[split_pos_start:split_pos_end]

print(name)

TEMASEK SECONDARY SCHOOL

In [87]:
# test regex for event name extraction

s='Event: S13-09 Discus - B DIVISION BOYS Finals'
event_pattern=':\s.{5,20}\s\-'


re.search(event_pattern, s)

In [8]:
DNSDNQ_pattern = '\sDNS\s\d\d|\sDNS\s\d\d\d|\sDNQ\s\d\d|\sDNQ\s\d\d\d'

string='FINN WEE REI DNS 50 ACS(I) Flight2 4'

re.search(DNSDNQ_pattern, string)

In [139]:
# Test pdfplumber

os.chdir('/Users/veesheenyuen/Desktop/DataScience/SAA/Tilastopaja/Singapore Athletes Events/Marathon/2023/') 

import pdfplumber

#file='Marathon Top 30 men Master  Champions.pdf'

file = 'Marathon Top 30 Men.pdf'

temp_df=pd.DataFrame()  # initialize empty temp df

master_df=pd.DataFrame()

splitted=None

#print(sorted_items)

#for file in sorted_items:
    
#    print(file)


with pdfplumber.open(file) as pdf:
    
    for i in range(len(pdf.pages)):
        
        temp=splitted
        
        page = pdf.pages[i]  # can iterate over different pages
        table=page.extract_table()
        text=page.extract_text()
                
        if i==0:
        
            splitted=text.splitlines()
            
     #       temp_df=extraction(splitted, temp_df)
            
        else: # stitch following pages to create one continuous page
            
            temp=text.splitlines()
            
            splitted.extend(temp)
            
       #     temp_df=extraction(splitted, temp_df)
                        
       # master_df=pd.concat([master_df, temp_df], axis=0)

print('SPLITTED', splitted)

master_df=extraction_marathon(splitted, master_df)

SPLITTED ['December 3, 2023', 'Results for Top Male Provisional', 'Place Name , #, Country Start ToD 5km 10km 15km 20km 21.1km 25km 30km 35km 40km Net Time Gun Time', '1 David barmasi Tumo (KEN #1284) 04:45:00 00:15:33 00:31:33 00:46:57 01:02:45 01:06:10 01:18:32 01:37:26 01:50:20 02:06:53 02:14:15 02:14:15', '2 GEOFFREY BIRGEN (KEN #1288) 04:45:01 00:15:32 00:31:11 00:46:57 01:02:45 01:06:10 01:18:31 01:37:26 01:50:20 02:07:00 02:14:29 02:14:30', '3 Anderson Seroi (KEN #17) 04:45:01 00:15:34 00:31:32 00:46:57 01:02:45 01:06:10 01:18:32 01:37:29 01:50:47 02:08:14 02:15:59 02:15:59', '4 JULIUS TUWEI (KEN #7) 04:45:02 00:15:33 00:31:33 00:46:58 01:02:45 01:06:12 01:18:43 01:37:36 01:51:00 02:09:15 02:17:08 02:17:09', '5 Gilbert Kibet (KEN #11) 04:45:01 00:15:33 00:31:34 00:47:06 01:02:53 01:06:21 01:19:06 01:39:07 01:52:35 02:17:41 02:17:41', '6 Melese Kifle Dendir (ETH #13) 04:45:01 00:15:33 00:31:33 00:46:58 01:03:20 01:07:00 01:19:54 01:40:19 01:54:18 02:11:02 02:20:15 02:20:15', '7 Bernard Kipyego (KEN #5) 04:45:00 00:15:33 00:31:33 00:46:58 01:03:13 01:06:53 01:19:58 01:40:48 01:55:01 02:13:53 02:22:49 02:22:48', '8 Kiprotich felix Kirui (KEN #1286) 04:45:00 00:16:03 00:32:35 00:49:15 01:05:53 01:09:31 01:22:25 01:43:27 01:58:29 02:17:17 02:24:42 02:24:41', '9 Reece Edwards (AUS #23) 04:45:00 00:15:36 00:31:38 00:48:18 01:05:13 01:08:54 01:22:21 01:44:09 01:59:34 02:19:08 02:26:52 02:26:52', '10 JOHN NZUA MWANGANGI (KEN #1034) 04:45:01 00:15:35 00:31:35 00:46:58 01:02:45 01:06:11 01:19:10 01:39:46 01:55:03 02:16:47 02:26:53 02:26:54', '11 Adam Bowden (GBR #27) 04:45:00 00:16:23 00:33:20 00:50:33 01:08:11 01:12:05 01:25:57 01:47:21 02:02:13 02:21:18 02:29:03 02:29:02', '12 PHILEMON KORIR KIPLAGAT (KEN #2767) 04:46:59 00:33:38 00:50:00 01:06:47 01:10:34 01:24:07 01:46:03 02:01:42 02:23:04 02:29:54 02:31:52', '13 Philip Mburu (KEN #24) 04:45:01 00:17:33 00:35:21 00:53:29 01:11:49 01:16:13 01:30:37 01:53:37 02:09:34 02:29:54 02:38:48 02:38:48', '14 Rui Yong Soh (SGP #103) 04:45:01 00:19:08 00:38:14 00:57:02 01:16:06 01:20:14 01:34:45 01:56:52 02:11:48 02:31:34 02:40:33 02:40:34', '15 aihara yuko (JPN #2158) 04:47:00 00:20:57 00:40:10 00:58:58 01:17:32 01:21:42 01:36:26 01:59:14 02:14:33 02:33:33 02:39:53 02:41:52', '16 Takuya Kondo (JPN #1127) 04:45:04 00:19:16 00:38:13 00:57:04 01:16:06 01:20:14 01:34:45 01:57:36 02:14:32 02:38:23 02:48:04 02:48:08', '17 Daniel Leow (SGP #100) 04:45:00 00:19:44 00:39:24 00:59:04 01:19:04 01:23:29 01:39:06 02:03:41 02:19:56 02:39:55 02:48:09 02:48:08', '18 Benjamin Khoo (SGP #107) 04:45:01 00:20:46 00:41:17 01:01:43 01:22:02 01:26:28 01:42:16 02:06:50 02:22:39 02:42:26 02:50:37 02:50:37', '19 YONG HE (SGP #517) 04:45:00 00:19:45 00:39:24 00:59:04 01:19:05 01:23:30 01:39:06 02:03:42 02:20:17 02:41:38 02:51:07 02:51:07', '20 Ido Rozenman (SGP #1027) 04:45:01 00:19:43 00:39:23 00:59:04 01:19:04 01:23:29 01:39:06 02:04:06 02:20:58 02:42:53 02:51:51 02:51:52', '21 Manish Goud (IND #1871) 04:47:01 00:21:08 00:40:38 01:00:12 01:20:04 01:24:29 01:40:13 02:04:31 02:21:14 02:43:26 02:50:54 02:52:55', '03/12/2023 12:13:40 PM Timing and Results by SportSplits Page1 of 2 WWW.SportSplits.com', 'December 3, 2023', 'Results for Top Male Provisional', 'Place Name , #, Country Start ToD 5km 10km 15km 20km 21.1km 25km 30km 35km 40km Net Time Gun Time', '22 Tomoki Tezuka (JPN #1932) 04:47:01 00:21:29 00:40:39 01:00:14 01:20:04 01:24:29 01:40:13 02:04:32 02:21:28 02:44:09 02:51:35 02:53:36', '23 Gordon Lim Wei Xiang (SGP #102) 04:45:02 00:20:49 00:41:29 01:02:19 01:23:16 01:27:55 01:44:17 02:09:08 02:25:34 02:45:41 02:54:04 02:54:06', '24 Tony van Eck (SGP #1058) 04:45:03 00:20:46 00:41:17 01:01:43 01:22:03 01:26:29 01:42:16 02:06:45 02:23:42 02:45:12 02:54:04 02:54:07', '25 Tsurayuki Murakami (SGP #108) 04:45:01 00:20:46 00:41:17 01:01:43 01:22:03 01:26:29 01:42:16 02:06:50 02:23:50 02:45:43 02:54:51 02:54:52', '26 "Xiao Wen, Giebert" Foo (SGP #101) 04:45:02 00:20:46 00:41:26 01:02:12 01:23:16 01:27:55 01:44:17 02:09:12 02:25:39 02:46:46 02:55:50 02:55:52', '27 Adam Searle (SGP #1082) 04:45:02 00:20:01 00:40:16 01:00:26 01:21:01 01:25:30 01:41:35 02:06:31 02:23:44 02:46:31 02:56:21 02:56:23', '28 PierreYves Leonard (FRA #1104) 04:45:05 00:21:23 00:42:21 01:03:20 01:24:34 01:29:16 01:45:45 02:11:04 02:27:41 02:48:13 02:56:36 02:56:40', '29 WEI JIE HIA (SGP #106) 04:45:00 00:21:10 01:03:18 01:24:12 01:28:45 01:44:54 02:09:38 02:26:05 02:47:26 02:56:41 02:56:41', '30 Richard Heng (SGP #1028) 04:45:04 00:21:25 00:42:43 01:03:58 01:25:43 01:30:18 01:46:39 02:11:26 02:28:27 02:49:13 02:57:42 02:57:46', '03/12/2023 12:13:40 PM Timing and Results by SportSplits Page2 of 2 WWW.SportSplits.com']
['Place', 'Name', ',', '#,', 'Country', 'Start', 'ToD', '5km', '10km', '15km', '20km', '21.1km', '25km', '30km', '35km', '40km', 'Net', 'Time', 'Gun', 'Time']
row_index 2
['Place', 'Name', ',', '#,', 'Country', 'Start', 'ToD', '5km', '10km', '15km', '20km', '21.1km', '25km', '30km', '35km', '40km', 'Net', 'Time', 'Gun', 'Time']
row_index 27
string 22 Tomoki Tezuka (JPN #1932) 04:47:01 00:21:29 00:40:39 01:00:14 01:20:04 01:24:29 01:40:13 02:04:32 02:21:28 02:44:09 02:51:35 02:53:36
NAME Tomoki Tezuka
RANK ['22 ']
TAG ['#193']
COUNTRY JPN
list names ['ToD', '5km', '10km', '15km', '20km', '21.1km', '25km', '30km', '35km', '40km', 'Net Time', 'Gun Time']
list results ['04:47:01', '00:21:29', '00:40:39', '01:00:14', '01:20:04', '01:24:29', '01:40:13', '02:04:32', '02:21:28', '02:44:09', '02:51:35', '02:53:36']
{'ToD': '04:47:01', '5km': '00:21:29', '10km': '00:40:39', '15km': '01:00:14', '20km': '01:20:04', '21.1km': '01:24:29', '25km': '01:40:13', '30km': '02:04:32', '35km': '02:21:28', '40km': '02:44:09', 'Net Time': '02:51:35', 'Gun Time': '02:53:36'}
string 23 Gordon Lim Wei Xiang (SGP #102) 04:45:02 00:20:49 00:41:29 01:02:19 01:23:16 01:27:55 01:44:17 02:09:08 02:25:34 02:45:41 02:54:04 02:54:06
NAME Gordon Lim Wei Xiang
RANK ['23 ']
TAG ['#102']
COUNTRY SGP
list names ['ToD', '5km', '10km', '15km', '20km', '21.1km', '25km', '30km', '35km', '40km', 'Net Time', 'Gun Time']
list results ['04:45:02', '00:20:49', '00:41:29', '01:02:19', '01:23:16', '01:27:55', '01:44:17', '02:09:08', '02:25:34', '02:45:41', '02:54:04', '02:54:06']
{'ToD': '04:45:02', '5km': '00:20:49', '10km': '00:41:29', '15km': '01:02:19', '20km': '01:23:16', '21.1km': '01:27:55', '25km': '01:44:17', '30km': '02:09:08', '35km': '02:25:34', '40km': '02:45:41', 'Net Time': '02:54:04', 'Gun Time': '02:54:06'}
string 24 Tony van Eck (SGP #1058) 04:45:03 00:20:46 00:41:17 01:01:43 01:22:03 01:26:29 01:42:16 02:06:45 02:23:42 02:45:12 02:54:04 02:54:07
NAME Tony van Eck
RANK ['24 ']
TAG ['#105']
COUNTRY SGP
list names ['ToD', '5km', '10km', '15km', '20km', '21.1km', '25km', '30km', '35km', '40km', 'Net Time', 'Gun Time']
list results ['04:45:03', '00:20:46', '00:41:17', '01:01:43', '01:22:03', '01:26:29', '01:42:16', '02:06:45', '02:23:42', '02:45:12', '02:54:04', '02:54:07']
{'ToD': '04:45:03', '5km': '00:20:46', '10km': '00:41:17', '15km': '01:01:43', '20km': '01:22:03', '21.1km': '01:26:29', '25km': '01:42:16', '30km': '02:06:45', '35km': '02:23:42', '40km': '02:45:12', 'Net Time': '02:54:04', 'Gun Time': '02:54:07'}
string 25 Tsurayuki Murakami (SGP #108) 04:45:01 00:20:46 00:41:17 01:01:43 01:22:03 01:26:29 01:42:16 02:06:50 02:23:50 02:45:43 02:54:51 02:54:52
NAME Tsurayuki Murakami
RANK ['25 ']
TAG ['#108']
COUNTRY SGP
list names ['ToD', '5km', '10km', '15km', '20km', '21.1km', '25km', '30km', '35km', '40km', 'Net Time', 'Gun Time']
list results ['04:45:01', '00:20:46', '00:41:17', '01:01:43', '01:22:03', '01:26:29', '01:42:16', '02:06:50', '02:23:50', '02:45:43', '02:54:51', '02:54:52']
{'ToD': '04:45:01', '5km': '00:20:46', '10km': '00:41:17', '15km': '01:01:43', '20km': '01:22:03', '21.1km': '01:26:29', '25km': '01:42:16', '30km': '02:06:50', '35km': '02:23:50', '40km': '02:45:43', 'Net Time': '02:54:51', 'Gun Time': '02:54:52'}
string 26 "Xiao Wen, Giebert" Foo (SGP #101) 04:45:02 00:20:46 00:41:26 01:02:12 01:23:16 01:27:55 01:44:17 02:09:12 02:25:39 02:46:46 02:55:50 02:55:52
NAME "Xiao Wen, Giebert" Foo
RANK ['26 ']
TAG ['#101']
COUNTRY SGP
list names ['ToD', '5km', '10km', '15km', '20km', '21.1km', '25km', '30km', '35km', '40km', 'Net Time', 'Gun Time']
list results ['04:45:02', '00:20:46', '00:41:26', '01:02:12', '01:23:16', '01:27:55', '01:44:17', '02:09:12', '02:25:39', '02:46:46', '02:55:50', '02:55:52']
{'ToD': '04:45:02', '5km': '00:20:46', '10km': '00:41:26', '15km': '01:02:12', '20km': '01:23:16', '21.1km': '01:27:55', '25km': '01:44:17', '30km': '02:09:12', '35km': '02:25:39', '40km': '02:46:46', 'Net Time': '02:55:50', 'Gun Time': '02:55:52'}
string 27 Adam Searle (SGP #1082) 04:45:02 00:20:01 00:40:16 01:00:26 01:21:01 01:25:30 01:41:35 02:06:31 02:23:44 02:46:31 02:56:21 02:56:23
NAME Adam Searle
RANK ['27 ']
TAG ['#108']
COUNTRY SGP
list names ['ToD', '5km', '10km', '15km', '20km', '21.1km', '25km', '30km', '35km', '40km', 'Net Time', 'Gun Time']
list results ['04:45:02', '00:20:01', '00:40:16', '01:00:26', '01:21:01', '01:25:30', '01:41:35', '02:06:31', '02:23:44', '02:46:31', '02:56:21', '02:56:23']
{'ToD': '04:45:02', '5km': '00:20:01', '10km': '00:40:16', '15km': '01:00:26', '20km': '01:21:01', '21.1km': '01:25:30', '25km': '01:41:35', '30km': '02:06:31', '35km': '02:23:44', '40km': '02:46:31', 'Net Time': '02:56:21', 'Gun Time': '02:56:23'}
string 28 PierreYves Leonard (FRA #1104) 04:45:05 00:21:23 00:42:21 01:03:20 01:24:34 01:29:16 01:45:45 02:11:04 02:27:41 02:48:13 02:56:36 02:56:40
NAME PierreYves Leonard
RANK ['28 ']
TAG ['#110']
COUNTRY FRA
list names ['ToD', '5km', '10km', '15km', '20km', '21.1km', '25km', '30km', '35km', '40km', 'Net Time', 'Gun Time']
list results ['04:45:05', '00:21:23', '00:42:21', '01:03:20', '01:24:34', '01:29:16', '01:45:45', '02:11:04', '02:27:41', '02:48:13', '02:56:36', '02:56:40']
{'ToD': '04:45:05', '5km': '00:21:23', '10km': '00:42:21', '15km': '01:03:20', '20km': '01:24:34', '21.1km': '01:29:16', '25km': '01:45:45', '30km': '02:11:04', '35km': '02:27:41', '40km': '02:48:13', 'Net Time': '02:56:36', 'Gun Time': '02:56:40'}
string 29 WEI JIE HIA (SGP #106) 04:45:00 00:21:10 01:03:18 01:24:12 01:28:45 01:44:54 02:09:38 02:26:05 02:47:26 02:56:41 02:56:41
NAME WEI JIE HIA
RANK ['29 ']
TAG ['#106']
COUNTRY SGP
list names ['ToD', '5km', '10km', '15km', '20km', '21.1km', '25km', '30km', '35km', '40km', 'Net Time', 'Gun Time']
list results ['04:45:00', '00:21:10', '01:03:18', '01:24:12', '01:28:45', '01:44:54', '02:09:38', '02:26:05', '02:47:26', '02:56:41', '02:56:41']
{'ToD': '04:45:00', '5km': '00:21:10', '10km': '01:03:18', '15km': '01:24:12', '20km': '01:28:45', '21.1km': '01:44:54', '25km': '02:09:38', '30km': '02:26:05', '35km': '02:47:26', '40km': '02:56:41', 'Net Time': '02:56:41'}
string 30 Richard Heng (SGP #1028) 04:45:04 00:21:25 00:42:43 01:03:58 01:25:43 01:30:18 01:46:39 02:11:26 02:28:27 02:49:13 02:57:42 02:57:46
NAME Richard Heng
RANK ['30 ']
TAG ['#102']
COUNTRY SGP
list names ['ToD', '5km', '10km', '15km', '20km', '21.1km', '25km', '30km', '35km', '40km', 'Net Time', 'Gun Time']
list results ['04:45:04', '00:21:25', '00:42:43', '01:03:58', '01:25:43', '01:30:18', '01:46:39', '02:11:26', '02:28:27', '02:49:13', '02:57:42', '02:57:46']
{'ToD': '04:45:04', '5km': '00:21:25', '10km': '00:42:43', '15km': '01:03:58', '20km': '01:25:43', '21.1km': '01:30:18', '25km': '01:46:39', '30km': '02:11:26', '35km': '02:28:27', '40km': '02:49:13', 'Net Time': '02:57:42', 'Gun Time': '02:57:46'}

In [105]:
master_df

   Pos    No                   Name Gender Category C/Pos         Time
0    1   517               YONG HE    Male    40-49     1   02:51:07.2
1    2   502         Kok Soon Chua    Male    40-49     2   02:58:35.7
2    3  1283            Tan Kerwin    Male    30-39     1   03:00:36.7
3    4   501         ghim khoon Ho    Male    30-39     2   03:01:41.0
4    5   506             JOSHUA LI    Male    30-39     3   03:03:54.1
5    6   511        Hoong Wei Wong    Male    40-49     3   03:07:41.6
6    7   510             Evan Chee    Male    40-49     4   03:08:00.1
7    8   514       Alan Yuming Cao    Male    40-49     5   03:11:09.7
8    9  1151            Haiyu Dong    Male    40-49     6   03:11:22.2
9   10  1084        ZHONGBAO LIANG    Male    30-39     4   03:13:58.4
10  11   503         SHAO YONG TAN    Male    30-39     5   03:14:37.6
11  12  2176    Benjamin Carpenter    Male    30-39     6   03:15:07.0
12  13   504  Daryl Charles Thomas    Male    30-39     7   03:15:12.5
13  14  1328              Xuan Hou    Male    30-39     8   03:16:43.9
14  15  1348            Heng Zhang    Male    30-39     9   03:16:44.0
15  16  1103            Zhengyi Hu    Male    30-39    10   03:16:50.0
16  17  1061          cees brouwer    Male    50-59     1   03:17:01.5
17  18   516   Andi Iswandi Johari    Male    40-49     7   03:18:35.1
18  19   515            Joshua Gan    Male    40-49     8   03:19:04.2
19  20  1581           Richard Tan    Male    40-49     9   03:19:43.8
20  21  1559          Sherwin Khoo    Male    30-39    11   03:21:26.4
21  22  2108            Brett Lees    Male    40-49    10   03:21:32.9
22  23  1377           HAITAO TANG    Male    30-39    12   03:22:45.6
23  24  1373          Sim Jaan yeu    Male    40-49    11   03:23:44.6
24  25  1183             WeiQi Pan    Male    30-39    13   03:27:00.1
25  26  1495            Neyton Tan    Male    30-39    14   03:27:28.4
26  27  1432           Andy MULLIN    Male    40-49    12   03:28:01.3
27  28   512  Devathas Satianathan    Male    30-39    15   03:28:11.1
28  29  2155              Teo Ewin    Male    40-49    13   03:28:29.1
29  30   520         Pang Wee Khai    Male    40-49    14   03:28:34.9

In [7]:
print(table)

None

In [5]:
pd.DataFrame(splitted)

                                                    0
0                                  Singapore Marathon
1                                            Marathon
2                       Masters Men : Overall Results
3              Pos No Name Gender Category C/Pos Time
4               1 517 YONG HE Male 40-49 1 02:51:07.2
5         2 502 Kok Soon Chua Male 40-49 2 02:58:35.7
6           3 1283 Tan Kerwin Male 30-39 1 03:00:36.7
7         4 501 ghim khoon Ho Male 30-39 2 03:01:41.0
8             5 506 JOSHUA LI Male 30-39 3 03:03:54.1
9        6 511 Hoong Wei Wong Male 40-49 3 03:07:41.6
10            7 510 Evan Chee Male 40-49 4 03:08:00.1
11      8 514 Alan Yuming Cao Male 40-49 5 03:11:09.7
12          9 1151 Haiyu Dong Male 40-49 6 03:11:22.2
13     10 1084 ZHONGBAO LIANG Male 30-39 4 03:13:58.4
14       11 503 SHAO YONG TAN Male 30-39 5 03:14:37.6
15  12 2176 Benjamin Carpenter Male 30-39 6 03:15:...
16  13 504 Daryl Charles Thomas Male 30-39 7 03:15...
17           14 1328 Xuan Hou Male 30-39 8 03:16:43.9
18         15 1348 Heng Zhang Male 30-39 9 03:16:44.0
19        16 1103 Zhengyi Hu Male 30-39 10 03:16:50.0
20       17 1061 cees brouwer Male 50-59 1 03:17:01.5
21  18 516 Andi Iswandi Johari Male 40-49 7 03:18:...
22          19 515 Joshua Gan Male 40-49 8 03:19:04.2
23        20 1581 Richard Tan Male 40-49 9 03:19:43.8
24      21 1559 Sherwin Khoo Male 30-39 11 03:21:26.4
25        22 2108 Brett Lees Male 40-49 10 03:21:32.9
26       23 1377 HAITAO TANG Male 30-39 12 03:22:45.6
27      24 1373 Sim Jaan yeu Male 40-49 11 03:23:44.6
28         25 1183 WeiQi Pan Male 30-39 13 03:27:00.1
29        26 1495 Neyton Tan Male 30-39 14 03:27:28.4
30       27 1432 Andy MULLIN Male 40-49 12 03:28:01.3
31  28 512 Devathas Satianathan Male 30-39 15 03:2...
32          29 2155 Teo Ewin Male 40-49 13 03:28:29.1
33      30 520 Pang Wee Khai Male 40-49 14 03:28:34.9
34                              3/12/2023 12:27:52 PM

In [138]:
# Extract marathon results

def extraction_marathon(table, master_df):  # second latest version

    global index, row_index
        
    tag_pattern='\s\d\d\d\s|\s\d\d\d\d\s|\#\d\d\d|\#\d\d\d\d'
    
    gender_pattern='Male|Female'
    
    session_pattern='\d\d-\d\d'
    
    rank_pattern='^\d\s|^\d\d\s'
    
    left_bracket_pattern='\('
    
    right_bracket_pattern='\)'

    
    event = None
    
    names = None
    
    temp_df = pd.DataFrame()
    
    new_df = pd.DataFrame()

    
    # Put extracted info from pdf into a df and extract event information
    
    df=pd.DataFrame(table)
    
    columns=[]
    
        
    for index, row in df.iterrows(): # find row containing event details and column names
                
        
        if 'Men' in row[0]:
                                                                        
            gender='Male'
                
        elif 'Women' in row[0]:
            
            gender='Female'    
                                            
            
        if 'Category' in row[0] or 'Net Time' in row[0]: # extract column names
                        
            row_index=index  # set row index of column names
            columns=df.iloc[row_index,0]
            names=columns.split(' ')
            
            print(names)
            print('row_index', row_index)
            
            
    
    # Check pdf format and begin extraction of results
    
    if 'Net Time' not in columns:  
            
        new_df = pd.DataFrame(columns=names)        
             
        for i in range(row_index+1,(len(df)-1)):  # skip column row                  
            
            string=table[i]
            
            
            gender_pos = re.search(gender_pattern, string)
            tag_pos = re.search(tag_pattern, string)
              
        # Splice string to extract name of competitor
            
            name = string[tag_pos.end():gender_pos.start()]

            right_part = string[gender_pos.end():]
            left_part = string[:tag_pos.end()]
        
            right_list = right_part.split(' ')   # split the right part after the name    
            left_list = left_part.split(' ')
            
            
           # combined=left_part+ ';' + name +'; '+ gender + '; '.join(right_list)  # use ';' in case names have a ','

            combined = name +'; '+ gender + '; '.join(right_list)  # use ';' in case names have a ','
        
            row=combined.split(';') 
            
            left_list.pop(-1) # drop empty space at end
            
            left_list.extend(row)  # the full row
                                
                                                     
            new_df.loc[len(new_df)] = left_list
            
            
        return new_df
            
    elif 'Net Time' in columns:
        
        df2 = pd.DataFrame(columns=names)        
             
        for i in range(row_index+1,(len(df)-1)):                    
            
            string=table[i]
            
            print('string', string)
            
            tag_pos = re.search(tag_pattern, string)
            
            rank_pos = re.search(rank_pattern, string)
            
            left_bracket_pos = re.search(left_bracket_pattern, string)
            
            right_bracket_pos = re.search(right_bracket_pattern, string)
            
            rank = re.findall(rank_pattern, string)
            
            tag = re.findall(tag_pattern, string)
            
            name = string[rank_pos.end():left_bracket_pos.start()]
            
            country = string[left_bracket_pos.end():tag_pos.start()]
            
            

            print('NAME', name)
            
            print('RANK', rank)
            
            print('TAG', tag)
            
            print('COUNTRY', country)
            
            list_names = names[6:16]
            
            list_names.append('Net Time')
            list_names.append('Gun Time')
            
            print('list names',list_names)
            
            list_results = string[right_bracket_pos.end():]

            list_results = list_results.split(' ')
            
            list_results.pop(0)
            
            print('list results', list_results)
            
            dict_results = dict(zip(list_names, list_results))
            
            print(dict_results)
            
            result = list_results[-2] # net time is the final result
            

             
    ##        master_df= pd.concat([temp_df, master_df])
        
#        print(master_df)
    
    return master_df