In [251]:
import os
import pandas as pd
import csv
import re

In [1]:
# Connect to Meet Manager Access DB. Need to download generic version of database
# https://activenetwork.my.salesforce-sites.com/hytekswimming/articles/en_US/Article/Export-Generic-Data-in-MS-Access

import csv
import pyodbc

from mdb_parser import MDBParser, MDBTable


MDB = '/Users/veesheenyuen/Desktop/DataScience/SAA/MM/GenericData-84th Singapore Open Track - Field-18Apr2024-001.mdb'
DRV = '{Microsoft Access Driver (*.mdb)}'
#PWD = 'mypassword'

#conn = pyodbc.connect('DRIVER=%s;DBQ=%s;PWD=%s' % (DRV,MDB,PWD))
conn = pyodbc.connect('DRIVER=%s;DBQ=%s' % (DRV,MDB))

curs = conn.cursor()

SQL = 'SELECT * FROM mytable;' # insert your query here
curs.execute(SQL)

rows = curs.fetchall()

curs.close()
conn.close()

# you could change the 'w' to 'a' for subsequent queries
csv_writer = csv.writer(open('mytable.csv', 'w'), lineterminator='\n')

for row in rows:
    csv_writer.writerow(row)

ImportError: dlopen(/Users/veesheenyuen/.pyenv/versions/3.10.6/envs/SAA/lib/python3.10/site-packages/pyodbc.cpython-310-darwin.so, 0x0002): Library not loaded: /opt/homebrew/opt/unixodbc/lib/libodbc.2.dylib
  Referenced from: <781089AF-D675-3AD0-BEC3-B9D75C17B5AF> /Users/veesheenyuen/.pyenv/versions/3.10.6/envs/SAA/lib/python3.10/site-packages/pyodbc.cpython-310-darwin.so
  Reason: tried: '/opt/homebrew/opt/unixodbc/lib/libodbc.2.dylib' (no such file), '/System/Volumes/Preboot/Cryptexes/OS/opt/homebrew/opt/unixodbc/lib/libodbc.2.dylib' (no such file), '/opt/homebrew/opt/unixodbc/lib/libodbc.2.dylib' (no such file)

In [2]:
# Parse and extract MM RTF files 

import pandas as pd
import re

from striprtf.striprtf import rtf_to_text


with open('/Users/veesheenyuen/Desktop/DataScience/SAA/MM/sgo24.rtf', 'r') as file:
    text = file.read()
    con=rtf_to_text(text)

In [3]:
con

"Singapore Athletics Assoc.-Open Champ - Organization License\nHy-Tek's MEET MANAGER  7:12 PM  24/4/2024  Page 1\n84th Singapore Open Track & Field - 18/4/2024 to 19/4/2024\nChampionships 2024\nSingapore Sportshub\nResults\nWomen 100 Meter Dash Open\n=================================================================================\n    Name                     Age Team                    Seed    Prelims  Wind H#\n=================================================================================\nPreliminaries\n  1 Tan, Elizabeth-Ann        21 Singapore              11.74      12.00Q  0.1  2\n  2 Kim, Soeun                21 South Korea            11.99      12.49Q  0.1  1\n  3 Ong, Kerstin              27 Singapore              12.56      12.59Q  0.1  2\n  4 Poh, Sarah                23 Wings Athlet           12.87      12.71Q  0.1  1\n  5 Chaiyaphet, Pataravade    16 Wings Athlet           12.08      12.78Q  0.1  1\n  6 Benedette, Leong          20 Trackstar Athletics    12.92      13.08Q  0.1  2\n  7 Silina, Pha Aphay         28 Laos                   12.62      12.79q  0.1  1\n  8 Abdul Aziz, Zara Almira   17 Singapore Sp           12.97      13.11q  0.1  1\n  9 Ortega, Samantha          19 TeamFabian             13.03      13.19q  0.1  2\n 10 Pei Yuan-How, Marie Ador  18 Erovra Club            12.58      13.40   0.1  2\nWomen 100 Meter Dash Open\n=====================================================================================\n    Name                     Age Team                 Prelims     Finals  Wind Points\n=====================================================================================\nFinals\n  1 Tan, Elizabeth-Ann        21 Singapore              12.00      11.99  +0.0\n  2 Kim, Soeun                21 South Korea            12.49      12.28  +0.0\n  3 Ong, Kerstin              27 Singapore              12.59      12.49  +0.0\n  4 Poh, Sarah                23 Wings Athlet           12.71      12.69  +0.0\n  5 Chaiyaphet, Pataravade    16 Wings Athlet           12.78      12.80  +0.0\n  6 Silina, Pha Aphay         28 Laos                   12.79      12.86  +0.0\n  7 Benedette, Leong          20 Trackstar Athletics    13.08      12.99  +0.0\n  8 Ortega, Samantha          19 TeamFabian             13.19      13.05  +0.0\n  9 Abdul Aziz, Zara Almira   17 Singapore Sp           13.11      13.12  +0.0\nWomen 200 Meter Dash Open\n=====================================================================================\n    Name                     Age Team                    Seed     Finals  Wind Points\n=====================================================================================\n  1 Kim, Soeun                21 South Korea            24.30      25.08  +0.0\n  2 Asyerem, Mergina          25 Indonesia                         25.35  +0.0\n  3 Jaiganth, Laavinia        18 TeamFabian             25.93      25.39  +0.0\n  4 Benedette, Leong          20 Trackstar Athletics    26.68      26.67  +0.0\n  5 Si Hui Amanda, Loo        19 Trackstar Athletics    27.35      27.00  +0.0\n  6 Ortega, Samantha          19 TeamFabian             27.19      27.18  +0.0\n  7 Ng, Grace                 32 Wings Athlet           27.48      27.69  +0.0\nWomen 400 Meter Dash Open\n================================================================================\n    Name                     Age Team                    Seed     Finals  Points\n================================================================================\n  1 Asyerem, Mergina          25 Indonesia              57.16      56.30\n  2 Jaiganth, Laavinia        18 TeamFabian             57.78      56.86\n  3 Nontanam, Benny           23 Thailand               56.00      56.94\n  4 Ng, Grace                 32 Wings Athlet         1:03.39    1:02.94\n  5 Tan, Sui Xin              29 Erovra Club          1:04.29    1:06.80\n\n\n\n\nSingapore Athletics Assoc.-Open Champ - Organization License\nHy-Tek's MEET MANAGER  7:12 PM  24/4/2024  Page 2\n84th Singapore Open Track & Field - 18/4/2024 to 19/4/2024\nChampionships 2024\nSingapore Sportshub\nResults\nWomen 800 Meter Run Open\n================================================================================\n    Name                     Age Team                    Seed     Finals  Points\n================================================================================\n  1 Soh, Romaine              30 Wings Athlet         2:19.46    2:16.66\n  2 Moreira, Laura            17 Team Cicada          2:29.38    2:26.00\n  3 Hia, Alicia               22 Singapore In         2:30.87    2:30.14\n  4 Gan, Steffi               25 Lacticbuds           2:30.81    2:32.09\n  5 Ng, Grace                 32 Wings Athlet         2:29.00    2:39.38\n -- Lum Wai Yan, Janelle      19 T360                 2:32.33        DNF\nWomen 1500 Meter Run Open\n================================================================================\n    Name                     Age Team                    Seed     Finals  Points\n================================================================================\n  1 Nur Nirwani, Novia        25 Indonesia            4:35.82    4:28.03\n  2 Soh, Romaine              30 Wings Athlet         5:00.17    4:44.13\n  3 Lee, Vanessa              26 Singapore            5:18.63    4:51.73\n  4 Ford, Faith               19 Singapore            5:00.45    4:53.11\n  5 Kuchenbuch, Natalya       17 JS Athletics         5:03.97    4:57.92\n  6 Lum Wai Yan, Janelle      19 T360                 5:21.00    5:13.81\n  7 Gan, Steffi               25 Lacticbuds           5:13.67    5:15.14\nWomen 5000 Meter Run Open\n================================================================================\n    Name                     Age Team                    Seed     Finals  Points\n================================================================================\n  1 Low, Nicole               26 Wings Athlet        18:34.12   18:25.29\n  2 Ng, Kai Yi                20 TeamFabian          20:03.72   19:42.07\n  3 Ng, Yew Cheo              38 Cougars Athl        22:22.32   22:18.74\nWomen 100 Meter Hurdles Open\n=====================================================================================\n    Name                     Age Team                    Seed     Finals  Wind Points\n=====================================================================================\n  1 Nova, Emilia              29 Indonesia              13.74      14.16   0.1\n  2 Ong, Kerstin              27 Singapore              14.61      14.46   0.1\n  3 Nurhalizah, Siti          21 Indonesia              14.58      14.82   0.1\n  4 Weruwanarak, Arisa        21 Wings Athlet           15.63      15.66   0.1\n  5 Chaiyaphet, Pataravade    16 Wings Athlet           15.15      16.26   0.1\n  6 Looi, Samantha            17 Team Cicada            16.95      16.58   0.1\n  7 Tan, Clenyce              25 Wings Athlet           17.10      20.27   0.1\nWomen 400 Meter Hurdles Open\n================================================================================\n    Name                     Age Team                    Seed     Finals  Points\n================================================================================\n  1 Enriquez, Roxanne Rose Z  28 Wings Athlet         1:06.01    1:04.43\n  2 Weruwanarak, Arisa        21 Wings Athlet         1:05.20    1:04.81\nWomen 3000 Meter Steeplechase Open\n================================================================================\n    Name                     Age Team                    Seed     Finals  Points\n================================================================================\n  1 Lee, Vanessa              26 Singapore           12:03.41   11:09.16         New NR\n\n\n\n\nSingapore Athletics Assoc.-Open Champ - Organization License\nHy-Tek's MEET MANAGER  7:12 PM  24/4/2024  Page 3\n84th Singapore Open Track & Field - 18/4/2024 to 19/4/2024\nChampionships 2024\nSingapore Sportshub\nResults\nWomen High Jump Open\n================================================================================\n    Name                     Age Team                    Seed     Finals  Points\n================================================================================\n  1 Sng, Michelle             37 Singapore              1.74m      1.73m\n  2 Kim, Hangyul              23 South Korea            1.70m      1.60m\n  3 Chew, Jade                20 Singapore              1.55m      1.60m\n  4 Wong, Jin Rou             18 Singapore              1.50m      1.55m\n  5 Chong, Chloe LE Xuan      18 Singapore              1.55m      1.50m\n  5 Verboon, Lara             17 Eunoia Junior Co       1.52m      1.50m\n  5 Jia Xi, Oh                18 Team Cicada            1.50m      1.50m\n  8 Yang, Bobbi               16 Chij Seconda           1.55m      1.50m\nWomen Pole Vault Open\n================================================================================\n    Name                     Age Team                    Seed     Finals  Points\n================================================================================\n  1 Sia, Cherlin              23 Club Zoom              3.40m      3.45m\n  2 Tay, Esther               19 Singapore              3.41m      3.40m\n  3 Ong, Ashlee               17 Hwa Chong Al           2.95m      3.10m\n  4 Leong, Lorraine           17 Hwa Chong Al           3.05m      2.90m\n  5 Hanim, Asmah              40 Wings Athlet           2.85m      2.70m\n  6 Goh, Cayenne              21 Wings Athlet           2.75m      2.70m\n  7 Sen, Zahra                16 Wings Athlet           2.75m      2.70m\n -- Tan, Shayne               21 National Uni           2.80m         NH\nWomen Long Jump Open\n=====================================================================================\n    Name                     Age Team                    Seed     Finals  Wind Points\n=====================================================================================\n  1 Amjaram, Vinsensia Awute  26 Indonesia              5.85m      5.75m  +0.0\n  2 Nova, Emilia              29 Indonesia              5.36m      5.62m  +0.0\n  3 Chew, Jade                20 Singapore              5.26m      5.29m  +0.0\n  4 Chanru, Bhavika           20 Singapore Sp           5.27m      5.09m  +0.0\n  5 Zhong, Chuhan             19 Singapore              5.53m      4.49m  +0.0\nWomen Triple Jump Open\n=====================================================================================\n    Name                     Age Team                    Seed     Finals  Wind Points\n=====================================================================================\n  1 Zhong, Chuhan             19 Singapore             11.60m     11.81m  +0.0\nWomen Shot Put Open\n================================================================================\n    Name                     Age Team                    Seed     Finals  Points\n================================================================================\n  1 Intadis, Areerat          28 Thailand              16.71m     14.66m\n  2 Yee Wai Teng, Melissa     26 Singapore             12.01m     10.60m\n  3 Neo, Ee Nin               18 Wings Athlet           9.21m      9.32m\nWomen Discus Throw Open\n================================================================================\n    Name                     Age Team                    Seed     Finals  Points\n================================================================================\n  1 Insaeng, Subenrat         30 Thailand              59.67m     56.42m\n  2 Shin, Yujin               22 South Korea           56.47m     52.27m\n\n\n\n\nSingapore Athletics Assoc.-Open Champ - Organization License\nHy-Tek's MEET MANAGER  7:12 PM  24/4/2024  Page 4\n84th Singapore Open Track & Field - 18/4/2024 to 19/4/2024\nChampionships 2024\nSingapore Sportshub\nResults\n....Women Discus Throw Open\n  3 Yee Wai Teng, Melissa     26 Singapore                        35.41m\n  4 Neo, Ee Nin               18 Wings Athlet          35.00m     31.36m\nWomen Javelin Throw Open\n================================================================================\n    Name                     Age Team                    Seed     Finals  Points\n================================================================================\n  1 Wichaidit, Jiraya         28 Thailand              52.60m     53.65m\n  2 Lee, Gahui                26 South Korea           54.68m     51.11m\n  3 Feng, Han QI              18 Singapore             34.55m     34.16m\n  4 Seah, Michelle            25 Flash Athletic Club   30.35m     29.62m\nWomen 10000 Meter Race Walk Open\n================================================================================\n    Name                     Age Team                    Seed     Finals  Points\n================================================================================\n  1 Yeo, Shi Min              27 Erovra Club         10:42.47 1:12:32.09\n  2 Goh, Kim Hong Maggie      61 Malaysia                     1:15:43.76\n  3 Lim, Qi Le                26 Erovra Club         09:42.78 1:15:45.48\nMen 100 Meter Dash Open\n=================================================================================\n    Name                     Age Team                    Seed    Prelims  Wind H#\n=================================================================================\nPreliminaries\n  1 Louis, Marc Brian         22 Singapore              10.45      10.56Q  0.3  2\n  2 Wei, Tai-Sheng            24 Chinese Taipei         10.22      10.69Q  0.2  1\n  3 S/O Subash Soman, Prahar  26 Singapore              10.74      10.75Q  0.2  1\n  4 Tan, Daryl                23 Singapore              10.64      10.90Q  0.3  2 10.893\n  5 Ang, Jamie El-Redha       20 Singapore              10.82      10.80Q  0.2  1\n  6 Koe, Ian                  25 Singapore              10.86      10.90Q  0.3  2 10.899\n  7 Huang, Wei Jun            18 Singapore              10.82      10.91q  0.3  2\n  8 Gan, Ian                  22 Wings Athlet           11.03      10.99q  0.2  1\n  9 Teo, Yan                  19 Singapore              10.90      11.00q  0.2  1\n 10 Liau, Fong Jun            19 Cougars Athl           10.94      11.05   0.3  2\n 11 Ashok, Tharun             19 Singapore              10.90      11.19   0.2  1\n 12 Kannan, Pavindhiran       24 Nanyang Tech           11.08      11.21   0.2  1\n 13 Ng, Bryan                 24 Wings Athlet           11.00      11.22   0.3  2\n 14 Xaidavanh, Vongsavanh     24 Laos                   11.09      11.25   0.3  2\n 15 Basik Basik, Paustinus O  23 Indonesia              11.10      11.31   0.2  1\n 16 Bin Zainal, Muhammad Faz  27 Sky Athletics          11.09      11.38   0.3  2\nMen 100 Meter Dash Open\n=====================================================================================\n    Name                     Age Team                 Prelims     Finals  Wind Points\n=====================================================================================\nFinals\n  1 Louis, Marc Brian         22 Singapore              10.56      10.36  +0.0\n  2 Wei, Tai-Sheng            24 Chinese Taipei         10.69      10.62  +0.0\n  3 S/O Subash Soman, Prahar  26 Singapore              10.75      10.74  +0.0\n  4 Tan, Daryl                23 Singapore              10.90      10.85  +0.0\n  5 Ang, Jamie El-Redha       20 Singapore              10.80      10.87  +0.0\n  6 Huang, Wei Jun            18 Singapore              10.91      10.92  +0.0\n  7 Gan, Ian                  22 Wings Athlet           10.99      10.95  +0.0\n\n\n\n\nSingapore Athletics Assoc.-Open Champ - Organization License\nHy-Tek's MEET MANAGER  7:12 PM  24/4/2024  Page 5\n84th Singapore Open Track & Field - 18/4/2024 to 19/4/2024\nChampionships 2024\nSingapore Sportshub\nResults\n....Men 100 Meter Dash Open\n  8 Koe, Ian                  25 Singapore              10.90      11.00  +0.0\n  9 Teo, Yan                  19 Singapore              11.00      11.09  +0.0\nMen 200 Meter Dash Open\n=================================================================================\n    Name                     Age Team                    Seed    Prelims  Wind H#\n=================================================================================\nPreliminaries\n  1 Lee, Mark Ren             20 Singapore              21.44      21.95Q  0.1  1\n  2 S/O Subash Soman, Prahar  26 Singapore              21.69      22.25Q +0.0  2\n  3 Ang, Jamie El-Redha       20 Singapore              21.80      22.26Q +0.0  2\n  4 Koe, Ian                  25 Singapore              22.20      22.29Q  0.1  1\n  5 Ibrahim Molokwu, Ifeanyi  18 TeamFabian             22.55      22.65Q  0.1  1\n  6 Liau, Fong Jun            19 Cougars Athl           22.88      22.67Q +0.0  2\n  7 Donavan, Yip              18 Temasek Polytechnic    22.96      22.66q  0.1  1\n  8 Gan, Ian                  22 Wings Athlet           22.52      22.91q  0.1  1\n  9 Prudencio, Jiro           21 Maxform                22.76      22.96q +0.0  2\n 10 Teow, Alphonsus           25 Oldham Athletics       23.00      23.39  +0.0  2\n 11 Bin Wan Ahmad Muadza, Wa  16 Erovra Club            23.20      23.72  +0.0  2\nMen 200 Meter Dash Open\n=====================================================================================\n    Name                     Age Team                 Prelims     Finals  Wind Points\n=====================================================================================\nFinals\n  1 Lee, Mark Ren             20 Singapore              21.95      21.54   0.1\n  2 S/O Subash Soman, Prahar  26 Singapore              22.25      21.67   0.1\n  3 Ang, Jamie El-Redha       20 Singapore              22.26      21.80   0.1\n  4 Koe, Ian                  25 Singapore              22.29      22.05   0.1\n  5 Liau, Fong Jun            19 Cougars Athl           22.67      22.40   0.1\n  6 Gan, Ian                  22 Wings Athlet           22.91      22.50   0.1\n  7 Ibrahim Molokwu, Ifeanyi  18 TeamFabian             22.65      22.58   0.1\n  8 Donavan, Yip              18 Temasek Polytechnic    22.66      22.60   0.1\n  9 Prudencio, Jiro           21 Maxform                22.96      22.91   0.1\nMen 400 Meter Dash Open\n============================================================================\n    Name                     Age Team                    Seed    Prelims  H#\n============================================================================\nPreliminaries\n  1 Yuyamadu, Lakki           20 Thailand               47.97      49.10Q  1\n  2 Mohammad Irfan, Qabeel    25 Cougars Athl           51.25      50.39Q  2\n  3 Muthukumaran, Raam Kumar  20 Singapore Sp           50.24      49.59Q  1\n  4 Hari, Subaraghav          18 Oldham Athletics       50.44      50.44Q  2\n  5 Ibrahim Molokwu, Ifeanyi  18 TeamFabian             50.99      50.04Q  1\n  6 Prudencio, Jiro           21 Maxform                50.72      50.74Q  2\n  7 Chauhan, Aarya            22 Oldham Athletics       51.95      50.12q  1\n  8 Rumaikewi, Mandala Putra  20 Indonesia              51.14      50.67q  1\n  9 Kumar, Aswin              18 Oldham Athletics       51.29      50.99q  1\n 10 Teo, Yan                  19 Singapore              51.99      51.21   2\n 11 Bin Wan Ahmad Muadza, Wa  16 Erovra Club            52.67      52.17   2\n 12 Dhiya'ulhaq, Adam         25 Fortius Athletics      52.16      53.34   1\n 13 Khairul, Nazim            18 Republic Pol           51.98      53.42   2\n\n\n\n\nSingapore Athletics Assoc.-Open Champ - Organization License\nHy-Tek's MEET MANAGER  7:12 PM  24/4/2024  Page 6\n84th Singapore Open Track & Field - 18/4/2024 to 19/4/2024\nChampionships 2024\nSingapore Sportshub\nResults\nMen 400 Meter Dash Open\n================================================================================\n    Name                     Age Team                 Prelims     Finals  Points\n======================================================

In [4]:
df=pd.DataFrame(re.split('\n', con))

In [68]:
re.split('\n', con)

['Singapore Athletics Assoc.-Open Champ - Organization License',
 "Hy-Tek's MEET MANAGER  7:12 PM  24/4/2024  Page 1",
 '84th Singapore Open Track & Field - 18/4/2024 to 19/4/2024',
 'Championships 2024',
 'Singapore Sportshub',
 'Results',
 'Women 100 Meter Dash Open',
 '=================================================================================',
 '    Name                     Age Team                    Seed    Prelims  Wind H#',
 '=================================================================================',
 'Preliminaries',
 '  1 Tan, Elizabeth-Ann        21 Singapore              11.74      12.00Q  0.1  2',
 '  2 Kim, Soeun                21 South Korea            11.99      12.49Q  0.1  1',
 '  3 Ong, Kerstin              27 Singapore              12.56      12.59Q  0.1  2',
 '  4 Poh, Sarah                23 Wings Athlet           12.87      12.71Q  0.1  1',
 '  5 Chaiyaphet, Pataravade    16 Wings Athlet           12.08      12.78Q  0.1  1',
 '  6 Benedette, Leong          20 Trackstar Athletics    12.92      13.08Q  0.1  2',
 '  7 Silina, Pha Aphay         28 Laos                   12.62      12.79q  0.1  1',
 '  8 Abdul Aziz, Zara Almira   17 Singapore Sp           12.97      13.11q  0.1  1',
 '  9 Ortega, Samantha          19 TeamFabian             13.03      13.19q  0.1  2',
 ' 10 Pei Yuan-How, Marie Ador  18 Erovra Club            12.58      13.40   0.1  2',
 'Women 100 Meter Dash Open',
 '=====================================================================================',
 '    Name                     Age Team                 Prelims     Finals  Wind Points',
 '=====================================================================================',
 'Finals',
 '  1 Tan, Elizabeth-Ann        21 Singapore              12.00      11.99  +0.0',
 '  2 Kim, Soeun                21 South Korea            12.49      12.28  +0.0',
 '  3 Ong, Kerstin              27 Singapore              12.59      12.49  +0.0',
 '  4 Poh, Sarah                23 Wings Athlet           12.71      12.69  +0.0',
 '  5 Chaiyaphet, Pataravade    16 Wings Athlet           12.78      12.80  +0.0',
 '  6 Silina, Pha Aphay         28 Laos                   12.79      12.86  +0.0',
 '  7 Benedette, Leong          20 Trackstar Athletics    13.08      12.99  +0.0',
 '  8 Ortega, Samantha          19 TeamFabian             13.19      13.05  +0.0',
 '  9 Abdul Aziz, Zara Almira   17 Singapore Sp           13.11      13.12  +0.0',
 'Women 200 Meter Dash Open',
 '=====================================================================================',
 '    Name                     Age Team                    Seed     Finals  Wind Points',
 '=====================================================================================',
 '  1 Kim, Soeun                21 South Korea            24.30      25.08  +0.0',
 '  2 Asyerem, Mergina          25 Indonesia                         25.35  +0.0',
 '  3 Jaiganth, Laavinia        18 TeamFabian             25.93      25.39  +0.0',
 '  4 Benedette, Leong          20 Trackstar Athletics    26.68      26.67  +0.0',
 '  5 Si Hui Amanda, Loo        19 Trackstar Athletics    27.35      27.00  +0.0',
 '  6 Ortega, Samantha          19 TeamFabian             27.19      27.18  +0.0',
 '  7 Ng, Grace                 32 Wings Athlet           27.48      27.69  +0.0',
 'Women 400 Meter Dash Open',
 '================================================================================',
 '    Name                     Age Team                    Seed     Finals  Points',
 '================================================================================',
 '  1 Asyerem, Mergina          25 Indonesia              57.16      56.30',
 '  2 Jaiganth, Laavinia        18 TeamFabian             57.78      56.86',
 '  3 Nontanam, Benny           23 Thailand               56.00      56.94',
 '  4 Ng, Grace                 32 Wings Athlet         1:03.39    1:02.94',
 '  5 Tan, Sui Xin              29 Erovra Club          1:04.29    1:06.80',
 '',
 '',
 '',
 '',
 'Singapore Athletics Assoc.-Open Champ - Organization License',
 "Hy-Tek's MEET MANAGER  7:12 PM  24/4/2024  Page 2",
 '84th Singapore Open Track & Field - 18/4/2024 to 19/4/2024',
 'Championships 2024',
 'Singapore Sportshub',
 'Results',
 'Women 800 Meter Run Open',
 '================================================================================',
 '    Name                     Age Team                    Seed     Finals  Points',
 '================================================================================',
 '  1 Soh, Romaine              30 Wings Athlet         2:19.46    2:16.66',
 '  2 Moreira, Laura            17 Team Cicada          2:29.38    2:26.00',
 '  3 Hia, Alicia               22 Singapore In         2:30.87    2:30.14',
 '  4 Gan, Steffi               25 Lacticbuds           2:30.81    2:32.09',
 '  5 Ng, Grace                 32 Wings Athlet         2:29.00    2:39.38',
 ' -- Lum Wai Yan, Janelle      19 T360                 2:32.33        DNF',
 'Women 1500 Meter Run Open',
 '================================================================================',
 '    Name                     Age Team                    Seed     Finals  Points',
 '================================================================================',
 '  1 Nur Nirwani, Novia        25 Indonesia            4:35.82    4:28.03',
 '  2 Soh, Romaine              30 Wings Athlet         5:00.17    4:44.13',
 '  3 Lee, Vanessa              26 Singapore            5:18.63    4:51.73',
 '  4 Ford, Faith               19 Singapore            5:00.45    4:53.11',
 '  5 Kuchenbuch, Natalya       17 JS Athletics         5:03.97    4:57.92',
 '  6 Lum Wai Yan, Janelle      19 T360                 5:21.00    5:13.81',
 '  7 Gan, Steffi               25 Lacticbuds           5:13.67    5:15.14',
 'Women 5000 Meter Run Open',
 '================================================================================',
 '    Name                     Age Team                    Seed     Finals  Points',
 '================================================================================',
 '  1 Low, Nicole               26 Wings Athlet        18:34.12   18:25.29',
 '  2 Ng, Kai Yi                20 TeamFabian          20:03.72   19:42.07',
 '  3 Ng, Yew Cheo              38 Cougars Athl        22:22.32   22:18.74',
 'Women 100 Meter Hurdles Open',
 '=====================================================================================',
 '    Name                     Age Team                    Seed     Finals  Wind Points',
 '=====================================================================================',
 '  1 Nova, Emilia              29 Indonesia              13.74      14.16   0.1',
 '  2 Ong, Kerstin              27 Singapore              14.61      14.46   0.1',
 '  3 Nurhalizah, Siti          21 Indonesia              14.58      14.82   0.1',
 '  4 Weruwanarak, Arisa        21 Wings Athlet           15.63      15.66   0.1',
 '  5 Chaiyaphet, Pataravade    16 Wings Athlet           15.15      16.26   0.1',
 '  6 Looi, Samantha            17 Team Cicada            16.95      16.58   0.1',
 '  7 Tan, Clenyce              25 Wings Athlet           17.10      20.27   0.1',
 'Women 400 Meter Hurdles Open',
 '================================================================================',
 '    Name                     Age Team                    Seed     Finals  Points',
 '================================================================================',
 '  1 Enriquez, Roxanne Rose Z  28 Wings Athlet         1:06.01    1:04.43',
 '  2 Weruwanarak, Arisa        21 Wings Athlet         1:05.20    1:04.81',
 'Women 3000 Meter Steeplechase Open',
 '================================================================================',
 '    Name                     Age Team                    Seed     Finals  Points',
 '================================================================================',
 '  1 Lee, Vanessa              26 Singapore           12:03.41   11:09.16         New NR',
 '',
 '',
 '',
 '',
 'Singapore Athletics Assoc.-Open Champ - Organization License',
 "Hy-Tek's MEET MANAGER  7:12 PM  24/4/2024  Page 3",
 '84th Singapore Open Track & Field - 18/4/2024 to 19/4/2024',
 'Championships 2024',
 'Singapore Sportshub',
 'Results',
 'Women High Jump Open',
 '================================================================================',
 '    Name                     Age Team                    Seed     Finals  Points',
 '================================================================================',
 '  1 Sng, Michelle             37 Singapore              1.74m      1.73m',
 '  2 Kim, Hangyul              23 South Korea            1.70m      1.60m',
 '  3 Chew, Jade                20 Singapore              1.55m      1.60m',
 '  4 Wong, Jin Rou             18 Singapore              1.50m      1.55m',
 '  5 Chong, Chloe LE Xuan      18 Singapore              1.55m      1.50m',
 '  5 Verboon, Lara             17 Eunoia Junior Co       1.52m      1.50m',
 '  5 Jia Xi, Oh                18 Team Cicada            1.50m      1.50m',
 '  8 Yang, Bobbi               16 Chij Seconda           1.55m      1.50m',
 'Women Pole Vault Open',
 '================================================================================',
 '    Name                     Age Team                    Seed     Finals  Points',
 '================================================================================',
 '  1 Sia, Cherlin              23 Club Zoom              3.40m      3.45m',
 '  2 Tay, Esther               19 Singapore              3.41m      3.40m',
 '  3 Ong, Ashlee               17 Hwa Chong Al           2.95m      3.10m',
 '  4 Leong, Lorraine           17 Hwa Chong Al           3.05m      2.90m',
 '  5 Hanim, Asmah              40 Wings Athlet           2.85m      2.70m',
 '  6 Goh, Cayenne              21 Wings Athlet           2.75m      2.70m',
 '  7 Sen, Zahra                16 Wings Athlet           2.75m      2.70m',
 ' -- Tan, Shayne               21 National Uni           2.80m         NH',
 'Women Long Jump Open',
 '=====================================================================================',
 '    Name                     Age Team                    Seed     Finals  Wind Points',
 '=====================================================================================',
 '  1 Amjaram, Vinsensia Awute  26 Indonesia              5.85m      5.75m  +0.0',
 '  2 Nova, Emilia              29 Indonesia              5.36m      5.62m  +0.0',
 '  3 Chew, Jade                20 Singapore              5.26m      5.29m  +0.0',
 '  4 Chanru, Bhavika           20 Singapore Sp           5.27m      5.09m  +0.0',
 '  5 Zhong, Chuhan             19 Singapore              5.53m      4.49m  +0.0',
 'Women Triple Jump Open',
 '=====================================================================================',
 '    Name                     Age Team                    Seed     Finals  Wind Points',
 '=====================================================================================',
 '  1 Zhong, Chuhan             19 Singapore             11.60m     11.81m  +0.0',
 'Women Shot Put Open',
 '================================================================================',
 '    Name                     Age Team                    Seed     Finals  Points',
 '================================================================================',
 '  1 Intadis, Areerat          28 Thailand              16.71m     14.66m',
 '  2 Yee Wai Teng, Melissa     26 Singapore             12.01m     10.60m',
 '  3 Neo, Ee Nin               18 Wings Athlet           9.21m      9.32m',
 'Women Discus Throw Open',
 '================================================================================',
 '    Name                     Age Team                    Seed     Finals  Points',
 '================================================================================',
 '  1 Insaeng, Subenrat         30 Thailand              59.67m     56.42m',
 '  2 Shin, Yujin               22 South Korea           56.47m     52.27m',
 '',
 '',
 '',
 '',
 'Singapore Athletics Assoc.-Open Champ - Organization License',
 "Hy-Tek's MEET MANAGER  7:12 PM  24/4/2024  Page 4",
 '84th Singapore Open Track & Field - 18/4/2024 to 19/4/2024',
 'Championships 2024',
 'Singapore Sportshub',
 'Results',
 '....Women Discus Throw Open',
 '  3 Yee Wai Teng, Melissa     26 Singapore                        35.41m',
 '  4 Neo, Ee Nin               18 Wings Athlet          35.00m     31.36m',
 'Women Javelin Throw Open',
 '================================================================================',
 '    Name                     Age Team                    Seed     Finals  Points',
 '================================================================================',
 '  1 Wichaidit, Jiraya         28 Thailand              52.60m     53.65m',
 '  2 Lee, Gahui                26 South Korea           54.68m     51.11m',
 '  3 Feng, Han QI              18 Singapore             34.55m     34.16m',
 '  4 Seah, Michelle            25 Flash Athletic Club   30.35m     29.62m',
 'Women 10000 Meter Race Walk Open',
 '================================================================================',
 '    Name                     Age Team                    Seed     Finals  Points',
 '================================================================================',
 '  1 Yeo, Shi Min              27 Erovra Club         10:42.47 1:12:32.09',
 '  2 Goh, Kim Hong Maggie      61 Malaysia                     1:15:43.76',
 '  3 Lim, Qi Le                26 Erovra Club         09:42.78 1:15:45.48',
 'Men 100 Meter Dash Open',
 '=================================================================================',
 '    Name                     Age Team                    Seed    Prelims  Wind H#',
 '=================================================================================',
 'Preliminaries',
 '  1 Louis, Marc Brian         22 Singapore              10.45      10.56Q  0.3  2',
 '  2 Wei, Tai-Sheng            24 Chinese Taipei         10.22      10.69Q  0.2  1',
 '  3 S/O Subash Soman, Prahar  26 Singapore              10.74      10.75Q  0.2  1',
 '  4 Tan, Daryl                23 Singapore              10.64      10.90Q  0.3  2 10.893',
 '  5 Ang, Jamie El-Redha       20 Singapore              10.82      10.80Q  0.2  1',
 '  6 Koe, Ian                  25 Singapore              10.86      10.90Q  0.3  2 10.899',
 '  7 Huang, Wei Jun            18 Singapore              10.82      10.91q  0.3  2',
 '  8 Gan, Ian                  22 Wings Athlet           11.03      10.99q  0.2  1',
 '  9 Teo, Yan                  19 Singapore              10.90      11.00q  0.2  1',
 ' 10 Liau, Fong Jun            19 Cougars Athl           10.94      11.05   0.3  2',
 ' 11 Ashok, Tharun             19 Singapore              10.90      11.19   0.2  1',
 ' 12 Kannan, Pavindhiran       24 Nanyang Tech           11.08      11.21   0.2  1',
 ' 13 Ng, Bryan                 24 Wings Athlet           11.00      11.22   0.3  2',
 ' 14 Xaidavanh, Vongsavanh     24 Laos                   11.09      11.25   0.3  2',
 ' 15 Basik Basik, Paustinus O  23 Indonesia              11.10      11.31   0.2  1',
 ' 16 Bin Zainal, Muhammad Faz  27 Sky Athletics          11.09      11.38   0.3  2',
 'Men 100 Meter Dash Open',
 '=====================================================================================',
 '    Name                     Age Team                 Prelims     Finals  Wind Points',
 '=====================================================================================',
 'Finals',
 '  1 Louis, Marc Brian         22 Singapore              10.56      10.36  +0.0',
 '  2 Wei, Tai-Sheng            24 Chinese Taipei         10.69      10.62  +0.0',
 '  3 S/O Subash Soman, Prahar  26 Singapore              10.75      10.74  +0.0',
 '  4 Tan, Daryl                23 Singapore              10.90      10.85  +0.0',
 '  5 Ang, Jamie El-Redha       20 Singapore              10.80      10.87  +0.0',
 '  6 Huang, Wei Jun            18 Singapore              10.91      10.92  +0.0',
 '  7 Gan, Ian                  22 Wings Athlet           10.99      10.95  +0.0',
 '',
 '',
 '',
 '',
 'Singapore Athletics Assoc.-Open Champ - Organization License',
 "Hy-Tek's MEET MANAGER  7:12 PM  24/4/2024  Page 5",
 '84th Singapore Open Track & Field - 18/4/2024 to 19/4/2024',
 'Championships 2024',
 'Singapore Sportshub',
 'Results',
 '....Men 100 Meter Dash Open',
 '  8 Koe, Ian                  25 Singapore              10.90      11.00  +0.0',
 '  9 Teo, Yan                  19 Singapore              11.00      11.09  +0.0',
 'Men 200 Meter Dash Open',
 '=================================================================================',
 '    Name                     Age Team                    Seed    Prelims  Wind H#',
 '=================================================================================',
 'Preliminaries',
 '  1 Lee, Mark Ren             20 Singapore              21.44      21.95Q  0.1  1',
 '  2 S/O Subash Soman, Prahar  26 Singapore              21.69      22.25Q +0.0  2',
 '  3 Ang, Jamie El-Redha       20 Singapore              21.80      22.26Q +0.0  2',
 '  4 Koe, Ian                  25 Singapore              22.20      22.29Q  0.1  1',
 '  5 Ibrahim Molokwu, Ifeanyi  18 TeamFabian             22.55      22.65Q  0.1  1',
 '  6 Liau, Fong Jun            19 Cougars Athl           22.88      22.67Q +0.0  2',
 '  7 Donavan, Yip              18 Temasek Polytechnic    22.96      22.66q  0.1  1',
 '  8 Gan, Ian                  22 Wings Athlet           22.52      22.91q  0.1  1',
 '  9 Prudencio, Jiro           21 Maxform                22.76      22.96q +0.0  2',
 ' 10 Teow, Alphonsus           25 Oldham Athletics       23.00      23.39  +0.0  2',
 ' 11 Bin Wan Ahmad Muadza, Wa  16 Erovra Club            23.20      23.72  +0.0  2',
 'Men 200 Meter Dash Open',
 '=====================================================================================',
 '    Name                     Age Team                 Prelims     Finals  Wind Points',
 '=====================================================================================',
 'Finals',
 '  1 Lee, Mark Ren             20 Singapore              21.95      21.54   0.1',
 '  2 S/O Subash Soman, Prahar  26 Singapore              22.25      21.67   0.1',
 '  3 Ang, Jamie El-Redha       20 Singapore              22.26      21.80   0.1',
 '  4 Koe, Ian                  25 Singapore              22.29      22.05   0.1',
 '  5 Liau, Fong Jun            19 Cougars Athl           22.67      22.40   0.1',
 '  6 Gan, Ian                  22 Wings Athlet           22.91      22.50   0.1',
 '  7 Ibrahim Molokwu, Ifeanyi  18 TeamFabian             22.65      22.58   0.1',
 '  8 Donavan, Yip              18 Temasek Polytechnic    22.66      22.60   0.1',
 '  9 Prudencio, Jiro           21 Maxform                22.96      22.91   0.1',
 'Men 400 Meter Dash Open',
 '============================================================================',
 '    Name                     Age Team                    Seed    Prelims  H#',
 '============================================================================',
 'Preliminaries',
 '  1 Yuyamadu, Lakki           20 Thailand               47.97      49.10Q  1',
 '  2 Mohammad Irfan, Qabeel    25 Cougars Athl           51.25      50.39Q  2',
 '  3 Muthukumaran, Raam Kumar  20 Singapore Sp           50.24      49.59Q  1',
 '  4 Hari, Subaraghav          18 Oldham Athletics       50.44      50.44Q  2',
 '  5 Ibrahim Molokwu, Ifeanyi  18 TeamFabian             50.99      50.04Q  1',
 '  6 Prudencio, Jiro           21 Maxform                50.72      50.74Q  2',
 '  7 Chauhan, Aarya            22 Oldham Athletics       51.95      50.12q  1',

In [52]:
df.iloc[8][0]

'    Name                     Age Team                    Seed    Prelims  Wind H#'

In [69]:
columns=df.iloc[8][0].split(' ')

In [71]:
new_list = [x for x in columns if x != ""]

In [72]:
new_list

['Name', 'Age', 'Team', 'Seed', 'Prelims', 'Wind', 'H#']

In [11]:
df.iloc[10][0]

'Preliminaries'

In [12]:
df.iloc[11][0]

'  1 Tan, Elizabeth-Ann        21 Singapore              11.74      12.00Q  0.1  2'

In [13]:
df.iloc[12][0]

'  2 Kim, Soeun                21 South Korea            11.99      12.49Q  0.1  1'

In [18]:
string=df.iloc[11][0]

In [21]:
print(string[:3])

  1

In [28]:
print(string[4:29])

Tan, Elizabeth-Ann

In [30]:
print(string[30:32])

21

In [37]:
print(string[33:55])

Singapore

In [45]:
print(string[56:66])

11.74

In [44]:
print(string[67:73])

12.00Q

In [47]:
print(string[74:78])

 0.1

In [50]:
print(string[80:82])

2

In [96]:
event_pattern='Singapore Open'
#result_pattern='(.\d\dm)'
#result_pattern='(\d\d\d\d\s[A-Z][a-z]+)'
#result_pattern='(\d\d\d\d\s[A-Z].+(.\d\dm))'
result_pattern='\d\d.\d\d'
#exclusion_pattern='(NH|DNS)'
exclusion_pattern='NONE'
gender_pattern='Men|Women'

In [207]:
#s='  1  1056 Tokai, Marika       24 Japan                 49.22m     47.78m'
#s='  6  1039 Guntur, Ibrahim     17 Indonesia              1.93m     J1.95m'
s='   1111 Chang, Cheng Huan   22 Safsa                               DNS'


match = re.search(exclusion_pattern, s)

print(match)

<re.Match object; span=(69, 72), match='DNS'>

In [105]:
## For new 2024 RTF format encountered

column_names=["Rank", "Name", "Age", "Team", "Age", "Seed", "Result", "Wind",  "Points", "Heat", "Gender", "Event", "Category_Event"]
    
output = pd.DataFrame(columns=column_names)



for index, row in df.iterrows(): # find row containing event details and column names
                           
        
        if 'Singapore Open' in row[0]: # splice competition name
            
            row=row[0]
            
                        
            position = re.search(event_pattern, row)
                                                  
            split_start=position.start()-5      
            split_end=position.end()
            
            competition=row[split_start:split_end]
            
        if 'Men' in row[0] or 'Women' in row[0]:   # splice gender and event
            
            row=row[0]
            
            position = re.search(gender_pattern, row)
                        
            split_start=position.start()
            split_end=position.end()
            
            gender=row[split_start:split_end]
                        
            event=row[split_end:]
                        
        if 'Name' in row[0]:    # splice column names
            
            row=row[0]
            
            list=row.split(' ')
            
            columns = [x for x in list if x != ""]
            
            columns.insert(0, 'Rank') # Insert missing 'Rank' column at the beginning
            
            temp_df = pd.DataFrame(columns=columns)
            
            print(columns)

            
            
        if 'Finals' in row:
            round='Finals'
                
        if 'Preliminaries' in row:
            round='Preliminaries'
            
            
        if 'Throw' in event:
            category_event='Throw'
        elif 'Jump' in event:
            category_event='Jump'
        elif 'Vault' in event:
            category_event='Jump'
        elif '100' in event:
            category_event='Sprint'
        elif '1500' in event:
            category_event='Mid'
        elif 'Javelin' in event:
            category_event='Throw'
        elif 'Shot' in event:
            category_event='Throw'
        elif '400' in event:
            category_event='Sprint'
        elif '800' in event:
            category_event='Mid'
        elif '400' in event:
            category_event='Sprint'
        elif 'Hurdles' in event:
            category_event='Hurdles'
        elif '200' in event:
            category_event='Sprint'
        elif 'Walk' in event:
            category_event='Walk'
        elif '3000' in event:
            category_event='Long'
        elif '5000' in event:
            category_event='Long'
        elif '2000' in event:
            category_event='Mid'
        elif 'Discus' in event:
            category_event='Throw'
                
        if 'Relay' in event: # Change from Sprint to Relay for relays only
            category_event='Relay'           
            
            
        if re.search(result_pattern, row[0]):  # if row matches pattern with results
            
            string=row[0]
                        
            rank=string[0:3]  # slice string to extract ranking
                        
            name=string[4:29]
            
            age = string[30:32]
                        
            team = string[33:55]
            
            remainder=string[56:].strip()
                        
            remainder=re.sub("\s+", " ", remainder) # remove extraneous spaces from string
            
                  
            if not re.search(exclusion_pattern, remainder):   # drop those with NH, DNS or NWI
   
                list=remainder.split(' ')   # convert string to list   
            
                combined=rank+ ';'+name+'; '+ age +'; ' + team + '; '+'; '.join(list)  # use ';' in case names have a ','
                
                row=combined.split(';')
                
                print(row)
                
                            
                temp_df.loc[len(temp_df)] = row
                
                


output['Division'] = ''
output['Stage'] = ''
output['Date'] = '2024'
output['Competition'] = 'Meet Manager'
output['Qualification']=''
output['Points']=''
output['Lane']=''
output['Heat']=''
output['Unique_ID']=''
output['Country']=''
output['Dict_Results']=''
output['Region']='Local'
output['DOB']=''
output['Group']=''
output['Athlete_ID']=''
output['Source']='MM RTF file'
output['Remarks']=''
output['Timestamp']=''
output['Free_Field']=''
output['Free_Field2']=''
output['Free_Field3']=''



                        
output = output.reindex(columns= ['Rank', 'Tag_ID', 'Name', 'Team', 'Seed', 'Result', 'Qualification', 'Heat', 'Lane', 'Wind', 'Event', 'Division', 'Stage', 
                                  'Points', 'Age', 'Gender', 'Unique_ID', 'Country', 'Dict_Results', 'Date', 'Competition', 'Region', 'DOB','Group', 'Category_Event', 
                                  'Athlete_ID', 'Source', 'Remarks', 'Timestamp', 'Free_Field', 'Free_Field2', 'Free_Field3'])

                
output.to_csv('test_csv.csv', sep=',', encoding='utf-8-sig', index=False)

['Rank', 'Name', 'Age', 'Team', 'Seed', 'Prelims', 'Wind', 'H#']
['  1', 'Tan, Elizabeth-Ann       ', ' 21', ' Singapore             ', ' 11.74', ' 12.00Q', ' 0.1', ' 2']
['  2', 'Kim, Soeun               ', ' 21', ' South Korea           ', ' 11.99', ' 12.49Q', ' 0.1', ' 1']
['  3', 'Ong, Kerstin             ', ' 27', ' Singapore             ', ' 12.56', ' 12.59Q', ' 0.1', ' 2']
['  4', 'Poh, Sarah               ', ' 23', ' Wings Athlet          ', ' 12.87', ' 12.71Q', ' 0.1', ' 1']
['  5', 'Chaiyaphet, Pataravade   ', ' 16', ' Wings Athlet          ', ' 12.08', ' 12.78Q', ' 0.1', ' 1']
['  6', 'Benedette, Leong         ', ' 20', ' Trackstar Athletics   ', ' 12.92', ' 13.08Q', ' 0.1', ' 2']
['  7', 'Silina, Pha Aphay        ', ' 28', ' Laos                  ', ' 12.62', ' 12.79q', ' 0.1', ' 1']
['  8', 'Abdul Aziz, Zara Almira  ', ' 17', ' Singapore Sp          ', ' 12.97', ' 13.11q', ' 0.1', ' 1']
['  9', 'Ortega, Samantha         ', ' 19', ' TeamFabian            ', ' 13.03', ' 13.19q', ' 0.1', ' 2']
[' 10', 'Pei Yuan-How, Marie Ador ', ' 18', ' Erovra Club           ', ' 12.58', ' 13.40', ' 0.1', ' 2']
['Rank', 'Name', 'Age', 'Team', 'Prelims', 'Finals', 'Wind', 'Points']
['  1', 'Tan, Elizabeth-Ann       ', ' 21', ' Singapore             ', ' 12.00', ' 11.99', ' +0.0']

ValueError: cannot set a row with mismatched columns

In [106]:
temp_df

Empty DataFrame
Columns: [Rank, Name, Age, Team, Prelims, Finals, Wind, Points]
Index: []

In [9]:
# DO NOT TOUCH THIS. ORIGINAL RTF FORMAT.

column_names=["Rank", "Tag_ID", "Name", "Team", "Event", "Age", "Gender", "Category_Event", "Seed", "Result", "Wind"]
    
output = pd.DataFrame(columns=column_names)

print(df)


for index, row in df.iterrows(): # find row containing event details and column names
                           
        
        if 'Event' in row[0]:
            
            row=row[0]
                        
            row = row.replace("-", "-")

            position = re.search(event_pattern, row)
                                                
            split_end=position.end()      # adjust the splicing position to only capture the event name

            event=row[split_end:]
                                                
            
            if 'Men' in row:
                gender='Male'
                
            if 'Women' in row:
                gender='Female'    
                   
            if 'Finals' in event:
                round='Finals'
            
            
        if 'Throw' in event:
            category_event='Throw'
        elif 'Jump' in event:
            category_event='Jump'
        elif 'Vault' in event:
            category_event='Jump'
            

                    
            
            
        if re.search(result_pattern, row[0]):  # if row matches pattern with results
            
            string=row[0]
            
            rank=string[2:4]  # slice string to extract ranking
            
            ID=string[5:9]
            
            name=string[10:29]
            
            age = string[30:32]
                        
            team = string[33:55]
            
            remainder=string[56:].strip()
                        
            remainder=re.sub("\s+", " ", remainder) # remove extraneous spaces from string
                  
            if not re.search(exclusion_pattern, remainder):   # drop those with NH, DNS or NWI
   
                list=remainder.split(' ')   # convert string to list   
            
                combined=rank+ ';'+ID+'; '+ name +'; ' + team + '; '+event +'; '+age+'; '+gender+'; '+category_event+';'+'; '.join(list)  # use ';' in case names have a ','
                
                row=combined.split(';')
                
                
                pad_value = ' '
                pad_size = 11 - len(row)

                final_list = [*row, *[pad_value] * pad_size]  # add extra columns to make it 11
                
                output.loc[len(output)] = final_list


output['Division'] = ''
output['Stage'] = ''
output['Date'] = '2024'
output['Competition'] = 'Meet Manager'
output['Qualification']=''
output['Points']=''
output['Lane']=''
output['Heat']=''
output['Unique_ID']=''
output['Country']=''
output['Dict_Results']=''
output['Region']='Local'
output['DOB']=''
output['Group']=''
output['Athlete_ID']=''
output['Source']='MM RTF file'
output['Remarks']=''
output['Timestamp']=''
output['Free_Field']=''
output['Free_Field2']=''
output['Free_Field3']=''



                        
output = output.reindex(columns= ['Rank', 'Tag_ID', 'Name', 'Team', 'Seed', 'Result', 'Qualification', 'Heat', 'Lane', 'Wind', 'Event', 'Division', 'Stage', 
                                  'Points', 'Age', 'Gender', 'Unique_ID', 'Country', 'Dict_Results', 'Date', 'Competition', 'Region', 'DOB','Group', 'Category_Event', 
                                  'Athlete_ID', 'Source', 'Remarks', 'Timestamp', 'Free_Field', 'Free_Field2', 'Free_Field3'])

                
output.to_csv('test_csv.csv', sep=',', encoding='utf-8-sig', index=False)

                                                     0
0    Singapore Athletics Assoc.-Open Champ - Organi...
1    Hy-Tek's MEET MANAGER  7:12 PM  24/4/2024  Page 1
2    84th Singapore Open Track & Field - 18/4/2024 ...
3                                   Championships 2024
4                                  Singapore Sportshub
..                                                 ...
499    2 Lim, Jerron               27 Erovra Club  ...
500    3 R, Subramaniam            61 Swift        ...
501
502
503

[504 rows x 1 columns]

AttributeError: 'NoneType' object has no attribute 'end'

In [10]:
df.head(50)

                                                    0
0   Singapore Athletics Assoc.-Open Champ - Organi...
1   Hy-Tek's MEET MANAGER  7:12 PM  24/4/2024  Page 1
2   84th Singapore Open Track & Field - 18/4/2024 ...
3                                  Championships 2024
4                                 Singapore Sportshub
5                                             Results
6                           Women 100 Meter Dash Open
7   ==============================================...
8       Name                     Age Team         ...
9   ==============================================...
10                                      Preliminaries
11    1 Tan, Elizabeth-Ann        21 Singapore    ...
12    2 Kim, Soeun                21 South Korea  ...
13    3 Ong, Kerstin              27 Singapore    ...
14    4 Poh, Sarah                23 Wings Athlet ...
15    5 Chaiyaphet, Pataravade    16 Wings Athlet ...
16    6 Benedette, Leong          20 Trackstar Ath...
17    7 Silina, Pha Aphay         28 Laos         ...
18    8 Abdul Aziz, Zara Almira   17 Singapore Sp ...
19    9 Ortega, Samantha          19 TeamFabian   ...
20   10 Pei Yuan-How, Marie Ador  18 Erovra Club  ...
21                          Women 100 Meter Dash Open
22  ==============================================...
23      Name                     Age Team         ...
24  ==============================================...
25                                             Finals
26    1 Tan, Elizabeth-Ann        21 Singapore    ...
27    2 Kim, Soeun                21 South Korea  ...
28    3 Ong, Kerstin              27 Singapore    ...
29    4 Poh, Sarah                23 Wings Athlet ...
30    5 Chaiyaphet, Pataravade    16 Wings Athlet ...
31    6 Silina, Pha Aphay         28 Laos         ...
32    7 Benedette, Leong          20 Trackstar Ath...
33    8 Ortega, Samantha          19 TeamFabian   ...
34    9 Abdul Aziz, Zara Almira   17 Singapore Sp ...
35                          Women 200 Meter Dash Open
36  ==============================================...
37      Name                     Age Team         ...
38  ==============================================...
39    1 Kim, Soeun                21 South Korea  ...
40    2 Asyerem, Mergina          25 Indonesia    ...
41    3 Jaiganth, Laavinia        18 TeamFabian   ...
42    4 Benedette, Leong          20 Trackstar Ath...
43    5 Si Hui Amanda, Loo        19 Trackstar Ath...
44    6 Ortega, Samantha          19 TeamFabian   ...
45    7 Ng, Grace                 32 Wings Athlet ...
46                          Women 400 Meter Dash Open
47  ==============================================...
48      Name                     Age Team         ...
49  ==============================================...

In [37]:
output.dropna(how="all", axis=1, inplace=True)

In [38]:
output

,Rank,Tag_ID,Name,Team,Seed,Result,Qualification,Heat,Lane,Wind,...,DOB,Group,Category_Event,Athlete_ID,Source,Remarks,Timestamp,Free_Field,Free_Field2,Free_Field3
0,1,1016,Binte Mohamad Nafi,Club Zoom,1.60m,13.52m,,,,0.6,...,,,Jump,,MM RTF file,,,,,
1,2,1054,"Takeda, Sayuri",Japan,2.75m,13.25m,,,,2.0,...,,,Jump,,MM RTF file,,,,,
2,3,1058,"Yamane, Mei",Japan,2.89m,12.59m,,,,0.9,...,,,Jump,,MM RTF file,,,,,
3,4,1095,"Ng, Yee Lin, Fiona",NUS,0.32m,10.72m,,,,1.5,...,,,Jump,,MM RTF file,,,,,
4,5,1160,"Chow, Wan Ki Victo",WAC,0.51m,10.39m,,,,1.7,...,,,Jump,,MM RTF file,,,,,
5,6,1094,"Lim, Yan Rui",NUS,0.16m,10.28m,,,,0.4,...,,,Jump,,MM RTF file,,,,,
6,,1017,"Xu, Weixin",Club Zoom,1.20m,DNS,,,,NWI,...,,,Jump,,MM RTF file,,,,,
7,1,1161,"Goh, Chui Ling",WAC,1.51m,,,,,,...,,,Jump,,MM RTF file,,,,,
8,,1096,"Toh, Xiao Min",NUS,1.40m,NH,,,,,...,,,Jump,,MM RTF file,,,,,
9,1,1033,"Pramendra, Kumar P",India,4.75m,,,,,,...,,,Jump,,MM RTF file,,,,,
10,2,1097,"Chong, Min Xun",NUS,4.20m,4.60m,,,,,...,,,Jump,,MM RTF file,,,,,
11,3,1027,"Koh, Xu Qing Aaron",HCIC,4.30m,4.20m,,,,,...,,,Jump,,MM RTF file,,,,,
12,4,1109,"Boey, Desmond Kaij",Safsa,4.00m,,,,,,...,,,Jump,,MM RTF file,,,,,
13,5,1025,"Wong, Xin Zhan Cle",HCI,4.10m,3.60m,,,,,...,,,Jump,,MM RTF file,,,,,
14,,1169,"Ang, Kwok Chye Jay",WAC,4.00m,NH,,,,,...,,,Jump,,MM RTF file,,,,,
15,,1179,"Law, Chak Hin",WAC,3.60m,NH,,,,,...,,,Jump,,MM RTF file,,,,,
16,,1028,"Tan, Yuan Shao Dar",HCIC,4.20m,NH,,,,,...,,,Jump,,MM RTF file,,,,,
17,,1024,"Chan, Sheng Yao",HCI,4.64m,NH,,,,,...,,,Jump,,MM RTF file,,,,,
18,1,1062,"Fujiwara, Jun",Japan,0.32m,50.70m,,,,,...,,,Throw,,MM RTF file,,,,,
19,2,1143,"Ruckpaul, Uli",Tv Alzey Athleti,8.67m,50.22m,,,,,...,,,Throw,,MM RTF file,,,,,
20,3,1195,"Wong, Scott",WAC,5.90m,48.50m,,,,,...,,,Throw,,MM RTF file,,,,,
21,4,1068,"Oyama, Hirofumi",Japan,0.57m,48.35m,,,,,...,,,Throw,,MM RTF file,,,,,
22,5,1193,"Wong, James",WAC,1.32m,46.37m,,,,,...,,,Throw,,MM RTF file,,,,,
23,6,1015,"Yang, Chun Jui",Chinese Taipei,43.63m,,,,,,...,,,Throw,,MM RTF file,,,,,
24,7,1189,"Su, Landdis",WAC,1.00m,38.36m,,,,,...,,,Throw,,MM RTF file,,,,,
25,8,1171,"Chow, Wing Hang",WAC,0.00m,28.83m,,,,,...,,,Throw,,MM RTF file,,,,,
26,9,1045,"Tan, Keng Siong Jo",Ite College East,8.85m,26.00m,,,,,...,,,Throw,,MM RTF file,,,,,
27,1,1064,"Hasegawa, Daigo",Japan,6.17m,15.60m,,,,+0.0,...,,,Jump,,MM RTF file,,,,,
28,2,1069,"Sato, Kenichi",Japan,5.72m,15.59m,,,,+0.0,...,,,Jump,,MM RTF file,,,,,
29,4,1194,"Wong, Kin Nang",WAC,4.66m,14.29m,,,,0.4,...,,,Jump,,MM RTF file,,,,,
30,,1099,"Sng, Muhammad Sham",NUS,3.28m,DNS,,,,NWI,...,,,Jump,,MM RTF file,,,,,
31,1,1061,"Funase, Yuta",Japan,2.11m,2.10m,,,,,...,,,Jump,,MM RTF file,,,,,
32,2,1086,"Cai, Yao Qing, Ron",Nanyang Polytechnic,2.08m,2.00m,,,,,...,,,Jump,,MM RTF file,,,,,
33,3,1003,"Bin Hj Yahya, Abdu",Brunei,J2.00m,,,,,,...,,,Jump,,MM RTF file,,,,,
34,4,1178,"Lam, Ho Fung",WAC,2.08m,J2.00m,,,,,...,,,Jump,,MM RTF file,,,,,
35,5,1023,"Chan, Chi Shing",Hong Kong,1.95m,,,,,,...,,,Jump,,MM RTF file,,,,,
36,6,1039,"Guntur, Ibrahim",Indonesia,1.93m,J1.95m,,,,,...,,,Jump,,MM RTF file,,,,,
37,7,1181,"Lim, Nelson",WAC,1.91m,1.85m,,,,,...,,,Jump,,MM RTF file,,,,,
38,8,1112,"Khan, Meng Linn",Safsa,1.80m,,,,,,...,,,Jump,,MM RTF file,,,,,
39,9,1113,"Khan, Meng Sunn",Safsa,1.75m,,,,,,...,,,Jump,,MM RTF file,,,,,
40,1,1056,"Tokai, Marika",Japan,9.22m,47.78m,,,,,...,,,Throw,,MM RTF file,,,,,
41,2,1078,"Yap, Jeng Tzan",Malaysia,6.84m,44.75m,,,,,...,,,Throw,,MM RTF file,,,,,
42,3,1005,"Chiang, Ru Ching",Chinese Taipei,4.89m,42.54m,,,,,...,,,Throw,,MM RTF file,,,,,
43,4,1165,"Lee, ShihYan Hann",WAC,2.79m,42.36m,,,,,...,,,Throw,,MM RTF file,,,,,
44,5,1034,"Indah, Prapiwi",Indonesia,35.00m,,,,,,...,,,Throw,,MM RTF file,,,,,
45,1,1083,"Chan, Justina",Nanyang Polytechnic,3.30m,3.20m,,,,,...,,,Jump,,MM RTF file,,,,,
46,2,1159,"Choi, Sin Ting",WAC,3.21m,2.80m,,,,,...,,,Jump,,MM RTF file,,,,,
47,,1197,"Ong, Pei Gin",Nanyang Polytechnic,2.80m,NH,,,,,...,,,Jump,,MM RTF file,,,,,

In [12]:
final_list

['2 ',
 '1159',
 ' Choi, Sin Ting     ',
 ' WAC                   ',
 '  Pole Vault Open',
 ' 23',
 ' Female',
 ' 3.21m',
 ' 2.80m',
 ' ']

In [175]:
combined

'2 ;1159; Choi, Sin Ting     ; ;  Pole Vault Open; ; 233.21m; 2.80m'

In [3]:
# Read and parse pdf from MM. Iterate over different tables using pdf.pages[0,1,2,etc.] to access different pages

import pdfplumber
import os

os.chdir('/Users/veesheenyuen/Desktop/DataScience/SAA/MM/') 

#file="sectrack_audit_2010_211-211.pdf"
#file="Session 13_13-end.pdf"
#file="Session 13_1-4.pdf"
#file="sectrack_audit_2010_28-28.pdf"
#file="Session 13_5-6.pdf"
file='ac3 full results.pdf'   # stranded pdf



#table_settings = {
#    "vertical_strategy": "text",
#    "horizontal_strategy": "text",
#    }


with pdfplumber.open(file) as pdf:
    
    page = pdf.pages[1]
    table=page.extract_table()
    text=page.extract_text()


splitted=text.splitlines()

splitted

["Singapore Athletics Assoc.-Open Champ - Organization License Hy-Tek's MEET MANAGER Page 2",
 'SA Allcomers Meet 3 - 13/3/2024 to 17/3/2024',
 'Home of Athletics',
 'Results',
 'Event 104 Women 400 Meter Hurdles (0.762m) U18',
 '===================================================================================',
 'U18: * 1:03.11 30/11/2008 Thirualkarasu Piriyah, Singapore',
 'Name Age Team Seed Finals H# Points',
 '===================================================================================',
 '1 # 2708 Choo, Jiayi 16 CG 1:13.03 2',
 '2 # 3192 Lui, Rui Xian 16 NYG 1:13.48 1',
 '3 # 2707 Chew, Caelyn 16 CG 1:13.97 2',
 "4 # 2856 Goh, Xu'En Hannah 16 SNG 1:19.30 1",
 '5 # 3206 Teo, Yan Jia 16 NYG 1:20.25 2',
 '6 # 2846 Chan, Chien Wen E 16 SNG 1:20.33 1',
 '7 # 3246 Wang, Jing Han Ka 15 NJC 1:27.60 1',
 '8 # 3225 Chai, Xin Ya 15 NJC 1:31.59 1:32.16 1',
 '9 # 3228 Goh, Zining Ameli 15 NJC 1:40.30 1',
 '-- # 3231 Heng, Yu Xuan Sar 16 NJC 1:19.97 DNS 1',
 '-- # 3183 Leong Jia Xin, La 15 NYG DNS 2',
 '-- # 2871 Sem, Euna 16 SNG DNS 1',
 'Event 105 Men Discus Throw (2kg) Open',
 '================================================================================',
 'Open: * 59.87m 8/5/1999 Wong Tuck Yim James, Singapore',
 'Name Age Team Seed Finals Points',
 '================================================================================',
 '1 # 3025 Yee, Eric 25 HCAA 45.00m 49.51m',
 '47.15m 47.23m 48.97m 49.51m X 48.63m',
 "2 # 3569 Sheik Alau'ddin, 21 SSP 40.14m 38.15m",
 '38.15m 38.09m 34.58m 36.37m X 35.32m',
 '3 # 3853 Chandramohan Meen 29 WAC 31.39m',
 '26.68m 25.14m 26.43m 31.39m X 25.89m',
 '4 # 3655 Ho, Raven 20 TCT 27.93m',
 '26.71m X 24.25m 24.82m 26.95m 27.93m',
 '5 # 3509 Shah, Viash 43 SMTF 13.64m',
 'X 12.73m 12.91m 13.42m 12.78m 13.64m',
 'Event 106 Men Discus Throw (1.75kg) U20',
 '================================================================================',
 'U20: * 50.44m 21/2/2016 Yee Chun Wai Eric, Singapore',
 'Name Age Team Seed Finals Points',
 '================================================================================',
 '1 # 3551 Fun, Le Cong Luca 18 SSP 33.77m 36.30m',
 '31.49m 35.52m X X 33.59m 36.30m',
 '2 # 3570 Tang, Xavier Aloy 17 SSP 25.14m',
 '24.37m X 24.82m X X 25.14m',
 'Event 107 Women 400 Meter Hurdles (0.762m) U20',
 '================================================================================',
 'U20: * 1:01.69 3/7/2010 Thirualkarasu Piriyah, Singapore',
 'Name Age Team Seed Finals Points',
 '================================================================================',
 '1 # 3450 Ho, Joanna 17 RIJC 1:15.00',
 '2 # 3074 Chan, Mathea 17 HCIC 1:18.72',
 '-- # 3227 Goh, Yu Xin 18 NJC 1:30.64 DNS',
 '-- # 3077 Foo, Natalie 17 HCIC DNS',
 '-- # 3096 Wu, Ting Wei 17 HCIC DNS']

In [499]:
# Reading and processing CSV output from MM DB
# Use SQL Query 
#SELECT * FROM [Results] 
#LEFT JOIN [Athlete] ON [Athlete].[Comp_no] = [Results].[Comp_no]
#LEFT JOIN [Entries] ON [Entries].[Comp_no] = [Results].[Comp_no] AND [Entries].[Event_numltr]=[Results].[Event_numltr] 
#JOIN [Divisions] ON [Divisions].[Div_no]  = [Results].[Div_no]
#JOIN [Team] ON [Results].[Team_no] = [Team].[Team_no] 


os.chdir('/Users/veesheenyuen/Desktop/DataScience/SAA/MM/')

df = pd.read_csv("_SELECT_FROM_Results_LEFT_JOIN_Athlete_ON_Athlete_Comp_no_Result_202404272108.csv")

In [500]:
df

,Event_numltr,Rnd_ltr,MultiSubEvent_no,Trk_Field,Ind_rel,Event_gender,Event_dist,Event_code,Event_name,Full_Eventname,...,Team_lsc.3,Team_name.1,Team_short.1,Team_stat.1,Team_div,Div_abbr.1,Div_name.1,Team_region,Reg_abbr,Reg_name
0,101,F,0,F,I,F,0.0,Q,Javelin Throw,Women Javelin Throw Open,...,NaN,Flash Athletic Club,Flash Athlet,NaN,0,,,0,,
1,101,F,0,F,I,F,0.0,Q,Javelin Throw,Women Javelin Throw Open,...,NaN,SOUTH KOREA,SOUTH KOREA,NaN,0,,,0,,
2,101,F,0,F,I,F,0.0,Q,Javelin Throw,Women Javelin Throw Open,...,NaN,THAILAND,THAILAND,NaN,0,,,0,,
3,101,F,0,F,I,F,0.0,Q,Javelin Throw,Women Javelin Throw Open,...,NaN,SINGAPORE,SINGAPORE,NaN,0,,,0,,
4,103,F,0,F,I,M,0.0,M,Long Jump,Men Long Jump Open,...,NaN,CHINESE TAIPEI,CHINESE TAIP,NaN,0,,,0,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,226,F,0,T,I,M,10000.0,D,Race Walk,Men 10000 Meter Race Walk Open,...,NaN,Erovra Club,Erovra Club,NaN,0,,,0,,
256,226,F,0,T,I,M,10000.0,D,Race Walk,Men 10000 Meter Race Walk Open,...,NaN,Swift,Swift,NaN,0,,,0,,
257,227,F,0,T,I,F,10000.0,D,Race Walk,Women 10000 Meter Race Walk Open,...,NaN,Erovra Club,Erovra Club,NaN,0,,,0,,
258,227,F,0,T,I,F,10000.0,D,Race Walk,Women 10000 Meter Race Walk Open,...,NaN,Erovra Club,Erovra Club,NaN,0,,,0,,
259,227,F,0,T,I,F,10000.0,D,Race Walk,Women 10000 Meter Race Walk Open,...,NaN,MALAYSIA,MALAYSIA,NaN,0,,,0,,

In [501]:
# Check number of columns

try:

    assert df.shape[1]==170  

    for index, row in df.iterrows():

#        assert re.search(gender_pattern, row['Event_gender']) is not None   # check format of gender input
        assert row['Full_Eventname'] != None
        assert row['Team_name'] != None 
           
        # Check column locations before loading

        assert df.columns.get_loc('Full_Eventname') == 9
        assert df.columns.get_loc('Comp_no') == 18
        assert df.columns.get_loc('Res_markDisplay') == 30
        assert df.columns.get_loc('Reg_name')==169

except:
    
    print('Assertion error. Data not loaded')

In [502]:
df_filtered = df[['Last_name', 'First_name', 'Event_gender', 'Birth_date', 'Ath_age', 'Comp_no', 'Team_name.1','Full_Eventname', 'ActualSeed_timeDisplay','Rnd_ltr',
                 'Res_heat', 'Res_lane', 'Res_markDisplay', 'Res_wind', 'Res_place', 'Res_note', 'Ath_no', 'Div_name', 'Relay_Ltr', 'RelayLeg1_Ath_no', 'RelayLeg1_Last_name', 'RelayLeg1_First_name',
                 'RelayLeg2_Ath_no', 'RelayLeg2_Last_name', 'RelayLeg2_First_name', 'RelayLeg3_Ath_no', 'RelayLeg3_Last_name', 'RelayLeg3_First_name', 'RelayLeg4_Ath_no', 'RelayLeg4_Last_name', 'RelayLeg4_First_name',
                 'RelayLeg5_Ath_no', 'RelayLeg5_Last_name', 'RelayLeg5_First_name', 'RelayLeg6_Ath_no', 'RelayLeg6_Last_name', 'RelayLeg6_First_name', 'RelayLeg7_Ath_no', 'RelayLeg7_Last_name', 'RelayLeg7_First_name',
                 'RelayLeg8_Ath_no', 'RelayLeg8_Last_name', 'RelayLeg8_First_name']].copy()

In [503]:
df_filtered['Name']= df_filtered['Last_name'] + ', '+ df_filtered['First_name']

In [504]:
df_filtered.drop(['Last_name', 'First_name'], axis=1, inplace=True)

In [505]:
df_filtered.dropna(how='all', axis=1, inplace=True)

In [506]:
df_filtered['Relay1_Leg_Name']= df_filtered['RelayLeg1_Last_name'] + ', '+ df_filtered['RelayLeg1_First_name']
df_filtered['Relay2_Leg_Name']= df_filtered['RelayLeg2_Last_name'] + ', '+ df_filtered['RelayLeg2_First_name']
df_filtered['Relay3_Leg_Name']= df_filtered['RelayLeg3_Last_name'] + ', '+ df_filtered['RelayLeg3_First_name']
df_filtered['Relay4_Leg_Name']= df_filtered['RelayLeg4_Last_name'] + ', '+ df_filtered['RelayLeg4_First_name']
df_filtered['Relay5_Leg_Name']= df_filtered['RelayLeg5_Last_name'] + ', '+ df_filtered['RelayLeg5_First_name']
df_filtered['Relay6_Leg_Name']= df_filtered['RelayLeg6_Last_name'] + ', '+ df_filtered['RelayLeg6_First_name']
df_filtered['Relay7_Leg_Name']= df_filtered['RelayLeg7_Last_name'] + ', '+ df_filtered['RelayLeg7_First_name']
df_filtered['Relay8_Leg_Name']= df_filtered['RelayLeg8_Last_name'] + ', '+ df_filtered['RelayLeg8_First_name']

In [507]:
df_filtered.drop(['RelayLeg1_Last_name', 'RelayLeg1_First_name', 'RelayLeg2_Last_name', 'RelayLeg2_First_name',
                 'RelayLeg3_Last_name', 'RelayLeg3_First_name', 'RelayLeg4_Last_name', 'RelayLeg4_First_name',
                 'RelayLeg5_Last_name', 'RelayLeg5_First_name', 'RelayLeg6_Last_name', 'RelayLeg6_First_name',
                 'RelayLeg7_Last_name', 'RelayLeg7_First_name', 'RelayLeg8_Last_name', 'RelayLeg8_First_name'], axis=1, inplace=True)

#df_filtered.drop_duplicates(inplace=True)

In [508]:
df_filtered

,Event_gender,Birth_date,Ath_age,Comp_no,Team_name.1,Full_Eventname,ActualSeed_timeDisplay,Rnd_ltr,Res_heat,Res_lane,...,RelayLeg8_Ath_no,Name,Relay1_Leg_Name,Relay2_Leg_Name,Relay3_Leg_Name,Relay4_Leg_Name,Relay5_Leg_Name,Relay6_Leg_Name,Relay7_Leg_Name,Relay8_Leg_Name
0,F,1999-09-12 00:00:00.000,25.0,27,Flash Athletic Club,Women Javelin Throw Open,30.35m,F,1,4,...,0,"Seah, Michelle",",",",",",",",",",",",",",",","
1,F,1998-07-28 00:00:00.000,26.0,132,SOUTH KOREA,Women Javelin Throw Open,54.68m,F,1,2,...,0,"LEE, GAHUI",",",",",",",",",",",",",",",","
2,F,1996-03-08 00:00:00.000,28.0,156,THAILAND,Women Javelin Throw Open,52.60m,F,1,3,...,0,"WICHAIDIT, Jiraya",",",",",",",",",",",",",",",","
3,F,2006-03-23 00:00:00.000,18.0,75,SINGAPORE,Women Javelin Throw Open,34.55m,F,1,1,...,0,"FENG, HAN QI",",",",",",",",",",",",",",",","
4,M,2001-03-09 00:00:00.000,23.0,10,CHINESE TAIPEI,Men Long Jump Open,7.31m,F,1,5,...,0,"WEN, HUA-YU",",",",",",",",",",",",",",",","
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,M,1997-05-28 00:00:00.000,27.0,24,Erovra Club,Men 10000 Meter Race Walk Open,1:04:18.53,F,1,5,...,0,"Lim, Jerron",",",",",",",",",",",",",",",","
256,M,1963-08-16 00:00:00.000,61.0,136,Swift,Men 10000 Meter Race Walk Open,1:07:53.00,F,1,6,...,0,"R, Subramaniam",",",",",",",",",",",",",",",","
257,F,1997-10-28 00:00:00.000,27.0,22,Erovra Club,Women 10000 Meter Race Walk Open,1:10:42.47,F,1,1,...,0,"Yeo, Shi Min",",",",",",",",",",",",",",",","
258,F,1998-11-16 00:00:00.000,26.0,19,Erovra Club,Women 10000 Meter Race Walk Open,1:09:42.78,F,1,2,...,0,"Lim, Qi Le",",",",",",",",",",",",",",",","
259,F,1963-11-16 00:00:00.000,61.0,55,MALAYSIA,Women 10000 Meter Race Walk Open,,F,1,3,...,0,"Goh, Kim Hong Maggie",",",",",",",",",",",",",",",","

In [509]:
# create dict for relay names

for i in range(len(df_filtered)):
    
    list_no=[]
    list_names=[]
    
    if 'Relay' in df_filtered.loc[i, 'Full_Eventname']:
        
        list_no.append(df_filtered.loc[i, 'RelayLeg1_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg2_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg3_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg4_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg5_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg6_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg7_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg8_Ath_no'])
        
        
        list_names.append(df_filtered.loc[i, 'Relay1_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay2_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay3_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay4_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay5_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay6_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay7_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay8_Leg_Name'])
        
        
        list_no = [i for i in list_no if i != 0]   # remove '0' entries
        
        list_names = [i for i in list_names if i != ' ,  ']    # remove blank entries
                
        res = {}
        for key in list_no:
            for value in list_names:
                res[key] = value
                list_names.remove(value)
                
                break
        
        df_filtered.at[i, 'Name'] = res  # must use .at for dict

In [510]:
df_filtered.drop(['Relay_Ltr', 'RelayLeg1_Ath_no', 'RelayLeg2_Ath_no', 'RelayLeg3_Ath_no', 'RelayLeg4_Ath_no', 
                  'RelayLeg5_Ath_no', 'RelayLeg6_Ath_no', 'RelayLeg7_Ath_no', 'RelayLeg8_Ath_no', 'Relay1_Leg_Name',
                  'Relay2_Leg_Name', 'Relay3_Leg_Name', 'Relay4_Leg_Name', 'Relay5_Leg_Name', 'Relay6_Leg_Name',
                  'Relay7_Leg_Name', 'Relay8_Leg_Name'], axis=1, inplace=True)

In [511]:
df_filtered

,Event_gender,Birth_date,Ath_age,Comp_no,Team_name.1,Full_Eventname,ActualSeed_timeDisplay,Rnd_ltr,Res_heat,Res_lane,Res_markDisplay,Res_wind,Res_place,Res_note,Ath_no,Div_name,Name
0,F,1999-09-12 00:00:00.000,25.0,27,Flash Athletic Club,Women Javelin Throw Open,30.35m,F,1,4,29.62m,,4,NaN,113,Open,"Seah, Michelle"
1,F,1998-07-28 00:00:00.000,26.0,132,SOUTH KOREA,Women Javelin Throw Open,54.68m,F,1,2,51.11m,,2,NaN,127,Open,"LEE, GAHUI"
2,F,1996-03-08 00:00:00.000,28.0,156,THAILAND,Women Javelin Throw Open,52.60m,F,1,3,53.65m,,1,NaN,136,Open,"WICHAIDIT, Jiraya"
3,F,2006-03-23 00:00:00.000,18.0,75,SINGAPORE,Women Javelin Throw Open,34.55m,F,1,1,34.16m,,3,NaN,173,Open,"FENG, HAN QI"
4,M,2001-03-09 00:00:00.000,23.0,10,CHINESE TAIPEI,Men Long Jump Open,7.31m,F,1,5,7.43m,+0.0,2,NaN,38,Open,"WEN, HUA-YU"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,M,1997-05-28 00:00:00.000,27.0,24,Erovra Club,Men 10000 Meter Race Walk Open,1:04:18.53,F,1,5,1:07:15.16,,2,NaN,102,Open,"Lim, Jerron"
256,M,1963-08-16 00:00:00.000,61.0,136,Swift,Men 10000 Meter Race Walk Open,1:07:53.00,F,1,6,1:08:15.69,,3,NaN,117,Open,"R, Subramaniam"
257,F,1997-10-28 00:00:00.000,27.0,22,Erovra Club,Women 10000 Meter Race Walk Open,1:10:42.47,F,1,1,1:12:32.09,,1,NaN,105,Open,"Yeo, Shi Min"
258,F,1998-11-16 00:00:00.000,26.0,19,Erovra Club,Women 10000 Meter Race Walk Open,1:09:42.78,F,1,2,1:15:45.48,,3,NaN,106,Open,"Lim, Qi Le"
259,F,1963-11-16 00:00:00.000,61.0,55,MALAYSIA,Women 10000 Meter Race Walk Open,,F,1,3,1:15:43.76,,2,NaN,190,Open,"Goh, Kim Hong Maggie"

In [512]:
df_filtered['Name']=df_filtered['Name'].astype(str) # convert dict to str so duplicates can be dropped

df_filtered.drop_duplicates(inplace=True)

In [513]:


#df_filtered.rename(
#                columns={0: "GENDER", 1: "DOB", 2: "AGE", 3: "TAG_ID", 4: "TEAM", 5: "EVENT", 6: "SEED", 7: "STAGE", 8: "HEAT", 9: "LANE",
#                10: "RESULT", 11: "WIND", 12: "RANK", 13: "REMARKS", 14: "ATHLETE_ID", 15: "DIVISION"}, 
#                inplace=True
#                )

# Rename columns

df_filtered.columns = ['GENDER', 'DOB', 'AGE', 'TAG_ID', 'TEAM', 'EVENT', 'SEED', 'STAGE', 'HEAT', 'LANE', 'RESULT',
                      'WIND', 'RANK', 'REMARKS', 'ATHLETE_ID', 'DIVISION', 'NAME']

df_filtered['QUALIFICATION']=''
df_filtered['POINTS']=''
df_filtered['UNIQUE_ID']=''
df_filtered['COUNTRY']=''
df_filtered['DICT_RESULTS']=''
df_filtered['DATE']='2024'
df_filtered['COMPETITION']='84th Singapore Open'
df_filtered['REGION']='Local'
df_filtered['GROUP']=''
df_filtered['CATEGORY_EVENT']=''
df_filtered['SOURCE']='Meet Manager'
df_filtered['TIMESTAMP']=''
df_filtered['FREE_FIELD']=''
df_filtered['FREE_FIELD2']=''
df_filtered['FREE_FIELD3']=''

# Map miscellaneous fields to final formats                            
                            
mask = df_filtered['STAGE'].str.contains(r'F', na=True)
df_filtered.loc[mask, 'STAGE'] = 'Final'

mask = df_filtered['STAGE'].str.contains(r'P', na=True)
df_filtered.loc[mask, 'STAGE'] = 'Preliminaries'
                                    
mask = df_filtered['GENDER'].isin(['F'])
df_filtered.loc[mask, 'GENDER'] = 'Female'

mask = df_filtered['GENDER'].isin(['M'])
df_filtered.loc[mask, 'GENDER'] = 'Male'

# Map general event category  

mask = df_filtered['EVENT'].str.contains(r'Throw', na=True)
df_filtered.loc[mask, 'CATEGORY_EVENT'] = 'Throw'
mask = df_filtered['EVENT'].str.contains(r'Jump', na=True)
df_filtered.loc[mask, 'CATEGORY_EVENT'] = 'Jump'
mask = df_filtered['EVENT'].str.contains(r'Vault', na=True)
df_filtered.loc[mask, 'CATEGORY_EVENT'] = 'Jump'
mask = df_filtered['EVENT'].str.contains(r'100', na=True)
df_filtered.loc[mask, 'CATEGORY_EVENT'] = 'Sprint'
mask = df_filtered['EVENT'].str.contains(r'1500', na=True)
df_filtered.loc[mask, 'CATEGORY_EVENT'] = 'Mid'
mask = df_filtered['EVENT'].str.contains(r'Javelin', na=True)
df_filtered.loc[mask, 'CATEGORY_EVENT'] = 'Throw'
mask = df_filtered['EVENT'].str.contains(r'Shot', na=True)
df_filtered.loc[mask, 'CATEGORY_EVENT'] = 'Throw'
mask = df_filtered['EVENT'].str.contains(r'400', na=True)
df_filtered.loc[mask, 'CATEGORY_EVENT'] = 'Sprint'
mask = df_filtered['EVENT'].str.contains(r'800', na=True)
df_filtered.loc[mask, 'CATEGORY_EVENT'] = 'Mid'
mask = df_filtered['EVENT'].str.contains(r'Hurdles', na=True)
df_filtered.loc[mask, 'CATEGORY_EVENT'] = 'Hurdles'
mask = df_filtered['EVENT'].str.contains(r'200', na=True)
df_filtered.loc[mask, 'CATEGORY_EVENT'] = 'Sprint'
mask = df_filtered['EVENT'].str.contains(r'Walk', na=True)
df_filtered.loc[mask, 'CATEGORY_EVENT'] = 'Walk'
mask = df_filtered['EVENT'].str.contains(r'3000', na=True)
df_filtered.loc[mask, 'CATEGORY_EVENT'] = 'Long'
mask = df_filtered['EVENT'].str.contains(r'5000', na=True)
df_filtered.loc[mask, 'CATEGORY_EVENT'] = 'Long'
mask = df_filtered['EVENT'].str.contains(r'2000', na=True)
df_filtered.loc[mask, 'CATEGORY_EVENT'] = 'Mid'
mask = df_filtered['EVENT'].str.contains(r'Dicus', na=True)
df_filtered.loc[mask, 'CATEGORY_EVENT'] = 'Throw'
mask = df_filtered['EVENT'].str.contains(r'Relay', na=True)
df_filtered.loc[mask, 'CATEGORY_EVENT'] = 'Relay'
 
    

df_filtered = df_filtered.reindex(columns= ['RANK', 'TAG_ID', 'NAME', 'TEAM', 'SEED', 'RESULT', 'QUALIFICATION', 'HEAT', 'LANE', 'WIND', 'EVENT', 'DIVISION', 'STAGE', 
                                      'POINTS', 'AGE', 'GENDER', 'UNIQUE_ID', 'COUNTRY', 'DICT_RESULTS', 'DATE', 'COMPETITION', 'REGION', 'DOB','GROUP', 'CATEGORY_EVENT', 
                                      'ATHLETE_ID', 'SOURCE', 'REMARKS', 'TIMESTAMP', 'FREE_FIELD', 'FREE_FIELD2', 'FREE_FIELD3'])

In [514]:
df_filtered

,RANK,TAG_ID,NAME,TEAM,SEED,RESULT,QUALIFICATION,HEAT,LANE,WIND,...,DOB,GROUP,CATEGORY_EVENT,ATHLETE_ID,SOURCE,REMARKS,TIMESTAMP,FREE_FIELD,FREE_FIELD2,FREE_FIELD3
0,4,27,"Seah, Michelle",Flash Athletic Club,30.35m,29.62m,,1,4,,...,1999-09-12 00:00:00.000,,Throw,113,Meet Manager,NaN,,,,
1,2,132,"LEE, GAHUI",SOUTH KOREA,54.68m,51.11m,,1,2,,...,1998-07-28 00:00:00.000,,Throw,127,Meet Manager,NaN,,,,
2,1,156,"WICHAIDIT, Jiraya",THAILAND,52.60m,53.65m,,1,3,,...,1996-03-08 00:00:00.000,,Throw,136,Meet Manager,NaN,,,,
3,3,75,"FENG, HAN QI",SINGAPORE,34.55m,34.16m,,1,1,,...,2006-03-23 00:00:00.000,,Throw,173,Meet Manager,NaN,,,,
4,2,10,"WEN, HUA-YU",CHINESE TAIPEI,7.31m,7.43m,,1,5,+0.0,...,2001-03-09 00:00:00.000,,Jump,38,Meet Manager,NaN,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,2,24,"Lim, Jerron",Erovra Club,1:04:18.53,1:07:15.16,,1,5,,...,1997-05-28 00:00:00.000,,Walk,102,Meet Manager,NaN,,,,
256,3,136,"R, Subramaniam",Swift,1:07:53.00,1:08:15.69,,1,6,,...,1963-08-16 00:00:00.000,,Walk,117,Meet Manager,NaN,,,,
257,1,22,"Yeo, Shi Min",Erovra Club,1:10:42.47,1:12:32.09,,1,1,,...,1997-10-28 00:00:00.000,,Walk,105,Meet Manager,NaN,,,,
258,3,19,"Lim, Qi Le",Erovra Club,1:09:42.78,1:15:45.48,,1,2,,...,1998-11-16 00:00:00.000,,Walk,106,Meet Manager,NaN,,,,
259,2,55,"Goh, Kim Hong Maggie",MALAYSIA,,1:15:43.76,,1,3,,...,1963-11-16 00:00:00.000,,Walk,190,Meet Manager,NaN,,,,

In [671]:
df_filtered.to_csv('GenericData-84th Singapore Open Track - Field-18Apr2024-001.mdb.csv', sep=',', encoding='utf-8-sig', index=False)

In [196]:
# LATEST VERSION
# Reading and processing CSV output from MM DB -- CTE results combining meet info
# Use SQL Query 
#WITH test AS (
#          	SELECT * FROM [Results]
#			LEFT JOIN [Athlete] ON [Athlete].[Comp_no] = [Results].[Comp_no]
#			LEFT JOIN [Entries] ON [Entries].[Comp_no] = [Results].[Comp_no] AND [Entries].[Event_numltr]=[Results].[Event_numltr] 
#			JOIN [Divisions] ON [Divisions].[Div_no]  = [Results].[Div_no]
#			JOIN [Team] ON [Results].[Team_no] = [Team].[Team_no]
#
#        )
#        SELECT * FROM test, [Meet]

# Comp_no = TAG ID

os.chdir('/Users/veesheenyuen/Desktop/DataScience/SAA/MM/mm_files/2023/')

df = pd.read_csv("GenericData-SA Combined Events Championships 2023-19Aug2023-001.mdb_202405041635.csv")

In [197]:
df.shape[1]

176

In [198]:
df.columns.get_loc('Full_Eventname')

#df.columns.get_loc('FULL_EVENTNAME')

9

In [199]:
df.columns.get_loc('Res_markDisplay')

#df.columns.get_loc('RES_MARKDISPLAY')

30

In [200]:
#df.columns.get_loc('MEET_NAME')

df.columns.get_loc('Meet_name')

170

In [201]:
df = df.astype(str)

In [202]:
df['MultiSubEvent_name']

0     Dash
1     Dash
2     Dash
3     Dash
4     Dash
      ...
75    Dash
76    Dash
77    Dash
78    Dash
79    Dash
Name: MultiSubEvent_name, Length: 80, dtype: object

In [204]:
df['Event_name']

0     Outdoor Pentathlon
1     Outdoor Pentathlon
2     Outdoor Pentathlon
3     Outdoor Pentathlon
4     Outdoor Pentathlon
             ...
75    Outdoor Pentathlon
76    Outdoor Pentathlon
77    Outdoor Pentathlon
78    Outdoor Pentathlon
79    Outdoor Pentathlon
Name: Event_name, Length: 80, dtype: object

In [203]:
df['Event_dist']

0     100.0
1     100.0
2     100.0
3     100.0
4     100.0
      ...
75    100.0
76    100.0
77    100.0
78    100.0
79    100.0
Name: Event_dist, Length: 80, dtype: object

In [815]:
# Use boolean masking to update full_eventnam field fo tris
# This is the only additional step for triathlon events


df.loc[df['Event_name'] == 'Triathlon', 'Full_Eventname'] = 'Triathlon'+ ' - ' + df['Event_dist'] +' '+df['MultiSubEvent_name']
df.loc[df['Event_name'] == 'Outdoor Pentathlon', 'Full_Eventname'] = 'Outdoor Pentathlon'+ ' - ' + df['Event_dist'] + ' '+ df['MultiSubEvent_name']
df.loc[df['Event_name'] == 'Decathlon', 'Full_Eventname'] = 'Decathlon'+ ' - ' + df['Event_dist'] +' '+df['MultiSubEvent_name']

In [816]:
df_filtered = df[['Last_name', 'First_name', 'Event_gender', 'Birth_date', 'Ath_age', 'Comp_no', 'Team_name.1','Full_Eventname', 'ActualSeed_timeDisplay','Rnd_ltr', 'Reg_no',
                 'Res_heat', 'Res_lane', 'Res_markDisplay', 'Res_wind', 'Res_place', 'Res_note', 'Ath_no', 'Div_name', 'Relay_Ltr', 'RelayLeg1_Ath_no', 'RelayLeg1_Last_name', 'RelayLeg1_First_name',
                 'RelayLeg2_Ath_no', 'RelayLeg2_Last_name', 'RelayLeg2_First_name', 'RelayLeg3_Ath_no', 'RelayLeg3_Last_name', 'RelayLeg3_First_name', 'RelayLeg4_Ath_no', 'RelayLeg4_Last_name', 'RelayLeg4_First_name',
                 'RelayLeg5_Ath_no', 'RelayLeg5_Last_name', 'RelayLeg5_First_name', 'RelayLeg6_Ath_no', 'RelayLeg6_Last_name', 'RelayLeg6_First_name', 'RelayLeg7_Ath_no', 'RelayLeg7_Last_name', 'RelayLeg7_First_name',
                 'RelayLeg8_Ath_no', 'RelayLeg8_Last_name', 'RelayLeg8_First_name', 'Meet_name', 'Meet_start']].copy()

In [817]:
df_filtered

,Last_name,First_name,Event_gender,Birth_date,Ath_age,Comp_no,Team_name.1,Full_Eventname,ActualSeed_timeDisplay,Rnd_ltr,...,RelayLeg6_Last_name,RelayLeg6_First_name,RelayLeg7_Ath_no,RelayLeg7_Last_name,RelayLeg7_First_name,RelayLeg8_Ath_no,RelayLeg8_Last_name,RelayLeg8_First_name,Meet_name,Meet_start
0,Chng,Megan Shu Ting,F,2010-11-06 00:00:00.000,13,42,Singapore Sports School,Outdoor Pentathlon - 100.0 Dash,,F,...,nan,nan,nan,nan,nan,nan,nan,nan,SA Combined Events Championships 2023,2023-08-19 00:00:00.000
1,Han,Meredyth Min Yu,F,2010-03-20 00:00:00.000,13,44,Singapore Sports School,Outdoor Pentathlon - 100.0 Dash,,F,...,nan,nan,nan,nan,nan,nan,nan,nan,SA Combined Events Championships 2023,2023-08-19 00:00:00.000
2,Lim,Nichole Yi Han,F,2010-11-13 00:00:00.000,13,50,Singapore Sports School,Outdoor Pentathlon - 100.0 Dash,,F,...,nan,nan,nan,nan,nan,nan,nan,nan,SA Combined Events Championships 2023,2023-08-19 00:00:00.000
3,Ng,Reeyern,F,2010-03-23 00:00:00.000,13,54,Singapore Sports School,Outdoor Pentathlon - 100.0 Dash,,F,...,nan,nan,nan,nan,nan,nan,nan,nan,SA Combined Events Championships 2023,2023-08-19 00:00:00.000
4,Seu,Hoy Xuan Evelyn,F,2010-10-19 00:00:00.000,13,57,Singapore Sports School,Outdoor Pentathlon - 100.0 Dash,,F,...,nan,nan,nan,nan,nan,nan,nan,nan,SA Combined Events Championships 2023,2023-08-19 00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Yang,Lauren,F,2007-08-09 00:00:00.000,16,17,CLUB ZOOM,Outdoor Pentathlon - 100.0 Dash,,F,...,nan,nan,nan,nan,nan,nan,nan,nan,SA Combined Events Championships 2023,2023-08-19 00:00:00.000
76,Dhiya'ulhaq,Adam,M,1999-08-30 00:00:00.000,24,23,Fortius Athletics,Outdoor Pentathlon - 100.0 Dash,,F,...,nan,nan,nan,nan,nan,nan,nan,nan,SA Combined Events Championships 2023,2023-08-19 00:00:00.000
77,Anshad,Shafiq,M,1999-09-16 00:00:00.000,24,22,Fortius Athletics,Outdoor Pentathlon - 100.0 Dash,,F,...,nan,nan,nan,nan,nan,nan,nan,nan,SA Combined Events Championships 2023,2023-08-19 00:00:00.000
78,Jacky,Ong,M,1997-06-06 00:00:00.000,26,25,Lacticbuds,Outdoor Pentathlon - 100.0 Dash,,F,...,nan,nan,nan,nan,nan,nan,nan,nan,SA Combined Events Championships 2023,2023-08-19 00:00:00.000
79,Toh,Jia Le,M,1988-02-25 00:00:00.000,35,27,Lacticbuds,Outdoor Pentathlon - 100.0 Dash,,F,...,nan,nan,nan,nan,nan,nan,nan,nan,SA Combined Events Championships 2023,2023-08-19 00:00:00.000

In [818]:
df_filtered.drop_duplicates(inplace=True)

In [819]:
df_filtered

,Last_name,First_name,Event_gender,Birth_date,Ath_age,Comp_no,Team_name.1,Full_Eventname,ActualSeed_timeDisplay,Rnd_ltr,...,RelayLeg6_Last_name,RelayLeg6_First_name,RelayLeg7_Ath_no,RelayLeg7_Last_name,RelayLeg7_First_name,RelayLeg8_Ath_no,RelayLeg8_Last_name,RelayLeg8_First_name,Meet_name,Meet_start
0,Chng,Megan Shu Ting,F,2010-11-06 00:00:00.000,13,42,Singapore Sports School,Outdoor Pentathlon - 100.0 Dash,,F,...,nan,nan,nan,nan,nan,nan,nan,nan,SA Combined Events Championships 2023,2023-08-19 00:00:00.000
1,Han,Meredyth Min Yu,F,2010-03-20 00:00:00.000,13,44,Singapore Sports School,Outdoor Pentathlon - 100.0 Dash,,F,...,nan,nan,nan,nan,nan,nan,nan,nan,SA Combined Events Championships 2023,2023-08-19 00:00:00.000
2,Lim,Nichole Yi Han,F,2010-11-13 00:00:00.000,13,50,Singapore Sports School,Outdoor Pentathlon - 100.0 Dash,,F,...,nan,nan,nan,nan,nan,nan,nan,nan,SA Combined Events Championships 2023,2023-08-19 00:00:00.000
3,Ng,Reeyern,F,2010-03-23 00:00:00.000,13,54,Singapore Sports School,Outdoor Pentathlon - 100.0 Dash,,F,...,nan,nan,nan,nan,nan,nan,nan,nan,SA Combined Events Championships 2023,2023-08-19 00:00:00.000
4,Seu,Hoy Xuan Evelyn,F,2010-10-19 00:00:00.000,13,57,Singapore Sports School,Outdoor Pentathlon - 100.0 Dash,,F,...,nan,nan,nan,nan,nan,nan,nan,nan,SA Combined Events Championships 2023,2023-08-19 00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Yang,Lauren,F,2007-08-09 00:00:00.000,16,17,CLUB ZOOM,Outdoor Pentathlon - 100.0 Dash,,F,...,nan,nan,nan,nan,nan,nan,nan,nan,SA Combined Events Championships 2023,2023-08-19 00:00:00.000
76,Dhiya'ulhaq,Adam,M,1999-08-30 00:00:00.000,24,23,Fortius Athletics,Outdoor Pentathlon - 100.0 Dash,,F,...,nan,nan,nan,nan,nan,nan,nan,nan,SA Combined Events Championships 2023,2023-08-19 00:00:00.000
77,Anshad,Shafiq,M,1999-09-16 00:00:00.000,24,22,Fortius Athletics,Outdoor Pentathlon - 100.0 Dash,,F,...,nan,nan,nan,nan,nan,nan,nan,nan,SA Combined Events Championships 2023,2023-08-19 00:00:00.000
78,Jacky,Ong,M,1997-06-06 00:00:00.000,26,25,Lacticbuds,Outdoor Pentathlon - 100.0 Dash,,F,...,nan,nan,nan,nan,nan,nan,nan,nan,SA Combined Events Championships 2023,2023-08-19 00:00:00.000
79,Toh,Jia Le,M,1988-02-25 00:00:00.000,35,27,Lacticbuds,Outdoor Pentathlon - 100.0 Dash,,F,...,nan,nan,nan,nan,nan,nan,nan,nan,SA Combined Events Championships 2023,2023-08-19 00:00:00.000

In [820]:
#df_filtered.to_csv('TESTING.csv', sep=',', encoding='utf-8-sig', index=False)

In [821]:
df_filtered['Name']= df_filtered['Last_name'] + ', '+ df_filtered['First_name']

df_filtered.drop(['Last_name', 'First_name'], axis=1, inplace=True)

In [822]:
df_filtered['Relay1_Leg_Name']= df_filtered['RelayLeg1_Last_name'] + ', '+ df_filtered['RelayLeg1_First_name']
df_filtered['Relay2_Leg_Name']= df_filtered['RelayLeg2_Last_name'] + ', '+ df_filtered['RelayLeg2_First_name']
df_filtered['Relay3_Leg_Name']= df_filtered['RelayLeg3_Last_name'] + ', '+ df_filtered['RelayLeg3_First_name']
df_filtered['Relay4_Leg_Name']= df_filtered['RelayLeg4_Last_name'] + ', '+ df_filtered['RelayLeg4_First_name']
df_filtered['Relay5_Leg_Name']= df_filtered['RelayLeg5_Last_name'] + ', '+ df_filtered['RelayLeg5_First_name']
df_filtered['Relay6_Leg_Name']= df_filtered['RelayLeg6_Last_name'] + ', '+ df_filtered['RelayLeg6_First_name']
df_filtered['Relay7_Leg_Name']= df_filtered['RelayLeg7_Last_name'] + ', '+ df_filtered['RelayLeg7_First_name']
df_filtered['Relay8_Leg_Name']= df_filtered['RelayLeg8_Last_name'] + ', '+ df_filtered['RelayLeg8_First_name']

df_filtered.drop(['RelayLeg1_Last_name', 'RelayLeg1_First_name', 'RelayLeg2_Last_name', 'RelayLeg2_First_name',
                 'RelayLeg3_Last_name', 'RelayLeg3_First_name', 'RelayLeg4_Last_name', 'RelayLeg4_First_name',
                 'RelayLeg5_Last_name', 'RelayLeg5_First_name', 'RelayLeg6_Last_name', 'RelayLeg6_First_name',
                 'RelayLeg7_Last_name', 'RelayLeg7_First_name', 'RelayLeg8_Last_name', 'RelayLeg8_First_name'], axis=1, inplace=True)

#df_filtered.drop_duplicates(inplace=True)

In [823]:
df_filtered

,Event_gender,Birth_date,Ath_age,Comp_no,Team_name.1,Full_Eventname,ActualSeed_timeDisplay,Rnd_ltr,Reg_no,Res_heat,...,Meet_start,Name,Relay1_Leg_Name,Relay2_Leg_Name,Relay3_Leg_Name,Relay4_Leg_Name,Relay5_Leg_Name,Relay6_Leg_Name,Relay7_Leg_Name,Relay8_Leg_Name
0,F,2010-11-06 00:00:00.000,13,42,Singapore Sports School,Outdoor Pentathlon - 100.0 Dash,,F,nan,1,...,2023-08-19 00:00:00.000,"Chng, Megan Shu Ting","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan"
1,F,2010-03-20 00:00:00.000,13,44,Singapore Sports School,Outdoor Pentathlon - 100.0 Dash,,F,nan,2,...,2023-08-19 00:00:00.000,"Han, Meredyth Min Yu","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan"
2,F,2010-11-13 00:00:00.000,13,50,Singapore Sports School,Outdoor Pentathlon - 100.0 Dash,,F,nan,3,...,2023-08-19 00:00:00.000,"Lim, Nichole Yi Han","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan"
3,F,2010-03-23 00:00:00.000,13,54,Singapore Sports School,Outdoor Pentathlon - 100.0 Dash,,F,nan,1,...,2023-08-19 00:00:00.000,"Ng, Reeyern","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan"
4,F,2010-10-19 00:00:00.000,13,57,Singapore Sports School,Outdoor Pentathlon - 100.0 Dash,,F,nan,2,...,2023-08-19 00:00:00.000,"Seu, Hoy Xuan Evelyn","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,F,2007-08-09 00:00:00.000,16,17,CLUB ZOOM,Outdoor Pentathlon - 100.0 Dash,,F,nan,1,...,2023-08-19 00:00:00.000,"Yang, Lauren","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan"
76,M,1999-08-30 00:00:00.000,24,23,Fortius Athletics,Outdoor Pentathlon - 100.0 Dash,,F,nan,1,...,2023-08-19 00:00:00.000,"Dhiya'ulhaq, Adam","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan"
77,M,1999-09-16 00:00:00.000,24,22,Fortius Athletics,Outdoor Pentathlon - 100.0 Dash,,F,nan,1,...,2023-08-19 00:00:00.000,"Anshad, Shafiq","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan"
78,M,1997-06-06 00:00:00.000,26,25,Lacticbuds,Outdoor Pentathlon - 100.0 Dash,,F,nan,1,...,2023-08-19 00:00:00.000,"Jacky, Ong","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan"
79,M,1988-02-25 00:00:00.000,35,27,Lacticbuds,Outdoor Pentathlon - 100.0 Dash,,F,nan,1,...,2023-08-19 00:00:00.000,"Toh, Jia Le","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan","nan, nan"

In [824]:
df_filtered.reset_index(inplace = True, drop = True)  # reset index after dropping duplicates

In [825]:
# create dict for relay names

for i in range(len(df_filtered)):
    
    list_no=[]
    list_names=[]
    
    if 'Relay' in df_filtered.loc[i, 'Full_Eventname']:
                
        list_no.append(df_filtered.loc[i, 'RelayLeg1_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg2_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg3_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg4_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg5_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg6_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg7_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg8_Ath_no'])
        
        
        list_names.append(df_filtered.loc[i, 'Relay1_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay2_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay3_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay4_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay5_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay6_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay7_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay8_Leg_Name'])
        
        
        list_no = [i for i in list_no if i != 0]
        
        list_names = [i for i in list_names if i != ' ,  ']   
                
        res = {}
        for key in list_no:
            for value in list_names:
                res[key] = value
                list_names.remove(value)
                
                break
        
        df_filtered.at[i, 'Name'] = res  # must use .at for dict

In [826]:
df_filtered.drop(['Relay_Ltr', 'RelayLeg1_Ath_no', 'RelayLeg2_Ath_no', 'RelayLeg3_Ath_no', 'RelayLeg4_Ath_no', 
                  'RelayLeg5_Ath_no', 'RelayLeg6_Ath_no', 'RelayLeg7_Ath_no', 'RelayLeg8_Ath_no', 'Relay1_Leg_Name',
                  'Relay2_Leg_Name', 'Relay3_Leg_Name', 'Relay4_Leg_Name', 'Relay5_Leg_Name', 'Relay6_Leg_Name',
                  'Relay7_Leg_Name', 'Relay8_Leg_Name'], axis=1, inplace=True)

In [827]:
df_filtered['Name']=df_filtered['Name'].astype(str) # convert dict to str so duplicates can be dropped

In [828]:
df_filtered

,Event_gender,Birth_date,Ath_age,Comp_no,Team_name.1,Full_Eventname,ActualSeed_timeDisplay,Rnd_ltr,Reg_no,Res_heat,Res_lane,Res_markDisplay,Res_wind,Res_place,Res_note,Ath_no,Div_name,Meet_name,Meet_start,Name
0,F,2010-11-06 00:00:00.000,13,42,Singapore Sports School,Outdoor Pentathlon - 100.0 Dash,,F,nan,1,2,15.12,0.8,8,nan,13,U15,SA Combined Events Championships 2023,2023-08-19 00:00:00.000,"Chng, Megan Shu Ting"
1,F,2010-03-20 00:00:00.000,13,44,Singapore Sports School,Outdoor Pentathlon - 100.0 Dash,,F,nan,2,3,15.55,0.5,13,nan,14,U15,SA Combined Events Championships 2023,2023-08-19 00:00:00.000,"Han, Meredyth Min Yu"
2,F,2010-11-13 00:00:00.000,13,50,Singapore Sports School,Outdoor Pentathlon - 100.0 Dash,,F,nan,3,4,14.70,0.7,4,nan,15,U15,SA Combined Events Championships 2023,2023-08-19 00:00:00.000,"Lim, Nichole Yi Han"
3,F,2010-03-23 00:00:00.000,13,54,Singapore Sports School,Outdoor Pentathlon - 100.0 Dash,,F,nan,1,6,14.57,0.8,2,nan,16,U15,SA Combined Events Championships 2023,2023-08-19 00:00:00.000,"Ng, Reeyern"
4,F,2010-10-19 00:00:00.000,13,57,Singapore Sports School,Outdoor Pentathlon - 100.0 Dash,,F,nan,2,6,14.97,0.5,6,nan,17,U15,SA Combined Events Championships 2023,2023-08-19 00:00:00.000,"Seu, Hoy Xuan Evelyn"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,F,2007-08-09 00:00:00.000,16,17,CLUB ZOOM,Outdoor Pentathlon - 100.0 Dash,,F,nan,1,3,14.14,0.2,1,14.131,9,OPEN,SA Combined Events Championships 2023,2023-08-19 00:00:00.000,"Yang, Lauren"
76,M,1999-08-30 00:00:00.000,24,23,Fortius Athletics,Outdoor Pentathlon - 100.0 Dash,,F,nan,1,6,12.04,0.9,1,nan,1,OPEN,SA Combined Events Championships 2023,2023-08-19 00:00:00.000,"Dhiya'ulhaq, Adam"
77,M,1999-09-16 00:00:00.000,24,22,Fortius Athletics,Outdoor Pentathlon - 100.0 Dash,,F,nan,1,4,13.33,0.9,3,nan,2,OPEN,SA Combined Events Championships 2023,2023-08-19 00:00:00.000,"Anshad, Shafiq"
78,M,1997-06-06 00:00:00.000,26,25,Lacticbuds,Outdoor Pentathlon - 100.0 Dash,,F,nan,1,5,12.73,0.9,2,nan,3,OPEN,SA Combined Events Championships 2023,2023-08-19 00:00:00.000,"Jacky, Ong"
79,M,1988-02-25 00:00:00.000,35,27,Lacticbuds,Outdoor Pentathlon - 100.0 Dash,,F,nan,1,3,13.86,0.9,4,nan,7,OPEN,SA Combined Events Championships 2023,2023-08-19 00:00:00.000,"Toh, Jia Le"

In [829]:
# Extract year

df_filtered['Meet_start'] = pd.to_datetime(df_filtered['Meet_start'])

df_filtered['DATE'] = df_filtered['Meet_start'].dt.year

df_filtered.drop('Meet_start', axis=1, inplace=True)

In [830]:
df_filtered

,Event_gender,Birth_date,Ath_age,Comp_no,Team_name.1,Full_Eventname,ActualSeed_timeDisplay,Rnd_ltr,Reg_no,Res_heat,Res_lane,Res_markDisplay,Res_wind,Res_place,Res_note,Ath_no,Div_name,Meet_name,Name,DATE
0,F,2010-11-06 00:00:00.000,13,42,Singapore Sports School,Outdoor Pentathlon - 100.0 Dash,,F,nan,1,2,15.12,0.8,8,nan,13,U15,SA Combined Events Championships 2023,"Chng, Megan Shu Ting",2023
1,F,2010-03-20 00:00:00.000,13,44,Singapore Sports School,Outdoor Pentathlon - 100.0 Dash,,F,nan,2,3,15.55,0.5,13,nan,14,U15,SA Combined Events Championships 2023,"Han, Meredyth Min Yu",2023
2,F,2010-11-13 00:00:00.000,13,50,Singapore Sports School,Outdoor Pentathlon - 100.0 Dash,,F,nan,3,4,14.70,0.7,4,nan,15,U15,SA Combined Events Championships 2023,"Lim, Nichole Yi Han",2023
3,F,2010-03-23 00:00:00.000,13,54,Singapore Sports School,Outdoor Pentathlon - 100.0 Dash,,F,nan,1,6,14.57,0.8,2,nan,16,U15,SA Combined Events Championships 2023,"Ng, Reeyern",2023
4,F,2010-10-19 00:00:00.000,13,57,Singapore Sports School,Outdoor Pentathlon - 100.0 Dash,,F,nan,2,6,14.97,0.5,6,nan,17,U15,SA Combined Events Championships 2023,"Seu, Hoy Xuan Evelyn",2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,F,2007-08-09 00:00:00.000,16,17,CLUB ZOOM,Outdoor Pentathlon - 100.0 Dash,,F,nan,1,3,14.14,0.2,1,14.131,9,OPEN,SA Combined Events Championships 2023,"Yang, Lauren",2023
76,M,1999-08-30 00:00:00.000,24,23,Fortius Athletics,Outdoor Pentathlon - 100.0 Dash,,F,nan,1,6,12.04,0.9,1,nan,1,OPEN,SA Combined Events Championships 2023,"Dhiya'ulhaq, Adam",2023
77,M,1999-09-16 00:00:00.000,24,22,Fortius Athletics,Outdoor Pentathlon - 100.0 Dash,,F,nan,1,4,13.33,0.9,3,nan,2,OPEN,SA Combined Events Championships 2023,"Anshad, Shafiq",2023
78,M,1997-06-06 00:00:00.000,26,25,Lacticbuds,Outdoor Pentathlon - 100.0 Dash,,F,nan,1,5,12.73,0.9,2,nan,3,OPEN,SA Combined Events Championships 2023,"Jacky, Ong",2023
79,M,1988-02-25 00:00:00.000,35,27,Lacticbuds,Outdoor Pentathlon - 100.0 Dash,,F,nan,1,3,13.86,0.9,4,nan,7,OPEN,SA Combined Events Championships 2023,"Toh, Jia Le",2023

In [831]:
df_filtered.columns = ['GENDER', 'DOB', 'AGE', 'TAG_ID', 'TEAM', 'EVENT', 'SEED', 'STAGE', 'UNIQUE_ID', 'HEAT', 'LANE', 'RESULT',
                      'WIND', 'RANK', 'REMARKS', 'ATHLETE_ID', 'DIVISION', 'COMPETITION', 'NAME', 'DATE']

df_filtered['QUALIFICATION']=''
df_filtered['POINTS']=''
df_filtered['UNIQUE_ID']=''
df_filtered['COUNTRY']=''
df_filtered['DICT_RESULTS']=''
#df_filtered['COMPETITION']='84th Singapore Open'
df_filtered['REGION']='Local'
df_filtered['GROUP']=''
df_filtered['CATEGORY_EVENT']=''
df_filtered['SOURCE']='Meet Manager'
df_filtered['TIMESTAMP']=''
df_filtered['REACT_TIME']=''
df_filtered['SESSION']=''
df_filtered['FREE_FIELD3']=''

# Map miscellaneous fields to final formats                            
                            
mask = df_filtered['STAGE'].str.contains(r'F', na=True)
df_filtered.loc[mask, 'STAGE'] = 'Final'

mask = df_filtered['STAGE'].str.contains(r'P', na=True)
df_filtered.loc[mask, 'STAGE'] = 'Preliminaries'
                                    
mask = df_filtered['GENDER'].isin(['F'])
df_filtered.loc[mask, 'GENDER'] = 'Female'

mask = df_filtered['GENDER'].isin(['M'])
df_filtered.loc[mask, 'GENDER'] = 'Male'

# Map general event category 

df_filtered.loc[df_filtered['EVENT'].str.contains(r'100 Meter', na=True), 'CATEGORY_EVENT'] = 'Sprint'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'400 Meter', na=True), 'CATEGORY_EVENT'] = 'Sprint'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'600 Meter', na=True), 'CATEGORY_EVENT'] = 'Mid'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'60 Meter', na=True), 'CATEGORY_EVENT'] = 'Sprint'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'200 Meter', na=True), 'CATEGORY_EVENT'] = 'Sprint'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'50 Meter', na=True), 'CATEGORY_EVENT'] = 'Sprint'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'80 Meter', na=True), 'CATEGORY_EVENT'] = 'Sprint'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'300 Meter', na=True), 'CATEGORY_EVENT'] = 'Sprint'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'3000 Meter', na=True), 'CATEGORY_EVENT'] = 'Long'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Mile', na=True), 'CATEGORY_EVENT'] = 'Mid'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'5000 Meter', na=True), 'CATEGORY_EVENT'] = 'Long'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'2000 Meter', na=True), 'CATEGORY_EVENT'] = 'Mid'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'800 Meter', na=True), 'CATEGORY_EVENT'] = 'Mid'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'1500 Meter', na=True), 'CATEGORY_EVENT'] = 'Mid'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'10000 Meter', na=True), 'CATEGORY_EVENT'] = 'Long'





# Override values

df_filtered.loc[df_filtered['EVENT'].str.contains(r'Discus', na=True), 'CATEGORY_EVENT'] = 'Throw'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Javelin', na=True), 'CATEGORY_EVENT'] = 'Throw'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Shot', na=True), 'CATEGORY_EVENT'] = 'Throw'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Vault', na=True), 'CATEGORY_EVENT'] = 'Jump'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Throw', na=True), 'CATEGORY_EVENT'] = 'Throw'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Jump', na=True), 'CATEGORY_EVENT'] = 'Jump'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Relay', na=True), 'CATEGORY_EVENT'] = 'Relay'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Steeple', na=True), 'CATEGORY_EVENT'] = 'Steeple'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Walk', na=True), 'CATEGORY_EVENT'] = 'Walk'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Hurdles', na=True), 'CATEGORY_EVENT'] = 'Hurdles'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Pentathlon', na=True), 'CATEGORY_EVENT'] = 'Pentathlon'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Triathlon', na=True), 'CATEGORY_EVENT'] = 'Triathlon'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Decathlon', na=True), 'CATEGORY_EVENT'] = 'Decathlon'


# Rename conventions e.g. 100 Meters becomes 100m to be consistent with rest of dataset  

df_filtered.loc[df_filtered['EVENT'].str.contains(r'100.0 Dash', na=True), 'EVENT'] = '100m'

    

df_filtered = df_filtered.reindex(columns= ['RANK', 'TAG_ID', 'NAME', 'TEAM', 'SEED', 'RESULT', 'QUALIFICATION', 'HEAT', 'LANE', 'WIND', 'EVENT', 'DIVISION', 'STAGE', 
                                      'POINTS', 'AGE', 'GENDER', 'UNIQUE_ID', 'COUNTRY', 'DICT_RESULTS', 'DATE', 'COMPETITION', 'REGION', 'DOB','GROUP', 'CATEGORY_EVENT', 
                                      'ATHLETE_ID', 'SOURCE', 'REMARKS', 'TIMESTAMP', 'REACT_TIME', 'SESSION', 'FREE_FIELD3'])

In [832]:
df_filtered

,RANK,TAG_ID,NAME,TEAM,SEED,RESULT,QUALIFICATION,HEAT,LANE,WIND,...,DOB,GROUP,CATEGORY_EVENT,ATHLETE_ID,SOURCE,REMARKS,TIMESTAMP,REACT_TIME,SESSION,FREE_FIELD3
0,8,42,"Chng, Megan Shu Ting",Singapore Sports School,,15.12,,1,2,0.8,...,2010-11-06 00:00:00.000,,Pentathlon,13,Meet Manager,nan,,,,
1,13,44,"Han, Meredyth Min Yu",Singapore Sports School,,15.55,,2,3,0.5,...,2010-03-20 00:00:00.000,,Pentathlon,14,Meet Manager,nan,,,,
2,4,50,"Lim, Nichole Yi Han",Singapore Sports School,,14.70,,3,4,0.7,...,2010-11-13 00:00:00.000,,Pentathlon,15,Meet Manager,nan,,,,
3,2,54,"Ng, Reeyern",Singapore Sports School,,14.57,,1,6,0.8,...,2010-03-23 00:00:00.000,,Pentathlon,16,Meet Manager,nan,,,,
4,6,57,"Seu, Hoy Xuan Evelyn",Singapore Sports School,,14.97,,2,6,0.5,...,2010-10-19 00:00:00.000,,Pentathlon,17,Meet Manager,nan,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,1,17,"Yang, Lauren",CLUB ZOOM,,14.14,,1,3,0.2,...,2007-08-09 00:00:00.000,,Pentathlon,9,Meet Manager,14.131,,,,
76,1,23,"Dhiya'ulhaq, Adam",Fortius Athletics,,12.04,,1,6,0.9,...,1999-08-30 00:00:00.000,,Pentathlon,1,Meet Manager,nan,,,,
77,3,22,"Anshad, Shafiq",Fortius Athletics,,13.33,,1,4,0.9,...,1999-09-16 00:00:00.000,,Pentathlon,2,Meet Manager,nan,,,,
78,2,25,"Jacky, Ong",Lacticbuds,,12.73,,1,5,0.9,...,1997-06-06 00:00:00.000,,Pentathlon,3,Meet Manager,nan,,,,
79,4,27,"Toh, Jia Le",Lacticbuds,,13.86,,1,3,0.9,...,1988-02-25 00:00:00.000,,Pentathlon,7,Meet Manager,nan,,,,

In [833]:
df_filtered['DOB']=df_filtered.DOB.str.rstrip('00:00:00.000')

In [834]:
df_filtered

,RANK,TAG_ID,NAME,TEAM,SEED,RESULT,QUALIFICATION,HEAT,LANE,WIND,...,DOB,GROUP,CATEGORY_EVENT,ATHLETE_ID,SOURCE,REMARKS,TIMESTAMP,REACT_TIME,SESSION,FREE_FIELD3
0,8,42,"Chng, Megan Shu Ting",Singapore Sports School,,15.12,,1,2,0.8,...,2010-11-06,,Pentathlon,13,Meet Manager,nan,,,,
1,13,44,"Han, Meredyth Min Yu",Singapore Sports School,,15.55,,2,3,0.5,...,2010-03-20,,Pentathlon,14,Meet Manager,nan,,,,
2,4,50,"Lim, Nichole Yi Han",Singapore Sports School,,14.70,,3,4,0.7,...,2010-11-13,,Pentathlon,15,Meet Manager,nan,,,,
3,2,54,"Ng, Reeyern",Singapore Sports School,,14.57,,1,6,0.8,...,2010-03-23,,Pentathlon,16,Meet Manager,nan,,,,
4,6,57,"Seu, Hoy Xuan Evelyn",Singapore Sports School,,14.97,,2,6,0.5,...,2010-10-19,,Pentathlon,17,Meet Manager,nan,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,1,17,"Yang, Lauren",CLUB ZOOM,,14.14,,1,3,0.2,...,2007-08-09,,Pentathlon,9,Meet Manager,14.131,,,,
76,1,23,"Dhiya'ulhaq, Adam",Fortius Athletics,,12.04,,1,6,0.9,...,1999-08-30,,Pentathlon,1,Meet Manager,nan,,,,
77,3,22,"Anshad, Shafiq",Fortius Athletics,,13.33,,1,4,0.9,...,1999-09-16,,Pentathlon,2,Meet Manager,nan,,,,
78,2,25,"Jacky, Ong",Lacticbuds,,12.73,,1,5,0.9,...,1997-06-06,,Pentathlon,3,Meet Manager,nan,,,,
79,4,27,"Toh, Jia Le",Lacticbuds,,13.86,,1,3,0.9,...,1988-02-25,,Pentathlon,7,Meet Manager,nan,,,,

In [808]:
df_filtered.to_csv('Processed-SA Combined Events Championships 2023-19Aug2023-001.mdb_202405041635.csv', sep=',', encoding='utf-8-sig', index=False)

In [22]:
### Process GenericData-84th Singapore Open Track - Field-18Apr2024-001.mdb file due to different column names

In [264]:
os.chdir('/Users/veesheenyuen/Desktop/DataScience/SAA/MM/mm_files/2024/')

df = pd.read_csv("GenericData-84th Singapore Open Track - Field-18Apr2024-001.mdb_202405041853.csv", low_memory=False)

df.shape[1]

176

In [265]:
list(df.columns)

['EVENT_NUMLTR',
 'Rnd_ltr',
 'MultiSubEvent_no',
 'TRK_FIELD',
 'Ind_rel',
 'EVENT_GENDER',
 'EVENT_DIST',
 'EVENT_CODE',
 'EVENT_NAME',
 'FULL_EVENTNAME',
 'MultiSubEvent_name',
 'low_age',
 'high_age',
 'Div_no',
 'Event_note',
 'Event_Type',
 'Entry_fee',
 'Ath_no',
 'COMP_NO',
 'LAST_NAME',
 'FIRST_NAME',
 'Reg_no',
 'Team_no',
 'TEAM_ABBR',
 'Team_lsc',
 'Relay_Ltr',
 'Event_score',
 'Res_heat',
 'Res_lane',
 'Res_stat',
 'RES_MARKDISPLAY',
 'RES_MARK',
 'RES_MEAS',
 'Res_handtime',
 'RES_WIND',
 'Res_agegradeDisplay',
 'Res_agegrade',
 'Res_percent',
 'RES_HEATPLACE',
 'RES_PLACE',
 'Res_exh',
 'Res_note',
 'RelayLeg1_Ath_no',
 'RelayLeg1_Last_name',
 'RelayLeg1_First_name',
 'RelayLeg2_Ath_no',
 'RelayLeg2_Last_name',
 'RelayLeg2_First_name',
 'RelayLeg3_Ath_no',
 'RelayLeg3_Last_name',
 'RelayLeg3_First_name',
 'RelayLeg4_Ath_no',
 'RelayLeg4_Last_name',
 'RelayLeg4_First_name',
 'RelayLeg5_Ath_no',
 'RelayLeg5_Last_name',
 'RelayLeg5_First_name',
 'RelayLeg6_Ath_no',
 'RelayLeg6_Last_name',
 'RelayLeg6_First_name',
 'RelayLeg7_Ath_no',
 'RelayLeg7_Last_name',
 'RelayLeg7_First_name',
 'RelayLeg8_Ath_no',
 'RelayLeg8_Last_name',
 'RelayLeg8_First_name',
 'Ath_no.1',
 'LAST_NAME.1',
 'FIRST_NAME.1',
 'Initial',
 'Pref_name',
 'ATH_SEX',
 'BIRTH_DATE',
 'Reg_no.1',
 'ATH_AGE',
 'Schl_yr',
 'Ath_stat',
 'COMP_NO.1',
 'Citizen_of',
 'Team_no.1',
 'TEAM_ABBR.1',
 'Team_lsc.1',
 'TEAM_NAME',
 'Team_short',
 'Team_stat',
 'EVENT_NUMLTR.1',
 'Rnd_ltr.1',
 'MultiSubEvent_no.1',
 'TRK_FIELD.1',
 'Ind_rel.1',
 'EVENT_GENDER.1',
 'EVENT_DIST.1',
 'EVENT_CODE.1',
 'EVENT_NAME.1',
 'FULL_EVENTNAME.1',
 'MultiSubEvent_name.1',
 'low_age.1',
 'high_age.1',
 'Div_no.1',
 'Event_note.1',
 'Event_Type.1',
 'Entry_fee.1',
 'Ath_no.2',
 'COMP_NO.2',
 'LAST_NAME.2',
 'FIRST_NAME.2',
 'Team_no.2',
 'TEAM_ABBR.2',
 'Team_lsc.2',
 'Relay_Ltr.1',
 'ACTUALSEED_TIMEDISPLAY',
 'ACTUALSEED_TIME',
 'ACTUALSEED_MEAS',
 'Hand_time',
 'ConvSeed_timeDisplay',
 'ConvSeed_time',
 'ConvSeed_meas',
 'Dec_stat',
 'Scr_stat',
 'Spec_stat',
 'Alt_stat',
 'SEEDED_HEAT',
 'SEEDED_LANE',
 'entry_note',
 'RelayLeg1_Ath_no.1',
 'RelayLeg1_Last_name.1',
 'RelayLeg1_First_name.1',
 'RelayLeg2_Ath_no.1',
 'RelayLeg2_Last_name.1',
 'RelayLeg2_First_name.1',
 'RelayLeg3_Ath_no.1',
 'RelayLeg3_Last_name.1',
 'RelayLeg3_First_name.1',
 'RelayLeg4_Ath_no.1',
 'RelayLeg4_Last_name.1',
 'RelayLeg4_First_name.1',
 'RelayLeg5_Ath_no.1',
 'RelayLeg5_Last_name.1',
 'RelayLeg5_First_name.1',
 'RelayLeg6_Ath_no.1',
 'RelayLeg6_Last_name.1',
 'RelayLeg6_First_name.1',
 'RelayLeg7_Ath_no.1',
 'RelayLeg7_Last_name.1',
 'RelayLeg7_First_name.1',
 'RelayLeg8_Ath_no.1',
 'RelayLeg8_Last_name.1',
 'RelayLeg8_First_name.1',
 'Div_no.2',
 'Div_abbr',
 'Div_name',
 'low_age.2',
 'high_age.2',
 'low_yeardate',
 'high_yeardate',
 'beg_date',
 'end_date',
 'max_entries',
 'Team_no.3',
 'TEAM_ABBR.3',
 'Team_lsc.3',
 'TEAM_NAME.1',
 'Team_short.1',
 'Team_stat.1',
 'Team_div',
 'Div_abbr.1',
 'Div_name.1',
 'Team_region',
 'Reg_abbr',
 'Reg_name',
 'Meet_name',
 'Meet_header1',
 'Meet_header2',
 'Meet_location',
 'Meet_start',
 'Meet_end']

In [25]:
df_filtered = df[['LAST_NAME', 'FIRST_NAME', 'EVENT_GENDER', 'BIRTH_DATE', 'ATH_AGE', 'COMP_NO', 'TEAM_NAME.1','FULL_EVENTNAME', 'ACTUALSEED_TIMEDISPLAY','Rnd_ltr',
                 'Res_heat', 'Res_lane', 'RES_MARKDISPLAY', 'RES_WIND', 'RES_PLACE', 'Res_note', 'Ath_no', 'Div_name', 'Relay_Ltr', 'RelayLeg1_Ath_no', 'RelayLeg1_Last_name', 'RelayLeg1_First_name',
                 'RelayLeg2_Ath_no', 'RelayLeg2_Last_name', 'RelayLeg2_First_name', 'RelayLeg3_Ath_no', 'RelayLeg3_Last_name', 'RelayLeg3_First_name', 'RelayLeg4_Ath_no', 'RelayLeg4_Last_name', 'RelayLeg4_First_name',
                 'RelayLeg5_Ath_no', 'RelayLeg5_Last_name', 'RelayLeg5_First_name', 'RelayLeg6_Ath_no', 'RelayLeg6_Last_name', 'RelayLeg6_First_name', 'RelayLeg7_Ath_no', 'RelayLeg7_Last_name', 'RelayLeg7_First_name',
                 'RelayLeg8_Ath_no', 'RelayLeg8_Last_name', 'RelayLeg8_First_name', 'Meet_name', 'Meet_start']].copy()

In [26]:
df_filtered.drop_duplicates(inplace=True)

In [27]:
df_filtered['Name']= df_filtered['LAST_NAME'] + ', '+ df_filtered['FIRST_NAME']

df_filtered.drop(['LAST_NAME', 'FIRST_NAME'], axis=1, inplace=True)

In [28]:
df_filtered['Relay1_Leg_Name']= df_filtered['RelayLeg1_Last_name'] + ', '+ df_filtered['RelayLeg1_First_name']
df_filtered['Relay2_Leg_Name']= df_filtered['RelayLeg2_Last_name'] + ', '+ df_filtered['RelayLeg2_First_name']
df_filtered['Relay3_Leg_Name']= df_filtered['RelayLeg3_Last_name'] + ', '+ df_filtered['RelayLeg3_First_name']
df_filtered['Relay4_Leg_Name']= df_filtered['RelayLeg4_Last_name'] + ', '+ df_filtered['RelayLeg4_First_name']
df_filtered['Relay5_Leg_Name']= df_filtered['RelayLeg5_Last_name'] + ', '+ df_filtered['RelayLeg5_First_name']
df_filtered['Relay6_Leg_Name']= df_filtered['RelayLeg6_Last_name'] + ', '+ df_filtered['RelayLeg6_First_name']
df_filtered['Relay7_Leg_Name']= df_filtered['RelayLeg7_Last_name'] + ', '+ df_filtered['RelayLeg7_First_name']
df_filtered['Relay8_Leg_Name']= df_filtered['RelayLeg8_Last_name'] + ', '+ df_filtered['RelayLeg8_First_name']

df_filtered.drop(['RelayLeg1_Last_name', 'RelayLeg1_First_name', 'RelayLeg2_Last_name', 'RelayLeg2_First_name',
                 'RelayLeg3_Last_name', 'RelayLeg3_First_name', 'RelayLeg4_Last_name', 'RelayLeg4_First_name',
                 'RelayLeg5_Last_name', 'RelayLeg5_First_name', 'RelayLeg6_Last_name', 'RelayLeg6_First_name',
                 'RelayLeg7_Last_name', 'RelayLeg7_First_name', 'RelayLeg8_Last_name', 'RelayLeg8_First_name'], axis=1, inplace=True)

In [29]:
df_filtered.reset_index(inplace = True, drop = True)  # reset index after dropping duplicates

In [30]:
# create dict for relay names

for i in range(len(df_filtered)):
    
    list_no=[]
    list_names=[]
    
    if 'Relay' in df_filtered.loc[i, 'FULL_EVENTNAME']:
                
        list_no.append(df_filtered.loc[i, 'RelayLeg1_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg2_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg3_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg4_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg5_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg6_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg7_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg8_Ath_no'])
        
        
        list_names.append(df_filtered.loc[i, 'Relay1_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay2_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay3_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay4_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay5_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay6_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay7_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay8_Leg_Name'])
        
        
        list_no = [i for i in list_no if i != 0]
        
        list_names = [i for i in list_names if i != ' ,  ']   
                
        res = {}
        for key in list_no:
            for value in list_names:
                res[key] = value
                list_names.remove(value)
                
                break
        
        df_filtered.at[i, 'Name'] = res  # must use .at for dict

In [31]:
df_filtered.drop(['Relay_Ltr', 'RelayLeg1_Ath_no', 'RelayLeg2_Ath_no', 'RelayLeg3_Ath_no', 'RelayLeg4_Ath_no', 
                  'RelayLeg5_Ath_no', 'RelayLeg6_Ath_no', 'RelayLeg7_Ath_no', 'RelayLeg8_Ath_no', 'Relay1_Leg_Name',
                  'Relay2_Leg_Name', 'Relay3_Leg_Name', 'Relay4_Leg_Name', 'Relay5_Leg_Name', 'Relay6_Leg_Name',
                  'Relay7_Leg_Name', 'Relay8_Leg_Name'], axis=1, inplace=True)

In [32]:
df_filtered['Name']=df_filtered['Name'].astype(str) # convert dict to str so duplicates can be dropped

In [33]:
# Extract year

df_filtered['Meet_start'] = pd.to_datetime(df_filtered['Meet_start'])

df_filtered['DATE'] = df_filtered['Meet_start'].dt.year

df_filtered.drop('Meet_start', axis=1, inplace=True)

In [34]:
df_filtered.columns = ['GENDER', 'DOB', 'AGE', 'TAG_ID', 'TEAM', 'EVENT', 'SEED', 'STAGE', 'HEAT', 'LANE', 'RESULT',
                      'WIND', 'RANK', 'REMARKS', 'ATHLETE_ID', 'DIVISION', 'COMPETITION', 'NAME', 'DATE']

df_filtered['QUALIFICATION']=''
df_filtered['POINTS']=''
df_filtered['UNIQUE_ID']=''
df_filtered['COUNTRY']=''
df_filtered['DICT_RESULTS']=''
#df_filtered['COMPETITION']='84th Singapore Open'
df_filtered['REGION']='Local'
df_filtered['GROUP']=''
df_filtered['CATEGORY_EVENT']=''
df_filtered['SOURCE']='Meet Manager'
df_filtered['TIMESTAMP']=''
df_filtered['FREE_FIELD']=''
df_filtered['FREE_FIELD2']=''
df_filtered['FREE_FIELD3']=''

# Map miscellaneous fields to final formats                            
                            
mask = df_filtered['STAGE'].str.contains(r'F', na=True)
df_filtered.loc[mask, 'STAGE'] = 'Final'

mask = df_filtered['STAGE'].str.contains(r'P', na=True)
df_filtered.loc[mask, 'STAGE'] = 'Preliminaries'
                                    
mask = df_filtered['GENDER'].isin(['F'])
df_filtered.loc[mask, 'GENDER'] = 'Female'

mask = df_filtered['GENDER'].isin(['M'])
df_filtered.loc[mask, 'GENDER'] = 'Male'

# Map general event category 

df_filtered.loc[df_filtered['EVENT'].str.contains(r'Vault', na=True), 'CATEGORY_EVENT'] = 'Jump'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Throw', na=True), 'CATEGORY_EVENT'] = 'Throw'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'100', na=True), 'CATEGORY_EVENT'] = 'Sprint'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Javelin', na=True), 'CATEGORY_EVENT'] = 'Throw'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Shot', na=True), 'CATEGORY_EVENT'] = 'Throw'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'400', na=True), 'CATEGORY_EVENT'] = 'Sprint'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'600', na=True), 'CATEGORY_EVENT'] = 'Mid'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'200', na=True), 'CATEGORY_EVENT'] = 'Sprint'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'50', na=True), 'CATEGORY_EVENT'] = 'Sprint'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'80', na=True), 'CATEGORY_EVENT'] = 'Sprint'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'300', na=True), 'CATEGORY_EVENT'] = 'Sprint'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'3000', na=True), 'CATEGORY_EVENT'] = 'Long'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Mile', na=True), 'CATEGORY_EVENT'] = 'Mid'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'5000', na=True), 'CATEGORY_EVENT'] = 'Long'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'2000', na=True), 'CATEGORY_EVENT'] = 'Mid'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'800', na=True), 'CATEGORY_EVENT'] = 'Mid'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'1500', na=True), 'CATEGORY_EVENT'] = 'Mid'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Discus', na=True), 'CATEGORY_EVENT'] = 'Throw'

# Override values

df_filtered.loc[df_filtered['EVENT'].str.contains(r'Jump', na=True), 'CATEGORY_EVENT'] = 'Jump'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Relay', na=True), 'CATEGORY_EVENT'] = 'Relay'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Steeple', na=True), 'CATEGORY_EVENT'] = 'Steeple'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Walk', na=True), 'CATEGORY_EVENT'] = 'Walk'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Hurdles', na=True), 'CATEGORY_EVENT'] = 'Hurdles'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Pentathlon', na=True), 'CATEGORY_EVENT'] = 'Pentathlon'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Triathlon', na=True), 'CATEGORY_EVENT'] = 'Triathlon'

 
    

df_filtered = df_filtered.reindex(columns= ['RANK', 'TAG_ID', 'NAME', 'TEAM', 'SEED', 'RESULT', 'QUALIFICATION', 'HEAT', 'LANE', 'WIND', 'EVENT', 'DIVISION', 'STAGE', 
                                  'POINTS', 'AGE', 'GENDER', 'UNIQUE_ID', 'COUNTRY', 'DICT_RESULTS', 'DATE', 'COMPETITION', 'REGION', 'DOB','GROUP', 'CATEGORY_EVENT', 
                                      'ATHLETE_ID', 'SOURCE', 'REMARKS', 'TIMESTAMP', 'FREE_FIELD', 'FREE_FIELD2', 'FREE_FIELD3'])

In [35]:
df_filtered.to_csv('Processed -84th Singapore Open Track - Field-18Apr2024-001.mdb_202405041853.csv', sep=',', encoding='utf-8-sig', index=False)

In [141]:
## Latest version with expanded data schema including venue, date, session etc.
####
#  Process Pesta Sukan Data
####

In [350]:
os.chdir('/Users/veesheenyuen/Desktop/DataScience/SAA/MM/mm_files/2023/')

df = pd.read_csv("GenericData-Pesta Sukan Athletics 2023-29Jul2023-001.mdb_202405111624.csv", low_memory=False)

df.shape[1]

176

In [351]:
df = df.astype(str)

In [355]:
# Use boolean masking to update full_eventnam field fo tris
# This is the only additional step for triathlon events

df.loc[df['Event_name'] == 'Triathlon', 'Full_Eventname'] = 'Triathlon'+ ' - ' + df['Event_dist'] +' '+df['MultiSubEvent_name']
df.loc[df['Event_name'] == 'Outdoor Pentathlon', 'Full_Eventname'] = 'Outdoor Pentathlon'+ ' - ' + df['Event_dist'] + ' '+ df['MultiSubEvent_name']

In [357]:
df

,Event_numltr,Rnd_ltr,MultiSubEvent_no,Trk_Field,Ind_rel,Event_gender,Event_dist,Event_code,Event_name,Full_Eventname,...,Div_name.1,Team_region,Reg_abbr,Reg_name,Meet_name,Meet_header1,Meet_header2,Meet_location,Meet_start,Meet_end
0,103,F,3,F,I,M,0.0,M,Triathlon,Triathlon - 0.0 Long Jump,...,,0,,,Pesta Sukan Athletics 2023,nan,Home of Athletics,Home of Athletics,2023-07-29 00:00:00.000,2023-08-06 00:00:00.000
1,103,F,1,T,I,M,60.0,A,Triathlon,Triathlon - 60.0 Dash,...,,0,,,Pesta Sukan Athletics 2023,nan,Home of Athletics,Home of Athletics,2023-07-29 00:00:00.000,2023-08-06 00:00:00.000
2,103,F,2,F,I,M,0.0,Q,Triathlon,Triathlon - 0.0 Javelin Throw,...,,0,,,Pesta Sukan Athletics 2023,nan,Home of Athletics,Home of Athletics,2023-07-29 00:00:00.000,2023-08-06 00:00:00.000
3,103,F,3,F,I,M,0.0,M,Triathlon,Triathlon - 0.0 Long Jump,...,,0,,,Pesta Sukan Athletics 2023,nan,Home of Athletics,Home of Athletics,2023-07-29 00:00:00.000,2023-08-06 00:00:00.000
4,104,F,1,T,I,F,60.0,A,Triathlon,Triathlon - 60.0 Dash,...,,0,,,Pesta Sukan Athletics 2023,nan,Home of Athletics,Home of Athletics,2023-07-29 00:00:00.000,2023-08-06 00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6145,458,F,0,T,I,F,400.0,E,Hurdles,Women 400 Meter Hurdles Open,...,,0,,,Pesta Sukan Athletics 2023,nan,Home of Athletics,Home of Athletics,2023-07-29 00:00:00.000,2023-08-06 00:00:00.000
6146,458,F,0,T,I,F,400.0,E,Hurdles,Women 400 Meter Hurdles Open,...,,0,,,Pesta Sukan Athletics 2023,nan,Home of Athletics,Home of Athletics,2023-07-29 00:00:00.000,2023-08-06 00:00:00.000
6147,458,F,0,T,I,F,400.0,E,Hurdles,Women 400 Meter Hurdles Open,...,,0,,,Pesta Sukan Athletics 2023,nan,Home of Athletics,Home of Athletics,2023-07-29 00:00:00.000,2023-08-06 00:00:00.000
6148,458,F,0,T,I,F,400.0,E,Hurdles,Women 400 Meter Hurdles Open,...,,0,,,Pesta Sukan Athletics 2023,nan,Home of Athletics,Home of Athletics,2023-07-29 00:00:00.000,2023-08-06 00:00:00.000
6149,458,F,0,T,I,F,400.0,E,Hurdles,Women 400 Meter Hurdles Open,...,,0,,,Pesta Sukan Athletics 2023,nan,Home of Athletics,Home of Athletics,2023-07-29 00:00:00.000,2023-08-06 00:00:00.000

In [358]:
df_filtered = df[['Last_name', 'First_name', 'Event_gender', 'Birth_date', 'Ath_age', 'Comp_no', 'Team_name.1','Full_Eventname', 'ActualSeed_timeDisplay','Rnd_ltr',
                 'Res_heat', 'Res_lane', 'Res_markDisplay', 'Res_wind', 'Res_place', 'Res_note', 'Ath_no', 'Div_name', 'Relay_Ltr', 'RelayLeg1_Ath_no', 'RelayLeg1_Last_name', 'RelayLeg1_First_name',
                 'RelayLeg2_Ath_no', 'RelayLeg2_Last_name', 'RelayLeg2_First_name', 'RelayLeg3_Ath_no', 'RelayLeg3_Last_name', 'RelayLeg3_First_name', 'RelayLeg4_Ath_no', 'RelayLeg4_Last_name', 'RelayLeg4_First_name',
                 'RelayLeg5_Ath_no', 'RelayLeg5_Last_name', 'RelayLeg5_First_name', 'RelayLeg6_Ath_no', 'RelayLeg6_Last_name', 'RelayLeg6_First_name', 'RelayLeg7_Ath_no', 'RelayLeg7_Last_name', 'RelayLeg7_First_name',
                 'RelayLeg8_Ath_no', 'RelayLeg8_Last_name', 'RelayLeg8_First_name', 'Meet_name', 'Meet_start']].copy()

In [359]:
df_filtered.drop_duplicates(inplace=True)

In [360]:
df_filtered['Name']= df_filtered['Last_name'] + ', '+ df_filtered['First_name']

df_filtered.drop(['Last_name', 'First_name'], axis=1, inplace=True)

In [361]:
df_filtered['Relay1_Leg_Name']= df_filtered['RelayLeg1_Last_name'] + ', '+ df_filtered['RelayLeg1_First_name']
df_filtered['Relay2_Leg_Name']= df_filtered['RelayLeg2_Last_name'] + ', '+ df_filtered['RelayLeg2_First_name']
df_filtered['Relay3_Leg_Name']= df_filtered['RelayLeg3_Last_name'] + ', '+ df_filtered['RelayLeg3_First_name']
df_filtered['Relay4_Leg_Name']= df_filtered['RelayLeg4_Last_name'] + ', '+ df_filtered['RelayLeg4_First_name']
df_filtered['Relay5_Leg_Name']= df_filtered['RelayLeg5_Last_name'] + ', '+ df_filtered['RelayLeg5_First_name']
df_filtered['Relay6_Leg_Name']= df_filtered['RelayLeg6_Last_name'] + ', '+ df_filtered['RelayLeg6_First_name']
df_filtered['Relay7_Leg_Name']= df_filtered['RelayLeg7_Last_name'] + ', '+ df_filtered['RelayLeg7_First_name']
df_filtered['Relay8_Leg_Name']= df_filtered['RelayLeg8_Last_name'] + ', '+ df_filtered['RelayLeg8_First_name']

df_filtered.drop(['RelayLeg1_Last_name', 'RelayLeg1_First_name', 'RelayLeg2_Last_name', 'RelayLeg2_First_name',
                 'RelayLeg3_Last_name', 'RelayLeg3_First_name', 'RelayLeg4_Last_name', 'RelayLeg4_First_name',
                 'RelayLeg5_Last_name', 'RelayLeg5_First_name', 'RelayLeg6_Last_name', 'RelayLeg6_First_name',
                 'RelayLeg7_Last_name', 'RelayLeg7_First_name', 'RelayLeg8_Last_name', 'RelayLeg8_First_name'], axis=1, inplace=True)

In [362]:
df_filtered.reset_index(inplace = True, drop = True)  # reset index after dropping duplicates

In [363]:
for i in range(len(df_filtered)):
    
    list_no=[]
    list_names=[]
    
    if 'Relay' in df_filtered.loc[i, 'Full_Eventname']:
                
        list_no.append(df_filtered.loc[i, 'RelayLeg1_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg2_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg3_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg4_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg5_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg6_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg7_Ath_no'])
        list_no.append(df_filtered.loc[i, 'RelayLeg8_Ath_no'])
        
        
        list_names.append(df_filtered.loc[i, 'Relay1_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay2_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay3_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay4_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay5_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay6_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay7_Leg_Name'])
        list_names.append(df_filtered.loc[i, 'Relay8_Leg_Name'])
        
        
        list_no = [i for i in list_no if i != 0]
        
        list_names = [i for i in list_names if i != ' ,  ']   
                
        res = {}
        for key in list_no:
            for value in list_names:
                res[key] = value
                list_names.remove(value)
                
                break
        
        df_filtered.at[i, 'Name'] = res  # must use .at for dict

In [364]:
df_filtered.drop(['Relay_Ltr', 'RelayLeg1_Ath_no', 'RelayLeg2_Ath_no', 'RelayLeg3_Ath_no', 'RelayLeg4_Ath_no', 
                  'RelayLeg5_Ath_no', 'RelayLeg6_Ath_no', 'RelayLeg7_Ath_no', 'RelayLeg8_Ath_no', 'Relay1_Leg_Name',
                  'Relay2_Leg_Name', 'Relay3_Leg_Name', 'Relay4_Leg_Name', 'Relay5_Leg_Name', 'Relay6_Leg_Name',
                  'Relay7_Leg_Name', 'Relay8_Leg_Name'], axis=1, inplace=True)

In [365]:
df_filtered['Name']=df_filtered['Name'].astype(str) # convert dict to str so duplicates can be dropped

In [366]:
# Extract year

df_filtered['Meet_start'] = pd.to_datetime(df_filtered['Meet_start'])

df_filtered['YEAR'] = df_filtered['Meet_start'].dt.year

df_filtered.drop('Meet_start', axis=1, inplace=True)

In [367]:
df_filtered.columns = ['GENDER', 'DOB', 'AGE', 'TAG_ID', 'TEAM', 'EVENT', 'SEED', 'STAGE', 'HEAT', 'LANE', 'RESULT',
                      'WIND', 'RANK', 'REMARKS', 'ATHLETE_ID', 'DIVISION', 'COMPETITION', 'NAME', 'YEAR']

df_filtered['QUALIFICATION']=''
df_filtered['POINTS']=''
df_filtered['UNIQUE_ID']=''
df_filtered['COUNTRY']=''
df_filtered['DICT_RESULTS']=''
#df_filtered['COMPETITION']='84th Singapore Open'
df_filtered['REGION']='Local'
df_filtered['GROUP']=''
df_filtered['CATEGORY_EVENT']=''
df_filtered['SOURCE']='Meet Manager'
df_filtered['TIMESTAMP']=''
df_filtered['VENUE']=''     # NEW
df_filtered['DATE']=''      # NEW
df_filtered['SESSION']=''   # NEW

# Map miscellaneous fields to final formats                            
                            
mask = df_filtered['STAGE'].str.contains(r'F', na=True)
df_filtered.loc[mask, 'STAGE'] = 'Final'

mask = df_filtered['STAGE'].str.contains(r'P', na=True)
df_filtered.loc[mask, 'STAGE'] = 'Preliminaries'
                                    
mask = df_filtered['GENDER'].isin(['F'])
df_filtered.loc[mask, 'GENDER'] = 'Female'

mask = df_filtered['GENDER'].isin(['M'])
df_filtered.loc[mask, 'GENDER'] = 'Male'

# Map general event category 

df_filtered.loc[df_filtered['EVENT'].str.contains(r'Vault', na=True, case=False), 'CATEGORY_EVENT'] = 'Jump'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Throw', na=True, case=False), 'CATEGORY_EVENT'] = 'Throw'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'100', na=True, case=False), 'CATEGORY_EVENT'] = 'Sprint'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Javelin', na=True, case=False), 'CATEGORY_EVENT'] = 'Throw'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Shot', na=True, case=False), 'CATEGORY_EVENT'] = 'Throw'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'400', na=True, case=False), 'CATEGORY_EVENT'] = 'Sprint'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'600', na=True, case=False), 'CATEGORY_EVENT'] = 'Mid'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'200', na=True, case=False), 'CATEGORY_EVENT'] = 'Sprint'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'50', na=True, case=False), 'CATEGORY_EVENT'] = 'Sprint'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'80', na=True, case=False), 'CATEGORY_EVENT'] = 'Sprint'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'300', na=True, case=False), 'CATEGORY_EVENT'] = 'Sprint'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'3000', na=True, case=False), 'CATEGORY_EVENT'] = 'Long'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Mile', na=True, case=False), 'CATEGORY_EVENT'] = 'Mid'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'5000', na=True, case=False), 'CATEGORY_EVENT'] = 'Long'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'2000', na=True, case=False), 'CATEGORY_EVENT'] = 'Mid'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'800', na=True, case=False), 'CATEGORY_EVENT'] = 'Mid'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'1500', na=True, case=False), 'CATEGORY_EVENT'] = 'Mid'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Discus', na=True, case=False), 'CATEGORY_EVENT'] = 'Throw'

# Override values

df_filtered.loc[df_filtered['EVENT'].str.contains(r'Jump', na=True, case=False), 'CATEGORY_EVENT'] = 'Jump'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Relay', na=True, case=False), 'CATEGORY_EVENT'] = 'Relay'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Steeple', na=True, case=False), 'CATEGORY_EVENT'] = 'Steeple'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Walk', na=True, case=False), 'CATEGORY_EVENT'] = 'Walk'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Hurdles', na=True, case=False), 'CATEGORY_EVENT'] = 'Hurdles'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Pentathlon', na=True, case=False), 'CATEGORY_EVENT'] = 'Pentathlon'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Triathlon', na=True, case=False), 'CATEGORY_EVENT'] = 'Triathlon'


# Strip extraneous values from DOB

df_filtered['DOB']=df_filtered.DOB.str.rstrip('00:00:00.000') 
    

# Rearrange columns    
    
df_filtered = df_filtered.reindex(columns= ['RANK', 'TAG_ID', 'NAME', 'TEAM', 'SEED', 'RESULT', 'QUALIFICATION', 'HEAT', 'LANE', 'WIND', 'EVENT', 'DIVISION', 'STAGE', 
                                      'POINTS', 'AGE', 'GENDER', 'UNIQUE_ID', 'COUNTRY', 'DICT_RESULTS', 'YEAR', 'COMPETITION', 'REGION', 'DOB','GROUP', 'CATEGORY_EVENT', 
                                      'ATHLETE_ID', 'SOURCE', 'REMARKS', 'TIMESTAMP', 'VENUE', 'DATE', 'SESSION'])

In [368]:
# NEW ADDITIONS

df_filtered.loc[df_filtered['EVENT'].str.contains(r'Petathlon', na=True, case=False), 'SUB_EVENT'] = 'Pentathlon'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Triathlon', na=True, case=False), 'SUB_EVENT'] = 'Triathlon'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Heptathlon', na=True, case=False), 'SUB_EVENT'] = 'Heptathlon'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Mixed', na=True, case=False), 'SUB_EVENT'] = 'Mixed'


df_filtered.loc[df_filtered['EVENT'].str.contains(r'Long Jump', na=True, case=False), 'EVENT'] = 'Long jump'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Triple Jump', na=True, case=False), 'EVENT'] = 'Triple jump'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Javelin Throw', na=True, case=False), 'EVENT'] = 'Javeline throw'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'60.0 Dash', na=True, case=False), 'EVENT'] = '60m'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'80.0 Dash', na=True, case=False), 'EVENT'] = '80m'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'80 Meter', na=True, case=False), 'EVENT'] = '80m'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'100 Meter Dash', na=True, case=False), 'EVENT'] = '100m'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'200 Meter Dash', na=True, case=False), 'EVENT'] = '100m'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'400 Meter Dash', na=True, case=False), 'EVENT'] = '400m'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'800.0 Run', na=True, case=False), 'EVENT'] = '800m'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'100.0 Hurdles', na=True, case=False), 'EVENT'] = '100m hurdles'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'1500 Meter Race Walk', na=True, case=False), 'EVENT'] = '1500m race walk'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'1500 Meter Run', na=True, case=False), 'EVENT'] = '1500m run'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'4x100 Meter Relay', na=True, case=False), 'EVENT'] = '4x100m relay'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'400 Meter Hurdles', na=True, case=False), 'EVENT'] = '400m hurdles'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'4x50 Meter Relay', na=True, case=False), 'EVENT'] = '4x50m relay'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'4x1000 Meter Relay', na=True, case=False), 'EVENT'] = '4x1000m relay'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'Discus Throw', na=True, case=False), 'EVENT'] = 'Discus throw'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'110 Meter Hurdles', na=True, case=False), 'EVENT'] = '110m hurdles'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'100 Meter Hurdles', na=True, case=False), 'EVENT'] = '100m hurdles'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'80.0 Hurdles', na=True, case=False), 'EVENT'] = '80m hurdles'
df_filtered.loc[df_filtered['EVENT'].str.contains(r'800.0 Run', na=True, case=False), 'EVENT'] = '800m'

In [369]:
df_filtered['EVENT']

0                           Long Jump
1               Triathlon - 60.0 Dash
2       Triathlon - 0.0 Javelin Throw
3                           Long Jump
4               Triathlon - 60.0 Dash
                    ...
3341     Women 400 Meter Hurdles Open
3342     Women 400 Meter Hurdles Open
3343     Women 400 Meter Hurdles Open
3344     Women 400 Meter Hurdles Open
3345     Women 400 Meter Hurdles Open
Name: EVENT, Length: 3346, dtype: object

In [370]:
df_filtered['CATEGORY_EVENT']

0       Triathlon
1       Triathlon
2       Triathlon
3       Triathlon
4       Triathlon
          ...
3341      Hurdles
3342      Hurdles
3343      Hurdles
3344      Hurdles
3345      Hurdles
Name: CATEGORY_EVENT, Length: 3346, dtype: object

In [186]:
# NEW ADDITIONS

assert (~(df_filtered.loc[df_filtered['EVENT'].str.contains(r'Triathlon', na=True, case=False), 'CATEGORY_EVENT'] == 'Triathlon')).values.sum()==0
assert (~(df_filtered.loc[df_filtered['EVENT'].str.contains(r'Pentathlon', na=True, case=False), 'CATEGORY_EVENT'] == 'Pentathlon')).values.sum()==0
assert (~(df_filtered.loc[df_filtered['EVENT'].str.contains(r'Pentathlon', na=True, case=False), 'CATEGORY_EVENT'] == 'Pentathlon')).values.sum()==0
assert (~(df_filtered.loc[df_filtered['EVENT'].str.contains(r'^(?!.*Pentathlon).*Hurdles.*$', na=True), 'CATEGORY_EVENT'] == 'Hurdles')).values.sum()==0 # check non combined event hurdles
assert (~(df_filtered.loc[df_filtered['EVENT'].str.contains(r'Walk', na=True, case=False), 'CATEGORY_EVENT'] == 'Walk')).values.sum()==0
assert (~(df_filtered.loc[df_filtered['EVENT'].str.contains(r'Steeple', na=True, case=False), 'CATEGORY_EVENT'] == 'Steeple')).values.sum()==0
assert (~(df_filtered.loc[df_filtered['EVENT'].str.contains(r'Relay', na=True, case=False), 'CATEGORY_EVENT'] == 'Relay')).values.sum()==0
assert (~(df_filtered.loc[df_filtered['EVENT'].str.contains(r'^(?!.*Triathlon|Pentathlon|Heptathlon).*Jump.*$', na=True, case=False), 'CATEGORY_EVENT'] == 'Jump')).values.sum()==0
assert (~(df_filtered.loc[df_filtered['EVENT'].str.contains(r'Discus', na=True, case=False), 'CATEGORY_EVENT'] == 'Throw')).values.sum()==0
assert (~(df_filtered.loc[df_filtered['EVENT'].str.contains(r'Shot', na=True, case=False), 'CATEGORY_EVENT'] == 'Throw')).values.sum()==0
assert (~(df_filtered.loc[df_filtered['EVENT'].str.contains(r'Javelin', na=True, case=False), 'CATEGORY_EVENT'] == 'Throw')).values.sum()==0

AssertionError:

In [195]:
(~(df_filtered.loc[df_filtered['EVENT'].str.contains(r'^(?!.*Pentathlon).*Hurdles.*$', na=True, case=False), 'CATEGORY_EVENT'] == 'Hurdles'))

2804    False
2805    False
2806    False
2807    False
2808    False
2809    False
2810    False
2811    False
2812    False
2813    False
2814    False
2815    False
3320    False
3321    False
3322    False
3323    False
3324    False
3325    False
3326    False
3327    False
3328    False
3329    False
3330    False
3331    False
3332    False
3333    False
3334    False
3335    False
3336    False
3337    False
3338    False
3339    False
3340    False
3341    False
3342    False
3343    False
3344    False
3345    False
Name: CATEGORY_EVENT, dtype: bool

In [194]:
df_filtered.loc[3, 'EVENT']

'Triathlon - 0.0 Long Jump'

In [471]:
df_filtered.to_csv('Processed -Pesta Sukan Athletics 2023-29Jul2023-001.mdb_202405111624.csv', sep=',', encoding='utf-8-sig', index=False)

In [ ]:
# Need to add columns for VENUE, YEAR, W/G_CATEGORY (for NSG)